<div class="flex h-full flex-col gap-6">
  @if (isProcessLoading$ | ngrxPush) {
    <schaeffler-loading-spinner
      class="h-full m-6"
      backgroundColor="rgba(255,255,255, 0.1)"
      [relative]="true"
    ></schaeffler-loading-spinner>
  } @else {
    <gq-dialog-header
      [title]="title"
      (closeDialog)="closeDialog()"
    ></gq-dialog-header>
    <!-- decide which component to show. Every Component has it's own Logic and handles it themselves-->
    @switch (process.getValue()) {
      @case (processEnum.START) {
        <gq-start-process
          [quotationDetail]="modalData?.quotationDetail"
          [calculators]="calculators$ | ngrxPush"
          [rfq4Status]="(quotationDetailRfq4$ | ngrxPush)?.rfq4Status"
          (closeDialog)="closeDialog()"
        >
        </gq-start-process>
      }
      @case (processEnum.REOPEN) {
        <gq-reopen-process
          [quotationDetail]="modalData?.quotationDetail"
          (closeDialog)="closeDialog()"
        >
        </gq-reopen-process>
      }
      @case (processEnum.CANCEL) {
        <gq-cancel-process
          [quotationDetail]="modalData?.quotationDetail"
          (cancelButtonClicked)="closeDialog()"
        ></gq-cancel-process>
      }
      @case (processEnum.SHOW_HISTORY) {
        <gq-process-history
          [modalData]="modalData"
          (cancelButtonClicked)="closeDialog()"
          (changeModal)="setProcess($event)"
        ></gq-process-history>
      }
    }
  }
</div>
