<div
  *ngIf="
    !(isCustomerLoading$ | ngrxPush) && !(quotationLoading$ | ngrxPush);
    else loading
  "
>
  <mat-card class="!pt-0 !shadow-none border-b border-outline">
    <schaeffler-subheader
      *ngIf="customer$ | ngrxPush as customer"
      [breadcrumbs]="breadcrumbs"
      [title]="customer.name"
    >
      <ng-container header>
        <schaeffler-share-button></schaeffler-share-button>
      </ng-container>
    </schaeffler-subheader>
  </mat-card>
  <gq-customer-information
    [customer]="customer$ | ngrxPush"
  ></gq-customer-information>
</div>
<ng-template #loading>
  <schaeffler-loading-spinner></schaeffler-loading-spinner>
</ng-template>
