<mat-drawer-container
  class="container"
  fxFlex
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="20px"
>
  <mat-drawer-content
    fxLayout="column"
    fxFlexFill
    *ngIf="(isCustomerLoading$ | async) === false; else loading"
  >
    <mat-card>
      <gq-case-header
        [customerName]="(customer$ | async).name"
        (toggleOfferDrawer)="drawer.toggle()"
      ></gq-case-header>
    </mat-card>

    <gq-customer-information
      [customer]="customer$ | async"
    ></gq-customer-information>
  </mat-drawer-content>
  <mat-drawer #drawer position="end" (opened)="getOffer()">
    <gq-offer-drawer
      fxLayout="column"
      fxFlexFill
      *ngIf="offer$ | async"
      [quotation]="offer$ | async"
      (toggleOfferDrawer)="drawer.toggle()"
    ></gq-offer-drawer>
  </mat-drawer>
</mat-drawer-container>

<ng-template #loading>
  <gq-loading-spinner [show]="true"></gq-loading-spinner>
</ng-template>
