<ng-container
  *transloco="
    let t;
    scope: 'f-pricing';
    read: 'fPricing.pricingAssistantModal.marketValueDriver'
  "
>
  <mat-card appearance="outlined" class="p-4 mb-3">
    <div class="flex flex-row items-center gap-4">
      <mat-icon
        class="text-on-info-container !overflow-visible !icon-5 !h-5 !w-5"
        >info_outline</mat-icon
      >
      <span class="text-subtitle-2 text-medium-emphasis">
        {{ t('information') }}</span
      >
    </div>
  </mat-card>
  <mat-card appearance="outlined" class="p-4">
    @for (
      item of marketValueDriverItems;
      track item.questionId;
      let i = $index
    ) {
      <gq-market-value-driver-item
        [item]="item"
        [isDisabled]="isDisabled"
        (optionChange)="onOptionChange($event)"
      >
        @if (i < marketValueDriverItems.length - 1) {
          <gq-horizontal-divider></gq-horizontal-divider>
        }
      </gq-market-value-driver-item>
    }
  </mat-card>
</ng-container>
