<div
  *transloco="
    let t;
    read: 'detailView.pricingDetails.materialAlternativeCostDetails'
  "
>
  <ng-container
    *ngFor="
      let materialAlternativeCost of materialAlternativeCosts$ | ngrxPush;
      let i = index;
      trackBy: trackByFn
    "
  >
    <schaeffler-horizontal-separator
      [text]="'Alternative Cost #' + (i + 1)"
      [alwaysCentered]="true"
    >
    </schaeffler-horizontal-separator>
    <div *ngIf="materialAlternativeCost">
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('gpc') }}: </span>
        <span class="text-dark">{{
          materialAlternativeCost.gpc | numberCurrency: currency
        }}</span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('sqv') }}: </span>
        <span class="text-dark"
          >{{ materialAlternativeCost.sqv | numberCurrency: currency }}
        </span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('productionPlant') }}: </span>
        <span class="text-dark">
          {{ materialAlternativeCost | plantDisplay }}</span
        >
      </p>
    </div>
  </ng-container>
</div>
