<div
  class="flex h-[46px] w-full flex-row"
  *transloco="
    let t;
    read: 'materialsSupplierDatabase.mainTable.tooltip.greensteel'
  "
>
  <div
    class="mr-2 flex-1"
    (mouseover)="setHovered(true)"
    (mouseout)="setHovered(false)"
  >
    <span>{{ params?.valueFormatted ?? params?.value }}</span>

    <button
      class="my-auto"
      mat-icon-button
      [ngClass]="{ '!hidden': !hovered }"
      (click)="onEditClick()"
      *ngIf="isEnabled(materialClass$ | ngrxPush)"
    >
      <mat-icon class="text-medium-emphasis !text-[12px]">edit</mat-icon>
    </button>
  </div>

  <div class="flex-1 align-baseline" *ngIf="isValid()">
    <ng-container>
      <mac-indicator
        icon="eco"
        [val]="getRating()"
        of="3"
        class="text-low-emphasis text-[16px]"
        activeClass="text-link"
        cdkOverlayOrigin
        #indicator="cdkOverlayOrigin"
      ></mac-indicator>
      <mac-html-tooltip
        [tooltipOrigin]="indicator"
        [tooltipShowDelay]="500"
        [tooltipHideDelay]="500"
      >
        {{ t(getRating()) }}
        <a
          class="hover:cursor-pointer hover:underline ml-1"
          (click)="openMoreInformation()"
          >{{ t('moreInformation')
          }}<mat-icon [inline]="true" class="ml-0.5 !h-3"
            >open_in_new</mat-icon
          ></a
        ></mac-html-tooltip
      >
    </ng-container>
  </div>
</div>
