<mat-card>
  <div
    class="mat-card-inner"
    fxLayout="row"
    *transloco="let t; read: 'shared.customerDetails'"
  >
    <div fxFlex="90">
      <div gdColumns="repeat(8, 12.5%)" gdRows="repeat(2, 1fr)">
        <div
          *ngFor="
            let customerDetail of customerToArray(customer);
            let index = index;
            trackBy: trackByFn
          "
          gdColumn="{{ index + 1 - (index % 2) }} / {{
            index - (index % 2) + 3
          }}"
          gdRow="{{ (index % 2) + 1 }} / {{ (index % 2) + 1 }}"
          fxLayout="row"
        >
          <div fxFlex="40" class="label">{{ t(customerDetail[0]) }}:</div>
          <div class="customer-detail" fxFlex="60">{{ customerDetail[1] }}</div>
        </div>
      </div>
    </div>
    <button fxFlex="10" mat-flat-button>
      {{ t('details') | uppercase }}
    </button>
  </div>
</mat-card>
