<div *transloco="let t; read: 'detail.detailTab.dimensionAndWeight'">
  <h6 class="mb-4 text-medium-emphasis">{{ t('title') }}</h6>
  <cdba-detail-label-value
    [label]="t('length')"
    [value]="
      (dimensionAndWeight?.length
        | translocoDecimal
        | undefinedAttributeFallback) +
      ' ' +
      (dimensionAndWeight?.length && dimensionAndWeight?.unitOfDimension
        ? dimensionAndWeight?.unitOfDimension
        : '')
    "
  ></cdba-detail-label-value>
  <cdba-detail-label-value
    [label]="t('width')"
    [value]="
      (dimensionAndWeight?.width
        | translocoDecimal
        | undefinedAttributeFallback) +
      ' ' +
      (dimensionAndWeight?.width && dimensionAndWeight?.unitOfDimension
        ? dimensionAndWeight?.unitOfDimension
        : '')
    "
  ></cdba-detail-label-value>
  <cdba-detail-label-value
    [label]="t('height')"
    [value]="
      (dimensionAndWeight?.height
        | translocoDecimal
        | undefinedAttributeFallback) +
      ' ' +
      (dimensionAndWeight?.height && dimensionAndWeight?.unitOfDimension
        ? dimensionAndWeight?.unitOfDimension
        : '')
    "
    [borderBottom]="true"
  ></cdba-detail-label-value>
  <cdba-detail-label-value
    [label]="t('weight')"
    [value]="
      (dimensionAndWeight?.weight
        | translocoDecimal
        | undefinedAttributeFallback) +
      ' ' +
      (dimensionAndWeight?.weight && dimensionAndWeight?.weightUnit
        ? dimensionAndWeight?.weightUnit
        : '')
    "
  ></cdba-detail-label-value>
  <cdba-detail-label-value
    [label]="t('volumeCubic')"
    [value]="
      (dimensionAndWeight?.volumeCubic
        | translocoDecimal
        | undefinedAttributeFallback) +
      ' ' +
      (dimensionAndWeight?.volumeCubic && dimensionAndWeight?.volumeUnit
        ? dimensionAndWeight?.volumeUnit
        : '')
    "
  ></cdba-detail-label-value>
</div>
