<div class="widget-content">
  <div *transloco="let t; read: 'detail.detailTab'">
    <h6>{{ t('dimensionAndWeight.title') }}</h6>
    <div class="widget-group" *ngIf="dimensionAndWeight && !errorMessage">
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('dimensionAndWeight.height') }}:&nbsp;</label
        >
        <div>
          {{ dimensionAndWeight?.height | number: '':'de-DE'
          }}{{ dimensionAndWeight?.unitOfDimension }}
        </div>
      </div>
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('dimensionAndWeight.width') }}:&nbsp;</label
        >
        <div>
          {{ dimensionAndWeight?.width | number: '':'de-DE'
          }}{{ dimensionAndWeight?.unitOfDimension }}
        </div>
      </div>
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('dimensionAndWeight.length') }}:&nbsp;</label
        >
        <div>
          {{ dimensionAndWeight?.length | number: '':'de-DE'
          }}{{ dimensionAndWeight?.unitOfDimension }}
        </div>
      </div>
    </div>
    <div class="widget-group" *ngIf="dimensionAndWeight && !errorMessage">
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('dimensionAndWeight.weight') }}:&nbsp;</label
        >
        <div>
          {{ dimensionAndWeight?.weight | number: '':'de-DE'
          }}{{ dimensionAndWeight?.weightUnit }}
        </div>
      </div>
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('dimensionAndWeight.volumeCubic') }}:&nbsp;</label
        >
        <div>
          {{ dimensionAndWeight?.volumeCubic | number: '':'de-DE' }}&nbsp;{{
            dimensionAndWeight?.volumeUnit
          }}
        </div>
      </div>
    </div>
    <div
      class="error-box"
      *ngIf="errorMessage"
      fxLayout="row"
      fxLayoutAlign="space-around center"
    >
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>
