<div *transloco="let t; read: 'detail.detailTab.dimensionAndWeight'">
  <cdba-details-label-value
    [label]="t('length')"
    [value]="
      (dimensionAndWeightDetails?.length
        | translocoDecimal
        | undefinedAttributeFallback) +
      ' ' +
      (dimensionAndWeightDetails?.length &&
      dimensionAndWeightDetails?.unitOfDimension
        ? dimensionAndWeightDetails?.unitOfDimension
        : '')
    "
  ></cdba-details-label-value>
  <cdba-details-label-value
    [label]="t('width')"
    [value]="
      (dimensionAndWeightDetails?.width
        | translocoDecimal
        | undefinedAttributeFallback) +
      ' ' +
      (dimensionAndWeightDetails?.width &&
      dimensionAndWeightDetails?.unitOfDimension
        ? dimensionAndWeightDetails?.unitOfDimension
        : '')
    "
  ></cdba-details-label-value>
  <cdba-details-label-value
    [label]="t('height')"
    [value]="
      (dimensionAndWeightDetails?.height
        | translocoDecimal
        | undefinedAttributeFallback) +
      ' ' +
      (dimensionAndWeightDetails?.height &&
      dimensionAndWeightDetails?.unitOfDimension
        ? dimensionAndWeightDetails?.unitOfDimension
        : '')
    "
    [borderBottom]="true"
  ></cdba-details-label-value>
  <cdba-details-label-value
    [label]="t('weight')"
    [value]="
      (dimensionAndWeightDetails?.weight
        | translocoDecimal
        | undefinedAttributeFallback) +
      ' ' +
      (dimensionAndWeightDetails?.weight &&
      dimensionAndWeightDetails?.weightUnit
        ? dimensionAndWeightDetails?.weightUnit
        : '')
    "
  ></cdba-details-label-value>
  <cdba-details-label-value
    [label]="t('volumeCubic')"
    [value]="
      (dimensionAndWeightDetails?.volumeCubic
        | translocoDecimal
        | undefinedAttributeFallback) +
      ' ' +
      (dimensionAndWeightDetails?.volumeCubic &&
      dimensionAndWeightDetails?.volumeUnit
        ? dimensionAndWeightDetails?.volumeUnit
        : '')
    "
  ></cdba-details-label-value>
</div>
