@import 'libs/shared/ui/styles/src/lib/colors';

h2 {
  color: $schaeffler-black;
  margin: 0 0 14px 2px;
}

mat-divider {
  height: 100%;
}

.sub-title {
  color: $schaeffler-gray-7;
  font-size: 12px !important;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 16px;
  margin: 0 0 8px 4px;
  text-transform: uppercase;
}

.attrition-elem {
  color: $schaeffler-gray-7;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 28px;

  mat-divider {
    margin: -5px 14px 12px 8px;
  }

  mat-icon {
    font-size: 18px;
    height: 18px;
    margin-right: 6px;
    width: 18px;
  }

  span {
    color: $schaeffler-black;
    margin-left: 8px;
  }
}

.chart-container {
  width: 400px;
}
