<div class="widget-content" *ngIf="dimensionAndWeight$ | async">
  <div *transloco="let t; read: 'detail'">
    <h6>{{ t('dimension-and-weight.title') }}</h6>
    <div class="widget-group">
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('dimension-and-weight.height') }}:&nbsp;</label
        >
        <div>
          {{ (dimensionAndWeight$ | async)?.height | number
          }}{{ (dimensionAndWeight$ | async)?.unitOfDimension }}
        </div>
      </div>
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('dimension-and-weight.width') }}:&nbsp;</label
        >
        <div>
          {{ (dimensionAndWeight$ | async)?.width | number
          }}{{ (dimensionAndWeight$ | async)?.unitOfDimension }}
        </div>
      </div>
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('dimension-and-weight.length') }}:&nbsp;</label
        >
        <div>
          {{ (dimensionAndWeight$ | async)?.length | number
          }}{{ (dimensionAndWeight$ | async)?.unitOfDimension }}
        </div>
      </div>
    </div>
    <div class="widget-group">
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('dimension-and-weight.weight') }}:&nbsp;</label
        >
        <div>
          {{ (dimensionAndWeight$ | async)?.weight | number
          }}{{ (dimensionAndWeight$ | async)?.weightUnit }}
        </div>
      </div>
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('dimension-and-weight.volumeCubic') }}:&nbsp;</label
        >
        <div>
          {{ (dimensionAndWeight$ | async)?.volumeCubic | number }}&nbsp;{{
            (dimensionAndWeight$ | async)?.volumeUnit
          }}
        </div>
      </div>
    </div>
  </div>
</div>
