<div class="h-full flex flex-col">
  <div class="h-full overflow-y-auto">
    <span> {{ data.displayText }}</span>
    <div class="mt-2" *ngIf="data.list">
      <li *ngFor="let item of data.list; trackBy: trackByFn">
        {{ item.id }} | {{ item.value }}
      </li>
    </div>
  </div>
  <div class="flex flex-row mt-11">
    <button
      color="primary"
      class="text-button font-medium !mr-6"
      mat-raised-button
      (click)="closeDialog(true)"
    >
      <mat-icon class="align-middle">update</mat-icon>
      {{ data.confirmButton | uppercase }}
    </button>
    <button
      color="primary"
      class="text-button font-medium"
      mat-stroked-button
      (click)="closeDialog(false)"
    >
      {{ data.cancelButton | uppercase }}
    </button>
  </div>
</div>
