<ng-container *transloco="let t; read: 'materialsSupplierDatabase'">
  <div class="flex h-full flex-col items-start justify-start">
    <ng-container>
      <mat-nav-list
        *ngrxLet="navigation$ as navigation"
        class="!pt-0 transition-all duration-1000 overflow-auto mx-1"
        [ngClass]="{
          'max-w-0 opacity-0': minimized,
          'max-w-xl opacity-100': !minimized
        }"
      >
        <ng-container
          *ngTemplateOutlet="
            (hasEditorRole$ | ngrxPush) ? editorView : consumerView;
            context: { navigation: navigation }
          "
        ></ng-container>
      </mat-nav-list>
      <!-- EDITOR VIEW -->
      <ng-template #editorView let-navigation="navigation">
        <mat-accordion multi *ngrxLet="navigation$ as navigation" class="mb-1">
          @for (materialClass of rawMaterialClasses; track materialClass) {
            <mat-expansion-panel
              class="!m-0 !rounded-none border-none"
              [expanded]="
                materialClass === activeNavigationLevel?.materialClass
              "
              hideToggle
              #expansionPanel
            >
              <mat-expansion-panel-header
                class="flex !h-12 flex-row justify-between !pl-4 !pr-2"
              >
                <mat-panel-title class="text-body-2">
                  {{ t('materialClassValuesNavigation.' + materialClass) }}
                </mat-panel-title>
                <mat-icon
                  class="transition-all duration-200"
                  [ngClass]="{
                    '-rotate-90': expansionPanel.expanded,
                    'rotate-0': !expansionPanel.expanded
                  }"
                  >chevron_left</mat-icon
                >
              </mat-expansion-panel-header>
              @for (
                navigationLevel of navigationLevels;
                track navigationLevel
              ) {
                <ng-container
                  *ngTemplateOutlet="
                    navigationLevelItem;
                    context: {
                      materialClass: materialClass,
                      navigationLevel: navigationLevel,
                      navigation: navigation
                    }
                  "
                >
                </ng-container>
              }
              <!-- TODO: add to navigationLevels array once available for all material classes -->
              @if (materialClass === 'st') {
                <ng-container
                  *ngTemplateOutlet="
                    navigationLevelItem;
                    context: {
                      materialClass: materialClass,
                      navigationLevel: 'productCategoryRules',
                      navigation: navigation
                    }
                  "
                >
                </ng-container>
              }
            </mat-expansion-panel>
          }
        </mat-accordion>
        @for (materialClass of otherMaterialClasses; track materialClass) {
          <ng-container
            *ngTemplateOutlet="
              plainItem;
              context: { materialClass: materialClass, navigation: navigation }
            "
          ></ng-container>
        }
      </ng-template>
      <!-- CONSUMER VIEW -->
      <ng-template #consumerView let-navigation="navigation">
        @for (
          materialClass of materialClasses$ | ngrxPush;
          track materialClass
        ) {
          <ng-container
            *ngTemplateOutlet="
              plainItem;
              context: {
                materialClass: materialClass,
                navigation: navigation
              }
            "
          ></ng-container>
        }
      </ng-template>
      <!-- NAVIGATION LEVEL ITEM -->
      <ng-template
        #navigationLevelItem
        let-materialClass="materialClass"
        let-navigationLevel="navigationLevel"
        let-navigation="navigation"
      >
        <button
          (click)="setActive(materialClass, navigationLevel)"
          mat-list-item
          class="hover:bg-hover-overlay text-start !cursor-pointer mt-1"
          [disableRipple]="true"
          [ngClass]="{
            '!bg-selected-overlay':
              navigation.materialClass === materialClass &&
              navigation.navigationLevel === navigationLevel
          }"
        >
          <span class="!text-body-2">
            {{ t(navigationLevel) }}
          </span>
        </button>
      </ng-template>
      <!-- PLAIN ITEM -->
      <ng-template
        #plainItem
        let-materialClass="materialClass"
        let-navigation="navigation"
      >
        <button
          (click)="setActive(materialClass)"
          mat-list-item
          class="hover:bg-hover-overlay text-start !cursor-pointer mt-2"
          [disableRipple]="true"
          [ngClass]="{
            '!bg-selected-overlay': navigation.materialClass === materialClass
          }"
        >
          <span class="!text-body-2">
            {{ t('materialClassValuesNavigation.' + materialClass) }}
          </span>
        </button>
      </ng-template>
    </ng-container>
    <div class="flex-auto"></div>
    <button
      mat-mini-fab
      class="!bg-secondary-variant !m-4 place-self-end !rounded-xl !shadow-none"
      (click)="toggleSideBar()"
    >
      <mat-icon
        class="text-medium-emphasis"
        [ngClass]="{ 'rotate-180': minimized }"
        >chevron_left</mat-icon
      >
    </button>
  </div>
</ng-container>
