<div
  class="flex h-full items-center overflow-hidden"
  *transloco="let t; read: 'shared.sapStatusLabels'"
>
  <div
    class="flex items-center overflow-hidden rounded-full px-3 py-1 text-caption uppercase"
    [ngClass]="{
      'text-info': syncedStatus === synced,
      'bg-[#E3F7FD]': syncedStatus === synced,
      'text-low-emphasis': syncedStatus === notSynced,
      'bg-[#FAFAFA]': syncedStatus === notSynced,
      'text-orange': syncedStatus === partiallySynced,
      'bg-[#FFF8E2]': syncedStatus === partiallySynced,
      'text-error': syncedStatus === syncFailed,
      'bg-[#FCE3E6]': syncedStatus === syncFailed
    }"
  >
    <span
      class="mr-1 block min-h-[6px] min-w-[6px] rounded-full"
      [ngClass]="{
        'bg-nordic-blue': syncedStatus === synced,
        'bg-low-emphasis': syncedStatus === notSynced,
        'bg-orange': syncedStatus === partiallySynced,
        'bg-error': syncedStatus === syncFailed
      }"
    ></span>
    <span
      class="truncate text-[8px] font-bold"
      [matTooltip]="errorCode ? t('errorCodes.' + errorCode) : undefined"
    >
      <ng-container *ngIf="syncedStatus === synced">
        {{ t('synced') }}
      </ng-container>
      <ng-container *ngIf="syncedStatus === notSynced">
        {{ t('notSynced') }}
      </ng-container>
      <ng-container *ngIf="syncedStatus === partiallySynced">
        {{ t('partiallySynced') }}
      </ng-container>
      <ng-container *ngIf="syncedStatus === syncFailed">
        {{ t('syncFailed') }}
      </ng-container>
    </span>
  </div>
</div>
