@use '@angular/material' as mat;
@use 'sass:map';

@import 'libs/shared/ui/styles/src/lib/scss/schaeffler-colors';

// LOGO
$logoUrl: '/assets/images/partner-version-logos/schmeckthal-gruppe.png';

// COLORS
$schmeckthal-gruppe-primary: 86, 86, 86;
$schmeckthal-gruppe-primary-variant: 255, 234, 239;

$schmeckthal-gruppe-palette-primary-color: #dd0b2e;
$schmeckthal-gruppe-palette-secondary-color: #565656;
$schmeckthal-gruppe-palette-tertiary-color: #b2b2b2;

$partner-version-schmeckthal-palette-m3: (
  secondary: (
    0: #000000,
    // 5: #2d0003,
    10: #410006,
    // 15: #54000a,
    20: #68000f,
    25: #7d0014,
    30: #93001a,
    35: #a9001f,
    40: $schmeckthal-gruppe-palette-primary-color,
    50: #e91b35,
    60: #ff5358,
    70: #ff8986,
    80: #ffb3b0,
    90: #ffdad8,
    95: #ffedeb,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
  primary: (
    0: #000000,
    // 5: #101111,
    10: #1b1c1c,
    // 15: #252626,
    20: #303030,
    25: #3b3b3b,
    30: #464747,
    35: #525252,
    40: $schmeckthal-gruppe-palette-secondary-color,
    50: #777777,
    60: #919090,
    70: #acabab,
    80: #c8c6c6,
    90: #e4e2e2,
    95: #f2f0f0,
    98: #fbf9f8,
    99: #fefcfb,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    // 5: #101111,
    10: #1a1c1c,
    // 15: #252626,
    20: #2f3131,
    25: #3a3c3c,
    30: #464747,
    35: #515253,
    40: $schmeckthal-gruppe-palette-tertiary-color,
    50: #767777,
    60: #909191,
    70: #ababab,
    80: #c7c6c6,
    90: #e3e2e2,
    95: #f1f0f0,
    98: #faf9f9,
    99: #fdfcfc,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    4: #131313,
    6: #212121,
    10: #343434,
    12: #363636,
    17: #3f3f3f,
    20: #444444,
    22: #474747,
    24: #4b4b4b,
    25: $placeholder,
    30: #555555,
    35: $placeholder,
    40: #646464,
    50: #828282,
    60: #9d9d9d,
    70: #b8b8b8,
    80: #d0d0d0,
    87: #e1e1e1,
    90: #e8e8e8,
    92: #ededed,
    94: #f1f1f1,
    95: #f4f4f4,
    96: #f6f6f6,
    98: #fbfbfb,
    99: #fdfdfd,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #343434,
    20: #444444,
    25: $placeholder,
    30: #555555,
    35: $placeholder,
    40: #646464,
    50: #828282,
    60: #9d9d9d,
    70: #b8b8b8,
    80: #d0d0d0,
    90: #e8e8e8,
    95: #f4f4f4,
    98: $placeholder,
    99: #fdfdfd,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #500800,
    20: #7b0f01,
    25: $placeholder,
    30: #a30f0c,
    35: $placeholder,
    40: #cb0b15,
    50: #d3412e,
    60: #dd6b51,
    70: #e79278,
    80: #efb8a4,
    90: #f8dcd1,
    95: #fceee8,
    98: $placeholder,
    99: #fffcfb,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($partner-version-schmeckthal-palette-m3, secondary),
  neutral: map.get($partner-version-schmeckthal-palette-m3, neutral),
  neutral-variant:
    map.get($partner-version-schmeckthal-palette-m3, neutral-variant),
  error: map.get($partner-version-schmeckthal-palette-m3, error),
);
$_primary: map.merge(
  map.get($partner-version-schmeckthal-palette-m3, primary),
  $_rest
);
$_tertiary: map.merge(
  map.get($partner-version-schmeckthal-palette-m3, tertiary),
  $_rest
);

$partner-version-schmeckthal-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    typography: (
      plain-family: 'Noto Sans',
    ),
  )
);

.partner-version-schmeckthal-gruppe {
  @include mat.all-component-colors($partner-version-schmeckthal-theme);
}

:root.partner-version-schmeckthal-gruppe {
  --primary: #{$schmeckthal-gruppe-primary};
  --primary-color: #{$schmeckthal-gruppe-primary};
  --primary-variant: #{$schmeckthal-gruppe-primary-variant};
}
