<h6
  mat-dialog-title
  *transloco="let t; read: 'attritionAnalytics.addAnalysis.featuresDialog'"
>
  {{ t('title') }}
</h6>
<mat-dialog-content class="h-[500px]">
  <div
    class="flex flex-row gap-4"
    *transloco="let t; read: 'attritionAnalytics'"
  >
    <div class="drag-list-wrapper">
      <div class="bg-secondary sticky top-0 w-[100%] self-start pb-2">
        <span>{{ t('addAnalysis.featuresDialog.availableFeatures') }}</span>
      </div>

      <div
        cdkDropList
        #unselectedList="cdkDropList"
        [cdkDropListData]="unselected"
        [cdkDropListConnectedTo]="[selectedList]"
        class="drag-list !mt-0"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of unselected; track item) {
          <div
            class="drag-list-item"
            cdkDrag
            (cdkDragReleased)="itemReleased()"
          >
            {{ t('features.' + item.feature.feature) }}
          </div>
        }
      </div>
    </div>

    <div class="drag-list-wrapper sticky top-0 self-start">
      <div class="bg-secondary w-[100%] pb-2">
        <span>{{ t('addAnalysis.featuresDialog.selectedFeatures') }}</span>
      </div>

      <div
        cdkDropList
        #selectedList="cdkDropList"
        [cdkDropListData]="selected"
        [cdkDropListConnectedTo]="[unselectedList]"
        [cdkDropListEnterPredicate]="maxSelectedFeaturesPredicate"
        class="drag-list !mt-0 !min-h-[230px]"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of selected; track item) {
          <div class="drag-list-item" cdkDrag>
            {{ t('features.' + item.feature.feature) }}
          </div>
        }
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions
  align="end"
  *transloco="let t; read: 'attritionAnalytics.addAnalysis.featuresDialog'"
>
  <p class="text-caption text-low-emphasis mr-auto">
    {{
      t('amountSelected', {
        selected: selected.length,
        total: SELECTED_FEATURES_MAX
      })
    }}
  </p>
  <button
    mat-button
    mat-dialog-close
    color="primary"
    [mat-dialog-close]="selected"
  >
    {{ t('confirm') }}
  </button>
</mat-dialog-actions>
