<h2
  mat-dialog-title
  *transloco="let t; read: 'attritionAnalytics.addAnalysis.featuresDialog'"
>
  {{ t('title') }}
</h2>
<mat-dialog-content class="h-[500px]">
  <div
    class="flex flex-row gap-4"
    *transloco="let t; read: 'attritionAnalytics'"
  >
    <div class="drag-list-wrapper">
      <h6>{{ t('addAnalysis.featuresDialog.availableFeatures') }}</h6>

      <div
        cdkDropList
        #unselectedList="cdkDropList"
        [cdkDropListData]="unselected"
        [cdkDropListConnectedTo]="[selectedList]"
        class="drag-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="drag-list-item"
          *ngFor="let item of unselected"
          cdkDrag
          (cdkDragReleased)="itemReleased()"
        >
          {{ t('features.' + item.feature.feature) }}
        </div>
      </div>
    </div>

    <div class="drag-list-wrapper">
      <h6>{{ t('addAnalysis.featuresDialog.selectedFeatures') }}</h6>

      <div
        cdkDropList
        #selectedList="cdkDropList"
        [cdkDropListData]="selected"
        [cdkDropListConnectedTo]="[unselectedList]"
        [cdkDropListEnterPredicate]="maxSelectedFeaturesPredicate"
        class="drag-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="drag-list-item" *ngFor="let item of selected" cdkDrag>
          {{ t('features.' + item.feature.feature) }}
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions
  align="end"
  *transloco="let t; read: 'attritionAnalytics.addAnalysis.featuresDialog'"
>
  <p class="mr-auto text-caption text-low-emphasis">
    {{
      t('amountSelected', {
        selected: selected.length,
        total: SELECTED_FEATURES_MAX
      })
    }}
  </p>
  <button
    mat-button
    mat-dialog-close
    color="primary"
    [mat-dialog-close]="selected"
  >
    {{ t('confirm') }}
  </button>
</mat-dialog-actions>
