<div
  class="overflow-hidden rounded border border-border bg-surface-legacy py-4 cursor-pointer transition-shadow hover:shadow-lg"
  (click)="onCardClick()"
>
  <div class="px-2 pb-4 text-center text-overline">
    <div class="truncate" [innerHTML]="homepageCard.mainTitle"></div>
    <div
      class="truncate"
      [innerHTML]="homepageCard?.subTitle ? homepageCard.subTitle : '&nbsp;'"
    ></div>
  </div>
  <ng-container
    *ngTemplateOutlet="{ imageCard, calculatorLogo }[homepageCard?.templateId]"
  ></ng-container>
  <ng-template #imageCard>
    <div
      class="mx-4 aspect-video rounded-b bg-cover"
      [ngStyle]="{ 'background-image': 'url(' + getCardImageUrl() + ')' }"
    ></div>
  </ng-template>
  <ng-template #calculatorLogo>
    <div class="mx-4 aspect-video rounded-b bg-cover">
      <ga-calculator-logo></ga-calculator-logo>
    </div>
  </ng-template>
</div>
