<schaeffler-header
  class="full-height"
  [platformTitle]="platformTitle"
  toggleEnabled="true"
>
  <schaeffler-user-menu
    user-menu
    [user]="username"
    (clicked)="userMenuClicked($event)"
    [entries]="userMenuEntries"
  ></schaeffler-user-menu>
  <schaeffler-sidebar>
    <ng-container sidebar>
      <schaeffler-sidebar-elements
        [elements]="sidebarElements"
      ></schaeffler-sidebar-elements>
    </ng-container>

    <ng-container content>
      <schaeffler-settings-sidebar
        openSidebarBtn="true"
        closeSidebarBtn="true"
        [open]="settingsSidebarOpen"
        (openedChange)="onChangeSettingsSidebar($event)"
      >
        <ng-container container>
          <div schaefflerScrollToTop>
            <schaeffler-banner></schaeffler-banner>
            <router-outlet></router-outlet>
            <schaeffler-scroll-to-top></schaeffler-scroll-to-top>
            <schaeffler-footer></schaeffler-footer></div></ng-container
        ><ng-container sidebar>
          <span>I am inside the Settings Sidebar</span>
        </ng-container>
      </schaeffler-settings-sidebar>
    </ng-container>
  </schaeffler-sidebar>
</schaeffler-header>
