<div fxLayout="column">
  <schaeffler-header
    [platformTitle]="platformTitle"
    [sidebarMode]="sidebarMode | async"
    [user]="username"
    toggleEnabled="true"
    (toggle)="toggleSidebar()"
    (logout)="logoutUser()"
  ></schaeffler-header>
  <schaeffler-sidebar
    fxFlex
    [elements]="sidebarElements"
    [mode]="sidebarMode | async"
    (toggle)="toggleSidebar()"
  >
    <router-outlet></router-outlet>
    <schaeffler-scroll-to-top></schaeffler-scroll-to-top>
    <schaeffler-footer></schaeffler-footer>
  </schaeffler-sidebar>
</div>
