<div fxLayout="column" class="full-height">
  <schaeffler-header
    [platformTitle]="platformTitle"
    [sidebarMode]="sidebarMode | async"
    toggleEnabled="true"
    (toggle)="toggleSidebar()"
  >
    <schaeffler-user-menu
      [user]="username"
      (clicked)="userMenuClicked($event)"
      [entries]="userMenuEntries"
    ></schaeffler-user-menu>
  </schaeffler-header>
  <schaeffler-sidebar
    fxFlex
    [elements]="sidebarElements"
    [mode]="sidebarMode | async"
    (toggle)="toggleSidebar()"
  >
    <schaeffler-settings-sidebar
      toggleEnabled="true"
      [open]="settingsSidebarOpen"
      (openedChange)="onChangeSettingsSidebar($event)"
    >
      <ng-container container>
        <schaeffler-banner></schaeffler-banner>
        <router-outlet></router-outlet>
        <schaeffler-scroll-to-top></schaeffler-scroll-to-top>
        <schaeffler-footer></schaeffler-footer> </ng-container
      ><ng-container sidebar>
        <span>I am inside the Settings Sidebar</span>
      </ng-container>
    </schaeffler-settings-sidebar>
  </schaeffler-sidebar>
</div>
