<div class="py-4 px-5" *transloco="let t">
  <schaeffler-language-select [reloadOnLanguageChange]="true" />
  <div>
    <schaeffler-locale-select
      class="mt-4 block"
      [availableLocales]="availableLocales"
      [defaultLocale]="defaultLocale"
      [reloadOnLocaleChange]="true"
    />
  </div>
  <div class="w-full mt-8">
    <d360-filter-dropdown
      [control]="currencyControl"
      [label]="t('drawer.user-currency-label')"
      [form]="currencyForm"
      [options]="availableCurrencies"
      (selectionChange)="onCurrencySelectionChange($any($event))"
    />
  </div>
</div>
