<div *transloco="let t; read: 'detailView.pricingDetails.materialDetails'">
  <div class="flex flex-row w-full" *ngIf="materialDetails">
    <div class="w-1/2">
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('materialDescription') }}: </span>
        <span class="text-dark">
          {{ materialDetails.materialDescription }}
        </span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('15digit') }}: </span>
        <span class="text-dark">
          {{ materialDetails.materialNumber15 | materialTransform }}
        </span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('materialStatus') }}: </span>
        <span class="text-dark">
          {{ materialDetails.materialStatus }}
        </span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('productLine') }}: </span>
        <span class="text-dark">
          {{ materialDetails.productLine }} |
          {{ materialDetails.productLineId }}
        </span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('productHierarchy') }}: </span>
        <span class="text-dark">
          {{ materialDetails.productHierarchy }} |
          {{ materialDetails.productHierarchyId }}
        </span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('gpsdGroup') }}: </span>
        <span *ngIf="materialDetails.gpsdGroup"
          >{{ materialDetails.gpsdGroup }} |</span
        >
        <span class="text-dark">
          {{ materialDetails.gpsdGroupId }}
        </span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('series') }}: </span>
        <span class="text-dark">
          {{ materialDetails.series || '-' }}
        </span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('followingType') }}: </span>
        <span class="text-dark">
          {{ materialDetails.followingType || '-' }}
        </span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('customerMaterial') }}: </span>
        <span class="text-dark">
          {{ customerMaterial || '-' }}
        </span>
      </p>
    </div>
    <div class="w-1/2">
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('dimension') }}: </span>
        <span class="text-dark">
          {{ materialDetails.dimensions || '-' }}
        </span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('innerDiameter') }}: </span>
        <span class="text-dark">
          {{ materialDetails.innerDiameter }}
        </span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('outerDiameter') }}: </span>
        <span class="text-dark">
          {{ materialDetails.outerDiameter }}
        </span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('width') }}: </span>
        <span class="text-dark">
          {{ materialDetails.width }}
        </span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('grossWeight') }}: </span>
        <span class="text-dark">
          {{ materialDetails.grossWeight }} [{{ materialDetails.weightUnit }}]
        </span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('baseUoM') }}: </span>
        <span class="text-dark">
          {{ materialDetails.baseUoM }}
        </span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('materialType') }}: </span
        ><span class="text-dark">
          {{ materialDetails.materialType }}
        </span>
      </p>
      <p class="m-2 text-caption">
        <span class="text-light">{{ t('ean11') }}: </span>
        <span class="text-dark">
          {{ materialDetails.ean11 || '-' }}
        </span>
      </p>
    </div>
  </div>
</div>
