<div
  class="hidden h-full items-center text-center md:flex"
  *transloco="let t; read: 'shared.customStatusBar.totalRowCount'"
>
  <div *ngIf="totalRowCount" class="flex flex-col">
    <span class="text-left text-low-emphasis"> {{ t('total') }}:</span>
    <span class="text-left text-high-emphasis"> {{ totalRowCount }}</span>
  </div>
  <div class="ml-4 flex flex-col">
    <span class="text-left text-low-emphasis"> {{ t('selected') }}:</span>
    <span class="text-left text-high-emphasis"> {{ selectedRowCount }}</span>
  </div>
</div>
