<div
  class="md:flex hidden items-center text-center h-full"
  *transloco="let t; read: 'shared.customStatusBar.totalRowCount'"
>
  <div *ngIf="totalRowCount" class="flex flex-col">
    <span class="text-low-emphasis text-left"> {{ t('total') }}:&nbsp;</span>
    <span class="text-high-emphasis text-left"> {{ totalRowCount }}</span>
  </div>
  <div class="ml-6 flex flex-col">
    <span class="text-low-emphasis text-left"> {{ t('selected') }}:&nbsp;</span>
    <span class="text-high-emphasis text-left"> {{ selectedRowCount }}</span>
  </div>
</div>
