<div
  class="flex h-full flex-col"
  *transloco="let t; read: 'shared.customStatusBar.quotationDetailsStatus'"
>
  <gq-dialog-header [title]="t('modalTitle')" (closeDialog)="closeDialog()">
  </gq-dialog-header>
  @if (quotationCurrency$ | ngrxPush; as currency) {
    <div class="flex h-full flex-col">
      <!-- Kpi overview -->
      <div
        class="flex flex-col"
        *transloco="let t; read: 'shared.customStatusBar.totalRowCount'"
      >
        <div class="mt-8 flex flex-row">
          <gq-label-text
            class="w-1/3"
            [modalVersion]="true"
            *ngrxLet="quotationDetailsSummaryKpi$ as summaryKpi"
          >
            <span label>{{ t('total') }}</span>
            <span text>{{ summaryKpi?.amountOfQuotationDetails }} </span>
          </gq-label-text>
          <gq-label-text
            class="w-1/3"
            [modalVersion]="true"
            *ngrxLet="selectedQuotationDetailsSummaryKpi$ as selectedKpi"
          >
            <span label>{{ t('selected') }}</span>
            <span text>{{ selectedKpi?.amountOfQuotationDetails }}</span>
          </gq-label-text>
          <gq-label-text class="w-1/3" [modalVersion]="true">
            <span label>{{ t('filtered') }}</span>
            <span text>{{ dialogData.filteredAmount }}</span>
          </gq-label-text>
        </div>
        <gq-horizontal-divider></gq-horizontal-divider>
      </div>
      <div class="flex flex-row">
        <!-- Total quotation kpis-->
        <div
          class="flex w-1/2 flex-col"
          *ngrxLet="quotationDetailsSummaryKpi$ as summaryKpi"
        >
          <div>
            <gq-label-text [modalVersion]="true">
              <span label>{{ t('totalNetValue') }}</span>
              <span text>{{
                summaryKpi?.totalNetValue | numberCurrency: currency
              }}</span>
            </gq-label-text>
          </div>
          @if (showGPM$ | ngrxPush) {
            <div class="mt-4">
              <gq-label-text [modalVersion]="true">
                <span label>{{ t('totalAverageGPM') }}</span>
                <span text>{{
                  summaryKpi?.totalWeightedAverageGpm | percentage: false
                }}</span>
              </gq-label-text>
            </div>
          }
          @if (showGPI$ | ngrxPush) {
            <div class="mt-4">
              <gq-label-text [modalVersion]="true">
                <span label>{{ t('totalAverageGPI') }}</span>
                <span text>{{
                  summaryKpi?.totalWeightedAverageGpi | percentage: false
                }}</span>
              </gq-label-text>
            </div>
          }
          <div class="mt-4">
            <gq-label-text [modalVersion]="true">
              <span label>{{ t('totalPriceDiff') }}</span>
              <span text>{{
                summaryKpi?.totalWeightedAveragePriceDiff
                  | percentage: false : true
              }}</span>
            </gq-label-text>
          </div>
        </div>
        <!-- Selected details kpis-->
        <div
          class="flex w-1/2 flex-col"
          *ngrxLet="selectedQuotationDetailsSummaryKpi$ as selectedSummaryKpi"
        >
          <div>
            <gq-label-text [modalVersion]="true">
              <span label>{{ t('selectedNetValue') }}</span>
              <span text>{{
                selectedSummaryKpi?.totalNetValue | numberCurrency: currency
              }}</span>
            </gq-label-text>
          </div>
          @if (showGPM$ | ngrxPush) {
            <div class="mt-4">
              <gq-label-text [modalVersion]="true">
                <span label>{{ t('selectedAverageGPM') }}</span>
                <span text>{{
                  selectedSummaryKpi?.totalWeightedAverageGpm
                    | percentage: false
                }}</span>
              </gq-label-text>
            </div>
          }
          @if (showGPI$ | ngrxPush) {
            <div class="mt-4">
              <gq-label-text [modalVersion]="true">
                <span label>{{ t('selectedAverageGPI') }}</span>
                <span text>{{
                  selectedSummaryKpi?.totalWeightedAverageGpi
                    | percentage: false
                }}</span>
              </gq-label-text>
            </div>
          }
          <div class="mt-4">
            <gq-label-text [modalVersion]="true">
              <span label>{{ t('selectedPriceDiff') }}</span>
              <span text>{{
                selectedSummaryKpi?.totalWeightedAveragePriceDiff
                  | percentage: false
              }}</span>
            </gq-label-text>
          </div>
        </div>
      </div>
    </div>
  }
</div>
