<mac-base-control-panel
  *ngrxLet="resultCount$ as resultCount"
  [data$]="{
    totalRows: resultCount,
    subTotalRows: displayedRowCount(),
  }"
  (reload)="reload()"
>
  <ng-container *transloco="let t; read: 'materialsSupplierDatabase'">
    @if (!(hasMinimizedDialog$ | ngrxPush)) {
      <button
        mat-flat-button
        [disabled]="!isEditable"
        (click)="openDialog(false)"
      >
        <mat-icon class="material-icons-outlined">add</mat-icon>
        <span>{{ t('addItem') }}</span>
      </button>
      @if (isEditable && selectedNodes() >= 2) {
        <button
          mat-flat-button
          class="!bg-nordic-blue"
          (click)="openDialogMultiEdit()"
        >
          <mat-icon class="material-icons-outlined">edit</mat-icon>
          <span class="text-white">{{
            t('multiEdit', { count: selectedNodes() })
          }}</span>
        </button>
      }
    } @else {
      <button
        mat-flat-button
        class="!bg-nordic-blue"
        [disabled]="!isEditable"
        (click)="resumeDialog()"
      >
        <mat-icon class="text-white">play_arrow</mat-icon>
        <span class="text-white">{{ t('resume') }}</span>
      </button>
    }
    <button mat-button (click)="export()">
      <mat-icon class="material-icons-outlined">download</mat-icon>
      <span>{{ t('export') }}</span>
    </button>
  </ng-container>
</mac-base-control-panel>
