<mat-form-field [appearance]="'fill'" class="w-full">
  <mat-label>{{ label }}</mat-label>
  <mat-select
    #matSelect="matSelect"
    disableOptionCentering="true"
    hideSingleSelectionIndicator="true"
    [formControl]="selectControl"
    (selectionChange)="selectionChange($event)"
  >
    <mat-option
      *ngFor="let option of options; trackBy: trackByFn"
      [value]="option.id"
    >
      <span
        [style.marginLeft.px]="
          option.level ? LEVEL_MARGIN_PX * option.level : ''
        "
      >
        {{ option.value }}
      </span>
    </mat-option>
  </mat-select>
  <mat-hint align="start">{{ hint }} </mat-hint>
</mat-form-field>
