<ng-container
  *transloco="
    let t;
    scope: 'f-pricing';
    read: 'fPricing.pricingAssistantModal.marketValueDriver'
  "
>
  <div class="flex flex-col">
    <span class="text-title-small text-on-surface wei">{{
      t('questions.' + item.questionId + '.title')
    }}</span>
    <span class="text-title-small text-on-surface-variant mb-3">{{
      t('questions.' + item.questionId + '.subtitle')
    }}</span>
    <mat-radio-group class="-ml-3 flex flex-row gap-3" [disabled]="isDisabled">
      @for (option of item.options; track i; let i = $index) {
        <mat-radio-button
          [checked]="option.selected"
          [value]="option.optionId"
          class="text-title-small"
          disableRipple
          labelPosition="after"
          (change)="onOptionChange(option)"
        >
          <div class="flex flex-row items-center gap-3">
            <span
              class="-ml-2"
              [ngClass]="
                selectedOptionId === i + 1 && i !== item.options?.length - 1
                  ? 'text-primary'
                  : 'text-on-surface-variant'
              "
              >{{
                t('questions.' + item.questionId + '.option' + option.optionId)
              }}
            </span>
            @if (i === item.options?.length - 1) {
              <mat-icon
                class="text-on-surface-variant cursor-pointer !overflow-visible !h-4 !w-4 !text-[16px]"
                [matTooltip]="t('unknownTooltip')"
                >info_outline</mat-icon
              >
            }
          </div>
        </mat-radio-button>
      }
    </mat-radio-group>
    <ng-content></ng-content>
  </div>
</ng-container>
