:host ::ng-deep {
  height: 100%;
  width: 100%;

  // coloring
  .top-level-row {
    background-color: rgba(0, 0, 0, 0.12);
  }

  @for $i from 1 to 15 {
    .row-level-#{$i} {
      background-clip: content-box;
      padding-left: $i * 12px;
    }
  }

  .row-highest-cost-share {
    --tw-bg-opacity: 1;
    background-color: rgb(0 120 50 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));

    .ag-icon {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
    }
  }

  .row-high-cost-share {
    --tw-bg-opacity: 1;
    background-color: rgb(18 155 73 / var(--tw-bg-opacity));
  }

  .row-medium-cost-share {
    --tw-bg-opacity: 1;
    background-color: rgb(73 182 107 / var(--tw-bg-opacity));
  }

  .row-low-cost-share {
    --tw-bg-opacity: 1;
    background-color: rgb(152 211 167 / var(--tw-bg-opacity));
  }

  .row-lowest-cost-share {
    --tw-bg-opacity: 1;
    background-color: rgb(229 244 233 / var(--tw-bg-opacity));
  }

  .row-negative-cost-share {
    --tw-bg-opacity: 1;
    background-color: rgb(239 204 210 / var(--tw-bg-opacity));
  }
}

ag-grid-angular {
  height: 100%;
}
