<ag-grid-angular
  class="ag-theme-material tree-view-table"
  [rowData]="rowData"
  [defaultColDef]="defaultColDef"
  [columnDefs]="columnDefs"
  [sideBar]="sideBar"
  [autoGroupColumnDef]="autoGroupColumnDef"
  [treeData]="true"
  [animateRows]="true"
  [groupDefaultExpanded]="groupDefaultExpanded"
  [getDataPath]="getDataPath"
  [getRowClass]="getRowClass.bind(this)"
  [rowClassRules]="rowClassRules"
  [components]="components"
  [statusBar]="statusBar"
  [loadingOverlayComponent]="loadingOverlayComponent"
  [suppressNoRowsOverlay]="isLoading"
  [noRowsOverlayComponent]="noRowsOverlayComponent"
  [noRowsOverlayComponentParams]="noRowsOverlayComponentParams"
  [excelStyles]="excelStyles"
  [rowHeight]="30"
  [cellSelection]="true"
  [rowSelection]="rowSelection"
  [suppressCellFocus]="true"
  [suppressCsvExport]="true"
  (firstDataRendered)="onFirstDataRendered($event)"
  (gridReady)="onGridReady($event)"
  (rowClicked)="onRowClicked($event)"
  (columnMoved)="onColumnMoved($event)"
  (columnPinned)="onColumnPinned($event)"
>
</ag-grid-angular>
