<mac-base-control-panel [data$]="sapMaterialsRows$" (reload)="reload()">
  <ng-container *transloco="let t; read: 'materialsSupplierDatabase'">
    <button
      mat-flat-button
      [disabled]="!hasUploaderRole"
      (click)="openUploadDialog()"
    >
      <mat-icon class="material-icons-outlined">add</mat-icon>
      <span>{{ t('uploadItem') }}</span>
    </button>
    <button
      class="!pointer-events-auto"
      *ngrxLet="sapMaterialsRows$ as sapMaterialsRows"
      mat-button
      (click)="exportExcelSapMaterials()"
      [matTooltip]="t('mainTable.excelExport.matNrTooltip')"
      [disabled]="
        !hasUploaderRole ||
        sapMaterialsRows?.subTotalRows > LIMIT_EXPORT_ROW_COUNT
      "
    >
      <mat-icon class="material-icons-outlined">download</mat-icon>
      <span>{{ t('export') }}</span>
    </button>
  </ng-container>
</mac-base-control-panel>
