<ng-container *transloco="let t; read: 'materialsSupplierDatabase'">
  <div
    class="flex flex-col items-center justify-start gap-4 p-4 pl-0 md:flex-row"
    *ngrxLet="navigation$ as navigation"
  >
    <button
      mat-raised-button
      [disabled]="!hasUploaderRole"
      color="primary"
      (click)="openUploadDialog()"
    >
      <mat-icon class="material-icons-outlined">add</mat-icon>
      <span>{{ t('uploadItem') }}</span>
    </button>
    <button
      class="!pointer-events-auto"
      *ngrxLet="sapMaterialsRows$ as sapMaterialsRows"
      mat-button
      color="primary"
      (click)="exportExcelSapMaterials()"
      [matTooltip]="t('mainTable.excelExport.matNrTooltip')"
      [disabled]="
        !hasUploaderRole ||
        sapMaterialsRows?.subTotalRows > LIMIT_EXPORT_ROW_COUNT
      "
    >
      <mat-icon class="material-icons-outlined">download</mat-icon>
      <span>{{ t('export') }}</span>
    </button>
    <button
      mat-button
      color="primary"
      [disabled]="resetFormDisabled"
      (click)="resetForm()"
    >
      <mat-icon class="material-icons-outlined">sync</mat-icon>
      <span>{{ t('resetTable') }}</span>
    </button>
    <div
      class="flex flex-grow flex-row items-center justify-start gap-4"
      *ngrxLet="sapMaterialsRows$ as sapMaterialsRows"
    >
      <div class="flex flex-col">
        <div class="text-caption text-low-emphasis">
          {{
            t('allClass', {
              class: t(navigation.navigationLevel)
            })
          }}
        </div>
        <div class="text-caption text-high-emphasis">
          {{ sapMaterialsRows?.totalRows || 0 }}
        </div>
      </div>
      <div class="flex flex-col">
        <div class="text-caption text-low-emphasis">
          {{ t('subtotal') }}
        </div>
        <div class="text-caption text-high-emphasis">
          {{ sapMaterialsRows?.subTotalRows || 0 }}
        </div>
      </div>
    </div>
    <button mat-button color="primary" (click)="reload()">
      <mat-icon class="material-icons-outlined">refresh</mat-icon>
      <span>{{ t('reload') }}</span>
    </button>
  </div>
</ng-container>
