<gq-filter-pricing-card
  *transloco="let t; read: 'detailView.filterPricing.manualPrice'"
  [title]="t('title')"
  [isDisabled]="true"
  [isSelected]="quotationDetail?.priceSource === PriceSource.MANUAL"
  [isLoading]="isLoading"
>
  <div class="flex w-full flex-col flex-wrap sm:flex-row" content>
    <div class="min-w-[8rem] max-w-[25%] grow pt-4">
      <div class="text-body-2 text-medium-emphasis mb-1">
        <span>{{ t('label') }}:</span>
      </div>
      <div>
        <div class="flex-1">
          <span class="font-bold">{{ price | numberCurrency: currency }}</span>
          <span *ngIf="!price" class="font-bold"> {{ currency }}</span>
          <ng-container
            *hideIfQuotationHasStatus="[
              quotationStatus.DELETED,
              quotationStatus.ARCHIVED
            ]"
          >
            <mat-icon
              *ngIf="userHasManualPriceRole"
              class="!text-body-1 text-medium-emphasis ml-1 cursor-pointer align-bottom !leading-6"
              (click)="openEditing(ColumnFields.PRICE)"
              >mode_edit</mat-icon
            >
          </ng-container>
        </div>
      </div>
    </div>
    <div class="min-w-[8rem] pt-4" *ngIf="userHasGPCRole">
      <div class="text-body-2 text-medium-emphasis mb-1">{{ t('gpi') }}:</div>
      <div>
        <span class="font-bold">{{ gpi | percentage }}</span>
        <ng-container
          *hideIfQuotationHasStatus="[
            quotationStatus.DELETED,
            quotationStatus.ARCHIVED
          ]"
        >
          <mat-icon
            *ngIf="userHasManualPriceRole"
            class="!text-body-1 text-medium-emphasis ml-1 cursor-pointer align-bottom !leading-6"
            (click)="openEditing(ColumnFields.GPI)"
            >mode_edit</mat-icon
          >
        </ng-container>
      </div>
    </div>
    <div class="min-w-[8rem] pt-4" *ngIf="userHasSQVRole">
      <div class="text-body-2 text-medium-emphasis mb-1">{{ t('gpm') }}:</div>
      <div>
        <span class="font-bold">{{ gpm | percentage }}</span>
        <ng-container
          *hideIfQuotationHasStatus="[
            quotationStatus.DELETED,
            quotationStatus.ARCHIVED
          ]"
        >
          <mat-icon
            *ngIf="userHasManualPriceRole"
            class="!text-body-1 text-medium-emphasis ml-1 cursor-pointer align-bottom !leading-6"
            (click)="openEditing(ColumnFields.GPM)"
            >mode_edit</mat-icon
          >
        </ng-container>
      </div>
    </div>
    <div class="min-w-[8rem] pt-4">
      <div class="text-body-2 text-medium-emphasis mb-1">
        {{ t('quantity') }}:
      </div>
      <gq-quantity-display
        [quotationDetail]="quotationDetail"
      ></gq-quantity-display>
    </div>
    <div class="min-w-[8rem] pt-4">
      <div class="text-body-2 text-medium-emphasis mb-1">
        {{ t('priceUnit') }}:
      </div>
      <div>
        <span class="font-bold">{{ priceUnit | number }}</span>
      </div>
    </div>
  </div>
</gq-filter-pricing-card>
