@import 'libs/shared/ui/styles/src/lib/scss/colors';
@import 'libs/shared/ui/styles/src/lib/scss/fonts';

mat-form-field {
  width: 70%;
}
::ng-deep .small-input .mat-form-field-flex > .mat-form-field-infix {
  border: 0 !important;
  margin-top: 5px;
  padding: 5px !important;
}
::ng-deep
  .small-input
  .mat-form-field-appearance-outline
  .mat-form-field-subscript-wrapper {
  padding: 0 !important;
}
