<gq-filter-pricing-card
  *transloco="let t; read: 'detailView.filterPricing.manualPrice'"
  [title]="title$ | ngrxPush"
  [isDisabled]="
    !userHasManualPriceRole ||
    !manualPriceFormControl?.value ||
    manualPriceFormControl?.value ===
      quotationDetail.recommendedPrice?.toString()
  "
  [isSelected]="
    manualPriceFormControl?.value === quotationDetail.price?.toString()
  "
  (selectManualPrice)="selectPrice()"
  [isLoading]="isLoading"
>
  <div class="w-full mt-[10px] flex" content>
    <div class="flex-grow max-w-[25%]">
      <div class="mb-1 text-body-1">
        <span>{{ t('label') }}</span
        ><span *ngIf="editMode"> ({{ currency }})</span>
        <span>:</span>
      </div>
      <div>
        <div class="flex-1" *ngIf="!editMode; else editing">
          <span class="font-bold">{{ price | numberCurrency: currency }}</span>
          <span *ngIf="!price" class="font-bold"> {{ currency }}</span>
          <mat-icon
            *ngIf="userHasManualPriceRole"
            class="ml-1 !text-body-1 cursor-pointer"
            (click)="openEditing()"
            >mode_edit</mat-icon
          >
        </div>
        <ng-template #editing>
          <div class="flex-1" class="small-input">
            <mat-form-field content appearance="outline">
              <input
                [formControl]="manualPriceFormControl"
                (keydown)="onKeyPress($event, manualPrice)"
                (paste)="onPaste($event)"
                class="text-overline"
                matInput
                type="text"
                #manualPrice
              />
              <mat-hint>
                {{ t('hint') }}
              </mat-hint>
            </mat-form-field>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="flex-1" *ngIf="userHasGPCRole">
      <div class="mb-1 text-body-1">{{ t('gpi') }}:</div>
      <div>
        <span class="font-bold">{{ gpi || '-' }} %</span>
        <mat-icon
          class="ml-1 !text-body-1 cursor-pointer"
          (click)="openMarginEditing(true)"
          >mode_edit</mat-icon
        >
      </div>
    </div>
    <div class="flex-1" *ngIf="userHasSQVRole">
      <div class="mb-1 text-body-1">{{ t('gpm') }}:</div>
      <div>
        <span class="font-bold">{{ gpm || '-' }} %</span>
        <mat-icon
          class="ml-1 !text-body-1 cursor-pointer"
          (click)="openMarginEditing(false)"
          >mode_edit</mat-icon
        >
      </div>
    </div>
    <div class="flex-1">
      <div class="mb-1 text-body-1">{{ t('quantity') }}:</div>
      <gq-quantity-display
        [quantity]="quotationDetail.orderQuantity"
      ></gq-quantity-display>
    </div>
    <div class="flex-1">
      <div class="mb-1 text-body-1">{{ t('priceUnit') }}:</div>
      <div>
        <div>
          <span class="font-bold">{{
            quotationDetail.material.priceUnit | number
          }}</span>
        </div>
      </div>
    </div>
  </div>
</gq-filter-pricing-card>
