<gq-filter-pricing-card
  *transloco="let t; read: 'detailView.filterPricing.manualPrice'"
  [title]="t('title')"
  [isDisabled]="true"
  [isSelected]="quotationDetail?.priceSource === PriceSource.MANUAL"
  [isLoading]="isLoading"
>
  <div content>
    <div class="flex w-full flex-col flex-wrap sm:flex-row">
      <div class="min-w-[8rem] max-w-[25%] grow pt-2">
        <div class="text-body-2 text-medium-emphasis mb-1">
          <span data-cy="manual-price-label">{{ t('label') }}:</span>
        </div>
        <div>
          <div class="flex-1">
            <span class="font-bold" data-cy="manual-price-value">{{
              price | numberCurrency: currency
            }}</span>
            @if (!price) {
              <span class="font-bold"> {{ currency }}</span>
            }
            <ng-container *hideIfQuotationNotActiveOrPending>
              @if (userHasManualPriceRole) {
                <mat-icon
                  class="!text-body-1 text-medium-emphasis ml-1 cursor-pointer align-bottom !leading-6"
                  (click)="openEditing(ColumnFields.PRICE)"
                  >mode_edit</mat-icon
                >
              }
            </ng-container>
          </div>
        </div>
      </div>
      @if (userHasGPCRole) {
        <div class="min-w-[8rem] pt-2">
          <div
            class="text-body-2 text-medium-emphasis mb-1"
            data-cy="gpi-label"
          >
            {{ t('gpi') }}:
          </div>
          <div>
            <span class="font-bold" data-cy="gpi-value">{{
              gpi | percentage: false
            }}</span>
            <ng-container *hideIfQuotationNotActiveOrPending>
              @if (userHasManualPriceRole) {
                <mat-icon
                  class="!text-body-1 text-medium-emphasis ml-1 cursor-pointer align-bottom !leading-6"
                  (click)="openEditing(ColumnFields.GPI)"
                  >mode_edit</mat-icon
                >
              }
            </ng-container>
          </div>
        </div>
      }
      @if (userHasSQVRole) {
        <div class="min-w-[8rem] pt-2">
          <div
            class="text-body-2 text-medium-emphasis mb-1"
            data-cy="gpm-label"
          >
            {{ t('gpm') }}:
          </div>
          <div>
            <span class="font-bold" data-cy="gpm-value">{{
              gpm | percentage: false
            }}</span>
            <ng-container *hideIfQuotationNotActiveOrPending>
              @if (userHasManualPriceRole) {
                <mat-icon
                  class="!text-body-1 text-medium-emphasis ml-1 cursor-pointer align-bottom !leading-6"
                  (click)="openEditing(ColumnFields.GPM)"
                  >mode_edit</mat-icon
                >
              }
            </ng-container>
          </div>
        </div>
      }
      @if (quotationDetail.rfqData) {
        <div class="min-w-[8rem] pt-2">
          <div
            class="text-body-2 text-medium-emphasis mb-1"
            data-cy="rfq-gpm-label"
          >
            {{ t('gpmRfq') }}:
          </div>
          <div>
            <span class="font-bold" data-cy="rfq-gpm-value">{{
              gpmRfq | percentage: false
            }}</span>
          </div>
        </div>
      }
      <div class="min-w-[8rem] pt-2">
        <div
          class="text-body-2 text-medium-emphasis mb-1"
          data-cy="quantity-label"
        >
          {{ t('quantity') }}:
        </div>
        <gq-quantity-display
          [quotationDetail]="quotationDetail"
        ></gq-quantity-display>
      </div>
      <div class="min-w-[8rem] pt-2">
        <div
          class="text-body-2 text-medium-emphasis mb-1"
          data-cy="price-unit-label"
        >
          {{ t('priceUnit') }}:
        </div>
        <div>
          <span class="font-bold" data-cy="price-unit-value">{{
            quotationDetail.leadingPriceUnit | number
          }}</span>
        </div>
      </div>
    </div>
    <gq-sqv-cost-reference *featureToggle="'displaySqvChecks'">
    </gq-sqv-cost-reference>
  </div>
</gq-filter-pricing-card>
