<div fxLayout="row" *ngIf="quotation">
  <span>{{ quotation.gqId | gqQuotation }} </span>
  <span *ngIf="quotation.sapId" class="ml-[16px] opacity-30">{{
    quotation.sapId | sapQuotation
  }}</span>
  <span
    class="m-l-5"
    fxLayout="row"
    *transloco="let t; read: 'processCaseView.header'"
  >
    <gq-info-icon>
      <div fxLayout="column">
        <span
          >{{ t('gqCreatedByUser') }}:
          {{ quotation.gqCreatedByUser.name }}</span
        >
        <span
          >{{ t('gqCreated') }}:
          {{ quotation.gqCreated | date: 'dd.MM.yyyy HH:mm' }}</span
        >
        <span
          >{{ t('gqLastUpdatedByUser') }}:
          {{ quotation.gqLastUpdatedByUser.name }}</span
        >
        <span
          >{{ t('gqLastUpdated') }}:
          {{ quotation.gqLastUpdated | date: 'dd.MM.yyyy HH:mm' }}</span
        >
        <span *ngIf="quotation.sapCreatedByUser"
          >{{ t('sapCreatedByUser') }} :
          {{ quotation.sapCreatedByUser.name }}</span
        >
        <span *ngIf="quotation.sapCreated"
          >{{ t('sapCreated') }} :
          {{ quotation.sapCreated | date: 'dd.MM.yyyy HH:mm' }}</span
        >
        <span *ngIf="quotation.sapLastUpdated"
          >{{ t('sapLastUpdated') }} :
          {{ quotation.sapLastUpdated | date: 'dd.MM.yyyy HH:mm' }}</span
        >
      </div>
    </gq-info-icon>
  </span>
</div>
