@import 'libs/shared/ui/styles/src/lib/colors';

.additionalInfo {
  margin-left: 16px;
  opacity: 0.38;
}

.info-icon {
  color: $schaeffler-green-1;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}
