<span *transloco="let t; read: 'processCaseView'">
  <div *ngIf="!editCaseNameMode; else editIcon">
    <mat-icon
      class="ml-4 cursor-pointer text-medium-emphasis"
      (click)="toggleCaseNameEditing(true)"
    >
      mode_edit
    </mat-icon>
    <gq-info-icon
      class="ml-4"
      *transloco="let t; read: 'processCaseView.header'"
      [text]="(gqHeader$ | ngrxPush) + ((sapHeader$ | ngrxPush) || '')"
    >
    </gq-info-icon>
  </div>
  <ng-template #editIcon>
    <div class="case-name-wrapper flex flex-row">
      <mat-form-field class="case-name w-[300px]" appearance="outline">
        <input
          [formControl]="caseNameFormControl"
          [placeholder]="t('header.caseNamePlaceholder')"
          matInput
          class="h-9 !text-caption !text-medium-emphasis"
          maxlength="20"
          type="text"
        />
      </mat-form-field>
      <div class="ml-2 flex flex-row">
        <button
          class="text-error"
          mat-icon-button
          (click)="toggleCaseNameEditing(false)"
        >
          <mat-icon> close </mat-icon>
        </button>
        <button
          color="primary"
          mat-icon-button
          [disabled]="!saveCaseNameEnabled"
          (click)="saveCaseName()"
        >
          <mat-icon> done </mat-icon>
        </button>
      </div>
    </div>
  </ng-template>
</span>
