.case-name-wrapper {
  ::ng-deep .case-name .mat-form-field-wrapper {
    margin: 0;
    padding-bottom: 0;
  }

  ::ng-deep .case-name .mat-form-field-flex > .mat-form-field-infix {
    border: 0 !important;
    height: 36px;
    padding: 0 !important;
  }

  ::ng-deep .mat-form-field-outline {
    top: 0 !important;
  }
  ::ng-deep .mat-form-field-flex {
    padding: 0 16px 0 16px !important;
  }
}
