<div class="flex h-full w-full flex-col bg-surface">
  <div class="fixed z-10 w-full">
    <schaeffler-subheader [subheaderTitle]="title" [breadcrumbs]="breadcrumbs">
      <ng-container subheaderInlineContent>
        <div class="hidden flex-row gap-4 md:flex">
          <div class="my-auto flex flex-row rounded-md">
            <div
              class="-my-2 flex h-14 flex-row gap-4 rounded-md border border-[#4398AF] bg-[#ECF5F7] p-3"
            >
              <mat-icon class="material-icons-outlined text-[#4398AF]"
                >info_outline</mat-icon
              >
              <div class="max-w-sm text-caption">
                Presented CO2 values are for internal use only - data must not
                be used for communication with customers
              </div>
            </div>
          </div>
          <button mat-raised-button (click)="shareButtonFn()" class="!my-auto">
            Share
          </button>
        </div>
      </ng-container>
    </schaeffler-subheader>
  </div>
  <div class="mt-[105px] w-full flex-1 overflow-y-auto">
    <div class="h-full">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
