<div *transloco="let t; read: 'detail.detailTab.pricing'">
  <cdba-details-label-value
    [label]="t('averagePrice')"
    [value]="
      (priceDetails?.averagePrice
        | translocoDecimal: { minimumFractionDigits: 3 }
        | undefinedAttributeFallback) +
      ' ' +
      (priceDetails?.averagePrice && priceDetails?.currency
        ? t('pricePerUnit', { currency: priceDetails?.currency })
        : '')
    "
    [borderBottom]="true"
  ></cdba-details-label-value>
  <cdba-details-label-value
    [label]="t('sqvSapLatestMonth')"
    [value]="
      (priceDetails?.sqvSapLatestMonth
        | translocoDecimal: { minimumFractionDigits: 3 }
        | undefinedAttributeFallback) +
      ' ' +
      (priceDetails?.sqvSapLatestMonth && priceDetails?.currency
        ? t('pricePerUnit', { currency: priceDetails?.currency })
        : '')
    "
  ></cdba-details-label-value>
  <cdba-details-label-value
    [label]="t('sqvDate')"
    [value]="priceDetails?.sqvDate | translocoDate"
    [borderBottom]="true"
  ></cdba-details-label-value>

  <cdba-details-label-value
    [label]="t('gpcLatestYear')"
    [value]="
      (priceDetails?.gpcLatestYear
        | translocoDecimal: { minimumFractionDigits: 3 }
        | undefinedAttributeFallback) +
      ' ' +
      (priceDetails?.gpcLatestYear && priceDetails?.currency
        ? t('pricePerUnit', { currency: priceDetails?.currency })
        : '')
    "
  ></cdba-details-label-value>
  <cdba-details-label-value
    [label]="t('gpcDate')"
    [value]="priceDetails?.gpcDate | translocoDate"
    [borderBottom]="true"
  ></cdba-details-label-value>
  <cdba-details-label-value
    [label]="t('puUm')"
    [value]="priceDetails?.puUm"
  ></cdba-details-label-value>
</div>
