<div *transloco="let t; read: 'detail.detailTab.pricing'">
  <h6 class="mb-4 text-medium-emphasis">{{ t('title') }}</h6>
  <cdba-detail-label-value
    [label]="t('averagePrice')"
    [value]="
      (salesPrice?.averagePrice
        | translocoDecimal: { minimumFractionDigits: 3 }
        | undefinedAttributeFallback) +
      ' ' +
      (salesPrice?.averagePrice && salesPrice?.currency
        ? t('pricePerUnit', { currency: salesPrice?.currency })
        : '')
    "
  ></cdba-detail-label-value>
  <cdba-detail-label-value
    [label]="t('pcmSqv')"
    [value]="
      (salesPrice?.pcmSqv
        | translocoDecimal: { minimumFractionDigits: 3 }
        | undefinedAttributeFallback) +
      ' ' +
      (salesPrice?.pcmSqv && salesPrice?.currency
        ? t('pricePerUnit', { currency: salesPrice?.currency })
        : '')
    "
  ></cdba-detail-label-value>
  <cdba-detail-label-value
    [label]="t('toolingCost')"
    [value]="
      (salesPrice?.toolingCost
        | translocoDecimal: { maximumFractionDigits: 0 }
        | undefinedAttributeFallback) +
      ' ' +
      (salesPrice?.currency ? ' ' + salesPrice?.currency : '')
    "
  ></cdba-detail-label-value>
  <cdba-detail-label-value
    [label]="t('pcmCalculationDate')"
    [value]="
      salesPrice?.pcmCalculationDate
        | translocoDate
        | undefinedAttributeFallback
    "
    [borderBottom]="true"
  ></cdba-detail-label-value>
  <cdba-detail-label-value
    [label]="t('sqvSapLatestMonth')"
    [value]="
      (salesPrice?.sqvSapLatestMonth
        | translocoDecimal: { minimumFractionDigits: 3 }
        | undefinedAttributeFallback) +
      ' ' +
      (salesPrice?.sqvSapLatestMonth && salesPrice?.currency
        ? t('pricePerUnit', { currency: salesPrice?.currency })
        : '')
    "
  ></cdba-detail-label-value>
  <cdba-detail-label-value
    [label]="t('sqvDate')"
    [value]="salesPrice?.sqvDate | translocoDate | undefinedAttributeFallback"
    [borderBottom]="true"
  ></cdba-detail-label-value>

  <cdba-detail-label-value
    [label]="t('gpcLatestYear')"
    [value]="
      (salesPrice?.gpcLatestYear
        | translocoDecimal: { minimumFractionDigits: 3 }
        | undefinedAttributeFallback) +
      ' ' +
      (salesPrice?.gpcLatestYear && salesPrice?.currency
        ? t('pricePerUnit', { currency: salesPrice?.currency })
        : '')
    "
  ></cdba-detail-label-value>
  <cdba-detail-label-value
    [label]="t('gpcDate')"
    [value]="salesPrice?.gpcDate | translocoDate | undefinedAttributeFallback"
    [borderBottom]="true"
  ></cdba-detail-label-value>
  <cdba-detail-label-value
    [label]="t('puUm')"
    [value]="salesPrice?.puUm | undefinedAttributeFallback"
  ></cdba-detail-label-value>
</div>
