<div
  class="flex flex-col gap-4 w-full h-full max-h-full lg:grid lg:grid-cols-6"
>
  <div
    *transloco="let t; read: 'maintenanceAssessment'"
    class="w-full md:h-full min-h-screen md:min-h-full md:col-span-4"
  >
    <goldwind-assessment-linechart
      #maintenanceAssessmentChart
      [TREE_DATA]="this.TREE_DATA"
      [ASSESSMENT_CONTROLS]="this.checkBoxes"
      [displayForm]="this.displayForm"
      translateKey="maintenanceAssessment"
      [graphData$]="graphData$"
      [interval$]="this.interval$"
      [displayNodes$]="this.displayNodes$"
      (interval)="this.setInterval($event)"
      (displayChange)="this.dispatchDisplay($event)"
      (zoomChange)="this.handleZoom($event)"
      [description]="t('description')"
    ></goldwind-assessment-linechart>
  </div>
  <div class="md:col-span-2 md:h-full min-h-screen md:min-h-full">
    <goldwind-gcm-heatmap-card></goldwind-gcm-heatmap-card>
  </div>
</div>
