<div *transloco="let t" class="flex items-baseline gap-2">
  <mat-form-field
    *ngrxLet="preferredGrease$ as preferredGrease"
    appearance="outline"
    class="grow"
  >
    <mat-label>{{
      t('shared.label.defaultSelect', {
        label: t('parameters.productPreselection.grease.label')
      })
    }}</mat-label>
    <mat-select
      [value]="preferredGrease?.selectedGrease"
      [compareWith]="compareOptions"
      [disabled]="preferredGrease?.loading"
      (selectionChange)="onPreferredGreaseSelectionChange($event.value)"
    >
      <mat-option *ngIf="defaultOption" [value]="defaultOption">
        {{ t(defaultOption.text) }}
      </mat-option>
      <ng-container *ngrxLet="allGreases$ as allGreases">
        <mat-optgroup
          *ngFor="let optionGroup of allGreases"
          [label]="optionGroup.name"
        >
          <mat-option
            *ngFor="let option of removeEmptyOptions(optionGroup.entries)"
            [value]="option"
          >
            {{ option.text }}
          </mat-option>
        </mat-optgroup>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-icon
    color="primary"
    class="cursor-help"
    #tooltip="matTooltip"
    [matTooltip]="t('parameters.productPreselection.grease.tooltip')"
    (click)="tooltip.toggle()"
  >
    info_outline
  </mat-icon>
</div>
