<div *transloco="let t" class="flex flex-col gap-4">
  <div class="flex items-baseline gap-2">
    <mat-form-field
      appearance="outline"
      class="grow"
      [hintLabel]="preselectionDisabledHint()"
    >
      <mat-label>{{
        t('shared.label.defaultSelect', {
          label: t('parameters.productPreselection.grease.label'),
        })
      }}</mat-label>
      <mat-select
        [value]="preferredGrease()?.selectedGrease"
        [compareWith]="compareOptions"
        [disabled]="preselectionDisabledHint()"
        (selectionChange)="onPreferredGreaseSelectionChange($event.value)"
        (opened)="onSelectOpened()"
        (closed)="onSelectClosed()"
      >
        <mat-form-field class="w-full" (click)="$event.stopPropagation()">
          <input
            #searchInput
            matInput
            type="text"
            [value]="searchTerm()"
            (input)="onSearchInput($event)"
            (keydown)="onKey($event)"
            [placeholder]="t('parameters.selectGrease')"
            autocomplete="off"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        @if (defaultOption) {
          <mat-option [value]="defaultOption">
            {{ t(defaultOption.text) }}
          </mat-option>
        }
        @for (optionGroup of filteredGreases(); track optionGroup) {
          <mat-optgroup [label]="optionGroup.name">
            @for (
              option of removeEmptyOptions(optionGroup.entries);
              track option
            ) {
              <mat-option [value]="option">
                {{ option.text }}
              </mat-option>
            }
          </mat-optgroup>
        }
      </mat-select>
    </mat-form-field>
    <mat-icon
      class="cursor-help text-primary"
      #tooltip="matTooltip"
      [matTooltip]="t('parameters.productPreselection.grease.tooltip')"
      (click)="tooltip.toggle()"
    >
      info_outline
    </mat-icon>
  </div>
</div>
