<div
  class="flex h-full w-full flex-col md:flex-row"
  *transloco="let t; read: 'materialsSupplierDatabase'"
>
  <div
    class="flex flex-col items-start justify-start border-r border-border p-4"
  >
    <ng-container>
      <mat-form-field
        appearance="outline"
        class="w-56 opacity-100 transition-all duration-1000"
        [ngClass]="{
          'w-0 opacity-0': minimizeSideBar,
          'w-56 opacity-100': !minimizeSideBar
        }"
      >
        <mat-label>{{ t('materialClass') }}</mat-label>
        <mat-select
          [formControl]="materialClassSelectionControl"
          [compareWith]="compareStringOptions"
        >
          <mat-option
            *ngFor="let option of materialClassOptions$ | ngrxPush"
            [value]="option"
          >
            {{ option.title | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="transition-all duration-1000"
        [ngClass]="{
          'w-0 opacity-0': minimizeSideBar,
          'w-56 opacity-100': !minimizeSideBar
        }"
      >
        <mat-label>{{ t('productCategory') }}</mat-label>
        <mat-select
          [formControl]="productCategorySelectionControl"
          [compareWith]="compareStringOptions"
          multiple
        >
          <mat-select-trigger *ngIf="allCategoriesSelectedControl.value">{{
            t('allSelected')
          }}</mat-select-trigger>
          <div class="flex h-12 flex-row place-items-center px-4">
            <mat-checkbox
              class="w-full"
              [formControl]="allCategoriesSelectedControl"
              color="primary"
              #selectAllCheckbox
              >{{ t('selectAll') }}</mat-checkbox
            >
          </div>
          <mat-option
            *ngFor="let option of productCategoryOptions$ | ngrxPush"
            [value]="option"
            #categoryOption
          >
            {{ option.title | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="flex-auto"></div>
      <button
        mat-mini-fab
        class="place-self-end !rounded-xl !bg-secondary-variant !shadow-none"
        (click)="toggleSideBar()"
      >
        <mat-icon
          class="text-medium-emphasis"
          [ngClass]="{ 'rotate-180': minimizeSideBar }"
          >chevron_left</mat-icon
        >
      </button>
    </ng-container>
  </div>
  <div class="flex w-full flex-1 flex-col md:p-4 md:pb-0 md:pr-0">
    <ng-container>
      <mac-quick-filter></mac-quick-filter>

      <div class="flex w-full flex-1" *ngIf="result$ | ngrxPush">
        <div class="h-full w-full">
          <ag-grid-angular
            class="ag-theme-material h-full border border-border"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [sideBar]="sidebar"
            [enableCellTextSelection]="true"
            [rowData]="result$ | ngrxPush"
            [tooltipShowDelay]="agGridTooltipDelay"
            (gridReady)="onGridReady($event)"
            (filterChanged)="onFilterChange($event)"
            (firstDataRendered)="setAgGridFilter($event)"
            [rowClass]="['!border-l-0', '!border-t-0']"
            (columnVisible)="onColumnChange($event)"
            (columnMoved)="onColumnChange($event)"
            (sortChanged)="onColumnChange($event)"
          ></ag-grid-angular>
        </div>
      </div>
    </ng-container>
    <div
      class="flex flex-col items-center justify-start gap-4 p-4 pl-0 md:flex-row"
    >
      <button
        mat-raised-button
        color="primary"
        (click)="openDialog(false)"
        [disabled]="!(hasEditorRole$ | ngrxPush)"
        *ngIf="!(hasMinimizedDialog$ | ngrxPush); else resumeButton"
      >
        <mat-icon class="material-icons-outlined">add</mat-icon>
        <span>{{ t('addItem') }}</span>
      </button>
      <ng-template #resumeButton>
        <button
          mat-raised-button
          class="!bg-nordic-blue"
          (click)="resumeDialog()"
          [disabled]="!(hasEditorRole$ | ngrxPush)"
        >
          <mat-icon class="text-white">play_arrow</mat-icon>
          <span class="text-white">{{ t('resume') }}</span>
        </button>
      </ng-template>
      <button mat-button color="primary" (click)="exportExcel()">
        <mat-icon class="material-icons-outlined">download</mat-icon>
        <span>{{ t('export') }}</span>
      </button>
      <button
        mat-button
        color="primary"
        [disabled]="isDefaultAgGridFilter() && isDefaultFilterForm()"
        (click)="resetForm()"
      >
        <mat-icon class="material-icons-outlined">sync</mat-icon>
        <span>{{ t('resetTable') }}</span>
      </button>
      <div class="flex flex-grow flex-row items-center justify-start gap-4">
        <div class="flex flex-col">
          <div class="text-caption text-low-emphasis">
            {{
              t('allClass', {
                class: selectedClass ? selectedClass : t('materials')
              })
            }}
          </div>
          <div class="text-caption text-high-emphasis">
            {{ resultCount$ | ngrxPush }}
          </div>
        </div>
        <div class="flex flex-col">
          <div class="text-caption text-low-emphasis">{{ t('subtotal') }}</div>
          <div class="text-caption text-high-emphasis">
            {{ displayCount }}
          </div>
        </div>
      </div>
      <button mat-button color="primary" (click)="fetchMaterials()">
        <mat-icon class="material-icons-outlined">refresh</mat-icon>
        <span>{{ t('reload') }}</span>
      </button>
    </div>
  </div>
  <ng-container
    *ngIf="(optionsLoading$ | ngrxPush) || (resultLoading$ | ngrxPush)"
  >
    <div class="fixed flex h-full w-full flex-col items-center md:pt-[10%]">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
</div>
