<div
  class="flex h-full w-full flex-col md:flex-row"
  *transloco="let t; read: 'materialsSupplierDatabase'"
>
  <div class="border-border border-r">
    <mac-msd-navigation
      [activeNavigationLevel]="activeNavigationLevel"
      class="h-full w-full"
    ></mac-msd-navigation>
  </div>
  <div
    class="flex w-full flex-1 flex-col md:p-4 md:pb-0 md:pr-0"
    *ngrxLet="navigation$ as navigation"
  >
    <ng-container>
      <mac-quick-filter
        (managementTabSelected)="quickFilterManagementTabActive = $event"
      ></mac-quick-filter>

      <div class="flex w-full h-[calc(100%-33px)] flex-1">
        <div class="h-full w-full">
          @if (quickFilterManagementTabActive) {
            <mac-quick-filter-management
              [activeNavigationLevel]="navigation"
            ></mac-quick-filter-management>
          }
          <div [hidden]="quickFilterManagementTabActive" class="h-full w-full">
            @if (navigation.materialClass === 'sap') {
              <mac-sap-material-datagrid></mac-sap-material-datagrid>
            } @else if (navigation.materialClass === 'vitesco') {
              <mac-vitesco-material-datagrid></mac-vitesco-material-datagrid>
            } @else {
              <mac-raw-material-datagrid></mac-raw-material-datagrid>
            }
          </div>
        </div>
      </div>
    </ng-container>
    @if (!quickFilterManagementTabActive) {
      @if (navigation.materialClass === 'sap') {
        <mac-sap-material-control-panel></mac-sap-material-control-panel>
      } @else if (navigation.materialClass === 'vitesco') {
        <mac-vitesco-material-control-panel></mac-vitesco-material-control-panel>
      } @else {
        <mac-raw-material-control-panel></mac-raw-material-control-panel>
      }
    }
  </div>
  @if (
    (optionsLoading$ | ngrxPush) ||
    (resultLoading$ | ngrxPush) ||
    (quickFiltersLoading$ | ngrxPush)
  ) {
    <div class="fixed flex h-full w-full flex-col items-center md:pt-[10%]">
      <mat-spinner></mat-spinner>
    </div>
  }
</div>
