@import 'libs/shared/ui/styles/src/lib/colors';

.material-icons {
  color: $schaeffler-red;
  vertical-align: middle;
}

.mat-typography {
  margin-top: 10px;
}

.mat-dialog-actions {
  justify-content: center;
}

h2 {
  display: inline;
}
