.container {
  position: relative;
  width: 100%;
}

li {
  margin: 5px 20px;
}

.link {
  text-decoration: none;
}

.content-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  div {
    padding: 30px;
  }
}
