<div class="flex h-full flex-col place-content-center items-center">
  <div class="bg-surface bg-opacity-80 p-10">
    <div class="flex flex-col">
      <img src="../assets/hello-world.png" width="300px" />
      <h5 class="mt-5 mb-3">Here are some links to help you start:</h5>
      <ul class="list-inside list-disc">
        <li class="mx-9">
          <a
            class="text-link"
            target="_blank"
            rel="noopener"
            href="https://confluence.schaeffler.com"
            >Confluence</a
          >
        </li>
        <li class="mx-9">
          <a
            class="text-link"
            target="_blank"
            rel="noopener"
            href="https://jira.schaeffler.com"
            >Jira</a
          >
        </li>
        <li class="mx-9">
          <a
            class="text-link"
            target="_blank"
            rel="noopener"
            href="https://github.com/Schaeffler-Group"
            >GitHub</a
          >
        </li>
        <li class="mx-9">
          <a
            class="text-link"
            target="_blank"
            rel="noopener"
            href="https://jenkins.schaeffler.com"
            >Jenkins</a
          >
        </li>
      </ul>

      <h5 class="mt-5 mb-3">What the backend has to say to the public:</h5>
      <p *ngIf="responsePublic$ | ngrxPush as message; else loading">
        {{ message }}
      </p>
      <p *ngIf="responseDotNetPublic$ | ngrxPush as message; else loading">
        {{ message }}
      </p>

      <h5 class="mt-5 mb-3">
        What the backend has to say to authorized employees:
      </h5>
      <p *ngIf="responseAuthorized$ | ngrxPush as message; else loading">
        {{ message }}
      </p>
      <p *ngIf="responseDotNetAuthorized$ | ngrxPush as message; else loading">
        {{ message }}
      </p>

      <h5 class="mt-5 mb-3">What the backend has to say to official Users:</h5>
      <p *ngIf="responseUsers$ | ngrxPush as message; else loading">
        {{ message }}
      </p>
      <p *ngIf="responseDotNetUsers$ | ngrxPush as message; else loading">
        {{ message }}
      </p>

      <h5 class="mt-5 mb-3">What the backend has to say to Admins:</h5>
      <p *ngIf="responseAdmins$ | ngrxPush as message; else loading">
        {{ message }}
      </p>
      <p *ngIf="responseDotNetAdmins$ | ngrxPush as message; else loading">
        {{ message }}
      </p>

      <ng-template #loading>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-template>
    </div>
  </div>
</div>
