<div>
  <div>
    <h2 mat-dialog-title>Choose the reason for ignoring this row</h2>
  </div>
  <mat-dialog-content>
    <mat-form-field appearance="fill" class="w-[360px]">
      <mat-label>Reason</mat-label>
      <mat-select [(value)]="currentIgnoreFlag">
        <mat-option
          *ngFor="let ignoreReason of ignoreReasons"
          [value]="ignoreReason.ignoreFlag"
        >
          {{ ignoreReason.reason }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <div>
    <mat-dialog-actions>
      <button mat-button class="z-0" (click)="cancel()">CANCEL</button>
      <button
        mat-button
        [mat-dialog-close]="currentIgnoreFlag"
        class="z-0"
        color="primary"
      >
        CONFIRM
      </button>
    </mat-dialog-actions>
  </div>
</div>
