<div
  [formGroup]="form"
  class="flex flex-row gap-6 mb-3"
  *transloco="
    let t;
    read: 'calculator.rfq4DetailView.recalculation.inputs.currency'
  "
>
  <div class="w-1/2 flex flex-row items-center">
    <div class="h-20 flex flex-col justify-center">
      <span class="text-body-medium text-on-surface-variant pr-6"
        >{{ t('label') }}*:</span
      >
    </div>
    <mat-form-field appearance="outline" class="w-full">
      <mat-select [formControlName]="formControlName()">
        @for (currency of availableCurrencies$ | ngrxPush; track currency) {
          <mat-option [value]="currency">{{ currency }}</mat-option>
        }
      </mat-select>
      <!-- Display hint when field was not touched or value was selected -->
      @if (formControl.untouched || formControl.valid) {
        <mat-hint>{{ t('hint') }}</mat-hint>
      } @else if (formControl.errors) {
        <mat-error>
          <gq-show-error
            [errors]="formControl.errors"
            [label]="t('label')"
          ></gq-show-error>
        </mat-error>
      }
    </mat-form-field>
  </div>
  <div class="w-1/2 flex flex-row h-20 justify-end">
    <div class="flex flex-col justify-center">
      <span class="text-body-medium text-on-surface-variant"
        >{{ t('labelCustomerCurrency') }}:</span
      >
    </div>
    <div class="w-full h-20 flex flex-col">
      <div class="h-16 flex justify-end items-center">
        <span class="text-title-medium text-on-surface-variant p-4">{{
          quotationData().currency
        }}</span>
      </div>
      <div class="h-4 flex justify-end items-center">
        <span class="text-body-small text-on-surface-variant h-6">{{
          t('subtitle')
        }}</span>
      </div>
    </div>
  </div>
</div>
