<ng-container
  *transloco="let t; read: 'calculator.rfq4DetailView.headerInformation'"
>
  <gq-kpi-status-card class="!mt-8" [title]="t('title')">
    <gq-label-text>
      <span label>{{ t('quotationToDate') }}</span>
      <span text>16.04.2024</span>
    </gq-label-text>
    <gq-label-text>
      <span label>{{ t('customerDeliveryDate') }}</span>
      <span text>20.04.2024</span>
    </gq-label-text>
    <gq-label-text>
      <span label>{{ t('currency') }}</span>
      <span text>USD</span>
    </gq-label-text>
    <gq-label-text>
      <span label>{{ t('caseCreatedBy') }}</span>
      <span text>Anton Maximilian</span>
    </gq-label-text>
    <gq-label-text>
      <span label>{{ t('rfqStartedBy') }}</span>
      <span text>Anton Maximilian</span>
    </gq-label-text>
    <gq-label-text [marginBottom]="false">
      <span label>{{ t('rfqStartedOn') }}</span>
      <span text>17.01.2024</span>
    </gq-label-text>
  </gq-kpi-status-card>
</ng-container>
