<div class="buttons">
  <d360-action-button
    variant="mat-fab"
    color="secondary"
    icon="download"
    (click)="handleDownloadButtonClicked()"
  >
  </d360-action-button>
  <d360-action-button
    [disabled]="!authorizedToChange || disableUpload"
    variant="mat-fab"
    color="primary"
    icon="menu"
    (click)="handleListModalClicked()"
  ></d360-action-button>
  <d360-action-button
    [disabled]="!authorizedToChange || disableUpload"
    variant="mat-fab"
    color="primary"
    icon="grid_view"
    (click)="handleGridModalClicked()"
  ></d360-action-button>
  <d360-action-button
    variant="mat-fab"
    color="secondary"
    icon="delete"
    (click)="handleDeleteModalClicked()"
  ></d360-action-button>
</div>
