<div
  *transloco="
    let t;
    read: 'detailView.pricingDetails.materialComparableCostDetails'
  "
>
  @for (
    materialComparableCost of materialComparableCosts$ | ngrxPush;
    track i;
    let i = $index
  ) {
    @if (materialComparableCost) {
      <div class="mt-4">
        <gq-kpi-status-card [title]="t('title', { number: i + 1 })">
          @if (userHasGPCRole$ | ngrxPush) {
            <gq-label-text>
              <span label>{{ t('gpc') }}</span>
              <span text>{{
                materialComparableCost.gpc | numberCurrency: currency
              }}</span>
            </gq-label-text>
          }
          @if (userHasSQVRole$ | ngrxPush) {
            <gq-label-text>
              <span label>{{ t('sqv') }}</span>
              <span text>{{
                materialComparableCost.sqv | numberCurrency: currency
              }}</span>
            </gq-label-text>
          }
          @if (userHasNeededRegionalRoleForMargins$ | ngrxPush) {
            @if (userHasGPCRole$ | ngrxPush) {
              <gq-label-text>
                <span label>{{ t('gpi') }}</span>
                <span text>{{
                  materialComparableCost.gpi | percentage: false
                }}</span>
              </gq-label-text>
            }
            @if (userHasSQVRole$ | ngrxPush) {
              <gq-label-text>
                <span label>{{ t('gpm') }}</span>
                <span text>{{
                  materialComparableCost.gpm | percentage: false
                }}</span>
              </gq-label-text>
            }
          }
          <gq-label-text [marginBottom]="false">
            <span label>{{ t('productionPlant') }}</span>
            <span text>{{ materialComparableCost | plantDisplay }}</span>
          </gq-label-text>
        </gq-kpi-status-card>
      </div>
    }
  }
</div>
