<div
  *transloco="
    let t;
    read: 'detailView.pricingDetails.materialComparableCostDetails'
  "
>
  <ng-container
    *ngFor="
      let materialComparableCost of materialComparableCosts$ | ngrxPush;
      let i = index;
      trackBy: trackByFn
    "
  >
    <mat-card class="mt-4" *ngIf="materialComparableCost">
      <p class="mb-4 text-h6 text-medium-emphasis">
        {{ t('title', { number: i + 1 }) }}
      </p>
      <div>
        <gq-label-text>
          <span label>{{ t('gpc') }}</span>
          <span text>{{
            materialComparableCost.gpc | numberCurrency: currency
          }}</span>
        </gq-label-text>
        <gq-label-text>
          <span label>{{ t('sqv') }}</span>
          <span text>{{
            materialComparableCost.sqv | numberCurrency: currency
          }}</span>
        </gq-label-text>
        <gq-label-text [marginBottom]="false">
          <span label>{{ t('productionPlant') }}</span>
          <span text>{{ materialComparableCost | plantDisplay }}</span>
        </gq-label-text>
      </div>
    </mat-card>
  </ng-container>
</div>
