<div
  *transloco="
    let t;
    read: 'detailView.pricingDetails.materialComparableCostDetails'
  "
>
  <ng-container
    *ngFor="
      let materialComparableCost of materialComparableCosts$ | ngrxPush;
      let i = index;
      trackBy: trackByFn
    "
  >
    <div class="mt-4" *ngIf="materialComparableCost">
      <gq-kpi-status-card [title]="t('title', { number: i + 1 })">
        <gq-label-text>
          <span label>{{ t('gpc') }}</span>
          <span text>{{
            materialComparableCost.gpc
              | multiplyComparableCostWithPriceUnit
                : currency
                : materialComparableCost.gpcPriceUnit
                : sapPriceUnit
          }}</span>
        </gq-label-text>
        <gq-label-text>
          <span label>{{ t('sqv') }}</span>
          <span text>{{
            materialComparableCost.sqv
              | multiplyComparableCostWithPriceUnit
                : currency
                : materialComparableCost.sqvPriceUnit
                : sapPriceUnit
          }}</span>
        </gq-label-text>
        <ng-container *ngIf="userHasNeededRegionalRoleForMargins$ | ngrxPush">
          <gq-label-text *ngIf="userHasGPCRole$ | ngrxPush">
            <span label>{{ t('gpi') }}</span>
            <span text>{{ materialComparableCost.gpi | percentage }}</span>
          </gq-label-text>
          <gq-label-text *ngIf="userHasSQVRole$ | ngrxPush">
            <span label>{{ t('gpm') }}</span>
            <span text>{{ materialComparableCost.gpm | percentage }}</span>
          </gq-label-text>
        </ng-container>
        <gq-label-text [marginBottom]="false">
          <span label>{{ t('productionPlant') }}</span>
          <span text>{{ materialComparableCost | plantDisplay }}</span>
        </gq-label-text>
      </gq-kpi-status-card>
    </div>
  </ng-container>
</div>
