<mat-form-field
  appearance="fill"
  *transloco="let t; read: 'search.referenceTypesFilters'"
  class="custom-mat-form-field"
>
  <mat-label>{{ t(modifiedFilter.name) }}</mat-label>
  <mat-select
    [formControl]="form"
    multiple
    disableOptionCentering
    panelClass="custom-select-panel"
    (openedChange)="updateFiltersOnDropdownClose($event)"
  >
    <mat-select-trigger>
      {{ form.value | multiSelectValue }}
    </mat-select-trigger>
    <mat-form-field class="search-field" floatLabel="never">
      <input
        matInput
        placeholder="{{ t('searchPlaceholder') }}"
        [formControl]="searchForm"
      />
      <button
        mat-button
        *ngIf="searchForm.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="resetSearchField()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-option
      *ngIf="modifiedFilter.items.length === 0"
      class="dummy-option"
    ></mat-option>
    <mat-checkbox
      *ngIf="modifiedFilter.items.length > 0"
      class="select-all"
      [color]="'primary'"
      [checked]="selectAllChecked"
      [indeterminate]="selectAllIndeterminate"
      [disabled]="modifiedFilter.items.length === 0"
      (change)="selectAllChange($event.checked)"
    >
      {{ t('selectAll') }}
      <span class="label">{{ form.value.length }} selected</span>
    </mat-checkbox>

    <div class="divider" *ngIf="modifiedFilter.items.length > 0">
      <hr />
    </div>

    <div class="custom-options-container">
      <mat-option
        (onSelectionChange)="selectionChange($event)"
        *ngFor="let option of modifiedFilter.items"
        [value]="option"
        [matTooltip]="option.value"
        matTooltipShowDelay="1000"
        >{{ option.value }}</mat-option
      >
    </div>
  </mat-select>
</mat-form-field>
