@import 'libs/shared/ui/styles/src/lib/scss/colors';
@import 'libs/shared/ui/styles/src/lib/scss/fonts';

.no-results-found {
  color: $schaeffler-gray-7;
  font-size: $schaeffler-labels;
  padding: 0 16px;
}

::ng-deep mat-form-field.search-field {
  padding: 0 16px;

  .mat-form-field-wrapper {
    width: 100%;

    .mat-form-field-flex {
      padding-top: 0;
    }

    .autocomplete-loading {
      float: right;
      margin-left: 8px;
    }

    .mat-form-field-underline {
      background-color: $schaeffler-gray-3;
    }
  }
}

.divider {
  padding: 0 16px;
  hr {
    border-top: 1px solid $schaeffler-gray-3;
    margin: 8px 0;
  }
}

.custom-mat-form-field {
  width: 233px;
}

.custom-options-container {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    background-color: $schaeffler-gray-0;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $schaeffler-gray-7;
    border-radius: 20px;
  }
}

::ng-deep .select-all {
  padding: 0 16px;

  label {
    width: 100%;

    div {
      margin-left: 0;
    }

    span.mat-checkbox-label {
      color: $schaeffler-carbon-gray;
      font-size: $schaeffler-text;
      width: 100%;
    }

    .label {
      color: $schaeffler-gray-7;
      float: right;
      font-size: $schaeffler-labels;
    }
  }
}

.dummy-option {
  display: none;
}

// always open select dropdown below mat-select
::ng-deep .custom-select-panel {
  display: flex;
  flex-direction: column;
  margin-left: 28px !important;
  margin-top: 30px !important;
  max-height: 350px !important;
  max-width: 420px !important;
  min-width: 420px !important;
  width: 420px !important;

  mat-option {
    &.mat-active {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  &.ng-animating {
    visibility: hidden;
  }
}
