<schaeffler-select
  #select
  *transloco="let t; read: 'search'"
  [label]="t('referenceTypesFilters.names.' + filter.name)"
  [searchPlaceholder]="t('referenceTypesFilters.searchPlaceholder')"
  [hint]="t('referenceTypesFilters.formatHints.' + filter.name)"
  [stringOptions]="stringOptions"
  [searchValueLengthTrigger]="0"
  [multiple]="true"
  [noResultsText]="t('noResults.message')"
  [addEntry]="false"
  [control]="formControl"
  [loading]="filter.autocompleteLoading"
  [showNumberOfSelected]="true"
  [showTriggerTooltip]="false"
  (searchUpdated)="onSearchUpdated($event)"
  (openedChange)="onOpenedChange($event)"
>
  <div loadingContent>
    <schaeffler-loading-spinner
      [diameter]="40"
      [relative]="true"
      [strokeWidth]="4"
      class="h-16 mx-4 my-4"
    ></schaeffler-loading-spinner>
  </div>
</schaeffler-select>
