@import 'libs/shared/ui/styles/src/lib/colors';

.indicator {
  $indicator-dimensions: 40px;

  background-color: $schaeffler-green-success;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  height: $indicator-dimensions;
  width: $indicator-dimensions;

  &.error {
    background-color: $schaeffler-red;
  }
}

.notificationIcon {
  $icon-dimensions: 16px;

  font-size: $icon-dimensions;
  height: $icon-dimensions;
  width: $icon-dimensions;
}
