::ng-deep .range-menu {
  margin-left: 4px;
  min-width: 233px !important;
  max-height: fit-content !important;

  &.ng-animating {
    visibility: hidden;
  }
}

::ng-deep .range-menu {
  .mat-mdc-text-field-wrapper {
    background: transparent !important;
    padding: unset;
  }

  .mat-mdc-form-field-infix {
    width: fit-content;
  }

  .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
    display: none;
  }

  .mat-mdc-form-field-flex {
    height: 35px;
    align-items: center;
  }
}

mat-option {
  @apply hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.warning-card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.warning-card-content {
  text-align: justify;
}

.label-form-field {
  @apply grid;
  @apply grid-cols-2;
  @apply items-center;
  @apply gap-1;
  @apply h-min;
}

.label-form-field input {
  text-align: right;
}

.form-field {
  width: 100% !important;
}

.slider-icon {
  @apply flex items-center gap-4 px-3 pt-3;
}
