<mat-form-field
  appearance="fill"
  *transloco="let t; read: 'search.referenceTypesFilters'"
>
  <mat-label>
    <mat-icon *ngIf="filter?.disabled">help_outline</mat-icon>
    {{ t('names.' + filter?.name) }}
  </mat-label>
  <mat-select
    [formControl]="form"
    [disabled]="filter?.disabled"
    panelClass="range-menu"
    disableOptionCentering
    matTooltipPosition="below"
    [matTooltip]="disabledFilterHint"
    [matTooltipDisabled]="!filter?.disabled"
  >
    <mat-select-trigger>
      {{ filter | rangeFilterValue }}
    </mat-select-trigger>
    <mat-option value="selected"></mat-option>
    <div class="drop-down" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
        <div #label fxFlex="50">Min. {{ t('names.' + filter?.name) }}</div>
        <div #input fxFlex="50">
          <mat-form-field>
            <input
              #minInput
              matInput
              autocomplete="off"
              [value]="
                filter.minSelected
                  ? (filter.minSelected | translocoDecimal: decimalNumberFormat)
                  : (filter.min | translocoDecimal: decimalNumberFormat)
              "
              [max]="filter.max"
              [min]="filter.min"
              (change)="update(inputType.Min, minInput.value)"
            />
            <div *ngIf="filter.unit" matSuffix>&nbsp;{{ filter.unit }}</div>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
        <mat-slider
          #minSlider
          fxFlex
          thumbLabel
          color="primary"
          [value]="filter.minSelected ? filter.minSelected : filter.min"
          [max]="filter.max"
          [min]="filter.min"
          [displayWith]="formatSliderThumbLabel"
          (change)="update(inputType.Min, $event.value)"
        >
        </mat-slider>
        <mat-icon fxFlex="10" (click)="resetInput(inputType.Min)"
          >restore</mat-icon
        >
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
        <div #label fxFlex="50">Max. {{ t('names.' + filter?.name) }}</div>
        <div #input fxFlex="50">
          <mat-form-field>
            <input
              #maxInput
              matInput
              autocomplete="off"
              [value]="
                filter.maxSelected
                  ? (filter.maxSelected | translocoDecimal: decimalNumberFormat)
                  : (filter.max | translocoDecimal: decimalNumberFormat)
              "
              [max]="filter.max"
              [min]="filter.min"
              (change)="update(inputType.Max, maxInput.value)"
            />
            <div *ngIf="filter.unit" matSuffix>&nbsp;{{ filter.unit }}</div>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
        <mat-slider
          #maxSlider
          fxFlex
          thumbLabel
          color="primary"
          [value]="filter.maxSelected ? filter.maxSelected : filter.max"
          [max]="filter.max"
          [min]="filter.min"
          [displayWith]="formatSliderThumbLabel"
          (change)="update(inputType.Max, $event.value)"
        >
        </mat-slider>
        <mat-icon fxFlex="10" (click)="resetInput(inputType.Max)"
          >restore</mat-icon
        >
      </div>
    </div>
  </mat-select>
</mat-form-field>
