<div *transloco="let t">
  <div class="flex justify-between items-center">
    <div class="flex flex-col">
      <h6 class="text-title-large">
        {{ t('home.chart.title') }}
        {{
          typeForm.get('count').value
            ? ' | ' + t('planningType.title.' + typeForm.get('count').value, {})
            : ''
        }}
      </h6>
      @if (disablePreview()) {
        <div>{{ customerFilter()?.text }}</div>
      }
    </div>
    <div class="flex">
      @if (openPanelContent()) {
        <d360-menu-panel-button
          #dateButton
          icon="calendar_month_outline"
          [title]="t('validation_of_demand.date_picker.title')"
          [disabled]="dateSelectionDisabled()"
        >
          <div class="flex gap-5">
            <d360-date-picker-month-year
              [endOf]="false"
              [control]="dateForm.controls['startDate']"
              [label]="t('validation_of_demand.date_picker.start_date')"
            />
            <d360-date-picker-month-year
              [control]="dateForm.controls['endDate']"
              [label]="t('validation_of_demand.date_picker.end_date')"
              [endOf]="true"
            />
          </div>
          <div class="flex justify-end gap-4">
            <button
              mat-flat-button
              color="primary"
              (click)="dateButton.closeMenu(); onUpdateDateSettings()"
            >
              {{ t('button.save') }}
            </button>
          </div>
        </d360-menu-panel-button>

        <d360-menu-panel-button
          #typeSettings
          icon="settings_outline"
          [disabled]="settingsDisabled()"
        >
          <div>
            <div [formGroup]="typeForm">
              <mat-radio-group
                class="flex flex-col"
                (change)="onPeriodChange($event)"
                formControlName="period"
              >
                <mat-radio-button value="YEARLY">
                  {{ t('home.chart.yearly_option') }}
                </mat-radio-button>
                <mat-radio-button value="MONTHLY">
                  {{ t('home.chart.monthly_option') }}
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <mat-divider />

            <div [formGroup]="typeForm">
              <mat-radio-group
                class="flex flex-col"
                (change)="onChangeType($event)"
                formControlName="type"
              >
                <mat-radio-button value="CURRENCY">
                  {{ currency() }}
                </mat-radio-button>
                <mat-radio-button value="QUANTITY">
                  {{ t('home.chart.pieces_option') }}
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <mat-divider />

            <div [formGroup]="typeForm">
              <mat-radio-group
                class="flex flex-col"
                (change)="onChangeCount($event)"
                formControlName="count"
              >
                <mat-radio-button value="REQUESTED">
                  {{ t('planningType.title.REQUESTED') }}
                </mat-radio-button>
                <mat-radio-button value="CONFIRMED">
                  {{ t('planningType.title.CONFIRMED') }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </d360-menu-panel-button>
      }

      @if (!this.disablePreview()) {
        <button
          mat-icon-button
          (click)="openPanelContent.set(!openPanelContent())"
        >
          @if (openPanelContent()) {
            <mat-icon>keyboard_arrow_up</mat-icon>
          } @else {
            <mat-icon>keyboard_arrow_down</mat-icon>
          }
        </button>
      }
    </div>
  </div>

  @if (openPanelContent()) {
    @if (chartData().length > 0 && !isPreviewDataRendered()) {
      <div class="flex flex-row my-4 gap-6">
        @for (kpi of kpiTypes; track kpi) {
          <div
            class="flex gap-2 items-center"
            [class.cursor-pointer]="chartSeriesConfig[kpi].isToggleable"
            (click)="
              chartSeriesConfig[kpi].isToggleable
                ? updateToggledKpis(kpi)
                : null
            "
          >
            <div
              class="h-4 w-4 rounded-3xl"
              [style.background-color]="
                toggledKpis()[kpi] ? disabledGray : chartSeriesConfig[kpi].color
              "
            ></div>
            <span
              class="text-body-small text-gray-900"
              [style.color]="toggledKpis()[kpi] ? 'gray' : ''"
            >
              {{ t('home.chart.legend.' + kpi) }}
            </span>
          </div>
        }
      </div>
    }
    <div class="panel-content ml-3 mr-4">
      <div class="relative">
        @if (chartSettingsInitialized()) {
          <div
            class="h-full flex items-center justify-center absolute top-0 left-0"
          >
            <div class="-rotate-90">
              <span>
                @if (typeForm.get('type').value === 'CURRENCY') {
                  {{ currency() }}
                } @else {
                  {{ t('home.chart.pieces_option') }}
                }
              </span>
            </div>
          </div>

          @if (isYearlyChartSelected()) {
            <d360-yearly-forecast-chart
              [data]="chartData()"
              [toggledKpis]="toggledKpis()"
              [includeSalesData]="getIncludeSalesDataWithPlanningView()"
            />
          } @else {
            <d360-monthly-forecast-chart
              [data]="chartData()"
              [toggledKpis]="toggledKpis()"
              [includeSalesData]="getIncludeSalesDataWithPlanningView()"
            />
          }

          @if (isPreviewDataRendered() || isLoading()) {
            <div
              class="absolute top-0 left-0 w-full h-full flex rounded-sm items-center justify-center z-40"
            >
              @if (isLoading()) {
                <div>
                  <schaeffler-loading-spinner
                    [useBearingLoadingSpinner]="true"
                  />
                </div>
              } @else {
                <div class="bg-white p-8 rounded-sm">
                  <p>
                    {{
                      isError()
                        ? t('home.chart.loading_failed', {})
                        : t('home.chart.select_to_load', {})
                    }}
                  </p>
                </div>
              }
            </div>
          }
        }
      </div>
    </div>
  }
</div>
