@import 'lib/colors';

h2 {
  color: $schaeffler-black;
  margin: 0 0 14px 2px;
}

div {
  color: $schaeffler-carbon-gray;
  .value {
    font-size: 12px !important;
  }
}

label {
  color: $schaeffler-gray-7;
  font-size: 12px !important;
  height: 16px !important;
  line-height: 16px;
  text-transform: uppercase;
}

mat-icon {
  color: $schaeffler-gray-7;
}

mat-list {
  mat-list-item {
    height: 100px !important;
  }
}
