<div *ngIf="salesOrgs$ | ngrxPush as salesOrgs">
  <mat-form-field
    class="w-full"
    *ngrxLet="selectedSalesOrg$ as selectedSalesOrg"
  >
    <mat-label *transloco="let t; read: 'shared.caseMaterial'">{{
      t('salesOrg')
    }}</mat-label>
    <mat-select
      [disabled]="salesOrgs.length <= 1"
      (selectionChange)="selectionChange($event)"
      [value]="selectedSalesOrg?.id"
    >
      <mat-option
        *ngFor="let salesOrg of salesOrgs; trackBy: trackByFn"
        [value]="salesOrg.id"
      >
        {{ salesOrg.id }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
