<ng-container *transloco="let t; read: 'settings.stepper'">
  <mat-horizontal-stepper
    schaefflerSeperatedSteps
    *ngrxLet="steps$; let steps"
    [selectedIndex]="currentStep$ | ngrxPush"
    (selectionChange)="selectStep($event)"
    linear="true"
    #stepper
  >
    @for (step of steps; track step) {
      <mat-step
        state="number"
        [editable]="step.editable"
        [completed]="step.complete"
        optional="false"
        [aria-labelledby]="
          step.enabled
            ? step.index === (currentStep$ | ngrxPush)
              ? 'active'
              : 'enabled'
            : 'disabled'
        "
        ><ng-template matStepLabel>{{ t(step.name) }}</ng-template></mat-step
      >
    }
    <ng-template matStepperIcon="edit" let-index="index">
      {{ index + 1 }}
    </ng-template>
  </mat-horizontal-stepper>
</ng-container>
