<div class="flex h-[46px] w-full flex-row">
  @if (isBulkEditAllowed$ | ngrxPush) {
    <button class="my-auto" mat-icon-button (click)="onSelectClick()">
      <mat-icon
        class="text-medium-emphasis !text-[16px] pr-2 bottom-1 left-1"
        >{{ isSelected() ? 'check_box' : 'check_box_outline_blank' }}</mat-icon
      >
    </button>
  }

  <button
    class="my-auto"
    mat-icon-button
    (click)="onCopyClick()"
    [disabled]="activeSelectionOnGrid()"
  >
    <mat-icon
      [ngClass]="{
        'line-through': activeSelectionOnGrid()
      }"
      class="text-medium-emphasis !text-[16px] pr-2 bottom-1 left-1"
      >content_copy</mat-icon
    >
  </button>
  <button
    class="my-auto"
    [disabled]="activeSelectionOnGrid()"
    mat-icon-button
    (click)="onDeleteClick()"
  >
    <mat-icon
      [ngClass]="{
        'line-through': activeSelectionOnGrid()
      }"
      class="text-medium-emphasis !text-[16px] pr-2 bottom-1 left-1"
      >delete_forever</mat-icon
    >
  </button>
</div>
