<div *transloco="let t; read: 'bearing'">
  <div *ngrxLet="bearingResultExtendedSearchList$; let bearings">
    <div *ngIf="bearings?.length > 0">
      <p class="pb-3">{{ t('pleaseSelectBearing') }}</p>
      <h5 class="pb-3">{{ bearings.length + ' ' + t('results') + ':' }}</h5>
    </div>
    <div *ngIf="bearings?.length === 0">
      <p class="pb-3">{{ t('changeParams') }}</p>
      <h5 class="pb-3">{{ t('zero') + ' ' + t('results') }}</h5>
    </div>
    <mat-action-list class="max-h-[384px] overflow-auto">
      <button
        mat-list-item
        *ngFor="let bearing of bearings"
        (click)="selectBearing(bearing)"
      >
        {{ bearing.title }}
      </button>
    </mat-action-list>
  </div>
</div>
