<div *transloco="let t; read: 'bearing'">
  <div *ngrxLet="bearingResultExtendedSearchList$; let bearings">
    <div *ngIf="bearings?.length > 0">
      <p class="pb-3">{{ t('pleaseSelectBearing') }}</p>
      <h5 class="pb-3">{{ bearings.length + ' ' + t('results') + ':' }}</h5>
    </div>
    <div *ngIf="bearings?.length === 0">
      <p class="pb-3">{{ t('changeParams') }}</p>
      <h5 class="pb-3">{{ t('zero') + ' ' + t('results') }}</h5>
    </div>
    <div class="max-h-[370px] overflow-auto pr-3">
      <mat-action-list>
        <mat-list-item
          *ngFor="let bearing of bearings"
          (click)="selectBearing(bearing)"
        >
          <span>{{ bearing.title }}</span>
          <mat-icon>chevron_right</mat-icon>
        </mat-list-item>
      </mat-action-list>
    </div>
  </div>
</div>
