<schaeffler-header
  *ngIf="isLoggedIn$ | ngrxPush; else loading"
  [platformTitle]="title"
  class="h-full"
>
  <schaeffler-user-menu
    user-menu
    [user]="username$ | ngrxPush"
    [entries]="userMenuEntries"
  ></schaeffler-user-menu>
  <div class="site-content">
    <div class="router-content h-1">
      <router-outlet></router-outlet>
    </div>
  </div>
  <schaeffler-footer
    *transloco="let t; read: 'footer'"
    [footerLinks]="footerLinks"
    [appVersion]="appVersion"
  >
    <span
      class="mr-2 flex flex-1 items-center text-caption leading-4 text-medium-emphasis"
    >
      <span id="icpnumber"
        >{{ t('icpnumber') }}: {{ this.metadata.icpnumber }}</span
      >
      |
      <span id="publicSecurityBureauNumber"
        >{{ t('publicSecurityBureauNumber') }}:
        {{ this.metadata.publicSecurityBureauNumber }}</span
      ></span
    >
  </schaeffler-footer>
</schaeffler-header>

<ng-template #loading>
  <div class="progress-spinner-wrapper">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
      diameter="40"
      value="50"
      class="progress-spinner"
    >
    </mat-progress-spinner>
  </div>
</ng-template>
