<schaeffler-header
  *ngIf="isLoggedIn$ | ngrxPush; else loading"
  [platformTitle]="title"
  class="full-height"
>
  <schaeffler-user-menu
    user-menu
    [user]="username$ | ngrxPush"
    [entries]="userMenuEntries"
  ></schaeffler-user-menu>
  <div class="page-container">
    <div class="site-content">
      <div class="router-content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <schaeffler-footer-tailwind
      [footerLinks]="footerLinks"
      [appVersion]="appVersion"
    ></schaeffler-footer-tailwind>
  </div>
</schaeffler-header>

<ng-template #loading>
  <div class="progress-spinner-wrapper">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
      diameter="40"
      value="50"
      class="progress-spinner"
    >
    </mat-progress-spinner>
  </div>
</ng-template>
