@import 'libs/shared/ui/styles/src/lib/colors';

:host {
  @apply h-full;
}

.progress-spinner-wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

::ng-deep .progress-spinner {
  left: calc(50% - 20px);
  top: calc(50% - 20px);

  circle {
    stroke: $schaeffler-green-1;
  }
}

::ng-deep schaeffler-footer > footer {
  a:-webkit-any-link {
    @apply text-medium-emphasis;
  }
}
