@import '~@ag-grid-community/core/dist/styles/ag-grid.scss';
@import '~@ag-grid-community/core/dist/styles/ag-theme-material/sass/ag-theme-material-mixin.scss';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'libs/shared/ui/styles/src/lib/tabs';
@import 'libs/shared/ui/styles/src/lib/material-theme';

.material-icons {
  font-family: 'Material Icons' !important;
}

button {
  outline: none !important;
}

.ag-theme-material {
  @include ag-theme-material(
    (
      material-primary-color: $schaeffler-green-1,
      material-accent-color: $schaeffler-blue,
      checkbox-checked-color: $schaeffler-green-1,
    )
  );
  .ag-column-panel {
    border-left: 1px solid ag-param(border-color);
    border-right: 1px solid ag-param(border-color);
  }
}

// Custom Scrollbar for AG Grid
.ag-root ::-webkit-scrollbar-track,
.mat-dialog-content ::-webkit-scrollbar-track {
  background-color: transparent;
}

.ag-root ::-webkit-scrollbar,
.mat-dialog-content ::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}

.ag-root ::-webkit-scrollbar-thumb,
.mat-dialog-content ::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: rgba(0, 0, 0, 0.38);
  border: 0 solid transparent;
  border-radius: 16px;
}
