@use 'node_modules/ag-grid-community/styles' as ag;
/***************************************************************************************************
 * COMPONENTS AND THEMES
 */

/*
 * Angular Material, material design components
 * see https://material.angular.io

 */

@import 'libs/shared/ui/styles/src/lib/scss/material-theme';

/*
   * ag grid components
   * see https://www.ag-grid.com/angular-grid
   */

@include ag.grid-styles(
  (
    theme: material,
    material-primary-color: $primary,
    material-accent-color: $info,
    checkbox-checked-color: $primary,
  )
);

/***************************************************************************************************
   * UTILITIES
   */

/*
   * TailwindCSS, utility-first css framework
   * see https://tailwindcss.com/docs
   */
@tailwind base;
@tailwind components;
@tailwind utilities;

/***************************************************************************************************
   * OVERRIDES
   */

button {
  outline: none !important;
}

.ag-theme-material {
  --ag-font-family: 'Noto sans';
  --ag-font-size: 12px;
  --ag-selected-row-background-color: #eee;
  .ag-column-panel {
    border-left: 1px solid ag-param(border-color);
    border-right: 1px solid ag-param(border-color);
  }
  .ag-status-bar {
    padding: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }

  .ag-filter-apply-panel {
    @apply flex items-center justify-between;

    :nth-child(1) {
      @apply m-0;
    }
  }
}

mat-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: #ededed;
}

.mat-mdc-form-field-subscript-wrapper {
  @apply text-[75%];
  @apply text-medium-emphasis;
  @apply leading-4;
  @apply tracking-wide;
}

/*
  Weird border issue Angular material with Tailwind https://github.com/tailwindlabs/tailwindcss/discussions/9993
  in preflight style of tailwinds sets border-style to solid, other way to fix it, would be to adjust 
  preflight, which can case other issues for tailwind.
  */
.mdc-notched-outline__notch {
  border-right: none !important;
}

.mat-mdc-autocomplete-panel {
  padding-top: 0;
}

.internal-tooltip .mdc-tooltip__surface {
  max-width: unset !important;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.4px;
  @apply py-2;
  @apply px-4;
}

.mat-mdc-dialog-title {
  padding-top: 16px !important;
  padding-bottom: 0 !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.mat-mdc-dialog-content {
  padding-top: 0 !important;
  padding-bottom: 16px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.mat-mdc-dialog-actions {
  padding-top: 8px !important;
  padding-bottom: 16px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.mat-mdc-card {
  padding: 16px !important;
}

.mat-mdc-form-field-error {
  font-size: 12px;
}

.cdk-overlay-connected-position-bounding-box {
  @apply absolute z-[1000] flex flex-col min-w-[1px] min-h-[1px] pointer-events-none #{!important};
}

.cdk-overlay-pane {
  @apply absolute pointer-events-auto box-border z-[1000] flex max-w-full max-h-full #{!important};
}

.mat-calendar-header label,
.mat-datepicker-close-button {
  display: none !important;
}

.ag-filter-apply-panel {
  @apply flex justify-between;

  button {
    @apply ml-auto;
  }
}

// Custom Scrollbar
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: rgba(0, 0, 0, 0.38);
  border: 0 solid transparent;
  border-radius: 16px;
}
