<div *transloco="let t">
  <mat-radio-group
    [value]="data()"
    (change)="handleSettingsChange($event)"
    class="flex flex-col"
  >
    <mat-radio-button
      [value]="PlanningView.REQUESTED"
      [aria-label]="t('planningType.title.REQUESTED')"
    >
      {{ t('planningType.title.REQUESTED') }}
    </mat-radio-button>

    <mat-radio-button
      [value]="PlanningView.CONFIRMED"
      [aria-label]="t('planningType.title.CONFIRMED')"
    >
      {{ t('planningType.title.CONFIRMED') }}
    </mat-radio-button>
  </mat-radio-group>
</div>
