# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository

- @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT

############

### Apps

############

# helloworld-azure

apps/helloworld-azure @kauppfbi_SGGIT @herpisef_SGGIT @spieksef_SGGIT @meiswjn_SGGIT @kemmemha_SGGIT @bauerfla_SGGIT @fischaxe_SGGIT

# CDBA

apps/cdba @herpisef_SGGIT @soehnpsc_SGGIT @poltokzy_SGGIT @przybmci_SGGIT

# SEDO

apps/sedo @soehnpsc_SGGIT @schlesni_SGGIT

# GQ

apps/gq @soehnpsc_SGGIT @herpisef_SGGIT @poltokzy_SGGIT @schlesni_SGGIT @panesrbe_SGGIT

# MAC

apps/mac @berndcri_SGGIT @krausrbe_SGGIT @konramic_SGGIT

# IA

apps/ia @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT @poltokzy_SGGIT @grzegdmi_SGGIT

# MM

apps/mm @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @fohlmtor_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
apps/mm-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @fohlmtor_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT

# GA

apps/ga @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @fohlmtor_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
apps/ga-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @fohlmtor_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT

# EA

apps/ea @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @fohlmtor_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
apps/ea-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @fohlmtor_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
