@import 'libs/shared/styles/src';
@import 'libs/shared/styles/src/lib/ghost-animation.scss';

.panel {
  mat-expansion-panel-header {
    height: 50px;

    h6 {
      color: $schaeffler-carbon-gray;
    }

    &:hover {
      background-color: $schaeffler-white !important;
    }
  }
}

.mat-accordion .mat-expansion-panel {
  border-radius: 0;
}

::ng-deep div.mat-expansion-panel-body {
  padding: 0 24px 15px 54px;
}

.mat-divider.mat-divider-inset {
  color: $schaeffler-gray-4;
  margin: 0 24px;
}

.header-row {
  border-bottom: 1px solid $schaeffler-gray-4;
  padding-left: 24px;

  h6 {
    margin: 26px 0;
  }

  img {
    height: 20px;
  }

  button {
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
  }
}

.top {
  max-height: calc(100% - 56px);
  overflow: auto;
}

schaeffler-icon {
  color: $schaeffler-green-1;
}
