<div *transloco="let t; read: 'detailView.pricingDetails.supplyChainDetails'">
  <div *ngIf="quotationDetail">
    <p class="m-2 text-caption">
      <span class="text-light">{{ t('supplyPlant') }}: </span>
      <span class="text-dark">{{ quotationDetail.plant | plantDisplay }}</span>
    </p>
    <p class="m-2 text-caption">
      <span class="text-light">{{ t('productionPlant') }}: </span>
      <span class="text-dark">
        {{ quotationDetail.productionPlant | plantDisplay }}
      </span>
    </p>
    <p class="m-2 text-caption">
      <span class="text-light">{{ t('productionPlantRlt') }}: </span
      ><span class="text-dark">{{ quotationDetail.rlt || '-' }}</span>
    </p>
  </div>
</div>
