<div
  class="mt-4"
  *transloco="let t; read: 'detailView.pricingDetails.supplyChainDetails'"
>
  <gq-kpi-status-card [title]="t('title')">
    @if (quotationDetail) {
      <div>
        <gq-label-text>
          <span data-cy="supplyPlant-label" label>{{ t('supplyPlant') }}</span>
          <span data-cy="supplyPlant-value" text>{{
            quotationDetail.plant | plantDisplay
          }}</span>
        </gq-label-text>
        <gq-label-text>
          <span data-cy="productionPlant-label" label>{{
            t('productionPlant')
          }}</span>
          <span data-cy="productionPlant-value" text>{{
            quotationDetail.productionPlant | plantDisplay
          }}</span>
        </gq-label-text>
        <gq-label-text>
          <span data-cy="productionPlantRltAndTransit-label" label>{{
            t('productionPlantRltAndTransit')
          }}</span>
          <span data-cy="productionPlantRltAndTransit-value" text>{{
            quotationDetail.rlt || '-'
          }}</span>
        </gq-label-text>
        <gq-label-text
          [tooltipText]="
            supplyPlantStochasticType
              ? t('stochasticTypes.' + supplyPlantStochasticType)
              : ''
          "
        >
          <span data-cy="supplyPlantStType-label" label>{{
            t('supplyPlantStType')
          }}</span>
          <span data-cy="supplyPlantStType-value" text>
            {{ supplyPlantStochasticType | nullableString }}
          </span>
        </gq-label-text>
        <gq-label-text
          [tooltipText]="
            productionPlantStochasticType
              ? t('stochasticTypes.' + productionPlantStochasticType)
              : ''
          "
        >
          <span data-cy="productionPlantStType-label" label>{{
            t('productionPlantStType')
          }}</span>
          <span data-cy="productionPlantStType-value" text>
            {{ productionPlantStochasticType | nullableString }}
          </span>
        </gq-label-text>
        <gq-label-text [marginBottom]="false">
          <span data-cy="mrpController-label" label>{{
            t('mrpController')
          }}</span>
          <span data-cy="mrpController-value" text>
            {{ quotationDetail.mrpData | mrpDisplay }}
          </span>
        </gq-label-text>
      </div>
    }
  </gq-kpi-status-card>
</div>
