@import 'libs/shared/ui/styles/src/lib/colors';

:host {
  margin-bottom: 0 !important;
  width: 100%;

  .details-page-header {
    .back-arrow-icon {
      color: $schaeffler-carbon-gray;
      cursor: pointer;
      font-size: 24px;
      margin: 0 16px;
    }

    .cart-icon {
      color: $schaeffler-green-2;
      margin: 0 16px 0 0;
    }

    button {
      font-weight: bold;
      margin: 16px 16px 16px 0;

      mat-icon {
        vertical-align: initial;
      }
    }

    .additionalInfo {
      margin-left: 16px;
      opacity: 0.38;
    }

    h1 {
      color: $schaeffler-black;
      font-size: 28px;
      font-weight: bold;
      opacity: 0.87;
    }

    .info-icon {
      color: $schaeffler-green-1;
      cursor: pointer;
      font-size: 16px;
      margin-left: 5px;
    }
  }
}

::ng-deep .mat-menu-panel {
  max-width: inherit !important;
  padding: 10px;
}
