<div
  fxLayout="row"
  fxLayoutAlign="space-between"
  class="details-page-header"
  *transloco="let t; read: 'shared.caseHeader'"
>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-icon
      fontSet="schaeffler-icons"
      fontIcon="icon-arrow-west"
      (click)="backClicked()"
      class="back-arrow-icon"
    ></mat-icon>
    <h1 fxLayout="row">
      <ng-content></ng-content>
    </h1>
  </div>
  <div *ngIf="!showOfferSlider">
    <button mat-stroked-button color="primary" (click)="drawerToggle()">
      <mat-icon fontSet="schaeffler-icons" fontIcon="icon-cart"></mat-icon>
      {{ t('seeOffer') | uppercase }}
    </button>
  </div>
</div>
<div *ngIf="showCustomerHeader">
  <div *ngIf="customer$ | ngrxPush as customer">
    <gq-customer-header [customer]="customer"></gq-customer-header>
  </div>
</div>
