<div class="ml-16 pt-3 flex">
  <gq-breadcrumbs [breadcrumbs]="breadcrumbs"></gq-breadcrumbs>
</div>
<div
  class="flex flex-row items-center pb-4"
  *transloco="let t; read: 'shared.caseHeader'"
>
  <mat-icon
    fontSet="schaeffler-icons"
    fontIcon="icon-arrow-west"
    (click)="backClicked()"
    class="cursor-pointer text-light text-h5 ml-4 mr-4"
  ></mat-icon>
  <h1>
    <ng-content></ng-content>
  </h1>
</div>
<div *ngIf="showCustomerHeader">
  <div *ngIf="customer$ | ngrxPush as customer">
    <gq-customer-header [customer]="customer"></gq-customer-header>
  </div>
</div>
