<ng-container *transloco="let t; read: 'languageDialog'">
  <div mat-dialog-content>
    <p>{{ t('content') }}</p>
  </div>
  <div mat-dialog-actions>
    <div class="flex w-full flex-row gap-2">
      <button
        mat-button
        color="primary"
        class="focus:outline-none"
        [mat-dialog-close]="true"
      >
        {{ t('confirm') | uppercase }}
      </button>
      <button
        mat-button
        color="primary"
        class="focus:outline-none"
        [mat-dialog-close]="false"
      >
        {{ t('cancel') | uppercase }}
      </button>
    </div>
  </div>
</ng-container>
