// .kpi-tooltip {
//   margin-top: -15px;
//   position: absolute;
// }

.ltp-kpi-container {
  // min-width: 250px;
  min-height: 120px;
}

.ltp-kpi-value {
  color: #000000;
  font: 36px/43px Arial;
  letter-spacing: 1.44px;
  opacity: 1;
  text-align: center;
}

.ltp-kpi-label {
  color: #646464;
  font: 16px/22px Arial;
  letter-spacing: 0.64px;
  max-height: 45px;
  opacity: 1;
  text-align: center;
}
