{
  "extends": "<%= pathToRoot %>/.versionrc.json",
  "path": ".",
  "releaseCommitMessageFormat": "chore(<%= dasherize(name) %>): 🚀  {{currentTag}}  [ci skip]",
  "tagPrefix": "<%= dasherize(name) %>-v",
  "skip": {
    "bump": false,
    "changelog": false,
    "commit": false,
    "tag": false
  }
}
