@switch (timePeriod) {
  @case (timePeriods.LAST_12_MONTHS) {
    <mat-form-field
      appearance="fill"
      *transloco="let t; read: 'filters'"
      class="w-full"
      iaDateRangeFormat
      [ngClass]="{
        'date-input-ignore-error': dateInput?.errors?.matDatepickerMin
      }"
    >
      <mat-label>{{ label }}</mat-label>
      <mat-date-range-input
        [min]="timeRangeConstraints?.min"
        [max]="timeRangeConstraints?.max"
        [formGroup]="rangeInput"
        [rangePicker]="rangePicker"
      >
        <input
          matStartDate
          formControlName="start"
          [placeholder]="placeholderStart"
          readonly
          required
        />
        <input
          #endDate
          matEndDate
          formControlName="end"
          [placeholder]="placeholderEnd"
          readonly
          required
        />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matSuffix
        [for]="rangePicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker
        #rangePicker
        startView="multi-year"
        (monthSelected)="onLast12MonthsSelected($event, rangePicker)"
      ></mat-date-range-picker>
      <mat-hint align="start">{{ hint }}</mat-hint>
      @if (dateInput?.errors?.required) {
        <mat-error>
          {{ t('periodOfTime.invalidInputRequired') }}
        </mat-error>
      }
    </mat-form-field>
  }
  @case (timePeriods.YEAR) {
    <mat-form-field
      appearance="fill"
      *transloco="let t; read: 'filters'"
      class="w-full"
    >
      <mat-label>{{ label }}</mat-label>
      <input
        matInput
        [matDatepicker]="yearPicker"
        [formControl]="dateInput"
        [min]="timeRangeConstraints?.min"
        [max]="timeRangeConstraints?.max"
        required
        readonly
        iaDateYearFormat
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="yearPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #yearPicker
        startView="multi-year"
        (yearSelected)="onYearSelected($event, yearPicker)"
      ></mat-datepicker>
      <mat-hint align="start">{{ hint }}</mat-hint>
      <mat-error>
        {{ t('periodOfTime.invalidInputRequired') }}
      </mat-error>
    </mat-form-field>
  }
  @case (timePeriods.MONTH) {
    <mat-form-field
      appearance="fill"
      *transloco="let t; read: 'filters'"
      class="w-full"
    >
      <mat-label>{{ label }}</mat-label>
      <input
        matInput
        required
        readonly
        iaDateRangeFormat
        [matDatepicker]="monthPicker"
        [formControl]="dateInput"
        [min]="timeRangeConstraints?.min"
        [max]="timeRangeConstraints?.max"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="monthPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #monthPicker
        startView="multi-year"
        (monthSelected)="onMonthSelected($event, monthPicker)"
      ></mat-datepicker>
      <mat-hint align="start">{{ hint }}</mat-hint>
      <mat-error>
        {{ t('periodOfTime.invalidInputRequired') }}
      </mat-error>
    </mat-form-field>
  }
}
