<div class="mt-4">
  <gq-filter-pricing-card
    *transloco="let t; read: 'detailView.filterPricing.sapPrice'"
    [title]="t('title')"
    [isSelected]="isSelected"
    (selectManualPrice)="selectPrice()"
    [isLoading]="isLoading"
    [isDisabled]="isDisabled"
  >
    <div content class="flex w-full flex-col flex-wrap sm:flex-row">
      <div class="min-w-[8rem] max-w-[25%] grow pt-4">
        <div class="mb-1 text-body-2 text-medium-emphasis">
          {{ t('priceLabel') }}:
        </div>
        <span class="font-bold">{{
          quotationDetail.sapPrice | numberCurrency: currency
        }}</span>
      </div>
      <div class="min-w-[8rem] pt-4" *ngIf="userHasGPCRole">
        <div class="mb-1 text-body-2 text-medium-emphasis">{{ t('gpi') }}:</div>
        <div>
          <span class="font-bold">{{ gpi | percentage }}</span>
        </div>
      </div>
      <div class="min-w-[8rem] pt-4" *ngIf="userHasSQVRole">
        <div class="mb-1 text-body-2 text-medium-emphasis">{{ t('gpm') }}:</div>
        <div>
          <span class="font-bold">{{ gpm | percentage }}</span>
        </div>
      </div>
      <div class="min-w-[8rem] pt-4">
        <div class="mb-1 text-body-2 text-medium-emphasis">
          {{ t('quantity') }}:
        </div>
        <gq-quantity-display
          [quotationDetail]="quotationDetail"
        ></gq-quantity-display>
      </div>
      <div class="min-w-[8rem] pt-4" *ngIf="quotationDetail.sapPriceCondition">
        <div class="mb-1 text-body-2 text-medium-emphasis">
          {{ t('priceCondition') }}:
        </div>
        <span class="font-bold">{{ quotationDetail.sapPriceCondition }}</span>
      </div>
    </div>
    <gq-detail-button
      link
      [text]="t('details')"
      [path]="DetailRoutePath.SapPath"
    ></gq-detail-button>
  </gq-filter-pricing-card>
</div>
