<div class="mt-4">
  <gq-filter-pricing-card
    *transloco="let t; read: 'detailView.filterPricing.sapPrice'"
    [title]="t('title')"
    [isSelected]="isSelected"
    (selectManualPrice)="selectPrice()"
    [isLoading]="isLoading"
    [isDisabled]="isDisabled"
  >
    <div content class="flex w-full flex-col flex-wrap sm:flex-row">
      <div class="min-w-[8rem] max-w-[25%] grow pt-2">
        <div class="text-body-2 text-medium-emphasis mb-1">
          {{ t('priceLabel') }}:
        </div>
        <span class="font-bold">{{
          quotationDetail?.sapPrice | numberCurrency: currency
        }}</span>
      </div>
      @if (userHasGPCRole) {
        <div class="min-w-[8rem] pt-2">
          <div class="text-body-2 text-medium-emphasis mb-1">
            {{ t('gpi') }}:
          </div>
          <div>
            <span class="font-bold">{{ gpi | percentage }}</span>
          </div>
        </div>
      }
      @if (userHasSQVRole) {
        <div class="min-w-[8rem] pt-2">
          <div class="text-body-2 text-medium-emphasis mb-1">
            {{ t('gpm') }}:
          </div>
          <div>
            <span class="font-bold">{{ gpm | percentage }}</span>
          </div>
        </div>
      }
      @if (gpmRfq) {
        <div class="min-w-[8rem] pt-2">
          <div class="text-body-2 text-medium-emphasis mb-1">
            {{ t('gpmRfq') }}:
          </div>
          <div>
            <span class="font-bold">{{ gpmRfq | percentage }}</span>
          </div>
        </div>
      }
      <div class="min-w-[8rem] pt-2">
        <div class="text-body-2 text-medium-emphasis mb-1">
          {{ t('quantity') }}:
        </div>
        <gq-quantity-display
          [quotationDetail]="quotationDetail"
        ></gq-quantity-display>
      </div>
      @if (quotationDetail.sapPriceCondition) {
        <div class="min-w-[8rem] pt-2">
          <div class="text-body-2 text-medium-emphasis mb-1">
            {{ t('priceCondition') }}:
          </div>
          <span class="font-bold">{{ quotationDetail.sapPriceCondition }}</span>
        </div>
      }
    </div>
    <gq-detail-button
      link
      [text]="t('details')"
      [path]="DetailRoutePath.SapPath"
    ></gq-detail-button>
  </gq-filter-pricing-card>
</div>
