<mm-magnetic-slider *transloco="let t">
  <div *ngFor="let option of options" class="snap-center">
    <div
      class="
        w-[calc(100vw-8rem)]
        max-w-[320px]
        h-[calc(100%)]
        py-4
        sm:w-auto
        px-0.5
      "
    >
      <schaeffler-picture-card
        [title]="translationRequired ? t(option.value) : option.value"
        [img]="option.imageUrl"
        [toggleEnabled]="false"
        [selected]="option.id === value"
        [isClickable]="true"
        (click)="option.id !== value ? setValue(option.id) : triggerChange()"
      >
        <ng-container card-actions>
          <schaeffler-picture-card-action
            [text]="option.id === value ? t('form.selected') : t('form.select')"
            [selectAction]="true"
            [selected]="option.id === value"
            (click)="
              option.id !== value ? setValue(option.id) : triggerChange()
            "
          ></schaeffler-picture-card-action>
        </ng-container>
      </schaeffler-picture-card>
    </div>
  </div>
</mm-magnetic-slider>
