<mm-magnetic-slider *transloco="let t">
  @for (option of options; track option) {
    <div class="snap-center">
      <div
        class="h-[calc(100%)] w-[calc(100vw-8rem)] max-w-[320px] py-4 px-0.5 sm:w-auto"
      >
        <schaeffler-picture-card
          [title]="translationRequired ? t(option.value) : option.value"
          [img]="option.imageUrl"
          [toggleEnabled]="false"
          [selected]="option.id === value"
          [isClickable]="true"
          (click)="option.id !== value ? setValue(option.id) : triggerChange()"
        >
          <ng-container card-actions>
            <schaeffler-picture-card-action
              [text]="
                option.id === value ? t('form.selected') : t('form.select')
              "
              [selectAction]="true"
              [selected]="option.id === value"
              (click)="
                option.id !== value ? setValue(option.id) : triggerChange()
              "
            ></schaeffler-picture-card-action>
          </ng-container>
        </schaeffler-picture-card>
      </div>
    </div>
  }
</mm-magnetic-slider>
