registry=https://artifactory.schaeffler.com/artifactory/api/npm/npm/
engine-strict=true
use-node-version=18.19.1
auto-install-peers=true
node-mirror:release=https://artifactory.schaeffler.com:443/artifactory/node-releases-remote/
