registry=https://registry.npmjs.org/
@caeonline:registry=https://artifactory.schaeffler.com/artifactory/api/npm/npm/
@schaeffler:registry=https://artifactory.schaeffler.com/artifactory/api/npm/npm/
engine-strict=true
use-node-version=18.18.0
auto-install-peers=true