{
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "block-no-empty": true,
    "comment-no-empty": true,
    "length-zero-no-unit": true,
    "max-empty-lines": 1,
  	"no-empty-source": true,
    "order/properties-alphabetical-order": true
  }
}
