# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi @krausrbe @berndcri @herpisef

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi @herpisef
apps/helloworld-azure-e2e @kauppfbi @herpisef

# Kitchen-Sink
apps/kitchen-sink @kauppfbi @krausrbe @berndcri @herpisef
apps/kitchen-sink-e2e @kauppfbi @krausrbe @berndcri @herpisef

# LTP
apps/ltp @krausrbe @berndcri
apps/ltp-e2e @krausrbe @berndcri

# CDBA
apps/cdba @kauppfbi @herpisef @andrafnk
apps/cdba-e2e @kauppfbi @herpisef @andrafnk

# GOLDWIND
apps/goldwind @krausrbe 
apps/goldwind-e2e @krausrbe 

# SELI
apps/seli @birketho @soehnpsc 
apps/seli-e2e @birketho @soehnpsc
 
# GQ
apps/gq @andrafnk @soehnpsc @herpisef 
apps/gq-e2e @andrafnk @soehnpsc @herpisef

# MAC
apps/mac @berndcri @kauppfbi @birketho
apps/mac-e2e @berndcri @kauppfbi @birketho

# IA
apps/ia @herpisef 
apps/ia-e2e @herpisef 

############
### Libs ###
############ 
