<ng-container
  *transloco="
    let t;
    prefix: 'calculator.rfq4DetailView.recalculation.attachments'
  "
>
  <div class="flex flex-col items-start gap-1 pb-4">
    <button
      mat-button
      [disabled]="!canHandleAttachments()"
      (click)="openAddFileDialog()"
    >
      {{ t('addAttachmentsButtonLabel') }}<mat-icon>add</mat-icon>
    </button>

    @if (attachmentLoading()) {
      <schaeffler-loading-spinner
        class="w-full"
        [relative]="true"
      ></schaeffler-loading-spinner>
    } @else {
      <gq-attachments
        class="w-full"
        [attachments]="attachments()"
        [deleteButtonEnabled]="canHandleAttachments()"
        [additionContentTemplate]="accessDropDownTemplate"
        (downloadClicked)="downloadAttachment($event)"
        (deleteClicked)="openConfirmDeleteAttachmentDialog($event)"
      >
      </gq-attachments>
    }
  </div>
</ng-container>

<ng-template #accessDropDownTemplate let-attachment="attachment">
  <div
    class="w-80"
    *transloco="
      let t;
      prefix: 'calculator.rfq4DetailView.recalculation.attachments'
    "
  >
    <mat-form-field appearance="outline" class="w-80" subscriptSizing="dynamic">
      <mat-select
        [value]="attachment.accessibleBy"
        (selectionChange)="onAccessChange(attachment, $event.value)"
        [disabled]="!canHandleAttachments()"
      >
        @for (option of accessibleByOptions; track option) {
          <mat-option [value]="option.key">
            {{ t('accessType.' + option.value) }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</ng-template>
