<ng-container *transloco="let t; read: 'bearing'">
  <div *ngIf="advancedBearingSelectionFilters" class="truncate text-caption">
    <span
      *ngIf="advancedBearingSelectionFilters.bearingType"
      class="inline-block"
    >
      {{ t('bearingTypes.' + advancedBearingSelectionFilters.bearingType) }}
    </span>
    <span
      *ngIf="
        advancedBearingSelectionFilters.boreDiameterMin ||
        advancedBearingSelectionFilters.boreDiameterMax
      "
      class="inline-block"
    >
      &nbsp;({{ t('label.boreDiameterShort') }}:
      {{ advancedBearingSelectionFilters.boreDiameterMin | translocoDecimal
      }}<span
        *ngIf="
          advancedBearingSelectionFilters.boreDiameterMin &&
          advancedBearingSelectionFilters.boreDiameterMax
        "
        >/</span
      >{{ advancedBearingSelectionFilters.boreDiameterMax | translocoDecimal }})
    </span>
    <span
      *ngIf="
        advancedBearingSelectionFilters.outsideDiameterMin ||
        advancedBearingSelectionFilters.outsideDiameterMax
      "
      class="inline-block"
    >
      &nbsp;({{ t('label.outsideDiameterShort') }}:
      {{ advancedBearingSelectionFilters.outsideDiameterMin | translocoDecimal
      }}<span
        *ngIf="
          advancedBearingSelectionFilters.outsideDiameterMin &&
          advancedBearingSelectionFilters.outsideDiameterMax
        "
        >/</span
      >{{
        advancedBearingSelectionFilters.outsideDiameterMax | translocoDecimal
      }})
    </span>
    <span
      *ngIf="
        advancedBearingSelectionFilters.widthMin ||
        advancedBearingSelectionFilters.widthMax
      "
      class="inline-block"
    >
      &nbsp;({{ t('label.widthShort') }}:
      {{ advancedBearingSelectionFilters.widthMin | translocoDecimal
      }}<span
        *ngIf="
          advancedBearingSelectionFilters.widthMin &&
          advancedBearingSelectionFilters.widthMax
        "
        >/</span
      >{{ advancedBearingSelectionFilters.widthMax | translocoDecimal }})
    </span>
  </div>
</ng-container>
