<div *ngrxLet="purchaseOrderTypes$ | ngrxPush as purchaseOrderTypes">
  <mat-form-field
    class="w-full"
    [appearance]="appearance"
    *transloco="let t; read: 'purchaseOrderType'"
  >
    <mat-label>{{ t('label') }}</mat-label>
    <mat-select
      [formControl]="purchaseOrderTypeControl"
      (selectionChange)="selectionChange($event)"
      [compareWith]="compareFn"
      [attr.data-cy]="'purchase-order-type-select'"
    >
      <mat-option [value]="NO_ENTRY"> {{ t('emptyValue') }}</mat-option>
      @for (type of purchaseOrderTypes; track $index) {
        <mat-option [value]="type">
          <div class="flex flex-row items-center">
            <span class="whitespace-nowrap w-12 text-subtitle-1">{{
              type.id
            }}</span>
            @if (type.name) {
              <span class="whitespace-nowrap text-caption text-medium-emphasis">
                - {{ type.name }}</span
              >
            }
          </div>
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
