<section
  *transloco="let t"
  class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-4 text-body-medium py-4"
>
  @for (item of data; track $index; let last = $last) {
    <div class="item relative" [class.last]="last">
      <!-- title -->
      <div class="header">{{ t(item.title) }}</div>

      @if (last) {
        <!-- if it is the last element add info icon -->
        <button mat-icon-button class="info" (click)="openDetails()">
          <mat-icon>info_outline</mat-icon>
        </button>
      }

      <!-- value / description -->
      <p [innerHTML]="item.value"></p>
    </div>
  }
</section>
