<ng-container *ngIf="costElementsData; else showSelectionHint">
  <div class="p-4 text-caption">
    <span class="mr-3 inline-block">{{
      selectedBomItem?.materialDesignation || materialDesignation
        | scrambleMaterialDesignation
    }}</span>
    <span class="text-medium-emphasis">{{
      selectedCalculation?.calculationDate | translocoDate
    }}</span>
  </div>
  <ag-grid-angular
    class="ag-theme-material"
    [domLayout]="'autoHeight'"
    [rowData]="costElementsData"
    [pinnedBottomRowData]="costElementsSummary"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    [modules]="modules"
    [components]="components"
    [statusBar]="statusBar"
    [getMainMenuItems]="getMainMenuItems"
    [loadingOverlayComponent]="loadingOverlayComponent"
    [suppressNoRowsOverlay]="costElementsData === undefined || isLoading"
    [noRowsOverlayComponent]="noRowsOverlayComponent"
    [noRowsOverlayComponentParams]="noRowsOverlayComponentParams"
    [enableRangeSelection]="true"
    [rowHeight]="30"
    [valueCache]="true"
    [animateRows]="true"
    [suppressCsvExport]="true"
    [suppressExcelExport]="true"
    [suppressCellFocus]="true"
    [context]="{index}"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</ng-container>

<ng-template #showSelectionHint>
  <div
    class="flex flex-col items-center p-8 text-center"
    *transloco="let t; read: 'shared.bom.additionalInformation'"
  >
    <mat-icon class="mb-4 text-subtitle-1">info</mat-icon>
    <div class="max-w-[400px] text-subtitle-1">
      {{ t('selectionHintCalculation') }}
    </div>
  </div>
</ng-template>
