@import 'libs/shared/styles/src/lib/colors';

:host {
  width: 100%;
}

.grid-container {
  height: 100%;
  width: 100%;
}

mat-card {
  .widget-content {
    margin: 16px;

    h6 {
      margin: 0;
    }

    .widget-group {
      border-bottom: 1px solid $schaeffler-gray-4;
      padding-bottom: 16px;
      padding-top: 16px;

      div {
        margin: 4px;
      }

      &:last-child {
        border: none;
      }
    }
  }
}
