<div
  gdColumns="repeat(15, 1fr)"
  gdRows="repeat(14, 1fr)"
  gdColumns.lt-md="repeat(6, 1fr)"
  gdRows.lt-md="repeat(35, 1fr)"
  gdColumns.xs="repeat(3, 1fr)"
  gdRows.xs="repeat(56, 1fr)"
  gdGap="16px"
  class="grid-container"
>
  <mat-card gdColumn="auto / span 3" gdRow="auto / span 8">
    <cdba-sales-and-description
      [salesDetails]="salesDetails$ | async"
      [errorMessage]="errorMessageDetails$ | async"
    ></cdba-sales-and-description>
    <cdba-loading-spinner
      [show]="(isLoading$ | async) === true"
    ></cdba-loading-spinner>
  </mat-card>
  <mat-card gdColumn="auto / span 3" gdRow="auto / span 6">
    <cdba-dimension-and-weight
      [dimensionAndWeight]="dimensionAndWeight$ | async"
      [errorMessage]="errorMessageDetails$ | async"
    ></cdba-dimension-and-weight>
    <cdba-loading-spinner
      [show]="(isLoading$ | async) === true"
    ></cdba-loading-spinner>
  </mat-card>
  <mat-card
    gdColumn="auto / span 3"
    gdRow="auto / span 7"
    gdColumn.lt-md="auto / span 3"
    gdRow.lt-md="15 / span 7"
  >
    <cdba-customer
      [customerDetails]="customerDetails$ | async"
      [errorMessage]="errorMessageDetails$ | async"
    >
    </cdba-customer>
    <cdba-loading-spinner
      [show]="(isLoading$ | async) === true"
    ></cdba-loading-spinner>
  </mat-card>
  <mat-card
    gdColumn="auto / span 6"
    gdRow="auto / span 14"
    gdColumn.lt-md="1 / span 6"
    gdRow.lt-md="auto / span 14"
    gdColumn.xs="auto / span 3"
    gdRow.xs="auto / span 14"
  >
    <div class="widget-content under-construction-container">
      <h6>Drawing</h6>
      <div
        class="widget-group"
        fxLayout="row"
        fxLayoutAlign="space-around center"
      >
        <schaeffler-under-construction></schaeffler-under-construction>
      </div>
    </div>
  </mat-card>
  <mat-card
    gdColumn="1 / span 3"
    gdRow="9 / span 6"
    gdColumn.xs="auto / span 3"
    gdRow.xs="22 / span 6"
  >
    <cdba-pricing
      [salesPrice]="salesPrice$ | async"
      [errorMessage]="errorMessageDetails$ | async"
    ></cdba-pricing>
    <cdba-loading-spinner
      [show]="(isLoading$ | async) === true"
    ></cdba-loading-spinner>
  </mat-card>
  <mat-card
    gdColumn="4 / span 3"
    gdRow="7 / span 8"
    gdColumn.lt-md="4 / span 3"
    gdRow.lt-md="7 / span 7"
    gdColumn.xs="auto / span 3"
    gdRow.xs="28 / span 8"
  >
    <cdba-quantities
      [quantitiesDetails]="quantitiesDetails$ | async"
      [errorMessage]="errorMessageDetails$ | async"
    ></cdba-quantities>
    <cdba-loading-spinner
      [show]="(isLoading$ | async) === true"
    ></cdba-loading-spinner>
  </mat-card>
  <mat-card
    gdColumn="7 / span 3"
    gdRow="auto / span 7"
    gdColumn.lt-md="auto / span 3"
    gdRow.lt-md="14 / span 8"
    gdColumn.xs="auto / span 3"
    gdRow.xs="36 / span 7"
  >
    <cdba-production
      [productionDetails]="productionDetails$ | async"
      [errorMessage]="errorMessageDetails$ | async"
    ></cdba-production>
    <cdba-loading-spinner
      [show]="(isLoading$ | async) === true"
    ></cdba-loading-spinner>
  </mat-card>
</div>
