<div
  *transloco="let t; read: 'detail.detailTab'"
  class="grid h-full w-full auto-cols-fr grid-cols-1 justify-center gap-4 p-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5"
>
  @if (!(isLoading$ | ngrxPush)) {
    <div>
      <div
        class="mb-4 overflow-hidden rounded border border-border bg-surface p-4"
      >
        <h6 class="mb-4 text-medium-emphasis">
          {{ t('salesAndDescription.title') }}
        </h6>
        <cdba-sales-and-description
          [salesDetails]="salesDetails$ | ngrxPush"
        ></cdba-sales-and-description>
      </div>
      <div class="overflow-hidden rounded border border-border bg-surface p-4">
        <h6 class="mb-4 text-medium-emphasis">{{ t('production.title') }}</h6>
        <cdba-production
          [productionDetails]="productionDetails$ | ngrxPush"
        ></cdba-production>
      </div>
    </div>
    <div>
      <div class="mb-4 overflow-hidden rounded border border-border bg-surface">
        <h6 class="p-4 text-medium-emphasis">
          {{ t('pcmCalculations.title') }}
        </h6>
        <cdba-pcm-calculations
          [priceDetails]="priceDetails$ | ngrxPush"
        ></cdba-pcm-calculations>
      </div>
      <div
        class="mb-4 overflow-hidden rounded border border-border bg-surface p-4"
      >
        <h6 class="mb-4 text-medium-emphasis">{{ t('pricing.title') }}</h6>
        <cdba-pricing [priceDetails]="priceDetails$ | ngrxPush"></cdba-pricing>
      </div>
      <div class="overflow-hidden rounded border border-border bg-surface p-4">
        <h6 class="mb-4 text-medium-emphasis">
          {{ t('dimensionAndWeight.title') }}
        </h6>
        <cdba-dimension-and-weight
          [dimensionAndWeightDetails]="dimensionAndWeightDetails$ | ngrxPush"
        ></cdba-dimension-and-weight>
      </div>
    </div>
    <div>
      <div
        class="mb-4 overflow-hidden rounded border border-border bg-surface p-4"
      >
        <h6 class="mb-4 text-medium-emphasis">{{ t('quantities.title') }}</h6>
        <cdba-quantities
          [quantitiesDetails]="quantitiesDetails$ | ngrxPush"
        ></cdba-quantities>
      </div>
      <div class="overflow-hidden rounded border border-border bg-surface p-4">
        <h6 class="mb-4 text-medium-emphasis">{{ t('customer.title') }}</h6>
        <cdba-customer
          [customerDetails]="customerDetails$ | ngrxPush"
        ></cdba-customer>
      </div>
    </div>
    <div
      class="col-span-1 overflow-hidden rounded border border-border bg-surface p-4 sm:col-span-2 lg:col-span-3 xl:col-span-2"
    >
      <cdba-drawings></cdba-drawings>
    </div>
  } @else {
    <schaeffler-loading-spinner></schaeffler-loading-spinner>
  }
</div>
