@import 'libs/shared/ui/styles/src/lib/colors';

:host {
  width: 100%;
}

.grid-container {
  height: 100%;
  width: 100%;
}

h6 {
  margin: 0;
}
mat-card {
  .widget-content {
    .widget-group {
      border-bottom: 1px solid $schaeffler-gray-4;
      padding-bottom: 16px;
      padding-top: 16px;

      div {
        margin: 4px;
      }

      &:last-child {
        border: none;
      }
    }
  }
}
