<schaeffler-app-shell
  [appTitle]="title"
  [appTitleLink]="'/app'"
  [hasSidebarLeft]="true"
  [footerLinks]="footerLinks$ | ngrxPush"
>
  <ng-container sidenavBody>
    <div class="m-4 flex flex-row" *transloco="let t">
      <mat-form-field
        appearance="outline"
        class="flex grow pb-4 hover:outline-none"
      >
        <mat-label>{{ t('settings.language') }}</mat-label>
        <mat-select [formControl]="languageControl">
          <mat-option
            *ngFor="let language of availableLanguages"
            [value]="language.id"
            >{{ language.label }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>
  <ng-container mainContent>
    <div class="flex min-h-full flex-col">
      <div class="h-full w-full">
        <router-outlet></router-outlet>
      </div>
      <div
        class="mx-auto w-full max-w-screen-md bg-surface"
        [ngClass]="{ hidden: !isCookiePage }"
      >
        <div class="py-3 px-4">
          <button id="ot-sdk-btn" class="ot-sdk-show-settings">
            {{ cookieSettings }}
          </button>
        </div>
        <div class="py-3 md:px-4">
          <div id="ot-sdk-cookie-policy"></div>
        </div>
      </div>
    </div>
  </ng-container>
</schaeffler-app-shell>
