<div class="grid h-full w-full grid-cols-1 gap-4 sm:grid-cols-3 lg:grid-cols-6">
  <div
    *transloco="let t; read: 'loadAssessment'"
    class="w-full sm:col-span-3 lg:col-span-4"
  >
    <goldwind-assessment-linechart
      #loadAssessmentChart
      id="loadAssessmentChart"
      [TREE_DATA]="this.TREE_DATA"
      [ASSESSMENT_CONTROLS]="this.checkBoxes"
      [displayForm]="this.displayForm"
      translateKey="loadAssessment"
      [graphData$]="graphData$"
      [displayNodes$]="this.displayNodes$"
      [interval$]="this.interval$"
      (interval)="this.setInterval($event)"
      (displayChange)="this.dispatchDisplay($event)"
      (zoomChange)="this.handleZoom($event)"
      [description]="t('description')"
    ></goldwind-assessment-linechart>
  </div>
  <goldwind-load-distribution-card
    [average]="true"
    class="h-full sm:col-span-3 lg:col-span-2"
  ></goldwind-load-distribution-card>
</div>
