<div
  *transloco="
    let t;
    read: 'shared.openItemsTable.approvalProcesses.calculatorMissing'
  "
  class="flex w-full h-full flex-col gap-4"
>
  <span
    *ngrxLet="maintainers$; let maintainers"
    class="text-high-emphasis text-subtitle-1"
  >
    {{
      t('text', {
        personA: getMaintainer(maintainers[0]),
        personB: getMaintainer(maintainers[1] ?? maintainers[0]),
      })
    }}
  </span>
  <gq-modal-footer
    [cancelText]="t('cancelButton')"
    [submitText]="t('sendMailButton')"
    (cancelAction)="closeDialog()"
    (submitAction)="sendEmail()"
  ></gq-modal-footer>
</div>
