<div *transloco="let t; read: 'searchBar'">
  <div class="flex items-center justify-between px-4">
    <mat-icon matSuffix class="pr-4 text-medium-emphasis"> search </mat-icon>
    <input
      matInput
      color="primary"
      class="!mx-2 w-full leading-7 !outline-none"
      type="text"
      [placeholder]="t('searchHint')"
      [formControl]="searchFormControl"
      (keydown.enter)="selectTopItem()"
      cdkFocusInitial
    />
    <div class="px-2">
      @if (
        (materialNumberOrDescAutocompleteLoading$ | ngrxPush) ||
        displayResultList === resultsDisplayType.LOADING
      ) {
        <mat-spinner matSuffix [diameter]="18"></mat-spinner>
      }
    </div>

    <div class="flex items-center">
      <span
        class="text-caption"
        [ngClass]="{
          'cursor-pointer text-medium-emphasis ': searchVal.length > 0,
          'text-low-emphasis': searchVal.length === 0
        }"
        (click)="clearInputField()"
      >
        {{ t('clear') }}
      </span>
      <span class="px-2 text-medium-emphasis"> | </span>
      <mat-icon
        class="float-right h-5 w-5 cursor-pointer text-medium-emphasis"
        (click)="closeDialog()"
      >
        close
      </mat-icon>
    </div>
  </div>
  @if (
    !(materialNumberOrDescAutocompleteLoading$ | ngrxPush) &&
    displayResultList !== resultsDisplayType.LOADING
  ) {
    @if (displayResultList === resultsDisplayType.PREVIEW) {
      <gq-global-search-results-preview-list
        [title]="'suggestions'"
        [idValues]="(materialNumberOrDescForGlobalSearch$ | ngrxPush).options"
        [searchVal]="searchVal"
        [resultsAreFromLocalStorage]="false"
        (itemSelected)="onItemSelected($event)"
      ></gq-global-search-results-preview-list>
    }
    @if (displayResultList === resultsDisplayType.LAST_RESULTS) {
      <gq-global-search-results-preview-list
        [title]="'lastResults'"
        [idValues]="lastSearchResults$ | ngrxPush"
        [searchVal]="lastSearchTerms$ | ngrxPush"
        [resultsAreFromLocalStorage]="true"
        (itemSelected)="onItemSelected($event)"
      ></gq-global-search-results-preview-list>
    }
    @if (displayResultList === resultsDisplayType.RESULT) {
      <gq-global-search-results-list
        [gqCases]="searchResult"
        [searchVal]="searchVal"
        (gqIdSelected)="openCase($event)"
        (openInTabClicked)="openCase($event, openIn.tab)"
        (openInWindowClicked)="openCase($event, openIn.window)"
      >
      </gq-global-search-results-list>
    }
  } @else {
    @if (searchVal.length >= MIN_INPUT_STRING_LENGTH_FOR_AUTOCOMPLETE) {
      @if (displayResultList === resultsDisplayType.PREVIEW) {
        <p class="py-3 pl-4 text-overline uppercase text-medium-emphasis">
          {{ t('suggestions') }}
        </p>
      }
      @if (displayResultList !== resultsDisplayType.PREVIEW) {
        <p class="py-3 pl-4 text-overline uppercase text-medium-emphasis">
          {{ t('foundInOpenCases') }}
        </p>
      }
      <div class="flex h-full animate-pulse flex-col px-4">
        @for (i of ['1/3', '1/6', '1/2', '1/3', '1/5']; track i) {
          <div class="py-3">
            <div
              class="bg-gray-300 h-5 rounded-md"
              [ngClass]="['w-' + i]"
            ></div>
          </div>
        }
      </div>
    }
  }
</div>
