<div *transloco="let t; read: 'searchBar'">
  <div class="flex items-center justify-between px-3 py-2">
    <mat-icon matSuffix class="pr-4 text-medium-emphasis"> search </mat-icon>
    <input
      matInput
      color="primary"
      class="!mx-2 w-full leading-7 !outline-none"
      type="text"
      [placeholder]="t('searchHint')"
      [formControl]="searchFormControl"
      (keydown.enter)="selectTopItem()"
      cdkFocusInitial
    />
    <div class="px-2">
      <mat-spinner
        *ngIf="
          (autocomplete.materialNumberOrDescAutocompleteLoading$ | ngrxPush) ||
          displayResultList === resultsDisplayType.LOADING
        "
        matSuffix
        [diameter]="18"
      ></mat-spinner>
    </div>

    <div class="flex items-center">
      <span
        class="text-caption"
        [ngClass]="{
          'cursor-pointer text-medium-emphasis ': searchVal.length > 0,
          'text-low-emphasis': searchVal.length === 0
        }"
        (click)="clearInputField()"
      >
        {{ t('clear') }}
      </span>
      <span class="px-2 text-medium-emphasis"> | </span>
      <mat-icon
        class="float-right h-5 w-5 cursor-pointer text-medium-emphasis"
        (click)="closeDialog()"
      >
        close
      </mat-icon>
    </div>
  </div>
  <ng-container
    *ngIf="
      !(autocomplete.materialNumberOrDescAutocompleteLoading$ | ngrxPush) &&
        displayResultList !== resultsDisplayType.LOADING;
      else loading
    "
  >
    <gq-global-search-results-preview-list
      *ngIf="displayResultList === resultsDisplayType.PREVIEW"
      [title]="'suggestions'"
      [idValues]="
        (autocomplete.materialNumberOrDescForGlobalSearch$ | ngrxPush).options
      "
      [searchVal]="searchVal"
      [resultsAreFromLocalStorage]="false"
      (itemSelected)="onItemSelected($event)"
    ></gq-global-search-results-preview-list>

    <gq-global-search-results-preview-list
      *ngIf="displayResultList === resultsDisplayType.LAST_RESULTS"
      [title]="'lastResults'"
      [idValues]="lastSearchResultsService.lastSearchResults$ | ngrxPush"
      [searchVal]="lastSearchResultsService.lastSearchTerms$ | ngrxPush"
      [resultsAreFromLocalStorage]="true"
      (itemSelected)="onItemSelected($event)"
    ></gq-global-search-results-preview-list>

    <gq-global-search-results-list
      *ngIf="displayResultList === resultsDisplayType.RESULT"
      [gqCases]="searchResult"
      [searchVal]="searchVal"
      (gqIdSelected)="openCase($event)"
      (openInTabClicked)="openCase($event, openIn.tab)"
      (openInWindowClicked)="openCase($event, openIn.window)"
    >
    </gq-global-search-results-list>
  </ng-container>

  <ng-template #loading>
    <ng-container
      *ngIf="searchVal.length >= MIN_INPUT_STRING_LENGTH_FOR_AUTOCOMPLETE"
    >
      <p
        *ngIf="displayResultList === resultsDisplayType.PREVIEW"
        class="py-3 pl-4 text-overline uppercase text-medium-emphasis"
      >
        {{ t('suggestions') }}
      </p>
      <p
        *ngIf="displayResultList !== resultsDisplayType.PREVIEW"
        class="py-3 pl-4 text-overline uppercase text-medium-emphasis"
      >
        {{ t('foundInOpenCases') }}
      </p>
      <div class="flex h-full animate-pulse flex-col px-4">
        <div class="py-3" *ngFor="let i of ['1/3', '1/6', '1/2', '1/3', '1/5']">
          <div class="bg-gray-300 h-5 rounded-md" [ngClass]="['w-' + i]"></div>
        </div>
      </div>
    </ng-container>
  </ng-template>
</div>
