<ng-container *transloco="let t">
  <!-- Sales Org Info -->
  <p>
    <span class="block text-body-small text-medium-emphasis">{{
      t('validation_of_demand.vkorg')
    }}</span>
    <span class="text-body-medium">{{ customer()?.salesOrg || '' }}</span>
  </p>

  <!-- Customer Select -->
  <d360-single-autocomplete-pre-loaded
    [control]="$any(control())"
    [form]="form()"
    [optionsLoadingResult]="optionsLoadingResult()"
    [label]="t('validation_of_demand.customer')"
    class="{{ className() }} compact"
    [displayFn]="displayFnUnited"
    (selectionChange)="onChange($event)"
  />
</ng-container>
