<div *transloco="let t">
  <div class="vkorg-display">
    <span>{{ t('validation_of_demand.vkorg') }}</span>
    <span>{{ fC.value ? fC.value.salesOrg ?? '' : '' }}</span>
  </div>
  <mat-form-field appearance="outline" class="customer-number-select">
    <mat-label>{{ t('validation_of_demand.customer') }}</mat-label>
    <mat-select [formControl]="fC" [disabled]="fC.disabled">
      @for (customer of customers; track customer.customerNumber) {
        <mat-option [value]="customer">
          {{ customer.customerNumber }} - {{ customer.customerName ?? '' }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
