<div mat-dialog-title class="!px-0">
  <div
    class="inline-flex w-full flex-row content-around justify-between pl-4 pb-2 pr-2"
  >
    <div class="my-auto text-h6 text-high-emphasis">{{ txtTitle }}</div>
    <div class="flex flex-row">
      @if (minimizeEnabled) {
        <button mat-icon-button (click)="minimizeDialog()">
          <mat-icon class="text-medium-emphasis">minimize</mat-icon>
        </button>
      }
      @if (closeEnabled) {
        <button mat-icon-button (click)="cancelDialog()">
          <mat-icon class="text-medium-emphasis">close</mat-icon>
        </button>
      }
    </div>
  </div>
  <mat-divider></mat-divider>
</div>

<mat-dialog-content class="!px-4 !pt-4">
  @if (!(isLoading$ | ngrxPush)) {
    <div>
      <ng-content></ng-content>
    </div>
  } @else {
    <div class="flex flex-1 flex-col place-items-center">
      <mat-spinner></mat-spinner>
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions
  align="end"
  class="!px-0"
  *transloco="let t; read: 'materialsSupplierDatabase.mainTable.dialog'"
>
  <mat-divider class="w-full pb-4"></mat-divider>
  <div class="px-4 pb-2">
    @if (isAddDialog) {
      <mat-checkbox
        class="pr-4 text-caption text-high-emphasis"
        color="primary"
        [formControl]="createAnotherControl"
      >
        {{ t('createAnother') }}</mat-checkbox
      >
    }
    @if (txtCancel) {
      <button mat-stroked-button (click)="cancelDialog()" color="primary">
        {{ txtCancel }}
      </button>
    }
    @if (txtConfirm) {
      <button
        mat-raised-button
        color="primary"
        class="!ml-4"
        [disabled]="!valid"
        (click)="confirmDialog()"
      >
        <div class="flex flex-row gap-x-2">
          {{ txtConfirm }}
          @if (processConfirm$ | ngrxPush) {
            <mat-spinner
              class="my-auto"
              color="accent"
              diameter="14"
            ></mat-spinner>
          }
        </div>
      </button>
    }
  </div>
</mat-dialog-actions>
