<div
  class="flex h-full flex-col"
  *transloco="let t; read: 'shared.editingModal'"
>
  <gq-dialog-header
    [title]="
      t('title', {
        id: modalData.quotationDetail.quotationItemId,
        fieldName: t(modalData.field)
      })
    "
    (closeDialog)="closeDialog()"
  >
  </gq-dialog-header>

  <div
    class="mt-6 flex h-full flex-col"
    *ngIf="(updateLoading$ | ngrxPush) === false; else loading"
  >
    <mat-radio-group
      class="flex flex-col pb-8"
      [(ngModel)]="isRelativePriceChange"
      *ngIf="showRadioGroup"
    >
      <mat-radio-button
        [value]="true"
        class="pb-4"
        color="primary"
        (change)="onRadioButtonChange(true)"
        [disabled]="isRelativePriceChangeDisabled"
        [attr.data-cy]="modalData.field + '-modal_relative-radio-btn'"
      >
        <span class="pl-2">
          {{ t('relative') }}
        </span>
      </mat-radio-button>
      <mat-radio-button
        [value]="false"
        color="primary"
        (change)="onRadioButtonChange(false)"
        [attr.data-cy]="modalData.field + '-modal_absolute-radio-btn'"
      >
        <span class="pl-2">
          {{ t('absolute') }}
        </span>
      </mat-radio-button>
    </mat-radio-group>

    <div class="flex h-full flex-row">
      <mat-form-field class="w-2/3" appearance="outline">
        <mat-label *ngIf="isRelativePriceChange">{{
          t('labels.' + modalData.field)
        }}</mat-label>
        <mat-label *ngIf="!isRelativePriceChange">{{
          t('labels.' + modalData.field + 'Absolute')
        }}</mat-label>

        <input
          class="text-overline !leading-7"
          [formControl]="editFormControl"
          (keydown)="onKeyPress($event, edit)"
          (paste)="onPaste($event)"
          [placeholder]="value?.toString()"
          type="text"
          autocomplete="off"
          cdkTextareaAutosize
          matInput
          [attr.data-cy]="modalData.field + '-modal_value-input'"
          #edit
        />
        <mat-hint>{{ t('hints.' + modalData.field) }}</mat-hint>
      </mat-form-field>

      <div class="ml-4 mt-3 flex flex-col gap-2">
        <mat-icon
          class="cursor-pointer text-medium-emphasis"
          (click)="increment()"
          >add
        </mat-icon>
        <mat-icon
          class="cursor-pointer text-medium-emphasis"
          (click)="decrement()"
          >remove</mat-icon
        >
      </div>
    </div>
    <div
      class="grid-col mt-2 grid grid-cols-2"
      *ngIf="affectedKpis?.length > 0"
    >
      <div class="mt-4" *ngFor="let kpi of affectedKpis; index as i">
        <div
          *transloco="let t; read: 'shared.editingModal.kpis'"
          class="flex flex-row"
          [ngClass]="{ 'text-low-emphasis': !kpi.value, 'pl-12': i % 2 !== 0 }"
        >
          <div class="mr-8 w-32">
            <h6>{{ t(kpi.key) }}</h6>
            <div>
              <span class="text-caption text-medium-emphasis">{{
                t('previous', {
                  fieldTranslation: t(kpi.key)
                })
              }}</span>
            </div>
          </div>
          <div *ngrxLet="quotationCurrency$ as quotationCurrency">
            <h6 class="truncate">
              <span
                *ngIf="
                  kpi.value &&
                    (kpi.key === fields.GPI || kpi.key === fields.GPM) &&
                    kpi.value <= 25;
                  else discount
                "
                [attr.data-cy]="
                  modalData.field + '-modal_' + kpi.key + '-value'
                "
                class="!text-[#FFA726]"
              >
                {{ kpi.value || 'N/A' }}
                <mat-icon
                  [matTooltip]="marginWarningTooltip"
                  matTooltipClass="whitespace-pre-line !text-caption"
                  class="ml-1 align-bottom"
                >
                  warning_amber
                </mat-icon>
              </span>
              <ng-template #discount>
                <span
                  *ngIf="kpi.key !== fields.PRICE; else priceFormatter"
                  [attr.data-cy]="
                    modalData.field + '-modal_' + kpi.key + '-value'
                  "
                >
                  {{ kpi.value || 'N/A' }}
                </span>
              </ng-template>
              <ng-template #priceFormatter>
                <span
                  [ngClass]="{ 'text-error': mspWarningEnabled }"
                  [attr.data-cy]="
                    modalData.field + '-modal_' + kpi.key + '-value'
                  "
                >
                  {{ kpi.value | numberCurrency: quotationCurrency }}
                  <mat-icon
                    class="ml-1 align-bottom"
                    *ngIf="mspWarningEnabled"
                    [matTooltip]="mspWarningTooltip"
                    matTooltipClass="whitespace-pre-line !text-caption"
                  >
                    warning_amber
                  </mat-icon>
                </span>
              </ng-template>
            </h6>
            <div class="text-caption leading-6 text-medium-emphasis">
              <span
                *ngIf="kpi.key !== fields.PRICE; else previousPriceFormatter"
                [attr.data-cy]="
                  modalData.field + '-modal_' + kpi.key + '-previous-value'
                "
              >
                {{ modalData.quotationDetail[kpi.key] || 'N/A' }}
              </span>
              <ng-template #previousPriceFormatter>
                <span
                  [attr.data-cy]="
                    modalData.field + '-modal_' + kpi.key + '-previous-value'
                  "
                >
                  {{
                    modalData.quotationDetail.price
                      | numberCurrency: quotationCurrency
                  }}
                </span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="mt-6 flex w-fit flex-row items-center rounded-md border-[1px] border-info bg-nordic-blue bg-opacity-10 py-3 px-3"
    >
      <mat-icon class="mr-4 align-middle !text-info">warning_amber</mat-icon>
      <div class="text-caption">{{ t('warning') }}</div>
    </div>
    <div class="pt-8">
      <button
        class="!pl-4 !pr-4"
        color="primary"
        mat-raised-button
        [disabled]="confirmDisabled"
        (click)="confirmEditing()"
        [attr.data-cy]="modalData.field + '-modal_submit-btn'"
      >
        <span> {{ t('confirm.' + modalData.field) | uppercase }} </span>
      </button>
      <button
        class="!ml-4 !pl-4 !pr-4"
        color="primary"
        mat-stroked-button
        (click)="closeDialog()"
        [attr.data-cy]="modalData.field + '-modal_cancel-btn'"
      >
        <span> {{ t('cancel') | uppercase }} </span>
      </button>
    </div>
  </div>
  <ng-template #loading>
    <div class="py-24">
      <schaeffler-loading-spinner
        class="h-full"
        backgroundColor="rgba(255,255,255, 0.1)"
        [relative]="true"
      ></schaeffler-loading-spinner>
    </div>
  </ng-template>
</div>
