@if (!(quotationLoading$ | ngrxPush)) {
  <div class="flex h-full flex-1 flex-col">
    <div *transloco="let t; read: 'sapView.header'">
      @if (quotationDetail$ | ngrxPush) {
        <schaeffler-subheader
          [subheaderTitle]="t('title')"
          [breadcrumbs]="breadcrumbs$ | ngrxPush"
        >
          <ng-container subheaderTitleContent>
            <gq-material-price-header-content
              [quotationDetail]="quotationDetail$ | ngrxPush"
              [currency]="quotationCurrency$ | ngrxPush"
              [price]="(quotationDetail$ | ngrxPush)?.sapPrice"
            >
            </gq-material-price-header-content>
          </ng-container>
          <ng-container subheaderInlineContent>
            <schaeffler-share-button></schaeffler-share-button>
          </ng-container>
          <ng-container subheaderBlockContent>
            <gq-status-customer-info-header
              [customer]="customer$ | ngrxPush"
            ></gq-status-customer-info-header>
          </ng-container>
        </schaeffler-subheader>
      }
    </div>
    <mat-card appearance="outlined" class="m-4 h-full">
      <mat-card-content class="h-full">
        @if (
          (translationsLoaded$ | ngrxPush) &&
          !(sapPriceDetailsLoading$ | ngrxPush)
        ) {
          <gq-sap-price-details-table
            [rowData]="rowData$ | ngrxPush"
            [tableContext]="{ quotation: (quotation$ | ngrxPush) }"
          ></gq-sap-price-details-table>
        } @else {
          <schaeffler-loading-spinner></schaeffler-loading-spinner>
        }
      </mat-card-content>
    </mat-card>
  </div>
} @else {
  <schaeffler-loading-spinner></schaeffler-loading-spinner>
}
