<div class="flex h-full flex-col">
  <div class="h-full">
    <gq-dialog-header
      [title]="data.title"
      (closeDialog)="closeDialog($event)"
    ></gq-dialog-header>

    @if (data.subtitle) {
      <div class="text-body-large text-on-surface-variant mt-2">
        {{ data.subtitle }}
      </div>
    }
    @if (data.contentList) {
      <div class="mt-2 max-h-[300px] overflow-y-auto">
        @for (item of data.contentList; track $index) {
          <div>
            <span class="text-title-small text-on-surface">{{ item.id }} </span>
            <span class="text-body-medium text-on-surface-variant">
              | {{ item.value }}</span
            >
          </div>
        }
      </div>
    }
  </div>
  @if (data.infoBannerText) {
    <gq-info-banner [infoText]="data.infoBannerText"> </gq-info-banner>
  }
  <div class="mt-4 flex flex-row justify-end gap-4">
    <button
      class="text-label-large font-medium"
      mat-button
      (click)="closeDialog(false)"
      cdkFocusInitial
    >
      {{ data.cancelButtonText }}
    </button>
    <button
      class="!mr-6 text-label-large font-medium"
      mat-flat-button
      (click)="closeDialog(true)"
    >
      {{ data.confirmButtonText }}
    </button>
  </div>
</div>
