<div class="flex h-full flex-col">
  <div class="h-full">
    <span> {{ data.displayText }}</span>
    @if (data.list) {
      <div class="mt-2 max-h-[300px] overflow-y-auto">
        @for (item of data.list; track $index) {
          <li>{{ item.id }} | {{ item.value }}</li>
        }
      </div>
    }
  </div>
  @if (data.infoText) {
    <gq-info-banner [infoText]="data.infoText"> </gq-info-banner>
  }
  <div class="mt-11 flex flex-row">
    <button
      color="primary"
      class="!mr-6 text-button font-medium"
      mat-raised-button
      (click)="closeDialog(true)"
    >
      <mat-icon class="align-middle">{{ data.icon }}</mat-icon>
      {{ data.confirmButton | uppercase }}
    </button>
    <button
      color="primary"
      class="text-button font-medium"
      mat-stroked-button
      (click)="closeDialog(false)"
      cdkFocusInitial
    >
      {{ data.cancelButton | uppercase }}
    </button>
  </div>
</div>
