<div *transloco="let t">
  <h2 mat-dialog-title>
    {{ t('customer_material_portfolio.phase_in_modal.headline', {}) }}
  </h2>
  <mat-dialog-content>
    <p>{{ t('customer_material_portfolio.modal.text', {}) }}</p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-1 md:gap-4">
      <mat-form-field>
        <mat-label>{{
          t('customer_material_portfolio.modal.customer_number', {})
        }}</mat-label>
        <input
          matInput
          [value]="customerNumber"
          [disabled]="true"
          type="text"
          [attr.aria-label]="
            t('customer_material_portfolio.modal.customer_number', {})
          "
        />
      </mat-form-field>
      <d360-single-autocomplete-on-type
        [form]="formGroup"
        [control]="materialControl"
        [label]="t('customer_material_portfolio.modal.material', {})"
        [getOptionLabelInTag]="displayFnText"
        urlBegin="global-selection/search-materials"
      ></d360-single-autocomplete-on-type>
      <d360-error-handling-select
        [fG]="formGroup"
        [fC]="demandCharacteristicsControl"
        [label]="
          t('customer_material_portfolio.modal.demand_characteristic', {})
        "
        [options]="demandCharacteristicsOptions"
      ></d360-error-handling-select>
    </div>
    <d360-phase-in-status-specific-content
      [props]="statusSpecificContentProps"
    ></d360-phase-in-status-specific-content>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button (click)="handleSave()" mat-flat-button color="primary">
      {{ t('customer_material_portfolio.modal.add', {}) }}
    </button>
    <button mat-button (click)="handleOnClose()">Close</button>
  </mat-dialog-actions>
</div>
