<div
  class="flex h-full grow flex-col overflow-hidden"
  *transloco="let t; read: 'organizationalView.orgChart'"
>
  <div
    #chartContainer
    id="chartContainer"
    class="h-full w-full"
    [ngClass]="{ hidden: chartData?.length === 0 }"
  ></div>

  @if (isLoading) {
    <schaeffler-loading-spinner
      [diameter]="40"
      [strokeWidth]="4"
    ></schaeffler-loading-spinner>
  }
  @if (!chartData?.length && !isLoading) {
    <div class="flex grow items-center justify-center">
      <span class="self-center">{{ t('noData') }}</span>
    </div>
  }
</div>
