/***************************************************************************************************
* COMPONENTS AND THEMES
*/

/*
* Angular Material, material design components
* see https://material.angular.io
*/

@import 'libs/shared/ui/styles/src/lib/material-theme';

/*
* ag grid components
* see https://www.ag-grid.com/angular-grid
*/
@import '~@ag-grid-community/core/dist/styles/ag-grid.scss';
@import '~@ag-grid-community/core/dist/styles/ag-theme-material/sass/ag-theme-material-mixin.scss';

/***************************************************************************************************
* UTILITIES
*/

/*
* TailwindCSS, utility-first css framework
* see https://tailwindcss.com/docs
*/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/***************************************************************************************************
* OVERRIDES
*/

// custom overrides for native elements
button {
  outline: none !important;
}

// custom overrides for ag grid
.ag-theme-material {
  @include ag-theme-material(
    (
      material-primary-color: $primary,
      material-accent-color: $nordic-blue,
      checkbox-checked-color: $primary,
      row-group-indent-size: 12px,
    )
  );

  .ag-row {
    border-color: rgba($color: #000000, $alpha: 0.12);
    border-top: none;
    border-width: 0.5px;
  }

  .ag-column-panel {
    border-left: 1px solid ag-param(border-color);
    border-right: 1px solid ag-param(border-color);
  }

  .ag-horizontal-left-spacer {
    overflow: hidden;
  }

  .ag-cell-wrapper > :not(.ag-cell-value):not(.ag-group-value) {
    align-items: center;
    display: flex;
    flex: none;
    height: 30px;
  }

  .line-height-30,
  .ag-right-aligned-cell {
    line-height: 30px !important;
  }

  .ag-side-button-button {
    &:hover {
      color: $primary !important;
    }
  }

  .ag-status-bar {
    @apply border-0 #{!important};
    @apply p-0 #{!important};
  }

  .ag-group-expanded {
    margin-right: 4px !important;
  }

  .ag-group-contracted {
    margin-right: 4px !important;
  }

  //.ag-row-level-0 {
  //  &:not(.ag-row-group) {
  //    > .ag-cell:first-of-type {
  //      padding-left: 32px;
  //    }
  //  }
  //}

  @for $i from 1 to 20 {
    .ag-row-level-#{$i} .ag-row-group-leaf-indent {
      margin-left: 22px !important;
    }
  }
}
