<div
  class="flex h-full flex-col"
  *transloco="let t; read: 'shared.caseMaterial'"
>
  <h6 class="!mb-2">
    {{ t('addEntry.processCase.dialogTitle') }}
    <mat-icon class="float-right cursor-pointer" (click)="closeDialog()"
      >close</mat-icon
    >
  </h6>
  @if (customer$ | ngrxPush; as customer) {
    <div class="text-caption text-medium-emphasis">
      <span>{{ customer.name }}</span>
      <span class="mx-2 opacity-[0.12]"> | </span>
      <span>{{ t('salesOrg') }} {{ customer.identifier.salesOrg }}</span>
    </div>
  }
  @if (!(updateLoading$ | ngrxPush)) {
    <div class="flex h-full flex-col">
      <gq-add-entry></gq-add-entry>
      @if (rowData$ | ngrxPush; as rowData) {
        <div class="h-full">
          <gq-material-input-table
            [rowData]="rowData"
          ></gq-material-input-table>
        </div>
      }
    </div>
  } @else {
    <schaeffler-loading-spinner></schaeffler-loading-spinner>
  }
</div>
