<div
  class="flex h-full flex-col"
  *transloco="let t; read: 'shared.caseMaterial'"
>
  <h6 class="!mb-2">
    {{ t('addEntry.processCase.dialogTitle') }}
    <mat-icon class="float-right cursor-pointer" (click)="closeDialog()"
      >close</mat-icon
    >
  </h6>
  <div
    class="text-caption text-medium-emphasis"
    *ngIf="customer$ | ngrxPush as customer"
  >
    <span>{{ customer.name }}</span>
    <span class="mx-2 opacity-[0.12]"> | </span>
    <span>{{ t('salesOrg') }} {{ customer.identifier.salesOrg }}</span>
  </div>
  <div
    class="flex h-full flex-col"
    *ngIf="!(updateLoading$ | ngrxPush); else loading"
  >
    <gq-add-entry></gq-add-entry>
    <div class="h-full" *ngIf="rowData$ | ngrxPush as rowData">
      <gq-material-input-table [rowData]="rowData"></gq-material-input-table>
    </div>
  </div>
  <ng-template #loading>
    <schaeffler-loading-spinner></schaeffler-loading-spinner>
  </ng-template>
</div>
