<div
  class="flex h-full flex-col"
  *transloco="let t; read: 'shared.caseMaterial.addEntry.processCase'"
>
  <h2 mat-dialog-title>
    {{ t('dialogTitle') }}
    <mat-icon class="float-right cursor-pointer" (click)="closeDialog()"
      >close</mat-icon
    >
  </h2>
  <div
    class="flex h-full flex-col"
    *ngIf="!(updateLoading$ | ngrxPush); else loading"
  >
    <button
      *featureToggle="'showEditMaterialButton'"
      mat-flat-button
      (click)="onOpenMaterialEditDialog()"
    >
      showDialogEditMat
    </button>
    <gq-add-entry></gq-add-entry>
    <div class="h-full" *ngIf="rowData$ | ngrxPush as rowData">
      <gq-material-input-table [rowData]="rowData"></gq-material-input-table>
    </div>
  </div>
  <ng-template #loading>
    <schaeffler-loading-spinner></schaeffler-loading-spinner>
  </ng-template>
</div>
