<mat-sidenav-container class="h-full" *transloco="let t; read: 'sidebar'">
  <mat-sidenav
    #sidenav
    class="w-full md:w-80 px-4"
    [ngClass]="embedded ? 'pt-12' : 'pt-4'"
  >
    <mat-form-field appearance="outline" class="w-full mt-1">
      <mat-label>{{ t('languageSelectLabel') }}</mat-label>
      <mat-select
        [formControl]="languageSelectControl"
        (selectionChange)="setLanguage($event.value)"
      >
        <mat-option
          *ngFor="let lang of availableLangs; trackBy: trackByFn"
          [value]="lang.id"
          >{{ lang.label }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ t('decimalSeparatorSelectLabel') }}</mat-label>
      <mat-select
        class="hover:outline-green focus:outline-green"
        [formControl]="separatorSelectControl"
        (selectionChange)="setSeparator($event.value)"
      >
        <mat-option
          *ngFor="let seperator of availableSeparators; trackBy: trackByFn"
          [value]="seperator.id"
          >{{ t(seperator.label) }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
