<div *transloco="let t; read: 'detailView.pricingDetails.rfqPositionDetails'">
  <ng-container *ngIf="rfqData">
    <div class="mt-4">
      <gq-kpi-status-card [title]="t('title')">
        <span *featureToggle="'refreshRfqData'" class="absolute right-4 top-5">
          <mat-icon
            *ngIf="rfqDataUpdateAvl; else isUpToDate"
            (click)="updateRfqData()"
            class="!w-4 !h-4 !text-[16px] cursor-pointer text-medium-emphasis hover:text-link"
            [matTooltip]="t('updateRfqData.tooltip')"
          >
            refresh</mat-icon
          >
          <ng-template #isUpToDate>
            <mat-icon
              class="!w-4 !h-4 !text-[16px] text-link"
              [matTooltip]="t('rfqDataUpToDate')"
              >check_circle</mat-icon
            >
          </ng-template>
        </span>
        <gq-label-text>
          <span label>{{ t('rfqNumber') }}</span>
          <span text>{{ rfqData.rfqId }}</span>
        </gq-label-text>
        <gq-label-text>
          <span label>{{ t('rfqType.title') }}</span>
          <span text>{{ t('rfqType.' + rfqData.type) }}</span>
        </gq-label-text>
        <gq-label-text>
          <span label>{{ t('rfqStatus.title') }}</span>
          <span text>{{ t('rfqStatus.' + rfqData.status) }}</span>
        </gq-label-text>
        <gq-label-text>
          <span label>{{ t('rfqCreatedOn') }}</span>
          <span text>{{ rfqData.createdOn | translocoDate }}</span>
        </gq-label-text>
        <gq-label-text>
          <span label>{{ t('rfqCreatedBy') }}</span>
          <span text>{{ rfqData.createdBy }}</span>
        </gq-label-text>
        <gq-label-text>
          <span label>{{ t('rfqPlant') }}</span>
          <span text>{{ rfqData.productionPlant | plantDisplay }}</span>
        </gq-label-text>
        <gq-label-text>
          <span label>{{ t('rfqSqv') }}</span>
          <span text>{{ rfqData.sqv | numberCurrency: currency }}</span>
        </gq-label-text>
      </gq-kpi-status-card>
    </div>
  </ng-container>
</div>
