<d360-styled-section
  [grow]="true"
  class="flex flex-col gap-4"
  *transloco="let t"
  [class.h-full]="!collapsedSection()"
>
  <div class="flex justify-between items-center">
    <h2 class="text-title-large">
      {{ t('sales_planning.planning_details.title') }}
    </h2>

    @if (!tableInFullscreen()) {
      <div class="flex">
        <button mat-icon-button (click)="toggleSection()">
          @if (collapsedSection()) {
            <mat-icon>keyboard_arrow_down</mat-icon>
          } @else {
            <mat-icon>keyboard_arrow_up</mat-icon>
          }
        </button>
      </div>
    }
  </div>

  <div [hidden]="collapsedSection()" class="h-full mt-4">
    <d360-frontend-table
      class="!flex flex-col w-full h-full"
      [config]="config()!"
      [getData]="getData$"
      [reload$]="reload$()"
    >
      <div toolbarRight class="flex items-center">
        <button
          [disabled]="!isCustomerSelected()"
          (click)="openComments()"
          mat-button
        >
          <mat-icon class="icon-button relative top-0.5">sms</mat-icon>
          {{ t('sales_planning.comments.button') }}
        </button>

        <button
          [disabled]="planningLevelMaterialConfiguration() === null"
          (click)="handlePlanningLevelModalClicked()"
          mat-button
        >
          <mat-icon class="icon-button">settings</mat-icon>
          {{ t('sales_planning.planning_details.planning_level') }}
        </button>

        <button
          [disabled]="!isCustomerSelected()"
          (click)="handleChartHistoryModalClicked()"
          mat-button
        >
          <mat-icon class="icon-button">history</mat-icon>
          {{ t('sales_planning.planning_details.change_history') }}
        </button>

        <button
          [disabled]="!isCustomerSelected()"
          (click)="toggleFullscreen()()"
          class="text-body-small"
          mat-icon-button
        >
          @if (tableInFullscreen()) {
            <mat-icon>fullscreen_exit</mat-icon>
          } @else {
            <mat-icon>fullscreen</mat-icon>
          }
        </button>
      </div>
    </d360-frontend-table>
  </div>
</d360-styled-section>
