@import 'lib/colors';

h2 {
  color: $schaeffler-black;
  margin: 0 0 14px 2px;
}

mat-icon {
  color: $schaeffler-gray-7;
}

.container {
  max-height: 240px;
  overflow-x: auto;
  overflow-y: hidden;

  .employee {
    width: 250px;
  }
}
