<div mat-dialog-title class="!flex flex-row" *ngIf="data?.headings?.header">
  <h6
    class="!mt-0 !mr-0 !mb-4 !ml-1 grow font-medium !text-high-emphasis"
    *transloco="let t; read: 'employeeListDialog'"
  >
    {{ data?.headings?.header }}
  </h6>
</div>
<mat-dialog-content
  class="!overflow-hidden"
  *transloco="let t; read: 'employeeListDialog'"
>
  <span
    *ngIf="!data.enoughRightsToShowAllEmployees && !data.employeesLoading"
    class="italic text-warning"
  >
    {{ t('enoughRightsToShowAllEmployees') }}
  </span>
  <h6
    *ngIf="data?.headings?.contentTitle"
    class="mt-0 mr-0 mb-2 ml-1 text-overline font-medium leading-3"
  >
    {{ data?.headings?.contentTitle }}
  </h6>
  <cdk-virtual-scroll-viewport itemSize="56" class="h-[400px] w-[500px]">
    <mat-list *ngIf="!data.employeesLoading; else loading">
      <ng-container
        *cdkVirtualFor="
          let employee of data.employees;
          let last = last;
          trackBy: trackByFn
        "
      >
        <mat-list-item class="!h-[120px]">
          <img
            matListAvatar
            src="assets/images/dummy.png"
            [alt]="employee.employeeName"
          />
          <div matLine class="!grid grid-cols-1 gap-2">
            <div>{{ employee.employeeName }}</div>
            <div class="flex">
              <label
                class="h-4 text-[12px] uppercase leading-4 text-medium-emphasis"
                >{{ t('orgUnit') }}:&nbsp;</label
              >
              <div class="text-[12px] leading-4 text-high-emphasis">
                {{ employee.orgUnit }}
              </div>
            </div>
            <div class="flex">
              <label
                class="h-4 text-[12px] uppercase leading-4 text-medium-emphasis"
                >{{ t('position') }}:&nbsp;</label
              >
              <div class="text-[12px] leading-4 text-high-emphasis">
                {{ employee.positionDescription }}
              </div>
            </div>
            <div class="flex">
              <label
                class="h-4 text-[12px] uppercase leading-4 text-medium-emphasis"
                >{{ t('username') }}:&nbsp;</label
              >
              <div class="text-[12px] leading-4 text-high-emphasis">
                {{ employee.username }}
              </div>
            </div>
          </div>
          <mat-chip-list
            *ngIf="showFluctuationType || employee.reasonForLeaving"
            class="mat-chip-list-stacked"
          >
            <mat-chip
              *ngIf="
                employee.actionType === actionType.INTERNAL &&
                showFluctuationType
              "
              disableRipple="true"
              selectable="false"
              class="!w-[100px] justify-center !bg-lime text-caption !text-high-emphasis-dark-bg after:!bg-transparent"
              [matTooltip]="t('fluctuationType.info')"
              (click)="$event.stopPropagation()"
            >
              {{ t('fluctuationType.internal.label') }}
            </mat-chip>
            <mat-chip
              *ngIf="
                employee.actionType === actionType.EXTERNAL &&
                showFluctuationType
              "
              disableRipple="true"
              selectable="false"
              class="!bg-light-blue !w-[100px] justify-center text-caption !text-high-emphasis-dark-bg after:!bg-transparent"
              [matTooltip]="t('fluctuationType.info')"
              (click)="$event.stopPropagation()"
            >
              {{ t('fluctuationType.external.label') }}
            </mat-chip>
            <mat-chip
              *ngIf="employee.reasonForLeaving"
              disableRipple="true"
              selectable="false"
              class="!w-[100px] justify-center text-caption !text-high-emphasis-dark-bg after:!bg-transparent"
              [ngClass]="{
                '!bg-gray-blue':
                  employee.reasonForLeaving === leavingType.FORCED,
                '!bg-sea-blue':
                  employee.reasonForLeaving === leavingType.UNFORCED,
                '!bg-teal': employee.reasonForLeaving === leavingType.REMAINING
              }"
              [matTooltip]="t('reasonForLeaving')"
              (click)="$event.stopPropagation()"
            >
              {{ employee.reasonForLeaving }}
            </mat-chip>
          </mat-chip-list>
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-container>
    </mat-list>
    <ng-template #loading>
      <schaeffler-loading-spinner
        [relative]="true"
        [diameter]="20"
        [strokeWidth]="2"
      ></schaeffler-loading-spinner>
    </ng-template>
  </cdk-virtual-scroll-viewport>
</mat-dialog-content>
<mat-dialog-actions align="end" *transloco="let t; read: 'employeeListDialog'">
  <p
    class="mr-auto text-caption"
    [ngClass]="{
      'text-low-emphasis': data.enoughRightsToShowAllEmployees,
      'text-warning': !data.enoughRightsToShowAllEmployees
    }"
    *ngIf="!data.employeesLoading"
  >
    {{
      t('total', {
        total: data.employees?.length
      })
    }}
  </p>
  <button mat-button mat-dialog-close color="primary">
    {{ t('close') | uppercase }}
  </button>
</mat-dialog-actions>
