<div mat-dialog-title class="!flex flex-row" *ngIf="data?.headings?.header">
  <h6 class="!mt-0 !mr-0 !mb-4 !ml-1 grow font-medium !text-high-emphasis">
    {{ data?.headings?.header }}
  </h6>
</div>
<mat-dialog-content class="!overflow-hidden">
  <h6
    *ngIf="data?.headings?.contentTitle"
    class="text-overline mt-0 mr-0 mb-2 ml-1 font-medium leading-3"
  >
    {{ data?.headings?.contentTitle }}
  </h6>
  <cdk-virtual-scroll-viewport itemSize="56" class="h-[400px] w-[300px]">
    <mat-list>
      <ng-container
        *cdkVirtualFor="
          let child of data.employees;
          let last = last;
          trackBy: trackByFn
        "
      >
        <mat-list-item>
          <img
            matListAvatar
            src="assets/images/dummy.png"
            [alt]="child.employeeName"
          />
          <p matLine>{{ child.employeeName }}</p>
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-container>
    </mat-list>
  </cdk-virtual-scroll-viewport>
</mat-dialog-content>
<mat-dialog-actions align="end" *transloco="let t; read: 'employeeListDialog'">
  <p class="mr-auto text-caption text-low-emphasis">
    {{
      t('total', {
        total: data.employees?.length
      })
    }}
  </p>
  <button mat-button mat-dialog-close color="primary">
    {{ t('close') | uppercase }}
  </button>
</mat-dialog-actions>
