<div
  fxLayout="column"
  class="mat-elevation-z12 additional-information-container"
  *transloco="let t; read: 'detail.bom.additionalInformation'"
>
  <div
    class="additional-information-title"
    fxLayout="row"
    fxLayoutAlign="start center"
    matRipple
    matRippleColor="primary"
    (click)="onClose()"
  >
    <mat-icon>close</mat-icon>
    <p>{{ t('title') }}</p>
  </div>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="{{ t('calculations') }}">
      <div class="table-container">
        <cdba-calculations-table
          minified="true"
          [rowData]="calculations$ | async"
          [selectedNodeId]="selectedCalculationNodeId$ | async"
          [isLoading]="calculationsLoading$ | async"
          [errorMessage]="calculationsErrorMessage$ | async"
          (selectionChange)="selectCalculation($event)"
        ></cdba-calculations-table>
      </div>
    </mat-tab>
    <mat-tab label="{{ t('chart') }}">
      <ng-container *ngIf="childrenOfSelectedBomItem$ | async as children">
        <cdba-bom-chart [data]="children"></cdba-bom-chart>
        <cdba-bom-legend [data]="children"></cdba-bom-legend>
         </ng-container
      >
      <cdba-loading-spinner
        *ngIf="bomLoading$ | async"
        show="true"
      ></cdba-loading-spinner>
    </mat-tab>
  </mat-tab-group>
</div>
