<div class="action-bar">
  <div class="flex flex-col gap-4 mb-3">
    <div class="flex justify-between items-center pt-4 flex-wrap">
      <!-- left side of buttons -->
      <ng-container
        *ngTemplateOutlet="buttons; context: { items: leftSide() }"
      />

      <!-- right side of buttons -->
      <ng-container
        *ngTemplateOutlet="buttons; context: { items: rightSide() }"
      />
    </div>
  </div>
</div>

<ng-template #buttons let-items="items">
  <div class="flex gap-3 flex-wrap" *transloco="let t">
    @for (item of items; track $index) {
      @switch (item.type) {
        <!-- icon-buttons -->
        @case ('icon-button') {
          <span [matTooltip]="t(item?.tooltip)">
            <button
              mat-icon-button
              (click)="item?.action()"
              [disabled]="item?.disabled ?? false"
              [class]="item?.class"
            >
              <mat-icon>{{ item?.icon }}</mat-icon>
            </button>
          </span>
        }

        <!-- flat-buttons -->
        @case ('flat-button') {
          <span [matTooltip]="t(item?.tooltip)">
            <button
              mat-flat-button
              (click)="item?.action()"
              [disabled]="item?.disabled ?? false"
              [class]="item?.class"
            >
              <mat-icon>{{ item?.icon }}</mat-icon>
              {{ t(item?.text) }}
            </button>
          </span>
        }

        <!-- vertical divider -->
        @case ('divider') {
          <mat-divider [vertical]="true" />
        }

        <!-- customer dropdown -->
        @case ('customer') {
          <d360-customer-dropdown
            className="md:w-96"
            [divider]="true"
            [control]="$any(formGroup.controls.customerControl)"
            [form]="formGroup"
            [optionsLoadingResult]="customerSelectableValues()"
            [customer]="selectedCustomer()"
            (selectionChange)="handleCustomerChange($event)"
            [disabled]="item?.disabled ?? false"
          />
        }

        <!-- filter validation -->
        @case ('filter') {
          <d360-filter-demand-validation
            (demandValidationFilterChange)="
              demandValidationFilterChange.emit($event)
            "
            [initial]="demandValidationFilters()"
            [disabled]="item?.disabled ?? false"
          />
        }

        <!-- date-filter -->
        @case ('date-filter') {
          <d360-menu-panel-button
            #dateButton
            icon="date_range"
            [disabled]="item?.disabled ?? false"
            [tooltip]="t('validation_of_demand.actionBar.selectDate')"
          >
            <d360-date-picker-setting-demand-validation-modal
              [data]="dateRange"
              (selectionChange)="onDateSelectionChange($event)"
              [close]="dateButton.closeMenu.bind(dateButton)"
            />
          </d360-menu-panel-button>
        }

        <!-- settings-filter -->
        @case ('settings') {
          <d360-menu-panel-button
            #settingsButton
            icon="settings"
            [disabled]="item?.disabled ?? false"
            [tooltip]="t('validation_of_demand.actionBar.settings')"
          >
            <d360-demand-validation-setting-modal
              [data]="planningView()"
              (selectionChange)="
                handleDemandValidationSettingsChange($event);
                settingsButton.closeMenu()
              "
              [close]="settingsButton.closeMenu.bind(settingsButton)"
            />
          </d360-menu-panel-button>
        }

        @default {}
      }
    }
  </div>
</ng-template>
