:host {
  .button-wrapper--outer {
    @apply py-4;

    &.not-in-view {
      .button-wrapper--inner {
        @apply fixed;
        @apply bottom-4;
        @apply left-5;

        cdba-excluded-calculations-button {
          display: none;
        }

        ::ng-deep {
          cdba-load-bom-button,
          cdba-compare-button {
            button:disabled {
              display: none;
            }
          }
        }
      }
    }
  }
}
