<div *transloco="let t">
  <h2 mat-dialog-title>
    {{
      t('validation_of_demand.filter.rootString', {
        count: data?.activeFilterFn(data.formGroup).toString()
      })
    }}
  </h2>

  <mat-dialog-content>
    <div class="grid grid-cols-1 xs:gap-1 md:gap-4">
      <d360-multi-autocomplete-on-type
        [autocompleteLabel]="
          t('validation_of_demand.filter.customerMaterialNumber')
        "
        [control]="$any(data.formGroup.get('customerMaterialNumber'))"
        [form]="data.formGroup"
        [searchControl]="searchCustomerMaterial"
        [getOptionLabelInTag]="displayFnId"
        [getOptionLabel]="displayFnId"
        urlBegin="global-selection/customer-material-numbers"
      />

      <d360-multi-autocomplete-pre-loaded
        [autocompleteLabel]="t('validation_of_demand.filter.product_line')"
        [control]="$any(data.formGroup.get('productLine'))"
        [form]="data.formGroup"
        [searchControl]="searchProductLine"
        [getOptionLabelInTag]="displayFnUnited"
        [getOptionLabel]="displayFnUnited"
        [optionsLoadingResult]="selectableOptionService.get('productLine')"
      />

      <d360-multi-autocomplete-on-type
        [autocompleteLabel]="t('validation_of_demand.filter.production_line')"
        [control]="$any(data.formGroup.get('productionLine'))"
        [form]="data.formGroup"
        [searchControl]="searchProductionLine"
        [getOptionLabelInTag]="displayFnId"
        [getOptionLabel]="displayFnId"
        urlBegin="global-selection/search-production-line"
      />

      <d360-multi-autocomplete-pre-loaded
        [autocompleteLabel]="t('validation_of_demand.filter.stochasticType')"
        [control]="$any(data.formGroup.get('stochasticType'))"
        [form]="data.formGroup"
        [searchControl]="searchStochasticType"
        [getOptionLabelInTag]="displayFnUnited"
        [getOptionLabel]="displayFnUnited"
        [optionsLoadingResult]="selectableOptionService.get('stochasticType')"
      />
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">
      {{ t('button.close') }}
    </button>

    <div class="flex-1"></div>

    <button mat-button (click)="handleReset()">
      {{ t('button.reset') }}
    </button>

    <button mat-flat-button color="primary" (click)="handleApplyFilter()">
      {{ t('button.load') }}
    </button>
  </mat-dialog-actions>
</div>
