@import 'libs/shared/ui/styles/src/lib/colors';
@import 'libs/shared/ui/styles/src/lib/mediaqueries';

:host {
  width: 100%;
}

.container {
  height: 100%;

  .cart-icon {
    color: $schaeffler-green-2;
    margin: 0 16px 0 0;
  }
}
