@import 'libs/shared/ui/styles/src/lib/colors';
@import 'libs/shared/ui/styles/src/lib/mediaqueries';

:host {
  width: 100%;
}

.container {
  height: 100%;

  @media screen and (max-width: $screen-sm-max) {
    margin: 30px 20px 0;
  }
}
