<ng-container *ngrxLet="fPricingData$ | ngrxPush as fPricingData">
  <ng-container *transloco="let t; read: 'fPricing.pricingAssistantModal'">
    <div class="flex flex-col h-full">
      <gq-pricing-assistant-header
        [material]="material"
        (closeDialog)="closeDialog()"
        (showMore)="showMore()"
      ></gq-pricing-assistant-header>
      <ng-container *ngIf="!(fPricingDataLoading$ | ngrxPush); else loading">
        <!-- content and possible overlays -->
        <div class="flex flex-col w-full h-full relative">
          <gq-overlay
            *ngIf="visibleOverlay === overlayToShowEnum.comparisonScreen"
          >
            <ng-container
              [ngTemplateOutlet]="comparisonScreenView"
            ></ng-container>
          </gq-overlay>

          <gq-overlay
            class="overflow-auto"
            *ngIf="visibleOverlay === overlayToShowEnum.manualPricing"
          >
            <ng-container [ngTemplateOutlet]="manualPricingView"></ng-container>
          </gq-overlay>

          <ng-container [ngTemplateOutlet]="gqPricingView"></ng-container>
        </div>

        <!--footer-->
        <ng-container
          *ngIf="visibleOverlay !== overlayToShowEnum.comparisonScreen"
        >
          <div class="flex flex-col">
            <div class="mb-4 mt-2 -mx-4 h-px bg-selected-overlay"></div>
            <div class="flex justify-start">
              <button
                color="primary"
                class="!mr-4 text-button font-medium"
                mat-raised-button
                [disabled]="!mvdTabActivated"
                (click)="confirm()"
              >
                {{ t('confirmButton') }}
              </button>
              <button
                color="primary"
                class="text-button font-medium"
                mat-stroked-button
                (click)="closeDialog()"
              >
                {{ t('cancelButton') }}
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <ng-template #priceButtons>
      <div class="flex flex-row justify-between w-full gap-3 py-4">
        <gq-price-button
          class="w-full"
          [priceLabelKey]="'gqPriceLabel'"
          [priceValue]="45.12"
          [currency]="fPricingData?.currency"
          [gpmValue]="12.45"
          [icon]="'warning_amber'"
          [iconColor]="'text-error'"
          [isSelected]="dialogData.priceSource === priceSourceEnum.GQ"
          [isActiveInDialog]="visibleOverlay === overlayToShowEnum.gqPricing"
          (priceButtonClicked)="gqPriceClicked()"
        ></gq-price-button>

        <ng-container *ngIf="showAddManualPriceButton">
          <gq-price-button
            class="w-full"
            [isAddPriceButton]="true"
            (addPriceButtonClicked)="manualPriceClicked()"
          ></gq-price-button>
        </ng-container>
        <ng-container *ngIf="!showAddManualPriceButton">
          <gq-price-button
            class="w-full"
            [priceLabelKey]="'manualPriceLabel'"
            [priceValue]="manualPriceData.quotationDetail.price"
            [gpmValue]="manualPriceData.quotationDetail.gpm"
            [currency]="fPricingData?.currency"
            [isSelected]="isInitiallyManualPrice"
            [isActiveInDialog]="
              visibleOverlay === overlayToShowEnum.manualPricing
            "
            (priceButtonClicked)="manualPriceClicked()"
          ></gq-price-button>
        </ng-container>
      </div>
    </ng-template>

    <ng-template #gqPricingView>
      <ng-container [ngTemplateOutlet]="priceButtons"></ng-container>
      <mat-card appearance="outlined" class="h-full">
        <div class="flex flex-col h-full">
          <gq-pricing-results
            [price]="24.23"
            [currency]="fPricingData?.currency"
            [gpm]="12.4"
            [confidence]="2"
          ></gq-pricing-results>
          <gq-pricing-tabs-wrapper
            class="h-full"
            [currency]="fPricingData?.currency"
            [referencePrice]="fPricingData?.referencePrice"
            [marketValueDriversValue]="63.23"
            [marketValueDriverWarning]="
              fPricingData?.marketValueDriverWarningLevel
            "
            [marketValueDriverData]="fPricingData?.marketValueDriversDisplay"
            [technicalValueDriversValue]="12.23"
            [technicalValueDriversTableItems]="
              fPricingData?.technicalValueDriversForDisplay
            "
            [sanityCheckValue]="0"
            [finalPrice]="2013.45"
            [referencePriceRowData]="
              fPricingData?.comparableTransactionsForDisplay
            "
            [comparableTransactionsLoading]="
              comparableTransactionsLoading$ | ngrxPush
            "
            [comparableTransactionsAvailable]="
              fPricingData?.comparableTransactionsAvailable
            "
            (comparedMaterialClicked)="onComparedMaterialClicked($event)"
            (marketValueDriverTabActivated)="mvdTabClicked()"
          ></gq-pricing-tabs-wrapper>
        </div>
      </mat-card>
    </ng-template>

    <ng-template #comparisonScreenView>
      <div class="pt-3">
        <gq-product-comparison
          [referenceMaterialDescription]="material?.materialDescription"
          [comparedMaterialDescription]="materialToCompare"
          [materialInformation]="fPricingFacade.materialInformation$ | ngrxPush"
          (closeView)="backToGqPricingPage()"
        ></gq-product-comparison>
      </div>
    </ng-template>

    <ng-template #manualPricingView>
      <div class="flex flex-col manual-pricing-view">
        <ng-container [ngTemplateOutlet]="priceButtons"></ng-container>
        <gq-price-editing-modal
          class="px-2"
          [modalData]="manualPriceData"
          [isDialog]="false"
          (affectedKpiOutput)="manualPriceChanged($event)"
          [warningTemplate]="warningTemplate"
        ></gq-price-editing-modal>
      </div>
    </ng-template>

    <ng-template #loading>
      <schaeffler-loading-spinner></schaeffler-loading-spinner>
    </ng-template>

    <ng-template #warningTemplate>
      <div class="flex flex-col gap-4">
        <gq-info-banner
          [infoText]="
            t('manualPrice.warningText', {
              value: manualPriceData.quotationDetail.price,
              currency: fPricingData?.currency
            })
          "
        ></gq-info-banner>

        <mat-form-field class="w-full" appearance="outline">
          <mat-label>{{ t('manualPrice.commentLabel') }}</mat-label>
          <textarea
            matInput
            class="h-20 max-h-32 !leading-6"
            formControlName="comment"
            type="text"
            maxlength="200"
            #comment
          ></textarea>
          <mat-hint align="end"> {{ comment.value.length }} / 200</mat-hint>
        </mat-form-field>
      </div>
    </ng-template>
  </ng-container>
</ng-container>
