<ng-container *ngrxLet="fPricingData$ | ngrxPush as fPricingData">
  <ng-container
    *transloco="
      let t;
      scope: 'f-pricing';
      read: 'fPricing.pricingAssistantModal'
    "
  >
    <div class="flex flex-col h-full w-full">
      <gq-pricing-assistant-header
        [material]="material"
        (closeDialog)="closeDialog()"
        (showMore)="showMore()"
      ></gq-pricing-assistant-header>
      @if (!(fPricingDataLoading$ | ngrxPush)) {
        <!-- content and possible overlays -->
        <div class="flex flex-col w-full h-full relative">
          <ng-container [ngTemplateOutlet]="gqPricingView"></ng-container>
          <ng-container [ngTemplateOutlet]="manualPricingView"></ng-container>
        </div>
        <!--footer-->
        @if (visibleOverlay !== overlayToShowEnum.comparisonScreen) {
          <div class="flex flex-col">
            <div class="mb-4 mt-2 -mx-4 h-px bg-selected-overlay"></div>
            <div class="flex justify-start">
              @if (visibleOverlay === overlayToShowEnum.gqPricing) {
                <ng-container
                  [ngTemplateOutlet]="gqPricingConfirmButton"
                ></ng-container>
              }
              @if (visibleOverlay === overlayToShowEnum.manualPricing) {
                <ng-container
                  [ngTemplateOutlet]="manualConfirmButton"
                ></ng-container>
              }
              <button
                color="primary"
                class="text-button font-medium"
                mat-stroked-button
                (click)="closeDialog()"
              >
                {{ t('cancelButton') }}
              </button>
            </div>
          </div>
        }
      } @else {
        <schaeffler-loading-spinner></schaeffler-loading-spinner>
      }
    </div>

    <!-- templates -->
    <!--confirmButtons-->
    <ng-template #manualConfirmButton>
      <button
        color="primary"
        class="!mr-4 text-button font-medium"
        mat-raised-button
        [disabled]="manualPriceConfirmButtonDisabled"
        (click)="confirmManualPrice()"
      >
        {{ t('confirmButton') }}
      </button>
    </ng-template>
    <ng-template #gqPricingConfirmButton>
      <button
        color="primary"
        class="!mr-4 text-button font-medium"
        mat-raised-button
        [disabled]="gqPricingConfirmButtonDisabled"
        (click)="confirmGqPrice()"
      >
        {{ t('confirmButton') }}
      </button>
    </ng-template>
    <ng-template #priceButtons>
      <div class="flex flex-row justify-between w-full gap-3 py-4">
        <gq-price-button
          class="w-full"
          [priceLabelKey]="'gqPriceLabel'"
          [priceValue]="45.12"
          [currency]="fPricingData?.currency"
          [gpmValue]="12.45"
          [icon]="'warning_amber'"
          [iconColor]="'text-error'"
          [isSelected]="dialogData.priceSource === priceSourceEnum.GQ"
          [isActiveInDialog]="visibleOverlay === overlayToShowEnum.gqPricing"
          (priceButtonClicked)="gqPriceClicked()"
        ></gq-price-button>

        @if (showAddManualPriceButton) {
          <gq-price-button
            class="w-full"
            [isAddPriceButton]="true"
            (addPriceButtonClicked)="manualPriceClicked()"
          ></gq-price-button>
        }
        @if (!showAddManualPriceButton) {
          <gq-price-button
            class="w-full"
            [priceLabelKey]="'manualPriceLabel'"
            [priceValue]="manualPriceToDisplay"
            [gpmValue]="manualPriceGPMToDisplay"
            [currency]="fPricingData?.currency"
            [isSelected]="isInitiallyManualPrice"
            [isActiveInDialog]="
              visibleOverlay === overlayToShowEnum.manualPricing
            "
            (priceButtonClicked)="manualPriceClicked()"
          ></gq-price-button>
        }
      </div>
    </ng-template>

    <ng-template #gqPricingView>
      <div
        class="gq-pricing-view"
        [ngClass]="{
          hidden: visibleOverlay !== overlayToShowEnum.gqPricing,
          'flex flex-col h-full': visibleOverlay === overlayToShowEnum.gqPricing
        }"
      >
        <ng-container [ngTemplateOutlet]="priceButtons"></ng-container>
        <mat-card
          appearance="outlined"
          class="h-full"
          [ngClass]="
            visibleOverlay !== overlayToShowEnum.gqPricing
              ? 'collapse'
              : 'visible'
          "
        >
          <div class="flex flex-col h-full">
            <gq-pricing-results
              [price]="24.23"
              [currency]="fPricingData?.currency"
              [gpm]="12.4"
              [confidence]="2"
            ></gq-pricing-results>
            <gq-pricing-tabs-wrapper
              class="h-full"
              [currency]="fPricingData?.currency"
              [referencePrice]="fPricingData?.referencePrice"
              [marketValueDriversValue]="
                fPricingData?.marketValueDriversAbsoluteValue
              "
              [marketValueDriverWarning]="
                fPricingData?.marketValueDriverWarningLevel
              "
              [marketValueDriverData]="fPricingData?.marketValueDriversDisplay"
              [technicalValueDriversValue]="
                fPricingData?.technicalValueDriversAbsoluteValue
              "
              [technicalValueDriversTableItems]="
                fPricingData?.technicalValueDriversForDisplay
              "
              [sanityChecksTableItems]="fPricingData?.sanityChecksForDisplay"
              [sanityCheckValue]="fPricingData?.sanityCheckValue"
              [finalPrice]="2013.45"
              [referencePriceRowData]="
                fPricingData?.comparableTransactionsForDisplay
              "
              [comparableTransactionsLoading]="
                comparableTransactionsLoading$ | ngrxPush
              "
              [comparableTransactionsAvailable]="
                fPricingData?.comparableTransactionsAvailable
              "
              (comparedMaterialClicked)="onComparedMaterialClicked($event)"
              (marketValueDriverTabActivated)="mvdTabClicked()"
            ></gq-pricing-tabs-wrapper>
          </div>
        </mat-card>
      </div>
    </ng-template>

    <ng-template #comparisonScreenView>
      <div class="pt-3">
        <gq-product-comparison
          [referenceMaterialDescription]="material?.materialDescription"
          [comparedMaterialDescription]="materialToCompare"
          [materialInformation]="fPricingFacade.materialInformation$ | ngrxPush"
          (closeView)="backToGqPricingPage()"
        ></gq-product-comparison>
      </div>
    </ng-template>

    <ng-template #manualPricingView>
      <div
        class="flex flex-col manual-pricing-view"
        [ngClass]="{
          hidden: visibleOverlay !== overlayToShowEnum.manualPricing
        }"
      >
        <ng-container [ngTemplateOutlet]="priceButtons"></ng-container>
        <gq-price-editing-modal
          class="px-2"
          [modalData]="manualPriceData"
          [isDialog]="false"
          (affectedKpiOutput)="manualPriceChanged($event)"
          (isButtonDisabled)="manualPriceButtonDisabled($event)"
          [warningTemplate]="warningTemplate"
        ></gq-price-editing-modal>
      </div>
    </ng-template>

    <ng-template #warningTemplate>
      <div class="flex flex-col gap-4">
        <gq-info-banner
          [infoText]="
            t('manualPrice.warningText', {
              value: manualPriceData.quotationDetail.price,
              currency: fPricingData?.currency
            })
          "
        ></gq-info-banner>

        <mat-form-field class="w-full" appearance="outline">
          <mat-label>{{ t('manualPrice.commentLabel') }}</mat-label>
          <textarea
            matInput
            class="h-20 max-h-32 !leading-6"
            formControlName="comment"
            type="text"
            maxlength="200"
            #comment
          ></textarea>
          <mat-hint align="end"> {{ comment.value.length }} / 200</mat-hint>
        </mat-form-field>
      </div>
    </ng-template>
  </ng-container>
</ng-container>
