<div class="flex flex-col h-full">
  <d360-customer-selection
    class="mb-4"
    [class.show-animation]="tableInFullscreen() === false"
    [class.hide-animation]="tableInFullscreen() === true"
    (onCustomerSelectionChange)="customer.set($event)"
  />

  <d360-customer-sales-plan-chart
    class="mb-4"
    [class.show-animation]="tableInFullscreen() === false"
    [class.hide-animation]="tableInFullscreen() === true"
    [customer]="customer()"
  />

  <d360-customer-planning-details
    class="contents"
    [class.h-full]="tableInFullscreen()"
    [customer]="customer()"
    [tableInFullscreen]="tableInFullscreen()"
    [toggleFullscreen]="toggleTableFullscreen.bind(this)"
  />
</div>
