<div fxLayout="column" fxLayoutAlign="space-around start">
  <div class="dropzone-container">
    <schaeffler-file-drop
      multiple="false"
      [accept]="['.docx', '.pdf', '.txt']"
      (filesAdded)="uploadFile($event)"
    >
    </schaeffler-file-drop>
  </div>
  <label
    class="dropzone-information"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <mat-icon class="icon icon-toast-information"></mat-icon>
    <span class="max"
      >Maximum file size: <b>10 MB</b>. Supported file types:
      <b>.txt, .docx</b> and <b>.pdf</b>. Supported languages:
      <b>{{ supportedLanguages }}</b></span
    >
  </label>

  <div fxLayout="row" fxLayoutAlign="center" *ngIf="fileStatus" class="m-t-20">
    <mat-icon
      class="icon file-icon"
      [fontIcon]="fileStatus.fileName | fileTypeToIcon"
    >
    </mat-icon>
    <span class="file-name">
      {{ fileStatus.fileName }}
    </span>
    <mat-icon
      class="icon"
      *ngIf="fileStatus.success !== undefined"
      [ngClass]="{
        'icon-toast-success': fileStatus.success,
        'icon-toast-error': !fileStatus.success
      }"
    ></mat-icon>
  </div>
</div>
