@import 'libs/shared/styles/src/lib/colors';
@import 'libs/shared/styles/src/lib/helpers';

.dropzone-container {
  margin-top: 30px;
  width: 100%;
}

.dropzone-information {
  margin-top: 10px;

  .icon-toast-information {
    &:before {
      color: $schaeffler-blue;
    }
  }

  .max {
    line-height: 20px;
  }
}

.icon::before {
  font-size: 20px;
}

.icon-toast-success {
  color: $schaeffler-green-1;
  padding-left: 12px;
}

.icon-toast-error {
  color: $schaeffler-red;
  padding-left: 12px;
}

.file-name {
  line-height: 24px;
}

.file-icon,
.file-name {
  color: $schaeffler-carbon-gray;
}
