<div class="page-container">
  <h1>Question Answering</h1>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <div class="mat-elevation-z8 background-white" fxFlex="100%">
      <mat-tab-group
        dynamicHeight="true"
        [selectedIndex]="selectedTabIndex$ | async"
        (selectedIndexChange)="setSelectedTabIndex($event)"
      >
        <mat-tab label="Text Input">
          <div class="main-container">
            <sta-text-input
              (textUpdate)="storeTextInput($event)"
              [showSubmitButton]="false"
              [defaultText]="
                (textInput$ | async).text
                  ? (textInput$ | async).text
                  : demoTextEn
              "
              textHint="German or English text only."
              minLength="0"
              [showTargetLanguage]="false"
            >
            </sta-text-input>
          </div>
        </mat-tab>
        <mat-tab label="File Upload">
          <div class="main-container">
            <sta-file-upload
              (fileUploaded)="storeFile($event)"
              [fileStatus]="fileStatus$ | async"
              supportedLanguages="English"
            ></sta-file-upload>
            <div
              *ngIf="
                (questionAndAnsweringDataForFile$ | async).input?.textInput &&
                (questionAndAnsweringDataForFile$ | async).success &&
                (questionAndAnsweringDataForFile$ | async).conversation.length >
                  0 &&
                (questionAndAnsweringDataForFile$ | async).conversation[
                  (questionAndAnsweringDataForFile$ | async).conversation
                    .length - 1
                ].answer
              "
            >
              <h3 class="headline">
                This text passage might be interesting for you
              </h3>
              <p class="text-passage">
                "...{{ getFileAnswerTextBeforeAnswer() }}
                <span class="highlight-text">
                  {{ getHighlightedAnswer() }}
                </span>
                {{ getFileAnswerTextAfterAnswer() }}..."
              </p>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
