<div
  class="flex h-full min-h-[46px] w-full flex-row justify-center"
  *transloco="let t; read: 'materialsSupplierDatabase.status'"
>
  <ng-container *ngrxLet="navigation$ as navigation">
    <mat-chip-list
      class="h-full min-h-[46px] w-full"
      *ngIf="status !== statusType.DEFAULT"
    >
      <mat-chip
        class="!mt-4 !h-6 !min-h-0 !bg-opacity-5 text-caption text-[8px] font-bold text-opacity-95"
        [ngClass]="{
          '!bg-error !text-error': status === statusType.BLOCKED,
          '!bg-nordic-blue !text-info': status === statusType.CHANGED
        }"
        [disableRipple]="true"
        [matTooltip]="
          t('tooltip.' + status, {
            instance: t('instance.' + navigation.navigationLevel)
          })
        "
      >
        {{ t('statusValues.' + status) | uppercase }}
      </mat-chip>
    </mat-chip-list>
  </ng-container>
</div>
