@if (params.kpiEntry) {
  <div class="header-div" (click)="handleHeaderClick()">
    @if (
      params.kpiEntry.bucketType === 'WEEK' ||
      params.kpiEntry.bucketType === 'PARTIAL_WEEK'
    ) {
      <div class="header-wrapper">
        <span>{{
          getWeekHeader(params.kpiEntry.fromDate, params.kpiEntry.bucketType)
        }}</span>
        <!--        TODO check if format is ok and week starts on monday for every locale-->
        <span>{{ params.kpiEntry.fromDate | translocoDate }}</span>
      </div>
    } @else {
      <!--      TODO check if this is necessary and if format is ok-->
      {{ params.kpiEntry.fromDate | translocoDate }}
    }
  </div>
}
