:host {
  ::ng-deep {
    .ag-header {
      border-bottom-width: 0px;

      .ag-header-cell {
        &:hover {
          background-color: rgba(0, 0, 0, 0) !important;
        }

        .ag-header-cell-label {
          justify-content: center;
        }
      }
    }

    .ag-row {
      border-width: 0px;
      border-top-width: 1px;
    }
  }
}
