<div
  *transloco="let t; read: 'detailView.pricingDetails.productionCostDetails'"
>
  <div *ngrxLet="customerCurrency$ as currency">
    <div *ngIf="quotationDetail">
      <p>
        <span class="label">{{ t('gpc') }}: </span>
        <span
          >{{ (quotationDetail.gpc | number: '.2-2') || '-' }}
          {{ currency }}</span
        >
      </p>
      <p>
        <span class="label">{{ t('sqv') }}: </span>
        <span
          >{{ (quotationDetail.sqv | number: '.2-2') || '-' }}
          {{ currency }}</span
        >
      </p>
      <p>
        <span class="label">{{ t('productionPlant') }}: </span>
        <span> {{ quotationDetail.productionPlant | plantDisplay }}</span>
      </p>
    </div>
  </div>
</div>
