<ng-container *transloco="let t; read: 'parameters'">
  <div class="flex h-full flex-col">
    <schaeffler-subheader
      class="-ml-4"
      [showBackButton]="true"
      [title]="(selectedBearing$ | ngrxPush) || 'Title'"
      [hideLine]="true"
      (backButtonClicked)="navigateBack()"
    >
      <!-- TODO: enable again -->
      <!-- <ng-container content>
        <div class="flex flex-col">
          <div class="flex flex-row">
            <span class="text-subtitle-1">some bearing description</span>
          </div>
          <div class="flex flex-row">
            <span class="text-subtitle-1">some more bearing description</span>
          </div>
          <div class="flex flex-row -ml-4 -mt-1">
            <button
              mat-button
              color="primary"
              [disableRipple]="true"
              class="focus:outline-none tracking-wider uppercase"
            >
              {{ t('showDetails') }}
            </button>
          </div>
        </div>
      </ng-container> -->
    </schaeffler-subheader>
    <div class="flex flex-col gap-5 pt-2 md:flex-row md:gap-16">
      <div class="flex max-w-sm grow flex-col">
        <div class="mb-4 flex flex-row items-center justify-between">
          <h5>{{ t('loads') }}</h5>
          <span
            class="text-caption font-medium tracking-wide text-low-emphasis"
            >{{ t('requiredInformation') }}</span
          >
        </div>
        <ng-container *ngIf="this.exact.value; else exactValuesUnknown">
          <ga-input
            *ngIf="radialLoadPossible$ | ngrxPush"
            [control]="radial"
            [label]="t('radialLoad')"
            [unit]="t('loadUnit')"
            [tooltipText]="t('tooltip.radialLoad')"
            [placeholder]="t('pleaseEnter', { label: t('radialLoad') })"
            [onlyPositive]="true"
          ></ga-input>
          <ga-input
            *ngIf="axialLoadPossible$ | ngrxPush"
            [control]="axial"
            [label]="t('axialLoad')"
            [unit]="t('loadUnit')"
            [tooltipText]="t('tooltip.axialLoad')"
            [placeholder]="t('pleaseEnter', { label: t('axialLoad') })"
            [onlyPositive]="true"
          ></ga-input>
          <div class="-ml-4 -mt-3 flex flex-row">
            <button
              mat-button
              color="primary"
              [disableRipple]="true"
              class="uppercase tracking-wider focus:outline-none"
              (click)="toggleLoadsType()"
            >
              {{ t('loadsUnknown') }}
            </button>
          </div>
        </ng-container>
        <ng-template #exactValuesUnknown>
          <ga-select
            [control]="loadRatio"
            [label]="t('load')"
            [options]="loadRatioOptions"
          ></ga-select>
          <div class="-ml-4 -mt-3 flex flex-row">
            <button
              mat-button
              color="primary"
              [disableRipple]="true"
              class="uppercase tracking-wider focus:outline-none"
              (click)="toggleLoadsType()"
            >
              {{ t('enterRadialAndAxialLoad') }}
            </button>
          </div>
        </ng-template>
      </div>
      <div class="flex max-w-sm grow flex-col">
        <div class="mb-4 flex flex-row items-center justify-between">
          <h5>{{ t('motionInfluences') }}</h5>
        </div>
        <ga-select
          [control]="type"
          [label]="t('kindOfMotion')"
          [options]="typeOptions"
        ></ga-select>
        <ng-container *ngIf="selectedMovementType$ | ngrxPush">
          <ga-input
            *ngIf="
              (selectedMovementType$ | ngrxPush) === movement.rotating;
              else oscillatingFields
            "
            [control]="rotationalSpeed"
            [label]="t('relativeRotationalSpeed')"
            [unit]="t('onePerMinute')"
            [tooltipText]="t('tooltip.rotationSpeed')"
            [placeholder]="
              t('pleaseEnter', { label: t('relativeRotationalSpeed') })
            "
            [onlyPositive]="true"
          ></ga-input>
        </ng-container>

        <ng-template #oscillatingFields>
          <ga-input
            [control]="shiftFrequency"
            [label]="t('shiftFrequency')"
            [unit]="t('onePerMinute')"
            [tooltipText]="t('tooltip.shiftFrequency')"
            [placeholder]="t('pleaseEnter', { label: t('shiftFrequency') })"
            [onlyPositive]="true"
          ></ga-input>
          <ga-input
            [control]="shiftAngle"
            [label]="t('shiftAngle')"
            [unit]="t('degree')"
            [tooltipText]="t('tooltip.shiftAngle')"
            [placeholder]="t('pleaseEnter', { label: t('shiftAngle') })"
            [onlyPositive]="true"
          ></ga-input>
        </ng-template>
      </div>
      <div class="flex max-w-sm grow flex-col">
        <div class="mb-4 flex flex-row items-center justify-between">
          <h5>{{ t('otherInfluences') }}</h5>
        </div>
        <ga-input
          [control]="operatingTemperature"
          [label]="t('operatingTemperature')"
          [unit]="t('degreeCelsius')"
          [customErrors]="operatingTemperatureErrors"
          [tooltipText]="t('tooltip.operatingTemperature')"
        ></ga-input>
        <ga-input
          [control]="environmentTemperature"
          [label]="t('environmentTemperature')"
          [unit]="t('degreeCelsius')"
          [tooltipText]="t('tooltip.environmentTemperature')"
        ></ga-input>
        <ga-select
          [control]="environmentImpact"
          [label]="t('environmentalImpactOnGreaseDuration')"
          [options]="environmentImpactOptions"
          [tooltipText]="t('tooltip.otherInfluences')"
        ></ga-select>
      </div>
    </div>
    <div class="flex flex-1 flex-col place-content-end gap-2">
      <button
        mat-raised-button
        color="primary"
        class="w-full"
        (click)="completeStep()"
        [disabled]="form.invalid || (parameterUpdating$ | ngrxPush)"
      >
        <div class="flex items-center justify-center">
          {{ t('showResults') }}
          <div
            *ngIf="!form.invalid && (parameterUpdating$ | ngrxPush)"
            class="pl-2"
          >
            <mat-spinner diameter="20"></mat-spinner>
          </div>
        </div>
      </button>
      <button mat-flat-button class="w-full" (click)="resetForm()">
        {{ t('resetInputs') }}
      </button>
    </div>
  </div>
</ng-container>
