<div *transloco="let t; read: 'detailView.pricingDetails.supplyChainDetails'">
  <div *ngIf="quotationDetail">
    <p>
      <span class="label">{{ t('supplyPlant') }}: </span>
      <span>{{ quotationDetail.plant | plantDisplay }}</span>
    </p>
    <p>
      <span class="label">{{ t('productionPlant') }}: </span>
      <span>
        {{ quotationDetail.productionPlant | plantDisplay }}
      </span>
    </p>
    <p>
      <span class="label">{{ t('productionPlantRlt') }}: </span
      ><span>{{ quotationDetail.rlt || '-' }}</span>
    </p>
  </div>
</div>
