@if (params?.kpiEntry) {
  <div class="header-div" (click)="handleHeaderClick()">
    @if (
      params?.kpiEntry?.bucketType === KpiBucketTypeEnum.WEEK ||
      params?.kpiEntry?.bucketType === KpiBucketTypeEnum.PARTIAL_WEEK
    ) {
      <div class="header-wrapper">
        <span>{{
          getWeekHeader(
            params?.kpiEntry?.fromDate,
            params?.kpiEntry?.bucketType
          )
        }}</span>
        <span>{{
          getDate(params?.kpiEntry?.fromDate, params?.kpiEntry?.bucketType)
        }}</span>
      </div>
    } @else {
      {{ getDate(params?.kpiEntry?.fromDate, params?.kpiEntry?.bucketType) }}
    }
  </div>
}
