<form [formGroup]="inputForm" *transloco="let t; read: 'ltp'">
  <mat-accordion displayMode="flat" multi="true">
    <ng-container
      *ngFor="let controlGroup of inputCategories; trackBy: trackByFn"
    >
      <mat-expansion-panel
        class="mat-elevation-z0"
        [disabled]="controlGroup.alwaysVisible"
        [expanded]="controlGroup.alwaysVisible"
        [hideToggle]="controlGroup.alwaysVisible"
        [ngClass]="{ 'panel-always-visible': controlGroup.alwaysVisible }"
      >
        <mat-expansion-panel-header>
          <div class="flex flex-row place-items-center justify-between">
            <span class="text-body-1 font-semibold">{{
              t(controlGroup.name)
            }}</span>
            <mac-tooltip
              (click)="$event.stopPropagation()"
              [content]="t(controlGroup.description)"
              manualcolor="#1d9bb2"
              icon="info"
            ></mac-tooltip>
          </div>
        </mat-expansion-panel-header>
        <div class="flex flex-col px-6">
          <mat-slide-toggle
            *ngIf="controlGroup.name === 'HV'"
            color="primary"
            [checked]="material"
            (change)="material = $event.source.checked"
          >
            {{ t('HV_FROM_PLS_DATA') }}
          </mat-slide-toggle>
          <mac-ltp-material
            *ngIf="dropdownHardness(controlGroup.name)"
          ></mac-ltp-material>
          <ng-container *ngIf="sliderHardness(controlGroup.name)">
            <div
              *ngFor="let control of controlGroup.controls; trackBy: trackByFn"
              class="input-control"
            >
              <mac-ltp-slider
                [control]="control"
                *ngIf="isSlider(control)"
              ></mac-ltp-slider>
              <mac-ltp-select
                [control]="control"
                *ngIf="isSelect(control)"
              ></mac-ltp-select>
              <mac-ltp-toggle
                [control]="control"
                *ngIf="isToggle(control)"
              ></mac-ltp-toggle>
            </div>
          </ng-container>
        </div>
        <!-- <mac-ltp-limits
            *ngIf="controlGroup.name == 'hv'"
            [hv]="(predictionRequest | ngrxPush).hv"
            [hv_lower]="(predictionRequest | ngrxPush).hv_lower"
            [hv_upper]="(predictionRequest | ngrxPush).hv_upper"
            (adjust)="adjustLimits($event)"
          ></mac-ltp-limits> -->
      </mat-expansion-panel>
      <mat-divider
        *ngIf="!controlGroup.alwaysVisible"
        [inset]="true"
      ></mat-divider>
    </ng-container>
  </mat-accordion>
</form>
