@import 'libs/shared/ui/styles/src/lib/colors';
@import 'libs/shared/ui/styles/src/lib/fonts';

mat-card {
  margin: 20px 5px 20px 10px;
}
mat-card-title {
  color: $schaeffler-carbon-gray;
  font-size: $schaeffler-h5;
  font-weight: bold;
}
