<div *transloco="let t; read: 'detailView.filterPricing'">
  <mat-card>
    <mat-card-title> {{ t('manualPrice.title') }} </mat-card-title>
    <gq-manual-price
      [manualPricePermission]="manualPricePermission$ | ngrxPush"
      [currentPrice]="(selectedQuotationDetail$ | ngrxPush)?.price"
      (selectManualPrice)="selectManualPrice($event)"
    ></gq-manual-price>
  </mat-card>
  <mat-card *ngIf="(selectedQuotationDetail$ | ngrxPush).recommendedPrice">
    <mat-card-title> {{ t('gqPrice.title') }} </mat-card-title>
    <gq-price
      [quotationDetail]="selectedQuotationDetail$ | ngrxPush"
      (selectManualPrice)="selectManualPrice($event)"
    >
    </gq-price>
  </mat-card>
</div>
