<div *transloco="let t; read: 'detailView.filterPricing'">
  <mat-card>
    <mat-card-title> {{ t('title') }} </mat-card-title>
    <mat-card-content>
      <div fxLayout="row">
        <div fxFlex="70%" fxLayoutAlign="center start">
          <mat-form-field appearance="outline">
            <mat-label> {{ t('label') }} </mat-label>
            <input
              [formControl]="manualPriceFormControl"
              (keydown)="onKeyPress($event, manualPrice)"
              (paste)="onPaste($event)"
              class="input-field"
              type="number"
              #manualPrice
              matInput
            />
            <mat-hint
              class="noPermission"
              [ngClass]="{
                noPermission: manualPricePermission
              }"
            >
              {{ t(!manualPricePermission ? 'hint' : 'noPermissionHint') }}
            </mat-hint>
          </mat-form-field>
        </div>
        <div fxFlex="30%">
          <button
            mat-raised-button
            color="primary"
            class="select"
            (click)="selectPrice()"
            [disabled]="manualPricePermission || !manualPriceFormControl.value"
          >
            <mat-icon>check_circle</mat-icon>
            {{ t('selected') | uppercase }}
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
