<mac-base-dialog
  *transloco="let t; read: 'materialsSupplierDatabase.mainTable.dialog'"
  [txtTitle]="title"
  [txtCancel]="t('cancel')"
  [txtConfirm]="
    isEditDialog() && !isCopyDialog()
      ? t('updateManufacturerSupplier')
      : t('addManufacturerSupplier')
  "
  [isAddDialog]="isCopyDialog() || !isEditDialog()"
  [valid]="createMaterialForm.valid"
  (accept)="confirmMaterial($event)"
  (minimize)="minimizeDialog()"
  (cancel)="cancelDialog()"
>
  <div class="flex flex-col gap-y-3">
    @if (!(dialogLoading$ | ngrxPush) && !(editLoading$ | ngrxPush)) {
      <div class="flex flex-row gap-x-6">
        <mac-manufacturer-supplier
          class="w-full"
          [editable]="isEditDialog() || isCopyDialog()"
          [manufacturerSupplierIdControl]="manufacturerSupplierIdControl"
          [supplierControl]="supplierControl"
          [supplierPlantControl]="supplierPlantControl"
          [supplierCountryControl]="supplierCountryControl"
          macMaterialDialogBasePart
        ></mac-manufacturer-supplier>
      </div>
      @if (isManufacturerControl.enabled) {
        <div class="-ml-2 flex flex-row gap-x-6">
          <mat-checkbox
            class="text-caption text-high-emphasis"
            [formControl]="isManufacturerControl"
            name="manufacturer"
            #dialogControl
          >
            {{ t('manufacturer') }}
          </mat-checkbox>
        </div>
      }
      <div class="flex flex-row gap-x-6">
        <schaeffler-select
          appearance="outline"
          class="w-1/2"
          [multiple]="true"
          [stringOptions]="businessPartnerIds$ | ngrxPush"
          [control]="supplierBusinessPartnerIdsControl"
          [filterFn]="filterFn"
          [label]="t('businessPartnerIds')"
          [addEntry]="true"
          (entryAdded)="addSupplierBusinessPartnerId($event)"
          name="businessPartnerIds"
          #dialogControl
        >
          @if (supplierBusinessPartnerIdsControl.invalid) {
            <span matErrorContent class="text-caption">
              {{ supplierBusinessPartnerIdsControl.errors | errorMessage }}
            </span>
          }
        </schaeffler-select>
      </div>
    }
  </div>
</mac-base-dialog>
