<mat-card
  *transloco="let t; read: 'conditionMonitoring.shaft'"
  class="full-height-card"
>
  <mat-card-header>
    <mat-card-title>{{ t('title') }} </mat-card-title>
    <mat-card-subtitle>
      {{ shaftTimeStamp$ | ngrxPush }} | {{ t('updateFrequency') }}:
      {{ refresh }}s
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div
      echarts
      [options]="chartOptions"
      [merge]="shaftLatestGraphData$ | ngrxPush"
      class="shaft-chart"
    ></div>
  </mat-card-content>
  <mat-card-actions *transloco="let t; read: 'overview'">
    <button (click)="navigateToGreaseStatus()" mat-button color="primary">
      {{ t('details') }}
    </button>
  </mat-card-actions>
</mat-card>
