<ng-container *ngIf="!(loading$ | ngrxPush); else loading">
  <mat-card
    *transloco="let t; read: 'conditionMonitoring.shaft'"
    class="flex flex-col h-full overflow-y-scroll"
  >
    <mat-card-header class="w-full">
      <mat-card-title>
        <div class="inline-flex items-center justify-between w-full">
          <div class="inline-flex items-center">
            <mat-icon>speed</mat-icon>
            <span>{{ t('title') }}</span>
          </div>
          <button
            mat-icon-button
            class="hover:bg-hoverOverlay transition-colors"
          >
            <mat-icon (click)="openMoreInfo()" class="text-mediumEmphasis"
              >more_vert</mat-icon
            >
          </button>
        </div>
      </mat-card-title>
      <mat-card-subtitle class="card-subtitle">
        <div class="flex flex-col">
          <span>
            {{
              (shaftTimeStamp$ | ngrxPush) || t('noTimestampAvailable')
            }}</span
          >
          <span> {{ t('updateFrequency') }}: {{ refresh }}s</span>
        </div>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="flex flex-col items-center">
        <div class="gauge_title">
          <span>{{ t('title') }}</span>
        </div>
        <div
          echarts
          [options]="chartOptions"
          [merge]="shaftLatestGraphData$ | ngrxPush"
          class="flex dashboard-echart"
        ></div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #loading>
  <mat-card class="full-height-card placeholder-item"></mat-card>
</ng-template>
