<div
  class="flex h-full w-full flex-col bg-surface"
  *transloco="let t; read: 'portfolioAnalysis'"
>
  <schaeffler-subheader
    [breadcrumbs]="breadcrumbs$ | ngrxPush"
    [truncateBreadcrumbsAfter]="4"
  >
    <div class="flex items-center gap-3" subheaderTitleContent>
      <div>{{ t('title') }}</div>
      <cdba-beta-feature-badge
        [emailAddress]="emailAddress"
        class="block leading-[0]"
      ></cdba-beta-feature-badge>
    </div>
  </schaeffler-subheader>
  <div class="grow">
    <div class="py-4">
      <cdba-portfolio-analysis-chart
        [productCostAnalyses]="productCostAnalyses$ | ngrxPush"
      ></cdba-portfolio-analysis-chart>
      <div class="pl-5 pr-[75px]">
        <cdba-portfolio-analysis-table
          [productCostAnalyses]="productCostAnalyses$ | ngrxPush"
        ></cdba-portfolio-analysis-table>
      </div>
    </div>
  </div>
</div>
