<div class="mb-4">
  <h2 class="text-title-large">
    {{ headline() }}
  </h2>
</div>
<ag-grid-angular
  class="ag-theme-material grow"
  [headerHeight]="0"
  [gridOptions]="gridOptions"
  [columnDefs]="columnDefs"
  [localeText]="agGridLocalizationService.lang()"
  [context]="context"
  (gridReady)="onGridReady($event)"
  (paginationChanged)="onDataUpdated()"
  [noRowsOverlayComponent]="NoDataOverlayComponent"
  [noRowsOverlayComponentParams]="noOverlayMessage"
  [getRowId]="getRowId"
  [rowStyle]="rowStyles"
  [loading]="isLoading$ | ngrxPush"
/>
