<div
  class="mt-6 flex w-fit flex-row items-center rounded-md border-[1px] py-3 px-3"
  [ngClass]="
    (isWarning
      ? 'border-warning bg-warning-container'
      : 'border-info bg-info-container') + (isFullWidth ? ' w-full' : '')
  "
>
  <mat-icon
    class="mr-4 align-middle"
    [ngClass]="isWarning ? '!text-icon-warning' : '!text-icon-info'"
    [ngStyle]="{ overflow: 'unset' }"
    >warning_amber</mat-icon
  >
  <div
    class="text-caption"
    [ngClass]="
      isWarning ? '!text-on-warning-container' : '!text-on-info-container'
    "
  >
    {{ infoText }}
  </div>
</div>
