<ng-container *transloco="let t; read: 'detail.detailTab.pcmCalculations'">
  <ng-container
    *ngIf="
      priceDetails?.pcmCalculations && priceDetails?.pcmCalculations.length;
      else noPcmCalculations
    "
  >
    <div
      class="grid max-h-[175px] grid-cols-4 gap-0 overflow-hidden overflow-y-auto text-caption text-high-emphasis"
    >
      <ng-container *ngFor="let header of headers; let i = index">
        <div
          class="sticky top-0 flex items-center justify-between bg-primary-variant px-2 py-3"
          [ngClass]="{ 'border-l border-border': i > 0 }"
        >
          {{ t(header.label + '.label') }}
          <mat-icon
            *ngIf="header.hint"
            class="!h-[auto] !w-[auto] cursor-help !text-[14px]"
            matTooltip="{{
              t(header.label + '.hint', { currency: priceDetails?.currency })
            }}"
            matTooltipPosition="above"
            >info_outline</mat-icon
          >
        </div>
      </ng-container>
      <ng-container *ngFor="let pcmCalculation of priceDetails.pcmCalculations">
        <div class="border-t border-border px-2 py-3">
          {{
            pcmCalculation.date
              | translocoDate: { year: '2-digit' }
              | undefinedAttributeFallback
          }}
        </div>
        <div class="border-t border-l border-border px-2 py-3">
          {{
            pcmCalculation.cost
              | translocoDecimal: { minimumFractionDigits: 3 }
              | undefinedAttributeFallback
          }}
        </div>
        <div class="border-t border-l border-border px-2 py-3">
          {{
            pcmCalculation.quantity
              | translocoDecimal
              | undefinedAttributeFallback
          }}
        </div>
        <div class="border-t border-l border-border px-2 py-3">
          {{
            pcmCalculation.toolingCost
              | translocoDecimal: { maximumFractionDigits: 0 }
              | undefinedAttributeFallback
          }}
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #noPcmCalculations>
    <div class="p-4 pt-0 text-caption text-high-emphasis">
      {{ t('noCalculations') }}
    </div>
  </ng-template>
</ng-container>
