<ng-container *transloco="let t; read: 'detail.detailTab.pcmCalculations'">
  @if (priceDetails?.pcmCalculations && priceDetails?.pcmCalculations.length) {
    <div
      class="grid max-h-[175px] grid-cols-4 gap-0 overflow-hidden overflow-y-auto text-caption text-high-emphasis"
    >
      @for (header of headers; track header; let i = $index) {
        <div
          class="sticky top-0 flex items-center justify-between bg-primary-variant px-2 py-3"
          [ngClass]="{ 'border-l border-border': i > 0 }"
        >
          {{ t(header.label + '.label') }}
          @if (header.hint) {
            <mat-icon
              class="!h-[auto] !w-[auto] cursor-help !text-[14px]"
              matTooltip="{{
                t(header.label + '.hint', { currency: priceDetails?.currency })
              }}"
              matTooltipPosition="above"
              >info_outline</mat-icon
            >
          }
        </div>
      }
      @for (
        pcmCalculation of priceDetails.pcmCalculations;
        track pcmCalculation
      ) {
        <div class="border-t border-border px-2 py-3">
          {{
            pcmCalculation.date
              | translocoDate: { year: '2-digit' }
              | undefinedAttributeFallback
          }}
        </div>
        <div class="border-t border-l border-border px-2 py-3">
          {{
            pcmCalculation.cost
              | translocoDecimal: { minimumFractionDigits: 3 }
              | undefinedAttributeFallback
          }}
        </div>
        <div class="border-t border-l border-border px-2 py-3">
          {{
            pcmCalculation.quantity
              | translocoDecimal
              | undefinedAttributeFallback
          }}
        </div>
        <div class="border-t border-l border-border px-2 py-3">
          {{
            pcmCalculation.toolingCost
              | translocoDecimal: { maximumFractionDigits: 0 }
              | undefinedAttributeFallback
          }}
        </div>
      }
    </div>
  } @else {
    <div class="p-4 pt-0 text-caption text-high-emphasis">
      {{ t('noCalculations') }}
    </div>
  }
</ng-container>
