<ng-container *ngIf="parentForm">
  <mat-form-field *ngIf="supportedSourceLanguages" [formGroup]="parentForm">
    <mat-label
      ><span *ngIf="parentForm.get('detectedLanguage').valid"
        >Language detected</span
      ><span *ngIf="!parentForm.get('detectedLanguage').valid"
        >Detect Language</span
      ></mat-label
    >
    <span matPrefix>
      <mat-icon>{{ detectLanguageIcon.icon }}</mat-icon
      >&nbsp;
    </span>
    <mat-select formControlName="detectedLanguage">
      <mat-option
        *ngFor="let lang of supportedSourceLanguages"
        [value]="lang.key"
        [disabled]="disabledLanguages.indexOf(lang.key) !== -1"
      >
        {{ lang.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="showTargetLanguage" [formGroup]="parentForm">
    <mat-label> Target Language</mat-label>
    <span matPrefix>
      <mat-icon>{{ flagIcon.icon }}</mat-icon
      >&nbsp;
    </span>
    <mat-select formControlName="targetLanguage">
      <mat-option
        *ngFor="let lang of supportedTargetLanguages"
        [value]="lang.key"
        [disabled]="disabledLanguages.indexOf(lang.key) !== -1"
      >
        {{ lang.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
