<div *ngIf="quotationDetail">
  <gq-manual-price
    [userHasManualPriceRole]="userHasManualPriceRole$ | ngrxPush"
    [quotationDetail]="quotationDetail"
    [currency]="customerCurrency$ | ngrxPush"
    (selectManualPrice)="selectManualPrice($event)"
    [isLoading]="updateIsLoading$ | ngrxPush"
    [userHasGPCRole]="userHasGPCRole$ | ngrxPush"
  ></gq-manual-price>

  <gq-price
    *ngIf="quotationDetail?.recommendedPrice"
    [quotationDetail]="quotationDetail"
    [currency]="customerCurrency$ | ngrxPush"
    (selectManualPrice)="selectManualPrice($event)"
    [isLoading]="updateIsLoading$ | ngrxPush"
    [userHasGPCRole]="userHasGPCRole$ | ngrxPush"
  >
  </gq-price>
</div>
