<div>
  <gq-manual-price
    [manualPricePermission]="manualPricePermission$ | ngrxPush"
    [currentPrice]="(selectedQuotationDetail$ | ngrxPush)?.price"
    [priceUnit]="(selectedQuotationDetail$ | ngrxPush)?.material.priceUnit"
    (selectManualPrice)="selectManualPrice($event)"
    [isLoading]="updateIsLoading$ | ngrxPush"
  ></gq-manual-price>

  <gq-price
    *ngIf="(selectedQuotationDetail$ | ngrxPush)?.recommendedPrice"
    [quotationDetail]="selectedQuotationDetail$ | ngrxPush"
    (selectManualPrice)="selectManualPrice($event)"
    [isLoading]="updateIsLoading$ | ngrxPush"
  >
  </gq-price>
</div>
