<div *ngIf="quotationDetail">
  <gq-manual-price
    [userHasManualPriceRole]="rolesFacade.userHasManualPriceRole$ | ngrxPush"
    [quotationDetail]="quotationDetail"
    [currency]="quotationCurrency$ | ngrxPush"
    (selectManualPrice)="selectPrice($event)"
    [isLoading]="updateIsLoading$ | ngrxPush"
    [userHasGPCRole]="rolesFacade.userHasGPCRole$ | ngrxPush"
    [userHasSQVRole]="rolesFacade.userHasSQVRole$ | ngrxPush"
  ></gq-manual-price>

  <gq-price
    *ngIf="quotationDetail?.recommendedPrice"
    [quotationDetail]="quotationDetail"
    [currency]="quotationCurrency$ | ngrxPush"
    (selectGqPrice)="selectPrice($event)"
    [isLoading]="updateIsLoading$ | ngrxPush"
    [userHasGPCRole]="rolesFacade.userHasGPCRole$ | ngrxPush"
    [userHasSQVRole]="rolesFacade.userHasSQVRole$ | ngrxPush"
    [isDisabled]="!(quotationIsActive$ | ngrxPush)"
    [isDetailsButtonVisible]="
      rolesFacade.userHasAccessToComparableTransactions$ | ngrxPush
    "
  >
  </gq-price>

  <gq-sap-price
    *ngIf="quotationDetail?.sapPrice"
    [quotationDetail]="quotationDetail"
    [currency]="quotationCurrency$ | ngrxPush"
    (selectSapPrice)="selectPrice($event)"
    [isLoading]="updateIsLoading$ | ngrxPush"
    [userHasGPCRole]="rolesFacade.userHasGPCRole$ | ngrxPush"
    [userHasSQVRole]="rolesFacade.userHasSQVRole$ | ngrxPush"
    [isDisabled]="!(quotationIsActive$ | ngrxPush)"
  >
  </gq-sap-price>

  <gq-target-price
    *ngIf="quotationDetail?.targetPrice"
    [quotationDetail]="quotationDetail"
    [currency]="quotationCurrency$ | ngrxPush"
    [isLoading]="updateIsLoading$ | ngrxPush"
    [isDisabled]="
      !(quotationIsActive$ | ngrxPush) ||
      !(rolesFacade.userHasManualPriceRole$ | ngrxPush)
    "
    (targetPriceSelected)="selectPrice($event)"
  >
  </gq-target-price>
</div>
