<ng-container *transloco="let t">
  @if (gridApi) {
    <!-- table tool bar -->
    <d360-table-toolbar [rowCount]="rowCount()" [grid]="gridApi">
      <span class="mx-2">|</span>

      <!-- Row expansion toggle -->
      <div class="text-body-medium capitalize">
        @if (showChains) {
          {{ t('customer_material_portfolio.toolbar.collapseAll', {}) }}
        } @else {
          {{ t('customer_material_portfolio.toolbar.expandAll', {}) }}
        }
        <mat-slide-toggle
          class="ml-1"
          [checked]="showChains"
          (change)="handleExpandAllChange($event)"
        />
      </div>
    </d360-table-toolbar>
  }

  <!-- table -->
  <ag-grid-angular
    #customerPortfolioGrid
    class="ag-theme-material h-full"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [treeData]="true"
    [getRowId]="getRowIdFn"
    [isServerSideGroup]="getServerSideGroup"
    [isServerSideGroupOpenByDefault]="getServerSideGroupOpenByDefault"
    [getServerSideGroupKey]="getServerSideGroupKey"
    [localeText]="agGridLocalizationService.lang()"
    (firstDataRendered)="onFirstDataRendered($event)"
    [context]="context"
    [components]="components"
  />
</ng-container>
