<div *transloco="let t">
  <app-table-toolbar [rowCount]="rowCount" [grid]="gridApi">
    <div>
      {{ t('customer_material_portfolio.toolbar.collapseAll', {}) }}
      <mat-slide-toggle
        [checked]="showChains"
        color=""
        (change)="handleExpandAllChange($event)"
      ></mat-slide-toggle>
      {{ t('customer_material_portfolio.toolbar.expandAll', {}) }}
    </div>
  </app-table-toolbar>
  <app-styled-grid-section>
    <ag-grid-angular
      #customerPortfolioGrid
      class="ag-theme-material"
      [gridOptions]="gridOptions"
      (gridReady)="onGridReady($event)"
      [columnDefs]="columnDefs"
      [autoGroupColumnDef]="autoGroupColumnDef"
      [treeData]="true"
      [getRowId]="getRowIdFn"
      [isServerSideGroup]="getServerSideGroup"
      [isServerSideGroupOpenByDefault]="getServerSideGroupOpenByDefault"
      [getServerSideGroupKey]="getServerSideGroupKey"
      [localeText]="agGridLocalizationService.lang()"
      (firstDataRendered)="onFirstDataRendered($event)"
    >
    </ag-grid-angular>
  </app-styled-grid-section>
</div>
