<d360-backend-table
  *transloco="let t"
  [config]="config()!"
  [getData]="getData$"
  (getGridApi)="gridApi = $event"
  [dataFetchedEvent$]="dataFetchedEvent$"
  [reload$]="reload$()"
>
  <!-- Row expansion toggle -->
  <div class="text-body-medium capitalize flex items-center">
    <span>
      {{ t('customer_material_portfolio.toolbar.showPredecessors') }}
    </span>
    <mat-slide-toggle
      class="ml-1"
      [checked]="showChains"
      (change)="handleExpandAllChange($event)"
    />
  </div>
</d360-backend-table>
