<div
  class="text-caption hidden h-full items-center text-center font-medium md:flex md:!pl-4"
  *ngrxLet="simulationModeEnabled$ as simulationModeEnabled"
  [ngClass]="{ 'bg-secondary-900': simulationModeEnabled }"
>
  <div
    class="flex"
    *transloco="let t; read: 'shared.customStatusBar.totalRowCount'"
  >
    <div *ngIf="totalRowCount" class="flex flex-col">
      <span
        class="text-left"
        [ngClass]="
          simulationModeEnabled
            ? 'text-medium-emphasis-dark-bg'
            : 'text-low-emphasis'
        "
      >
        {{ t('total') }}:</span
      >
      <span
        class="text-high-emphasis text-left"
        [ngClass]="
          simulationModeEnabled
            ? 'text-high-emphasis-dark-bg '
            : 'text-high-emphasis'
        "
      >
        {{ totalRowCount }}</span
      >
    </div>
    <div class="ml-4 flex flex-col">
      <span
        class="text-left"
        [ngClass]="
          simulationModeEnabled
            ? 'text-medium-emphasis-dark-bg'
            : 'text-low-emphasis'
        "
      >
        {{ t('selected') }}:</span
      >
      <span
        class="text-left"
        [ngClass]="
          simulationModeEnabled
            ? 'text-high-emphasis-dark-bg '
            : 'text-high-emphasis-emphasis'
        "
      >
        {{ selectedRowCount }}</span
      >
    </div>
  </div>
</div>
