<div
  class="text-body-small hidden h-full items-center text-center font-medium md:flex md:!pr-4"
  *ngrxLet="simulationModeEnabled$ as simulationModeEnabled"
  [ngClass]="{ 'bg-inverse-surface': simulationModeEnabled }"
>
  <div
    class="flex"
    *transloco="let t; read: 'shared.customStatusBar.totalRowCount'"
  >
    <ng-container *ngrxLet="totalRowCount$ as totalRowCount">
      <div class="flex flex-col">
        <span
          class="text-left"
          [ngClass]="
            simulationModeEnabled
              ? 'text-inverse-on-surface opacity-[0.38]'
              : 'text-on-surface opacity-[0.38]'
          "
        >
          {{ t('total') }}:</span
        >
        <span
          class="text-left"
          [ngClass]="
            simulationModeEnabled
              ? 'text-inverse-on-surface'
              : 'text-on-surface'
          "
        >
          {{ totalRowCount$ | ngrxPush }}</span
        >
      </div>
    </ng-container>

    <ng-container *ngrxLet="selectedRowCount$ as selectedRowCount">
      <div class="ml-4 flex flex-col">
        <span
          class="text-left"
          [ngClass]="
            simulationModeEnabled
              ? 'text-inverse-on-surface opacity-[0.38]'
              : 'text-on-surface opacity-[0.38]'
          "
        >
          {{ t('selected') }}:</span
        >
        <span
          class="text-left"
          [ngClass]="
            simulationModeEnabled
              ? 'text-inverse-on-surface'
              : 'text-on-surface'
          "
        >
          {{ selectedRowCount }}</span
        >
      </div>
    </ng-container>

    <div class="ml-4 flex flex-col">
      <span
        class="text-left"
        [ngClass]="
          simulationModeEnabled
            ? 'text-inverse-on-surface opacity-[0.38]'
            : 'text-on-surface opacity-[0.38]'
        "
      >
        {{ t('filtered') }}:</span
      >
      <span
        class="text-left"
        [ngClass]="
          simulationModeEnabled ? 'text-inverse-on-surface' : 'text-on-surface'
        "
      >
        {{ filteredRowCount }}</span
      >
    </div>
  </div>
</div>
