<form
  [formGroup]="materialForm"
  class="flex flex-col"
  *transloco="let t; read: 'ltp'"
>
  <mat-form-field class="flex">
    <mat-label>{{ t('material') }}</mat-label>
    <mat-select
      [formControl]="materialForm.controls.materialControl"
      name="material"
    >
      <mat-option
        *ngFor="
          let materialOption of materialOptions | ngrxPush;
          trackBy: trackByFn
        "
        [value]="materialOption"
      >
        {{ materialOption }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="flex">
    <mat-label>{{ t('heatTreatment') }}</mat-label>
    <mat-select
      [formControl]="materialForm.controls.heatTreatmentControl"
      name="heatTreatment"
    >
      <mat-option
        *ngFor="
          let heatTreatmentOption of heatTreatmentOptions | ngrxPush;
          trackBy: trackByFn
        "
        [value]="heatTreatmentOption"
        [disabled]="heatTreatmentOption.disabled"
      >
        {{ heatTreatmentOption.heatTreatment }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>
    {{ t('hv') }}:&nbsp;
    <b *ngIf="materialForm.controls.heatTreatmentControl.value">
      {{ materialForm.controls.heatTreatmentControl.value.hardness }}
    </b>
  </p>
</form>
