<mat-sidenav-container
  hasBackdrop="false"
  autosize="true"
  class="h-full w-full"
>
  <mat-sidenav
    #additionalInformation
    mode="over"
    position="end"
    [autoFocus]="false"
    class="w-[500px]"
  >
    <cdba-bom-overlay (closeOverlay)="additionalInformation.close()">
      <ng-container calculations>
        <cdba-calculations-table
          [minified]="true"
          [rowData]="calculations$ | ngrxPush"
          [selectedNodeIds]="selectedCalculationNodeId$ | ngrxPush"
          [isLoading]="calculationsLoading$ | ngrxPush"
          [errorMessage]="calculationsErrorMessage$ | ngrxPush"
          (selectionChange)="selectCalculation($event)"
        ></cdba-calculations-table>
      </ng-container>
      <ng-container chart>
        <ng-container *ngIf="childrenOfSelectedBomItem$ | ngrxPush as children">
          <cdba-bom-chart [data]="children"></cdba-bom-chart>
          <cdba-bom-legend
            *ngIf="children.length > 0"
            [data]="children"
          ></cdba-bom-legend>
           
        </ng-container>
        <cdba-loading-spinner
          *ngIf="bomLoading$ | ngrxPush"
          [show]="true"
        ></cdba-loading-spinner>
      </ng-container>
    </cdba-bom-overlay>
  </mat-sidenav>

  <mat-sidenav-content>
    <div *transloco="let t; read: 'shared.bom'" class="flex h-full flex-col">
      <div class="flex justify-between bg-surface">
        <div>
          <h6 class="mb-2 text-medium-emphasis">
            {{
              materialDesignation$
                | ngrxPush
                | scrambleMaterialDesignation: index || 0
            }}
          </h6>
          <div *ngrxLet="selectedCalculation$; let calculation">
            <div class="mr-4 inline-block text-body-2">
              <span class="mr-2 inline-block text-medium-emphasis"
                >{{ t('costType') }}:</span
              >
              <span class="inline-block min-w-[38px]">{{
                calculation?.costType
              }}</span>
            </div>
            <div class="inline-block text-body-2">
              <span class="mr-2 inline-block text-medium-emphasis"
                >{{ t('calculationDate') }}:</span
              >
              <span>{{ calculation?.calculationDate | translocoDate }}</span>
            </div>
          </div>
        </div>
        <div>
          <button
            mat-raised-button
            (click)="additionalInformation.open()"
            class="!mr-4"
          >
            <mat-icon>bar_chart</mat-icon>
            {{ t('additionalInformation.title') }}
          </button>
          <button mat-icon-button [matMenuTriggerFor]="additionalFunctionality">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #additionalFunctionality="matMenu">
            <button
              mat-menu-item
              [disabled]="
                (bomLoading$ | ngrxPush) ||
                (bomErrorMessage$ | ngrxPush) !== undefined
              "
              (click)="exportBomAsExcelFile()"
            >
              <mat-icon>file_download</mat-icon>
              <span>{{ t('additionalFunctionality.excelExport') }}</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="flex-1">
        <cdba-bom-table
          [index]="index"
          [rowData]="bomItems$ | ngrxPush"
          [isLoading]="bomLoading$ | ngrxPush"
          [errorMessage]="bomErrorMessage$ | ngrxPush"
          (rowSelected)="selectBomItem($event)"
          (gridReady)="onGridReady($event)"
        ></cdba-bom-table>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
