@import 'libs/shared/ui/styles/src/lib/colors';
@import 'libs/shared/ui/styles/src/lib/ghost-animation.scss';

:host {
  height: 100%;
  width: 100%;

  .card-container {
    height: 100%;

    mat-card {
      height: 100%;
      width: 100%;

      .mat-card-inner {
        height: 100%;
        width: 100%;
      }
    }

    .bom-overlay-sidenav {
      width: 500px;
    }
  }
}

.bom-overlay {
  margin-left: auto;
}

h6 {
  height: 24px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 0;
}

.subcaption {
  label {
    font-size: 14px;
    line-height: 20px;
  }

  div {
    font-size: 14px;
    line-height: 20px;
    margin-right: 32px;
  }
}

.table-container {
  height: 100%;
}

.ghost-line {
  height: 20px;
  @include animate-ghost-line;
}
