<mat-sidenav-container
  hasBackdrop="false"
  autosize="true"
  class="card-container"
>
  <mat-sidenav
    #additionalInformation
    mode="over"
    open="false"
    position="end"
    class="bom-overlay-sidenav"
  >
    <cdba-bom-overlay (closeOverlay)="additionalInformation.close()">
      <ng-container calculations>
        <cdba-calculations-table
          [minified]="true"
          [rowData]="calculations$ | ngrxPush"
          [selectedNodeIds]="selectedCalculationNodeId$ | ngrxPush"
          [isLoading]="calculationsLoading$ | ngrxPush"
          [errorMessage]="calculationsErrorMessage$ | ngrxPush"
          (selectionChange)="selectCalculation($event)"
        ></cdba-calculations-table>
      </ng-container>
      <div chart>
        <ng-container *ngIf="childrenOfSelectedBomItem$ | ngrxPush as children">
          <cdba-bom-chart [data]="children"></cdba-bom-chart>
          <cdba-bom-legend
            *ngIf="children.length > 0"
            [data]="children"
          ></cdba-bom-legend>
           </ng-container
        >
        <cdba-loading-spinner
          *ngIf="bomLoading$ | ngrxPush"
          [show]="true"
        ></cdba-loading-spinner>
      </div>
    </cdba-bom-overlay>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card>
      <div
        class="mat-card-inner"
        fxLayout="column"
        *transloco="let t; read: 'shared.bom'"
      >
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxLayout="column">
            <h6 class="font-body text-light">
              {{ materialDesignation$ | ngrxPush }}
            </h6>
            <div
              class="subcaption"
              fxLayout="row wrap"
              *ngrxLet="selectedCalculation$; let calculation"
            >
              <label>{{ t('costType') }}:&nbsp;</label>
              <div
                class="w-10"
                [class.ghost-line]="calculationsLoading$ | ngrxPush"
              >
                {{ calculation?.costType }}
              </div>
              <label>{{ t('calculationDate') }}:&nbsp;</label>
              <div
                [class.ghost-line]="calculationsLoading$ | ngrxPush"
                [class.w-20]="calculationsLoading$ | ngrxPush"
              >
                {{
                  calculation?.calculationDate | date: 'shortDate':'':'de-DE'
                }}
              </div>
            </div>
          </div>
          <div class="bom-overlay">
            <button
              class="!text-button"
              mat-raised-button
              (click)="additionalInformation.open()"
            >
              <mat-icon>bar_chart</mat-icon>
              {{ t('additionalInformation.title') }}
            </button>
            <button
              mat-icon-button
              [matMenuTriggerFor]="additionalFunctionality"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #additionalFunctionality="matMenu">
              <button
                mat-menu-item
                [disabled]="
                  (bomLoading$ | ngrxPush) ||
                  (bomErrorMessage$ | ngrxPush) !== undefined
                "
                (click)="exportBomAsExcelFile()"
              >
                <mat-icon>file_download</mat-icon>
                <span>{{ t('additionalFunctionality.excelExport') }}</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="table-container">
          <cdba-bom-table
            [rowData]="bomItems$ | ngrxPush"
            [isLoading]="bomLoading$ | ngrxPush"
            [errorMessage]="bomErrorMessage$ | ngrxPush"
            (rowSelected)="selectBomItem($event)"
            (gridReady)="onGridReady($event)"
          ></cdba-bom-table>
        </div>
      </div>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
