<mat-sidenav-container
  hasBackdrop="false"
  autosize="true"
  class="h-full w-full"
>
  <mat-sidenav
    #additionalInformation
    mode="over"
    position="end"
    [autoFocus]="false"
    [(opened)]="showSidenavContent"
    [cdbaResizableWidth]="true"
    resizableAlignment="right"
  >
    <cdba-bom-overlay (closeOverlay)="additionalInformation.close()">
      <ng-container calculations>
        @if (showSidenavContent) {
          <cdba-calculations-table
            [minified]="true"
            [rowData]="calculations$ | ngrxPush"
            [selectedNodeIds]="selectedCalculationNodeId$ | ngrxPush"
            [isLoading]="calculationsLoading$ | ngrxPush"
            [errorMessage]="calculationsErrorMessage$ | ngrxPush"
            (selectionChange)="selectCalculation($event)"
          ></cdba-calculations-table>
        }
      </ng-container>
      @if (!(bomLoading$ | ngrxPush)) {
        <ng-container chart>
          @if (showSidenavContent) {
            <cdba-bom-chart
              [data]="childrenOfSelectedBomItem$ | ngrxPush"
              [materialDesignation]="materialDesignation"
              [selectedBomItem]="selectedBomItem"
              [selectedCalculation]="selectedCalculation"
            ></cdba-bom-chart>
          }
          @if ((childrenOfSelectedBomItem$ | ngrxPush)?.length > 0) {
            <cdba-bom-legend
              [data]="childrenOfSelectedBomItem$ | ngrxPush"
            ></cdba-bom-legend>
          }
        </ng-container>
      } @else {
        @if (bomLoading$ | ngrxPush) {
          <cdba-loading-spinner [show]="true"></cdba-loading-spinner>
        }
      }
      @if (!(bomLoading$ | ngrxPush)) {
        <ng-container costElements>
          @if (showSidenavContent) {
            <cdba-cost-elements-table
              [index]="index"
              [isLoading]="costComponentSplitLoading$ | ngrxPush"
              [errorMessage]="costComponentSplitErrorMessage$ | ngrxPush"
              [costElementsData]="costComponentSplitItems$ | ngrxPush"
              [costElementsSummary]="costComponentSplitSummary$ | ngrxPush"
              [materialDesignation]="materialDesignation"
              [selectedBomItem]="selectedBomItem"
              [selectedCalculation]="selectedCalculation"
            ></cdba-cost-elements-table>
          }
        </ng-container>
      } @else {
        @if (bomLoading$ | ngrxPush) {
          <cdba-loading-spinner [show]="true"></cdba-loading-spinner>
        }
      }
      @if (!(bomLoading$ | ngrxPush)) {
        <ng-container rawMaterialAnalysis>
          @if (showSidenavContent) {
            <cdba-raw-material-analysis-table
              [isLoading]="bomLoading$ | ngrxPush"
              [rawMaterialAnalysisData]="rawMaterialAnalysis$ | ngrxPush"
              [rawMaterialAnalysisSummary]="
                rawMaterialAnalysisSummary$ | ngrxPush
              "
              [materialDesignation]="materialDesignation"
              [selectedBomItem]="selectedBomItem"
              [selectedCalculation]="selectedCalculation"
            ></cdba-raw-material-analysis-table>
          }
        </ng-container>
      } @else {
        @if (bomLoading$ | ngrxPush) {
          <cdba-loading-spinner [show]="true"></cdba-loading-spinner>
        }
      }
    </cdba-bom-overlay>
  </mat-sidenav>

  <mat-sidenav-content>
    <div *transloco="let t; read: 'shared.bom'" class="flex h-full flex-col">
      <div class="flex justify-between bg-surface">
        <div>
          <h6 class="mb-2 text-medium-emphasis">
            {{
              materialDesignation$
                | ngrxPush
                | scrambleMaterialDesignation: index || 0
            }}
          </h6>
          <div *ngrxLet="selectedCalculation$; let calculation">
            <div class="mr-4 inline-block text-body-2">
              <span class="mr-2 inline-block text-medium-emphasis"
                >{{ t('costType') }}:</span
              >
              <span class="inline-block min-w-[38px]">{{
                calculation?.costType
              }}</span>
            </div>
            <div class="inline-block text-body-2">
              <span class="mr-2 inline-block text-medium-emphasis"
                >{{ t('calculationDate') }}:</span
              >
              <span>{{ calculation?.calculationDate | translocoDate }}</span>
            </div>
          </div>
        </div>
        <div class="flex items-center">
          <button
            mat-stroked-button
            (click)="additionalInformation.open()"
            class="!mr-4"
            color="primary"
          >
            {{ t('additionalInformation.title') }}
          </button>
          <button mat-icon-button [matMenuTriggerFor]="additionalFunctionality">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu
            xPosition="before"
            yPosition="below"
            #additionalFunctionality="matMenu"
          >
            <button
              mat-menu-item
              [disabled]="
                (bomLoading$ | ngrxPush) ||
                (bomErrorMessage$ | ngrxPush) !== undefined
              "
              (click)="exportBomAsExcelFile()"
            >
              <mat-icon>file_download</mat-icon>
              <span>{{ t('additionalFunctionality.excelExport') }}</span>
            </button>
            <button
              mat-menu-item
              [disabled]="
                (bomLoading$ | ngrxPush) ||
                (bomErrorMessage$ | ngrxPush) !== undefined
              "
              (click)="expandAll()"
            >
              <mat-icon>expand_more</mat-icon>
              <span>{{ t('additionalFunctionality.expandAll') }}</span>
            </button>
            <button
              mat-menu-item
              [disabled]="
                (bomLoading$ | ngrxPush) ||
                (bomErrorMessage$ | ngrxPush) !== undefined
              "
              (click)="collapseAll()"
            >
              <mat-icon>expand_less</mat-icon>
              <span>{{ t('additionalFunctionality.collapseAll') }}</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="flex-1">
        <cdba-bom-table
          [index]="index"
          [rowData]="bomItems$ | ngrxPush"
          [isLoading]="bomLoading$ | ngrxPush"
          [errorMessage]="bomErrorMessage$ | ngrxPush"
          (rowSelected)="selectBomItem($event)"
          (gridReady)="onGridReady($event)"
        ></cdba-bom-table>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
