<div *transloco="let t" class="flex flex-col w-full h-full">
  @if (loading$ | ngrxPush) {
    <schaeffler-loading-spinner
      [useBearingLoadingSpinner]="true"
    ></schaeffler-loading-spinner>
  } @else {
    <d360-styled-section [grow]="true" class="flex flex-col h-full">
      <h2 class="text-title-large">
        {{ t('internal_material_replacement.title.rootString', {}) }}
      </h2>

      <d360-header-action-bar>
        <div d360HeaderActionBarButtons class="flex gap-3">
          <button mat-flat-button (click)="handleCreateSingleIMR()">
            <mat-icon>add</mat-icon>
            {{ t('internal_material_replacement.button.createSubstitution') }}
          </button>
          <button mat-button (click)="handleCreateMultiIMR()">
            <mat-icon>upload</mat-icon>
            {{
              t(
                'internal_material_replacement.button.createMultipleSubstitutions'
              )
            }}
          </button>
        </div>
        <div d360HeaderActionBarChildren class="wrapper">
          <d360-filter-dropdown
            [label]="t('globalSelection.region', {})"
            [options]="selectableOptionsService.get('region').options"
            [form]="formGroup"
            [control]="regionControl"
            (selectionChange)="updateRegion($any($event))"
          ></d360-filter-dropdown>
        </div>
      </d360-header-action-bar>

      @if (selectedRegion()) {
        <d360-internal-material-replacement-table
          #internalMaterialReplacementTableComponent
          [selectedRegion]="selectedRegion()"
          (getApi)="getApi($event)"
        ></d360-internal-material-replacement-table>
      }
    </d360-styled-section>
  }
</div>
