<div *transloco="let t" class="flex flex-col w-full h-full">
  @if (loading$ | ngrxPush) {
    <schaeffler-loading-spinner
      [useBearingLoadingSpinner]="true"
    ></schaeffler-loading-spinner>
  } @else {
    <app-styled-section [grow]="true" class="flex flex-col h-full">
      <h2 class="text-title-large">
        {{ t('internal_material_replacement.title.rootString', {}) }}
      </h2>

      <app-header-action-bar>
        <div appHeaderActionBarButtons class="flex gap-3">
          <button mat-flat-button (click)="handleCreateSingleIMR()">
            <mat-icon>add</mat-icon>
            {{ t('internal_material_replacement.button.createSubstitution') }}
          </button>
          <button mat-button (click)="handleCreateMultiIMR()">
            <mat-icon>upload</mat-icon>
            {{
              t(
                'internal_material_replacement.button.createMultipleSubstitutions'
              )
            }}
          </button>
        </div>
        <div appHeaderActionBarChildren class="wrapper">
          <app-filter-dropdown
            [label]="t('globalSelection.region', {})"
            [options]="selectableOptionsService.get('region').options"
            [form]="formGroup"
            [control]="regionControl"
            (selectionChange)="updateRegion($any($event))"
          ></app-filter-dropdown>
        </div>
      </app-header-action-bar>

      @if (selectedRegion) {
        <app-internal-material-replacement-table
          #internalMaterialReplacementTableComponent
          [selectedRegion]="selectedRegion"
        ></app-internal-material-replacement-table>
      }
    </app-styled-section>
  }
</div>
