<ng-container *transloco="let t; read: 'shared.chargeableSoon.dialog'">
  <h2 mat-dialog-title>
    {{ t('title.main') }}
    <mat-icon mat-dialog-close class="float-right cursor-pointer">
      close
    </mat-icon>
  </h2>
  <div
    mat-dialog-content
    class="mat-typography"
    [innerHTML]="t('content.main')"
  ></div>
  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary">
      {{ t('action.primary') }}
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="onSecondaryActionClick()"
    >
      {{ t('action.secondary') }}
    </button>
  </div>
</ng-container>
