@mixin mat-dialog() {
  .mat-mdc-dialog-surface {
    padding: 16px 0 8px !important;
  }

  .mat-mdc-dialog-panel {
    .mat-mdc-dialog-title {
      &.mat-mdc-dialog-title {
        &::before {
          display: none;
        }
      }

      + .mat-mdc-dialog-content {
        padding-top: 6px;
      }
    }

    &.table-dialog,
    &.form-dialog {
      width: 100%;
      min-width: 80vw;
      min-height: 300px;

      &.customer-material-portfolio,
      &.alert-rule,
      &.internal-material-replacement,
      &.demand-validation-export {
        .mat-mdc-dialog-content {
          min-height: 300px;
        }
      }

      &.demand-validation-export {
        min-width: 30vw;
      }

      &.customer-material-portfolio {
        min-width: 0;
      }
    }
  }
}
