@mixin mat-menu() {
  .mat-mdc-menu-item {
    @apply text-body-2 #{!important};
  }

  .mdc-menu-surface {
    &.mat-mdc-autocomplete-panel {
      @apply py-0 #{!important};
    }
  }

  .tabs-menu-panel {
    max-width: 33.33vw !important;
    width: 33.33vw !important;
  }

  .mat-mdc-tab-nav-panel {
    display: contents;
  }
}
