@mixin mat-dialog() {
  .mat-mdc-dialog-surface {
    padding: 16px 0 8px !important;
    --mdc-dialog-container-color: var(--surface-container-high-color);
  }

  .mat-mdc-dialog-panel {
    .mat-mdc-dialog-title {
      &.mat-mdc-dialog-title {
        &::before {
          display: none;
        }
      }

      + .mat-mdc-dialog-content {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    .mat-mdc-dialog-content {
      scrollbar-color: #c1c1c1 var(--surface-container-high-color);
    }

    &.resizable {
      resize: both;
      overflow: auto;
      min-width: 300px;
      min-height: 300px;
      max-width: 100vw;
      max-height: 100vh;
    }

    &.monthly-customer-planning-details {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .mat-mdc-dialog-surface {
        --mdc-dialog-container-color: white !important;
      }

      .mat-mdc-dialog-container {
        --mdc-dialog-container-shape: none;
        @apply fixed inset-0 w-screen max-w-none h-screen bg-none shadow-lg flex flex-col;
      }

      .mdc-dialog__surface {
        @apply w-full max-w-full flex flex-col overflow-hidden;
        height: calc(100vh - 64px);
        margin-top: 64px;
        display: flex;
        flex-direction: column;
      }
    }

    &.table-dialog,
    &.form-dialog {
      width: 100%;
      min-width: 80vw;
      min-height: 300px;

      .ag-body-horizontal-scroll-viewport,
      .ag-body-vertical-scroll-viewport {
        scrollbar-color: #c1c1c1 var(--surface-container-high-color);

        &:hover {
          scrollbar-color: #818181 var(--surface-container-high-color);
        }
      }

      &.customer-material-portfolio,
      &.alert-rule,
      &.internal-material-replacement,
      &.demand-validation-export {
        .mat-mdc-dialog-content {
          min-height: 300px;
        }
      }

      &.demand-validation-export,
      &.demand-validation-multi-delete {
        min-width: 30vw;
        width: auto;
        max-width: 80vw;
      }

      &.customer-material-portfolio {
        min-width: 0;
      }
    }
  }
}
