<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
      integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Embedded App</title>
    <link rel="icon" type="image/x-icon" href="favicon.png" />
    <style>
      :focus-visible {
        outline: none !important;
      }
    </style>
  </head>
  <body>
    <div id="app" class="p-3">
      <div class="flex items-center justify-center pb-6 text-gray-600">
        <img src="logo.png" alt="logo" />
        <h1 class="pl-3 font-mono text-xl">{{ wrapperAppTitle }}</h1>
      </div>
      <div class="flex flex-col lg:flex-row items-baseline">
        <div
          class="mx-auto flex flex-row items-center justify-center gap-x-4 px-4 pt-4"
        >
          <div
            class="flex max-w-lg items-center rounded-md border text-gray-500"
          >
            <label
              for="app-url"
              class="min-w-fit grow rounded-l-md border-r bg-gray-50 px-3 py-2.5 text-gray-400"
            >
              Webcomponent TAG
            </label>
            <input
              type="text"
              placeholder="app-root"
              v-model="webComponentTag"
              id="app-url"
              class="ml-2 w-full bg-transparent p-2.5 outline-none"
            />
          </div>
        </div>
        <div class="mx-auto mb-4 flex max-w-lg gap-4 px-4 pt-4">
          <div class="flex items-center rounded-md border text-gray-500">
            <label
              for="app-height"
              class="grow rounded-l-md border-r bg-gray-50 px-3 py-2.5 text-gray-400"
            >
              Height
            </label>
            <input
              type="text"
              placeholder="800"
              v-model="containerHeight"
              id="app-height"
              class="ml-2 w-full bg-transparent p-2.5 outline-none"
            />
            <div
              class="grow rounded-r-md border-l bg-gray-50 px-3 py-2.5 text-gray-400"
            >
              px
            </div>
          </div>
          <div class="flex items-center rounded-md border text-gray-500">
            <label
              for="app-width"
              class="grow rounded-l-md border-r bg-gray-50 px-3 py-2.5 text-gray-400"
            >
              Width
            </label>
            <input
              type="text"
              placeholder="1280"
              v-model="containerWidth"
              id="app-width"
              class="ml-2 w-full bg-transparent p-2.5 outline-none"
            />
            <div
              class="grow rounded-r-md border-l bg-gray-50 px-3 py-2.5 text-gray-400"
            >
              px
            </div>
          </div>
        </div>
      </div>

      <div
        class="m-0 mx-auto mb-20 overflow-hidden rounded bg-gradient-to-br from-gray-200 to-gray-100 py-2 px-5"
        :style="{ 'height': containerHeight + 'px', width: containerWidth + 'px' }"
      >
        <div v-html="webComponentTag"></div>
      </div>
      <div
        id="lsa-events-container"
        class="flex flex-col justify-center w-[90%] m-auto hidden"
      >
        <div class="flex item-center justify-center">
          <h6>Price and Availability Events</h6>
        </div>
        <textarea
          id="lsa-events"
          class="w-full h-[20rem] whitespace-pre"
        ></textarea>
      </div>
    </div>
  </body>
  <script src="app.js"></script>
  <script src="lsa-scripts.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      setUpLSAListeners();
    });
  </script>
</html>
