:host {
  .mat-icon {
    padding: 0;
    cursor: pointer;
  }

  .auto-hide-chips {
    .hidden-count {
      display: inline-flex;
      padding: 4px;
      margin-left: 5px;
      max-width: calc(100% - 4px);
    }

    ::ng-deep {
      .mat-mdc-chip {
        display: none;

        &:nth-child(2),
        &:nth-child(1) {
          display: inline-flex;
          @media screen and (min-width: 1729px) {
            max-width: calc(50% - (32px / 2) - 10px);
          }
        }
      }

      .mat-mdc-form-field-icon-suffix {
        align-self: baseline;
        top: 7px;
      }
    }

    &.mat-mdc-form-field:active,
    &.mat-mdc-form-field:focus,
    &.mat-focused,
    &.show-hidden {
      &:not(.mat-form-field-invalid) {
        .dropdown {
          color: var(--schaeffler-color);
        }
      }

      .hidden-count {
        display: none;
      }

      ::ng-deep {
        .mat-mdc-chip {
          display: inline-flex;
          max-width: 100%;
        }
      }
    }
  }
}
