<div
  class="flex h-full flex-col"
  *transloco="let t; read: 'shared.customStatusBar.quotationDetailsStatus'"
>
  <gq-dialog-header [title]="t('modalTitle')" (closeDialog)="closeDialog()">
  </gq-dialog-header>
  <div
    class="flex h-full flex-col"
    *ngIf="quotationCurrency$ | ngrxPush as currency"
  >
    <div
      class="flex flex-col"
      *transloco="let t; read: 'shared.customStatusBar.totalRowCount'"
    >
      <div class="mt-8 flex flex-row">
        <gq-label-text class="w-1/2" [modalVersion]="true">
          <span label>{{ t('total') }}</span>
          <span text>{{ statusBar.total.rows }} </span>
        </gq-label-text>
        <gq-label-text class="w-1/2" [modalVersion]="true">
          <span label>{{ t('selected') }}</span>
          <span text>{{ statusBar.selected.rows }}</span>
        </gq-label-text>
      </div>
      <gq-horizontal-divider></gq-horizontal-divider>
    </div>
    <div class="flex flex-row">
      <div class="flex w-1/2 flex-col">
        <div>
          <gq-label-text [modalVersion]="true">
            <span label>{{ t('totalNetValue') }}</span>
            <span text>{{
              statusBar.total.netValue | numberCurrency: currency
            }}</span>
          </gq-label-text>
        </div>
        <div class="mt-4" *ngIf="showGPM$ | ngrxPush">
          <gq-label-text [modalVersion]="true">
            <span label>{{ t('totalAverageGPM') }}</span>
            <span text>{{ statusBar.total.gpm | percentage }}</span>
          </gq-label-text>
        </div>
        <div class="mt-4" *ngIf="showGPI$ | ngrxPush">
          <gq-label-text [modalVersion]="true">
            <span label>{{ t('totalAverageGPI') }}</span>
            <span text>{{ statusBar.total.gpi | percentage }}</span>
          </gq-label-text>
        </div>
        <div class="mt-4">
          <gq-label-text [modalVersion]="true">
            <span label>{{ t('totalPriceDiff') }}</span>
            <span text>{{ statusBar.total.priceDiff | percentage }}</span>
          </gq-label-text>
        </div>
      </div>
      <div class="flex w-1/2 flex-col">
        <div>
          <gq-label-text [modalVersion]="true">
            <span label>{{ t('selectedNetValue') }}</span>
            <span text>{{
              statusBar.selected.netValue | numberCurrency: currency
            }}</span>
          </gq-label-text>
        </div>
        <div class="mt-4" *ngIf="showGPM$ | ngrxPush">
          <gq-label-text [modalVersion]="true">
            <span label>{{ t('selectedAverageGPM') }}</span>
            <span text>{{ statusBar.selected.gpm | percentage }}</span>
          </gq-label-text>
        </div>
        <div class="mt-4" *ngIf="showGPI$ | ngrxPush">
          <gq-label-text [modalVersion]="true">
            <span label>{{ t('selectedAverageGPI') }}</span>
            <span text>{{ statusBar.selected.gpi | percentage }}</span>
          </gq-label-text>
        </div>
        <div class="mt-4">
          <gq-label-text [modalVersion]="true">
            <span label>{{ t('selectedPriceDiff') }}</span>
            <span text>{{ statusBar.selected.priceDiff | percentage }}</span>
          </gq-label-text>
        </div>
      </div>
    </div>
  </div>
</div>
