<div class="h-5/6" *transloco="let t; read: 'additionalFilters'">
  @if ((plsAndSeriesLoading$ | ngrxPush) === false) {
    <div *ngrxLet="plsAndSeries$ as plsAndSeries" class="flex flex-col gap-4">
      <gq-filter-selection
        [title]="productLineTitle$ | ngrxPush"
        [items]="plsAndSeries?.pls || []"
        (selection)="selectProductLines($event)"
      >
      </gq-filter-selection>
      <gq-filter-selection
        [title]="seriesTitle$ | ngrxPush"
        [items]="plsAndSeries?.series || []"
        (selection)="selectSeries($event)"
      >
      </gq-filter-selection>
      <gq-filter-selection
        [title]="gpsdGroupTitle$ | ngrxPush"
        [items]="plsAndSeries?.gpsdGroupIds || []"
        (selection)="selectGpsdGroups($event)"
      >
      </gq-filter-selection>
      @if (
        plsAndSeries?.series.length === 0 && plsAndSeries?.pls.length === 0
      ) {
        <div>
          <span class="text-error">{{ t('nothingFound') }}</span>
        </div>
      }
    </div>
  } @else {
    <schaeffler-loading-spinner
      backgroundColor="rgba(255,255,255, 0.1)"
      [relative]="true"
    ></schaeffler-loading-spinner>
  }
</div>
