<div *transloco="let t; read: 'search.referenceTypesFilters'">
  <div class="flex flex-wrap justify-center gap-x-5">
    <ng-container
      *ngFor="let filter of filters$ | ngrxPush; trackBy: trackByFn"
      [ngSwitch]="filter.type"
    >
      <cdba-multi-select-filter
        class="w-[233px]"
        *ngSwitchCase="filterType.ID_VALUE"
        [filter]="$any(filter)"
        (updateFilter)="updateFilter($event)"
        (autocomplete)="autocomplete($event)"
      ></cdba-multi-select-filter>

      <cdba-range-filter
        class="w-[233px]"
        *ngSwitchCase="filterType.RANGE"
        [filter]="$any(filter)"
        (updateFilter)="updateFilter($event)"
      ></cdba-range-filter>
    </ng-container>
  </div>
  <div class="flex justify-center gap-x-5">
    <div
      [matTooltip]="
        t('searchButtonTooltip', {
          tooManyResultsThreshold: tooManyResultsThreshold
        })
      "
      [matTooltipDisabled]="(selectedIdValueFilters$ | ngrxPush).length > 0"
      matTooltipPosition="below"
    >
      <button
        mat-flat-button
        color="primary"
        [disabled]="(selectedIdValueFilters$ | ngrxPush).length === 0"
        (click)="search()"
      >
        <mat-icon>filter_list</mat-icon>
        {{ t('searchButton') }}
      </button>
    </div>
    <button
      mat-stroked-button
      [disabled]="(selectedFilters$ | ngrxPush).length === 0"
      (click)="resetFilters()"
    >
      {{ t('resetFilterButton') }}
    </button>
  </div>
</div>
