<div *transloco="let t; read: 'search.referenceTypesFilters'">
  <div class="flex flex-wrap justify-center gap-x-5">
    @for (filter of filters$ | ngrxPush; track filter.name) {
      @switch (filter.type) {
        @case (filterType.ID_VALUE) {
          <cdba-multi-select-filter
            class="w-[233px]"
            [filter]="$any(filter)"
            (updateFilter)="updateFilter($event)"
            (autocomplete)="autocomplete($event)"
          ></cdba-multi-select-filter>
        }
        @case (filterType.RANGE) {
          <cdba-range-filter
            class="w-[233px]"
            [filter]="$any(filter)"
            (updateFilter)="updateFilter($event)"
          ></cdba-range-filter>
        }
      }
    }
  </div>
  <div class="flex justify-center gap-x-5">
    <div
      [matTooltip]="
        t('searchButtonTooltip', {
          tooManyResultsThreshold: tooManyResultsThreshold$ | ngrxPush
        })
      "
      [matTooltipDisabled]="(selectedIdValueFilters$ | ngrxPush).length > 0"
      matTooltipPosition="below"
    >
      <button
        mat-flat-button
        color="primary"
        [disabled]="(selectedIdValueFilters$ | ngrxPush).length === 0"
        (click)="search()"
      >
        <mat-icon>filter_list</mat-icon>
        {{ t('searchButton') }}
      </button>
    </div>
    <button
      mat-stroked-button
      [disabled]="(selectedFilters$ | ngrxPush).length === 0"
      (click)="resetFilters()"
    >
      {{ t('resetFilterButton') }}
    </button>
  </div>
</div>
