<mat-sidenav-container
  hasBackdrop="false"
  autosize="true"
  class="card-container"
>
  <mat-sidenav
    #additionalInformation
    mode="over"
    open="false"
    position="end"
    class="additional-information-sidenav"
  >
    <cdba-additional-information
      (closeOverlay)="additionalInformation.close()"
    ></cdba-additional-information>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card>
      <div
        class="mat-card-inner"
        fxLayout="column"
        *transloco="let t; read: 'detail.bom'"
      >
        <div fxLayout="row" fxLayoutAlign="center">
          <h3>{{ t('title') }}</h3>
          <div class="additional-information">
            <button mat-button (click)="additionalInformation.open()">
              <mat-icon>insert_chart_outlined</mat-icon>
              {{ t('additionalInformation.title') }}
            </button>
          </div>
        </div>
        <div class="table-container">
          <cdba-bom-table
            [rowData]="bomItems$ | ngrxPush"
            [isLoading]="bomLoading$ | ngrxPush"
            [errorMessage]="bomErrorMessage$ | ngrxPush"
            (rowSelected)="selectBomItem($event)"
          ></cdba-bom-table>
        </div>
      </div>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
