<div *transloco="let t; read: 'detail.detailTab.quantities'">
  <cdba-details-label-value
    *ngFor="
      let netSale of quantitiesDetails?.netSales.slice().reverse();
      index as i
    "
    [label]="
      t('netSales', {
        year: currentYear - (quantitiesDetails?.netSales.length - 1) + i
      })
    "
    [value]="
      (netSale | translocoDecimal | undefinedAttributeFallback) +
      (quantitiesDetails?.currency ? ' ' + quantitiesDetails?.currency : '')
    "
  ></cdba-details-label-value>
  <cdba-details-label-value
    [label]="t('budgetQuantity', { year: currentYear })"
    [value]="
      quantitiesDetails?.budgetQuantityCurrentYear
        | translocoDecimal
        | undefinedAttributeFallback
    "
  ></cdba-details-label-value>
  <cdba-details-label-value
    [label]="t('budgetQuantitySoco', { year: currentYear })"
    [value]="
      quantitiesDetails?.budgetQuantitySoco
        | translocoDecimal
        | undefinedAttributeFallback
    "
    [borderBottom]="
      quantitiesDetails?.actualQuantities.length > 0 ||
      quantitiesDetails?.plannedQuantities.length > 0
    "
  ></cdba-details-label-value>
  <cdba-details-label-value
    *ngFor="
      let actualQuantity of quantitiesDetails?.actualQuantities
        .slice()
        .reverse();
      index as i
    "
    [label]="
      t('actualQuantity', {
        year: currentYear - (quantitiesDetails?.actualQuantities.length - 1) + i
      })
    "
    [value]="actualQuantity | translocoDecimal | undefinedAttributeFallback"
    [borderBottom]="i + 1 === quantitiesDetails?.actualQuantities.length"
  ></cdba-details-label-value>
  <cdba-details-label-value
    *ngFor="
      let plannedQuantity of quantitiesDetails?.plannedQuantities;
      index as i
    "
    [label]="t('plannedQuantity', { year: currentYear + i })"
    [value]="plannedQuantity | translocoDecimal | undefinedAttributeFallback"
  ></cdba-details-label-value>
</div>
