<div class="widget-content">
  <div *transloco="let t; read: 'detail.detailTab'">
    <h6>{{ t('quantities.title') }}</h6>
    <div class="widget-group" *ngIf="quantitiesDetails && !errorMessage">
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('quantities.pcmQuantity') }}:&nbsp;</label
        >
        <div>
          {{
            quantitiesDetails.pcmQuantity
              | translocoDecimal
              | undefinedAttributeFallback
          }}
        </div>
      </div>
      <div fxLayout="row wrap" *ngIf="quantitiesDetails.netSales?.length">
        <label fxFlexAlign="end"
          >{{
            t('quantities.netSales', { year: currentYear - 1 })
          }}:&nbsp;</label
        >
        <div>
          {{
            quantitiesDetails.netSales[0]
              | translocoDecimal
              | undefinedAttributeFallback
          }}&nbsp;{{ quantitiesDetails.currency }}
        </div>
      </div>
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{
            t('quantities.budgetQuantity', { year: currentYear })
          }}:&nbsp;</label
        >
        <div>
          {{
            quantitiesDetails.budgetQuantityCurrentYear
              | translocoDecimal
              | undefinedAttributeFallback
          }}
        </div>
      </div>
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{
            t('quantities.budgetQuantitySoco', { year: currentYear })
          }}:&nbsp;</label
        >
        <div>
          {{
            quantitiesDetails.budgetQuantitySoco
              | translocoDecimal
              | undefinedAttributeFallback
          }}
        </div>
      </div>
    </div>
    <div
      class="widget-group"
      *ngIf="
        quantitiesDetails && quantitiesDetails.actualQuantities && !errorMessage
      "
    >
      <div
        fxLayout="row wrap"
        *ngFor="
          let actualQuantity of quantitiesDetails.actualQuantities
            .slice()
            .reverse();
          index as i
        "
      >
        <label fxFlexAlign="end"
          >{{
            t('quantities.actualQuantity', { year: currentYear - (4 - i) })
          }}:&nbsp;</label
        >
        <div>
          {{ actualQuantity | translocoDecimal | undefinedAttributeFallback }}
        </div>
      </div>
    </div>
    <div
      class="widget-group"
      *ngIf="
        quantitiesDetails &&
        quantitiesDetails.plannedQuantities &&
        !errorMessage
      "
    >
      <div
        fxLayout="row wrap"
        *ngFor="
          let plannedQuantity of quantitiesDetails.plannedQuantities;
          index as i
        "
      >
        <label fxFlexAlign="end"
          >{{
            t('quantities.plannedQuantity', { year: currentYear + i })
          }}:&nbsp;</label
        >
        <div>
          {{ plannedQuantity | translocoDecimal | undefinedAttributeFallback }}
        </div>
      </div>
    </div>

    <div
      class="error-box"
      *ngIf="errorMessage"
      fxLayout="row"
      fxLayoutAlign="space-around center"
    >
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>
