.mat-button-toggle-checked mat-icon {
  @apply text-link;
}

.mat-button-toggle {
  @apply bg-surface;
}

::ng-deep .small-toggle-group .mat-button-toggle-label-content {
  line-height: 32px !important;
  width: 32px;
  height: 32px;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
