<mat-button-toggle-group
  name="chartType"
  aria-label="Chart Type"
  class="!absolute right-[39px] top-[21px] z-10 w-[120px] !rounded-3xl"
  [value]="selectedChart"
  (change)="valueChanged($event)"
  *transloco="let t; read: 'organizationalView.overviewChartToggleButtons'"
>
  <mat-button-toggle
    [value]="possibleChartTypes.ORG_CHART"
    [matTooltip]="t('orgChart')"
    class="w-1/2 text-center"
  >
    <mat-icon>people</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle
    [value]="possibleChartTypes.WORLD_MAP"
    [matTooltip]="t('worldMap')"
    class="w-1/2 text-center"
  >
    <mat-icon>public</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
