@import 'libs/shared/ui/styles/src/lib/scss/colors';
.toggle-charts {
  border-radius: 24px;
  position: absolute;
  right: 39px;
  top: 21px;
  z-index: 1;

  mat-icon {
    color: $schaeffler-gray-9;
  }

  .mat-button-toggle-checked mat-icon {
    color: $schaeffler-green-1;
  }
}
