<mat-button-toggle-group
  name="chartType"
  aria-label="Chart Type"
  class="small-toggle-group"
  [value]="selectedChart"
  (change)="valueChanged($event)"
  *transloco="let t; read: 'organizationalView.overviewChartToggleButtons'"
>
  <mat-button-toggle
    [value]="possibleChartTypes.ORG_CHART"
    [matTooltip]="t('orgChart')"
  >
    <mat-icon class="!flex items-center justify-center h-4 w-4 !text-[1rem]"
      >people</mat-icon
    >
  </mat-button-toggle>
  <mat-button-toggle
    [value]="possibleChartTypes.WORLD_MAP"
    [matTooltip]="t('worldMap')"
  >
    <mat-icon class="!flex items-center justify-center h-4 w-4 !text-[1rem]"
      >public</mat-icon
    >
  </mat-button-toggle>
</mat-button-toggle-group>
