<div fxLayout="column" class="full-height">
  <schaeffler-header
    class="full-height"
    [platformTitle]="platformTitle"
    toggleEnabled="true"
    (toggle)="toggleSidebar()"
  >
    <schaeffler-sidebar [elements]="sidebarElements" [mode]="mode">
      <div schaefflerScrollToTop>
        <schaeffler-scroll-to-top></schaeffler-scroll-to-top>
        <router-outlet></router-outlet>
        <schaeffler-footer></schaeffler-footer>
      </div>
    </schaeffler-sidebar>
  </schaeffler-header>
</div>
