<div fxLayout="column" class="full-height">
  <schaeffler-header
    class="full-height"
    [platformTitle]="platformTitle"
    toggleEnabled="true"
  >
    <schaeffler-sidebar>
      <ng-container sidebar>
        <schaeffler-sidebar-elements
          [elements]="sidebarElements"
        ></schaeffler-sidebar-elements>
      </ng-container>

      <ng-container content>
        <div schaefflerScrollToTop>
          <schaeffler-scroll-to-top></schaeffler-scroll-to-top>
          <schaeffler-banner></schaeffler-banner>
          <div class="router-content">
            <router-outlet></router-outlet>
          </div>
          <schaeffler-footer [footerLinks]="footerLinks"></schaeffler-footer>
        </div>
      </ng-container>
    </schaeffler-sidebar>
  </schaeffler-header>
</div>
