<div
  class="flex w-full items-baseline gap-2"
  *transloco="let t; read: 'operationConditions.errors'"
>
  <mat-form-field appearance="outline" class="flex w-full grow-0 flex-col pb-3">
    <mat-label *ngIf="label">{{ label }}</mat-label>
    <input
      matInput
      type="number"
      inputmode="decimal"
      [formControl]="control"
      [placeholder]="placeholder"
    />
    <div *ngIf="unit" class="relative" matSuffix>
      {{ unit }}
    </div>
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    <mat-error *ngIf="control.hasError('max')">{{
      t('max', control.getError('max'))
    }}</mat-error>
    <mat-error *ngIf="control.hasError('min')">{{
      t('min', control.getError('min'))
    }}</mat-error>
    <mat-error *ngIf="control.hasError('required')">
      {{ t('required') }}
    </mat-error>
    <ng-container *ngFor="let error of customErrors" ngProjectAs="mat-error">
      <mat-error *ngIf="control.hasError(error.name)">
        {{ t(error.message || error.name) }}
      </mat-error>
    </ng-container>
  </mat-form-field>
  <div *ngIf="tooltip">
    <ea-info-button [tooltip]="tooltip"></ea-info-button>
  </div>
</div>
