@import '../result.component.scss';

.chip-list-wrapper {
  width: 100%;

  mat-chip {
    padding-left: 0;
  }
}
.ghost {
  margin-top: 20px;
  overflow: hidden;

  div {
    border-bottom: 2px solid $schaeffler-white;
    border-radius: 4px 4px 4px 4px;
    height: 30px;
    @include animate-ghost-line;
  }
}
