<!-- Design how it should look like in edit Mode-->
@if (isEditMode) {
  <input
    class="text-overline !leading-7 text-high-emphasis w-12"
    autocomplete="off"
    type="number"
    cdkTextareaAutosize
    matInput
    min="1"
    max="100"
    [value]="value ?? 0"
    (change)="valueHasChanged($event.target)"
    (focusout)="toggleEditMode()"
  />
}
@if (!isEditMode) {
  <div class="flex flex-row items-center gap-4">
    <span>
      {{ value ?? 0 | percentage }}
    </span>
    <mat-icon
      class="text-medium-emphasis cursor-pointer !icon-5"
      (click)="toggleEditMode()"
      >edit</mat-icon
    >
  </div>
}
