<div class="table-wrapper">
  <app-table-toolbar [rowCount]="rowCount" [grid]="gridApi">
  </app-table-toolbar>
  <app-styled-grid-section>
    <ag-grid-angular
      #internalMaterialReplacementGrid
      class="ag-theme-material"
      [gridOptions]="gridOptions"
      [columnDefs]="columnDefs"
      [tooltipShowDelay]="0"
      [getRowId]="getRowId"
      rowModelType="serverSide"
      [noRowsOverlayComponent]="NoDataOverlayComponent"
      (gridReady)="onGridReady($event)"
      [localeText]="agGridLocalizationService.lang()"
      (firstDataRendered)="onFirstDataRendered($event)"
    />
  </app-styled-grid-section>
</div>
