<div class="flex flex-col h-full">
  <d360-table-toolbar [rowCount]="rowCount()" [grid]="gridApi" />
  <ag-grid-angular
    #internalMaterialReplacementGrid
    class="ag-theme-material grow"
    [gridOptions]="gridOptions"
    [tooltipShowDelay]="0"
    [getRowId]="getRowId"
    [context]="context"
    rowModelType="serverSide"
    [noRowsOverlayComponent]="noDataOverlayComponent"
    (gridReady)="onGridReady($event)"
    [localeText]="agGridLocalizationService.lang()"
    (firstDataRendered)="onFirstDataRendered($event)"
  />
</div>
