<div class="flex flex-row">
  @if (showStatus) {
    @if (
      statusOfQuotation !== quotationStatus.ACTIVE &&
      statusOfQuotation !== quotationStatus.DELETED &&
      statusOfQuotation !== quotationStatus.ARCHIVED
    ) {
      <div
        *transloco="let t; read: 'shared.quotationStatusLabels'"
        class="flex items-center pl-9 pt-2"
        [ngClass]="{
          'text-info': statusOfQuotation === quotationStatus.IN_APPROVAL,
          'text-quotation-status-green':
            statusOfQuotation === quotationStatus.APPROVED,
          'text-error': statusOfQuotation === quotationStatus.REJECTED
        }"
      >
        <span class="text-caption">
          {{ t(statusOfQuotation) }}
        </span>
        @if (!(approvalFacade.isLatestApprovalEventVerified$ | ngrxPush)) {
          <mat-icon
            class="ml-2 !text-[12px] !font-medium !h-3 !w-3"
            [matTooltip]="t('ongoingSapVerification')"
            >hourglass_empty</mat-icon
          >
        }
      </div>
    } @else {
      <span
        class="pl-9 pt-2 text-caption"
        [ngClass]="{
          'text-info': (sapStatus$ | ngrxPush) === sapSyncStatus.SYNCED,
          'text-medium-emphasis':
            (sapStatus$ | ngrxPush) === sapSyncStatus.NOT_SYNCED && !errorCode,
          'text-orange':
            (sapStatus$ | ngrxPush) === sapSyncStatus.PARTIALLY_SYNCED,
          'text-error':
            (sapStatus$ | ngrxPush) ===
            ((sapSyncStatus.NOT_SYNCED && errorCode) ||
              sapSyncStatus.SYNC_FAILED)
        }"
        *transloco="let t; read: 'shared.sapStatusLabels'"
        [matTooltip]="errorCode ? t('errorCodes.' + errorCode) : undefined"
      >
        @if ((sapStatus$ | ngrxPush) === sapSyncStatus.SYNCED) {
          {{ t('synced') }}
        }
        @if (
          (sapStatus$ | ngrxPush) === sapSyncStatus.NOT_SYNCED && !errorCode
        ) {
          {{ t('notSynced') }}
        }
        @if ((sapStatus$ | ngrxPush) === sapSyncStatus.PARTIALLY_SYNCED) {
          {{ t('partiallySynced') }}
        }
        @if (
          (sapStatus$ | ngrxPush) ===
          ((sapSyncStatus.NOT_SYNCED && errorCode) || sapSyncStatus.SYNC_FAILED)
        ) {
          {{ t('syncFailed') }}
        }
      </span>
    }
    <span class="ml-[10px] mr-[10px] pt-2 text-caption opacity-[0.12]">|</span>
  }

  <span
    class="pt-2 text-caption text-medium-emphasis"
    [ngClass]="{ 'pl-9': !showStatus }"
  >
    {{ customer.name }} | {{ customer.identifier.customerId }} |
    {{ customer.country | nullableString }}</span
  >
</div>
