<div class="flex flex-row">
  @if (showStatus) {
    @if (
      statusOfQuotation !== quotationStatus.ACTIVE &&
      statusOfQuotation !== quotationStatus.DELETED &&
      statusOfQuotation !== quotationStatus.ARCHIVED
    ) {
      <div
        *transloco="let t; read: 'shared.quotationStatusLabels'"
        class="flex items-center pl-9 pt-2"
        [ngClass]="{
          'text-on-info-container':
            statusOfQuotation === quotationStatus.IN_APPROVAL,
          'text-quotation-status-green':
            statusOfQuotation === quotationStatus.APPROVED,
          'text-error': statusOfQuotation === quotationStatus.REJECTED
        }"
      >
        <span
          class="text-caption"
          [attr.data-cy]="'customer-info_quotation-status'"
        >
          {{ t(statusOfQuotation) }}
        </span>
        @if (!(isLatestApprovalEventVerified$ | ngrxPush)) {
          <mat-icon
            class="ml-2 !text-[12px] !font-medium !h-3 !w-3"
            [matTooltip]="t('ongoingSapVerification')"
            [attr.data-cy]="'customer-info_hourGlass'"
            >hourglass_empty</mat-icon
          >
        }
      </div>
    } @else {
      <span
        class="pl-9 pt-2 text-caption"
        [ngClass]="{
          'text-on-info-container':
            (sapStatus$ | ngrxPush) === sapSyncStatus.SYNCED,
          'text-medium-emphasis':
            (sapStatus$ | ngrxPush) === sapSyncStatus.NOT_SYNCED && !errorCode,
          'text-on-warning-container':
            (sapStatus$ | ngrxPush) === sapSyncStatus.PARTIALLY_SYNCED ||
            (sapStatus$ | ngrxPush) === sapSyncStatus.SYNC_PENDING,
          'text-error':
            ((sapStatus$ | ngrxPush) === sapSyncStatus.NOT_SYNCED &&
              errorCode) ||
            sapSyncStatus.SYNC_FAILED
        }"
        *transloco="let t; read: 'shared.sapStatusLabels'"
        [matTooltip]="errorCode ? t('errorCodes.' + errorCode) : undefined"
        [attr.data-cy]="'customer-info_sap-sync-status'"
      >
        {{
          t('sapSyncStatus', {
            sapSyncStatus: (sapStatus$ | ngrxPush)
          })
        }}
      </span>
    }
    <span class="ml-[10px] mr-[10px] pt-2 text-caption opacity-[0.12]">|</span>
  }

  <span
    *transloco="let t; read: 'shared.customerInfo'"
    class="pt-2 text-caption text-medium-emphasis"
    [ngClass]="!showStatus ? paddingLeftClass : ''"
    [attr.data-cy]="'customer-info_customer_country_salesOrg'"
  >
    {{ customer.name }} | {{ customer.identifier.customerId }} |
    {{ customer.country | nullableString }}
    {{
      displaySalesOrg
        ? ' | ' + t('salesOrg') + ' ' + customer.identifier.salesOrg
        : ''
    }}</span
  >
</div>
