<div class="flex h-full w-full flex-col" *transloco="let t; read: ''">
  <div class="w-full flex flex-col flex-1 overflow-y-auto sm:mt-[50px]">
    <div class="flex flex-col items-center">
      <div class="flex justify-end items-baseline sm:w-[500px] md:w-[680px]">
        {{ t('moreInformationLinkQuestion') }}
        <a
          mat-button
          class="ml-4"
          (click)="trackEvent('click_learnmore')"
          routerLink="/learn-more"
          >{{ t('learnmore.title') }}</a
        >
      </div>
    </div>
    <div class="flex flex-col overflow-y-auto p-4">
      @if (units$ | ngrxPush) {
        <div
          class="flex flex-col rounded-2xl md:mx-auto md:border md:border-border md:p-6 bg-surface"
        >
          <div class="flex w-full flex-row">
            <div class="flex flex-1 flex-col">
              <div class="flex flex-col">
                <mat-form-field appearance="outline" class="md:max-w-[592px]">
                  <mat-label>{{ t('conversionTable') }}</mat-label>
                  <mat-select
                    [formControl]="inputTable"
                    (selectionChange)="trackSelectedConversion($event)"
                  >
                    <ng-container
                      *ngrxLet="authService.isLoggedin() as isLoggedIn"
                    >
                      @for (
                        table of tables$ | ngrxPush;
                        track trackByFn($index, table)
                      ) {
                        <mat-option [value]="table"
                          >{{ t('normLong.' + table, { isLoggedIn }) }}
                        </mat-option>
                      }
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="flex flex-col gap-4 md:flex-row">
                <mat-form-field appearance="outline" class="md:w-72">
                  <mat-label>{{ t('value') }}</mat-label>
                  <input
                    #defaultInputValue
                    matInput
                    [formControl]="inputValue"
                    type="number"
                    [step]="step"
                  />
                  @if (inputValue.invalid) {
                    <mat-error class="text-body-small"
                      >{{ t('negativeValueError') }}
                    </mat-error>
                  }
                </mat-form-field>
                <mat-form-field appearance="outline" class="md:w-72">
                  <mat-label>{{ t('from') }}</mat-label>
                  <mat-select
                    [formControl]="inputUnit"
                    [matTooltip]="getTooltip(inputUnit.value)"
                  >
                    @for (
                      unit of units$ | ngrxPush;
                      track trackByFn($index, unit)
                    ) {
                      <mat-option
                        [value]="unit"
                        [disabled]="!(enabled$ | ngrxPush)?.includes(unit)"
                        [matTooltip]="getTooltip(unit)"
                        >{{
                          t('unit.' + unit, { hint: ' (' + t('uts') + ')' })
                        }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              @for (inputGroup of additionalInputs.controls; track inputGroup) {
                <div class="flex flex-1 flex-col gap-4 md:flex-row">
                  <mat-form-field appearance="outline" class="md:w-72">
                    <mat-label>{{ t('value') }}</mat-label>
                    <input
                      matInput
                      [formControl]="inputGroup.get('0')"
                      [step]="step"
                      type="number"
                    />
                    @if (inputGroup.get('0')) {
                      <mat-error class="text-body-small"
                        >{{ t('negativeValueError') }}
                      </mat-error>
                    }
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="md:w-72">
                    <mat-label>{{ t('value') }}</mat-label>
                    <input
                      matInput
                      [formControl]="inputGroup.get('1')"
                      [step]="step"
                      type="number"
                    />
                    @if (inputGroup.get('1')) {
                      <mat-error class="text-body-small"
                        >{{ t('negativeValueError') }}
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              }
            </div>
            <div class="mb-7 flex flex-col justify-end pl-4">
              <button mat-mini-fab (click)="onAddButtonClick()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
          <div class="flex flex-col pb-4">
            <!-- MULTI VALUE CALCULATION -->
            @if (multipleValues$ | ngrxPush) {
              <div>
                <div
                  class="my-9 flex flex-row justify-center text-center text-title-medium"
                >
                  {{ t('statisticalEvaluation') }}
                </div>
                <div class="flex flex-col gap-8 md:flex-row">
                  <div class="flex flex-1">
                    <hc-copy-input
                      class="w-full"
                      [value]="average$ | ngrxPush"
                      [unit]="t('unit.' + inputUnit.value)"
                      [label]="t('averageValue')"
                      [tooltip]="getTooltip(inputUnit.value)"
                      [precision]="getPrecision(inputUnit.value)"
                    ></hc-copy-input>
                  </div>
                  <div class="flex flex-1">
                    <hc-copy-input
                      class="w-full"
                      [value]="standardDeviation$ | ngrxPush"
                      [unit]="t('unit.' + inputUnit.value)"
                      [label]="t('standardDeviation')"
                      [tooltip]="getTooltip(inputUnit.value)"
                      [precision]="1"
                    ></hc-copy-input>
                  </div>
                </div>
                @if (
                  (conversionResult$ | ngrxPush) &&
                  (conversionResult$ | ngrxPush).deviationWarning
                ) {
                  <div class="my-4 max-w-fit">
                    <div
                      class="flex min-w-0 max-w-[648px] flex-row items-center rounded-2xl gap-4 border border-warning bg-sunny-yellow bg-opacity-10 p-3"
                    >
                      <mat-icon class="text-on-warning-container !table"
                        >warning_amber</mat-icon
                      >
                      <div
                        class="flex-shrink text-body-small font-normal text-high-emphasis"
                      >
                        {{ t('deviationWarning') }}
                      </div>
                    </div>
                  </div>
                }
              </div>
            }
            <!-- RESULT -->
            @if (
              !(resultLoading$ | ngrxPush) && (conversionResult$ | ngrxPush)
            ) {
              <div>
                <div
                  class="mb-8 mt-4 flex flex-row justify-center text-center text-title-medium"
                >
                  {{
                    (multipleValues$ | ngrxPush)
                      ? t('convertedAfterMultiple', {
                          norm: t('norm.' + inputTable.value)
                        })
                      : t('convertedAfter', {
                          norm: t('norm.' + inputTable.value)
                        })
                  }}
                </div>
                <div class="grid grid-cols-1 gap-x-8 md:grid-cols-2">
                  @for (
                    result of (conversionResult$ | ngrxPush).converted;
                    track result
                  ) {
                    <div class="col-span-1">
                      <hc-copy-input
                        class="w-full"
                        [value]="result.value"
                        [warning]="
                          (enabled$ | ngrxPush)?.includes(result.unit)
                            ? result.warning
                            : t('notInTable')
                        "
                        [unit]="t('unit.' + result.unit)"
                        [tooltip]="getTooltip(result.unit)"
                        [precision]="getPrecision(result.unit)"
                      ></hc-copy-input>
                    </div>
                  }
                </div>
              </div>
            } @else {
              @if (resultLoading$ | ngrxPush) {
                <div
                  class="mt-12 flex w-full flex-1 flex-col place-items-center justify-center"
                >
                  <mat-spinner></mat-spinner>
                </div>
              }
            }
          </div>
          <hc-geometrical-information
            class="flex flex-row"
            [activeConversion]="activeConversion$"
            [inputElement]="defaultInputElement"
          ></hc-geometrical-information>
          <div class="flex flex-row">
            <button
              mat-button
              (click)="onResetButtonClick()"
              [disabled]="conversionForm.pristine"
            >
              {{ t('reset') }}
            </button>
          </div>
        </div>
      } @else {
        <div
          class="mt-12 flex w-full flex-1 flex-col place-items-center justify-center"
        >
          <mat-spinner></mat-spinner>
        </div>
      }
      @if (conversionResult$ | ngrxPush) {
        <div
          class="mt-4 flex flex-row justify-center align-middle text-body-small text-medium-emphasis"
        >
          {{ t('valuesCalculatedWith', { version: (version$ | ngrxPush) }) }}
        </div>
      }
    </div>
    <div class="max-w-screen-md flex flex-col gap-y-4 mx-auto">
      <div
        class="grid grid-cols-2 gap-4 md:grid-cols-3 max-w-screen-sm mx-8 md:mx-auto my-2"
      >
        @for (card of homepageCards | ngrxPush; track card) {
          <hc-homepage-card [homepageCard]="card"></hc-homepage-card>
        }
        <div
          class="flex flex-col items-center col-span-2 md:col-span-3 overflow-hidden rounded-2xl border border-border bg-surface-legacy p-4 transition-shadow hover:shadow-lg"
        >
          <p class="text-body-medium text-high-emphasis px-8 text-center">
            {{ t('accessMoreSchaefflerKnowledge') }}
            <span class="font-extrabold">{{ t('technicalPocketGuide') }}</span
            >:
          </p>
          <div
            class="container mx-auto grid grid-cols-2 md:flex md:flex-row md:justify-center gap-4 md:gap-8 md:max-w-screen-md mt-4"
          >
            <div class="row-span-2">
              <img
                class="border border-border rounded-xl max-h-24"
                src="/assets/images/cards/technical-pocket-guide.webp"
                [alt]="tpg"
              />
            </div>
            <div
              class="flex flex-row justify-center items-center md:col-start-2"
            >
              <a
                href="https://apps.apple.com/us/app/technical-pocket-guide/id426818450"
                target="_blank"
              >
                <img
                  src="/assets/images/store-badges/apple-appstore-badge.svg"
                  class="w-40 md:w-auto md:h-8"
                  alt="Download on Apple App Store badge"
                />
              </a>
            </div>
            <div
              class="flex flex-row justify-center items-center col-start-2 md:col-start-3"
            >
              <a
                href="https://play.google.com/store/apps/details?id=de.schaeffler.stt&hl=en"
                target="_blank"
              >
                <img
                  src="/assets/images/store-badges/google-play-badge.png"
                  class="w-40 md:w-auto md:h-8"
                  alt="Download on Google Play Store badge"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
