<div
  class="flex flex-row p-2 md:mb-8 md:p-0"
  [ngClass]="{ 'pb-[250px]': isStandalone$ | ngrxPush }"
>
  <div class="md:mx-8">
    <ea-calculation-parameters></ea-calculation-parameters>
  </div>

  <div class="ml-auto hidden flex-row md:flex">
    <mat-divider [vertical]="true"></mat-divider>
    <div class="my-8 ml-8">
      <ea-calculation-types-selection></ea-calculation-types-selection>
    </div>
  </div>
</div>
<ea-calculation-result-preview
  [sticky]="isStandalone$ | ngrxPush"
></ea-calculation-result-preview>
