<div
  *transloco="let t; read: 'materialsSupplierDatabase.mainTable.changeHistory'"
>
  <ng-container
    *transloco="let d; read: 'materialsSupplierDatabase.mainTable.columns'"
  >
    @if (done$ | ngrxPush) {
      <div class="pt-3 pb-5 pl-14">
        <dl>
          @for (item of changes; track item) {
            <dt class="pt-2 text-body-2 text-medium-emphasis">
              {{
                t('changedBy', {
                  name: item.modifiedBy,
                  date: item.timestamp | date: 'dd.MM.YYYY HH:mm'
                })
              }}
            </dt>
            @for (change of item.changes; track change) {
              <dd class="px-4 text-body-2 text-high-emphasis">
                {{ d(change.property) }}:
                {{
                  t(change.reason, {
                    current: change.current,
                    previous: change.previous
                  })
                }}
              </dd>
            }
          }
        </dl>
        <div class="pt-2">
          <span class="text-body-2 text-medium-emphasis">
            {{ t('created') }}
          </span>
          <span class="text-body-2 text-high-emphasis">
            {{
              t('createdBy', {
                name: initial.modifiedBy,
                date: initial.timestamp | date: 'dd.MM.YYYY HH:mm'
              })
            }}
          </span>
        </div>
      </div>
    }
  </ng-container>
</div>
