<ng-container
  *transloco="let t; read: 'materialsSupplierDatabase.mainTable.quickfilter'"
>
  @if (activePublishedFilterChanged$ | ngrxPush) {
    <div
      class="w-fit mb-2 p-3 flex items-center gap-x-4 border rounded-md border-[#E9B300] bg-[#FFFBEF]"
    >
      <mat-icon class="text-[#E9B300]">warning_amber</mat-icon>
      <div class="text-caption text-high-emphasis">
        <span class="font-normal">{{ t('applyChanges') }}</span>
        <span class="font-bold">{{ active.title }}</span>
      </div>
      <button
        mat-raised-button
        [disabled]="!(hasEditorRole$ | ngrxPush)"
        (click)="publishPublicChanges()"
      >
        <mat-icon>cloud_upload</mat-icon>
        {{ t('updateFilter') }}
      </button>
    </div>
  }
  <div class="h-[33px]">
    <mat-button-toggle-group
      (change)="onQuickfilterSelect($event)"
      [value]="active"
      class="!rounded-b-none !border-b-0"
      [hideSingleSelectionIndicator]="true"
    >
      <mat-button-toggle
        class="!text-caption text-medium-emphasis hover:text-high-emphasis [&>button>span]:!text-caption !bg-[#fafafa] px-1 !font-medium [&>.mat-button-toggle-focus-overlay]:hidden [&>button>span]:!leading-8"
        [value]="undefined"
        [ngClass]="{
          '!bg-white !text-high-emphasis': item === active
        }"
        [disabled]="navigationLevel === 'productCategoryRules'"
      >
        <mat-icon class="!h-4 !w-4 !text-[16px]">folder_shared</mat-icon>
      </mat-button-toggle>

      @for (item of staticFilters; track item; let i = $index) {
        <mat-button-toggle
          class="!text-caption text-medium-emphasis hover:text-high-emphasis [&>button>span]:!text-caption !bg-[#fafafa] px-1 !font-medium [&>.mat-button-toggle-focus-overlay]:hidden [&>button>span]:!leading-8"
          [value]="item"
          [ngClass]="{
            '!bg-white !text-high-emphasis': item === active
          }"
        >
          {{ item.title }}
        </mat-button-toggle>
      }
      @for (item of ownFilters$ | ngrxPush; track item) {
        <mat-button-toggle
          class="!text-caption text-medium-emphasis hover:text-high-emphasis [&>button>span]:!text-caption !bg-[#fafafa] px-1 !font-medium [&>.mat-button-toggle-focus-overlay]:hidden [&>button>span]:!leading-8"
          [value]="item"
          [ngClass]="{
            '!bg-white !text-high-emphasis':
              item === active ||
              (item?.id !== undefined && item?.id === active?.id)
          }"
        >
          {{ item.title }}
          @if (item.id !== undefined ? (hasEditorRole$ | ngrxPush) : true) {
            @if (
              item?.id !== undefined && item?.id === active?.id
                ? !(activePublishedFilterChanged$ | ngrxPush)
                : true
            ) {
              <mat-icon
                class="mb-0.5 ml-2.5 !h-3 !w-3 !text-[12px]"
                (click)="edit(item); $event.stopPropagation()"
                >edit</mat-icon
              >
            }
            <mat-icon
              class="mb-0.5 ml-2.5 !h-3 !w-3 !text-[12px]"
              (click)="remove(item); $event.stopPropagation()"
              >close</mat-icon
            >
          }
        </mat-button-toggle>
      }
      @for (item of subscribedFilters$ | ngrxPush; track item) {
        <mat-button-toggle
          class="!text-caption text-medium-emphasis hover:text-high-emphasis [&>button>span]:!text-caption !bg-[#fafafa] px-1 !font-medium [&>.mat-button-toggle-focus-overlay]:hidden [&>button>span]:!leading-8"
          [value]="item"
          [ngClass]="{
            '!bg-white !text-high-emphasis': item === active
          }"
        >
          {{ item.title }}
          <mat-icon class="mb-0.5 ml-2.5 !h-3 !w-3 !text-[12px]">star</mat-icon>
        </mat-button-toggle>
      }

      <button
        class="flex items-center justify-center w-14 outline-none border-l-[0.8px] border-l-[#e0e0e0] !text-caption text-medium-emphasis enabled:hover:text-high-emphasis !bg-[#fafafa] !px-1 !font-medium"
        [disabled]="isManagementTabSelected"
        (click)="add()"
      >
        <mat-icon class="!h-3 !text-[12px]">add</mat-icon>
      </button>
    </mat-button-toggle-group>
  </div>
</ng-container>
