<ag-grid-angular
  oncontextmenu="return false;"
  class="ag-theme-material h-[95%] rounded-[4px] rounded-tl-none border border-border"
  [excelStyles]="excelStyles"
  [rowData]="rowData"
  [defaultColDef]="defaultColumnDefs"
  [columnDefs]="columnDefs$ | ngrxPush"
  [components]="components"
  [statusBar]="statusBar"
  rowSelection="multiple"
  (firstDataRendered)="onFirstDataRendered($event)"
  (columnMoved)="onColumnChange($event)"
  (sortChanged)="onColumnChange($event)"
  (columnResized)="onColumnChange($event)"
  (columnVisible)="onColumnChange($event)"
  (filterChanged)="onFilterChanged($event)"
  (rowDataUpdated)="onRowDataUpdated($event)"
  (gridReady)="onGridReady($event)"
  (rowSelected)="onRowSelected($event)"
  [context]="tableContext"
  [sideBar]="sideBar"
  [rowHeight]="40"
  [valueCache]="true"
  [animateRows]="true"
  [localeText]="localeText$ | ngrxPush"
  [rowMultiSelectWithClick]="true"
  [getMainMenuItems]="getMainMenuItems"
  [getContextMenuItems]="getContextMenuItems"
  (rowDoubleClicked)="onRowDoubleClicked($event)"
  [suppressScrollOnNewData]="true"
  [suppressRowClickSelection]="true"
>
</ag-grid-angular>
