<div class="table-container" fxLayout="column">
  <ag-grid-angular
    class="ag-theme-material"
    [rowData]="rowData"
    [defaultColDef]="defaultColumnDefs"
    [columnDefs]="columnDefs"
    [frameworkComponents]="frameworkComponents"
    [modules]="modules"
    [statusBar]="statusBar"
    (firstDataRendered)="onFirstDataRendered($event)"
    [rowSelection]="rowSelection"
    [components]="components"
    rowHeight="40"
    valueCache
    enableRangeSelection
    animateRows
    suppressCsvExport
    suppressExcelExport
  >
  </ag-grid-angular>
</div>
