<div class="table-container" fxLayout="column">
  <ag-grid-angular
    class="ag-theme-material"
    [excelStyles]="excelStyles"
    [rowData]="rowData"
    [defaultColDef]="defaultColumnDefs"
    [columnDefs]="columnDefs$ | ngrxPush"
    [frameworkComponents]="frameworkComponents"
    [modules]="modules"
    [statusBar]="statusBar"
    [rowSelection]="rowSelection"
    [context]="tableContext"
    (firstDataRendered)="onFirstDataRendered($event)"
    (columnMoved)="onColumnChange($event)"
    (sortChanged)="onColumnChange($event)"
    (gridReady)="onGridReady($event)"
    rowHeight="40"
    valueCache
    animateRows
    suppressContextMenu
  >
  </ag-grid-angular>
</div>
