<div
  echarts
  [options]="options"
  [merge]="mergeOptions"
  (chartInit)="onChartInit($event)"
  (chartClick)="showCountryData($event)"
  class="h-full min-h-[400px] overflow-hidden"
></div>
@if (isLoading) {
  <schaeffler-loading-spinner
    [diameter]="40"
    [strokeWidth]="4"
  ></schaeffler-loading-spinner>
}

<div class="absolute right-10 top-40 flex flex-col">
  @for (region of regions; track $index) {
    <div>
      <button
        mat-stroked-button
        (click)="openDialogWithRegionData(region)"
        class="m-b-5 w-[150px]"
      >
        {{ region }}
      </button>
    </div>
  }
</div>
