<div
  echarts
  [options]="options"
  [merge]="mergeOptions"
  (chartInit)="onChartInit($event)"
  (chartClick)="showCountryData($event)"
  class="h-full min-h-[400px] overflow-hidden"
></div>
<schaeffler-loading-spinner
  *ngIf="isLoading"
  [diameter]="40"
  [strokeWidth]="4"
></schaeffler-loading-spinner>

<div
  class="absolute right-10 top-40 flex flex-col"
  *transloco="let t; read: 'organizationalView.worldMap'"
>
  <div
    *ngFor="let continent of continentButtons; trackBy: trackByFn"
    [matTooltip]="t('continentNotFound', { value: t(continent.id) })"
    [matTooltipDisabled]="continent.enabled"
  >
    <button
      mat-stroked-button
      (click)="openDialog(continent.value)"
      class="m-b-5 w-[120px]"
      [disabled]="!continent.enabled"
    >
      {{ t(continent.id) }}
    </button>
  </div>
</div>
