<div
  echarts
  [options]="options"
  [merge]="mergeOptions"
  (chartInit)="onChartInit($event)"
  (chartClick)="showCountryData($event)"
  class="h-full min-h-[400px] overflow-hidden"
></div>
<schaeffler-loading-spinner
  *ngIf="isLoading"
  [diameter]="40"
  [strokeWidth]="4"
></schaeffler-loading-spinner>

<div class="absolute right-10 top-40 flex flex-col">
  <div
    *ngFor="let continent of continents; trackBy: trackByFn"
    [matTooltip]="continent"
  >
    <button
      mat-stroked-button
      (click)="openDialogWithContinentData(continent)"
      class="m-b-5 w-[150px]"
    >
      {{ continent }}
    </button>
  </div>
</div>
