::ng-deep ag-grid-angular {
  .ag-status-bar {
    @apply pr-0  #{!important};
    padding-left: 0 !important;
  }

  .ag-root-wrapper {
    border: none !important;
    box-shadow: none !important;
  }
}
