<ng-container *transloco="let t">
  <div class="flex flex-col lg:grid lg:grid-cols-12 gap-4 pb-4">
    <div class="col-span-5 self-center mr-auto text-high-emphasis"></div>
  </div>
  <h5 class="font-bold">
    {{ t('attritionAnalytics.unforcedFluctuationAnalytics.title') }}
  </h5>
  <ia-nav-buttons
    [items]="clusters$ | ngrxPush"
    [selectedTab]="selectedCluster$ | ngrxPush"
    (selectedTabChange)="onClusterSelected($event)"
  ></ia-nav-buttons>

  @if ((analyticsLoading$ | ngrxPush) || (clustersLoading$ | ngrxPush)) {
    <schaeffler-loading-spinner
      [relative]="true"
      [diameter]="64"
      [strokeWidth]="4"
    ></schaeffler-loading-spinner>
  }
  @if (
    !(analyticsLoading$ | ngrxPush) &&
    !(clustersLoading$ | ngrxPush) &&
    (!(employeeAnalytics$ | ngrxPush) ||
      (employeeAnalytics$ | ngrxPush).length === 0 ||
      !(clusters$ | ngrxPush) ||
      (clusters$ | ngrxPush).length === 0)
  ) {
    <div class="flex h-full justify-center items-center">
      <span>{{ t('shared.noData') }}</span>
    </div>
  } @else {
    @if (!(analyticsLoading$ | ngrxPush) && !(clustersLoading$ | ngrxPush)) {
      <ia-feature-analysis
        [barChartConfigs]="employeeAnalytics$ | ngrxPush"
        [loading]="
          (analyticsLoading$ | ngrxPush) || (clustersLoading$ | ngrxPush)
        "
      >
      </ia-feature-analysis>
    }
  }

  <div class="lg:col-span-2 col-span-4 flex flex-col gap-4"></div>
</ng-container>
