<div class="container" *ngIf="!(quotationLoading$ | ngrxPush); else loading">
  <mat-card>
    <gq-case-header showOfferSlider="false">
      <gq-transaction-view-header-content
        [quotationDetail]="quotationDetail$ | ngrxPush"
        [currency]="currency$ | ngrxPush"
      >
      </gq-transaction-view-header-content>
    </gq-case-header>
  </mat-card>
  <div class="content" fxLayout="row" fxLayoutAlign="space-between none">
    <div fxFlex="50%">
      <mat-card>
        <gq-transparency-graph
          *ngIf="!(transactionsLoading$ | ngrxPush); else loading"
          [transactions]="graphTransactions$ | ngrxPush"
          [coefficients]="coefficients$ | ngrxPush"
        ></gq-transparency-graph>
      </mat-card>
    </div>
    <div fxFlex="50%">
      <mat-card>
        <gq-comparable-transactions
          *ngIf="
            (translationsLoaded$ | ngrxPush) &&
              !(transactionsLoading$ | ngrxPush);
            else loading
          "
          [rowData]="transactions$ | ngrxPush"
        ></gq-comparable-transactions>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #loading>
  <gq-loading-spinner [show]="true"></gq-loading-spinner>
</ng-template>
