<div
  class="flex flex-1 flex-col h-full"
  *ngIf="!(quotationLoading$ | ngrxPush); else loading"
>
  <mat-card
    class="!pt-0 !shadow-none border-b border-border"
    *transloco="let t; read: 'transactionView.header'"
  >
    <schaeffler-subheader [breadcrumbs]="breadcrumbs" [title]="t('title')">
      <ng-container titleContent>
        <gq-material-price-header-content
          [quotationDetail]="quotationDetail$ | ngrxPush"
          [currency]="currency$ | ngrxPush"
          [price]="(quotationDetail$ | ngrxPush)?.recommendedPrice"
        >
        </gq-material-price-header-content>
      </ng-container>
      <ng-container header>
        <schaeffler-share-button></schaeffler-share-button>
      </ng-container>
    </schaeffler-subheader>
  </mat-card>
  <gq-saving-in-progress
    *ngIf="
      !(transactionsLoading$ | ngrxPush) &&
        (transactions$ | ngrxPush)?.length === 0;
      else savingInProgress
    "
  ></gq-saving-in-progress>

  <ng-template #savingInProgress
    ><div class="flex flex-1 mt-4 mb-4 flex-row">
      <div class="flex ml-4 mr-2 w-1/2">
        <mat-card class="flex-1 border-[1px] border-border !shadow-none">
          <gq-transparency-graph
            *ngIf="
              (translationsLoaded$ | ngrxPush) &&
                !(transactionsLoading$ | ngrxPush);
              else loading
            "
            [transactions]="graphTransactions$ | ngrxPush"
            [coefficients]="coefficients$ | ngrxPush"
            [currency]="currency$ | ngrxPush"
          ></gq-transparency-graph>
        </mat-card>
      </div>
      <div class="flex mr-4 ml-2 w-1/2">
        <mat-card class="flex-1 border-[1px] border-border !shadow-none">
          <gq-comparable-transactions
            *ngIf="
              (translationsLoaded$ | ngrxPush) &&
                !(transactionsLoading$ | ngrxPush);
              else loading
            "
            [rowData]="transactions$ | ngrxPush"
            [currency]="currency$ | ngrxPush"
          ></gq-comparable-transactions>
        </mat-card>
      </div>
    </div>
  </ng-template>
</div>
<ng-template #loading>
  <schaeffler-loading-spinner></schaeffler-loading-spinner>
</ng-template>
