<div>
  <span
    *transloco="let t; read: 'shared.validation'"
    class="float-left w-full truncate"
    [ngClass]="{
      '!text-on-error-container': isInvalidPriceError,
      'text-on-warning-container': isWarningEnabled,
    }"
  >
    @if (isWarningEnabled) {
      <mat-icon
        [matTooltip]="
          t(warningTooltip, {
            deliveryUnit: params.data.deliveryUnit,
            uom: params.data.material?.baseUoM | uom,
          })
        "
        class="!text-[16px] mr-[10px] !w-4 cursor-help align-text-top"
        [ngClass]="{
          '!text-icon-error': isInvalidPriceError,
          'text-icon-warning': isWarningEnabled,
        }"
        >warning_amber</mat-icon
      >
    }
    <span
      [ngClass]="{
        'bg-[#e9b300]':
          (simulatedQuotation$ | ngrxPush) &&
          params.formatValue((simulatedQuotation$ | ngrxPush)[params.field]) !==
            '-',
      }"
      class="p-1"
    >
      {{
        (simulatedQuotation$ | ngrxPush)
          ? params
              .formatValue((simulatedQuotation$ | ngrxPush)[params.field])
              ?.trim()
          : params.valueFormatted?.trim()
      }}
    </span>
  </span>
  @if (isCellEditingAllowed) {
    <mat-icon
      *hideIfQuotationNotActiveOrPending
      class="text-on-surface-variant cursor-pointer align-text-top !text-[16px]"
      (click)="onIconClick()"
      >mode_edit</mat-icon
    >
  } @else {
    @if (params.field === columnFields.ORDER_QUANTITY) {
      <mat-icon
        *hideIfQuotationNotActiveOrPending
        class="text-on-surface-variant align-text-top !text-[16px] cursor-not-allowed"
        >edit_off</mat-icon
      >
    }
  }
</div>
<ng-template #novalue> </ng-template>
