<div>
  <span
    *transloco="let t; read: 'shared.validation'"
    class="float-left w-full min-w-[100px] truncate"
    [ngClass]="{
      'text-error': isInvalidPriceError,
      'text-orange': isWarningEnabled
    }"
  >
    <mat-icon
      *ngIf="isWarningEnabled"
      [matTooltip]="
        t(warningTooltip, { deliveryUnit: params.data.deliveryUnit })
      "
      matTooltipClass="whitespace-pre-line !text-caption"
      class="!text-caption mr-[10px] !w-3 cursor-help align-text-top"
      >warning_amber</mat-icon
    >
    <span
      [ngClass]="{
        'bg-sunny-yellow':
          (simulatedQuotation$ | ngrxPush) &&
          params.formatValue((simulatedQuotation$ | ngrxPush)[params.field]) !==
            '-'
      }"
      class="p-1"
    >
      {{
        (simulatedQuotation$ | ngrxPush)
          ? params
              .formatValue((simulatedQuotation$ | ngrxPush)[params.field])
              ?.trim()
          : params.valueFormatted?.trim()
      }}
    </span>
  </span>
  <ng-container *ngIf="isCellEditingAllowed">
    <mat-icon
      *hideIfQuotationHasStatus="[
        quotationStatus.DELETED,
        quotationStatus.INACTIVE
      ]"
      class="text-medium-emphasis cursor-pointer align-text-top !text-[16px]"
      (click)="onIconClick()"
      >mode_edit</mat-icon
    >
  </ng-container>
</div>
<ng-template #novalue> </ng-template>
