<div *ngIf="params?.valueFormatted">
  <span
    class="float-left w-[100px] truncate"
    [ngClass]="{
      'text-error': mspWarningEnabled,
      'text-[#FFA726]': marginWarningEnabled && !mspWarningEnabled
    }"
  >
    <mat-icon
      *ngIf="mspWarningEnabled || marginWarningEnabled"
      [matTooltip]="
        mspWarningEnabled ? mspWarningTooltip : marginWarningTooltip
      "
      matTooltipClass="whitespace-pre-line !text-caption"
      class="mr-[10px] !w-3 cursor-help align-text-top !text-caption"
      >warning_amber</mat-icon
    >
    <span
      [ngClass]="{
        'bg-sunny-yellow':
          (simulatedQuotation$ | ngrxPush) &&
          params.formatValue((simulatedQuotation$ | ngrxPush)[params.field]) !==
            '-'
      }"
      class="p-1"
    >
      {{
        (simulatedQuotation$ | ngrxPush)
          ? params
              .formatValue((simulatedQuotation$ | ngrxPush)[params.field])
              .trim()
          : params.valueFormatted.trim()
      }}
    </span>
  </span>
  <mat-icon
    *ngIf="isCellEditingAllowed"
    class="cursor-pointer align-text-top !text-[16px] text-medium-emphasis"
    (click)="onIconClick()"
    >mode_edit</mat-icon
  >
</div>
