<div
  class="flex flex-col w-full h-full max-h-full"
  *transloco="let t; read: 'bearing'"
>
  <div class="flex items-center" id="bearing-page-header">
    <mat-icon color="secondary" routerLink="/overview">arrow_back</mat-icon>
    <div *ngIf="!(loading$ | ngrxPush); else bearing_loading">
      <h1 *ngIf="bearing$ | ngrxPush as bearing">
        {{ bearing.name }}
      </h1>
    </div>
    <ng-template #bearing_loading>
      <h1>{{ t('bearingLoading') }}</h1>
    </ng-template>
  </div>
  <nav mat-tab-nav-bar mat-stretch-tabs>
    <a
      mat-tab-link
      *ngFor="let tabLink of tabLinks; trackBy: trackByFn"
      [routerLink]="tabLink.link"
      routerLinkActive
      [disabled]="tabLink.disabled"
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      {{ t(tabLink.name) | uppercase }}
    </a>
  </nav>
  <div class="bg-background box-border flex p-4 h-full w-full">
    <router-outlet></router-outlet>
  </div>
</div>
