<div fxLayout="column" class="container" *transloco="let t; read: 'bearing'">
  <div fxLayout="row" fxLayoutAlign="start center" id="bearing-page-header">
    <mat-icon
      fontSet="schaeffler-icons"
      fontIcon="icon-arrow-west"
      color="secondary"
      routerLink="/overview"
    ></mat-icon>
    <div *ngIf="!(loading$ | ngrxPush); else bearing_loading">
      <h1 *ngIf="bearing$ | ngrxPush as bearing">
        {{ bearing.name }}
      </h1>
    </div>
    <ng-template #bearing_loading>
      <h1>{{ t('bearingLoading') }}</h1>
    </ng-template>
  </div>
  <nav mat-tab-nav-bar mat-stretch-tabs>
    <a
      mat-tab-link
      *ngFor="let tabLink of tabLinks; trackBy: trackByFn"
      [routerLink]="tabLink.link"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      {{ t(tabLink.name) | uppercase }}
    </a>
  </nav>
  <div id="tab-content">
    <router-outlet></router-outlet>
  </div>
</div>
