<div
  class="flex h-full max-h-full w-full flex-col"
  *transloco="let t; read: 'bearing'"
>
  <schaeffler-subheader
    [title]="(bearing$ | ngrxPush)?.name || t('bearingLoading')"
    (backButtonClicked)="navigateBack()"
    class="p-4"
  >
  </schaeffler-subheader>
  <nav mat-tab-nav-bar mat-stretch-tabs>
    <a
      mat-tab-link
      *ngFor="let tabLink of tabLinks; trackBy: trackByFn"
      [routerLink]="tabLink.link"
      routerLinkActive
      [disabled]="tabLink.disabled"
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      {{ t(tabLink.name) | uppercase }}
    </a>
  </nav>
  <div class="box-border flex h-full w-full bg-background-dark p-4">
    <router-outlet></router-outlet>
  </div>
</div>
