:host {
  ::ng-deep {
    .mat-mdc-text-field-wrapper {
      padding: 0 !important;

      .mat-mdc-form-field-flex {
        padding: 0 0 0 0.75em;
      }
    }
    .mat-mdc-form-field-infix {
      display: flex;
      width: 75px;
      min-height: 0;
      padding: 1em 4px 1em 0 !important;
    }

    .mdc-text-field:not(.mdc-text-field--disabled)
      .mdc-text-field__input::placeholder,
    .mat-mdc-form-field-icon-suffix {
      color: rgba(0, 0, 0, 0.42);
      font-weight: 400;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

.edit-icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
  z-index: 100;
}
