<div class="flex w-full flex-col mt-16">
  <ag-grid-angular
    class="ag-theme-material border-border min-h-[400px] h-[85vh] border"
    [rowData]="data"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    [components]="components"
    [animateRows]="true"
    [suppressCsvExport]="true"
    [suppressExcelExport]="true"
    [suppressCellFocus]="true"
    [fullWidthCellRenderer]="GeneralQuestionsRendererComponent"
    [isFullWidthRow]="isFullWidthRowRenderer"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>
