.unauthorized-main-container {
  background-color: #ffffff;
  margin: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px;
  text-align: left;
}

.unauhtorized-grid-tile-text {
  align-items: left;
  width: 100%;
}
