<div class="unauthorized-main-container" *transloco="let t">
  <h4>{{ t('accessDeniedHeadline') }}</h4>
  <mat-grid-list cols="4" rowHeight="60">
    <mat-grid-tile colspan="1">
      <div class="unauhtorized-grid-tile-text">
        <h5>{{ t('error') }}</h5>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="unauhtorized-grid-tile-text">
        <p [innerHTML]="t('accessDeniedErrorDescription')"></p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div class="unauhtorized-grid-tile-text">
        <h5>{{ t('reason') }}</h5>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="unauhtorized-grid-tile-text">
        <p [innerHTML]="t('accessDeniedReasonMessage')"></p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div class="unauhtorized-grid-tile-text">
        <h5>{{ t('solution') }}</h5>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="unauhtorized-grid-tile-text">
        <p>
          <span [innerHTML]="t('accessDeniedSolutionDescription')"></span>
          <a
            class="disclaimer-link"
            [href]="href"
            [innerHTML]="t('request')"
          ></a>
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <button mat-button color="primary" routerLink="/home">
        {{ t('routeHomeBtn') }}
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
