<ag-grid-angular
  class="ag-theme-material h-full"
  [ngClass]="{ 'embedded-table': minified }"
  [rowData]="rowData"
  [defaultColDef]="defaultColDef"
  [columnDefs]="columnDefs"
  [modules]="modules"
  [sideBar]="sideBar"
  [frameworkComponents]="frameworkComponents"
  [statusBar]="statusBar"
  [getMainMenuItems]="getMainMenuItems"
  [loadingOverlayComponent]="loadingOverlayComponent"
  [suppressNoRowsOverlay]="rowData === undefined || isLoading"
  [noRowsOverlayComponent]="noRowsOverlayComponent"
  [noRowsOverlayComponentParams]="noRowsOverlayComponentParams"
  [rowGroupPanelShow]="rowGroupPanelShow"
  [enableRangeSelection]="enableRangeSelection"
  [rowSelection]="rowSelection"
  [rowHeight]="30"
  [valueCache]="true"
  [animateRows]="true"
  [suppressCsvExport]="true"
  [suppressExcelExport]="true"
  [suppressCellSelection]="true"
  [rowMultiSelectWithClick]="true"
  (columnMoved)="columnChange($event)"
  (columnVisible)="columnChange($event)"
  (columnPinned)="columnChange($event)"
  (columnResized)="columnChange($event)"
  (columnRowGroupChanged)="columnChange($event)"
  (sortChanged)="columnChange($event)"
  (rowSelected)="onRowSelected($event)"
  (gridReady)="onGridReady($event)"
  (firstDataRendered)="onFirstDataRendered($event)"
>
</ag-grid-angular>
