<div
  *transloco="let t; read: 'calculationSelection'"
  class="flex flex-col justify-between h-full"
  [ngClass]="{ 'items-center': !isInDialog, 'items-start': isInDialog }"
>
  <div class="flex flex-col" [ngClass]="{ 'items-center': !isInDialog }">
    <div
      *ngIf="isInDialog && getCalculationTypesGlobalSelection$ | ngrxPush as selectionState"
    >
      <button
        mat-button
        (click)="selectAllChanged(true)"
        [disabled]="selectionState?.selectAll && !selectionState?.indeterminate"
        color="primary"
      >
        {{ t('selectAll') }}
      </button>
    </div>

    <div class="text-subtitle-1 text-medium-emphasis mb-8" *ngIf="!isInDialog">
      {{ t('title')}}
    </div>
    <section class="flex w-56 flex-col">
      <ng-container *ngIf="!isInDialog">
        <div
          class="mb-2"
          *ngIf="getCalculationTypesGlobalSelection$ | ngrxPush as selectionState"
        >
          <mat-checkbox
            [disableRipple]="true"
            color="primary"
            class="hover:bg-secondary-100 hover:text-primary text-medium-emphasis px-4 py-2 hover:rounded"
            (click)="selectAllChanged(!selectionState.selectAll || selectionState.indeterminate)"
            [indeterminate]="selectionState.indeterminate"
            [checked]="selectionState.selectAll"
          >
            <div class="flex">
              <mat-icon class="mr-2 flex-shrink-0">calculate</mat-icon>
              <div class="text-subtitle-1 text-medium-emphasis">
                {{ t('calculations') }}
              </div>
            </div>
          </mat-checkbox>
        </div>
        <mat-divider class="mb-6"></mat-divider>
      </ng-container>
      <div
        class="flex"
        *ngIf="calculationTypesConfig$ | ngrxPush as calculationTypesConfig"
      >
        <ul>
          <li
            *ngFor="let config of calculationTypesConfig"
            class="md:mt-4 mt-2"
            [matTooltip]="t('typeUnavailable')"
            [matTooltipDisabled]="!config.disabled"
            [matTooltipPosition]="isInDialog ? 'below' : 'left'"
            #tooltipRef="matTooltip"
          >
            <mat-checkbox
              [disableRipple]="true"
              class="px-4 py-2 hover:rounded w-full"
              [ngClass]="{'text-low-emphasis cursor-help': config.disabled, 'hover:bg-secondary-100 hover:text-primary': !config.disabled, 'text-high-emphasis': config.selected, 'text-medium-emphasis': !config.selected}"
              color="primary"
              [disabled]="config.disabled"
              [checked]="config.selected"
              (click)="!config.disabled && selectionChanged(!config.selected, config, calculationTypesConfig)"
            >
              <div class="flex flex-row items-center">
                <mat-icon class="mr-2 flex-shrink-0" [svgIcon]="config.svgIcon"
                  >{{ config.icon }}</mat-icon
                >
                <div class="text-subtitle-2 whitespace-normal">
                  {{ t(config.label) }}
                </div>
              </div>
            </mat-checkbox>
          </li>
        </ul>
      </div>
    </section>
  </div>

  <div class="mt-16" *ngIf="!isInDialog; else okButton">
    <button
      (click)="onShowBasicFrequenciesDialogClick()"
      mat-button
      color="primary"
    >
      {{ 'basicFrequencies.showBasicFrequencies' | transloco }}
    </button>

    <div
      class="py-4 mt-4 mx-auto border-border border-t text-medium-emphasis text-center text-body-2"
    >
      {{ 'general.poweredBy' | transloco: { name: 'Bearinx 2023.1' } }}
    </div>
  </div>
</div>

<ng-template #okButton>
  <div class="flex flex-row items-center w-full mt-4">
    <button
      mat-raised-button
      class="w-full"
      color="primary"
      (click)="dialogRef.close()"
    >
      {{ 'ok' | transloco }}
    </button>
  </div>
</ng-template>
