<div *transloco="let t">
  <h3 class="headline-second-part">
    {{ t('customer_material_portfolio.modal.subheader.substitution', {}) }}
  </h3>
  <div class="grid grid-cols-1 md:grid-cols-3 xs:gap-1 md:gap-4">
    <div>
      <app-single-autocomplete-on-type
        [form]="props().formGroup"
        [control]="successorMaterialControl"
        urlBegin="global-selection/search-materials"
        [label]="
          t('customer.material_portfolio.modal.substitution.successor', {})
        "
        [getOptionLabelInTag]="DisplayFunctions.displayFnText"
        (selectionChange)="handleSuccessorChange($event)"
      />
    </div>
    <div>
      <!--      TODO  use errorhandlingdatepicker and validation-->
      <app-date-picker
        [label]="t('customer_material_portfolio.modal.substitution.label', {})"
        [control]="repDateControl"
      />
    </div>
  </div>
  <div class="grid grid-cols-1 xs:gap-1">
    <div>
      <label id="demandPlanAdoptionRadioGroupLabel">{{
        t(
          'customer.material_portfolio.modal.substitution.transfere_forecast.rootString',
          {}
        )
      }}</label>
      <div>
        <mat-radio-group
          aria-labelledby="demandPlanAdoptionRadioGroupLabel"
          [formControl]="demandPlanAdoptionControl"
        >
          @for (option of demandPlanAdoptionOptions; track option) {
            <mat-radio-button [value]="option"
              >{{ t(getTranslationKey(option), {}) }}
            </mat-radio-button>
          }
        </mat-radio-group>
      </div>
    </div>
    <div>
      {{ t('customer_material_portfolio.inactive_modal.deletion_warning', {}) }}
    </div>
  </div>
</div>
