<div
  class="flex flex-col gap-6 mb-8"
  *transloco="let t; read: 'recommendation.application'"
>
  <div class="py-8 flex flex-col gap-6">
    <span class="text-title-large text-on-surface-variant">
      {{ t('questionAmbientTemperature') }}
      <lsa-info-tooltip translationKey="tooltips.application.temps" />
    </span>

    <div class="flex flex-col w-full md:w-[35rem]">
      <div class="flex items-center">
        <lsa-temperature-input
          class="w-full"
          [minLimit]="-15"
          [maxLimit]="70"
          [marks]="[-15, 0, 70]"
          [initialMin]="applicationForm.controls.temperature.value.min"
          [initialMax]="applicationForm.controls.temperature.value.max"
          [inputFormat]="unitset$()"
          (update)="handleTemperatureUpdate($event)"
        />
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="py-8 flex flex-col gap-6">
    <span class="text-title-large text-on-surface-variant">
      {{ t('questionPowerType') }}</span
    >
    <lsa-radio-button-group
      [options]="powerSupplyRadioOptions | ngrxPush"
      [control]="applicationForm.controls.battery"
    ></lsa-radio-button-group>
  </div>
</div>
