<div
  *transloco="let t; read: 'caseView.caseCreation.importCase'"
  class="flex h-full flex-col"
>
  <gq-dialog-header
    [title]="title$ | ngrxPush"
    (closeDialog)="closeDialog()"
  ></gq-dialog-header>
  @if (!(createCaseLoading$ | ngrxPush)) {
    <div class="mt-8 flex h-full flex-col">
      @if (quotation$ | ngrxPush; as quotation) {
        <div class="h-full">
          <gq-sap-id-autocomplete-input
            [options]="quotation.options"
            (unselected)="unselectOptions(quotation.filter)"
            (added)="selectOption($event, quotation.filter)"
            (isValid)="quotationValid($event)"
            [isLoading]="quotationAutocompleteLoading$ | ngrxPush"
            (autocomplete)="autocomplete($event)"
          ></gq-sap-id-autocomplete-input>
        </div>
      }
      <div class="flex flex-row justify-end gap-4">
        <button mat-button (click)="closeDialog()">
          {{ t('cancelButton') }}
        </button>
        <button
          mat-flat-button
          [disabled]="!quotationIsValid"
          (click)="importQuotation()"
        >
          {{ t('importButton') }}
        </button>
      </div>
    </div>
  } @else {
    <schaeffler-loading-spinner></schaeffler-loading-spinner>
  }
</div>
