<div
  *transloco="let t; read: 'caseView.caseCreation.importCase'"
  class="flex h-full flex-col"
>
  <gq-dialog-header
    [title]="title$ | ngrxPush"
    (closeDialog)="closeDialog()"
  ></gq-dialog-header>
  @if (!(createCaseLoading$ | ngrxPush)) {
    <div class="mt-8 flex h-full flex-col">
      @if (quotation$ | ngrxPush; as quotation) {
        <div class="h-full">
          <gq-autocomplete-input
            [filterName]="quotation.filter"
            [options]="quotation.options"
            (unselected)="unselectOptions(quotation.filter)"
            (added)="selectOption($event, quotation.filter)"
            (isValid)="quotationValid($event)"
            [autocompleteLoading]="quotationAutocompleteLoading$ | ngrxPush"
            (autocomplete)="autocomplete($event)"
          ></gq-autocomplete-input>
        </div>
      }
      <div class="flex flex-row">
        <button
          class="!mr-4 !pl-8 !pr-8"
          color="primary"
          mat-raised-button
          [disabled]="!quotationIsValid"
          (click)="importQuotation()"
        >
          {{ t('importButton') | uppercase }}
        </button>
        <button
          color="primary"
          class="text-button font-medium"
          mat-stroked-button
          (click)="closeDialog()"
        >
          {{ t('cancelButton') | uppercase }}
        </button>
      </div>
    </div>
  } @else {
    <schaeffler-loading-spinner></schaeffler-loading-spinner>
  }
</div>
