<div
  *transloco="let t; read: 'caseView.caseCreation.importCase'"
  class="flex h-full flex-col"
>
  <gq-dialog-header
    [title]="title$ | ngrxPush"
    (closeDialog)="closeDialog()"
  ></gq-dialog-header>
  <div
    class="mt-8 flex h-full flex-col"
    *ngIf="!(createCaseLoading$ | ngrxPush); else loading"
  >
    <div class="h-full" *ngIf="quotation$ | ngrxPush as quotation">
      <gq-autocomplete-input
        [filterName]="quotation.filter"
        [options]="quotation.options"
        (unselected)="unselectOptions(quotation.filter)"
        (added)="selectOption($event, quotation.filter)"
        (isValid)="quotationValid($event)"
        [autocompleteLoading]="quotationAutocompleteLoading$ | ngrxPush"
        (autocomplete)="autocomplete($event)"
      ></gq-autocomplete-input>
    </div>
    <div>
      <button
        class="!pl-8 !pr-8"
        color="primary"
        mat-raised-button
        [disabled]="!quotationIsValid"
        (click)="importQuotation()"
      >
        {{ t('importButton') | uppercase }}
      </button>
    </div>
  </div>
  <ng-template #loading>
    <schaeffler-loading-spinner></schaeffler-loading-spinner>
  </ng-template>
</div>
