<mac-base-dialog
  *transloco="let t; read: 'materialsSupplierDatabase.mainTable.dialog'"
  [txtTitle]="title"
  [txtCancel]="t('cancel')"
  [txtConfirm]="
    isEditDialog() && !isCopyDialog()
      ? t('updateMaterialStandard')
      : t('addMaterialStandard')
  "
  [isAddDialog]="isCopyDialog() || !isEditDialog()"
  [valid]="createMaterialForm.valid"
  (accept)="confirmMaterial($event)"
  (minimize)="minimizeDialog()"
  (cancel)="cancelDialog()"
>
  <div class="flex flex-col gap-y-3">
    @if (!(dialogLoading$ | ngrxPush) && !(editLoading$ | ngrxPush)) {
      <div class="flex flex-row gap-x-6">
        <mac-material-standard
          class="w-full"
          [editable]="isEditDialog() || isCopyDialog()"
          [materialStandardIdControl]="materialStandardIdControl"
          [standardDocumentsControl]="standardDocumentsControl"
          [materialNamesControl]="materialNamesControl"
          macMaterialDialogBasePart
        ></mac-material-standard>
      </div>
      @if (materialNumberControl.enabled) {
        <div class="flex flex-row gap-x-6">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>
              {{ t('number-' + materialClass) }}
            </mat-label>
            <input
              matInput
              [placeholder]="t('placeholder.number-' + materialClass)"
              value=""
              [formControl]="materialNumberControl"
              name="materialNumbers"
              #dialogControl
            />
            @if (materialNumberControl.invalid) {
              <mat-error
                class="text-caption"
                [matTooltip]="t('error.number-' + materialClass)"
                class="cursor-help"
              >
                {{ materialNumberControl.errors | errorMessage }}
                <mat-icon inline="true" class="!leading-3"
                  >info_outline</mat-icon
                >
              </mat-error>
            }
          </mat-form-field>
        </div>
      }
    }
  </div>
</mac-base-dialog>
