@import 'libs/shared/ui/styles/src/lib/colors';

.selection-hint {
  height: 80%;
  margin: 20px;
  text-align: center;

  mat-icon {
    color: $schaeffler-blue;
    font-size: 83px;
    height: 83px;
    width: 83px;
  }

  h2 {
    color: $schaeffler-carbon-gray;
  }
}
