<h2 mat-dialog-title class="!mt-0 !mr-0 !mb-4 !ml-1 !text-high-emphasis">
  {{ (meta$ | ngrxPush)?.data?.title }}
</h2>
<mat-dialog-content>
  <div class="flex h-full flex-col gap-8 lg:flex-row">
    <div class="flex flex-1 flex-col lg:min-w-[280px]">
      <div class="flex-1">
        <ia-attrition-dialog-meta
          [meta]="meta$ | ngrxPush"
          [fluctuationLoading]="fluctuationLoading$ | ngrxPush"
        ></ia-attrition-dialog-meta>
      </div>
    </div>
    <div class="invisible lg:visible">
      <mat-divider class="h-full" [vertical]="true"></mat-divider>
    </div>
    <div
      class="grow"
      *transloco="let t; read: 'organizationalView.attritionDialog'"
    >
      <ia-line-chart
        [config]="fluctuationOverTimeData$ | ngrxPush"
        [isDataLoading]="fluctuationOverTimeDataLoading$ | ngrxPush"
        [title]="(referenceOrgUnit$ | ngrxPush) + ' - ' + t('chartTitle')"
      ></ia-line-chart>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions
  align="end"
  *transloco="let t; read: 'organizationalView.attritionDialog'"
>
  <button mat-button mat-dialog-close color="primary">{{ t('close') }}</button>
</mat-dialog-actions>
