<ng-container *transloco="let t; read: 'organizationalView.attritionDialog'">
  <div mat-dialog-title class="!flex flex-wrap">
    <div class="flex w-full">
      <h5 class="leading-6">
        {{ meta?.data?.title }}
      </h5>
      <button mat-dialog-close class="ml-auto flex">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <mat-dialog-content>
    <div class="flex h-full flex-col gap-4 lg:flex-row">
      <div class="flex">
        <div class="flex-1">
          <ia-attrition-dialog-meta [meta]="meta"></ia-attrition-dialog-meta>
        </div>
      </div>
      <div class="invisible lg:visible w-6">
        <mat-divider class="h-full" [vertical]="true"></mat-divider>
      </div>
      <div class="flex flex-col w-full">
        <div class="grid grid-cols-4">
          @if (childDimensionName$ | ngrxPush) {
            <h6
              class="col-span-3 text-overline text-medium-emphasis mb-2 ml-1 mr-0 mt-0 font-medium leading-4"
            >
              <span
                [innerHTML]="
                  (childDimensionName$ | ngrxPush) + ' - ' + t('chartTitle')
                "
              ></span>
            </h6>
          }
          <mat-button-toggle-group
            class="fluctuation-details-tab-group col-span-1 mb-auto ml-auto max-w-max max-h-max !rounded-md !bg-gray-300 !border-gray-300"
            name="chartType"
            hideSingleSelectionIndicator="true"
            [value]="selectedSeriesType$ | ngrxPush"
            (valueChange)="onSeriesTypeChange($event)"
          >
            <mat-button-toggle
              class="rounded-l-sm"
              [value]="seriesType.UNFORCED_LEAVERS"
              [matTooltip]="t('tooltip.totalUnforcedLeavers')"
            >
              <mat-icon>directions_run</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle
              class="rounded-r-sm"
              [value]="seriesType.UNFORCED_FLUCTUATION"
              [matTooltip]="t('tooltip.unforcedFluctuation')"
            >
              <mat-icon>groups</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <ia-line-chart
          [config]="fluctuationChartConfig$ | ngrxPush"
          [isDataLoading]="childFluctuationOverTimeDataLoading$ | ngrxPush"
          [series]="childFluctuationOverTimeData$ | ngrxPush"
          [benchmarkSeries]="parentFluctuationOverTimeData$ | ngrxPush"
          [mergeOptions]="mergeOptions"
        ></ia-line-chart>
      </div>
    </div>
  </mat-dialog-content>
  @if (meta?.data.hideDetailedLeaverStats) {
    <mat-dialog-actions align="end">
      <p class="italic text-warning text-start">
        {{ t('insufficientRights') }}
      </p>
    </mat-dialog-actions>
  }
</ng-container>
