<mat-dialog-content>
  <ng-container *ngrxLet="quotationCurrency$; let currency">
    <div class="flex w-full h-full gap-8 flex-col py-4">
      <!-- position information-->
      <div
        class="flex flex-col w-full"
        *transloco="
          let t;
          prefix: 'shared.rfqItemsTable.approvalProcesses.showHistory.positionInformation'
        "
      >
        <span
          class="text-title-small font-bold text-on-surface opacity-[0.38] pb-4"
          >{{ t('title') }}</span
        >
        <div class="grid grid-cols-4 gap-4">
          <gq-recalculation-data-item
            class="col-span-1"
            [caption]="t('materialNumber')"
            [value]="quotationDetail().material.materialNumber15"
          ></gq-recalculation-data-item>
          <gq-recalculation-data-item
            class="col-span-2"
            [caption]="t('materialDescription')"
            [value]="quotationDetail().material.materialDescription"
          ></gq-recalculation-data-item>
          <gq-recalculation-data-item
            class="col-span-1"
            [caption]="t('quantity')"
            [value]="quotationDetail().orderQuantity?.toString()"
          ></gq-recalculation-data-item>
        </div>
      </div>

      <!-- rfq Information -->
      <div
        class="flex flex-col w-full"
        *transloco="
          let t;
          prefix: 'shared.rfqItemsTable.approvalProcesses.showHistory.rfqInformation'
        "
      >
        <span
          class="text-title-small font-bold text-on-surface opacity-[0.38] pb-4"
          >{{ t('title') }}</span
        >
        <div class="grid grid-cols-4 gap-4">
          <gq-recalculation-data-item
            class="col-span-1"
            [caption]="t('productionPlant')"
            [value]=" `${ quotationDetail().productionPlant.plantNumber} | ${quotationDetail().productionPlant.city}`"
          ></gq-recalculation-data-item>

          <gq-recalculation-data-item
            class="col-span-1"
            [caption]="t('productLine')"
            [value]="quotationDetail().material.productLineId"
          ></gq-recalculation-data-item>
          @if (assignee()) {
            <gq-recalculation-data-item
              class="col-span-1"
              [caption]="
                rfq4Status() === rfq4StatusEnum.CONFIRMED
                  ? t('confirmedBy')
                  : t('assignee')
              "
              [value]="`${assignee() | userDisplay: true}`"
            ></gq-recalculation-data-item>
            @if (rfq4Status() === rfq4StatusEnum.CONFIRMED) {
              <gq-recalculation-data-item
                class="col-span-1"
                [caption]="t('confirmedDate')"
                [value]="processHistoryData()?.confirmedDate | translocoDate"
              ></gq-recalculation-data-item>
            }
          }
          <gq-recalculation-data-item
            class="col-span-4"
            [caption]="t('message')"
            [value]="processHistoryData()?.recalculationMessage"
          ></gq-recalculation-data-item>
          @if (rfq4Status() === rfq4StatusEnum.CONFIRMED) {
            <gq-recalculation-data-item
              class="col-span-1"
              [caption]="t('sqvAndPriceUnit')"
              [value]="`${quotationDetail().sqv | numberCurrency: currency} / ${quotationDetail().leadingPriceUnit} ${quotationDetail().material.baseUoM | uom}`"
            ></gq-recalculation-data-item>
            <gq-recalculation-data-item
              class="col-span-1"
              [caption]="t('sqvRfqAndPriceUnit')"
              [value]="`${quotationDetail().rfqData?.sqv | numberCurrency: currency} / ${quotationDetail().leadingPriceUnit} ${quotationDetail().material.baseUoM | uom}`"
            ></gq-recalculation-data-item>
            <gq-recalculation-data-item
              class="col-span-1"
              [caption]="t('costLotSize')"
              [value]="`${processHistoryData()?.recalculationData?.lotSize} ${quotationDetail().material.baseUoM | uom}` "
            ></gq-recalculation-data-item>
            <gq-recalculation-data-item
              class="col-span-1"
              [caption]="t('toolCosts')"
              [value]="`${processHistoryData()?.recalculationData?.toolCosts | numberCurrency: currency}` "
            ></gq-recalculation-data-item>

            <gq-recalculation-data-item
              class="col-span-1"
              [caption]="t('gqPrice')"
              [value]="`${quotationDetail().recommendedPrice| numberCurrency: currency}`"
            ></gq-recalculation-data-item>
            <gq-recalculation-data-item
              class="col-span-1"
              [caption]="t('msp')"
              [value]="`${quotationDetail().msp| numberCurrency: currency}`"
            ></gq-recalculation-data-item>
            <gq-recalculation-data-item
              class="col-span-1"
              [caption]="t('rsp')"
              [value]="`${quotationDetail().rsp| numberCurrency: currency}`"
            ></gq-recalculation-data-item>
            <gq-recalculation-data-item
              class="col-span-1"
              [caption]="t('deliveryTimeAOR')"
              [value]="
              `${processHistoryData()?.recalculationData?.deliveryTime} ${processHistoryData()?.recalculationData.deliveryTimeUnit | titlecase}`
            "
            ></gq-recalculation-data-item>

            <gq-recalculation-data-item
              class="col-span-4"
              [caption]="t('rfqComment')"
              [value]="processHistoryData()?.recalculationData?.comment"
            ></gq-recalculation-data-item>
            <gq-recalculation-data-item
              class="col-span-4"
              [caption]="t('calculationDetails')"
              [value]="
                processHistoryData()?.recalculationData?.calculationDetails
              "
            ></gq-recalculation-data-item>

            <!-- determine when to display this infoBanner-->

            <gq-info-banner
              class="col-span-4"
              [isWarning]="false"
              [infoText]="t('infoBannerText')"
            ></gq-info-banner>
          }

          @if (rfq4Status() === rfq4StatusEnum.CANCELLED) {
            <gq-recalculation-data-item
              class="col-span-1"
              [caption]="t('state')"
              [value]="
                t('rfq4Status', { rfq4Status: rfq4StatusEnum.CANCELLED })
              "
            ></gq-recalculation-data-item>
            <gq-recalculation-data-item
              class="col-span-1"
              [caption]="t('cancelledDate')"
              [value]="processHistoryData()?.cancelledDate | translocoDate"
            ></gq-recalculation-data-item>
            <gq-recalculation-data-item
              class="col-span-2"
              [caption]="t('cancelReason')"
              [value]="
                processHistoryData()?.reasonForCancellation === 'CUSTOMER'
                  ? t('cancelledByCustomer')
                  : t('cancelledBySchaeffler')
              "
            ></gq-recalculation-data-item>

            <gq-recalculation-data-item
              class="col-span-4"
              [caption]="t('rfqComment')"
              [value]="processHistoryData()?.cancellationComment"
            ></gq-recalculation-data-item>
          }
        </div>
      </div>
    </div>
  </ng-container>
</mat-dialog-content>
