<ng-container *ngIf="filterName">
  <mat-form-field
    appearance="outline"
    *transloco="let t; read: 'caseView.createCaseDialog'"
    [ngClass]="{ 'error-quotation': !isValid }"
  >
    <mat-label class="error-quotation-label">{{
      t(filterName + '.label')
    }}</mat-label>
    <input
      class="input-field"
      [formControl]="searchFormControl"
      matInput
      #valueInput
      [matAutocomplete]="auto"
    />
    <mat-spinner
      *ngIf="autocompleteLoading"
      matSuffix
      [diameter]="18"
    ></mat-spinner>
    <mat-hint>{{ t(filterName + '.hint') }}</mat-hint>
    <mat-error *ngIf="searchFormControl.hasError('invalidInput')">{{
      t(filterName + '.wrongInput')
    }}</mat-error>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option
        *ngFor="let idValue of unselectedOptions; trackBy: trackByFn"
        [value]="idValue"
      >
        {{ idValue.id }} |
        <span
          *ngIf="!isSapQuotation(unselectedOptions[0]); else showCustomerName"
          >{{ idValue.value }}</span
        >
        <ng-template #showCustomerName>
          <span>{{ idValue.customerName }}</span>
        </ng-template>
      </mat-option>
      <mat-option
        disabled
        *ngIf="
          unselectedOptions
            | noResultsFound
              : selectedIdValue
              : searchFormControl.value
              : autocompleteLoading
              : debounceIsActive
        "
      >
        {{ t(filterName + '.nothingFound') }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</ng-container>
