<div
  class="gap-y-3"
  *transloco="let t; read: 'materialsSupplierDatabase.mainTable.dialog'"
>
  <!-- gap-x-6 did not work out with 4 input fields so i used pr-6 3 times.-->
  <div class="flex flex-row">
    <mat-form-field appearance="outline" class="w-1/4 pr-6">
      <mat-label>{{ t('scope1') }}</mat-label>
      <input
        matInput
        [formControl]="co2Scope1Control"
        type="number"
        name="co2Scope1"
        #dialogControl
      />
      <span matSuffix class="text-caption !block !w-16 pt-1">{{
        t('co2PerTon')
      }}</span>
      <mat-hint>{{ co2Scope1Hint }}</mat-hint>
      @if (co2Scope1Control.invalid) {
        <mat-error class="text-caption">{{
          getErrorMessage(co2Scope1Control.errors)
        }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-1/4 pr-6">
      <mat-label>{{ t('scope2') }}</mat-label>
      <input
        matInput
        [formControl]="co2Scope2Control"
        type="number"
        name="co2Scope2"
        #dialogControl
      />
      <span matSuffix class="text-caption !block !w-16 pt-1">{{
        t('co2PerTon')
      }}</span>
      <mat-hint>{{ co2Scope2Hint }}</mat-hint>
      @if (co2Scope2Control.invalid) {
        <mat-error class="text-caption">{{
          getErrorMessage(co2Scope2Control.errors)
        }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-1/4 pr-6">
      <mat-label>{{ t('scope3') }}</mat-label>
      <input
        matInput
        [formControl]="co2Scope3Control"
        type="number"
        name="co2Scope3"
        #dialogControl
      />
      <span matSuffix class="text-caption !block !w-16 pt-1">{{
        t('co2PerTon')
      }}</span>
      <mat-hint>{{ co2Scope3Hint }}</mat-hint>
      @if (co2Scope3Control.invalid) {
        <mat-error class="text-caption">{{
          getErrorMessage(co2Scope3Control.errors)
        }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-1/4">
      <mat-label>{{ t('co2Total') }}</mat-label>
      <input
        matInput
        [formControl]="co2TotalControl"
        type="number"
        name="co2PerTon"
        #dialogControl
      />
      <span matSuffix class="text-caption !block !w-16 pt-1">{{
        t('co2PerTon')
      }}</span>
      <mat-hint>{{ co2TotalHint }}</mat-hint>
      @if (co2TotalControl.invalid) {
        <mat-error
          class="text-caption"
          [matTooltip]="
            co2TotalControl.errors?.scopeTotalLowerThanSingleScopes ||
            co2TotalControl.errors?.scopeTotalHigherThanSingleScopes
              ? t('error.co2Scopes')
              : ''
          "
        >
          {{ getErrorMessage(co2TotalControl.errors) }}
          <mat-icon inline="true" class="!leading-3 cursor-help"
            >info_outline</mat-icon
          >
        </mat-error>
      }
    </mat-form-field>
  </div>

  <ng-content select="[afterCo2Scope]"></ng-content>

  <div class="flex flex-row gap-x-6">
    <ng-content select="[preCo2Classification]"></ng-content>
    <div class="flex w-full flex-row">
      <schaeffler-select
        appearance="outline"
        class="w-full"
        [stringOptions]="co2Classification$ | ngrxPush"
        [control]="co2ClassificationControl"
        [filterFn]="filterFn"
        [label]="t('co2Classification')"
        [resetButton]="false"
        [showTriggerTooltip]="true"
        [formFieldHint]="co2ClassificationHint"
        triggerTooltipDelay="1500"
        tooltipPosition="right"
        name="co2Classification"
        #dialogControl
      >
        @if (co2ClassificationControl.invalid) {
          <span matErrorContent class="text-caption">
            {{ getErrorMessage(co2ClassificationControl.errors) }}
          </span>
        }
      </schaeffler-select>
      <span mat-icon class="mb-4 self-center pl-4">
        <mat-icon
          matTooltipPosition="before"
          [matTooltip]="t('tooltip.co2Classification')"
          class="text-link cursor-help"
          >info_outline</mat-icon
        >
      </span>
    </div>
  </div>

  <ng-content select="[overReleaseRestrictions]"></ng-content>

  <div class="flex flex-row gap-x-6">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ t('releaseRestrictions') }}</mat-label>
      <textarea
        matInput
        [formControl]="releaseRestrictionsControl"
        name="releaseRestrictions"
        #dialogControl
      ></textarea>
      <mat-hint>{{ releaseRestrictionsHint }}</mat-hint>
    </mat-form-field>
  </div>
</div>
