@import 'libs/shared/styles/src/lib/colors';

img {
  height: auto;
  width: 100%;
}

.page-container {
  margin: 0 auto;
  max-width: 960px;
  span,
  hr {
    color: $schaeffler-carbon-gray;
  }
}

.background-white {
  background-color: $schaeffler-white;
  padding: 20px;
}

.notice {
  border: 2px solid $schaeffler-yellow;
  padding-left: 20px;
  padding-right: 20px;
}

.back-button {
  color: $schaeffler-carbon-gray;
  cursor: pointer;
  padding: 15px 0;
}

.icon {
  color: $schaeffler-carbon-gray;
}

.warn-icon {
  color: $schaeffler-yellow;
}

.full-width {
  width: 100%;
}
