<div class="page-container">
  <div
    class="back-button"
    fxLayout="row"
    fxLayoutAlign="start center"
    [routerLink]="['/']"
  >
    <schaeffler-icon [icon]="backIcon"></schaeffler-icon>
    <span>Back to Extensions Overview</span>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <div class="mat-elevation-z8 background-white" fxFlex="100%">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <schaeffler-icon
          fontSize="40px"
          class="icon"
          [icon]="getMaterialIcon(extension?.icon)"
        ></schaeffler-icon>

        <h1>{{ extension?.name }}</h1>
      </div>
      <div
        fxLayoutAlign="space-between center"
        fxLayoutAlign.xs="center start"
        fxLayoutGap.xs="15px"
        fxLayout.xs="column"
        ngClass.gt-xs="m-l-60"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="20px"
          fxLayoutGap.xs="10px"
        >
          <span>
            brought to you by
            <a
              href="https://sconnect.schaeffler.com/community/global-technology/strategic-information-technology/digital-platform/ai-solutions"
              target="_blank"
              >Custom Apps & AI
            </a>
          </span>
          <span>|</span>
          <div
            fxFlex
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="5px"
          >
            <schaeffler-icon
              fontSize="18px"
              class="icon"
              [icon]="langIcon"
            ></schaeffler-icon>
            <span>English</span>
          </div>
          <span>|</span>
          <span>Version 1.0</span>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutAlign.xs="end center"
          ngClass.xs="full-width"
          fxLayoutGap="15px"
        >
          <button
            mat-icon-button
            [cdkCopyToClipboard]="url"
            (click)="showCopySuccess()"
          >
            <schaeffler-icon
              fontSize="18px"
              class="icon"
              [icon]="getMaterialIcon('share')"
            ></schaeffler-icon>
          </button>
          <schaeffler-steel-extension-download
            *ngIf="extension?.manifest"
            [file]="extension.manifest"
            raised="true"
          ></schaeffler-steel-extension-download>
        </div>
      </div>
      <hr />
      <h3>Description</h3>
      <p>
        {{ extension?.longDescription }}
      </p>
      <ng-container *ngIf="extension?.screenshots">
        <img
          *ngFor="let screenshot of extension.screenshots; trackBy: trackByFn"
          [src]="screenshot"
        />
      </ng-container>
      <h3>How to use</h3>
      <ul *ngIf="extension?.howToUse">
        <li>
          <a
            target="_blank"
            href="https://help.tableau.com/current/pro/desktop/en-us/dashboard_extensions.htm"
            >Use Dashboard Extensions</a
          >
        </li>
        <li *ngFor="let howToUse of extension.howToUse; trackBy: trackByFn">
          {{ howToUse }}
        </li>
      </ul>
      <div class="notice">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <schaeffler-icon
            class="warn-icon"
            [icon]="warningIcon"
          ></schaeffler-icon>
          <h3>Notice</h3>
        </div>
        <ul *ngIf="extension?.notice">
          <li *ngFor="let noticeEntry of extension.notice; trackBy: trackByFn">
            {{ noticeEntry }}
          </li>
        </ul>
      </div>
      <h3>Permissions</h3>
      <span>{{ extension?.permissions }}</span>
    </div>
  </div>
</div>
