<ng-container *transloco="let t; read: 'parameters'">
  <div class="flex h-full flex-col">
    <div class="container mx-auto py-4 px-4 md:max-w-2xl md:px-0">
      <h6>
        <span class="mr-2 inline-block">{{ t('title.main') }}</span>
        <span class="inline-block">{{ selectedBearing$ | ngrxPush }}</span>
      </h6>
      <div
        *ngIf="!(appIsEmbedded$ | ngrxPush)"
        class="-ml-1 inline-flex cursor-pointer items-center gap-1 py-2 pr-2 text-link"
        (click)="navigateBack()"
      >
        <mat-icon>arrow_back</mat-icon>
        {{ t('title.backButton') }}
      </div>
    </div>
    <div
      *ngIf="
        (modelCreationLoading$ | ngrxPush) ||
          (modelCreationSuccess$ | ngrxPush);
        else invalid_model
      "
      class="container mx-auto pb-4 sm:px-4 md:max-w-2xl md:px-0 md:pb-8"
    >
      <div class="flex flex-col gap-0 sm:gap-5">
        <div
          class="border-t border-border bg-surface sm:rounded sm:border-x sm:border-b"
        >
          <div class="flex flex-row items-center border-b border-border p-5">
            <mat-icon class="mr-2 !text-medium-emphasis">compress</mat-icon>
            <h5 class="mr-4 text-body-2">{{ t('loads') }}</h5>
            <span class="flex-grow"></span>
            <span
              class="text-caption font-medium tracking-wide text-low-emphasis"
              >{{ t('requiredInformation') }}</span
            >
          </div>
          <div class="p-4 pb-0">
            <div class="mb-4">
              <mat-slide-toggle
                color="primary"
                labelPosition="before"
                [checked]="exact.value"
                (change)="toggleLoadsType($event)"
              >
                {{ t('enterRadialAndAxialLoad') }}
              </mat-slide-toggle>
            </div>
            <div class="grid grid-cols-1 gap-0 md:grid-cols-2 md:gap-4">
              <ng-container *ngIf="exact.value; else exactValuesUnknown">
                <ga-input
                  *ngIf="radialLoadPossible$ | ngrxPush"
                  [control]="radial"
                  [label]="t('radialLoad')"
                  [unit]="loadUnit"
                  [tooltipText]="t('tooltip.radialLoad')"
                  [placeholder]="t('pleaseEnter', { label: t('radialLoad') })"
                  [onlyPositive]="true"
                ></ga-input>
                <ga-input
                  *ngIf="axialLoadPossible$ | ngrxPush"
                  [control]="axial"
                  [label]="t('axialLoad')"
                  [unit]="loadUnit"
                  [tooltipText]="t('tooltip.axialLoad')"
                  [placeholder]="t('pleaseEnter', { label: t('axialLoad') })"
                  [onlyPositive]="true"
                ></ga-input>
              </ng-container>
              <ng-template #exactValuesUnknown>
                <ga-select
                  [control]="loadRatio"
                  [label]="t('load')"
                  [options]="loadRatioOptions"
                ></ga-select>
              </ng-template>
            </div>
          </div>
        </div>
        <div
          class="border-t border-border bg-surface sm:rounded sm:border-x sm:border-b"
        >
          <div class="flex flex-row items-center border-b border-border p-5">
            <mat-icon class="mr-2 !text-medium-emphasis">animation</mat-icon>
            <h5 class="mr-4 text-body-2">{{ t('motionInfluences') }}</h5>
            <span class="flex-grow"></span>
            <span
              class="text-caption font-medium tracking-wide text-low-emphasis"
              >{{ t('requiredInformation') }}</span
            >
          </div>
          <div class="grid grid-cols-1 gap-0 p-4 pb-0 md:grid-cols-2 md:gap-4">
            <ga-select
              [control]="movementType"
              [label]="t('kindOfMotion')"
              [options]="typeOptions"
            ></ga-select>
            <ng-container *ngIf="selectedMovementType$ | ngrxPush">
              <ga-input
                *ngIf="
                  (selectedMovementType$ | ngrxPush) === movement.rotating;
                  else oscillatingFields
                "
                [control]="rotationalSpeed"
                [label]="t('relativeRotationalSpeed')"
                [unit]="t('onePerMinute')"
                [tooltipText]="t('tooltip.rotationSpeed')"
                [placeholder]="
                  t('pleaseEnter', { label: t('relativeRotationalSpeed') })
                "
                [onlyPositive]="true"
              ></ga-input>
            </ng-container>

            <ng-template #oscillatingFields>
              <div></div>
              <ga-input
                [control]="shiftFrequency"
                [label]="t('shiftFrequency')"
                [unit]="t('onePerMinute')"
                [tooltipText]="t('tooltip.shiftFrequency')"
                [placeholder]="t('pleaseEnter', { label: t('shiftFrequency') })"
                [onlyPositive]="true"
              ></ga-input>
              <ga-input
                [control]="shiftAngle"
                [label]="t('shiftAngle')"
                [unit]="t('degree')"
                [tooltipText]="t('tooltip.shiftAngle')"
                [placeholder]="t('pleaseEnter', { label: t('shiftAngle') })"
                [onlyPositive]="true"
              ></ga-input>
            </ng-template>
          </div>
        </div>
        <div
          class="border-t border-border bg-surface sm:rounded sm:border-x sm:border-b"
        >
          <div class="flex flex-row items-center border-b border-border p-5">
            <mat-icon class="mr-2 !text-medium-emphasis"
              >device_thermostat</mat-icon
            >
            <h5 class="mr-4 text-body-2">{{ t('otherInfluences') }}</h5>
            <span class="flex-grow"></span>
            <span
              class="text-caption font-medium tracking-wide text-low-emphasis"
              >{{ t('requiredInformation') }}</span
            >
          </div>
          <div class="grid grid-cols-1 gap-0 p-4 pb-0 md:grid-cols-2 md:gap-4">
            <ga-input
              [control]="operatingTemperature"
              [label]="t('operatingTemperature')"
              [unit]="temperatureUnit"
              [customErrors]="operatingTemperatureErrors"
              [tooltipText]="t('tooltip.operatingTemperature')"
            ></ga-input>
            <ga-input
              [control]="environmentTemperature"
              [label]="t('environmentTemperature')"
              [unit]="temperatureUnit"
              [tooltipText]="t('tooltip.environmentTemperature')"
            ></ga-input>
            <ga-select
              [control]="environmentImpact"
              [label]="t('environmentalImpactOnGreaseDuration')"
              [options]="environmentImpactOptions"
              [tooltipText]="t('tooltip.otherInfluences')"
            ></ga-select>
          </div>
        </div>
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="!!(preferredGreaseSelection$ | ngrxPush)"
            class="!rounded-none sm:!rounded"
          >
            <mat-expansion-panel-header class="!bg-primary-variant">
              <mat-panel-title class="!text-link">
                <mat-icon class="mr-2">manage_search</mat-icon>
                {{ t('preferredGrease.title.main') }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div
              class="grid grid-cols-1 gap-0 p-4 pb-2 text-body-1 md:grid-cols-2 md:gap-4"
            >
              <ga-preferred-grease-selection></ga-preferred-grease-selection>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <div
          class="flex flex-col justify-between gap-5 px-4 pt-6 sm:px-0 sm:pt-0 md:flex-row"
        >
          <button
            mat-raised-button
            color="primary"
            class="md:order-last"
            (click)="completeStep()"
            [disabled]="form.invalid || (parameterUpdating$ | ngrxPush)"
          >
            <div class="flex items-center justify-center">
              {{ t('showResults') }}
              <div
                *ngIf="!form.invalid && (parameterUpdating$ | ngrxPush)"
                class="pl-2"
              >
                <mat-spinner diameter="20"></mat-spinner>
              </div>
            </div>
          </button>
          <button mat-button color="primary" (click)="onResetButtonClick()">
            {{ t('resetInputs') }}
          </button>
        </div>
      </div>
    </div>
    <ng-template #invalid_model>
      <schaeffler-maintenance></schaeffler-maintenance>
    </ng-template>
  </div>
</ng-container>
