<div
  class="mt-6 flex h-full flex-col items-center justify-center"
  *transloco="let t; read: 'transactionView.savingInProgress'"
>
  <div class="cursor-pointer" (click)="reload()">
    <img [src]="imagePath" />
  </div>
  <h4 class="mt-12 max-w-5xl text-center text-on-surface">
    {{ hideRolesHint ? t('headerWithoutRolesHint') : t('headerWithRolesHint') }}
  </h4>
  <div class="mt-6 text-center text-on-surface-variant">
    <span class="block text-title-medium">{{ t('subtitle1') }}</span>
  </div>
</div>
