<div
  class="mt-6 flex h-full flex-col items-center justify-center"
  *transloco="let t; read: 'transactionView.savingInProgress'"
>
  <div class="cursor-pointer" (click)="reload()">
    <img [src]="imagePath" />
  </div>
  <h4 class="mt-12 max-w-5xl text-center text-high-emphasis">
    {{ hideRolesHint ? t('headerWithoutRolesHint') : t('headerWithRolesHint') }}
  </h4>
  <div class="mt-6 text-center text-medium-emphasis">
    <span class="block text-subtitle-1">{{ t('subtitle1') }}</span>
  </div>
</div>
