<div *transloco="let t; read: 'caseView.createCaseDialog.customer'">
  <div *ngIf="isExpanded; else input">
    <mat-card>
      <mat-card-title>
        <mat-icon
          fontSet="schaeffler-icons"
          fontIcon="icon-toast-error"
          class="close-add-entry"
          (click)="toggleExpanded()"
        ></mat-icon>
        {{ t('addEntry.title') }}
      </mat-card-title>
      <mat-card-content>
        <div
          class="addRowContainer"
          fxLayout="row"
          fxLayout.sm="column"
          fxLayout.xs="column"
          fxFlexFill
        >
          <div
            fxFlex="40%"
            fxLayoutAlign="start start"
            *ngIf="materialNumber$ | async as materialNumber"
            class="rowInput"
          >
            <gq-autocomplete-input
              fxFill
              #materialNumberInput
              [filterName]="materialNumber.filter"
              [options]="materialNumber.options"
              (unselected)="unselectOptions(materialNumber.filter)"
              (added)="selectOption($event, materialNumber.filter)"
              (isValid)="materialNumberValid($event)"
              [autocompleteLoading]="materialNumberAutocompleteLoading$ | async"
              (autocomplete)="autocomplete($event)"
            ></gq-autocomplete-input>
          </div>
          <div
            fxFlex="40%"
            fxLayoutAlign="center start"
            class="rowInputContainer"
          >
            <mat-form-field appearance="outline" class="rowInputField">
              <mat-label class="error-quotation-label">
                {{ t('quantity.label') }}
              </mat-label>
              <input
                class="input-field"
                matInput
                #valueInput
                (keypress)="numberOnly($event)"
                [formControl]="quantityFormControl"
              />
              <mat-hint>{{ t('quantity.hint') }}</mat-hint>
            </mat-form-field>
          </div>
          <div fxFlex fxLayoutAlign="center start">
            <button
              mat-raised-button
              color="primary"
              [disabled]="!addRowEnabled"
              (click)="addRow()"
              class="add-entry button-small"
            >
              <mat-icon>add</mat-icon>
              {{ t('addEntry.button') | uppercase }}
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <ng-template #input
    ><button mat-raised-button (click)="toggleExpanded()">
      <div class="add-entry">
        <mat-icon>add</mat-icon>
        {{ t('addEntry.title') | uppercase }}
      </div>
    </button>
  </ng-template>
</div>
