<div class="flex flex-col h-full" *transloco="let t">
  <d360-table-toolbar [rowCount]="rowCount()" [grid]="gridApi" />
  <ag-grid-angular
    #alertTable
    class="ag-theme-material grow"
    rowModelType="serverSide"
    [gridOptions]="gridOptions"
    [tooltipShowDelay]="0"
    [serverSideDatasource]="datasource"
    [localeText]="agGridLocalizationService.lang()"
    [context]="context"
    (gridReady)="onGridReady($event)"
    (firstDataRendered)="onFirstDataRendered($event)"
    [noRowsOverlayComponent]="noDataOverlayComponent"
    [getRowId]="getRowId"
    (paginationChanged)="onDataUpdated()"
  />
</div>
