.ltp-chart-legend-text {
  color: #646464;
  font: 16px/22px Arial;
  letter-spacing: 0.64px;
  line-height: 27px;
  min-height: 27px;
  opacity: 1;
  text-align: left;
}

.ltp-prediction-legend-square-container {
  height: 22px;
}
