<ng-container
  *transloco="
    let t;
    read: 'shared.openItemsTable.approvalProcesses.showHistory'
  "
>
  <gq-recalculation-progress
    [activeStep]="activeStep()"
    [cancelled]="rfq4Status() === rfq4StatusEnum.CANCELLED"
  ></gq-recalculation-progress>
  <gq-recalculation-data
    [quotationDetail]="modalData().quotationDetail"
    [hasAssignee]="hasAssignee()"
    [rfq4Status]="rfq4Status()"
  ></gq-recalculation-data>
  <!--footer-->
  <div class="flex justify-between pt-4">
    @if (
      modalData().quotationDetail.rfq4.rfq4Status === rfq4StatusEnum.IN_PROGRESS
    ) {
      <button mat-stroked-button class="!text-error">
        {{ t('cancelButton') }}
      </button>
    } @else if (
      modalData().quotationDetail.rfq4.rfq4Status ===
        rfq4StatusEnum.CONFIRMED ||
      modalData().quotationDetail.rfq4.rfq4Status === rfq4StatusEnum.CANCELLED
    ) {
      <button
        mat-stroked-button
        color="primary"
        [disabled]="
          !modalData().quotationDetail.rfq4.allowedToReopen ||
          modalData().quotationDetail.rfq4?.sqvApprovalStatus ===
            sqvApprovalStatusEnum.APPROVAL_NEEDED
        "
        (click)="triggerChangeProcess(recalculationProcessActionEnum.REOPEN)"
      >
        {{ t('reopenButton') }}
      </button>
    }
    <button
      mat-raised-button
      color="primary"
      (click)="cancelButtonClicked.emit()"
    >
      {{ t('closeButton') }}
    </button>
  </div>
</ng-container>
