<div class="border-border bg-surface rounded border mb-6 md:mb-0">
  <div class="border-border flex flex-row items-center border-b px-6 py-4">
    <mat-icon
      class="!text-medium-emphasis mr-2"
      *ngIf="svgIcon || icon"
      [svgIcon]="svgIcon"
      >{{ icon }}</mat-icon
    >
    <h5 class="text-subtitle-2 text-medium-emphasis mr-4">
      {{ title }}
    </h5>
    <span
      *ngIf="isMandatory"
      class="text-caption ml-auto text-low-emphasis font-medium tracking-wide"
      >{{ 'general.requiredInformation' | transloco }}</span
    >
  </div>
  <div class="md:p-8 md:pb-4 px-2 py-4">
    <ng-content></ng-content>
  </div>
</div>
