@import 'libs/shared/ui/styles/src/lib/colors';

:host {
  width: 100%;

  .tabs-container {
    height: calc(100% - 20px);
    margin-top: 20px;
  }

  .tabs-header {
    mat-icon {
      color: $schaeffler-carbon-gray;
      cursor: pointer;
      font-size: 24px;
      margin: 0 16px;
    }
  }

  .tab-content {
    background-color: #f5f5f5;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    padding: 16px;
  }
}
