<div class="flex h-full flex-col">
  <nav
    class="bg-surface"
    mat-tab-nav-bar
    mat-stretch-tabs
    [tabPanel]="tabPanel"
    *transloco="let t"
  >
    @for (tab of tabs; track $index) {
      <a
        class="tab-link"
        [style.--numberOfTabs]="tabs.length"
        mat-tab-link
        queryParamsHandling="merge"
        routerLinkActive
        #rla="routerLinkActive"
        [routerLink]="tab.link"
        [active]="rla.isActive"
        [disabled]="tab.disabled"
        >{{ t(tab.label) | uppercase }}
      </a>
    }
  </nav>
  <div class="w-full grow">
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</div>
