<div class="flex flex-col h-full">
  <nav class="bg-white" mat-tab-nav-bar mat-stretch-tabs *transloco="let t">
    <a
      *ngFor="let tab of tabs; trackBy: trackByFn"
      mat-tab-link
      queryParamsHandling="merge"
      routerLinkActive
      #rla="routerLinkActive"
      [routerLink]="tab.link"
      [active]="rla.isActive"
      [disabled]="tab.disabled"
      >{{ t(tab.label) | uppercase }}
    </a>
  </nav>
  <div class="flex-grow w-full">
    <router-outlet></router-outlet>
  </div>
</div>
