<schaeffler-header
  [platformTitle]="title"
  class="h-full"
  toggleEnabled="true"
  (toggle)="sidebar.toggle()"
>
  <mm-sidebar #sidebar>
    <div class="h-full flex flex-col bg-background">
      <div class="flex-auto md:m-4 p-4 bg-white">
        <router-outlet></router-outlet>
      </div>
      <schaeffler-footer-tailwind
        class="flex-shrink-0 bg-white md:bg-background"
        [footerLinks]="footerLinks"
      ></schaeffler-footer-tailwind>
    </div>
  </mm-sidebar>
</schaeffler-header>
