<mat-form-field [appearance]="appearance" class="w-full">
  <mat-label>{{ label }}</mat-label>
  <input
    type="text"
    [attr.aria-label]="label"
    matInput
    [formControl]="inputControl"
    [matAutocomplete]="auto"
    [errorStateMatcher]="errorStateMatcher"
    iaValidInput
    #matInput
  />
  <mat-spinner
    [ngClass]="{ invisible: !autoCompleteLoading }"
    matSuffix
    [diameter]="18"
  ></mat-spinner>
  <mat-error>
    {{ inputControl.errors?.invalidInput }}
  </mat-error>
  <mat-hint align="start">{{ hint }} </mat-hint>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option
      *ngFor="let option of filter?.options; trackBy: trackByFn"
      [value]="option"
    >
      {{ option.value }}
    </mat-option>
    <mat-option
      disabled
      *ngIf="
        filter?.options.length === 0 &&
        !isTyping &&
        !autoCompleteLoading &&
        inputControl.value?.length > ONE_CHAR_LENGTH
      "
    >
      {{ noResultMessage }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
