@import 'libs/shared/ui/styles/src/lib/colors';
@import 'libs/shared/ui/styles/src/lib/fonts';

:host {
  height: 100%;
  width: 100%;

  .table-container {
    height: 100%;
    width: 100%;

    ag-grid-angular {
      height: 100%;
      min-height: auto;
      width: 100%;
    }
  }
}

.column-header {
  color: $schaeffler-carbon-gray;
  font-weight: 500;
}
