<div
  class="flex h-full flex-col"
  *transloco="let t; read: 'processCaseView.tabs.singleQuotes.deleteViewModal'"
>
  <gq-dialog-header [title]="t('title')" (closeDialog)="closeDialog()">
  </gq-dialog-header>

  <div class="pt-4">
    <span class="text-on-surface-variant">{{ t('text') }}</span>
  </div>

  <div class="flex justify-end gap-4 pt-4">
    <button mat-button (click)="closeDialog()">
      <span> {{ t('cancel') }} </span>
    </button>
    <button mat-flat-button (click)="confirm()">
      <span>
        {{ t('confirm') }}
      </span>
    </button>
  </div>
</div>
