/***************************************************************************************************
 * COMPONENTS AND THEMES
 */

/*
 * Angular Material, material design components
 * see https://material.angular.io

 */

@import 'libs/shared/ui/styles/src/lib/scss/material-theme';

/*
   * ag grid components
   * see https://www.ag-grid.com/angular-grid
   */
@import '~@ag-grid-community/core/dist/styles/ag-grid.scss';
@import '~@ag-grid-community/core/dist/styles/ag-theme-material/sass/ag-theme-material-mixin.scss';

/***************************************************************************************************
   * UTILITIES
   */

/*
   * TailwindCSS, utility-first css framework
   * see https://tailwindcss.com/docs
   */
@tailwind base;
@tailwind components;
@tailwind utilities;

.ag-theme-material {
  @include ag-theme-material(
    (
      material-primary-color: $primary,
      material-accent-color: $nordic-blue,
      checkbox-checked-color: $primary,
    )
  );
  .ag-column-panel {
    border-left: 1px solid ag-param(border-color);
    border-right: 1px solid ag-param(border-color);
  }
  .ag-header-cell-text {
    font-size: 14px;
  }
}

.mat-dialog-container {
  padding: 16px !important;
}

button {
  outline: none !important;
}

.align-arrow-forward {
  vertical-align: -4px !important;
}
