@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~@ag-grid-community/core/dist/styles/ag-grid.scss';
@import '~@ag-grid-community/core/dist/styles/ag-theme-material/sass/ag-theme-material-mixin.scss';
@import 'libs/shared/ui/styles/src/lib/colors';
@import 'libs/shared/ui/styles/src/lib/material-theme';

.ag-theme-material {
  @include ag-theme-material(
    (
      material-primary-color: $schaeffler-green-1,
      material-accent-color: $schaeffler-blue,
      checkbox-checked-color: $schaeffler-green-1,
    )
  );
  .ag-column-panel {
    border-left: 1px solid ag-param(border-color);
    border-right: 1px solid ag-param(border-color);
  }
  .ag-header-cell-text {
    font-size: 14px;
  }
}

.mat-dialog-container {
  padding: 16px !important;
}

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.material-icons {
  font-family: 'Material Icons' !important;
}

.mat-tooltip {
  white-space: pre-line;
}
button {
  outline: none !important;
}
