@import 'libs/shared/ui/styles/src/lib/colors';

h2 {
  color: $schaeffler-black;
  margin: 0 0 14px 2px;
}

.sub-title {
  color: $schaeffler-gray-7;
  font-size: 12px !important;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 16px;
  margin: 0 0 8px 4px;
  text-transform: uppercase;
}

mat-icon {
  color: $schaeffler-gray-7;
}
