<div
  class="bg-surface grid grid-cols-2 gap-3 p-4"
  *transloco="let t; read: 'lossOfSkill'"
>
  <mat-card class="!flex flex-col pb-2">
    <h5 class="mb-5 font-bold">{{ t('lostJobProfiles.title') }}</h5>
    <ia-lost-job-profiles
      class="h-[390px]"
      [loading]="lostJobProfilesLoading$ | ngrxPush"
      [data]="lostJobProfilesData$ | ngrxPush"
      [workforceLoading]="lossOfSkillWorkforceLoading$ | ngrxPush"
      [workforceData]="lossOfSkillWorkforceData$ | ngrxPush"
      [leaversLoading]="lossOfSkillLeaversLoading$ | ngrxPush"
      [leaversData]="lossOfSkillLeaversData$ | ngrxPush"
      (workforceRequested)="triggerLoadWorkforce($event)"
      (leaversRequested)="triggerLoadLeavers($event)"
    ></ia-lost-job-profiles>
  </mat-card>
  <mat-card class="pb-2">
    <h5 class="mb-5 font-bold">{{ t('riskOfLeaving.title') }}</h5>
    <ia-risk-of-leaving></ia-risk-of-leaving>
  </mat-card>
</div>
