<div class="bg-surface-legacy" *transloco="let t; read: 'lossOfSkill'">
  <ng-container *disableOnProd>
    <mat-card class="mt-4">
      <h5 class="mb-5 font-bold">{{ t('pmgm.title') }}</h5>
      <ia-pmgm [data]="pmgmData$ | ngrxPush"></ia-pmgm>
    </mat-card>
  </ng-container>
  <mat-card class="mt-4">
    <h5 class="mb-5 font-bold">{{ t('lostJobProfiles.title') }}</h5>
    <ia-lost-job-profiles
      [filters]="beautifiedFilters$ | ngrxPush"
      [timeRange]="timeRange$ | ngrxPush"
      [openPositionsAvailable]="areOpenPositionsAvailable$ | ngrxPush"
      [loading]="lostJobProfilesLoading$ | ngrxPush"
      [data]="lostJobProfilesData$ | ngrxPush"
      [workforceLoading]="lossOfSkillWorkforceLoading$ | ngrxPush"
      [workforceData]="lossOfSkillWorkforceData$ | ngrxPush"
      [leaversLoading]="lossOfSkillLeaversLoading$ | ngrxPush"
      [leaversData]="lossOfSkillLeaversData$ | ngrxPush"
      (workforceRequested)="triggerLoadWorkforce($event)"
      (leaversRequested)="triggerLoadLeavers($event)"
    ></ia-lost-job-profiles>
  </mat-card>
</div>
