<ng-container *ngIf="!(loading$ | ngrxPush); else loading">
  <mat-card
    *transloco="let t; read: 'conditionMonitoring.conditionMeasuringEquipment'"
    class="h-full overflow-y-scroll"
  >
    <mat-card-header>
      <mat-card-title>{{ t('title') }} </mat-card-title>
    </mat-card-header>

    <mat-card-content class="h-full">
      <div
        class="equipment-image flex justify-center h-2/6"
        [ngSwitch]="selectedTab"
      >
        <img *ngSwitchCase="'meta'" src="/assets/images/Bearing.png" />
        <img *ngSwitchCase="'grease'" src="/assets/images/Grease.png" />
        <img *ngSwitchCase="'load'" src="/assets/images/Load.png" />
        <img *ngSwitchCase="'edm'" src="/assets/images/EDM.png" />
        <img *ngSwitchCase="'router'" src="/assets/images/EdgeDevice.png" />
      </div>
      <mat-tab-group
        animationDuration="0ms"
        (selectedTabChange)="this.handleSelectedTabChange($event)"
      >
        <mat-tab #greaseTab label="meta">
          <ng-template mat-tab-label>
            <mat-icon
              svgIcon="icon-bearing"
              [ngClass]="greaseTab.isActive && 'text-primary'"
            ></mat-icon>
          </ng-template>
          <ng-template matTabContent>
            <div class="meta-info-header">{{ t('metaData') }}</div>
            <div
              class="meta-info-container"
              *ngFor="
                let bearingProperty of bearingProperties;
                trackBy: trackByFn
              "
            >
              <label class="meta-info-item"
                >{{ t(bearingProperty.name) }}:
              </label>
              <span class="meta-info-item">
                {{ getBearingMeta(bearingProperty.property) }}
                {{ bearingProperty.unit && ' ' + bearingProperty.unit }}
              </span>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="grease">
          <ng-template mat-tab-label>
            <mat-icon>opacity</mat-icon>
          </ng-template>
          <ng-template matTabContent>
            <div class="meta-info-header">{{ t('greaseStatus') }}</div>
            <div class="meta-info-container">
              <div class="meta-info-item meta-label">
                {{ t('measurementPoints') }}
              </div>
              <div class="meta-info-item">
                {{ t('measurementPointsGrease') }}
              </div>
              <div class="meta-info-item meta-label">
                {{ t('functionality') }}
              </div>
              <div class="meta-info-item">
                {{ t('functionalityGrease') }}
              </div>
              <div class="meta-info-item meta-label">{{ t('benefit') }}</div>
              <div class="meta-info-item">
                {{ t('benefitGrease') }}
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab #loadTab label="load">
          <ng-template mat-tab-label>
            <mat-icon
              svgIcon="icon-load"
              [ngClass]="loadTab.isActive && 'text-primary'"
            ></mat-icon>
          </ng-template>
          <ng-template matTabContent>
            <div class="meta-info-header">{{ t('loadSensePin') }}</div>
            <div class="meta-info-container">
              <div class="meta-info-item meta-label">
                {{ t('measurementPoints') }}
              </div>
              <div class="meta-info-item">
                {{ t('measurementPointsLoad') }}
              </div>
              <div class="meta-info-item meta-label">
                {{ t('functionality') }}
              </div>
              <div class="meta-info-item">
                {{ t('functionalityLoad') }}
              </div>
              <div class="meta-info-item meta-label">{{ t('benefit') }}</div>
              <div class="meta-info-item">
                {{ t('benefitLoad') }}
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab #edmTab label="edm">
          <ng-template mat-tab-label>
            <mat-icon
              svgIcon="icon-vibration"
              [ngClass]="edmTab.isActive && 'text-primary'"
            ></mat-icon>
          </ng-template>
          <ng-template matTabContent>
            <div class="meta-info-header">{{ t('edm') }}</div>
            <div class="meta-info-container">
              <div class="meta-info-item meta-label">
                {{ t('measurementPoints') }}
              </div>
              <div class="meta-info-item">
                {{ t('measurementPointsEdm') }}
              </div>
              <div class="meta-info-item meta-label">
                {{ t('functionality') }}
              </div>
              <div class="meta-info-item">
                {{ t('functionalityEdm') }}
              </div>
              <div class="meta-info-item meta-label">{{ t('benefit') }}</div>
              <div class="meta-info-item">
                {{ t('benefitEdm') }}
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab #routerTab label="router">
          <ng-template mat-tab-label>
            <mat-icon [ngClass]="routerTab.isActive && 'text-primary'"
              >router</mat-icon
            >
          </ng-template>
          <ng-template matTabContent>
            <div class="meta-info-header">{{ t('edgeDevice') }}</div>
            <div class="meta-info-container">
              <div class="meta-info-item meta-label">
                {{ t('interfaces') }}
              </div>
              <div class="meta-info-item">{{ t('interfacesEdge') }}</div>
              <div class="meta-info-item meta-label">
                {{ t('functionality') }}
              </div>
              <div class="meta-info-item">
                {{ t('functionalityEdge') }}
              </div>
              <div class="meta-info-item meta-label">{{ t('benefit') }}</div>
              <div class="meta-info-item">
                {{ t('benefitEdge') }}
              </div>
            </div>
          </ng-template></mat-tab
        >
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #loading>
  <mat-card class="full-height-card placeholder-item"></mat-card>
</ng-template>
