@import '../../../../colors';

.equipment-image {
  padding: 1rem 0;

  // img {
  //   height: 220px;
  //   width: 200px;
  // }
}

.meta-info-header {
  font-size: 1rem;
  padding-top: 1rem;
}

.meta-label {
  color: $goldwind-text-medium;
}

.meta-info-container {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 0.5rem;
  row-gap: 0.5rem;
}

:host::ng-deep {
  .mat-card-header-text {
    @apply w-full;
    margin: 0 !important;
  }

  .mat-tab-labels {
    .mat-tab-label {
      min-width: 3rem !important;
      width: 3rem;
    }
  }

  .mat-tab-label-content {
    font-size: 24px;
  }
}
