<div
  class="mt-4"
  *transloco="let t; read: 'detailView.pricingDetails.relocationCostDetails'"
>
  <gq-kpi-status-card *ngIf="quotationDetail" [title]="t('title')">
    <gq-label-text>
      <span label>{{ t('relocationCost') }}</span>
      <span text>{{
        quotationDetail.relocationCost | numberCurrency: currency
      }}</span>
    </gq-label-text>
    <gq-label-text [marginBottom]="false">
      <span label>{{ t('relocationPlant') }}</span>
      <span text>{{
        quotationDetail.relocatedProductionPlant | plantDisplay
      }}</span>
    </gq-label-text>
  </gq-kpi-status-card>
</div>
