<div
  *transloco="let t; read: 'detailView.pricingDetails.relocationCostDetails'"
>
  <div *ngIf="quotationDetail">
    <p class="m-2 text-caption">
      <span class="text-light">{{ t('relocationCost') }}: </span>
      <span class="text-dark">{{
        quotationDetail.relocationCost | numberCurrency: currency
      }}</span>
    </p>
    <p class="m-2 text-caption">
      <span class="text-light">{{ t('relocationPlant') }}: </span>
      <span class="text-dark">{{
        quotationDetail.relocatedProductionPlant | plantDisplay
      }}</span>
    </p>
  </div>
</div>
