<mm-qualtrics-info-banner
  class="block m-6 mb-3 mr-2"
></mm-qualtrics-info-banner>
<mat-horizontal-stepper
  (selectionChange)="activate($event)"
  #stepper
  *transloco="let t"
  linear="true"
  class="primary-stepper"
>
  @for (page of pages; track page; let i = $index) {
    <mat-step
      [editable]="
        page.id !== inactivePageId &&
        page.visible &&
        (page.id | mmPageBefore: maxPageId : pages)
      "
      [completed]="
        page.id === inactivePageId ||
        (page.id | mmPageBefore: maxPageId : pages)
      "
      [label]="page.id"
      [aria-labelledby]="
        (page.id === inactivePageId ||
          !page.visible ||
          !(page.id | mmPageBefore: maxPageId : pages)) &&
        'disabled'
      "
    >
      <ng-template matStepLabel>{{ t(page.page.text) }}</ng-template>
      <h5>{{ t(page.page.text) }}</h5>
    </mat-step>
  }
  <ng-template matStepperIcon="done" let-index="index">
    {{ index + 1 }}
  </ng-template>
  <ng-template matStepperIcon="edit" let-index="index">
    {{ index + 1 }}
  </ng-template>
</mat-horizontal-stepper>
