/* You can add global styles to this file, and also import other style files */
@import 'libs/shared/styles/src';

.full-height {
  height: 100%;
}

.mat-drawer-container.mat-sidenav-container {
  height: 100%;
}

a:-webkit-any-link {
  color: $schaeffler-green-1;
}

.tileContainer {
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.mat-slider.mat-slider-horizontal {
  min-width: 0;
}

.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
  background-color: $schaeffler-green-1;
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: $schaeffler-green-1;
  border-color: $schaeffler-green-1;
}

.mat-slider-min-value .mat-slider-focus-ring {
  background-color: $schaeffler-green-1;
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing):hover
  .mat-slider-thumb,
.mat-slider-min-value:not(.mat-slider-thumb-label-showing).cdk-focused
  .mat-slider-thumb {
  border-color: $schaeffler-green-1;
}

.mat-slider-disabled .mat-slider-track-background,
.mat-slider-disabled .mat-slider-track-fill,
.mat-slider-disabled .mat-slider-thumb {
  background-color: $schaeffler-gray-4 !important;
  border-color: transparent !important;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: $schaeffler-white;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ie-sliderLabel {
    text-align: right;
  }

  .tileContainer {
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    width: 100%;
  }

  .ie-text-output-container {
    display: block !important;
  }

  .warning-icon {
    margin-left: 10px;
    margin-right: 10px;
    min-height: 50px;
    min-width: 50px;
  }
}

.image-responsive {
  height: auto;
  max-width: 100%;
}

button:not(.mat-menu-trigger):not(.mat-menu-item) {
  font-size: 16px;
  font-weight: bold;
  mat-icon {
    margin-left: 7px;
  }
  text-transform: uppercase;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.float-right {
  float: right;
}

.ltp-margin-side {
  margin-left: 30px;
  margin-right: 30px;
}

.ltp-widget-padding {
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

mat-sidenav-content {
  height: calc(100% - 60px) !important;
  overflow: visible;
  top: 60px;

  @media screen and (max-width: $screen-sm-max) {
    top: 73px;
  }
}

schaeffler-settings-sidebar {
  height: 100%;
}
