<div
  class="flex w-full flex-row items-baseline justify-between gap-2"
  [ngClass]="{ 'gap-0': !tooltipText }"
  *transloco="let t"
>
  <mat-form-field
    appearance="outline"
    class="flex grow flex-row pb-3 hover:outline-none"
    [subscriptSizing]="subscriptSizing"
  >
    @if (label) {
      <mat-label>{{ label }}</mat-label>
    }
    <mat-select [formControl]="control" [placeholder]="placeholder">
      @for (option of options; track option) {
        <mat-option [value]="option.value ? option.value : option.id">
          @if (translateText) {
            {{ t(option.text) }}
          } @else {
            {{ option.text }}
          }
        </mat-option>
      }
      @if (hint) {
        <mat-hint>{{ hint }}</mat-hint>
      }
    </mat-select>
    @if (control.hasError('required')) {
      <mat-error>{{ t('parameters.errors.required') }}</mat-error>
    }

    <ng-container *transloco="let t; read: 'parameters.errors'">
      @for (error of customErrors; track error) {
        <ng-container ngProjectAs="mat-error">
          @if (control.hasError(error.name)) {
            <mat-error>{{ t(error.message) }}</mat-error>
          }
        </ng-container>
      }
    </ng-container>
    <ng-content></ng-content>
  </mat-form-field>
  @if (tooltipText) {
    <div class="w-6">
      @if (tooltipText) {
        <mat-icon
          class="cursor-help text-primary"
          #tooltip="matTooltip"
          [matTooltip]="tooltipText"
          (click)="tooltip.toggle()"
        >
          info_outline
        </mat-icon>
      }
    </div>
  }
</div>
