<ng-container
  *transloco="let t; read: 'materialsSupplierDatabase.mainTable.tooltip'"
>
  <div mat-dialog-title class="!px-0">
    <div
      class="inline-flex w-full flex-row content-around justify-between pl-4 pb-3 pr-2"
    >
      <div class="text-h6 text-high-emphasis my-auto">
        {{ dialogData.title }}
      </div>
      <button mat-icon-button (click)="closeDialog()">
        <mat-icon class="text-medium-emphasis">close</mat-icon>
      </button>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="flex flex-col gap-2">
      @if (dialogData.topText) {
        <p>{{ dialogData.topText }}</p>
      }
      @if (dialogData.imageSrc) {
        <img [src]="dialogData.imageSrc" />
      }
      @if (dialogData.imageCaption) {
        <div class="flex flex-row-reverse">
          <span class="text-caption">{{ dialogData.imageCaption }}</span>
        </div>
      }
      @if (dialogData.bottomText) {
        <p>{{ dialogData.bottomText }}</p>
      }
      @if (dialogData.bottomTemplate) {
        <ng-container
          [ngTemplateOutlet]="dialogData.bottomTemplate"
        ></ng-container>
      }
      @if (dialogData.contact) {
        <div class="flex flex-row-reverse items-baseline">
          @if (!dialogData.mailToLink) {
            <span class="text-caption">{{ dialogData.contact }}</span>
          } @else {
            <a class="text-caption text-link" [href]="dialogData.mailToLink"
              ><mat-icon [inline]="true" class="!h-3 mr-0.5"
                >mail_outline</mat-icon
              >{{ dialogData.contact }}</a
            >
          }
          <span class="text-caption pr-1">{{
            t('moreInformationContactLabel')
          }}</span>
        </div>
      }
    </div>
  </div>
</ng-container>
