<div class="container" *transloco="let t; read: 'detailView.pricingDetails'">
  <mat-card>
    <mat-card-title> {{ t('label') }} </mat-card-title>
    <mat-card-content>
      <mat-accordion multi="true">
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ t('materialDetails.label') }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <gq-material-details
            [materialDetails]="(quotationDetail$ | ngrxPush)?.material"
            [customerMaterial]="(quotationDetail$ | ngrxPush)?.customerMaterial"
          ></gq-material-details>
        </mat-expansion-panel>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ t('supplyChainDetails.label') }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <gq-supply-chain-details
            [quotationDetail]="quotationDetail$ | ngrxPush"
          ></gq-supply-chain-details>
        </mat-expansion-panel>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ t('productionCostDetails.label') }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <gq-production-cost-details
            [quotationDetail]="quotationDetail$ | ngrxPush"
          ></gq-production-cost-details>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
