<div *ngIf="rowData" class="flex flex-row flex-wrap">
  <mat-list>
    <mat-list-item>
      <div mat-line>{{ rowData.combinedKey }}</div>
      <div mat-line>Combined Key</div>
    </mat-list-item>
    <mat-list-item>
      <div mat-line>{{ rowData.socoCustomerNumberGlobalKey }}</div>
      <div mat-line>Customer Key</div>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <mat-list-item>
      <div mat-line>{{ rowData.socoArticleNumberGlobalName }}</div>
      <div mat-line>Material Short Description</div>
    </mat-list-item>
    <mat-list-item>
      <div mat-line>{{ rowData.socoCustomerNumberGlobalName }}</div>
      <div mat-line>Customer Name</div>
    </mat-list-item>
  </mat-list>

  <div class="flex flex-col items-start" [formGroup]="datesFormGroup">
    <div>
      <mat-form-field class="!m-4 !mb-0" appearance="fill">
        <mat-label>Choose EOP</mat-label>
        <input
          matInput
          [matDatepicker]="eopPicker"
          formControlName="eopDateControl"
        />
        <mat-datepicker-toggle
          color="primary"
          matSuffix
          [for]="eopPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #eopPicker
          [disabled]="datesFormGroup.disabled"
        ></mat-datepicker>
        <mat-error
          *ngIf="datesFormGroup.controls['eopDateControl'].hasError('required')"
          >Please choose a valid date. (MM/DD/YYYY)</mat-error
        >
      </mat-form-field>

      <span class="cursor-help text-medium-emphasis">
        <mat-icon
          [matMenuTriggerFor]="infoMenu"
          #infoMenuTrigger="matMenuTrigger"
          (mouseenter)="iconEnter(infoMenuTrigger)"
          (mouseleave)="iconLeave(infoMenuTrigger)"
        >
          info
        </mat-icon>
        <mat-menu
          #infoMenu="matMenu"
          direction="down"
          yPosition="below"
          [hasBackdrop]="false"
          class="mat-menu-width"
        >
          <p class="m-0 p-5 text-body-1 leading-6 text-medium-emphasis">
            The SeDo Application calculates the EOP Dates with a dataset of
            monthly budget planning for the next 24 months.<br />
            Therefore a calculated EOP in 24 months might not be the correct EOP
            since the app is missing budget planning after 24 months.<br />
            In this case since the app updates its budget planning values each
            month the calculated EOP also updates according to the new dataset.
          </p>
        </mat-menu>
      </span>
    </div>
    <mat-form-field class="!m-4 !mb-0" appearance="fill">
      <mat-label>Choose EDO</mat-label>
      <input
        matInput
        [matDatepicker]="edoPicker"
        formControlName="edoDateControl"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="edoPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #edoPicker
        [disabled]="datesFormGroup.disabled"
      ></mat-datepicker>
      <mat-error
        *ngIf="datesFormGroup.controls['edoDateControl'].hasError('required')"
        >Please choose a valid date. (MM/DD/YYYY)</mat-error
      >
      <mat-error
        *ngIf="
          datesFormGroup.controls['edoDateControl'].hasError('disallowedEdo')
        "
        >EDO before EOP is not allowed.</mat-error
      >
    </mat-form-field>
    <div>
      <button
        *ngIf="!datesFormGroup.disabled"
        mat-raised-button
        (click)="openIgnoreDialog()"
      >
        SET IGNORE
      </button>
      <button
        *ngIf="!datesFormGroup.disabled"
        mat-raised-button
        color="primary"
        (click)="sendUpdatedDates()"
      >
        CONFIRM DATES
      </button>
    </div>
  </div>
</div>
