@import 'libs/shared/ui/styles/src/lib/scss/colors';

.expanded-row-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .date-form-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    .mat-form-field {
      margin: 15px 15px 0 15px;
    }

    .info-icon {
      cursor: help;
      opacity: 0.6;
    }
  }
}

button {
  margin: 16px 16px;
}

.info-text {
  color: $schaeffler-carbon-gray;
  line-height: 26px;
  margin: 0 0;
  padding: 20px;
}
