<div *transloco="let t" class="h-full w-full flex flex-col">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      mat-tab-link
      class="navigation-tab"
      (click)="navigateTo(routeConfig.startPage.path)"
      [routerLink]="routeConfig.startPage.path"
      [active]="activeTab() === 'start-page'"
    >
      {{ t(routeConfig.startPage.label) }}
    </a>

    <a
      mat-tab-link
      class="navigation-tab"
      [matMenuTriggerFor]="functionsMenu"
      (click)="activeTab.set('functions')"
      [active]="activeTab() === 'functions'"
    >
      {{ t('tabbar.functions.label') }}
      <mat-icon>expand_more</mat-icon>
    </a>

    <a
      mat-tab-link
      class="navigation-tab alert"
      (click)="navigateTo(routeConfig.tasks.path)"
      [routerLink]="routeConfig.tasks.path"
      [active]="activeTab() === 'tasks'"
    >
      <span class="label">{{ t(routeConfig.tasks.label) }}</span>
      <span *ngrxLet="notificationCount$ as count" class="notification-count">
        <span class="mx-2 px-2 py-1 rounded-xl text-white non-critical">
          {{ count?.openNonCritical }}
        </span>
        <span class="px-2 py-1 rounded-xl text-white bg-error">
          {{ count?.openCritical }}
        </span>
      </span>
    </a>
  </nav>

  <mat-menu #functionsMenu="matMenu" class="tabs-menu-panel">
    @for (function of routeConfig.functions; track function) {
      @if (function.visible) {
        <button
          mat-menu-item
          (click)="navigateTo(function.path)"
          [routerLink]="function.path"
          [disabled]="(canNavigateTo$(function.data) | ngrxPush) === false"
        >
          {{ t(function.label) }}
        </button>
      }
    }
  </mat-menu>

  <mat-tab-nav-panel #tabPanel>
    <div
      class="flex flex-col h-full w-full pt-10 pb-10 pl-4 pr-4 overflow-auto"
    >
      <router-outlet></router-outlet>
    </div>
  </mat-tab-nav-panel>
</div>
