<div *transloco="let t" class="h-full w-full flex flex-col">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      mat-tab-link
      class="navigation-tab"
      (click)="activeTab.set(TabItem.StartPage)"
      [routerLink]="routeConfig().root.path"
      [active]="activeTab() === TabItem.StartPage"
    >
      {{ t('tabbar.start-page.label') }}
    </a>

    <a
      mat-tab-link
      class="navigation-tab functions"
      [matMenuTriggerFor]="functionsMenu"
      [active]="activeTab() === TabItem.Functions"
    >
      {{ t('tabbar.functions.label') }}
      <mat-icon>expand_more</mat-icon>
    </a>

    <a
      mat-tab-link
      class="navigation-tab alert"
      (click)="activeTab.set(TabItem.ToDos)"
      [routerLink]="routeConfig().todos.path"
      [active]="activeTab() === TabItem.ToDos"
    >
      <span class="label">{{ t(routeConfig().todos.label) }}</span>
      @if (alertService.allActiveAlerts() !== null) {
        <span class="notification-count">
          <span class="todo-badge info">
            {{ infoCount() }}
          </span>
          <span class="todo-badge prio2">
            {{ prio2Count() }}
          </span>
          <span class="todo-badge prio1">
            {{ prio1Count() }}
          </span>
        </span>
      }
    </a>
  </nav>

  <mat-menu #functionsMenu="matMenu" class="tabs-menu-panel">
    @for (
      product of Object.entries(routeConfig().functions);
      track product[0]
    ) {
      @if (product[1].length > 0) {
        <div class="nav-headline mat-label-small">
          {{ t('tabbarMenu.' + product[0]) }}
        </div>
      }
      @for (functionRoute of product[1]; track functionRoute) {
        @if (functionRoute.visible) {
          <button
            mat-menu-item
            class="nav-button"
            [routerLink]="functionRoute.path"
          >
            {{ t(functionRoute.label) }}
          </button>
        }
      }
    }
  </mat-menu>

  <mat-tab-nav-panel #tabPanel>
    <div class="flex flex-col h-full w-full pt-4 pb-4 pl-4 pr-4 overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </mat-tab-nav-panel>
</div>
