<div *transloco="let t" class="h-full w-full flex flex-col">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      mat-tab-link
      class="navigation-tab"
      (click)="activeTab.set(TabItem.StartPage)"
      [routerLink]="routeConfig().root.path"
      [active]="activeTab() === TabItem.StartPage"
    >
      {{ t('tabbar.start-page.label') }}
    </a>

    <a
      mat-tab-link
      class="navigation-tab functions"
      [matMenuTriggerFor]="functionsMenu"
      [active]="activeTab() === TabItem.Functions"
    >
      {{ t('tabbar.functions.label') }}
      <mat-icon>expand_more</mat-icon>
    </a>

    <a
      mat-tab-link
      class="navigation-tab alert"
      (click)="activeTab.set(TabItem.ToDos)"
      [routerLink]="routeConfig().todos.path"
      [active]="activeTab() === TabItem.ToDos"
    >
      <span class="label">{{ t(routeConfig().todos.label) }}</span>
      <span *ngrxLet="notificationCount$ as count" class="notification-count">
        <span class="mx-2 px-2 py-1 rounded-xl text-white non-critical">
          {{ count?.openNonCritical }}
        </span>
        <span class="px-2 py-1 rounded-xl text-white bg-error">
          {{ count?.openCritical }}
        </span>
      </span>
    </a>
  </nav>

  <mat-menu #functionsMenu="matMenu" class="tabs-menu-panel">
    @for (
      product of Object.entries(routeConfig().functions);
      track product[0]
    ) {
      @if (product[1].length > 0) {
        <div class="nav-headline mat-label-small">
          {{ t('tabbarMenu.' + product[0]) }}
        </div>
      }
      @for (functionRoute of product[1]; track functionRoute) {
        @if (functionRoute.visible) {
          <button
            mat-menu-item
            class="nav-button"
            [routerLink]="functionRoute.path"
          >
            {{ t(functionRoute.label) }}
          </button>
        }
      }
    }
  </mat-menu>

  <mat-tab-nav-panel #tabPanel>
    <div
      class="flex flex-col h-full w-full pt-10 pb-10 pl-4 pr-4 overflow-auto"
    >
      <router-outlet></router-outlet>
    </div>
  </mat-tab-nav-panel>
</div>
