:host {
  display: contents;
  .alert {
    .notification-count {
      display: flex;
      position: absolute;
      right: 0;
      .todo-badge {
        @apply ml-2 px-2 py-1 rounded-xl;
        &.prio1 {
          background: var(--todo-color-prio1-bg);
          color: var(--todo-color-prio1-text);
        }

        &.prio2 {
          background: var(--todo-color-prio2-bg);
          color: var(--todo-color-prio2-text);
        }

        &.info {
          @apply text-info;
          background: var(--todo-color-info-bg);
        }
      }
    }
    .non-critical {
      @apply bg-[#e9b300];
    }
    ::ng-deep {
      .mdc-tab__content {
        width: 100%;
      }
    }
  }
}

.navigation-tab {
  width: 33.33%;
}
.nav-headline {
  @apply pl-3;
  @apply pt-4;
  @layer mat-label-small;
  color: var(--on-surface-variant-color);
  &:first-child {
    @apply pt-0;
  }
}
.nav-button {
  height: 56px;
  --mat-menu-item-label-text-size: 16px;
  color: var(--on-surface-color);
}
