@import '../result.component.scss';

.chip-list-wrapper {
  width: 100%;

  mat-chip {
    padding-left: 0;
  }

  mat-icon {
    color: $schaeffler-carbon-gray !important;
    opacity: 1 !important;
  }

  .icon-left {
    height: 24px;
    margin-left: 4px;
    width: 24px;

    &::before {
      font-size: 24px;
    }
  }

  .icon-right::before {
    font-size: 18px;
  }

  .chip-text {
    margin-left: 12px;
  }

  .icon-left-active {
    margin-left: 8px;
  }
}

.button-row {
  .more-button {
    color: $schaeffler-carbon-gray;
  }

  .more-button[disabled] {
    color: $schaeffler-carbon-gray-40;
  }

  span {
    font-size: 16px;
    font-weight: bold;

    &.primary {
      color: $schaeffler-green-1;
    }
  }
}

.empty-state {
  margin-right: 30px;
  text-align: center;

  img {
    margin: 4px 0;
  }
}

.ghost {
  margin-top: 20px;
  overflow: hidden;

  div {
    border-bottom: 2px solid $schaeffler-white;
    border-radius: 4px 4px 4px 4px;
    height: 30px;
    @include animate-ghost-line;
  }

  .more-btn {
    display: inline-block;
    height: 30px;
    left: calc(100% - 119px);
    margin-top: 40px;
    position: relative;
    transform: translateX(-100%);
    width: 75px;
  }

  .copy-btn {
    display: inline-block;
    height: 30px;
    left: calc(100% - 99px);
    margin-top: 40px;
    position: relative;
    transform: translateX(-100%);
    width: 75px;
  }
}
