@import '../result.component.scss';

.chip-list-wrapper {
  width: 100%;

  mat-chip {
    padding-left: 0;
  }

  .icon-left {
    height: 24px;
    margin-left: 4px;
    width: 24px;

    &::before {
      font-size: 24px;
    }
  }

  .icon-right::before {
    font-size: 18px;
  }

  .chip-text {
    margin-left: 12px;
  }

  .icon-left-active {
    margin-left: 8px;
  }
}

.button-row {
  span {
    color: $schaeffler-carbon-gray;
    font-size: 16px;
    font-weight: bold;
  }
}
