<ng-container *ngIf="!(loading$ | ngrxPush); else loading">
  <mat-card
    *transloco="let t; read: 'maintenanceAssessment.gcm-heatmap'"
    class="h-full"
  >
    <mat-card-header class="w-full">
      <mat-card-title>
        <div class="inline-flex w-full items-center justify-between">
          <div class="inline-flex items-center">
            <mat-icon>view_module</mat-icon>
            <span>{{ t('title') }}</span>
          </div>
          <button mat-icon-button>
            <mat-icon (click)="openMoreInfo()" class="text-mediumEmphasis"
              >more_vert</mat-icon
            >
          </button>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="space-between flex h-full flex-col items-center">
      <div
        echarts
        [merge]="this.greaseHeatMapData$ | ngrxPush"
        [options]="this.chartOptions"
        class="h-full w-auto"
      ></div>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #loading>
  <mat-card class="placeholder-item"></mat-card>
</ng-template>
