<div *transloco="let t; read: 'detailView.pricingDetails'">
  <div *ngIf="quotationDetail">
    <div *ngIf="customerCurrency$ | ngrxPush as currency">
      <div
        *ngIf="
          !(materialComparableCostsLoading$ | ngrxPush) &&
            !(materialSalesOrgLoading$ | ngrxPush);
          else loading
        "
      >
        <div class="flex flex-col md:flex-row mb-4">
          <div class="w-full md:w-1/2 md:mr-4">
            <gq-production-cost-details
              [currency]="currency"
              [quotationDetail]="quotationDetail"
            ></gq-production-cost-details>
            <gq-material-comparable-cost-details
              [currency]="currency"
            ></gq-material-comparable-cost-details>
            <gq-relocation-cost-details
              *ngIf="quotationDetail?.relocationCost"
              [quotationDetail]="quotationDetail"
              [currency]="currency"
            ></gq-relocation-cost-details>
            <gq-supply-chain-details
              [quotationDetail]="quotationDetail"
            ></gq-supply-chain-details>
          </div>
          <div class="w-full md:w-1/2 mt-4 md:mt-0">
            <gq-material-details
              [materialDetails]="quotationDetail?.material"
              [customerMaterial]="quotationDetail?.customerMaterial"
            ></gq-material-details>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <schaeffler-loading-spinner [relative]="true"></schaeffler-loading-spinner>
</ng-template>
