@import 'libs/shared/ui/styles/src/lib/colors';
@import 'libs/shared/ui/styles/src/lib/fonts';

mat-card {
  height: 100%;
  margin: 20px 10px 20px 5px;
}
mat-card-title {
  color: $schaeffler-carbon-gray;
  font-size: $schaeffler-h5;
  font-weight: bold;
}
mat-expansion-panel {
  border: 1px solid $schaeffler-gray-4;
}
mat-panel-title {
  color: $schaeffler-carbon-gray;
  font-weight: bold;
}
