<div *transloco="let t; read: 'detailView.pricingDetails'">
  @if (quotationDetail) {
    <div>
      @if (quotationCurrency$ | ngrxPush; as currency) {
        <div>
          @if (
            !(materialComparableCostsLoading$ | ngrxPush) &&
            !(materialSalesOrgLoading$ | ngrxPush) &&
            !(plantMaterialDetailsLoading$ | ngrxPush)
          ) {
            <div>
              <div class="mb-4 flex flex-col md:flex-row">
                <div class="w-full md:mr-4 md:w-1/2">
                  <gq-production-cost-details
                    [currency]="currency"
                    [quotationDetail]="quotationDetail"
                    [userHasGPCRole]="userHasGPCRole$ | ngrxPush"
                    [userHasSQVRole]="userHasSQVRole$ | ngrxPush"
                    [materialCostUpdateAvl]="materialCostUpdateAvl"
                    [refreshEnabled]="isQuotationEditable$ | ngrxPush"
                    [refreshButtonTooltipText]="
                      t(
                        'productionCostDetails.updateCosts.refreshButtonTooltip',
                        {
                          status:
                            (sapSyncStatus$ | ngrxPush) ===
                            sapSyncStatusEnum.SYNC_PENDING
                              ? sapSyncStatusEnum.SYNC_PENDING
                              : (quotationStatus$ | ngrxPush)
                        }
                      )
                    "
                  ></gq-production-cost-details>
                  @if (quotationDetail.rfqData) {
                    <gq-rfq-position-details
                      [currency]="currency"
                      [rfqData]="quotationDetail.rfqData"
                      [rfqDataUpdateAvl]="rfqDataUpdateAvl"
                      [refreshEnabled]="isQuotationEditable$ | ngrxPush"
                      [refreshButtonTooltipText]="
                        t(
                          'rfqPositionDetails.updateRfqData.refreshButtonTooltip',
                          {
                            status:
                              (sapSyncStatus$ | ngrxPush) ===
                              sapSyncStatusEnum.SYNC_PENDING
                                ? sapSyncStatusEnum.SYNC_PENDING
                                : (quotationStatus$ | ngrxPush)
                          }
                        )
                      "
                      ><!--
                     [refreshEnabled]="isQuotationEditable$ | ngrxPush"
                     
                    -->
                    </gq-rfq-position-details>
                  }
                  <gq-material-comparable-cost-details
                    [price]="quotationDetail.price"
                    [currency]="currency"
                  ></gq-material-comparable-cost-details>
                  <gq-stock-availability-details
                    [materialStockByPlant]="
                      quotationDetail.materialStockByPlant
                    "
                    [uom]="quotationDetail.material.baseUoM"
                  ></gq-stock-availability-details>
                  @if (quotationDetail?.relocationCost) {
                    <gq-relocation-cost-details
                      [quotationDetail]="quotationDetail"
                      [currency]="currency"
                    ></gq-relocation-cost-details>
                  }
                  <gq-supply-chain-details
                    [quotationDetail]="quotationDetail"
                    [productionPlantStochasticType]="
                      productionPlantStochasticType
                    "
                    [supplyPlantStochasticType]="supplyPlantStochasticType"
                  ></gq-supply-chain-details>
                  @if (quotationDetail.lastCustomerPrice) {
                    <gq-last-customer-price-information-details
                      [quotationDetail]="quotationDetail"
                      [currency]="currency"
                      [userHasGPCRole]="userHasGPCRole$ | ngrxPush"
                      [userHasSQVRole]="userHasSQVRole$ | ngrxPush"
                    ></gq-last-customer-price-information-details>
                  }
                </div>
                <div class="mt-4 w-full md:mt-0 md:w-1/2">
                  <gq-material-details
                    [quotationDetail]="quotationDetail"
                    [materialSalesOrg]="materialSalesOrg$ | ngrxPush"
                    [materialSalesOrgDataAvailable]="
                      materialSalesOrgDataAvailable$ | ngrxPush
                    "
                  ></gq-material-details>
                </div>
              </div>
            </div>
          } @else {
            <schaeffler-loading-spinner
              [relative]="true"
            ></schaeffler-loading-spinner>
          }
        </div>
      }
    </div>
  }
</div>
