<div
  class="dot {{ parameters?.data?.color }} {{ parameters?.data?.dotStyle }}"
></div>
<div class="title {{ parameters?.data?.titleStyle }}">
  {{ parameters?.value }}
</div>

@if (isGroup) {
  <span
    [class]="expanded() ? 'ag-group-expanded' : 'ag-group-contracted'"
    [attr.data-ref]="expanded() ? 'eExpanded' : 'eContracted'"
    (click)="onClick()"
  >
    <span
      [class]="expanded() ? 'ag-icon-tree-open' : 'ag-icon-tree-closed'"
      unselectable="on"
      role="presentation"
    >
    </span>
  </span>
}
