<div
  class="flex flex-col items-center justify-center"
  *transloco="let t; read: 'processCaseView.calcInProgress'"
>
  <div class="cursor-pointer" (click)="reload()">
    <img [src]="imagePath" />
  </div>
  <h4 class="mt-12">
    {{ t('header', { variable: amountDetails }) }}
  </h4>
  <div class="mt-6 text-center">
    <span class="text-subtitle-1 font-semibold">{{ t('refreshText') }}</span>
    <span class="block text-subtitle-1">{{ t('subtitle1') }}</span>
    <span class="block text-subtitle-1">{{ t('subtitle2') }}</span>
  </div>
</div>
