<div *transloco="let t; read: 'hardnessConverter.geometricalInformation'">
  <div class="pb-6 pl-4">
    <mat-slide-toggle
      color="primary"
      [(ngModel)]="isEnabled"
      labelPosition="before"
      >{{ t('control') }}</mat-slide-toggle
    >
  </div>
  <div class="pb-6" *ngIf="isEnabled">
    <div class="grid grid-cols-1 gap-4 md:!grid-cols-2">
      <mat-form-field appearance="outline" class="md:w-72" (click)="setFocus()">
        <mat-label>{{ t('controls.value') }}</mat-label>
        <input matInput [formControl]="valueControl" type="number" readonly />
        <mat-error>{{ getErrorMessage(valueControl.errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="md:w-72"
        *ngIf="diameterControl.enabled"
      >
        <mat-label>{{ t('controls.diameter') }}</mat-label>
        <input
          matInput
          [formControl]="diameterControl"
          type="number"
          step="0.5"
        />
        <mat-error>{{ getErrorMessage(diameterControl.errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="md:w-72"
        *ngIf="diameterBallControl.enabled"
      >
        <mat-label>{{ t('controls.diameterBall') }}</mat-label>
        <mat-select [formControl]="diameterBallControl">
          <mat-option [value]="1.0">1.0 mm</mat-option>
          <mat-option [value]="2.5">2.5 mm</mat-option>
          <mat-option [value]="5.0">5.0 mm</mat-option>
          <mat-option [value]="10.0">10.0 mm</mat-option>
        </mat-select>
        <mat-error>{{ getErrorMessage(diameterBallControl.errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="md:w-72"
        *ngIf="loadControl.enabled"
      >
        <mat-label>{{ t('controls.load') }}</mat-label>
        <input matInput [formControl]="loadControl" type="number" step="0.5" />
        <mat-error>{{ getErrorMessage(loadControl.errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="md:w-72"
        *ngIf="thicknessControl.enabled"
      >
        <mat-label>{{ t('controls.thickness') }}</mat-label>
        <input
          matInput
          [formControl]="thicknessControl"
          type="number"
          step="0.5"
        />
        <mat-error>{{ getErrorMessage(thicknessControl.errors) }}</mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="md:w-72"
        *ngIf="materialControl.enabled"
      >
        <mat-label>{{ t('controls.material') }}</mat-label>
        <mat-select [formControl]="materialControl">
          <mat-option *ngFor="let mat of getMaterials()" [value]="mat">{{
            t('material.' + mat)
          }}</mat-option>
        </mat-select>
        <mat-error>{{ getErrorMessage(materialControl.errors) }}</mat-error>
      </mat-form-field>
    </div>

    <div
      *ngIf="
        !(resultLoading$ | ngrxPush) && (indentationResult$ | ngrxPush);
        else noResult
      "
    >
      <table class="w-full" *ngrxLet="indentationResult$ as response">
        <colgroup>
          <col class="w-1/2" />
          <col class="w-1/4" />
          <col class="w-1/6" />
          <col />
        </colgroup>
        <tr>
          <td colspan="4" class="pb-4 pt-4 text-center text-subtitle-1">
            {{ t('geometry') }}
          </td>
        </tr>

        <tr class="border-b border-border" *ngFor="let item of getGeoKeys()">
          <td>{{ t('prop.' + item) }}</td>
          <td class="text-center text-h6 font-medium">
            {{ get(response, item) }}
          </td>
          <td class="text-center">{{ t('unit.' + getGeoKeysUnit()) }}</td>
          <td>
            <button
              mat-button
              (click)="
                onCopyButtonClick(
                  get(response, item),
                  t('unit.' + getGeoKeysUnit())
                )
              "
            >
              <mat-icon class="!m-0" color="primary">content_copy</mat-icon>
            </button>
          </td>
        </tr>
        <ng-container *ngIf="hasCorrectedKeys()">
          <tr>
            <td colspan="4" class="pb-4 pt-8 text-center text-subtitle-1">
              {{ t('corrections') }}
            </td>
          </tr>
          <tr
            class="border-b border-border"
            *ngFor="let item of getCorrectedKeys()"
          >
            <td>{{ t('prop.' + item) }}</td>
            <td class="text-center text-h6 font-medium">
              {{ get(response, item) }}
            </td>
            <td class="text-center">
              {{ t('unit.' + getCorrectedKeysUnit()) }}
            </td>
            <td>
              <button
                mat-button
                (click)="
                  onCopyButtonClick(
                    get(response, item),
                    t('unit.' + getCorrectedKeysUnit())
                  )
                "
              >
                <mat-icon class="!m-0" color="primary">content_copy</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="hasOther()">
          <tr>
            <td colspan="4" class="pb-4 pt-8 text-center text-subtitle-1">
              {{ t('others') }}
            </td>
          </tr>
          <tr class="border-b border-border" *ngFor="let item of getOther()">
            <td>{{ t('prop.' + item) }}</td>
            <td class="text-center text-h6 font-medium">
              {{ get(response, item) }}
            </td>
            <td class="text-center">{{ t('unit.' + getOtherUnit()) }}</td>
            <td>
              <button
                mat-button
                (click)="
                  onCopyButtonClick(
                    get(response, item),
                    t('unit.' + getOtherUnit())
                  )
                "
              >
                <mat-icon class="!m-0" color="primary">content_copy</mat-icon>
              </button>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
    <ng-template #noResult>
      <div
        *ngIf="resultLoading$ | ngrxPush"
        class="mt-12 flex w-full flex-1 flex-col place-items-center justify-center"
      >
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
</div>
