<div fxLayout="row" fxLayoutAlign="space-between" class="offer-drawer-header">
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    *transloco="let t; read: 'shared.offerDrawer'"
    class="m-t-15 m-b-15"
  >
    <mat-icon
      fontSet="schaeffler-icons"
      fontIcon="icon-cross"
      class="icon-cross"
      (click)="drawerToggle()"
    >
    </mat-icon>
    <h4>{{ t('title') }}</h4>
  </div>
</div>
<gq-offer-table
  [quotation]="quotation"
  [drawerTable]="true"
  *ngIf="(updateLoading$ | ngrxPush) === false; else loading"
></gq-offer-table>
<ng-template #loading>
  <gq-loading-spinner [show]="true"></gq-loading-spinner>
</ng-template>
