<schaeffler-app-shell
  [appTitleLink]="titleLink"
  [appTitle]="title"
  [appVersion]="appVersion"
  [footerLinks]="footerLinks"
  [hasSidebarLeft]="true"
  [userName]="username$ | ngrxPush"
  [userImageUrl]="profileImage$ | ngrxPush"
>
  <ng-container sidenavBody>
    <app-user-settings></app-user-settings>
  </ng-container>

  <ng-container mainContent>
    <div class="h-full w-full">
      @if (isTabNavigationVisible$ | ngrxPush) {
        <app-tab-bar-navigation></app-tab-bar-navigation>
      } @else {
        <router-outlet></router-outlet>
      }
    </div>
  </ng-container>
</schaeffler-app-shell>
