<schaeffler-app-shell
  #shellInstance
  [appTitleLink]="titleLink"
  [appTitle]="title()"
  [appVersion]="appVersion"
  [footerLinks]="footerLinks"
  [hasSidebarLeft]="true"
  [userName]="username$ | ngrxPush"
  [userImageUrl]="profileImage$ | ngrxPush"
>
  <ng-container sidenavBody>
    <d360-user-settings [shell]="shellInstance" />
  </ng-container>

  <ng-container mainContent>
    @if (isTabNavigationVisible()) {
      <div class="h-full w-full">
        <d360-tab-bar-navigation [activeUrl]="activeUrl()" />
      </div>
    } @else {
      <div class="w-full">
        <d360-banner />
      </div>
      <div
        class="flex flex-col h-full w-full pt-4 pb-4 pl-4 pr-4 overflow-auto"
      >
        <router-outlet />
      </div>
    }
  </ng-container>
</schaeffler-app-shell>
