<schaeffler-app-shell
  [appTitleLink]="titleLink"
  [appTitle]="title"
  [appVersion]="appVersion"
  [footerLinks]="footerLinks"
  [hasSidebarLeft]="true"
  [userName]="username$ | ngrxPush"
  [userImageUrl]="profileImage$ | ngrxPush"
>
  <ng-container sidenavBody>
    <d360-user-settings />
  </ng-container>

  <ng-container mainContent>
    <div class="h-full w-full">
      @if (isTabNavigationVisible$ | ngrxPush) {
        <d360-tab-bar-navigation [activeUrl]="activeUrl()" />
      } @else {
        <router-outlet />
      }
    </div>
  </ng-container>
</schaeffler-app-shell>
