<div class="mt-4">
  <gq-filter-pricing-card
    *transloco="let t; read: 'detailView.filterPricing.gqPrice'"
    [title]="t('title')"
    [isSelected]="quotationDetail.priceSource === PriceSource.GQ"
    (selectManualPrice)="selectPrice()"
    [isLoading]="isLoading"
  >
    <div content class="mt-[10px] w-full flex">
      <div class="flex-grow max-w-[25%]">
        <div class="mb-1 text-body-1 text-light">{{ t('priceLabel') }}:</div>
        <span class="font-bold">{{
          quotationDetail.recommendedPrice | numberCurrency: currency
        }}</span>
      </div>
      <div class="flex-1" *ngIf="userHasGPCRole">
        <div class="mb-1 text-body-1 text-light">{{ t('gpi') }}:</div>
        <div>
          <span class="font-bold">{{ gpi || '-' }} %</span>
        </div>
      </div>
      <div class="flex-1" *ngIf="userHasSQVRole">
        <div class="mb-1 text-body-1 text-light">{{ t('gpm') }}:</div>
        <div>
          <span class="font-bold">{{ gpm || '-' }} %</span>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-1 text-body-1 text-light">{{ t('quantity') }}:</div>
        <gq-quantity-display
          [quantity]="quotationDetail.orderQuantity"
        ></gq-quantity-display>
      </div>
      <div class="flex-1" *ngIf="quotationDetail.gqRating">
        <div class="mb-1 text-body-1 text-light">{{ t('rating') }}:</div>
        <div>
          <ng-container
            *ngFor="
              let i of [].constructor(quotationDetail.gqRating);
              trackBy: trackByFn
            "
          >
            <mat-icon class="text-primary mr-1">star</mat-icon>
          </ng-container>
          <ng-container
            *ngFor="
              let i of [].constructor(3 - quotationDetail.gqRating);
              trackBy: trackByFn
            "
          >
            <mat-icon class="text-primary mr-1">star_border</mat-icon>
          </ng-container>
        </div>
      </div>
    </div>
    <div
      *ngIf="!quotationDetail.strategicPrice"
      link
      class="
        mt-6
        text-primary text-button
        cursor-pointer
        !font-body
        flex flex-row
        items-center
        ml-4
      "
      (click)="navigateClick()"
    >
      <mat-icon class="mr-2 text-h5">arrow_forward</mat-icon>
      {{ t('details') | uppercase }}
    </div>
  </gq-filter-pricing-card>
</div>
