<div class="mt-4">
  <gq-filter-pricing-card
    *transloco="let t; read: 'detailView.filterPricing.gqPrice'"
    [title]="t('title')"
    [isSelected]="quotationDetail.priceSource === PriceSource.GQ"
    (selectManualPrice)="selectPrice()"
    [isLoading]="isLoading"
  >
    <div content class="mt-[10px] w-full flex">
      <div class="flex-grow max-w-[25%]">
        <div class="mb-1 text-body-2 text-light">{{ t('priceLabel') }}:</div>
        <span class="font-bold">{{
          quotationDetail.recommendedPrice | numberCurrency: currency
        }}</span>
      </div>
      <div class="flex-1" *ngIf="userHasGPCRole">
        <div class="mb-1 text-body-2 text-light">{{ t('gpi') }}:</div>
        <div>
          <span class="font-bold">{{ gpi || '-' }} %</span>
        </div>
      </div>
      <div class="flex-1" *ngIf="userHasSQVRole">
        <div class="mb-1 text-body-2 text-light">{{ t('gpm') }}:</div>
        <div>
          <span class="font-bold">{{ gpm || '-' }} %</span>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-1 text-body-2 text-light">{{ t('quantity') }}:</div>
        <gq-quantity-display
          [quantity]="quotationDetail.orderQuantity"
        ></gq-quantity-display>
      </div>
      <div class="flex-1" *ngIf="quotationDetail.gqRating">
        <div class="mb-1 text-body-2 text-light">{{ t('rating') }}:</div>
        <div>
          <ng-container
            *ngFor="
              let i of [].constructor(quotationDetail.gqRating);
              trackBy: trackByFn
            "
          >
            <mat-icon class="text-primary mr-1">star</mat-icon>
          </ng-container>
          <ng-container
            *ngFor="
              let i of [].constructor(3 - quotationDetail.gqRating);
              trackBy: trackByFn
            "
          >
            <mat-icon class="text-primary mr-1">star_border</mat-icon>
          </ng-container>
        </div>
      </div>
    </div>
    <gq-detail-button
      link
      *ngIf="!quotationDetail.strategicPrice"
      [text]="t('details')"
      [path]="DetailRoutePath.TransactionsPath"
    ></gq-detail-button>
  </gq-filter-pricing-card>
</div>
