<div class="mt-4">
  <gq-filter-pricing-card
    *transloco="let t; read: 'detailView.filterPricing.gqPrice'"
    [title]="t('title')"
    [isSelected]="quotationDetail.priceSource === PriceSource.GQ"
    (selectManualPrice)="selectPrice()"
    [isLoading]="isLoading"
    [isDisabled]="isDisabled"
  >
    <div content class="flex w-full flex-col flex-wrap sm:flex-row">
      <div class="min-w-[8rem] max-w-[25%] grow pt-4">
        <div class="mb-1 text-body-2 text-medium-emphasis">
          {{ t('priceLabel') }}:
        </div>
        <span class="font-bold">{{
          quotationDetail.recommendedPrice | numberCurrency: currency
        }}</span>
      </div>
      <div class="min-w-[8rem] pt-4" *ngIf="userHasGPCRole">
        <div class="mb-1 text-body-2 text-medium-emphasis">{{ t('gpi') }}:</div>
        <div>
          <span class="font-bold">{{ gpi | percentage }}</span>
        </div>
      </div>
      <div class="min-w-[8rem] pt-4" *ngIf="userHasSQVRole">
        <div class="mb-1 text-body-2 text-medium-emphasis">{{ t('gpm') }}:</div>
        <div>
          <span class="font-bold">{{ gpm | percentage }}</span>
        </div>
      </div>
      <div class="min-w-[8rem] pt-4">
        <div class="mb-1 text-body-2 text-medium-emphasis">
          {{ t('quantity') }}:
        </div>
        <gq-quantity-display
          [quotationDetail]="quotationDetail"
        ></gq-quantity-display>
      </div>
      <div
        class="min-w-[8rem] pt-4"
        *ngIf="quotationDetail.gqRating; else displayStrategicPriceSource"
      >
        <div class="mb-1 text-body-2 text-medium-emphasis">
          {{ t('rating') }}:
        </div>
        <div>
          <ng-container
            *ngFor="
              let i of [].constructor(quotationDetail.gqRating);
              trackBy: trackByFn
            "
          >
            <mat-icon class="mr-1 text-link">star</mat-icon>
          </ng-container>
          <ng-container
            *ngFor="
              let i of [].constructor(3 - quotationDetail.gqRating);
              trackBy: trackByFn
            "
          >
            <mat-icon class="mr-1 text-link">star_border</mat-icon>
          </ng-container>
        </div>
      </div>
      <ng-template #displayStrategicPriceSource>
        <div class="min-w-[8rem] pt-4">
          <div class="mb-1 text-body-2 text-medium-emphasis">
            {{ t('source') }}:
          </div>
          <div>
            <span class="font-bold"> {{ t('strategic') }}</span>
          </div>
        </div>
      </ng-template>
    </div>
    <gq-detail-button
      link
      *ngIf="!quotationDetail.strategicPrice"
      [text]="t('details')"
      [path]="DetailRoutePath.TransactionsPath"
    ></gq-detail-button>
  </gq-filter-pricing-card>
</div>
