@import 'libs/shared/ui/styles/src/lib/colors';
@import 'libs/shared/ui/styles/src/lib/fonts';

.rating-icon {
  color: $schaeffler-green-1;
  font-size: 26px;
  margin-right: 5px;
}

.link {
  color: $schaeffler-green-1;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}
