<mat-form-field class="flex" *transloco="let t; read: 'ltp'">
  <mat-label
    [innerHTML]="
      control.flexibleLabel
        ? control.flexibleLabel(t(control.name))
        : t(control.name)
    "
  ></mat-label>
  <mat-select [formControl]="control.formControl">
    <mat-option
      *ngFor="let option of control.options | ngrxPush; trackBy: trackByFn"
      [value]="option.value"
      [disabled]="option.disabled"
    >
      {{ t(option.name) }}
    </mat-option>
  </mat-select>
</mat-form-field>
