<mat-drawer-container
  class="container"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="20px"
  [hasBackdrop]="false"
>
  <mat-drawer-content
    *ngIf="quotation$ | async"
    fxLayout="column"
    fxLayoutAlign="start center"
    fxFlexFill
  >
    <gq-process-case-header
      [quotationNumber]="(quotation$ | async).gqId"
      (toggleOfferDrawer)="drawer.toggle()"
    ></gq-process-case-header>

    <gq-result-table
      [rowData]="(quotation$ | async).quotationDetails"
    ></gq-result-table>
  </mat-drawer-content>
  <mat-drawer #drawer position="end" (opened)="getOffer()">
    <gq-offer-drawer
      fxLayout="column"
      fxFlexFill
      *ngIf="offer$ | async"
      [rowData]="offer$ | async"
      (toggleOfferDrawer)="drawer.toggle()"
    ></gq-offer-drawer>
  </mat-drawer>
</mat-drawer-container>
