<ng-container *transloco="let t; read: 'pricingDetails.materialDetails'">
  <div>
    <gq-label-text>
      <span data-cy="dimensions-label" label>{{ t('dimensions') }}</span>
      <span data-cy="dimensions-value" text>{{
        materialDetails.dimensions | nullableString
      }}</span>
    </gq-label-text>
    <gq-label-text>
      <span data-cy="outerDiameter-label" label>{{ t('outerDiameter') }}</span>
      <span data-cy="outerDiameter-value" text>{{
        materialDetails.outerDiameter | millimeterUnit
      }}</span>
    </gq-label-text>
    <gq-label-text>
      <span data-cy="innerDiameter-label" label>{{ t('innerDiameter') }}</span>
      <span data-cy="innerDiameter-value" text>{{
        materialDetails.innerDiameter | millimeterUnit
      }}</span>
    </gq-label-text>
    <gq-label-text>
      <span data-cy="overallWidth-label" label>{{ t('width') }}</span>
      <span data-cy="overallWidth-value" text>{{
        materialDetails.width | millimeterUnit
      }}</span>
    </gq-label-text>
    <gq-label-text>
      <span data-cy="grossWeight-label" label>{{ t('grossWeight') }}</span>
      <span data-cy="grossWeight-value" text
        >{{ materialDetails.grossWeight }} [{{
          materialDetails.weightUnit
        }}]</span
      >
    </gq-label-text>
  </div>
</ng-container>
