<form
  [formGroup]="formGroup"
  class="flex h-full max-h-[90vh] flex-col overflow-y-auto"
  *transloco="let t; read: 'processCaseView.header.releaseModal'"
>
  @if (!(approvalFacade.allApproversLoading$ | ngrxPush)) {
    <div class="px-4 pt-4">
      <gq-dialog-header [title]="t('title')" (closeDialog)="closeDialog()">
      </gq-dialog-header>
    </div>
    @if (
      !(approvalFacade.triggerApprovalWorkflowInProgress$ | ngrxPush) &&
      !(approvalFacade.saveApprovalWorkflowInformationInProgress$ | ngrxPush)
    ) {
      <div class="px-4">
        @if (
          !(approvalFacade.approvalCockpitInformation$ | ngrxPush).autoApproval
        ) {
          <p class="text-subtitle-2 pt-4">
            {{ t('summary') }}
          </p>
        }
        @if (
          !(approvalFacade.approvalCockpitInformation$ | ngrxPush).autoApproval
        ) {
          <div class="flex items-center pt-3">
            <p class="text-body-2 text-medium-emphasis">
              {{ t('approvalLevelLabel') }}:
            </p>
            <span class="text-body-2 text-high-emphasis pl-2">{{
              approvalFacade.requiredApprovalLevelsForQuotation$ | ngrxPush
            }}</span>
          </div>
        }
        @if (
          !(approvalFacade.approvalCockpitInformation$ | ngrxPush).autoApproval
        ) {
          <div>
            <p class="text-subtitle-2 pb-4 pt-6">{{ t('approvers') }}</p>
            <gq-user-select
              tabindex="0"
              [enableFiltering]="true"
              [userSelectFormControl]="approver1FormControl"
              [users$]="approvalFacade.firstApprovers$"
              [title]="
                t('approver1Title', {
                  level:
                    approvalLevelEnum[
                      approvalFacade.approvalLevelFirstApprover$ | ngrxPush
                    ]
                })
              "
              [errorMessage]="
                getErrorMessageOfControl(approver1FormControl, true)
              "
              [invalidSelectionErrorMessage]="INVALID_SELECTION_APPROVER"
            ></gq-user-select>
            <gq-user-select
              [enableFiltering]="true"
              [userSelectFormControl]="approver2FormControl"
              [users$]="approvalFacade.secondApprovers$"
              [title]="
                t('approver2Title', {
                  level:
                    approvalLevelEnum[
                      approvalFacade.approvalLevelSecondApprover$ | ngrxPush
                    ]
                })
              "
              [errorMessage]="
                getErrorMessageOfControl(approver2FormControl, true)
              "
              [invalidSelectionErrorMessage]="INVALID_SELECTION_APPROVER"
            ></gq-user-select>
            @if (
              (approvalFacade.approvalCockpitInformation$ | ngrxPush)
                ?.thirdApproverRequired
            ) {
              <gq-user-select
                [enableFiltering]="true"
                [userSelectFormControl]="approver3FormControl"
                [users$]="approvalFacade.thirdApprovers$"
                [title]="
                  t('approver3Title', {
                    level:
                      approvalLevelEnum[
                        approvalFacade.approvalLevelThirdApprover$ | ngrxPush
                      ]
                  })
                "
                [errorMessage]="
                  getErrorMessageOfControl(approver3FormControl, true)
                "
                [invalidSelectionErrorMessage]="INVALID_SELECTION_APPROVER"
              ></gq-user-select>
            }
            <gq-user-select
              [userSelectFormControl]="approverCCFormControl"
              [users$]="approvalFacade.activeDirectoryUsers$"
              [isLoading]="
                approvalFacade.activeDirectoryUsersLoading$ | ngrxPush
              "
              [title]="t('approverCCTitle')"
              [errorMessage]="getErrorMessageOfControl(approverCCFormControl)"
              [inputChangedDebounceTime]="500"
              (inputChanged)="handleUserSearchExpressionChanged($event)"
            ></gq-user-select>
            @if (formGroup.hasError('equalApprovers')) {
              <mat-error>{{ t('equalApproversError') }}</mat-error>
            }
          </div>
        }
        <div [ngClass]="{ 'pb-10': !priceLowerThanMsp }">
          <p class="text-subtitle-2 pb-5 pt-6">
            {{ t('additionalInformation') }}
          </p>
          <gq-textarea-form-field
            label="commentLabel"
            formControlName="comment"
            [inputMaxLength]="INPUT_MAX_LENGTH_COMMENT"
          >
          </gq-textarea-form-field>
          <div class="pt-2">
            <gq-textarea-form-field
              label="projectInformation"
              formControlName="projectInformation"
              [inputMaxLength]="INPUT_MAX_LENGTH_PROJECT_INFORMATION"
            >
            </gq-textarea-form-field>
          </div>
        </div>

        @if (priceLowerThanMsp) {
          <div class="mb-6">
            <gq-info-banner
              [infoText]="t('priceLowerThanMsp')"
              [isWarning]="true"
            ></gq-info-banner>
          </div>
        }
      </div>
      <div class="flex w-full gap-4 border-t border-[#000000]/[0.12] px-4 py-4">
        @if (
          (approvalFacade.approvalCockpitInformation$ | ngrxPush)?.autoApproval
        ) {
          <button
            mat-raised-button
            [disabled]="priceLowerThanMsp"
            color="primary"
            (click)="triggerAutoApproval()"
          >
            {{ t('autoApproval') }}
          </button>
        } @else {
          <button
            mat-raised-button
            color="primary"
            [disabled]="
              formGroup.invalid ||
              (approvalFacade.quotationStatus$ | ngrxPush) !==
                quotationStatus.ACTIVE ||
              priceLowerThanMsp
            "
            (click)="startWorkflow()"
          >
            {{ t('startWorkflow') }}
          </button>
        }
        <button
          mat-raised-button
          color="primary"
          [disabled]="
            formGroup.invalid || formGroup.pristine || !hasValueChanged
          "
          (click)="save()"
        >
          {{ t('save') }}
        </button>
        <button mat-stroked-button (click)="closeDialog()" color="primary">
          {{ t('cancel') }}
        </button>
      </div>
    } @else {
      <div class="py-24">
        <schaeffler-loading-spinner
          class="h-full"
          backgroundColor="rgba(255,255,255, 0.1)"
          [relative]="true"
        ></schaeffler-loading-spinner>
      </div>
    }
  } @else {
    <div class="py-24">
      <schaeffler-loading-spinner></schaeffler-loading-spinner>
    </div>
  }
</form>
