<div
  class="flex flex-col gap-4 p-4 md:flex-row lg:grid lg:grid-cols-4 lg:items-start border-border border-t"
  *transloco="let t; read: 'processCaseView'"
>
  <div class="grid grid-cols-2 gap-4 md:w-1/2 lg:w-full">
    <div class="col-span-2 row-span-4">
      <gq-kpi-status-card [title]="t('tabs.customerDetails.customerCardTitle')">
        <gq-basic-customer
          [customer]="customer$ | ngrxPush"
          [currentYear]="currentYear"
          [lastYear]="lastYear"
          [userHasAccessToPricingDetails]="
            userHasAccessToPricingDetails$ | ngrxPush
          "
        ></gq-basic-customer>
      </gq-kpi-status-card>
    </div>
  </div>
  <div class="flex flex-col gap-4 md:w-1/2 lg:grid lg:w-full lg:grid-cols-2">
    <div class="col-span-2">
      <gq-kpi-status-card
        [title]="t('tabs.customerDetails.keyAccountCardTitle')"
      >
        <gq-keyaccount
          [customer]="customer$ | ngrxPush"
          [lastYear]="lastYear"
          [currentYear]="currentYear"
        ></gq-keyaccount>
      </gq-kpi-status-card>
    </div>
    @if ((customer$ | ngrxPush).accountPotential) {
      <div class="col-span-2">
        <gq-kpi-status-card
          [title]="t('tabs.customerDetails.salesforce.title')"
        >
          <gq-salesforce
            [accountPotential]="(customer$ | ngrxPush).accountPotential"
            [currency]="(customer$ | ngrxPush).currency"
          >
          </gq-salesforce>
        </gq-kpi-status-card>
      </div>
    }
  </div>
  <div class="col-span-2"></div>
</div>
