<mat-form-field
  [formGroup]="form()"
  [ngClass]="{ 'filter-dropdown-disabled': disabled() }"
  appearance="outline"
  class="filter-dropdown"
  *transloco="let t"
>
  <!-- label -->
  <mat-label>{{ label() }}</mat-label>

  <!-- The selection list -->
  <mat-select
    (selectionChange)="onSelectionChange($event)"
    [multiple]="multiSelect()"
    [formControl]="control()"
  >
    <!-- formatted selected values -->
    <mat-select-trigger>{{ getSelectedValues() }}</mat-select-trigger>

    <!-- The selection options -->
    @for (option of options(); track option.id) {
      <mat-option [value]="option">
        {{ formatOptionValue() ? formatOptionValue()(option) : option.text }}
      </mat-option>
    }
  </mat-select>

  <!-- if available a hint text -->
  @if (hintText()) {
    <mat-hint>{{ hintText() }}</mat-hint>
  }

  @if (this.control().value && this.addClearButton()) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="onClear()">
      <mat-icon>close</mat-icon>
    </button>
  }

  <!-- Error -->
  @if (control().hasError('required')) {
    <mat-error>{{ t('generic.validation.missing_fields') }}</mat-error>
  }
</mat-form-field>
