.flat-buttons {
  bottom: 86px + 51px+ 20px;
  position: fixed;
  right: 32px;

  .extended-fab-button {
    border-radius: 29px;
    padding: 0 26px;
    width: unset;

    .mat-icon {
      margin-right: 10px;
    }

    .extended-fab-button__text {
      font-weight: 300;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
}
