<ag-grid-angular
  class="ag-theme-material border-border h-full border"
  [masterDetail]="true"
  [detailCellRenderer]="detailCellRenderer"
  [detailRowAutoHeight]="true"
  [suppressCellFocus]="true"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [sideBar]="sidebar"
  [enableCellTextSelection]="true"
  [rowData]="result$ | ngrxPush"
  [tooltipShowDelay]="500"
  [rowSelection]="rowSelection"
  [rowClass]="['!border-l-0', '!border-t-0']"
  [rowClassRules]="{
    '!bg-opacity-5 !bg-[#cb0b15]': isBlockedRow,
    '!bg-opacity-5 !bg-nordic-blue': isRecentlyChangedRow
  }"
  (gridReady)="onGridReady($event)"
  (filterChanged)="onFilterChange()"
  (columnVisible)="onColumnChange()"
  (columnMoved)="onColumnChange()"
  (columnResized)="onColumnChange()"
  (sortChanged)="onColumnChange()"
></ag-grid-angular>
