<div *transloco="let t; read: 'customerView.salesforce'">
  <p class="mb-4 text-h6 font-medium text-medium-emphasis">
    {{ t('title') }}
  </p>
  <div *ngIf="accountPotential">
    <div>
      <gq-label-text>
        <span label>{{ t('accountPotential') }}</span>
        <span text>{{
          accountPotential.accountPotentialValue | numberCurrency: currency
        }}</span>
      </gq-label-text>
      <gq-label-text>
        <span label>{{ t('keyAccountPotential') }}</span>
        <span text>{{
          accountPotential.keyAccountPotentialValue | numberCurrency: currency
        }}</span>
      </gq-label-text>
      <gq-label-text [marginBottom]="false">
        <span label>{{ t('subKeyAccountPotential') }}</span>
        <span text>{{
          accountPotential.subkeyAccountPotentialValue
            | numberCurrency: currency
        }}</span>
      </gq-label-text>
      <gq-horizontal-divider></gq-horizontal-divider>
    </div>
    <div>
      <gq-label-text>
        <span label>{{ t('accountOwner') }}</span>
        <span text>{{ accountPotential.accountOwner }}</span>
      </gq-label-text>
      <gq-label-text>
        <span label>{{ t('accountOwnerContact') }}</span>
        <span text>{{ accountPotential.accountOwnerEmail }}</span>
      </gq-label-text>
    </div>
  </div>
</div>
