<div *transloco="let t; read: 'bearing.bearingSelection.advancedSelection'">
  <ng-container *ngrxLet="modelCreationLoading$; let loading">
    <div
      *ngrxLet="advancedBearingSelectionResultList$; let bearings"
      class="relative"
    >
      <div
        *ngIf="bearings?.length; else no_results"
        class="max-h-[370px] overflow-auto md:pr-3"
      >
        <mat-action-list>
          <mat-list-item
            *ngFor="let bearing of bearings"
            (click)="selectBearing(bearing)"
          >
            <div>
              <span class="mr-1 inline-block text-body-2">{{
                t('bearingsList.selectOption')
              }}</span>
              <span class="text-subtitle-2 inline-block">{{
                bearing.title
              }}</span>
            </div>
            <mat-icon color="primary">chevron_right</mat-icon>
          </mat-list-item>
        </mat-action-list>
      </div>
      <ng-template #no_results>
        <div class="p-4 md:p-2">
          {{ t('noResults.message') }}
        </div>
      </ng-template>
      <div
        *ngIf="loading"
        class="absolute top-0 left-0 flex h-full w-full items-center justify-center bg-surface opacity-60"
      >
        <mat-spinner diameter="20"></mat-spinner>
      </div>
    </div>
  </ng-container>
</div>
