<div *transloco="let t; read: 'bearing.bearingSelection.advancedSelection'">
  <ng-container *ngrxLet="modelCreationLoading$; let loading">
    <div
      *ngrxLet="advancedBearingSelectionResultList$; let bearings"
      class="relative"
    >
      @if (bearings?.length) {
        <div class="max-h-[370px] overflow-auto md:pr-3">
          <mat-action-list>
            @for (bearing of bearings; track bearing) {
              <mat-list-item
                (click)="selectBearing(bearing)"
                [disabled]="bearing.disabled"
              >
                <div class="flex items-center">
                  <div class="flex flex-col md:flex-row">
                    <span class="mr-1 inline-block text-body-medium">{{
                      bearing.disabled
                        ? t('bearingsList.disabledOption')
                        : t('bearingsList.selectOption')
                    }}</span>
                    <span class="inline-block text-title-small">{{
                      bearing.title
                    }}</span>
                  </div>
                  @if (!bearing.disabled) {
                    <mat-icon class="align-bottom text-primary"
                      >chevron_right</mat-icon
                    >
                  }
                </div>
              </mat-list-item>
            }
          </mat-action-list>
        </div>
      } @else {
        <div class="p-4 md:p-2">
          {{ t('noResults.message') }}
        </div>
      }
      @if (loading) {
        <div
          class="absolute top-0 left-0 flex h-full w-full items-center justify-center bg-surface-legacy"
        >
          <mat-spinner diameter="20"></mat-spinner>
        </div>
      }
    </div>
  </ng-container>
</div>
