@import 'libs/shared/ui/styles/src/lib/colors';
@import 'libs/shared/ui/styles/src/lib/fonts';

button {
  font-weight: bold;
  margin: 10px;
  width: 100%;
}

.label {
  color: $schaeffler-carbon-gray;
  margin-bottom: 5px;
}

.rating-icon {
  color: $schaeffler-green-1;
  font-size: 26px;
  margin-right: 5px;
}
span {
  font-weight: bold;
}
.row {
  height: 30px;
}
