<gq-filter-pricing-card
  *transloco="let t; read: 'detailView.filterPricing.gqPrice'"
  [title]="title$ | ngrxPush"
  [isSelected]="quotationDetail.price === quotationDetail.recommendedPrice"
  (selectManualPrice)="selectPrice()"
  [isLoading]="isLoading"
>
  <div fxLayout="row" fxLayoutAlign="start end" class="container">
    <div class="box" fxFlex>
      <div class="label">{{ t('priceLabel') }}:</div>
      <div class="row" fxLayout="row" fxLayoutAlign="start center">
        <div FxFlex>
          <span>{{ quotationDetail.recommendedPrice }}</span
          ><span *ngIf="customerCurrency$ | ngrxPush as currency">
            {{ currency }}</span
          >
        </div>
      </div>
    </div>
    <div class="box" fxFlex>
      <div class="label">{{ t('gpi') }}:</div>
      <div class="row" fxLayout="row" fxLayoutAlign="start center">
        <span>{{ gpi }} %</span>
      </div>
    </div>
    <div class="box" fxFlex>
      <div class="label">{{ t('quantity') }}:</div>
      <div class="row" fxLayout="row" fxLayoutAlign="start center">
        <span>{{ quotationDetail.orderQuantity | number }}</span>
      </div>
    </div>
    <div class="box" fxFlex *ngIf="quotationDetail.gqRating">
      <div class="label">{{ t('rating') }}:</div>
      <div class="row" fxLayout="row" fxLayoutAlign="start center">
        <ng-container
          *ngFor="
            let i of [].constructor(quotationDetail.gqRating);
            trackBy: trackByFn
          "
        >
          <mat-icon
            class="rating-icon"
            fontSet="schaeffler-icons"
            fontIcon="icon-star"
          ></mat-icon>
        </ng-container>
      </div>
    </div>
  </div>
</gq-filter-pricing-card>
