<div
  class="ag-cell-label-container flex w-full flex-row text-body-2"
  role="presentation"
  (click)="onSortRequested($event)"
  *transloco="let t; read: 'shared.quotationDetailsTable'"
>
  <span class="ag-header-cell-text w-full truncate">
    {{ params?.displayName }}
  </span>

  <div class="flex w-10 items-center justify-between">
    <div class="w-4">
      <span class="ag-icon ag-icon-asc" *ngIf="sort === 'asc'"></span>
      <span class="ag-icon ag-icon-desc" *ngIf="sort === 'desc'"></span>
    </div>

    <div class="ml-2 w-4" *ngIf="params?.tooltipText">
      <gq-info-icon
        [displaySmall]="true"
        [text]="params?.tooltipText"
      ></gq-info-icon>
    </div>
  </div>

  <span
    ref="eMenu"
    class="ag-header-icon ag-header-cell-menu-button pl-2"
    aria-hidden="true"
  >
    <span
      class="ag-icon ag-icon-menu"
      #menuButton
      (click)="onMenuClicked($event)"
    ></span>
  </span>
</div>
