@import 'libs/shared/ui/styles/src/lib/colors';

:host {
  width: 100%;
  mat-card {
    padding: 0;
    padding-bottom: 5px;
  }

  .details-page-header {
    .back-arrow-icon {
      color: $schaeffler-carbon-gray;
      cursor: pointer;
      font-size: 24px;
      margin: 0 16px;
    }

    button {
      font-weight: bold;
      margin: 16px 16px 16px 0;
      mat-icon {
        vertical-align: initial;
      }
    }
    .sapId {
      opacity: 0.38;
    }
    h1 {
      color: $schaeffler-black;
      font-size: 34px;
      opacity: 0.87;
    }
  }
}
