<div fxLayout="row" fxLayoutAlign="space-between" class="details-page-header">
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-icon
      fontSet="schaeffler-icons"
      fontIcon="icon-arrow-west"
      (click)="backClicked()"
      class="back-arrow-icon"
    ></mat-icon>
    <h1>
      <span *ngIf="gqId; else customer">
        {{ gqId | gqQuotation }}
        <span *ngIf="sapId" class="additionalInfo">
          {{ sapId | sapQuotation }}</span
        >
        <ng-template *ngIf="customerName">
          <span class="additionalInfo">| {{ customerName }}</span>
        </ng-template>
        <span *ngIf="materialNumberAndDescription">
          {{ materialNumberAndDescription | materialInfo }}</span
        >
      </span>
      <ng-template #customer> {{ customerName }}</ng-template>
    </h1>
  </div>
  <div>
    <button
      mat-stroked-button
      color="primary"
      *transloco="let t; read: 'shared.caseHeader'"
      (click)="drawerToggle()"
    >
      <mat-icon fontSet="schaeffler-icons" fontIcon="icon-cart"></mat-icon>
      {{ t('seeOffer') | uppercase }}
    </button>
  </div>
</div>

<gq-customer-details
  *ngIf="gqId"
  [customer]="customer$ | async"
></gq-customer-details>
