<div class="p-8 overflow-auto">
  <h3 class="leading-none text-medium-emphasis">Overview</h3>
  <div class="text-subtitle-1 my-4">
    The Materials App Center gives access to services provided to you by
    Schaeffler
    <a
      class="text-link"
      href="https://sconnect.schaeffler.com/community/global-technology/rd-competence-services/corporate-materials"
      >Materials Technologies</a
    >
    department. For more information please contact
    <a class="text-link" href="mailto:materials-app-center@schaeffler.com"
      >Materials App Center</a
    >. The implementation has been done by
    <a
      class="text-link"
      href="https://sconnect.schaeffler.com/community/global-technology/strategic-information-technology/digital-platform/ai-solutions"
      >Data Science Solutions</a
    >
    department.
  </div>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 flex-wrap">
    <ng-container *ngFor="let elem of elements; trackBy: trackByFn">
      <div class="col-span-1 row-span-1 flex flex-col grow">
        <div
          *ngIf="!elem.externalLink"
          class="flex flex-col flex-1"
          [ngClass]="{ 'cursor-pointer': elem.url }"
          [routerLink]="elem.url ? elem.url : undefined"
          (click)="trackCall(elem.title)"
        >
          <mat-card class="flex flex-1 overview-card">
            <div
              class="h-full w-full flex flex-col flex-1 place-items-center justify-around py-4 md:py-8 lg:py-12"
            >
              <div
                class="w-full flex-1 flex-col flex place-items-center justify-center md:justify-between gap-6 md:gap-2"
              >
                <div class="w-2/5 h-2/5 sm:h-3/5 lg:h-3/4">
                  <img
                    [src]="elem.img"
                    class="w-full max-h-full"
                    [ngClass]="{ 'opacity-40': !elem.url }"
                  />
                </div>
                <div class="flex-1 max-h-[114px] lg:h-1/4">
                  <h4
                    class="text-center leading-snug text-h5 lg:text-h4"
                    [ngClass]="{ 'opacity-40': !elem.url }"
                  >
                    {{ elem.title }}
                  </h4>
                </div>
              </div>
            </div>
          </mat-card>
        </div>

        <a
          *ngIf="elem.externalLink"
          class="no-underline flex flex-col flex-1"
          [ngClass]="{ 'cursor-pointer': elem.url }"
          [href]="elem.url ? elem.url : undefined"
          target="_blank"
          (click)="trackCall(elem.title)"
        >
          <mat-card class="flex flex-1 overview-card">
            <div
              class="h-full w-full flex flex-col flex-1 place-items-center justify-around py-4 md:py-8 lg:py-12"
            >
              <div
                class="w-full flex-1 flex-col flex place-items-center justify-center md:justify-between gap-6 md:gap-2"
              >
                <div class="w-2/5 h-2/5 sm:h-3/5 lg:h-3/4">
                  <img
                    [src]="elem.img"
                    class="w-full max-h-full"
                    [ngClass]="{ 'opacity-40': !elem.url }"
                  />
                </div>
                <div class="flex-1 max-h-[114px] lg:h-1/4">
                  <h4
                    class="text-center leading-snug text-h5 lg:text-h4"
                    [ngClass]="{ 'opacity-40': !elem.url }"
                  >
                    {{ elem.title }}
                  </h4>
                </div>
              </div>
            </div>
          </mat-card>
        </a>
      </div>
    </ng-container>
  </div>
</div>
