<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<mac-base-dialog
  *transloco="let t; read: 'materialsSupplierDatabase.mainTable.dialog'"
  [txtTitle]="getTitle()"
  [txtCancel]="t('cancel')"
  [txtConfirm]="
    isEditDialog() && !isCopyDialog() ? t('updateMaterial') : t('addMaterial')
  "
  [isAddDialog]="isCopyDialog() || !isEditDialog()"
  [valid]="isValidDialog() && (isCo2Valid$ | ngrxPush)"
  (accept)="confirmMaterial($event)"
  (minimize)="minimizeDialog()"
  (cancel)="cancelDialog()"
>
  <div class="flex flex-col gap-y-3">
    @if (!(dialogLoading$ | ngrxPush) && !(editLoading$ | ngrxPush)) {
      <ng-container *ngrxLet="hintData$ as hintData">
        <!-- MatStd -->
        <div class="text-subtitle-2 text-high-emphasis">
          {{ t('materialStandardTitle') }}
        </div>
        <div class="flex flex-row gap-x-6">
          <mac-material-standard
            class="w-full"
            [readonly]="isEditDialog() && !isCopyDialog()"
            [materialStandardIdControl]="materialStandardIdControl"
            [standardDocumentsControl]="standardDocumentsControl"
            [materialNamesControl]="materialNamesControl"
            macMaterialDialogBasePart
          ></mac-material-standard>
        </div>
        <div class="flex flex-row gap-x-6">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label class="leading-6">{{ t('steelNumber') }}</mat-label>
            @if (isEditDialog() && !isCopyDialog()) {
              <mat-label class="leading-6">&nbsp;{{ t('readonly') }}</mat-label>
            }
            <input
              matInput
              placeholder="1.1234"
              value=""
              [formControl]="steelNumberControl"
              [readonly]="isEditDialog() && !isCopyDialog()"
              name="materialNumbers"
              #dialogControl
            />
            @if (steelNumberControl.invalid) {
              <mat-error
                class="text-caption"
                [matTooltip]="t('error.steelNumber')"
              >
                {{ getErrorMessage(steelNumberControl.errors) }}
                <mat-icon inline="true" class="!leading-3 cursor-help"
                  >info_outline</mat-icon
                >
              </mat-error>
            }
          </mat-form-field>
          <div class="flex w-full flex-row">
            <schaeffler-select
              appearance="outline"
              class="w-full"
              [filterFn]="filterFn"
              [label]="t('referencedInDocument')"
              [stringOptions]="referenceDocuments$ | ngrxPush"
              [control]="referenceDocumentControl"
              [loading]="referenceDocumentsLoading$ | ngrxPush"
              [addEntry]="true"
              [multiple]="true"
              [showTriggerTooltip]="true"
              [formFieldHint]="getHint(hintData, 'referenceDoc')"
              triggerTooltipDelay="1500"
              tooltipPosition="right"
              (entryAdded)="addReferenceDocument($event)"
              name="referenceDoc"
              #dialogControl
            ></schaeffler-select>
            <span mat-icon class="mb-4 self-center pl-4">
              <mat-icon
                [matTooltip]="t('tooltip.referencedInDocument')"
                matTooltipPosition="before"
                class="text-link cursor-help"
                >info_outline</mat-icon
              >
            </span>
            @if (dialogData.editDialogInformation?.selectedRows?.length > 1) {
              <button
                mat-icon-button
                color="primary"
                class="mt-1 ml-1"
                (click)="openReferenceDocumentBulkEditDialog()"
              >
                <mat-icon>edit</mat-icon>
              </button>
            }
          </div>
        </div>
        <!-- Supplier Block -->
        <div class="text-subtitle-2 text-high-emphasis">
          {{ t('supplierInformationTitle') }}
        </div>
        <mac-manufacturer-supplier
          [readonly]="isEditDialog() && !isCopyDialog()"
          [manufacturerSupplierIdControl]="manufacturerSupplierIdControl"
          [supplierControl]="supplierControl"
          [supplierPlantControl]="supplierPlantControl"
          [supplierCountryControl]="supplierCountryControl"
          macMaterialDialogBasePart
        ></mac-manufacturer-supplier>
        <div class="flex flex-row gap-x-6">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label class="leading-6">{{ t('castingMode') }}</mat-label>
            <mat-select
              [formControl]="castingModesControl"
              name="castingMode"
              #dialogControl
            >
              @for (mode of castingModes$ | ngrxPush; track mode) {
                <mat-option [value]="mode">
                  {{ t(mode.toLowerCase()) }}
                </mat-option>
              }
            </mat-select>
            <mat-hint>
              {{ getHint(hintData, 'castingMode') }}
            </mat-hint>
            @if (castingModesControl.invalid) {
              <mat-error class="text-caption">{{
                getErrorMessage(castingModesControl.errors)
              }}</mat-error>
            }
          </mat-form-field>
          <schaeffler-select
            appearance="outline"
            class="w-full"
            [stringOptions]="castingDiameters$ | ngrxPush"
            [control]="castingDiameterControl"
            [filterFn]="filterFn"
            [addEntry]="true"
            [label]="t('castingDiameter')"
            (entryAdded)="addCastingDiameter($event)"
            [resetButton]="false"
            [loading]="castingDiametersLoading$ | ngrxPush"
            [showTriggerTooltip]="true"
            [formFieldHint]="getHint(hintData, 'castingDiameter')"
            triggerTooltipDelay="1500"
            tooltipPosition="right"
            name="castingDiameter"
            #dialogControl
          >
            @if (castingDiameterControl.invalid) {
              <span matErrorContent class="text-caption">
                {{ getErrorMessage(castingDiameterControl.errors) }}
              </span>
            }
          </schaeffler-select>
        </div>
        <div class="flex flex-row gap-x-6">
          <mat-form-field appearance="outline" class="w-auto">
            <mat-label class="leading-6">{{ t('supplierRating') }}</mat-label>
            <mat-select
              [formControl]="ratingsControl"
              [compareWith]="compareWithId"
              name="rating"
              #dialogControl
            >
              @for (rating of ratings$ | ngrxPush; track rating) {
                <mat-option [value]="rating">
                  {{ rating.title }}
                </mat-option>
              }
            </mat-select>
            <mat-hint>
              {{ getHint(hintData, 'rating') }}
            </mat-hint>
            @if (ratingsControl.invalid) {
              <mat-error class="text-caption">{{
                getErrorMessage(ratingsControl.errors)
              }}</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label class="leading-6">{{
              t('supplierRatingRemark')
            }}</mat-label>
            <input
              matInput
              [formControl]="ratingRemarkControl"
              name="ratingRemark"
              #dialogControl
            />
            <mat-hint>
              {{ getHint(hintData, 'ratingRemark') }}
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="flex flex-row gap-x-6">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label class="leading-6">{{
              t('ratingChangeComment')
            }}</mat-label>
            <textarea
              matInput
              [formControl]="ratingChangeCommentControl"
              name="ratingChangeComment"
              #dialogControl
            ></textarea>
            <mat-hint>
              {{ getHint(hintData, 'ratingChangeComment') }}
            </mat-hint>
            @if (ratingChangeCommentControl.invalid) {
              <mat-error class="text-caption">{{
                getErrorMessage(ratingChangeCommentControl.errors)
              }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="-ml-2 flex flex-row gap-x-6">
          <mat-checkbox
            class="text-caption text-high-emphasis"
            color="primary"
            [formControl]="selfCertifiedControl"
            name="manufacturerSupplierSelfCertified"
            #dialogControl
          >
            {{ t('selfCertified') }}
            <mat-icon
              [matTooltip]="t('selfCertified_tooltip')"
              matTooltipPosition="after"
              class="text-link cursor-help !leading-3"
              inline="true"
              >info_outline</mat-icon
            >
          </mat-checkbox>
        </div>
        <div class="-ml-2 flex flex-row gap-x-6">
          <mat-checkbox
            class="text-caption text-high-emphasis"
            color="primary"
            [formControl]="isManufacturerControl"
            name="manufacturer"
            #dialogControl
          >
            {{ t('manufacturer') }}
          </mat-checkbox>
        </div>
        <!-- CO2 Block -->
        <div class="text-subtitle-2 text-high-emphasis">
          {{ t('productInformationTitle') }}
        </div>
        <div class="flex flex-row gap-x-6">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label class="leading-6">{{ t('maxDim') }}</mat-label>
            <input
              matInput
              [formControl]="maxDimControl"
              type="number"
              name="maxDimension"
              #dialogControl
            />
            <mat-hint>
              {{ getHint(hintData, 'maxDimension') }}
            </mat-hint>
            <span matSuffix class="text-caption !block pt-1">{{
              t('mm')
            }}</span>
            @if (maxDimControl.invalid) {
              <mat-error class="text-caption">{{
                getErrorMessage(maxDimControl.errors)
              }}</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label class="leading-6">{{ t('minDim') }}</mat-label>
            <input
              matInput
              [formControl]="minDimControl"
              type="number"
              name="minDimension"
              #dialogControl
            />
            <mat-hint>
              {{ getHint(hintData, 'minDimension') }}
            </mat-hint>
            <span matSuffix class="text-caption !block pt-1">{{
              t('mm')
            }}</span>
            @if (minDimControl.invalid) {
              <mat-error class="text-caption">{{
                getErrorMessage(minDimControl.errors)
              }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="flex flex-row gap-x-6">
          <schaeffler-select
            appearance="outline"
            [stringOptions]="categories$ | ngrxPush"
            [control]="categoriesControl"
            [filterFn]="filterFn"
            [label]="t('productCategory')"
            [resetButton]="false"
            [showTriggerTooltip]="true"
            [formFieldHint]="getHint(hintData, 'productCategory')"
            triggerTooltipDelay="1500"
            tooltipPosition="right"
            name="productCategoryText"
            #dialogControl
          >
            @if (categoriesControl.invalid) {
              <span matErrorContent class="text-caption">
                {{ getErrorMessage(categoriesControl.errors) }}
              </span>
            }
          </schaeffler-select>
          <schaeffler-select
            preCo2Classification
            appearance="outline"
            [stringOptions]="steelMakingProcess$ | ngrxPush"
            [control]="steelMakingProcessControl"
            [filterFn]="steelMakingProcessFilterFn"
            [label]="t('steelMakingProcess')"
            [showTriggerTooltip]="true"
            [formFieldHint]="getHint(hintData, 'steelMakingProcess')"
            triggerTooltipDelay="1500"
            tooltipPosition="right"
            name="steelMakingProcess"
            #dialogControl
            #steelMakingProcessSelect
          ></schaeffler-select>
          <mat-form-field appearance="outline" class="w-1/5">
            <mat-label class="leading-6">{{ t('minRecyclingRate') }}</mat-label>
            <input
              matInput
              [formControl]="minRecyclingRateControl"
              type="number"
              name="recyclingRate"
              #dialogControl
            />
            <span matSuffix class="text-caption !block pt-1"> %</span>
            <mat-hint>
              {{ getHint(hintData, 'minRecyclingRate') }}
            </mat-hint>
            @if (minRecyclingRateControl.invalid) {
              <mat-error class="text-caption">{{
                getErrorMessage(minRecyclingRateControl.errors)
              }}</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-1/5">
            <mat-label class="leading-6">{{ t('maxRecyclingRate') }}</mat-label>
            <input
              matInput
              [formControl]="maxRecyclingRateControl"
              type="number"
              name="recyclingRate"
              #dialogControl
            />
            <span matSuffix class="text-caption !block pt-1"> %</span>
            <mat-hint>
              {{ getHint(hintData, 'maxRecyclingRate') }}
            </mat-hint>
            @if (maxRecyclingRateControl.invalid) {
              <mat-error class="text-caption">{{
                getErrorMessage(maxRecyclingRateControl.errors)
              }}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="flex flex-row gap-x-6">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ t('releaseRestrictions') }}</mat-label>
            <textarea
              matInput
              [formControl]="releaseRestrictionsControl"
              name="releaseRestrictions"
              #dialogControl
            ></textarea>
            <mat-hint>{{ releaseRestrictionsHint }}</mat-hint>
          </mat-form-field>
        </div>
        <div class="flex flex-row gap-x-6">
          @switch (selectReleaseDateView()) {
            @case ('READONLY') {
              <mat-form-field appearance="outline" class="w-full">
                <mat-label
                  >{{ t('releaseDateYear') }} {{ t('readonly') }}</mat-label
                >
                <input
                  matInput
                  [value]="releaseYearControl.value || ''"
                  name="releaseDate"
                  #dialogControl
                  readonly="true"
                />
              </mat-form-field>
              @if (releaseMonthControl.value) {
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label
                    >{{ t('releaseDateMonth') }} {{ t('readonly') }}</mat-label
                  >
                  <input
                    matInput
                    [value]="t('month.' + releaseMonthControl.value)"
                    name="releaseDateMonth"
                    #dialogControl
                    readonly="true"
                  />
                </mat-form-field>
              }
            }
            @case ('HISTORIC') {
              <mat-form-field appearance="outline" class="w-full">
                <mat-label
                  >{{ t('releaseDate') }} {{ t('readonly') }}</mat-label
                >
                <input
                  matInput
                  [value]="t('historicallyApproved')"
                  name="releaseDate"
                  #dialogControl
                  readonly="true"
                />
              </mat-form-field>
            }
            <!-- DEFAULT == EDIT-->
            @default {
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="leading-6">{{
                  t('releaseDateYear')
                }}</mat-label>
                <mat-select
                  [formControl]="releaseYearControl"
                  name="releaseDate"
                  #dialogControl
                >
                  @for (year of years; track year) {
                    <mat-option [value]="year">
                      {{ year }}
                    </mat-option>
                  }
                </mat-select>
                <mat-hint>
                  {{ getHint(hintData, 'releaseDateYear') }}
                </mat-hint>
                @if (releaseYearControl.invalid) {
                  <mat-error class="text-caption">{{
                    t('error.required')
                  }}</mat-error>
                }
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-full">
                <mat-label class="leading-6">{{
                  t('releaseDateMonth')
                }}</mat-label>
                <mat-select
                  [formControl]="releaseMonthControl"
                  name="releaseDateMonth"
                  #dialogControl
                >
                  @for (month of months; track month) {
                    <mat-option [value]="month">
                      {{ t('month.' + month) }}
                    </mat-option>
                  }
                </mat-select>
                @if (releaseMonthControl.invalid) {
                  <mat-error class="text-caption">{{
                    t('error.required')
                  }}</mat-error>
                }
                <mat-hint>
                  {{ getHint(hintData, 'releaseDateMonth') }}
                </mat-hint>
              </mat-form-field>
            }
          }
        </div>
        <div class="-ml-2 flex flex-row gap-x-6">
          <mat-checkbox
            class="text-caption text-high-emphasis"
            color="primary"
            [formControl]="isBlockedControl"
            name="blocked"
            #dialogControl
          >
            {{ t('blocked') }}
            <mat-icon
              [matTooltip]="t('tooltip.blocked')"
              matTooltipPosition="after"
              class="text-link cursor-help !leading-3"
              inline="true"
              >info_outline</mat-icon
            >
          </mat-checkbox>
        </div>
      </ng-container>
      <div class="text-subtitle-2 text-high-emphasis">
        {{ t('co2InformationTitle') }}
      </div>
      <div class="flex flex-row">
        <mat-form-field appearance="outline" class="w-1/3 pr-6">
          <mat-label class="leading-6">{{ t('co2Upstream') }}</mat-label>
          <input
            matInput
            [formControl]="co2UpstreamControl"
            type="number"
            name="co2Upstream"
            #dialogControl
          />
          <span matSuffix class="text-caption !block !w-16 pt-1">{{
            t('co2PerTon')
          }}</span>
          <mat-hint>{{ co2UpstreamHint }}</mat-hint>
          @if (co2UpstreamControl.invalid) {
            <mat-error class="text-caption">{{
              getErrorMessage(co2UpstreamControl.errors)
            }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-1/3 pr-6">
          <mat-label class="leading-6">{{ t('co2Core') }}</mat-label>
          <input
            matInput
            [formControl]="co2CoreControl"
            type="number"
            name="co2Core"
            #dialogControl
          />
          <span matSuffix class="text-caption !block !w-16 pt-1">{{
            t('co2PerTon')
          }}</span>
          <mat-hint>{{ co2CoreHint }}</mat-hint>
          @if (co2CoreControl.invalid) {
            <mat-error class="text-caption">{{
              getErrorMessage(co2CoreControl.errors)
            }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-1/3">
          <mat-label class="leading-6">{{ t('co2Total') }}</mat-label>
          <input
            matInput
            [formControl]="co2TotalControl"
            type="number"
            name="co2PerTon"
            #dialogControl
          />
          <span matSuffix class="text-caption !block !w-16 pt-1">{{
            t('co2PerTon')
          }}</span>
          <mat-hint>{{ co2TotalHint }}</mat-hint>
          @if (co2TotalControl.invalid) {
            <mat-error
              class="text-caption"
              [matTooltip]="
                co2TotalControl.errors?.scopeTotalLowerThanSingleScopes ||
                co2TotalControl.errors?.scopeTotalHigherThanSingleScopes
                  ? t('error.co2Scopes')
                  : ''
              "
            >
              {{ getErrorMessage(co2TotalControl.errors) }}
              <mat-icon inline="true" class="!leading-3 cursor-help"
                >info_outline</mat-icon
              >
            </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex w-full flex-row">
        <schaeffler-select
          appearance="outline"
          class="w-full"
          [stringOptions]="getCo2ClassificationsNew()"
          [control]="co2ClassificationNewControl"
          [filterFn]="filterFn"
          [label]="t('co2Classification')"
          [resetButton]="false"
          [showTriggerTooltip]="true"
          triggerTooltipDelay="1500"
          tooltipPosition="right"
          name="co2ClassificationNew"
          #dialogControl
        >
        </schaeffler-select>
      </div>
      @if (co2ClassificationNewControl.value?.id === SCHAEFFLER_EXPERTS) {
        <div class="flex w-full flex-row">
          <schaeffler-select
            appearance="outline"
            class="w-full"
            [stringOptions]="getCo2ClassificationsNewSecondary()"
            [control]="co2ClassificationNewSecondaryControl"
            [filterFn]="filterFn"
            [label]="t('co2Classification')"
            [resetButton]="false"
            [showTriggerTooltip]="true"
            triggerTooltipDelay="1500"
            tooltipPosition="right"
            name="co2ClassificationNewSecondary"
            #dialogControl
          >
          </schaeffler-select>
        </div>
      }
      <div class="flex w-full flex-row justify-between gap-6">
        <div class="content-center pb-6 max-w-[230px]">
          {{
            co2ClassificationNewSecondaryControl.value?.id ===
            SCHAEFFLER_EXPERTS_CALCULATION_TOOL
              ? t('pcfCalculationToolValidatedAccordingTo')
              : t('pcfValidatedAccordingTo')
          }}:
        </div>
        <schaeffler-select
          appearance="outline"
          class="w-3/5"
          [stringOptions]="co2Standards$ | ngrxPush"
          [control]="co2StandardControl"
          [filterFn]="filterFn"
          [label]="t('co2Standard')"
          [addEntry]="true"
          [resetButton]="false"
          (entryAdded)="addCo2Standard($event)"
          [showTriggerTooltip]="true"
          triggerTooltipDelay="1500"
          tooltipPosition="right"
          name="co2Standard"
          #dialogControl
        >
        </schaeffler-select>
      </div>
      <div class="flex flex-col w-full">
        <div class="flex w-full flex-row justify-between gap-6">
          <div class="content-center pb-6 max-w-[230px]">
            {{ t('appliedPcr') }}:
          </div>
          <schaeffler-select
            appearance="outline"
            class="w-3/5"
            [stringOptions]="productCategoryRules$ | ngrxPush"
            [control]="productCategoryRuleControl"
            [filterFn]="filterFn"
            [label]="t('productCategoryRule')"
            [resetButton]="false"
            [showTriggerTooltip]="true"
            triggerTooltipDelay="1500"
            tooltipPosition="right"
            name="productCategoryRule"
            #dialogControl
          >
          </schaeffler-select>
        </div>
        <div class="-ml-2 flex flex-row gap-x-6 justify-end">
          <mat-checkbox
            class="text-caption text-high-emphasis cursor-not-allowed"
            color="primary"
            name="blocked"
            [checked]="
              productCategoryRuleControl.value?.data?.allocationToSideProducts
            "
            [class.mat-mdc-checkbox-disabled]="
              !co2ClassificationNewControl.value?.id
            "
            disabled
          >
            {{ t('pcrAllocatesCo2ToSideProducts') }}
          </mat-checkbox>
        </div>
      </div>
      <div class="flex w-full flex-row gap-6">
        <mat-form-field appearance="outline" class="w-1/2">
          <mat-label class="leading-6">{{ t('dataQualityRating') }}</mat-label>
          <input
            matInput
            [formControl]="dataQualityRatingControl"
            type="number"
            name="dataQualityRating"
            #dialogControl
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-1/2">
          <mat-label class="leading-6">{{ t('primaryDataShare') }}</mat-label>
          <input
            matInput
            [formControl]="primaryDataShareControl"
            type="number"
            name="primaryDataShare"
            #dialogControl
          />
        </mat-form-field>
      </div>
      <!-- file -->
      <div class="flex flex-row w-full">
        <schaeffler-file-upload
          class="w-full [&>div>div]:py-4"
          [displayMaxFileCountError]="false"
          [autoOverwriteOldestFile]="true"
          [fileHint]="t('pcfProofFileHint')"
          acceptTypeString="application/pdf"
          (filesChanged)="setFile($event)"
          [messages]="uploadMessagesObs$ | ngrxPush"
        ></schaeffler-file-upload>
      </div>
      <div class="w-full flex flex-row justify-between gap-6">
        <div class="content-center pb-6 max-w-[230px]">
          {{ t('reportValidUntil') }}:
        </div>
        <!-- date picker -->
        <mat-form-field appearance="outline" class="w-3/5">
          <mat-label>{{ t('date') }}</mat-label>
          <input
            matInput
            autocomplete="off"
            [matDatepicker]="dateDatePicker"
            name="reportValidUntil"
            [formControl]="reportValidUntilControlMoment"
            readonly
          />
          <mat-datepicker-toggle matSuffix [for]="dateDatePicker">
            <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #dateDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="flex flex-row gap-x-6">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label class="leading-6">{{ t('co2Comment') }}</mat-label>
          <textarea
            matInput
            [formControl]="co2CommentControl"
            name="co2Comment"
            #dialogControl
          ></textarea>
        </mat-form-field>
      </div>
    }
  </div>
</mac-base-dialog>
