<div
  class="flex-wrap gap-3 items-center justify-center"
  [ngClass]="legend?.length > 2 ? 'grid grid-cols-3' : 'flex flex-row'"
>
  <div
    *ngFor="let item of legend; trackBy: trackByFn"
    class="flex items-center cursor-pointer"
    (click)="onLegendItemClicked(item.name)"
  >
    <div
      class="inline-block flex-row h-3.5 w-7 rounded mr-1"
      [ngClass]="{ 'bg-disabledSecondary': !item.selected }"
      [style.background-color]="item.selected ? item.color : undefined"
    ></div>
    <span
      class="inline font-light text-caption"
      [ngClass]="{ 'text-disabled': !item.selected }"
      >{{ item.name }}</span
    >
  </div>
</div>
