<div
  class="flex h-full flex-col"
  *transloco="let t; read: 'processCaseView.exportExcelModal'"
>
  @if (!(transactionsLoading$ | ngrxPush)) {
    <div class="h-full">
      <div class="h-full">
        <gq-dialog-header
          [title]="extendedDownloadEnabled ? t('title') : t('titleBasic')"
          (closeDialog)="cancelDownload()"
        ></gq-dialog-header>
        @if (extendedDownloadEnabled) {
          <mat-radio-group
            [(ngModel)]="exportExcelOption"
            aria-labelledby="example-radio-group-label"
            class="!divide-light grid grid-cols-1 divide-y text-[12px]"
          >
            <div class="mt-[60px] grid grid-cols-2 pb-[16px]">
              <div class="ml-6 text-medium-emphasis">
                {{ t('chooseColumn.title') }}
              </div>
              <div class="text-medium-emphasis">
                {{ t('descriptionColumn.title') }}
              </div>
            </div>
            <div class="grid grid-cols-2 items-center">
              <div class="ml-4">
                <mat-radio-button
                  color="primary"
                  [value]="ExportExcel.BASIC_DOWNLOAD"
                  data-cy="export-excel-modal_basic-download-radiobtn"
                ></mat-radio-button>
                <span class="!text-high-emphasis">
                  {{ t('chooseColumn.basicDownload') }}
                </span>
              </div>
              <div class="text-high-emphasis">
                {{ t('descriptionColumn.basicDownload') }}
              </div>
            </div>
            <div class="grid grid-cols-2 items-center">
              <div class="ml-4">
                <mat-radio-button
                  color="primary"
                  [value]="ExportExcel.DETAILED_DOWNLOAD"
                  data-cy="export-excel-modal_detailed-download-radiobtn"
                ></mat-radio-button>
                <span class="!text-high-emphasis">
                  {{ t('chooseColumn.detailedDownload') }}
                </span>
              </div>
              <div class="text-high-emphasis">
                {{ t('descriptionColumn.detailedDownload') }}
              </div>
            </div>
            <div></div>
          </mat-radio-group>
        } @else {
          <div class="flex flex-col py-8">
            <span>{{ t('onlyBasicLine1') }}</span
            ><span>{{ t('onlyBasicLine2') }}</span>
          </div>
        }
      </div>
      <div [ngClass]="{ 'mt-[75px]': extendedDownloadEnabled }">
        <button
          class="!mr-[16px]"
          mat-raised-button
          color="primary"
          (click)="fetchTransactions()"
          data-cy="export-excel-modal_download-btn"
        >
          <mat-icon class="!icon-5">download</mat-icon>
          {{ t('confirm') }}
        </button>
        <button
          color="primary"
          mat-stroked-button
          mat-dialog-close
          data-cy="export-excel-modal_close-btn"
        >
          {{ t('cancel') }}
        </button>
      </div>
    </div>
  } @else {
    @if (transactionsLoading$ | ngrxPush) {
      <schaeffler-loading-spinner></schaeffler-loading-spinner>
    }
  }
</div>
