<mat-card
  class="mat-elevation-z0 border border-solid border-outline mt-6 text-body-2"
  *transloco="let t; read: 'shared.customerHeader'"
>
  <div class="flex flex-row">
    <div class="w-full flex flex-row pr-4" *ngIf="customer">
      <div class="mr-12">
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2">{{ t('name') }}: </span>
          <span class="text-highEmphasis">
            {{ customer.name }}
          </span>
        </div>
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2">{{ t('id') }}: </span>
          <span class="text-highEmphasis">
            {{ customer.identifier.customerId }}
          </span>
        </div>
      </div>
      <div class="mr-12 overflow-x-hidden sm:overflow-x-visible">
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2">{{ t('keyAccount') }}: </span>
          <span class="text-highEmphasis">
            {{ customer.keyAccount }}
          </span>
        </div>
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2">{{ t('subKeyAccount') }}: </span>
          <span class="text-highEmphasis">
            {{ customer.subKeyAccount }}
          </span>
        </div>
      </div>
      <div class="mr-12 overflow-x-hidden md:overflow-x-visible">
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2">{{ t('classification') }}: </span>
          <span class="text-highEmphasis"
            >{{ customer.abcClassification }}
          </span>
        </div>
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2">{{ t('sectorManagement') }}: </span>
          <span class="text-highEmphasis">
            {{ customer.sectorManagement }}
          </span>
        </div>
      </div>
      <div class="mr-12 hidden md:flex md:flex-col overflow-x-hidden">
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2">{{ t('netSalesLastYear') }} {{ lastYear }}:</span>
          <span class="text-highEmphasis">
            {{
              customer.marginDetail?.netSalesLastYear
                | numberCurrency: customer.currency
            }}
          </span>
        </div>
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2">{{ t('gpiLastYear') }} {{ lastYear }}:</span>
          <span class="text-highEmphasis">
            {{ customer.marginDetail?.gpiLastYear | percentage }}
          </span>
        </div>
      </div>
      <div class="hidden lg:flex lg:flex-col overflow-x-hidden">
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2">{{ t('country') }}:</span>
          <span class="text-highEmphasis">
            {{ customer.country }}
          </span>
        </div>
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2">{{ t('currency') }}:</span>
          <span class="text-highEmphasis">
            {{ customer.currency }}
          </span>
        </div>
      </div>
    </div>
    <button
      class="!text-primary font-medium !absolute h-full top-0 right-0"
      mat-flat-button
      (click)="openCustomer()"
    >
      <mat-icon class="text-h6">arrow_forward</mat-icon>
      {{ t('details') }}
    </button>
  </div>
</mat-card>
<div class="bg-white absolute"></div>
