<mat-card
  class="mat-elevation-z0 border border-solid border-outline mt-6"
  *transloco="let t; read: 'shared.customerHeader'"
>
  <div class="flex flex-row">
    <div class="w-full flex flex-row pr-4" *ngIf="customer">
      <div class="mr-12">
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2 text-light">{{ t('name') }}: </span>
          <span>
            {{ customer.name }}
          </span>
        </div>
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2 text-light">{{ t('id') }}: </span>
          <span>
            {{ customer.identifier.customerId }}
          </span>
        </div>
      </div>
      <div class="mr-12 overflow-x-hidden sm:overflow-x-visible">
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2 text-light">{{ t('keyAccount') }}: </span>
          <span>
            {{ customer.keyAccount | nullableString }}
          </span>
        </div>
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2 text-light">{{ t('subKeyAccount') }}: </span>
          <span>
            {{ customer.subKeyAccount | nullableString }}
          </span>
        </div>
      </div>
      <div class="mr-12 overflow-x-hidden md:overflow-x-visible">
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2 text-light">{{ t('classification') }}: </span>
          <span>{{ customer.abcClassification | nullableString }} </span>
        </div>
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2 text-light">{{ t('sectorManagement') }}: </span>
          <span>
            {{ customer.sectorManagement | nullableString }}
          </span>
        </div>
      </div>
      <div class="mr-12 hidden md:flex md:flex-col overflow-x-hidden">
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2 text-light"
            >{{ t('netSalesLastYear') }} {{ lastYear }}:</span
          >
          <span>
            {{
              customer.marginDetail?.netSalesLastYear
                | numberCurrency: customer.currency
            }}
          </span>
        </div>
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2 text-light"
            >{{ t('gpiLastYear') }} {{ lastYear }}:</span
          >
          <span>
            {{ customer.marginDetail?.gpiLastYear | percentage }}
          </span>
        </div>
      </div>
      <div class="hidden lg:flex lg:flex-col overflow-x-hidden">
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2 text-light">{{ t('country') }}:</span>
          <span>
            {{ customer.country | nullableString }}
          </span>
        </div>
        <div class="text-caption leading-6 whitespace-nowrap">
          <span class="pr-2 text-light">{{ t('currency') }}:</span>
          <span>
            {{ customer.currency }}
          </span>
        </div>
      </div>
    </div>
    <div class="!absolute !bg-white h-10 top-5 right-0">
      <button
        color="primary"
        class="font-medium"
        mat-button
        (click)="openCustomer()"
      >
        <mat-icon class="text-h6 align-arrow-forward">arrow_forward</mat-icon>
        {{ t('details') }}
      </button>
    </div>
  </div>
</mat-card>
<div class="bg-white absolute"></div>
