<ng-container *transloco="let t; read: 'basicFrequencies'">
  <div mat-dialog-title class="!-mx-6 !-mt-4">
    <div class="flex flex-row content-around justify-between pl-4 pb-2 pr-2">
      <div class="my-auto text-h6 text-high-emphasis">
        {{
          t('dialogTitle', {
            bearingDesignation: bearingDesignation$ | ngrxPush
          })
        }}
      </div>
      <div class="flex flex-row">
        <button mat-icon-button (click)="closeDialog()">
          <mat-icon class="text-medium-emphasis">close</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-dialog-content class="!px-4 pb-4">
    <ng-container
      *ngIf="
        basicFrequencies$ | ngrxPush as basicFrequencies;
        else loadingTemplate
      "
    >
      <div class="rounded border border-border">
        <div class="border-b border-border px-4 py-2 text-subtitle-1">
          {{ basicFrequencies.title }}
        </div>
        <div class="px-8 py-4">
          <table mat-table [dataSource]="basicFrequencies.rows" class="w-full">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let item">
                {{ item.title }}
              </td>
            </ng-container>
            <ng-container matColumnDef="abbreviation">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let item" class="!px-4">
                {{ item.abbreviation }}
              </td>
            </ng-container>
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let item">
                {{ item.value | number: '1.2' }}
              </td>
            </ng-container>

            <tr
              mat-row
              [class.bg-hover-overlay]="i % 2 === 1"
              *matRowDef="let row; let i = index; columns: columnsToDisplay"
            ></tr>
          </table>
        </div>
      </div>
    </ng-container>

    <ng-template #loadingTemplate>
      <div class="item-center flex content-center p-8">
        <div class="ml-auto mr-auto">
          <mat-spinner diameter="20"></mat-spinner>
        </div>
      </div>
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="saveAsPdf()">
      <mat-icon>download</mat-icon>
      {{ t('saveAsPdf') }}
    </button>
  </mat-dialog-actions>
</ng-container>
