<ng-container *transloco="let t; read: 'basicFrequencies'">
  <div mat-dialog-title class="!-ea-mx-6 !-ea-mt-4">
    <div
      class="ea-flex ea-flex-row ea-content-around ea-justify-between ea-pb-2 ea-pl-4 ea-pr-2"
    >
      <div class="ea-text-h6 ea-text-high-emphasis ea-my-auto">
        {{
          t('dialogTitle', {
            bearingDesignation: bearingDesignation$ | ngrxPush
          })
        }}
      </div>
      <div class="ea-flex ea-flex-row">
        <button mat-icon-button (click)="closeDialog()">
          <mat-icon class="ea-text-medium-emphasis">close</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-dialog-content class="!ea-px-4 ea-pb-4">
    <ng-container
      *ngIf="
        basicFrequencies$ | ngrxPush as basicFrequencies;
        else loadingTemplate
      "
    >
      <div
        class="ea-border-border ea-rounded ea-border ea-overflow-auto ea-min-w-[400px]"
      >
        <div
          class="ea-border-border ea-text-subtitle-1 ea-border-b md:ea-px-4 md:ea-py-2 ea-p-2"
        >
          {{ basicFrequencies.title }}
        </div>
        <div class="md:ea-px-8 ea-p-0 md:ea-py-4">
          <table
            mat-table
            [dataSource]="basicFrequencies.rows"
            class="md:ea-w-full"
          >
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let item">
                {{ item.title }}
              </td>
            </ng-container>
            <ng-container matColumnDef="abbreviation">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let item" class="!ea-px-4">
                {{ item.abbreviation }}
              </td>
            </ng-container>
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let item">
                {{ item.value | number: '1.2-2' }}
              </td>
            </ng-container>

            <tr
              mat-row
              [class.ea-bg-hover-overlay]="i % 2 === 1"
              *matRowDef="let row; let i = index; columns: columnsToDisplay"
            ></tr>
          </table>
        </div>
      </div>
    </ng-container>

    <ng-template #loadingTemplate>
      <div class="ea-item-center ea-flex ea-content-center ea-p-8">
        <div class="ea-ml-auto ea-mr-auto">
          <mat-spinner diameter="20"></mat-spinner>
        </div>
      </div>
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="saveAsPdf()">
      <mat-icon>download</mat-icon>
      {{ t('saveAsPdf') }}
    </button>
  </mat-dialog-actions>
</ng-container>
