<ng-container *transloco="let t">
  <mm-qualtrics-info-banner
    class="block m-6 mb-3 mr-2"
  ></mm-qualtrics-info-banner>
  <mat-horizontal-stepper
    schaefflerSeperatedSteps
    (selectionChange)="selectStep($event)"
    [selectedIndex]="currentStep()"
    linear="true"
    #stepper
  >
    <ng-container>
      @for (step of steps(); track step.name; let index = $index) {
        <mat-step
          state="number"
          [editable]="step.editable"
          [completed]="step.complete"
          optional="false"
          ><ng-template matStepLabel>{{ t(step.text) }}</ng-template>

          @switch (index) {
            @case (0) {
              <h5>{{ t(step.text) }}</h5>
              <div class="mt-8 mb-4 max-w-sm sm:mb-8">
                <mm-bearing-search
                  (bearing)="selectBearing($event)"
                  [selectedBearing]="selectedBearingOption()"
                ></mm-bearing-search>
              </div>
            }
            @case (1) {
              @if (index === currentStep()) {
                <h5>{{ t(step.text) }}</h5>
                <mm-bearing-seat-step
                  [bearingSeats]="bearingSeats()"
                  [bearing]="selectedBearing()"
                  (selectedOption)="selectBearingSeatOption($event)"
                ></mm-bearing-seat-step>
              }
            }
            @case (2) {
              @if (index === currentStep()) {
                <h5>{{ t(step.text) }}</h5>
                <mm-measuring-and-mounting-step
                  [measurementMethods]="measurementMethods()"
                  [mountingMethods]="mountingMethds()"
                  [bearing]="selectedBearing()"
                  [mountingMethodSelectionLabel]="
                    t('dialog.selectMountingLabel')
                  "
                  [measuringMethodLabel]="t('dialog.measuringMethod')"
                  (selectedOption)="selectMountingMethod($event)"
                  (selectedMeasurementMethod)="selectMeasurementMethod($event)"
                ></mm-measuring-and-mounting-step>
              }
            }
            @case (3) {
              @if (index === currentStep()) {
                <mm-calculation-options-step [preflightData]="preflighData()">
                </mm-calculation-options-step>
              }
            }
            @case (4) {
              <div class="mb-4 flex w-full justify-end">
                <mat-slide-toggle
                  color="primary"
                  labelPosition="before"
                  [(ngModel)]="showCompactView"
                >
                  {{ 'show compact view' }}
                </mat-slide-toggle>
              </div>

              @if (showCompactView()) {
                <mm-report-result-page> </mm-report-result-page>
              } @else {
                <mm-result-page></mm-result-page>
              }
            }
            @default {
              <p>Default content</p>
            }
          }
        </mat-step>

        @if (isAppDeliveryEmbedded) {
          <mm-app-store-buttons
            class="flex justify-center mb-8"
            [title]="t('shared.appStoreButtonsTitle')"
          ></mm-app-store-buttons>
        }

        <!-- [aria-labelledby]="
        step.enabled
          ? step.index === (currentStep$ | ngrxPush)
            ? 'active'
            : 'enabled'
          : 'disabled'
      " -->
      }
    </ng-container>
    <ng-template matStepperIcon="edit" let-index="index">
      {{ index + 1 }}
    </ng-template>
  </mat-horizontal-stepper>
</ng-container>
