<ng-container *transloco="let t">
  <cae-dynamic-form
    [description]="dialog"
    [model]="model"
    [object]="object"
    (loaded)="dynamicFormLoaded($event)"
  >
    <div
      *caeLayout="let metaArray; let pages = pages; let form = form"
      class="content"
    >
      <div class="-ml-4">
        <mm-pages-stepper
          #stepper
          [pages]="pages"
          [maxPageId]="maxPageId$ | ngrxPush"
          [activePageId]="activePageId$ | ngrxPush"
          [inactivePageId]="inactivePageId$ | ngrxPush"
          (activePageIdChange)="handleActivePageIdChange($event)"
        >
        </mm-pages-stepper>
      </div>
      @if (activeBearing$ | ngrxPush; as activeBearing) {
        <div class="mb-4">
          <span class="text-subtitle-1">
            {{ activeBearing }}
          </span>
        </div>
      }
      <div class="w-full">
        @if ((activePageId$ | ngrxPush) === RSY_PAGE_BEARING_TYPE) {
          <div class="mt-8 mb-4 max-w-sm sm:mb-8">
            <mm-bearing-search
              (bearing)="selectBearing($event)"
              [selectedBearing]="selectedBearingOption$ | ngrxPush"
            ></mm-bearing-search>
          </div>
          <div class="mb-4">
            <mm-horizontal-separator [text]="t('form.searchManually')">
              <mat-slide-toggle
                color="primary"
                [(ngModel)]="manualBearing"
              ></mat-slide-toggle
            ></mm-horizontal-separator>
          </div>
        }
        @for (
          pagedMeta of pagedMetas$ | ngrxPush;
          track pagedMeta;
          let pageIndex = $index
        ) {
          @if (pagedMeta.page.id === (activePageId$ | ngrxPush)) {
            <div
              [ngClass]="{
                hidden:
                  !manualBearing && pagedMeta.page.id === RSY_PAGE_BEARING_TYPE
              }"
            >
              @for (meta of pagedMeta.metas; track meta) {
                @if (
                  meta.member.id !== RSY_BEARING_SERIES &&
                  meta.member.id !== RSY_BEARING
                ) {
                  @if (
                    meta.page.visible &&
                    !isCalculationOptions(pagedMeta.page.id)
                  ) {
                    <div>
                      <div
                        [ngClass]="{
                          'mt-8 max-w-md rounded border border-border p-4 sm:w-[26rem]':
                            meta.member.id === IDMM_MEASSURING_METHOD
                        }"
                      >
                        @if (
                          meta.member.text &&
                          hasHeadline(meta.page.id, meta.member.id)
                        ) {
                          <h6>
                            {{ t(meta.member.text) }}
                          </h6>
                        }
                        <div
                          [ngClass]="{
                            '-mb-5 mt-4':
                              meta.member.id === IDMM_MEASSURING_METHOD
                          }"
                        >
                          @if (meta.member.id === IDMM_MOUNTING_METHOD) {
                            <div class="mt-4">
                              @if (measuringMethodSet()) {
                                <mm-horizontal-separator
                                  [text]="
                                    t('form.select', {
                                      fieldname: meta.member.text | transloco
                                    })
                                  "
                                ></mm-horizontal-separator>
                              }
                            </div>
                          }
                          <cae-member-control
                            [class.wide]="!meta.member.text"
                            [meta]="meta"
                          ></cae-member-control>
                        </div>
                      </div>
                    </div>
                  }
                } @else {
                  <ng-template #inBoxControl>
                    @if (
                      meta.page.visible &&
                      meta.member.text &&
                      hasHeadline(meta.page.id, meta.member.id)
                    ) {
                      <h6>
                        {{ t(meta.member.text) }}
                      </h6>
                    }
                    <cae-member-control
                      [class.wide]="!meta.member.text"
                      [meta]="meta"
                    ></cae-member-control>
                  </ng-template>
                }
              }
              <div
                [ngClass]="{
                  'mt-8 w-full rounded border border-border p-4':
                    isCalculationOptions(pagedMeta.page.id)
                }"
              >
                <div
                  [ngClass]="{
                    'mt-8 rounded border border-border p-4 sm:max-w-xs':
                      pagedMeta.page.id === RSY_PAGE_BEARING_TYPE &&
                      form.value.objects[0].properties[0].value
                  }"
                >
                  @for (template of inBoxTemplates; track template) {
                    <ng-container [ngTemplateOutlet]="template"></ng-container>
                  }
                  @if (isCalculationOptions(pagedMeta.page.id)) {
                    <div class="mb-4">
                      <mm-calculation-options
                        [pageMeta]="pagedMeta"
                      ></mm-calculation-options>
                    </div>
                  }
                  <ng-container *ngrxLet="pagedMetas$ as pagedMetas">
                    @if (
                      stepper.hasNext &&
                      (pagedMeta.valid$ | ngrxPush) &&
                      pagedMeta.page.id !== PAGE_MOUNTING_MANAGER_SEAT &&
                      pagedMeta.page.id !==
                        PAGE_MOUNTING_MANAGER_MEASURING_MOUTING_METHODS
                    ) {
                      <button
                        mat-raised-button
                        [disabled]="!(pagedMeta.valid$ | ngrxPush)"
                        color="primary"
                        (click)="
                          next(pagedMeta.page.id, pagedMetas, stepper);
                          stepper.hasResultNext && resultPage.send(form)
                        "
                        class="w-full uppercase md:max-w-xs"
                      >
                        {{
                          stepper.hasResultNext
                            ? t('form.calculateResults')
                            : t('form.select', {
                                fieldname:
                                  activePageName$ | ngrxPush | transloco
                              })
                        }}
                      </button>
                    }
                  </ng-container>
                </div>
              </div>
            </div>
          }
        }

        <mm-result-page
          [active]="!stepper.hasNext"
          [bearing]="activeBearing$ | ngrxPush"
          [form]="form"
          #resultPage
        ></mm-result-page>
      </div>
    </div>
  </cae-dynamic-form>

  @if (isAppDeliveryEmbedded) {
    <mm-app-store-buttons
      class="flex justify-center mb-8"
      [title]="t('shared.appStoreButtonsTitle')"
    ></mm-app-store-buttons>
  }
</ng-container>
