<div
  fxLayout="row"
  *transloco="let t; read: 'detailView.filterPricing.manualPrice'"
>
  <div fxFlex="70%" fxLayoutAlign="center start">
    <mat-form-field appearance="outline">
      <mat-label> {{ t('label') }} </mat-label>
      <input
        [formControl]="manualPriceFormControl"
        [placeholder]="currentPrice"
        (keydown)="onKeyPress($event, manualPrice)"
        (paste)="onPaste($event)"
        class="input-field"
        type="number"
        #manualPrice
        matInput
      />
      <mat-hint
        class="noPermission"
        [ngClass]="{
          noPermission: disableInput
        }"
      >
        {{ t(disableInput ? 'noPermissionHint' : 'hint') }}
      </mat-hint>
    </mat-form-field>
  </div>
  <div fxFlex *transloco="let t; read: 'detailView.filterPricing'">
    <button
      mat-raised-button
      color="primary"
      *ngIf="currentPrice === manualPriceFormControl.value; else select"
    >
      <mat-icon>check_circle</mat-icon>
      {{ t('selected') | uppercase }}
    </button>
    <ng-template #select>
      <button
        mat-stroked-button
        color="primary"
        (click)="selectPrice()"
        [disabled]="disableInput || !manualPriceFormControl.value"
      >
        <mat-icon>check_circle</mat-icon>
        {{ t('select') | uppercase }}
      </button>
    </ng-template>
  </div>
</div>
