@import 'libs/shared/ui/styles/src/lib/colors';
@import 'libs/shared/ui/styles/src/lib/fonts';

mat-form-field {
  width: 100%;
}
.input-field {
  font-size: 14px;
}

.noPermission {
  color: $schaeffler-red;
}
