@import 'libs/shared/ui/styles/src/lib/colors';
@import 'libs/shared/ui/styles/src/lib/fonts';

button {
  font-weight: bold;
  margin: 10px;
  margin-top: 15px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}
.input-field {
  font-size: 14px;
}

.noPermission {
  color: $schaeffler-red;
}
