/***************************************************************************************************
 * COMPONENTS AND THEMES
 */

/***************************************************************************************************
  * DECLARATIONS
  */
@use 'ag-grid-community/styles' as ag;
@use 'styles/material-overrides' as matOverrides;
@use 'styles/ag-grid-overrides' as agGridOverrides;

/*
 * TailwindCSS, utility-first css framework
 * see https://tailwindcss.com/docs
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/***************************************************************************************************
 * COMPONENTS AND THEMES
 */

/*
 * Angular Material, material design components
 * see https://material.angular.io
 */
@import 'lib/scss/m3-theme';

@include ag.grid-styles(
  (
    theme: material,
    material-primary-color: $primary,
    material-accent-color: $info,
    checkbox-checked-color: $primary,
  )
);

html {
  /** Material overrides */
  @include matOverrides.apply;

  /** Ag-Grid overrides */
  @include agGridOverrides.apply;
}

/** Here we define our global CSS vars */
:root {
  --app-font-family: 'Noto sans';
  --schaeffler-color: #00893d;
  --font-weight-bold: 500;
  --border-color-light-gray: #e2e2e2;
}
