/***************************************************************************************************
 * COMPONENTS AND THEMES
 */

/***************************************************************************************************
  * DECLARATIONS
  */
@use 'ag-grid-community/styles' as ag;
@use 'styles/material-overrides' as matOverrides;
@use 'styles/ag-grid-overrides' as agGridOverrides;

/*
 * TailwindCSS, utility-first css framework
 * see https://tailwindcss.com/docs
 */
@forward 'tailwindcss/base';
@forward 'tailwindcss/components';
@forward 'tailwindcss/utilities';

/***************************************************************************************************
 * COMPONENTS AND THEMES
 */

/*
 * Angular Material, material design components
 * see https://material.angular.io
 */
@use 'lib/scss/m3-theme' as m3;

@include ag.grid-styles(
  (
    theme: material,
    material-primary-color: m3.$primary,
    material-accent-color: m3.$info,
    checkbox-checked-color: m3.$primary,
  )
);

html {
  /** Material overrides */
  @include matOverrides.apply;

  /** Ag-Grid overrides */
  @include agGridOverrides.apply;
}

/** Here we define our global CSS vars */
:root {
  --app-font-family: 'Noto sans';
  --schaeffler-color: #00893d;
  --font-weight-bold: 500;
  --border-color-light-gray: #e2e2e2;
  --todo-color-prio1-bg: #ebdce8;
  --todo-color-prio1-text: #5d194f;
  --todo-color-prio2-bg: #e8e8e8;
  --todo-color-prio2-text: #444444;
  --todo-color-info-bg: #e0edf4;
}
