<div fxLayout="column" class="full-height fullscreen-bg">
  <schaeffler-header [platformTitle]="platformTitle" [toggleEnabled]="false">
    <schaeffler-user-menu
      user-menu
      [user]="username$ | async"
      [profileImage]="profileImage$ | async"
    ></schaeffler-user-menu>
    <div class="site-content">
      <div class="router-content">
        <router-outlet></router-outlet>
      </div>

      <div class="footer-wrapper">
        <schaeffler-footer></schaeffler-footer>
      </div>
    </div>
  </schaeffler-header>
</div>
