@import 'libs/shared/ui/styles/src/lib/colors';

.fullscreen-bg {
  background-image: url('../assets/bg.png');
  background-position: center;
  background-size: cover;
}

.footer-wrapper {
  margin-top: auto;
}

schaeffler-header {
  height: 100%;
}
