<div>
  <span
    class="cursor-pointer text-link hover:underline"
    [class]="isChildElement ? 'ml-12' : 'ml-4'"
    (click)="onClickAction(rowData, !isChildElement)"
  >
    {{ value }}</span
  >
</div>

@if (isGroup) {
  <span
    [class]="expanded() ? 'ag-group-expanded' : 'ag-group-contracted'"
    [attr.data-ref]="expanded() ? 'eExpanded' : 'eContracted'"
    (click)="onClickExpand()"
  >
    <span
      [class]="expanded() ? 'ag-icon-tree-open' : 'ag-icon-tree-closed'"
      unselectable="on"
      role="presentation"
    >
    </span>
  </span>
}
