:host {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100%;
  margin: 0 -24px;
  padding: 0 12px;

  --ag-cell-widget-spacing: 0;
}

.ag-group-contracted,
.ag-group-expanded {
  width: 24px;
  height: 100%;
}

.ag-icon-tree-closed {
  position: relative;

  &::before {
    transform: rotate(-90deg);
    position: absolute;
  }
}
