<div
  class="flex flex-row justify-between items-baseline w-full gap-4"
  *transloco="let t"
>
  <mat-form-field
    appearance="outline"
    class="flex-grow flex flex-row hover:outline-none pb-4"
  >
    <mat-label *ngIf="label">{{ label }}</mat-label>
    <mat-select [formControl]="control" [placeholder]="placeholder">
      <mat-option
        *ngFor="let option of options"
        [value]="option.value ? option.value : option.id"
        >{{ t(option.text) }}</mat-option
      >
      <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    </mat-select>
    <mat-error *ngIf="control.hasError('required')">{{
      t('required')
    }}</mat-error>

    <ng-container *transloco="let t; read: 'parameters.errors'">
      <ng-container *ngFor="let error of customErrors" ngProjectAs="mat-error">
        <mat-error *ngIf="control.hasError(error.name)">{{
          t(error.message)
        }}</mat-error>
      </ng-container></ng-container
    >
  </mat-form-field>
  <div class="w-6">
    <mat-icon
      *ngIf="tooltipText"
      color="primary"
      #tooltip="matTooltip"
      [matTooltip]="tooltipText"
    >
      info_outline
    </mat-icon>
  </div>
</div>
