<mat-card *transloco="let t; read: 'reasonsAndCounterMeasures'">
  <h5 class="col-span-3 font-bold mb-5">
    {{ t('topFiveReasons.title') }}
  </h5>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 bg-surface p-4 w-full">
    <ia-filter
      class="order-1"
      [orgUnits]="orgUnits$ | ngrxPush"
      [selectedOrgUnit]="selectedOrgUnit$ | ngrxPush"
      [disableFilters]="true"
      [timePeriods]="timePeriods$ | ngrxPush"
      [selectedTimePeriod]="selectedTimePeriod$ | ngrxPush"
      [selectedTime]="selectedTime$ | ngrxPush"
    >
    </ia-filter>
    <ia-reasons-for-leaving-chart
      class="order-5 lg:order-2 row-span-2 min-h-[592px]"
      [isLoading]="reasonsLoading$ | ngrxPush"
      [config]="reasonsChartConfig$ | ngrxPush"
      [data]="chartData$ | ngrxPush"
      [combinedLegend]="reasonsChartLegend$ | ngrxPush"
      [orgUnit]="selectedOrgUnit$ | ngrxPush"
      [comparedConfig]="comparedReasonsChartConfig$ | ngrxPush"
      [comparedOrgUnit]="comparedSelectedOrgUnit$ | ngrxPush"
    ></ia-reasons-for-leaving-chart>
    <div class="order-3 lg:order-3 lg:col-end-4 relative mt-12 lg:mt-0">
      <button
        mat-stroked-button
        class="!absolute !right-0 !-top-10"
        [disabled]="!(comparedReasonsChartData$ | ngrxPush)"
        (click)="resetCompareMode()"
      >
        {{ t('topFiveReasons.resetCompareMode') }}
      </button>
      <ia-filter
        [orgUnits]="orgUnits$ | ngrxPush"
        [selectedOrgUnit]="comparedSelectedOrgUnit$ | ngrxPush"
        [timePeriods]="timePeriods$ | ngrxPush"
        [selectedTimePeriod]="comparedSelectedTimePeriod$ | ngrxPush"
        [selectedTime]="comparedSelectedTime$ | ngrxPush"
        [disabledTimeRangeFilter]="comparedDisabledTimeRangeFilter"
        (orgUnitInvalid)="orgUnitInvalid($event)"
        (optionSelected)="comparedOptionSelected($event)"
        (timePeriodSelected)="comparedTimePeriodSelected($event)"
        (timeRangeSelected)="comparedTimeRangeSelected($event)"
        (orgUnitInvalid)="orgUnitInvalid($event)"
      >
      </ia-filter>
    </div>
    <ia-reasons-for-leaving-table
      class="order-2 lg:order-4"
      [data]="reasonsTableData$ | ngrxPush"
      [loading]="reasonsLoading$ | ngrxPush"
    >
    </ia-reasons-for-leaving-table>

    <ia-reasons-for-leaving-table
      class="order-4 lg:order-5"
      [data]="comparedReasonsTableData$ | ngrxPush"
    >
    </ia-reasons-for-leaving-table>
  </div>
</mat-card>
