<ag-grid-angular
  class="ag-theme-material border-border h-full border"
  [masterDetail]="true"
  [detailCellRenderer]="detailCellRenderer"
  [loadingCellRenderer]="loadingCellRenderer"
  [excelStyles]="excelStyles"
  [suppressContextMenu]="true"
  [detailRowAutoHeight]="true"
  rowModelType="serverSide"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [serverSideFilterOnServer]="true"
  [serverSideSortOnServer]="true"
  [suppressCellFocus]="true"
  [sideBar]="sidebar"
  [rowData]="serverSideRowData"
  [enableCellTextSelection]="true"
  [tooltipShowDelay]="500"
  [rowClass]="['!border-l-0', '!border-t-0']"
  [rowClassRules]="{
    '!bg-opacity-5 !bg-[#cb0b15]': isBlockedRow,
    '!bg-opacity-5 !bg-nordic-blue': isRecentlyChangedRow
  }"
  [cacheBlockSize]="DEFAULT_BLOCK_SIZE"
  [maxBlocksInCache]="4"
  [blockLoadDebounceMillis]="500"
  [maxConcurrentDatasourceRequests]="1"
  [context]="{ dataService }"
  (gridReady)="onGridReady($event)"
  (filterChanged)="onFilterChange($event)"
  (columnVisible)="onColumnChange($event)"
  (columnMoved)="onColumnChange($event)"
  (columnResized)="onColumnChange($event)"
  (sortChanged)="onColumnChange($event)"
></ag-grid-angular>
