<div class="mt-4">
  <div
    class="flex flex-row"
    [ngClass]="{
      'text-on-surface opacity-[0.38]': !kpi().value,

      'pl-12': index() % 2 !== 0,
    }"
  >
    <div
      class="mr-4 flex flex-col gap-2"
      [ngClass]="extraWideKeyText() ? 'w-52' : 'w-36'"
    >
      <h6>{{ keyText() }}</h6>
      <span class="text-body-small text-on-surface-variant">{{
        previousText()
      }}</span>
    </div>
    <div class="flex flex-col gap-2">
      <h6 class="truncate">
        <span
          class="flex items-center"
          [ngClass]="{
            '!text-on-warning-container': kpi().hasWarning,
            '!text-on-error-container': kpi().hasError,
          }"
          [attr.data-cy]="field() + '-modal_' + kpi().key + '-value'"
        >
          {{ kpi().displayValue }}
          @if (kpi().warningText) {
            <mat-icon
              [matTooltip]="kpi().warningText"
              class="ml-1 align-bottom"
              [ngClass]="{
                '!text-icon-warning': kpi().hasWarning,
                '!text-icon-error': kpi().hasError,
              }"
            >
              warning_amber
            </mat-icon>
          }
        </span>
      </h6>
      <div class="text-body-small text-on-surface-variant">
        <span
          [attr.data-cy]="field() + '-modal_' + kpi().key + '-previous-value'"
        >
          {{ kpi().previousDisplayValue }}
        </span>
      </div>
    </div>
  </div>
</div>
