::ng-deep {
  .mdc-list-item.mdc-list-item--with-one-line {
    height: 24px !important;
  }
  .mat-badge-content {
    bottom: unset !important;
    left: 0 !important;
    text-overflow: clip !important;
    width: max-content !important;
  }
}
