<div
  class="grid grid-cols-2 gap-4 min-w-[450px] !max-h-[300px]"
  *transloco="let t; read: 'overview.openPositions'"
>
  <div>
    <h6
      class="mb-3.5"
      (click)="$event.stopPropagation()"
      *transloco="let t; read: 'overview.openPositions'"
    >
      {{ t('title') }}
    </h6>
    <p
      class="mb-4 uppercase opacity-60"
      *transloco="let t; read: 'overview.openPositions'"
    >
      {{ t('openForApplications') }}
    </p>
  </div>
  <div class="gap-4 justify-self-end pr-4">
    <div class="flex flex-row items-center justify-center gap-2">
      <mat-icon
        class="!h-4 !w-4 !text-[16px]"
        [ngStyle]="{ color: colors.GREEN }"
        >west</mat-icon
      >
      <p>{{ t('internal') }}</p>
    </div>
    <div class="flex flex-row items-center justify-center gap-2">
      <mat-icon
        class="ml-[3px] !h-4 !w-4 !text-[16px]"
        [ngStyle]="{ color: colors.BLUE }"
        >east</mat-icon
      >
      <p>{{ t('external') }}</p>
    </div>
  </div>
</div>

@if (!isLoadingOpenApplications) {
  <mat-list (click)="$event.stopPropagation()">
    @for (application of openApplications; track $index) {
      <mat-list-item class="!px-0">
        <div
          matBadgePosition="before"
          [matBadge]="application.count"
          matBadgeOverlap="false"
          matBadgeColor="primary"
          class="flex h-full w-full flex-row content-center items-center"
        >
          <span class="ml-7 mr-2 flex self-center">
            {{ application.name }}
          </span>
          @if (application.isExternal) {
            <mat-icon
              class="!h-4 !w-4 self-center !text-[16px]"
              [ngStyle]="{
                color: colors.BLUE
              }"
              >east</mat-icon
            >
          }
          @if (application.isInternal) {
            <mat-icon
              class="!h-4 !w-4 self-center !text-[16px]"
              [ngStyle]="{
                color: colors.GREEN
              }"
              >west</mat-icon
            >
          }
          <span class="ml-auto flex justify-end self-center">
            {{ application.approvalDate | date: 'dd.MM.yyyy' }}
          </span>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    }
  </mat-list>
} @else {
  <schaeffler-loading-spinner
    class="mr-8"
    [relative]="true"
    [diameter]="20"
    [strokeWidth]="2"
  >
  </schaeffler-loading-spinner>
}
