@if (!(simulationModeEnabled$ | ngrxPush)) {
  <div>
    <div
      *transloco="let t; read: 'shared.customStatusBar.buttons'"
      matTooltipPosition="above"
      [matTooltip]="t(tooltipText$ | ngrxPush)"
      [matTooltipDisabled]="quotationEditable$ | ngrxPush"
    >
      <button
        class="!m-4"
        mat-raised-button
        color="primary"
        (click)="showAddDialog()"
        [disabled]="!(quotationEditable$ | ngrxPush)"
      >
        <mat-icon class="!align-text-bottom !icon-5">add</mat-icon>
        <span class="hidden lg:inline">
          {{ t('addNewItem') }}
        </span>
        <span class="lg:hidden">
          {{ t('addNewItemMobile') }}
        </span>
      </button>
    </div>
  </div>
}
