<mat-form-field
  class="w-full"
  appearance="outline"
  *transloco="let t"
  #selectField
>
  <mat-label
    *ngIf="meta.member.text !== '' && meta.member.id !== IDMM_MEASSURING_METHOD"
    >{{ t(meta.member.text) }}</mat-label
  >
  <mat-select
    [formControl]="control"
    [placeholder]="placeholder"
    (selectionChange)="
      selectField._elementRef.nativeElement.classList.remove('mat-focused')
    "
  >
    <mat-option *ngFor="let option of options" [value]="option.id">{{
      option.value
    }}</mat-option>
  </mat-select>
</mat-form-field>
