<ng-container
  *transloco="let t; read: 'bearing.bearingSelection.advancedSelection'"
>
  <div
    *ngrxLet="advancedBearingSelectionResultsCount$; let resultsCount"
    [matTooltip]="
      t(resultsCount === 0 ? 'noResults.hint' : 'tooManyResults.hint', {
        tooManyResultsThreshold: resultsThreshold
      })
    "
    [matTooltipDisabled]="isValidSelection(resultsCount)"
  >
    <button
      mat-flat-button
      color="primary"
      class="w-full md:w-auto"
      (click)="onButtonClick()"
      [disabled]="!isValidSelection(resultsCount)"
    >
      {{ t('filters.action.nextStep') }}
      @if (bearingSelectionLoading$ | ngrxPush) {
        <mat-spinner diameter="20" class="!inline-block"></mat-spinner>
      } @else {
        ({{ advancedBearingSelectionResultsCount$ | ngrxPush }})
      }
    </button>
  </div>
</ng-container>
