<ng-container *ngrxLet="selectedBearing$; let selectedBearing">
  <div *transloco="let t; read: 'homePage.search'" class="relative">
    <schaeffler-search
      appearance="outline"
      [isRoundedSearchComponent]="true"
      [placeholder]="t('placeholder')"
      [stringOptions]="bearingResultList$ | ngrxPush"
      [loading]="bearingSelectionLoading$ | ngrxPush"
      [initialValue]="
        selectedBearing
          ? { id: selectedBearing, title: selectedBearing }
          : undefined
      "
      [noResultsText]="t('noResults')"
      (searchUpdated)="onSearchUpdated($event)"
      (optionSelected)="onOptionSelected($event)"
    >
      <div loadingContent class="relative h-16">
        <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
      </div>
    </schaeffler-search>
  </div>
  <ng-template #loadingTemplate>
    <div
      class="absolute top-0 left-0 flex h-full w-full items-center justify-center bg-surface-container"
    >
      <mat-spinner diameter="20"></mat-spinner>
    </div>
  </ng-template>
</ng-container>
