<div
  class="flex h-full flex-col"
  *transloco="let t; read: 'caseView.caseCreation.createManualCase'"
>
  <gq-dialog-header
    [title]="title$ | ngrxPush"
    (closeDialog)="closeDialog()"
  ></gq-dialog-header>
  <div
    class="mt-8 flex h-full flex-col"
    *ngIf="!(createCaseLoading$ | ngrxPush); else loading"
  >
    <div class="flex">
      <div class="w-4/5" *ngIf="customer$ | ngrxPush as customer">
        <gq-autocomplete-input
          [filterName]="customer.filter"
          [options]="customer.options"
          (unselected)="unselectOptions(customer.filter)"
          (added)="selectOption($event, customer.filter)"
          [autocompleteLoading]="customerAutocompleteLoading$ | ngrxPush"
          (autocomplete)="autocomplete($event)"
        ></gq-autocomplete-input>
      </div>
      <div class="ml-3 mt-3 w-1/5">
        <gq-select-sales-org></gq-select-sales-org>
      </div>
    </div>
    <div>
      <gq-add-entry [isCaseView]="true"> </gq-add-entry>
    </div>
    <div class="h-full" *ngIf="rowData$ | ngrxPush as rowData">
      <gq-material-input-table
        [rowData]="rowData"
        [isCaseView]="true"
      ></gq-material-input-table>
    </div>
  </div>
  <ng-template #loading>
    <schaeffler-loading-spinner></schaeffler-loading-spinner>
  </ng-template>
</div>
