<div
  class="flex h-full flex-col overflow-y-auto overflow-x-hidden"
  *transloco="let t; read: 'caseView.caseCreation.createManualCase'"
>
  <gq-dialog-header
    [title]="title$ | ngrxPush"
    (closeDialog)="closeDialog()"
  ></gq-dialog-header>
  <div
    class="mt-8 flex h-full flex-col"
    *ngIf="!(createCaseLoading$ | ngrxPush); else loading"
  >
    <div class="flex">
      <div
        class="w-4/5"
        *ngIf="autocompleteFacade.createCaseCustomer$ | ngrxPush as customer"
      >
        <gq-autocomplete-input
          [filterName]="customer.filter"
          [options]="customer.options"
          (unselected)="autocompleteFacade.unselectOptions(customer.filter)"
          (added)="autocompleteFacade.selectCustomer($event, customer.filter)"
          [autocompleteLoading]="autocompleteFacade.customerLoading$ | ngrxPush"
          (autocomplete)="autocompleteFacade.autocomplete($event)"
          (inputContent)="
            !$event ? autocompleteFacade.unselectOptions(customer.filter) : null
          "
        ></gq-autocomplete-input>
      </div>
      <div class="ml-3 w-1/5">
        <gq-select-sales-org></gq-select-sales-org>
      </div>
    </div>
    <div>
      <gq-add-entry [isCaseView]="true"> </gq-add-entry>
    </div>
    <div
      class="h-full min-h-[20rem] pb-4 lg:pb-0"
      *ngIf="rowData$ | ngrxPush as rowData"
    >
      <gq-material-input-table
        [rowData]="rowData"
        [isCaseView]="true"
      ></gq-material-input-table>
    </div>
  </div>
  <ng-template #loading>
    <schaeffler-loading-spinner></schaeffler-loading-spinner>
  </ng-template>
</div>
