<mat-drawer-container
  class="container"
  fxFlex
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="20px"
  [hasBackdrop]="false"
>
  <mat-drawer-content
    *ngIf="quotation$ | async"
    fxLayout="column"
    fxLayoutAlign="start center"
    fxFlexFill
  >
    <gq-case-header
      [quotationNumber]="(quotation$ | async).gqId"
      [materialNumber15]="materialNumber15$ | async"
      (toggleOfferDrawer)="drawer.toggle()"
    ></gq-case-header>

    <div class="container" fxLayout="row" fxLayoutAlign="space-between none">
      <div fxFlex="50%">
        <gq-filter-pricing> </gq-filter-pricing>
      </div>
      <div fxFlex="50%">
        <gq-pricing-details> </gq-pricing-details>
      </div>
    </div>
  </mat-drawer-content>
  <mat-drawer #drawer position="end" (opened)="getOffer()">
    <gq-offer-drawer
      fxLayout="column"
      fxFlexFill
      *ngIf="offer$ | async"
      [rowData]="offer$ | async"
      (toggleOfferDrawer)="drawer.toggle()"
    ></gq-offer-drawer>
  </mat-drawer>
</mat-drawer-container>
