@import 'libs/shared/ui/styles/src/lib/colors';
@import 'libs/shared/ui/styles/src/lib/fonts';

:host {
  width: 100%;
}

.container {
  background-color: $schaeffler-gray-1;
  height: 100%;
  width: 100%;
  @media screen and (max-width: $screen-sm-max) {
    margin: 30px 20px 0;
  }

  ::ng-deep .mat-drawer-backdrop {
    margin-bottom: 0 !important;
  }

  mat-drawer {
    margin-bottom: 0 !important;
    width: 50%;
  }

  mat-card {
    padding-top: 0;
    width: 100%;
  }
}
