<mat-drawer-container
  class="container"
  fxFlex
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="20px"
  *ngIf="(quotationLoading$ | ngrxPush) === false; else loading"
>
  <mat-drawer-content
    *ngIf="quotation$ | ngrxPush as quotation"
    fxLayout="column"
    fxLayoutAlign="start center"
    fxFlexFill
  >
    <mat-card>
      <gq-case-header
        [gqId]="quotation.gqId"
        [material]="material$ | ngrxPush"
        (toggleOfferDrawer)="drawer.toggle()"
      ></gq-case-header>
    </mat-card>

    <div class="container" fxLayout="row" fxLayoutAlign="space-between none">
      <div fxFlex="50%">
        <gq-filter-pricing> </gq-filter-pricing>
      </div>
      <div fxFlex="50%">
        <gq-pricing-details> </gq-pricing-details>
      </div>
    </div>
  </mat-drawer-content>
  <mat-drawer #drawer position="end" (opened)="getOffer()">
    <gq-offer-drawer
      fxLayout="column"
      fxFlexFill
      *ngIf="offer$ | ngrxPush"
      [quotation]="offer$ | ngrxPush"
      (toggleOfferDrawer)="drawer.toggle()"
    ></gq-offer-drawer>
  </mat-drawer>
</mat-drawer-container>

<ng-template #loading>
  <gq-loading-spinner [show]="true"></gq-loading-spinner>
</ng-template>
