<ng-container *transloco="let t; read: 'bearing'">
  @if (advancedBearingSelectionFilters) {
    <div class="truncate text-body-small">
      @if (advancedBearingSelectionFilters.bearingType) {
        <span class="inline-block">
          {{ t('bearingTypes.' + advancedBearingSelectionFilters.bearingType) }}
        </span>
      }
      @if (
        advancedBearingSelectionFilters.boreDiameterMin ||
        advancedBearingSelectionFilters.boreDiameterMax
      ) {
        <span class="inline-block">
          &nbsp;({{ t('label.boreDiameterShort') }}:
          {{
            advancedBearingSelectionFilters.boreDiameterMin | translocoDecimal
          }}
          @if (
            advancedBearingSelectionFilters.boreDiameterMin &&
            advancedBearingSelectionFilters.boreDiameterMax
          ) {
            <span>/</span>
          }
          {{
            advancedBearingSelectionFilters.boreDiameterMax | translocoDecimal
          }})
        </span>
      }
      @if (
        advancedBearingSelectionFilters.outsideDiameterMin ||
        advancedBearingSelectionFilters.outsideDiameterMax
      ) {
        <span class="inline-block">
          &nbsp;({{ t('label.outsideDiameterShort') }}:
          {{
            advancedBearingSelectionFilters.outsideDiameterMin
              | translocoDecimal
          }}
          @if (
            advancedBearingSelectionFilters.outsideDiameterMin &&
            advancedBearingSelectionFilters.outsideDiameterMax
          ) {
            <span>/</span>
          }
          {{
            advancedBearingSelectionFilters.outsideDiameterMax
              | translocoDecimal
          }})
        </span>
      }
      @if (
        advancedBearingSelectionFilters.widthMin ||
        advancedBearingSelectionFilters.widthMax
      ) {
        <span class="inline-block">
          &nbsp;({{ t('label.widthShort') }}:
          {{ advancedBearingSelectionFilters.widthMin | translocoDecimal }}
          @if (
            advancedBearingSelectionFilters.widthMin &&
            advancedBearingSelectionFilters.widthMax
          ) {
            <span>/</span>
          }
          {{ advancedBearingSelectionFilters.widthMax | translocoDecimal }})
        </span>
      }
    </div>
  }
</ng-container>
