<div class="flex flex-row items-center gap-4">
  <div
    class="flex justify-center items-center h-[24px] w-[24px] rounded-full text-body-medium text-on-primary font-bold"
    [ngClass]="{
      'bg-primary': status() === statusEnum.ACTIVE,
      'bg-error': status() === statusEnum.CANCELLED,
      '!bg-on-surface-variant': status() === statusEnum.INACTIVE,
    }"
  >
    {{ value() }}
  </div>

  <span
    class="text-title-small tracking-widest"
    [ngClass]="{
      'text-on-primary-container': status() === statusEnum.ACTIVE,
      'text-error': status() === statusEnum.CANCELLED,
      'text-on-surface-variant': status() === statusEnum.INACTIVE,
    }"
    >{{ title() }}</span
  >
</div>
