<ng-container *transloco="let t; read: 'form'">
  <input
    *ngIf="isBoolean; else dropdown"
    type="checkbox"
    [formControl]="control"
  />

  <ng-template #dropdown>
    <ng-container
      *ngIf="
        !meta.listValuesLoading$ || !(meta.listValuesLoading$ | async);
        else loading
      "
    >
      <!-- <select
      *ngIf="!(isPictureList$ | ngrxPush); else pictureCardList"
      [formControl]="control"
    >
      <option [value]="null">Bitte wählen</option>
      <option *ngFor="let option of options$ | ngrxPush" [value]="option.id">
        {{ option.caption }}
      </option>
    </select> -->
      <ng-container *ngIf="!(isPictureList$ | ngrxPush); else pictureCardList">
        <schaeffler-dropdown-input
          *ngIf="
            meta.member.type && meta.member.type === 'lazy-list';
            else select
          "
          [label]="
            meta.page.id === 'PROPERTY_PAGE_MOUNTING_SITUATION_SUB' ||
            meta.page.id === 'PROPERTY_PAGE_MOUNTING'
              ? meta.member.text
              : undefined
          "
          [options]="options$ | ngrxPush"
          [formControl]="control"
        ></schaeffler-dropdown-input>
        <ng-template #select>
          <mm-select-member
            [member]="meta.member"
            [options]="options$ | ngrxPush"
          ></mm-select-member>
        </ng-template>
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template #pictureCardList>
    <mm-picture-card-list
      [options]="options$ | ngrxPush"
      [formControl]="control"
    ></mm-picture-card-list>
  </ng-template>

  <ng-template #loading>
    <div>
      <schaeffler-loading-spinner
        [relative]="true"
      ></schaeffler-loading-spinner>
    </div>
  </ng-template>
</ng-container>
