<div class="flex h-full items-center justify-start !text-[16px]">
  <mat-icon
    *ngIf="valid"
    class="!flex items-center justify-center !text-[16px] text-link"
    [matTooltip]="toolTipText"
    >check_circle</mat-icon
  >
  <mat-icon
    *ngIf="isLoading && !valid"
    class="!flex items-center justify-center !text-[16px] text-medium-emphasis"
    [matTooltip]="toolTipText"
    >sync</mat-icon
  >
  <mat-icon
    *ngIf="!isLoading && !valid"
    class="!flex items-center justify-center !text-[16px] text-error"
    [matTooltip]="toolTipText"
    >warning_amber</mat-icon
  >
</div>
