<ng-container *ngIf="additionalInformation">
  <ng-container
    *transloco="let t; read: 'compare.details.additionalInformation'"
  >
    <cdba-compare-label-value
      [label]="t('plant')"
      [value]="additionalInformation.plant | undefinedAttributeFallback"
      [borderBottom]="true"
    ></cdba-compare-label-value>
    <cdba-compare-label-value
      [label]="t('procurementType')"
      [value]="
        additionalInformation.procurementType | undefinedAttributeFallback
      "
      [borderBottom]="true"
    ></cdba-compare-label-value>
    <ng-container
      *ngFor="
        let detail of additionalInformation?.salesOrganizationDetails;
        index as i
      "
    >
      <cdba-compare-label-value
        [label]="t('salesOrganizationDescription')"
        [value]="
          detail.salesOrganizationDescription | undefinedAttributeFallback
        "
        [borderBottom]="true"
      ></cdba-compare-label-value>
      <cdba-compare-label-value
        [label]="t('salesOrganizations')"
        [value]="
          concatValues(detail.salesOrganizations) | undefinedAttributeFallback
        "
        [borderBottom]="true"
      ></cdba-compare-label-value>
    </ng-container>
    <cdba-compare-label-value
      class="content"
      [label]="t('actualQuantity', { year: currentYear - 4 })"
      [value]="
        additionalInformation.actualQuantities[3]
          | translocoDecimal
          | undefinedAttributeFallback
      "
      [borderBottom]="true"
    ></cdba-compare-label-value>
    <cdba-compare-label-value
      [label]="t('actualQuantity', { year: currentYear - 3 })"
      [value]="
        additionalInformation.actualQuantities[2]
          | translocoDecimal
          | undefinedAttributeFallback
      "
      [borderBottom]="true"
    ></cdba-compare-label-value>
    <cdba-compare-label-value
      [label]="t('actualQuantity', { year: currentYear - 2 })"
      [value]="
        additionalInformation.actualQuantities[1]
          | translocoDecimal
          | undefinedAttributeFallback
      "
      [borderBottom]="true"
    ></cdba-compare-label-value>
    <cdba-compare-label-value
      [label]="t('actualQuantity', { year: currentYear - 1 })"
      [value]="
        additionalInformation.actualQuantities[0]
          | translocoDecimal
          | undefinedAttributeFallback
      "
      [borderBottom]="true"
    ></cdba-compare-label-value>
    <cdba-compare-label-value
      [label]="t('plannedQuantity', { year: currentYear })"
      [value]="
        additionalInformation.plannedQuantities[0]
          | translocoDecimal
          | undefinedAttributeFallback
      "
      [borderBottom]="true"
    ></cdba-compare-label-value>
    <cdba-compare-label-value
      [label]="t('plannedQuantity', { year: currentYear + 1 })"
      [value]="
        additionalInformation.plannedQuantities[1]
          | translocoDecimal
          | undefinedAttributeFallback
      "
      [borderBottom]="true"
    ></cdba-compare-label-value>
    <cdba-compare-label-value
      [label]="t('plannedQuantity', { year: currentYear + 2 })"
      [value]="
        additionalInformation.plannedQuantities[2]
          | translocoDecimal
          | undefinedAttributeFallback
      "
      [borderBottom]="true"
    ></cdba-compare-label-value>
    <cdba-compare-label-value
      [label]="t('plannedQuantity', { year: currentYear + 3 })"
      [value]="
        additionalInformation.plannedQuantities[3]
          | translocoDecimal
          | undefinedAttributeFallback
      "
    ></cdba-compare-label-value>
  </ng-container>
</ng-container>
