<ng-container *ngIf="!(loading$ | ngrxPush); else loading">
  <mat-card
    *transloco="let t; read: 'conditionMonitoring.edmMonitor'"
    class="full-height-card flex flex-col"
  >
    <div class="flex" fxLayoutAlign="space-between start">
      <mat-card-header>
        <mat-card-title>
          <mat-icon svgIcon="icon-vibration"></mat-icon>
          <span>{{ t('title') }}</span>
        </mat-card-title>
        <mat-card-subtitle *transloco="let t; read: 'bearing'">
          {{ t('mainBearing') }}
        </mat-card-subtitle>
      </mat-card-header>
      <goldwind-sensor [type]="type" [sensor]="sensor"></goldwind-sensor>
    </div>
    <mat-card-content>
      <div class="flex flex-col space-between">
        <goldwind-date-range
          [interval]="interval$ | ngrxPush"
          (rangeChange)="setInterval($event)"
        ></goldwind-date-range>
        <ng-container *ngrxLet="edmGraphData$ as graphData">
          <goldwind-empty-graph [graphData]="graphData"></goldwind-empty-graph>
        </ng-container>
        <div
          fxFlex
          echarts
          [options]="chartOptions"
          [merge]="edmGraphData$ | ngrxPush"
          class="dashboard-echart edm-chart"
        ></div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #loading>
  <mat-card class="full-height-card placeholder-item"></mat-card>
</ng-template>
