<ng-container *ngIf="!(loading$ | ngrxPush); else loading">
  <mat-card
    *transloco="let t; read: 'conditionMonitoring.edmMonitor'"
    class="h-full overflow-y-scroll"
  >
    <div class="flex flex-col h-full">
      <div class="flex justify-between">
        <mat-card-header class="h-auto">
          <mat-card-title>
            <div class="inline-flex items-center">
              <mat-icon svgIcon="icon-vibration"></mat-icon>
              <span>{{ t('title') }}</span>
            </div>
          </mat-card-title>
          <mat-card-subtitle *transloco="let t; read: 'bearing'">
            <div class="flex flex-col">
              <span *ngIf="interval$ | ngrxPush as interval; else notime">
                {{ interval.startDate * 1000 | date }} -
                {{ interval.endDate * 1000 | date }}</span
              >
              <ng-template #notime
                ><span>t('noTimestampAvailable')</span></ng-template
              >
              <span> {{ t('updateFrequency') }}: {{ refresh / 60 }}m</span>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <goldwind-sensor
          [type]="type"
          [sensor]="sensor"
          (sensorToggle)="switchSensor($event)"
        ></goldwind-sensor>
      </div>
      <mat-card-content class="h-full">
        <div class="flex flex-col h-full">
          <ng-container *ngrxLet="edmGraphData$ as graphData">
            <goldwind-empty-graph
              [graphData]="graphData"
            ></goldwind-empty-graph>
          </ng-container>
          <div
            echarts
            class="h-full"
            [options]="chartOptions"
            [merge]="edmGraphData$ | ngrxPush"
          ></div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</ng-container>

<ng-template #loading>
  <mat-card class="full-height-card placeholder-item"></mat-card>
</ng-template>
