/***************************************************************************************************
* COMPONENTS AND THEMES
*/

/*
* Angular Material, material design components
* see https://material.angular.io
*/
@import 'libs/shared/ui/styles/src/lib/scss/material-theme';

/***************************************************************************************************
  * UTILITIES
  */

/*
  * TailwindCSS, utility-first css framework
  * see https://tailwindcss.com/docs
  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Tailwind preflight modified with application scope only
 */
@import './preflight';

engineering-app {
  /** fix font size for Medias integration */
  @apply text-body-1 #{!important};

  * {
    font-family: Noto Sans, sans-serif !important;
  }

  .mat-button-base.mat-button .mat-button-focus-overlay {
    @apply hidden;
  }

  button {
    outline: none !important;
  }

  .material-icons {
    font-family: 'Material Icons' !important;
  }

  mat-radio-button {
    @apply px-2 py-1;
    @apply text-subtitle-2;

    .mat-radio-container {
      transform: scale(0.7);
    }
    .mat-radio-ripple {
      @apply hidden;
    }

    // green background
    &.mat-radio-checked {
      @apply rounded-full;
      @apply bg-secondary-50;
      @apply text-primary #{!important};
    }

    &:not(.mat-radio-checked) {
      @apply text-medium-emphasis;
    }

    // suboption
    &.suboption {
      @apply rounded-full;
      @apply text-[8px];

      &:not(.mat-radio-checked) {
        @apply bg-secondary-variant;
      }
    }
  }

  // apply full width to wrapper so it actually takes the full width
  mat-form-field.w-full {
    .mat-form-field-wrapper {
      width: 100%;
    }
  }

  // styles for the dialog overlay
  .app-overlay-container {
    @apply top-0 left-0 h-full w-full fixed pointer-events-none;
  }

  .app-overlay-container:empty {
    @apply hidden;
  }

  // animation for certain dialogs (e.g. result report)
  @keyframes upslide {
    0% {
      @apply mt-[30vh] opacity-0;
    }
    100% {
      @apply mt-8 opacity-100;
    }
  }

  .dialog-upwards-animation {
    @apply w-[90vw] min-w-[90vw] h-[100vh] min-h-[100vh] #{!important};
    @apply mt-8;
    animation: upslide 0.25s forwards;

    mat-dialog-container {
      @apply overflow-y-hidden rounded-b-none #{!important};
    }
  }
}
