<div
  *transloco="let t; read: 'detailView.pricingDetails.productionCostDetails'"
>
  <div *ngIf="quotationDetail">
    <p class="m-2 text-caption">
      <span class="text-light">{{ t('gpc') }}: </span>
      <span class="text-dark">{{
        quotationDetail.gpc | numberCurrency: currency
      }}</span>
    </p>
    <p class="m-2 text-caption">
      <span class="text-light">{{ t('sqv') }}: </span>
      <span class="text-dark"
        >{{ quotationDetail.sqv | numberCurrency: currency }}
      </span>
    </p>
    <p class="m-2 text-caption">
      <span class="text-light">{{ t('productionPlant') }}: </span>
      <span class="text-dark">
        {{ quotationDetail.productionPlant | plantDisplay }}</span
      >
    </p>
  </div>
</div>
