<mac-base-dialog
  *transloco="let t; read: 'materialsSupplierDatabase.mainTable.dialog'"
  [txtTitle]="getTitle()"
  [txtCancel]="t('cancel')"
  [txtConfirm]="
    isEditDialog() && !isCopyDialog()
      ? t('updateManufacturerSupplier')
      : t('addManufacturerSupplier')
  "
  [isAddDialog]="isCopyDialog() || !isEditDialog()"
  [valid]="createMaterialForm.valid"
  (accept)="confirmMaterial($event)"
  (minimize)="minimizeDialog()"
  (cancel)="cancelDialog()"
>
  <div class="flex flex-col gap-y-3">
    <ng-container
      *ngIf="!(dialogLoading$ | ngrxPush) && !(editLoading$ | ngrxPush)"
    >
      <div class="flex flex-row gap-x-6">
        <mac-manufacturer-supplier
          class="w-full"
          [editable]="isEditDialog() || isCopyDialog()"
          [manufacturerSupplierIdControl]="manufacturerSupplierIdControl"
          [supplierControl]="supplierControl"
          [supplierPlantControl]="supplierPlantControl"
          [supplierCountryControl]="supplierCountryControl"
          macMaterialDialogBasePart
        ></mac-manufacturer-supplier>
      </div>

      <div class="-ml-2 flex flex-row gap-x-6" *ngIf="showIsManufacturer()">
        <mat-checkbox
          class="text-caption text-high-emphasis"
          color="primary"
          [formControl]="isManufacturerControl"
          name="manufacturer"
          #dialogControl
        >
          {{ t('manufacturer') }}
        </mat-checkbox>
      </div>
      <div class="flex flex-row gap-x-6">
        <schaeffler-select
          appearance="outline"
          class="w-1/2"
          [multiple]="true"
          [stringOptions]="businessPartnerIds$ | ngrxPush"
          [control]="supplierBusinessPartnerIdsControl"
          [filterFn]="filterFn"
          [label]="t('businessPartnerIds')"
          [addEntry]="true"
          (entryAdded)="addSupplierBusinessPartnerId($event)"
          name="businessPartnerIds"
          #dialogControl
        >
          <span
            matErrorContent
            class="text-caption"
            *ngIf="supplierBusinessPartnerIdsControl.invalid"
          >
            {{ getErrorMessage(supplierBusinessPartnerIdsControl.errors) }}
          </span>
        </schaeffler-select>
      </div>
    </ng-container>
  </div>
</mac-base-dialog>
