.badge {
  @apply ml-2 px-3 rounded-xl text-[8px] font-bold h-6 flex items-center self-center justify-center;
  min-width: 39px;

  &.prio1 {
    background: var(--todo-color-prio1-bg);
    color: var(--todo-color-prio1-text);
  }

  &.prio2 {
    background: var(--todo-color-prio2-bg);
    color: var(--todo-color-prio2-text);
  }

  &.prio3 {
    @apply text-on-info-container;
    background: var(--todo-color-info-bg);
  }
}
