<mat-card class="extension-card">
  <img
    mat-card-image
    src="/assets/img/logo.jpg"
    [alt]="extension.description"
  />
  <mat-card-header>
    <mat-card-title>{{ extension.name }}</mat-card-title>
    <mat-card-subtitle *ngIf="extension.WIP"
      >Work in Progress</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="extension-card-content">
    <p>
      {{ extension.description }}
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="!extension.WIP">
    <button mat-button (click)="gotoDetail(extension.name)">DETAILS</button>
    <button mat-button (click)="showSuccessToast()">DOWNLOAD</button>
  </mat-card-actions>
</mat-card>
