/***************************************************************************************************
 * COMPONENTS AND THEMES
 */

/*
 * Angular Material, material design components
 * see https://material.angular.io

 */

@import 'libs/shared/ui/styles/src/lib/scss/material-theme';

/***************************************************************************************************
   * UTILITIES
   */

/*
   * TailwindCSS, utility-first css framework
   * see https://tailwindcss.com/docs
   */
@tailwind base;
@tailwind components;
@tailwind utilities;

/***************************************************************************************************
   * OVERRIDES
   */

button {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  @apply m-0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

mat-dialog-container {
  &.mat-dialog-container {
    @apply rounded-none;
  }
}
/*
  weird border issue Angular material with Tailwind https://github.com/tailwindlabs/tailwindcss/discussions/9993
  in preflight style of tailwinds sets border-style to solid, other way to fix it, would be to adjust
  preflight, which can case other issues for tailwind
  */
.mdc-notched-outline__notch {
  border-right: none !important;
}

mat-horizontal-stepper.primary-stepper
  mat-step-header[aria-selected='false']
  .mat-step-label {
  @apply hidden md:block;
}
