<div
  *transloco="let t"
  class="material-list-wrapper flex flex-col h-full pr-4"
  [class.open]="visible()"
>
  @if (visible()) {
    <d360-table-toolbar
      class="d360-table-toolbar"
      [grid]="gridApi"
      [rowCount]="rowCount()"
      [renderFloatingFilter]="false"
      [customOnResetFilters]="onResetFilters().bind(this)"
      [customGetFilterCount]="getFilterCount().bind(this)"
    />
  }

  <ag-grid-angular
    #demandValidationMaterialListTable
    class="ag-theme-material grow h-full"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)"
    [getRowId]="getRowId"
    [defaultColDef]="defaultColDef"
    rowModelType="serverSide"
    [tooltipShowDelay]="0"
    [localeText]="agGridLocalizationService.lang()"
    [components]="components"
  />
</div>
