<div
  class="flex flex-row"
  *transloco="let t; read: 'shared.customStatusBar.quotationDetailsStatus'"
>
  <div class="ml-8 flex flex-col">
    <span class="text-low-emphasis text-left" data-cy="selected-net-value_label"
      >{{ t('selectedNetValue') }}:</span
    >
    <span
      class="text-high-emphasis text-left"
      data-cy="selected-net-value_value"
    >
      {{
        selectedQuotationDetailsKpi().totalNetValue
          | numberCurrency: quotationCurrency()
      }}
    </span>
  </div>
  @if (showGpi()) {
    <div class="ml-8 flex flex-col">
      <span
        class="text-low-emphasis text-left"
        data-cy="selected-average-gpi_label"
        >{{ t('selectedAverageGPI') }}:</span
      >
      <span
        class="text-high-emphasis text-left"
        data-cy="selected-average-gpi_value"
      >
        {{
          selectedQuotationDetailsKpi().totalWeightedAverageGpi
            | percentage: false
        }}</span
      >
    </div>
  }
  @if (showGpm()) {
    <div class="ml-8 flex flex-col">
      <span
        class="text-low-emphasis text-left"
        data-cy="selected-average-gpm_label"
        >{{ t('selectedAverageGPM') }}:
      </span>
      <span
        class="text-high-emphasis text-left"
        data-cy="selected-average-gpm_value"
        >{{
          selectedQuotationDetailsKpi().totalWeightedAverageGpm
            | percentage: false
        }}</span
      >
    </div>
  }
  <div class="ml-8 flex flex-col">
    <span
      class="text-low-emphasis text-left"
      data-cy="selected-price-diff_label"
      >{{ t('selectedPriceDiff') }}:
    </span>
    <span
      class="text-high-emphasis text-left"
      data-cy="selected-price-diff_value"
      >{{
        selectedQuotationDetailsKpi().totalWeightedAveragePriceDiff
          | percentage: false : true
      }}</span
    >
  </div>
</div>
