<div class="flex flex-col" *transloco="let t; read: 'ltp'">
  <div
    *ngIf="control.infoText; else defaultLabel"
    class="flex flex-row items-center justify-between"
  >
    <label
      [innerHTML]="
        control.flexibleLabel
          ? control.flexibleLabel(t(control.name))
          : t(control.name)
      "
    ></label>
    <mac-tooltip
      (click)="$event.stopPropagation()"
      class="slider-tooltip"
      [content]="t(control.infoText)"
      manualcolor="#1d9bb2"
      icon="info"
    ></mac-tooltip>
  </div>
  <ng-template #defaultLabel>
    <label
      [innerHTML]="
        control.flexibleLabel
          ? control.flexibleLabel(t(control.name))
          : t(control.name)
      "
    ></label>
  </ng-template>
  <div class="flex flex-row justify-between">
    <mat-slider
      *ngIf="!control.logarithmic; else logarithmicSlider"
      class="w-4/5"
      [formControl]="control.formControl"
      [max]="control.max"
      [min]="control.min"
      [step]="control.step"
      (input)="
        control.formControl.patchValue($event.value, { emitEvent: false })
      "
    ></mat-slider>
    <ng-template #logarithmicSlider>
      <mat-slider
        class="w-4/5"
        [formControl]="logSliderControl"
        [max]="100"
        [min]="0"
        [step]="1"
        (input)="patchLogarithmicValue($event.value)"
      ></mat-slider>
    </ng-template>

    <mat-form-field class="w-1/5">
      <input
        #inputControl
        matInput
        type="number"
        [formControl]="control.formControl"
        (change)="validate($event.srcElement.value)"
      />
    </mat-form-field>
  </div>
  <div
    class="slider-validation-warning"
    *ngIf="control.formControl.warnings?.validationWarning"
    [innerHTML]="t(control.formControl.warnings.validationWarning.text)"
  ></div>
</div>
