<ng-container *ngIf="odataFeatureEnabled; else showFeatureToggleHint">
  <div class="p-4 text-caption">
    <span class="mr-3 inline-block">{{
      selectedBomItem?.materialDesignation || materialDesignation
        | scrambleMaterialDesignation
    }}</span>
    <span class="text-medium-emphasis">{{
      selectedCalculation?.calculationDate | translocoDate
    }}</span>
  </div>
  <ag-grid-angular
    class="ag-theme-material"
    [domLayout]="'autoHeight'"
    [rowData]="rawMaterialAnalysisData"
    [pinnedBottomRowData]="rawMaterialAnalysisSummary"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    [modules]="modules"
    [components]="components"
    [statusBar]="statusBar"
    [getMainMenuItems]="getMainMenuItems"
    [loadingOverlayComponent]="loadingOverlayComponent"
    [suppressNoRowsOverlay]="rawMaterialAnalysisData === undefined || isLoading"
    [noRowsOverlayComponent]="noRowsOverlayComponent"
    [noRowsOverlayComponentParams]="noRowsOverlayComponentParams"
    [enableRangeSelection]="true"
    [rowHeight]="30"
    [valueCache]="true"
    [animateRows]="true"
    [suppressCsvExport]="true"
    [suppressExcelExport]="true"
    [suppressCellFocus]="true"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>

  <div
    class="bg-light-blue m-4 flex flex-row items-center gap-3 rounded-lg border border-info px-3"
    *transloco="
      let t;
      read: 'shared.bom.additionalInformation.rawMaterialAnalysis'
    "
  >
    <mat-icon class="flex-none text-info"> warning_amber </mat-icon>
    <span class="my-3 flex-auto text-caption"> {{ t('infoHint') }}</span>
  </div>
</ng-container>

<ng-template #showFeatureToggleHint>
  <div
    class="flex flex-col items-center p-8 text-center"
    *transloco="let t; read: 'shared.bom.additionalInformation'"
  >
    <mat-icon class="mb-4 text-subtitle-1">info</mat-icon>
    <div class="max-w-[400px] text-subtitle-1">
      {{ t('featureToggleHint') }}
    </div>
  </div>
</ng-template>
