<div *ngIf="!(quotationLoading$ | ngrxPush); else loading">
  <div *ngIf="quotation$ | ngrxPush as quotation">
    <schaeffler-subheader
      *ngIf="(quotationDetail$ | ngrxPush)?.material as material"
      [title]="material | materialInfo"
      [breadcrumbs]="breadcrumbs"
    >
      <ng-container titleContent> </ng-container>
      <ng-container header>
        <schaeffler-share-button></schaeffler-share-button>
      </ng-container>
      <ng-container content>
        <gq-customer-header [customer]="quotation.customer">
        </gq-customer-header>
      </ng-container>
    </schaeffler-subheader>
  </div>
  <div class="mx-4 mt-4 flex flex-col md:flex-row">
    <div class="w-full md:w-3/5">
      <gq-filter-pricing [quotationDetail]="quotationDetail$ | ngrxPush">
      </gq-filter-pricing>
    </div>
    <div class="mt-4 w-full md:mt-0 md:w-2/5">
      <gq-pricing-details [quotationDetail]="quotationDetail$ | ngrxPush">
      </gq-pricing-details>
    </div>
  </div>
</div>
<ng-template #loading>
  <schaeffler-loading-spinner></schaeffler-loading-spinner>
</ng-template>
