<div class="flex flex-col h-full" *transloco="let t">
  <!-- header -->
  <div
    mat-dialog-title
    class="m-0 pt-0 pb-2"
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragBoundary=".cdk-global-overlay-wrapper"
    cdkDragHandle
  >
    <div class="flex flex-col">
      <!-- headline -->
      <h2 class="text-headline-small">
        {{ t('sales_planning.planning_details.change_history') }}
      </h2>

      <!-- sub headline -->
      <p class="text-title-small text-on-surface-variant">
        {{ data.customerNumber }} - {{ data.customerName }}
      </p>
    </div>
  </div>

  <mat-dialog-content>
    <!-- table -->
    <d360-backend-table
      class="h-full !flex flex-col"
      [config]="config()!"
      [getData]="getData$"
    />
  </mat-dialog-content>

  <!-- buttons -->
  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">
      {{ t('button.close') }}
    </button>
  </mat-dialog-actions>
</div>
