<div class="flex w-full flex-col">
  <ag-grid-angular
    class="ag-theme-material h-[592px] border border-border"
    [rowData]="data"
    [scrollbarWidth]="8"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    [modules]="modules"
    [frameworkComponents]="frameworkComponents"
    (rowDataChanged)="onRowDataChanged($event)"
    [animateRows]="true"
    [suppressCsvExport]="true"
    [suppressExcelExport]="true"
    [suppressCellSelection]="true"
  >
  </ag-grid-angular>
</div>
