<div class="table-container">
  <ag-grid-angular
    class="ag-theme-material"
    [rowData]="rowData"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    [modules]="modules"
    [sideBar]="sideBar"
    [rowSelection]="rowSelection"
    [frameworkComponents]="frameworkComponents"
    [statusBar]="statusBar"
    [getMainMenuItems]="getMainMenuItems"
    rowGroupPanelShow="always"
    valueCache
    enableRangeSelection
    animateRows
    suppressCsvExport
    suppressExcelExport
    (columnMoved)="columnChange($event)"
    (columnVisible)="columnChange($event)"
    (columnPinned)="columnChange($event)"
    (sortChanged)="sortChange($event)"
    [noRowsOverlayComponent]="noRowsOverlayComponent"
    [noRowsOverlayComponentParams]="noRowsOverlayComponentParams"
  >
  </ag-grid-angular>
</div>
