<div class="table-container">
  <ag-grid-angular
    class="ag-theme-material"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    [modules]="modules"
    [sideBar]="sideBar"
    [rowSelection]="rowSelection"
    [frameworkComponents]="frameworkComponents"
    [statusBar]="statusBar"
    [getMainMenuItems]="getMainMenuItems"
    [rowHeight]="rowHeight"
    [noRowsOverlayComponent]="noRowsOverlayComponent"
    [noRowsOverlayComponentParams]="noRowsOverlayComponentParams"
    rowGroupPanelShow="always"
    valueCache
    enableRangeSelection
    animateRows
    suppressCsvExport
    suppressExcelExport
    rowMultiSelectWithClick
    (columnMoved)="columnChange($event)"
    (columnVisible)="columnChange($event)"
    (columnPinned)="columnChange($event)"
    (columnResized)="columnChange($event)"
    (columnRowGroupChanged)="columnChange($event)"
    (sortChanged)="columnChange($event)"
    (filterChanged)="filterChange()"
    (firstDataRendered)="onFirstDataRendered($event)"
    (rowSelected)="onRowSelected($event)"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>
