<div
  class="border-border text-body-medium"
  [ngClass]="{
    'mb-4 border-b pb-3': borderBottom,
    'mt-4 border-t pt-3': borderTop,
    'pb-1': !borderBottom,
  }"
>
  <span class="mr-2 mb-1 inline-block text-on-surface-variant"
    >{{ label }}:</span
  >
  @if (values && values.length) {
    <div
      class="mb-1"
      [ngClass]="[
        values.length === 1
          ? 'inline-block'
          : 'max-h-[110px] overflow-hidden overflow-y-auto',
      ]"
    >
      @for (value of values; track value) {
        <span
          class="block text-on-surface"
          [ngClass]="{ 'inline-block': values.length === 1 }"
        >
          {{ value | undefinedAttributeFallback }}
        </span>
      }
    </div>
  } @else {
    <span class="mb-1 inline-block text-on-surface">{{
      value | undefinedAttributeFallback
    }}</span>
  }
</div>
