<div
  class="flex h-full w-full items-center justify-end !pr-4 text-center font-medium"
  [ngClass]="{ 'bg-secondary-900': (simulationModeEnabled$ | ngrxPush) }"
>
  @if (simulatedQuotation$ | ngrxPush; as simulatedQuotation) {
    <!-- Simulation view -->
    <gq-simulated-kpi
      [simulatedQuotation]="simulatedQuotation"
      [quotationCurrency]="quotationCurrency$ | ngrxPush"
    ></gq-simulated-kpi>
  } @else {
    <!-- Default view for big screens -->
    <div class="hidden pr-4 xl:flex">
      @if (selections.length) {
        <!-- Selected details kpi -->
        <gq-selected-kpi
          [selectedQuotationDetailsKpi]="
            selectedQuotationDetailsSummaryKpi$ | ngrxPush
          "
          [quotationCurrency]="quotationCurrency$ | ngrxPush"
          [showGpi]="showGPI$ | ngrxPush"
          [showGpm]="showGPM$ | ngrxPush"
        ></gq-selected-kpi>
      }
      <!-- Total details kpi -->
      <gq-total-kpi
        [quotationKpi]="quotationDetailsSummaryKpi$ | ngrxPush"
        [quotationCurrency]="quotationCurrency$ | ngrxPush"
        [showGpi]="showGPI$ | ngrxPush"
        [showGpm]="showGPM$ | ngrxPush"
      >
      </gq-total-kpi>
    </div>
    <!-- Button for small screens to open the modal -->
    <div
      class="flex xl:hidden"
      *transloco="let t; read: 'shared.customStatusBar.quotationDetailsStatus'"
    >
      <button
        mat-flat-button
        class="!text-button !text-link cursor-pointer"
        (click)="showAll()"
      >
        {{ t('showAll') }}
      </button>
    </div>
  }
</div>
