<div
  *transloco="let t; read: 'organizationalView.attritionDialog'"
  class="flex h-full flex-col"
>
  <h6
    class="mt-0 mr-0 mb-2 text-label-small font-medium leading-4 text-on-surface-variant"
  >
    {{ t('metaTitle') }} ({{ meta?.selectedTimeRange }})
  </h6>
  @if (meta.data.employeesLost > 5 || meta.data.employeesLost === 0) {
    <div class="flex items-center text-body-large leading-8">
      <mat-icon class="mr-1.5 !h-6 !w-6 text-on-surface-variant">
        insert_chart
      </mat-icon>
      <span [innerHTML]="t('fluctuationRate') + ':'"></span>
      <span class="ml-2 text-on-surface">
        {{ meta.data.fluctuationRate | defaultValue }}%
      </span>
    </div>
    <div class="flex text-body-large leading-8">
      <mat-divider
        class="!-mt-1 !mr-[calc(1rem+1px)] !mb-3 !ml-3 flex"
        [vertical]="true"
      ></mat-divider>
      <div class="flex flex-col">
        <div class="flex text-on-surface-variant">
          <span [innerHTML]="t('unforcedFluctuationRate') + ':'"></span>
          <span class="ml-2 text-on-surface"
            >{{ meta.data.unforcedFluctuationRate | defaultValue }}%</span
          >
        </div>
        <div class="flex text-on-surface-variant">
          <span [innerHTML]="t('forcedFluctuationRate') + ':'">:</span>
          <span class="ml-2 text-on-surface"
            >{{ meta.data.forcedFluctuationRate | defaultValue }}%</span
          >
        </div>
        <div class="flex text-on-surface-variant">
          <span [innerHTML]="t('remainingFluctuationRate') + ':'">:</span>
          <span class="ml-2 text-on-surface"
            >{{ meta.data.remainingFluctuationRate | defaultValue }}%</span
          >
        </div>
      </div>
    </div>
  }
  <div class="flex items-center text-body-large leading-8">
    <mat-icon class="mr-1.5 !h-6 !w-6 text-on-surface-variant"
      >person_outline</mat-icon
    >
    <span
      class="flex text-on-surface-variant"
      [innerHTML]="t('employeesLost') + ':'"
    ></span>
    <span class="ml-2 text-on-surface">{{ meta.data.employeesLost }}</span>
  </div>
  @if (!meta.data.hideDetailedLeaverStats) {
    <div class="flex text-body-large leading-8">
      <mat-divider
        class="!-mt-1 !mr-[calc(1rem+1px)] !mb-3 !ml-3 flex"
        [vertical]="true"
      ></mat-divider>
      <div class="flex flex-col">
        <div class="flex text-on-surface-variant">
          <span [innerHTML]="t('unforcedFluctuation') + ':'"></span>
          <span class="ml-2 text-on-surface">{{
            meta.data.unforcedFluctuation
          }}</span>
        </div>
        <div class="flex text-on-surface-variant">
          <span [innerHTML]="t('forcedFluctuation') + ':'"></span>
          <span class="ml-2 text-on-surface">{{
            meta.data.forcedFluctuation
          }}</span>
        </div>
        <div class="flex text-on-surface-variant">
          <span [innerHTML]="t('remainingFluctuation') + ':'"></span>
          <span class="ml-2 text-on-surface">{{
            meta.data.remainingFluctuation
          }}</span>
        </div>
      </div>
    </div>
  }
  <div class="flex items-center text-body-large leading-8">
    <mat-icon class="mr-1.5 !h-6 !w-6 text-on-surface-variant">block</mat-icon>
    <div class="flex text-on-surface-variant">
      <span
        class="flex text-on-surface-variant"
        [innerHTML]="t('resignationsReceived') + ':'"
      ></span>
    </div>
    <span class="ml-2 text-on-surface">{{
      meta.data.resignationsReceived
    }}</span>
  </div>
  <div class="flex items-center text-body-large leading-8">
    <mat-icon class="mr-1.5 !h-6 !w-6 text-on-surface-variant"
      >groups_outlined</mat-icon
    >
    <span
      class="flex text-on-surface-variant"
      [innerHTML]="t('avgHeadcount') + ':'"
    ></span>
    <span class="ml-2 text-on-surface">{{ meta.data.avgHeadcount }}</span>
  </div>
  <div class="flex items-center text-body-large leading-8">
    <mat-icon class="mr-1.5 !h-6 !w-6 text-on-surface-variant"
      >person_add</mat-icon
    >
    <span
      class="flex text-on-surface-variant"
      [innerHTML]="t('employeesAdded') + ':'"
    ></span>
    <span class="ml-2 text-on-surface">{{ meta.data.employeesAdded }}</span>
  </div>
  <div class="flex items-center text-body-large leading-8">
    <mat-icon class="mr-1.5 !h-6 !w-6 text-on-surface-variant"
      >people_outlined</mat-icon
    >
    <span
      class="flex text-on-surface-variant"
      [innerHTML]="t('openPositions') + ':'"
    ></span>
    @if (meta.data.openPositionsAvailable) {
      <span class="ml-2 text-on-surface">{{ meta.data.openPositions }}</span>
    } @else {
      <mat-icon
        *transloco="let t; read: 'openPositions'"
        class="ml-2 text-icon-warning"
        inline="true"
        [matTooltip]="t('dataUnavailable')"
        matTooltipClass="!text-on-warning-container"
        >warning_amber</mat-icon
      >
    }
  </div>
</div>
