<div class="widget-content">
  <div *transloco="let t; read: 'detail.detailTab'">
    <h6>{{ t('customer.title') }}</h6>
    <div class="widget-group" *ngIf="customerDetails$ | async">
      <div fxLayout="row wrap">
        <label fxFlexAlign="end">{{ t('customer.customers') }}:&nbsp;</label>
        <div fxFlex="100%">{{ (customerDetails$ | async)?.customer }}</div>
      </div>
    </div>
    <div class="widget-group" *ngIf="customerDetails$ | async">
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('customer.customerGroup') }}:&nbsp;</label
        >
        <div fxFlex="100%">{{ (customerDetails$ | async)?.customerGroup }}</div>
      </div>
    </div>
  </div>
</div>
