<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div class="content-wrapper">
    <div fxLayout="column">
      <h2 class="m-b-10">Welcome to STA - the Schaeffler Text Assistant</h2>
      <p class="m-t-5">
        This is a demonstrator developed by
        <a
          href="https://sconnect.schaeffler.com/community/global-technology/strategic-information-technology/digital-platform/ai-solutions"
          target="_blank"
          >Custom Apps & AI</a
        >
        resp.
        <a
          href="https://sconnect.schaeffler.com/community/global-technology/strategic-information-technology/digital-platform"
          target="_blank"
          >Software Engineering Solutions</a
        >.<br />
        STA offers AI Services that assist you in working with text.
      </p>

      <h2 class="m-b-10">Terms and Conditions</h2>
      <p class="m-t-5">
        I have read, understood and I agree with the
        <a href="/legal/cookie-policy-en.html" target="_blank"
          >Schaeffler Cookie Policy</a
        >
        and the
        <a href="/legal/data-privacy-en.html" target="_blank"
          >Schaeffler Privacy Policy</a
        >.<br /><br />
        I understand that the services provided by the application “Schaeffler
        Text Assistant” are not legally secure. In no case they replace
        professional services e.g. as provided by
        <a
          href="https://sconnect.schaeffler.com/community/global/communications-marketing/services"
          target="_blank"
          >Services Communications & Branding</a
        >.<br /><br />
        I understand that using the application happens on my own
        responsibility. In particular the application is currently not suited
        for processing data with information classes rated “Confidential” or
        “Strictly Confidential”.
      </p>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-button color="primary" (click)="login()">
          <span>ACCEPT</span>
        </button>
      </div>
    </div>
  </div>
</div>
