<ng-container
  *transloco="let t; read: 'materialsSupplierDatabase.mainTable.dialog'"
>
  <div class="flex flex-row gap-x-6" *ngIf="!readonly; else matStdReadonly">
    <schaeffler-select
      appearance="outline"
      class="w-full"
      [stringOptions]="standardDocuments$ | ngrxPush"
      [control]="standardDocumentsControl"
      [label]="t('standardDocument')"
      [filterFn]="standardDocumentFilterFnFactory(materialNamesControl)"
      [resetButton]="true"
      addEntry="true"
      (entryAdded)="addStandardDocument($event)"
      name="materialStandardStandardDocument"
      #dialogControl
    >
      <div matErrorContent *ngIf="standardDocumentsControl.invalid">
        {{ getErrorMessage(standardDocumentsControl.errors) }}
      </div>
    </schaeffler-select>
    <schaeffler-select
      appearance="outline"
      class="w-full"
      [stringOptions]="materialNames$ | ngrxPush"
      [control]="materialNamesControl"
      [label]="t('materialName')"
      [filterFn]="materialNameFilterFnFactory(standardDocumentsControl)"
      addEntry="true"
      (entryAdded)="addMaterialName($event)"
      name="materialStandardMaterialName"
      #dialogControl
    >
      <div matErrorContent *ngIf="materialNamesControl.invalid">
        {{ getErrorMessage(materialNamesControl.errors) }}
      </div>
    </schaeffler-select>
  </div>
  <ng-template #matStdReadonly>
    <div class="flex flex-row gap-x-6">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ t('standardDocument') }} {{ t('readonly') }}</mat-label>
        <input
          matInput
          [value]="standardDocumentsControl.value.title"
          name="materialStandardStandardDocument"
          #dialogControl
          readonly="true"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ t('materialName') }} {{ t('readonly') }}</mat-label>
        <input
          matInput
          [value]="materialNamesControl.value.title"
          name="materialStandardMaterialName"
          #dialogControl
          readonly="true"
        />
      </mat-form-field>
    </div>
  </ng-template>
</ng-container>
