@import '~@ag-grid-community/core/dist/styles/ag-grid.scss';
@import '~@ag-grid-community/core/dist/styles/ag-theme-material/sass/ag-theme-material-mixin.scss';

.ag-theme-material {
  @include ag-theme-material();
}

@import 'libs/shared/ui/styles/src';
@import 'libs/shared/ui/styles/src/lib/tabs';

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.material-icons {
  font-family: 'Material Icons' !important;
}

.full-height-card {
  @media only screen and (min-width: $screen-sm-max) {
    box-sizing: border-box;
    height: 100%;
  }
}

label {
  font-size: 14px;
}
