<div
  class="flex h-full flex-col"
  *transloco="let t; read: 'transactionView.transactions'"
>
  <div>
    <span class="text-h6 text-medium-emphasis">{{ t('title') }}</span>
    <span>
      <gq-info-icon class="pl-2 align-top" [text]="t('info-hover')">
      </gq-info-icon>
    </span>
  </div>
  <div class="mt-4 flex-1">
    <ag-grid-angular
      class="ag-theme-material h-full"
      [columnDefs]="columnDefs$ | ngrxPush"
      [defaultColDef]="defaultColumnDefs"
      [rowData]="rowData"
      [modules]="modules"
      [context]="tableContext"
      (columnMoved)="onColumnChange($event)"
      (sortChanged)="onColumnChange($event)"
      (gridReady)="onGridReady($event)"
      (firstDataRendered)="onFirstDataRendered($event)"
      skipHeaderOnAutoSizre="true"
      [valueCache]="true"
      [animateRows]="true"
      [localeText]="localeText$ | ngrxPush"
      (filterChanged)="onFilterChanged($event)"
    ></ag-grid-angular>
  </div>
</div>
