<div
  class="flex flex-col h-full"
  *transloco="let t; read: 'transactionView.transactions'"
>
  <div>
    <span class="text-medium-emphasis text-h6 font-medium">{{
      t('title')
    }}</span>
    <span>
      <gq-info-icon class="align-top pl-2" [text]="t('info-hover')">
      </gq-info-icon>
    </span>
  </div>
  <div class="mt-4 flex-1">
    <ag-grid-angular
      class="ag-theme-material h-full"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColumnDefs"
      [rowData]="rowData"
      [modules]="modules"
      [context]="tableContext"
      (columnMoved)="onColumnChange($event)"
      (sortChanged)="onColumnChange($event)"
      (gridReady)="onGridReady($event)"
      (firstDataRendered)="onFirstDataRendered($event)"
      skipHeaderOnAutoSizre="true"
      [valueCache]="true"
      [animateRows]="true"
    ></ag-grid-angular>
  </div>
</div>
