::ng-deep ag-grid-angular {
  .ag-root-wrapper-body {
    border: #e2e2e2 1px solid;
    border-radius: 5px;
  }

  .ag-root-wrapper {
    border: #e2e2e2 1px solid;
    border-radius: 5px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }

  .ag-status-bar {
    border: none !important;
    padding-left: 23px !important;
  }
}
