.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .mat-mdc-icon-button {
    transition: color ease-in-out 250ms;
    padding: 0;
  }

  &:hover {
    .mat-mdc-icon-button {
      color: var(--error-color);
    }
  }
}
