<mat-card class="w-full h-full">
  <h6 class="text-light mb-4">
    {{ materialDesignation$ | ngrxPush }}
  </h6>

  <ng-container *ngIf="!(errorMessage$ | ngrxPush)">
    <mat-accordion multi *transloco="let t; read: 'compare.details'">
      <mat-expansion-panel
        *ngIf="
          dimensionAndWeightDetails$ | ngrxPush as dimensionAndWeightDetails
        "
        [expanded]="true"
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="text-body-1">
            {{ t('dimensions.title') }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="px-6">
          <cdba-dimensions-widget [data]="dimensionAndWeightDetails">
          </cdba-dimensions-widget>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel
        *ngIf="additionalInformation$ | ngrxPush as additionalInformation"
        [expanded]="true"
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="text-body-1">
            {{ t('additionalInformation.title') }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="px-6">
          <cdba-additional-information-widget
            [data]="additionalInformation"
          ></cdba-additional-information-widget>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>

  <div
    *ngIf="errorMessage$ | ngrxPush as errorMessage"
    class="flex justify-center"
  >
    <p class="max-w-full break-words text-error">{{ errorMessage }}</p>
  </div>
</mat-card>
