@import 'libs/shared/styles/src';
@import 'libs/shared/styles/src/lib/tabs';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/theming/';

.full-height {
  height: 100%;
}

.material-icons {
  font-family: 'Material Icons' !important;
}

.icon,
.material-icons {
  font-size: 20px;
}

.elevation {
  @include mat-elevation-transition;
  @include mat-elevation(2);

  &.active {
    cursor: pointer;

    &:hover {
      @include mat-elevation(8);
    }
  }
}
