<h3 class="column-header" *transloco="let t; read: 'pricingView.inputSection'">
  {{ t('search') }}
</h3>

<div fxLayoutAlign="start start" fxLayout="column">
  <gq-filter-input
    fxFill
    *ngIf="filters$ | async"
    [filter]="filter"
    [selectedFilter]="selectedFilter"
    [autocompleteLoading]="autocompleteLoading$ | async"
    (autocomplete)="autocomplete($event)"
    (updateFilter)="updateFilter($event)"
  ></gq-filter-input>

  <mat-form-field
    appearance="outline"
    class="input-field"
    *transloco="let t; read: 'pricingView.inputSection.dropdown'"
  >
    <mat-label>{{ t(selectedFilter) }}</mat-label>
    <mat-select [(value)]="selectedFilter">
      <mat-option value="quotation">{{ t('quotation') }}</mat-option>
      <mat-option value="customerNumber">{{ t('customerNumber') }}</mat-option>
      <mat-option value="keyAccount">{{ t('keyAccount') }}</mat-option>
      <mat-option value="subKeyAccount">{{ t('subKeyAccount') }}</mat-option>
      <mat-option value="country">{{ t('country') }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<h6 class="headline" *transloco="let t; read: 'pricingView.inputSection'">
  {{ t('optionalInformation') }}
</h6>

<div
  fxLayoutAlign="start start"
  fxLayout="column"
  *transloco="let t; read: 'pricingView.inputSection.optionalInput'"
>
  <mat-form-field
    *ngIf="selectedFilter === 'quotation'"
    appearance="outline"
    class="input-field"
  >
    <mat-label>{{ t('customerNumber') }}</mat-label>
    <mat-chip-list #customerChipList>
      <mat-chip
        *ngFor="let customer of customers; trackBy: trackByFn"
        [selectable]="true"
        [removable]="true"
        (removed)="remove(customer, customers)"
      >
        {{ customer.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        [matChipInputFor]="customerChipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event, customers)"
      />
    </mat-chip-list>
    <mat-hint>{{ t('customerNumberHint') }}</mat-hint>
  </mat-form-field>
  <div
    *ngIf="
      selectedFilter === 'keyAccount' || selectedFilter === 'subKeyAccount'
    "
  >
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>{{ t('country') }}</mat-label>
      <mat-chip-list #regionChipList>
        <mat-chip
          *ngFor="let region of regions; trackBy: trackByFn"
          [selectable]="true"
          [removable]="true"
          (removed)="remove(region, regions)"
        >
          {{ region.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          [matChipInputFor]="regionChipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event, regions)"
        />
      </mat-chip-list>
      <mat-hint>{{ t('countryNumberHint') }}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>{{ t('subRegion') }}</mat-label>
      <mat-chip-list #subRegionChipList>
        <mat-chip
          *ngFor="let subRegion of subRegions; trackBy: trackByFn"
          [selectable]="true"
          [removable]="true"
          (removed)="remove(subRegion, subRegions)"
        >
          {{ subRegion.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          [matChipInputFor]="subRegionChipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event, subRegions)"
        />
      </mat-chip-list>
      <mat-hint>{{ t('subRegionHint') }}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>{{ t('sectorManagement') }}</mat-label>
      <mat-chip-list #sectorManagementChipList>
        <mat-chip
          *ngFor="let sectorManagement of sectorManagements; trackBy: trackByFn"
          [selectable]="true"
          [removable]="true"
          (removed)="remove(sectorManagement, sectorManagements)"
        >
          {{ sectorManagement.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          [matChipInputFor]="sectorManagementChipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event, sectorManagements)"
        />
      </mat-chip-list>
      <mat-hint>{{ t('sectorManagementHint') }}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>{{ t('mainSector') }}</mat-label>
      <mat-chip-list #mainSectorChipList>
        <mat-chip
          *ngFor="let mainSector of mainSectors; trackBy: trackByFn"
          [selectable]="true"
          [removable]="true"
          (removed)="remove(mainSector, mainSectors)"
        >
          {{ mainSector.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          [matChipInputFor]="mainSectorChipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event, mainSectors)"
        />
      </mat-chip-list>
      <mat-hint>{{ t('mainSectorHint') }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field">
      <mat-label>{{ t('subSector') }}</mat-label>
      <mat-chip-list #subSectorChipList>
        <mat-chip
          *ngFor="let subSector of subSectors; trackBy: trackByFn"
          [selectable]="true"
          [removable]="true"
          (removed)="remove(subSector, subSectors)"
        >
          {{ subSector.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          [matChipInputFor]="subSectorChipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event, subSectors)"
        />
      </mat-chip-list>
      <mat-hint>{{ t('subSectorHint') }}</mat-hint>
    </mat-form-field>
  </div>
  <div *ngIf="selectedFilter !== 'country'">
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>{{ t('subSector') }}</mat-label>
      <mat-chip-list #subSectorChipList>
        <mat-chip
          *ngFor="let subSector of subSectors; trackBy: trackByFn"
          [selectable]="true"
          [removable]="true"
          (removed)="remove(subSector, subSectors)"
        >
          {{ subSector.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          [matChipInputFor]="subSectorChipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event, subSectors)"
        />
      </mat-chip-list>
      <mat-hint>{{ t('subSectorHint') }}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>{{ t('sectorGPSD') }}</mat-label>
      <mat-chip-list #sectorGPSDChipList>
        <mat-chip
          *ngFor="let sectorGPSD of sectorGPSDs; trackBy: trackByFn"
          [selectable]="true"
          [removable]="true"
          (removed)="remove(sectorGPSD, sectorGPSDs)"
        >
          {{ sectorGPSD.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          [matChipInputFor]="sectorGPSDChipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event, sectorGPSDs)"
        />
      </mat-chip-list>
      <mat-hint>{{ t('sectorGPSDHint') }}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>{{ t('soldToParty') }}</mat-label>
      <mat-chip-list #soldToPartyChipList>
        <mat-chip
          *ngFor="let soldToParty of soldToPartys; trackBy: trackByFn"
          [selectable]="true"
          [removable]="true"
          (removed)="remove(soldToParty, soldToPartys)"
        >
          {{ soldToParty.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          [matChipInputFor]="soldToPartyChipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event, soldToPartys)"
        />
      </mat-chip-list>
      <mat-hint>{{ t('soldToPartyHint') }}</mat-hint>
    </mat-form-field>
  </div>
</div>

<h6 class="headline" *transloco="let t; read: 'pricingView.inputSection'">
  {{ t('materialNumberAndQuantity') }}
</h6>
<div
  fxLayoutAlign="start start"
  fxLayout="column"
  *transloco="let t; read: 'pricingView.inputSection.materialInput'"
>
  <mat-form-field appearance="outline" class="input-field">
    <mat-label>{{ t('materialNumber') }}</mat-label>
    <mat-chip-list #materialNumberChipList>
      <mat-chip
        *ngFor="let materialNumber of materialNumbers; trackBy: trackByFn"
        [selectable]="true"
        [removable]="true"
        (removed)="remove(materialNumber, materialNumbers)"
      >
        {{ materialNumber.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        [matChipInputFor]="materialNumberChipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event, materialNumbers)"
      />
    </mat-chip-list>
    <mat-hint>{{ t('materialNumberHint') }}</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline" class="input-field">
    <mat-label>{{ t('quantity') }}</mat-label>
    <mat-chip-list #quantityChipList>
      <mat-chip
        *ngFor="let quantity of quantitys; trackBy: trackByFn"
        [selectable]="true"
        [removable]="true"
        (removed)="remove(quantity, quantitys)"
      >
        {{ quantity.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        [matChipInputFor]="quantityChipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event, quantitys)"
      />
    </mat-chip-list>
    <mat-hint>{{ t('quantityHint') }}</mat-hint>
  </mat-form-field>
</div>
<br />
<button
  class="search-button"
  mat-stroked-button
  *transloco="let t; read: 'pricingView.inputSection'"
>
  {{ t('searchButton') }}
</button>
<button
  class="multiple-input-button"
  mat-stroked-button
  (click)="openDialog()"
  *transloco="let t; read: 'pricingView.inputSection'"
>
  {{ t('multipleInputButton') }}
</button>
