<ng-container
  *transloco="
    let t;
    read: 'materialsSupplierDatabase.mainTable.quickfilter.dialog'
  "
>
  <mat-dialog-content class="!px-4">
    <div>
      <div class="text-subtitle-2 pb-4 text-high-emphasis">
        {{ t(edit ? 'title_edit' : 'title_add') }}
      </div>

      <div>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>{{ t('name') }}</mat-label>
          <input matInput name="title" [formControl]="titleControl" />
        </mat-form-field>
      </div>
      <div *ngIf="!edit">
        <mat-radio-group [formControl]="radioControl">
          <mat-radio-button class="w-full pb-4" color="primary" value="true">
            {{ t('radio_current') }}
          </mat-radio-button>
          <mat-radio-button class="w-full pb-4" color="primary" value="false">
            {{ t('radio_default') }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="-mx-6">
    <div class="px-4 pb-2">
      <button mat-stroked-button (click)="closeDialog()">
        {{ t('cancel') }}
      </button>
      <button
        mat-stroked-button
        class="!ml-4 text-link"
        (click)="applyDialog()"
        [disabled]="!formGroup.valid"
      >
        {{ t('save') }}
      </button>
    </div>
  </mat-dialog-actions>
</ng-container>
