<div class="content">
  <div id="page-title" class="page-title has-spare-space">
    <div class="container_page_size">
      <h1>General Conditions of Use for the Schaeffler Website</h1>
    </div>
    <!-- /container_page_size -->
  </div>
  <!-- /page-title -->
  <!-- PAGE TITLE ENDS HERE -->
  <!-- MAIN CONTENT -->
  <div id="container_main">
    <div class="container_page_size">
      <div class="module">
        <div class="grid-div-1 grid">
          <div class="grid-cell">
            <div class="grid-content">
              <h4>1. Scope</h4>
              <p>
                1.1<br />Any use of the web pages (Schaeffler Website) offered
                by Schaeffler Holding (China) Co., Ltd. ("Schaeffler") shall be
                subject to these Conditions insofar as use is not otherwise
                regulated by the conditions of the Schaeffler company in the
                respective country. By commencing use, the user accepts the
                validity of these Conditions of Use in their current version.
              </p>
              <p>
                1.2<br />These General Conditions of Use may be supplemented,
                modified or replaced from time-to-time.
              </p>
              <h4>2. Contents of the Schaeffler Website</h4>
              <p>
                On its website, Schaeffler has placed non-binding information as
                well as related documentation and software which may be called
                up or downloaded. Such placement shall be without any commitment
                and without any warranties as to completeness. Schaeffler may at
                any time in whole or in part block the Schaeffler Website or
                change the contents without any prior notice. Schaeffler does
                not accept any liability in relation to the uninterrupted
                availability of the Schaeffler Website.
              </p>
              <h4>3. Rights of Use</h4>
              <p>
                3.1<br />The use of the information, software and documentation
                available on the Schaeffler Website shall be subjected to these
                Conditions, or if the information, software and documentation
                are updated, such shall be subject to the applicable license
                conditions already agreed with Schaeffler. Any license
                conditions separately agreed upon shall prevail over these
                Conditions.
              </p>
              <p>
                3.2<br />Schaeffler grants to the user a non-exclusive,
                non-transferable, non-assignable, non-sublicensable right to use
                the information, software and documentation available on the
                Schaeffler Website to the extent to which it is agreed between
                the parties, or, in case there is no agreement on this point, in
                accordance with the purpose intended by Schaeffler.
              </p>
              <p>
                3.3<br />Software is only available in a machine-readable form
                at no cost. No right shall exist to the release of any source
                code. In case the license conditions of open source software
                have priority over these Conditions and require Schaeffler to
                make the source code available, such source code shall be made
                available in exchange for reimbursement of expenses.
              </p>
              <p>
                3.4<br />Unless mandatory provisions govern to the contrary, the
                user may not change, reverse, develop, or reverse translate the
                software or its documentation or remove any part therefrom.
              </p>
              <p>
                3.5<br />The information, software and documentation are
                protected by applicable copyright laws as well as other
                applicable laws related to intellectual property. The user shall
                observe such laws, and in particular any alphanumerical
                identification, marks or copyright notices shall not be removed
                from the information, software or documentation or from any
                copies thereof.
              </p>
              <p>
                3.6<br />Any provisions of applicable copyright law regarding
                the protection of any software shall not otherwise be affected
                hereby.
              </p>
              <h4>4. Intellectual Property</h4>
              <p>
                4.1<br />Notwithstanding the particular requirements in section
                4 of these Conditions of Use, any information, trademark names
                and other contents of the Schaeffler Website may not be changed,
                copied, reproduced, sold, rented, used, supplemented or used in
                any other way without the prior written permission of
                Schaeffler.
              </p>
              <p>
                4.2<br />Except for the right of use and other rights expressly
                granted herein, the user shall be granted no further rights of
                any type whatsoever, in particular those to the company name or
                to industrial property rights, such as patents, utility models
                or trademarks, nor shall Schaeffler be subject to any
                corresponding duty to grant such rights.
              </p>
              <h4>5. Registration and Use of Protected Pages</h4>
              <p>
                5.1<br />Some pages of the Schaeffler Website are protected by
                way of a password. Access to these pages is only possible for
                registered users for transactional business security purposes.
                There shall be no right to be registered by Schaeffler. In
                particular, Schaeffler reserves the right to make web pages
                previously freely accessible subject to registration. Schaeffler
                may at any time revoke a right of access by blocking the access
                data without providing any reasons therefor, in particular when
                the user:
              </p>
              <ul class="contentlist">
                <li>has provided false details for registration;</li>
                <li>
                  has breached the Conditions of Use or its duties of care in
                  relation to the treatment of access data;
                </li>
                <li>
                  has breached applicable law in accessing or using the
                  Schaeffler Website; or
                </li>
                <li>
                  has been an inactive user of the Schaeffler Website for a
                  period of at least 24 months.
                </li>
              </ul>
              <p>
                5.2<br />In the event that registration is permitted, the user
                shall provide accurate and correct details and must advise
                Schaeffler immediately of any changes.
              </p>
              <p>
                5.3<br />After registration the user shall receive a user name
                and password (user data). At the time of first access the user
                shall change the password provided by Schaeffler into a secure
                password. The user data allows the user to access its own data,
                to change such data, and, if necessary, to extend or revoke
                agreements to data processing.
              </p>
              <p>
                5.4<br />The user shall ensure that the user data are not
                available to third parties and shall be liable for all orders
                and other activities taken under the user data. After each
                occasion of use, the area protected by password shall be exited.
                Insofar as the user becomes aware that any third party is
                misusing user data, the user shall immediately notify Schaeffler
                of such in writing, and, if applicable, in advance by e-mail
                communication. After receipt of such notification, Schaeffler
                shall block the access to the area protected by password for
                that user data. The lifting of any blocking is only possible
                after a special application by the user to Schaeffler or after a
                further registration.
              </p>
              <p>
                5.5<br />The user may at any time in writing demand the deletion
                of any registration insofar as the deletion is not prevented by
                the processing of current contractual matters. In such case,
                Schaeffler shall erase all user data and all other personal data
                of the user as soon as such is no longer required.
              </p>
              <h4>6. References and Links</h4>
              <p>
                The Schaeffler Website may contain references and links
                (hyperlinks) to the websites of third parties. Schaeffler does
                not accept any responsibility for the contents of such websites,
                nor does Schaeffler make the contents of such websites its own,
                as Schaeffler cannot control any information connected by a
                third party link and is not responsible for the contents and
                information therein contained. Any use of linked websites shall
                be at the risk of the user.
              </p>
              <h4>
                7. Exclusion of Liability for Defects as to Title and Quality,
                Viruses
              </h4>
              <p>
                7.1<br />Insofar as any information, software or documentation
                is made available at no charge, any liability is hereby excluded
                for defects as to title or defects as to the quality of the
                information, software and documentation, and in particular for
                the correctness, defect-free nature, and the non-existence of
                property rights or copyright of third parties, completeness
                and/or usability except in cases of wilful acts or malice.
                SCHAEFFLER HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER
                EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT
                LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT
                AND FITNESS FOR PARTICULAR PURPOSE.
              </p>
              <p>
                7.2<br />The information contained on the Schaeffler Website may
                include specifications or general descriptions of technical
                possibilities of products, which in individual cases (e.g. for
                reasons of changes in products) may not always be available. The
                required performance specification of the products should
                therefore be agreed prior to purchase in each case.
              </p>
              <p>
                7.3<br />The liability of Schaeffler for any defects as to
                quality and defects as to title shall be determined by the
                provisions in sections 7.1 and 7.2 of these Conditions. Ceteris
                paribus, any liability of Schaeffler is excluded unless (i)
                mandatory law (e. g. the Product Liability Act) requires it,
                (ii) as a result of product liability law, (iii) as a result of
                wilful acts or gross negligence, (iv) as a result of death or
                personal injury, (v) as a result of the acceptance of a
                guarantee as to quality, (vi) as a result of malicious
                concealment of a defect, or (vii) because of the material breach
                of a contract. Any damages for material breach of contract shall
                however be limited to typical, foreseeable damages, insofar as
                wilful acts or gross negligence are not involved.
              </p>
              <p>
                7.4<br />Schaeffler shall endeavor to keep the Schaeffler
                Website free from all viruses, however Schaeffler cannot give
                any assurance as to a virus-free environment. Before downloading
                any information, software or documentation, the user shall, for
                its own protection as well as to prevent viruses coming onto the
                Schaeffler Website, use suitable security measures and virus
                scanners. The User is responsible for implementing sufficient
                procedures and checkpoints to satisfy its particular
                requirements for anti-virus protection and accuracy of data
                input and output, and for maintaining a means external to our
                site for any reconstruction of any lost data.
              </p>
              <p>
                7.5<br />A reversal of the burden of proof shall not be assumed
                by any of the above provisions.
              </p>
              <h4>8. Obligations of Use</h4>
              <p>
                8.1<br />The user may not in regard to the Schaeffler Website:
              </p>
              <ul class="contentlist">
                <li>
                  cause any damage or injury to any persons, in particular
                  juveniles, or violate their right to privacy;
                </li>
                <li>act against good morals by its method of use;</li>
                <li>
                  violate industrial property rights or copyright or other
                  property rights;
                </li>
                <li>
                  transmit any contents with viruses or so-called “Trojan
                  Horses” or other programming which could damage software;
                </li>
                <li>
                  provide, store or send hyperlinks or contents to which it is
                  not allowed, in particular if such hyperlinks or contents are
                  a breach of a duty of confidentiality or are unlawful; or
                </li>
                <li>
                  distribute advertising or unsolicited e-mails (so-called
                  "spam") or irrelevant warnings as to viruses, malware or
                  similar, or request persons to participate in gambling, games,
                  chain letters, pyramid schemes or any other similar actions.
                </li>
                <li>
                  to engage in any other conduct that restricts or inhibits
                  anyone's use or enjoyment of the Website, or which, as
                  determined by Schaeffler may harm Schaeffler or users of the
                  Website or expose them to liability.
                </li>
                <li>
                  use the Website in any manner that could disable, overburden,
                  damage, or impair the site or interfere with any other party's
                  use of the Website, including their ability to engage in real
                  time activities through the Website.
                </li>
              </ul>
              <p>
                8.2<br />Schaeffler may block access to the Schaeffler Website
                at any time, in particular if the user breaches its duties under
                these Conditions.
              </p>
              <h4>9. Export Requirements</h4>
              <p>
                The transfer of information, software and documentation can be
                subject to the applicable legal provisions of export controls,
                in particular but not limited to the law of the EU or its member
                states or the US, due to its type or its purpose of use or its
                end use. The user confirms that he shall comply to the
                applicable provisions of export control law at all times.
              </p>
              <h4>10. Protection of Personal Data</h4>
              <p>
                Schaeffler shall, in compiling, using and processing personal
                data of the user, observe the applicable data protection
                regulations which may be viewed on the Schaeffler Website.
              </p>
              <h4>
                11. Collateral Agreements, Place of Jurisdiction, Applicable Law
              </h4>
              <p>
                11.1<br />Any collateral agreements to these Conditions of Use
                including any amendments of this clause shall be in the written
                form.
              </p>
              <p>
                11.2<br />The place of jurisdiction is the registered seat of
                Schaeffler Holding (China) Co., Ltd.
              </p>
              <p>
                11.3<br />The individual pages of the Schaeffler Website are
                operated by and are the responsibility of Schaeffler. These
                pages comply with the requirements of the specific country in
                which Schaeffler Holding (China) Co., Ltd. has its registered
                seat. Schaeffler accepts no responsibility for the possibility
                that information, software and/or documentation in the
                Schaeffler Website may be called up or downloaded in places
                outside of the respective country. If users from countries
                outside of the respective country use the Schaeffler Website,
                they are themselves responsible for compliance with the
                applicable regulations of the respective country. Access to
                information, software and/or documentation on the Schaeffler
                Website in countries in which access is unlawful is not allowed.
                In such case, and should the user wish to contact Schaeffler
                commercially, the user should contact the Schaeffler
                representatives in the respective country.
              </p>
              <p>
                11.4<br />These Conditions as well as the use of this website
                shall be subject to the law of the registered seat of Schaeffler
                Holding (China) Co., Ltd.
              </p>
              <!-- //st_rwd_content_text@RWD -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /container_page_size -->
  </div>
  <!-- /container_main -->

  <div class="footer-copyright">© Schaeffler Group Greater China</div>
</div>
