<div *transloco="let t" class="flex flex-col gap-6 w-full h-full">
  <!-- global selection -->
  <d360-global-selection-criteria
    (onGlobalSelectionChange)="onUpdateGlobalSelection($event)"
  />

  <d360-styled-section [grow]="true" class="flex flex-col h-full">
    <!-- headline -->
    <h2 class="text-title-large">
      {{
        t('validation_of_demand.title') +
          ' | ' +
          t('planing_type.title.' + planningView)
      }}
    </h2>

    <!-- loading spinner -->
    @if (loading()) {
      <schaeffler-loading-spinner [useBearingLoadingSpinner]="true" />
    }

    @if (
      globalSelectionStatus() === GlobalSelectionStatus.DATA_AVAILABLE &&
      customerData &&
      selectedCustomer &&
      globalSelection
    ) {
      <!-- action bar -->
      <d360-action-bar
        [selectedCustomer]="selectedCustomer()"
        [customerData]="customerData()"
        [(planningView)]="planningView"
        [isMaterialListVisible]="materialListVisible()"
        (toggleMaterialListVisible)="handleMaterialListVisible($event)"
        (dateRangeChanged)="handleKpiDateRangeChange($event)"
        (customerChange)="handleCustomerChange($event)"
        (reloadValidationTable)="reloadValidationTable($event)"
        [changedKPIs]="changedKPIs()"
        (demandValidationFilterChange)="demandValidationFilterChange($event)"
        [demandValidationFilters]="demandValidationFilters()"
      />

      <!-- tables -->
      <div
        class="grid grid-cols-1 gap-4 md:gap-0 md:flex md:flex-row md:h-full b-top"
      >
        <!-- material list table -->
        <d360-material-list-table
          class="material-list-table flex grow md:w-0"
          [class.w-50p]="materialListVisible()"
          [visible]="materialListVisible()"
          [selectedCustomerNumber]="selectedCustomer().customerNumber"
          [demandValidationFilters]="demandValidationFilters()"
          [confirmContinueAndLooseUnsavedChanges]="
            confirmContinueAndLooseUnsavedChanges.bind(this)
          "
          (selectedMaterialListEntryChange)="
            handleMaterialListEntrySelected($event)
          "
          (demandValidationFilterChange)="demandValidationFilterChange($event)"
        />

        <!-- validation table -->
        <d360-demand-validation-table
          class="flex grow w-full"
          [reloadRequired]="reloadRequired()"
          [materialListEntry]="selectedMaterialListEntry()"
          [planningView]="planningView"
          [kpiDateRange]="dateRange()"
          [confirmContinueAndLooseUnsavedChanges]="
            confirmContinueAndLooseUnsavedChanges.bind(this)
          "
          (valuesChanged)="onValuesChanged($event)"
          [showLoader]="showLoader()"
        />
      </div>
    } @else if (
      globalSelectionStatus() === GlobalSelectionStatus.DATA_NO_RESULTS
    ) {
      <d360-data-hint [text]="t('hint.noData')" />
    } @else if (
      globalSelectionStatus() === GlobalSelectionStatus.DATA_NOTHING_SELECTED
    ) {
      <d360-data-hint [text]="t('hint.selectData')" />
    } @else if (globalSelectionStatus() === GlobalSelectionStatus.DATA_ERROR) {
      <d360-data-hint [text]="t('hint.errorLoadingData')" />
    }
  </d360-styled-section>
</div>
