.table-content-wrapper {
  border-top: 3px solid var(--border-color-light-gray);
}

:host {
  @apply flex h-full;
}

.w-0 {
  transition: flex 0.25s ease-in-out;
  flex: 0;
}

.w-50p {
  flex: 0 0 50%;
}
