.table-container {
  height: 400px;
  margin-top: 10px;

  ag-grid-angular {
    height: 100%;
    width: 100%;
  }
}
::ng-deep ag-grid-angular {
  .ag-status-bar {
    border: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  gq-inputbar {
    width: 100%;
  }
}
