<div
  class="flex h-full min-h-[46px] w-full flex-row justify-center"
  (mouseenter)="setHovered(true)"
  (mouseleave)="setHovered(false)"
>
  <div class="flex-1 pt-3">
    <mac-material-emission-classification
      [value]="params?.valueFormatted ?? params?.value"
      [transparent]="!(params?.valueFormatted ?? params?.value)"
    ></mac-material-emission-classification>
  </div>

  @if (showEdit) {
    <div class="h-full">
      <mat-icon
        mat-icon-button
        [ngClass]="{ '!hidden': !hovered }"
        (click)="onEditClick()"
        class="!text-[12px] text-medium-emphasis mt-5 cursor-pointer"
        >edit</mat-icon
      >
    </div>
  }
</div>
