<div fxLayout="column" *transloco="let t">
  <label
    [innerHTML]="
      control.flexibleLabel
        ? control.flexibleLabel(t(control.name))
        : t(control.name)
    "
  ></label>
  <div fxLayout="row" fxLayoutAlign="space-between top">
    <mat-slider
      fxFlex="80"
      [formControl]="control.formControl"
      [max]="control.max"
      [min]="control.min"
      [step]="control.step"
      (input)="
        control.formControl.patchValue($event.value, { emitEvent: false })
      "
    ></mat-slider>
    <mat-form-field fxFlex="20">
      <input
        matInput
        type="number"
        [formControl]="control.formControl"
        (change)="validate($event.srcElement.value)"
      />
    </mat-form-field>
  </div>
</div>
