ltp-slider {
  mat-form-field {
    margin-top: -2.5px;
  }

  .mat-form-field-infix {
    border: none;
  }

  .mat-input-element {
    text-align: center;
  }

  .slider-tooltip {
    margin-right: 10px;
  }

  .slider-validation-warning {
    color: #fccf46;
    font-size: 12px;
    margin-top: -10px;
  }
}
