<ng-container *ngIf="!(loading$ | ngrxPush); else loading">
  <mat-card
    *transloco="let t; read: 'conditionMonitoring.centerLoad'"
    class="flex-col"
  >
    <mat-card-header>
      <mat-card-title class="flex items-center justify-center">
        <mat-icon svgIcon="icon-load"></mat-icon>
        <span>{{ t('title') }}</span>
      </mat-card-title>
      <mat-card-subtitle>
        <ng-container *ngIf="!averageLoad">
          {{ timeStamp$ | ngrxPush }} | {{ t('updateFrequency') }}:
          {{ refresh }}s</ng-container
        >
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="flex-col space-between items-end">
      <div
        class="flex"
        echarts
        [options]="chartOptions"
        [merge]="loadSenseGraphData$ | ngrxPush"
        class="dashboard-echart center-load-chart"
      ></div>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #loading>
  <mat-card class="placeholder-item"></mat-card>
</ng-template>
