<div
  *transloco="let t; read: 'bearing'"
  class="flex flex-col h-full max-w-full"
>
  <schaeffler-subheader
    class="flex-shrink flex mb-5"
    [showBackButton]="true"
    [title]="t('bearingSelection')"
    (backButtonClicked)="navigateBack()"
  >
    <ng-container content>
      <div class="flex flex-col">
        <div class="flex flex-row">
          <span class="text-subtitle-1 sm:max-w-sm">{{ t('subtitle') }}</span>
        </div>
      </div>
    </ng-container>
  </schaeffler-subheader>
  <schaeffler-search-autocomplete
    [options]="bearingResultList$ | ngrxPush"
    [loading]="loading$ | ngrxPush"
    [formControl]="bearingSearchFormControl"
    [minimumChars]="minimumChars"
    (selection)="handleBearingSelection($event)"
    [label]="t('searchPlaceholder')"
    [noResultsText]="t('noResults')"
  ></schaeffler-search-autocomplete>
  <!-- TODO: enable again -->
  <!-- <div class="flex flex-row -ml-4 -mt-2 mb-4">
    <button
      mat-button
      color="primary"
      [disableRipple]="true"
      class="focus:outline-none tracking-wider uppercase hover:!bg-transparent"
    >
      {{ t('narrowDownSelection') }}
    </button>
  </div> -->
  <div class="flex flex-col flex-1 justify-end sm:w-1/3">
    <img
      class="sm:max-h-full h-auto w-auto sm:object-cover"
      src="../../assets/images/bearingSearch.png"
    />
  </div>
</div>
