<div
  *transloco="let t; read: 'bearing'"
  class="flex h-full max-w-full flex-col"
>
  <schaeffler-subheader
    class="-ml-4"
    [showBackButton]="true"
    [subheaderTitle]="t('bearingSelection')"
    [hideLine]="true"
    (backButtonClicked)="navigateBack()"
  >
    <ng-container subheaderBlockContent>
      <div class="flex flex-col">
        <div class="flex flex-row">
          <span class="text-subtitle-1 sm:max-w-sm">{{ t('subtitle') }}</span>
        </div>
      </div>
    </ng-container>
  </schaeffler-subheader>
  <schaeffler-search-autocomplete
    *ngIf="!detailSelection; else detail_selection"
    [options]="bearingResultList$ | ngrxPush"
    [loading]="loading$ | ngrxPush"
    [formControl]="bearingSearchFormControl"
    [minimumChars]="minimumChars"
    (selection)="handleBearingSelection($event)"
    [label]="t('searchPlaceholder')"
    [noResultsText]="t('noResults')"
  ></schaeffler-search-autocomplete>
  <ng-template #detail_selection>
    <div class="flex flex-col md:w-2/3 lg:w-1/2">
      <form [formGroup]="bearingExtendedSearchParametersForm">
        <ga-select
          class="w-full"
          [control]="bearingType"
          [label]="t('bearingType')"
          [options]="bearingTypes"
          [placeholder]="t('bearingType')"
        ></ga-select>
        <div>
          <div class="flex flex-row">
            <ga-input
              class="w-full"
              [control]="minDi"
              [label]="t('boreDiameter') + ' ' + t('min')"
              [unit]="t('mm')"
              [placeholder]="
                t('pleaseEnter', { label: t('boreDiameter') + ' ' + t('min') })
              "
              [onlyPositive]="true"
            ></ga-input>
            <ga-input
              class="w-full"
              [control]="maxDi"
              [label]="t('boreDiameter') + ' ' + t('max')"
              [unit]="t('mm')"
              [placeholder]="
                t('pleaseEnter', { label: t('boreDiameter') }) + ' ' + t('max')
              "
              [onlyPositive]="true"
            ></ga-input>
          </div>
        </div>
        <div class="flex flex-row">
          <ga-input
            class="w-full"
            [control]="minDa"
            [label]="t('outsideDiameter') + ' ' + t('min')"
            [unit]="t('mm')"
            [placeholder]="
              t('pleaseEnter', { label: t('outsideDiameter') + ' ' + t('min') })
            "
            [onlyPositive]="true"
          ></ga-input>
          <ga-input
            class="w-full"
            [control]="maxDa"
            [label]="t('outsideDiameter') + ' ' + t('max')"
            [unit]="t('mm')"
            [placeholder]="
              t('pleaseEnter', { label: t('outsideDiameter') }) + ' ' + t('max')
            "
            [onlyPositive]="true"
          ></ga-input>
        </div>
        <div class="flex flex-row">
          <ga-input
            class="w-full"
            [control]="minB"
            [label]="t('width') + ' ' + t('min')"
            [unit]="t('mm')"
            [placeholder]="
              t('pleaseEnter', { label: t('width') + ' ' + t('min') })
            "
            [onlyPositive]="true"
          ></ga-input>
          <ga-input
            class="w-full"
            [control]="maxB"
            [label]="t('width') + ' ' + t('max')"
            [unit]="t('mm')"
            [placeholder]="
              t('pleaseEnter', { label: t('width') }) + ' ' + t('max')
            "
            [onlyPositive]="true"
          ></ga-input>
        </div>
      </form>
      <!-- <pre>{{ bearingExtendedSearchParameters$ | ngrxPush | json }}</pre> -->

      <div *ngrxLet="bearingResultExtendedSearchList$; let bearings">
        <div class="mb-5">
          <button
            mat-raised-button
            class="w-full"
            color="primary"
            [disabled]="bearings.length < 1 || bearings.length > 99"
          >
            {{ t('selectBearingFromList', { amount: bearings.length }) }}
          </button>
        </div>
        <div class="flex flex-col">
          <button
            *ngFor="let bearing of bearings"
            (click)="handleBearingSelection(bearing.id)"
          >
            {{ bearing.title }}
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  <div *ngIf="localDev" class="-ml-4 -mt-2 mb-4 flex flex-row">
    <button
      mat-button
      color="primary"
      [disableRipple]="true"
      (click)="toggleSelection()"
    >
      {{ t(!detailSelection ? 'narrowDownSelection' : 'easySelection') }}
    </button>
  </div>
  <div class="flex flex-1 flex-col justify-end sm:w-1/3">
    <img
      class="h-auto w-auto sm:max-h-full sm:object-cover"
      src="../../assets/images/bearingSearch.png"
    />
  </div>
</div>
