<div class="flex flex-col md:gap-6 gap-2" *ngIf="selectionOptions">
  <ng-container
    *ngIf="(isMediumScreen$ | async) || simplifiedMobile; else mobileView"
  >
    <mat-radio-group [formControl]="control" class="flex flex-wrap">
      <div
        class="flex mb-4 md:mb-0"
        *ngFor="let option of selectionOptions; let last = last"
        [matTooltip]="option.tooltip"
      >
        <mat-radio-button
          [value]="option.value"
          color="primary"
          [disabled]="option.disabled"
        >
          {{ option.label }}
        </mat-radio-button>
        <mat-divider [vertical]="true" *ngIf="!last" class="mx-4"></mat-divider>
      </div>
    </mat-radio-group>

    <div
      class="flex flex-row gap-4"
      [ngClass]="visibleTemplate.styleClass"
      *ngIf="visibleTemplate$ | async as visibleTemplate"
    >
      <ng-template *ngTemplateOutlet="visibleTemplate.ref"></ng-template>
    </div>
  </ng-container>
</div>

<!-- Mobile view -->
<ng-template #mobileView>
  <ng-container *ngIf="!simplifiedMobile">
    <div
      *ngFor="let option of selectionOptions"
      class="bg-secondary-variant flex flex-col px-2 py-4 rounded-lg gap-4"
      [ngClass]="mobileStyleClass"
    >
      <ea-radio-button
        [label]="option.label"
        [value]="option.value"
        [formControl]="control"
      ></ea-radio-button>
      <div
        class="flex flex-col gap-2"
        [ngClass]="templateMap[option.value].styleClass"
        *ngIf="option.value === control?.value"
      >
        <ng-template
          *ngTemplateOutlet="templateMap[option.value].ref"
        ></ng-template>
      </div></div
  ></ng-container>
</ng-template>
