<div class="ea-flex ea-flex-col md:ea-gap-6 ea-gap-2" *ngIf="selectionOptions">
  <ng-container *ngIf="isMediumScreen$ | async; else mobileView">
    <mat-radio-group [formControl]="control" class="ea-flex ea-flex-wrap">
      <div
        class="ea-flex"
        *ngFor="let option of selectionOptions; let last = last"
      >
        <mat-radio-button
          [value]="option.value"
          color="primary"
          (change)="selectOption($event.value)"
        >
          {{ option.label }}
        </mat-radio-button>
        <mat-divider
          [vertical]="true"
          *ngIf="!last"
          class="ea-mx-4"
        ></mat-divider>
      </div>
    </mat-radio-group>

    <div class="ea-flex ea-flex-row ea-gap-4">
      <ng-template *ngTemplateOutlet="visibleTemplate"></ng-template>
    </div>
  </ng-container>
</div>

<!-- Mobile view -->
<ng-template #mobileView>
  <div
    *ngFor="let option of selectionOptions"
    class="ea-bg-secondary-variant ea-flex ea-flex-col ea-px-2 ea-py-4 ea-rounded-lg ea-gap-4"
  >
    <ea-radio-button
      [label]="option.label"
      [value]="option.value"
      [formControl]="control"
    ></ea-radio-button>

    <div
      class="ea-flex ea-flex-col ea-gap-2"
      *ngIf="option.value === control?.value"
    >
      <ng-template *ngTemplateOutlet="templateMap[option.value]"></ng-template>
    </div>
  </div>
</ng-template>
