<mat-card class="extension-card">
  <mat-card-header
    fxLayout="row"
    fxLayoutAlign="space-between start"
    class="extension-card-header"
  >
    <mat-card-subtitle>
      Tableau Extension <span *ngIf="extension.WIP">(WIP)</span>
    </mat-card-subtitle>
    <mat-card-title>{{ extension.name }}</mat-card-title>
    <mat-icon class="extension-icon">{{
      getMaterialIcon(extension.icon).icon
    }}</mat-icon>
  </mat-card-header>
  <mat-card-content class="extension-card-content">
    <p>
      {{ extension.description }}
    </p>
  </mat-card-content>
  <mat-card-actions
    *ngIf="!extension.WIP"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="start start"
    fxLayoutGap="8px"
  >
    <button mat-button [routerLink]="[extension.name]">
      DETAILS
    </button>
    <schaeffler-steel-extension-download
      [file]="extension.manifest"
    ></schaeffler-steel-extension-download>
  </mat-card-actions>
  <mat-card-actions *ngIf="extension.WIP" fxLayout="row">
    <a
      type="button"
      mat-button
      href="{{
        'mailto:alrezaas@schaeffler.com?cc=krausrbe@schaeffler.com&subject=Tableau Extensions Request&body=I would like to have access to the experimental ' +
          extension.name +
          ' Extension.'
      }}"
      >CONTACT US
    </a>
    <div></div>
  </mat-card-actions>
</mat-card>
