@import 'libs/shared/styles/src/lib/colors';

.extension-card {
  margin-bottom: 30px;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

.extension-card-header,
.extension-card-content {
  margin: 0 8px;
}

.extension-icon {
  color: $schaeffler-carbon-gray;
}

mat-card-title {
  color: $schaeffler-carbon-gray;
}

mat-card-subtitle {
  color: $schaeffler-carbon-gray;
  font-size: 16px;
}

mat-card-actions {
  color: $schaeffler-green-1;
  .mat-button {
    font-weight: bold;
  }
}
