<div
  class="relative flex flex-col min-h-[650px] bg-white"
  *ngrxLet="selectedChartType$ as selectedChart"
>
  <ia-toggle-charts
    [chartType]="selectedChart"
    (changed)="chartTypeChanged($event)"
  ></ia-toggle-charts>
  <ia-org-chart
    class="flex-grow flex flex-col"
    *ngIf="selectedChart === chartType.ORG_CHART"
    [data]="orgChart$ | ngrxPush"
    [isLoading]="isLoadingOrgChart$ | ngrxPush"
    (showParent)="loadParent($event)"
  ></ia-org-chart>
  <ia-world-map
    *ngIf="selectedChart === chartType.WORLD_MAP"
    [data]="worldMap$ | ngrxPush"
    [continents]="worldMapContinents$ | ngrxPush"
    [isLoading]="isLoadingWorldMap$ | ngrxPush"
  ></ia-world-map>
</div>
