<div
  class="relative flex h-full min-h-[400px] flex-col bg-surface"
  *ngrxLet="selectedChartType$ as selectedChart"
>
  <ia-toggle-charts
    [chartType]="selectedChart"
    (changed)="chartTypeChanged($event)"
  ></ia-toggle-charts>
  <div class="grow">
    <ia-org-chart
      *ngIf="selectedChart === chartType.ORG_CHART"
      [data]="orgChart$ | ngrxPush"
      [isLoading]="isLoadingOrgChart$ | ngrxPush"
      (showParent)="loadParent($event)"
      (loadMeta)="loadFluctuationMeta($event)"
    ></ia-org-chart>
    <ia-world-map
      *ngIf="selectedChart === chartType.WORLD_MAP"
      [data]="worldMap$ | ngrxPush"
      [regions]="regions$ | ngrxPush"
      [selectedTimeRange]="(selectedTimeRange$ | ngrxPush).value"
      [isLoading]="isLoadingWorldMap$ | ngrxPush"
      (loadRegionMeta)="loadRegionMeta($event)"
      (loadCountryMeta)="loadCountryMeta($event)"
    ></ia-world-map>
  </div>

  <!-- TODO: add again once heat feature is activated -->
  <!-- <div class="absolute right-1 bottom-1 flex flex-col">
    <ia-chart-legend
      [items]="chartLegendItems"
      [title]="'organizationalView.worldMap.chartLegend.title'"
    ></ia-chart-legend>
  </div> -->
</div>
