<mat-card
  appearance="outlined"
  class="mat-elevation-z0 border-x-border border-y-border w-full grow rounded border-[1px]"
  *transloco="let t; read: 'shared.kpiStatusCard'"
>
  <mat-card-content>
    <div class="align-center items-center flex flex-row gap-2">
      @if (rating) {
        <div
          class="relative h-5 w-5 rounded-full bg-opacity-20"
          [ngClass]="{
            'bg-[#00893D]': rating === ratingStatus.GOOD,
            'bg-error': rating === ratingStatus.LOW,
            'bg-[#FFA026]': rating === ratingStatus.MEDIUM
          }"
        >
          <div
            class="absolute left-1 top-1 h-3 w-3 rounded-full"
            [ngClass]="{
              'bg-[#00893D]': rating === ratingStatus.GOOD,
              'bg-error': rating === ratingStatus.LOW,
              'bg-[#FFA026]': rating === ratingStatus.MEDIUM
            }"
          ></div>
        </div>
      }
      <mat-card-title class="!text-high-emphasis !gq-text-5 !leading-6">
        {{ title }}
        @if (warning) {
          <mat-icon
            [matTooltip]="warningInfo"
            matTooltipClass="whitespace-pre-line !text-caption"
            class="!text-caption !text-icon !text-orange ml-[5px] mt-[5px] cursor-help p-[1px] align-text-top"
            >warning_amber</mat-icon
          >
        }
      </mat-card-title>
    </div>
    @if (rating) {
      <div class="flow-row pt-2 flex gap-2">
        <span
          class="mat-mdc-card-subtitle !text-caption"
          [ngClass]="{
            '!text-[#00893D]': rating === ratingStatus.GOOD,
            '!text-error': rating === ratingStatus.LOW,
            '!text-[#FFA026]': rating === ratingStatus.MEDIUM
          }"
          >{{ t('status.' + ratingText) }}
        </span>
        <span class="mat-mdc-card-subtitle !text-caption !opacity-[0.12]"
          >|</span
        >
        @if (subtitle) {
          <mat-card-subtitle class="!text-caption">
            {{ subtitle }}
          </mat-card-subtitle>
        }
      </div>
    } @else {
      @if (subtitle) {
        <mat-card-subtitle class="!text-caption">
          {{ subtitle }}
        </mat-card-subtitle>
      }
    }
    @if (kpiValue) {
      <mat-card-content class="!text-h4 !p-0 !pt-6">
        {{ kpiValue }}
      </mat-card-content>
    } @else {
      <div class="!pt-2">
        <ng-content></ng-content>
      </div>
    }
  </mat-card-content>
</mat-card>
