<mat-card
  class="mat-elevation-z0 w-full grow rounded border-[1px] border-x-border border-y-border"
>
  <mat-card-title class="text-h6 truncate text-high-emphasis">
    {{ title }}
  </mat-card-title>

  <mat-card-subtitle class="text-caption text-medium-emphasis" *ngIf="subtitle">
    {{ subtitle }}
  </mat-card-subtitle>

  <ng-container *ngIf="kpiValue; else customContent">
    <mat-card-content class="pt-6 text-h4">
      {{ kpiValue }}
    </mat-card-content>
  </ng-container>

  <ng-template #customContent>
    <div class="pt-2">
      <ng-content></ng-content>
    </div>
  </ng-template>
</mat-card>
