<div
  *transloco="
    let t;
    prefix: 'processCaseView.tabs.overview.generalInformation.attachments'
  "
  class="flex flex-row flex-wrap text-body-medium text-on-surface-variant mb-2 justify-between items-center"
>
  <span label>{{ t('title') }}</span>

  <label class="flex" (click)="openAddFileDialog()">
    <mat-icon class="cursor-pointer">add</mat-icon>
  </label>
</div>

<gq-attachments
  *transloco="
    let t;
    prefix: 'processCaseView.tabs.overview.generalInformation.attachments'
  "
  [attachments]="attachments"
  [deleteButtonEnabled]="quotationActive$ | ngrxPush"
  [deleteButtonDisabledTooltipText]="
    workflowInProgress || quotationFullyApproved
      ? t('toolTipApprovalWorkFlowStarted')
      : t('toolTipDeletedDrafts')
  "
  (downloadClicked)="downloadAttachment($event)"
  (deleteClicked)="openConfirmDeleteAttachmentDialog($event)"
>
</gq-attachments>
