<div
  *transloco="
    let t;
    read: 'processCaseView.tabs.overview.generalInformation.attachments'
  "
  class="flex flex-row flex-wrap text-body-2 text-medium-emphasis mb-2 justify-between items-center"
>
  <span label>{{ t('title') }}</span>

  <label (click)="openAddFileDialog()">
    <mat-icon class="cursor-pointer">add</mat-icon>
  </label>
</div>

<div class="mb-3" *ngFor="let attachment of attachments; trackBy: trackByFn">
  <div
    class="flex flex-row items-center"
    *transloco="
      let t;
      read: 'processCaseView.tabs.overview.generalInformation.attachments'
    "
  >
    <div class="flex flex-col whitespace-nowrap overflow-hidden text-ellipsis">
      <span
        class="text-high-emphasis text-body-2 hover:text-link hover:underline hover:cursor-pointer"
        (click)="downloadFile(attachment)"
      >
        {{ attachment.fileName }}
      </span>
      <span class="text-medium-emphasis text-[12px]">
        {{
          t('uploadInformation', {
            at: attachment.uploadedAt | translocoDate: translocoDatePipeConfig,
            by: attachment.uploadedBy
          })
        }}
      </span>
    </div>
    <div class="ml-auto text-approval-status-grey">
      <div class="group inline-block">
        <mat-icon
          class="w-3 h-3 hover:text-approval-status-green relative text-approval-status-grey"
        >
          <span class="group-hover:opacity-0"> delete </span>
          <mat-icon
            class="absolute inset-0 flex items-center justify-center font-bold opacity-0 group-hover:opacity-100 text-[8px] hover:cursor-pointer"
          >
            delete_forever
          </mat-icon>
        </mat-icon>
      </div>
    </div>
  </div>
</div>
