<ng-container *ngIf="filterName">
  <mat-form-field
    class="w-full"
    appearance="outline"
    *transloco="let t; read: 'shared.caseMaterial.addEntry'"
    [ngClass]="{ 'error-quotation': !isValid }"
  >
    <mat-label class="error-quotation-label">{{
      t(filterName + '.label')
    }}</mat-label>
    <input
      class="!text-subtitle-1"
      [formControl]="searchFormControl"
      (paste)="onPaste($event)"
      matInput
      #valueInput
      [matAutocomplete]="auto"
      cdkFocusInitial
    />
    <mat-spinner
      *ngIf="autocompleteLoading"
      matSuffix
      [diameter]="18"
    ></mat-spinner>
    <mat-hint>{{ t(filterName + '.hint') }}</mat-hint>
    <mat-error *ngIf="searchFormControl.hasError('invalidInput')">{{
      t(filterName + '.wrongInput')
    }}</mat-error>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option
        *ngFor="let idValue of unselectedOptions; trackBy: trackByFn"
        [value]="idValue"
      >
        <span> {{ idValue.id }} | {{ idValue.value }}</span>
        <span *ngIf="idValue.value2"> | {{ idValue.value2 }}</span>
      </mat-option>
      <mat-option
        disabled
        *ngIf="
          unselectedOptions
            | noResultsFound
              : selectedIdValue
              : searchFormControl.value
              : autocompleteLoading
              : debounceIsActive
        "
      >
        {{ t(filterName + '.nothingFound') }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</ng-container>
