<div
  class="h-full flex flex-col"
  *transloco="let t; read: 'shared.bom.additionalInformation'"
>
  <div
    class="cursor-pointer h-[50px] flex items-center"
    matRipple
    (click)="onClose()"
  >
    <mat-icon class="text-mediumEmphasis mx-4">close</mat-icon>
    <span>{{ t('title') }}</span>
  </div>
  <mat-tab-group mat-stretch-tabs class="flex-1">
    <mat-tab label="{{ t('calculations') | uppercase }}">
      <div class="h-full">
        <ng-content select="[calculations]"></ng-content>
      </div>
    </mat-tab>
    <mat-tab label="{{ t('chart') | uppercase }}">
      <ng-content select="[chart]"></ng-content>
    </mat-tab>
  </mat-tab-group>
</div>
