<mat-card>
  <div
    class="mat-card-inner"
    fxLayout="row"
    *transloco="
      let t;
      read: 'processCaseView.processCaseHeader.customerDetails'
    "
  >
    <div fxFlex="90">
      <div gdColumns="repeat(14, 9%)" gdRows="repeat(2, 1fr)">
        <div
          *ngFor="
            let costumerDetail of costumerDetails;
            let index = index;
            trackBy: trackByFn
          "
          gdColumn="{{ index + 1 - (index % 2) }} / {{
            index - (index % 2) + 3
          }}"
          gdRow="{{ (index % 2) + 1 }} / {{ (index % 2) + 1 }}"
          fxLayout="row"
        >
          <div fxFlex="40">{{ t(costumerDetail.title) }}:</div>
          <div fxFlex="60">{{ costumerDetail.value }}</div>
        </div>
      </div>
    </div>
    <button fxFlex="10" mat-flat-button>
      {{ t('details') }}
    </button>
  </div>
</mat-card>
