<div *transloco="let t">
  <div mat-dialog-title class="m-0 pt-0">
    @if (data.isNewSubstitution) {
      <h2 class="text-title-large">
        {{ t('internal_material_replacement.title.newSubstitution') }}
      </h2>
    } @else {
      <h2 class="text-title-large">
        {{ t('internal_material_replacement.title.editSubstitution') }}
      </h2>
    }
  </div>
  <mat-dialog-content>
    @if (loading() || (selectableOptionsService.loading$ | ngrxPush)) {
      <div>
        <schaeffler-loading-spinner [useBearingLoadingSpinner]="true" />
      </div>
    } @else {
      <div class="grid grid-cols-1 md:grid-cols-3 gap-x-4">
        <!-- replacementType -->
        <d360-filter-dropdown
          [form]="formGroup"
          [control]="$any(formGroup.controls.replacementType)"
          [label]="t(translationStart + '.replacementType')"
          [options]="replacementTypeOptions"
          (selectionChange)="updateForm($event)"
          [formatOptionValue]="DisplayFunctions.displayFnText"
          [formatSelectedValue]="DisplayFunctions.displayFnText"
        />

        <!-- region -->
        <d360-filter-dropdown
          [control]="$any(formGroup.controls.region)"
          [form]="formGroup"
          [label]="t('globalSelection.region')"
          [options]="selectableOptionsService.get('region').options"
          class="col-start-1 col-end-1"
          [formatOptionValue]="DisplayFunctions.displayFnUnited"
        ></d360-filter-dropdown>

        <!-- salesArea -->
        <d360-single-autocomplete-pre-loaded
          [form]="formGroup"
          [control]="$any(formGroup.controls.salesArea)"
          [label]="t('globalSelection.sales_area')"
          [optionsLoadingResult]="selectableOptionsService.get('salesArea')"
          [getOptionLabelInTag]="DisplayFunctions.displayFnUnited"
          [displayFn]="DisplayFunctions.displayFnUnitedNullable"
        />

        <!-- salesOrgControl -->
        <d360-single-autocomplete-pre-loaded
          [form]="formGroup"
          [control]="$any(formGroup.controls.salesOrg)"
          [label]="t('globalSelection.sales_org.rootString', {})"
          [optionsLoadingResult]="selectableOptionsService.get('salesOrg')"
          [getOptionLabelInTag]="DisplayFunctions.displayFnUnited"
          [displayFn]="DisplayFunctions.displayFnUnitedNullable"
        />

        <!-- customer -->
        <d360-single-autocomplete-on-type
          [label]="t('globalSelection.customer.rootString')"
          urlBegin="global-selection/search-customers"
          [form]="formGroup"
          [control]="$any(formGroup.controls.customerNumber)"
        ></d360-single-autocomplete-on-type>

        <!-- predecessorMaterial -->
        <d360-single-autocomplete-on-type
          [label]="
            t('internal_material_replacement.column.predecessorMaterial')
          "
          urlBegin="global-selection/search-materials"
          [form]="formGroup"
          [control]="$any(formGroup.controls.predecessorMaterial)"
        ></d360-single-autocomplete-on-type>

        <!-- successorMaterial -->
        <d360-single-autocomplete-on-type
          [label]="t('internal_material_replacement.column.successorMaterial')"
          urlBegin="global-selection/search-materials"
          [form]="formGroup"
          [control]="$any(formGroup.controls.successorMaterial)"
        ></d360-single-autocomplete-on-type>

        <!-- startOfProduction -->
        <d360-date-picker
          [minDate]="data.isNewSubstitution ? TODAY : null"
          [maxDate]="data.isNewSubstitution ? MAX_DATE : null"
          [control]="$any(formGroup.controls.startOfProduction)"
          [label]="t(translationStart + '.startOfProduction')"
          [errorMessage]="startOfProductionCustomErrorMessage()"
        ></d360-date-picker>

        <!-- cutOverDate -->
        <d360-date-picker
          [minDate]="data.isNewSubstitution ? TODAY : null"
          [maxDate]="data.isNewSubstitution ? MAX_DATE : null"
          [control]="$any(formGroup.controls.cutoverDate)"
          [label]="t(translationStart + '.cutoverDate')"
          [errorMessage]="cutoverDateCustomErrorMessage()"
        ></d360-date-picker>

        <!-- replacementDate -->
        <d360-date-picker
          [minDate]="data.isNewSubstitution ? TODAY : null"
          [maxDate]="data.isNewSubstitution ? MAX_DATE : null"
          [control]="$any(formGroup.controls.replacementDate)"
          [label]="t(translationStart + '.replacementDate')"
          [errorMessage]="replacementDateCustomErrorMessage()"
          [hint]="
            t('internal_material_replacement.helper_text.replacementDate')
          "
        ></d360-date-picker>

        <!-- comment -->
        <mat-form-field
          [formGroup]="formGroup"
          appearance="outline"
          class="md:col-span-3"
        >
          <mat-label>{{ t('alert_rules.edit_modal.label.remark') }} </mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="4"
            #autosize="cdkTextareaAutosize"
            [formControl]="$any(formGroup.controls.note)"
          ></textarea>
          <mat-hint
            >{{ t('internal_material_replacement.helper_text.note', {}) }}
          </mat-hint>
        </mat-form-field>
      </div>
    }
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="handleOnClose(false, null)">
      {{ t('button.close') }}
    </button>
    <button
      [disabled]="loading() || (selectableOptionsService.loading$ | ngrxPush)"
      (click)="onSave()"
      mat-flat-button
    >
      {{ t('button.save') }}
    </button>
  </mat-dialog-actions>
</div>
