<div fxLayout="column" class="container">
  <div fxLayout="row" fxLayoutAlign="start center" class="details-page-header">
    <mat-icon
      fontSet="schaeffler-icons"
      fontIcon="icon-arrow-west"
      color="secondary"
      (click)="backToSearch()"
    ></mat-icon>
    <h1 *ngIf="referenceType$ | async">
      {{ (referenceType$ | async)?.materialDesignation }} |
      {{ (referenceType$ | async)?.materialNumber }}
    </h1>
  </div>
  <nav mat-tab-nav-bar mat-stretch-tabs *transloco="let t; read: 'detail'">
    <a
      *ngFor="let tab of tabs; trackBy: trackByFn()"
      mat-tab-link
      queryParamsHandling="merge"
      routerLinkActive
      #rla="routerLinkActive"
      [routerLink]="tab.link"
      [active]="rla.isActive"
      >{{ t(tab.label) }}</a
    >
  </nav>
  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</div>
