<ng-container *ngrxLet="referenceType$; let referenceType">
  <cdba-page-header
    *transloco="let t; read: 'detail'"
    [title]="
      referenceType
        ? (referenceType.materialDesignation | scrambleMaterialDesignation: 0) +
          ' | ' +
          (referenceType.materialNumber
            | materialNumber
            | scrambleMaterialNumber: 0)
        : t('errorTitle')
    "
  >
    <cdba-pcm-badge
      *ngIf="referenceType?.isPcmRow"
      titleContent
      size="large"
    ></cdba-pcm-badge>
    <ng-container breadcrumbs>
      <schaeffler-breadcrumbs
        [breadcrumbs]="breadcrumbs$ | ngrxPush"
      ></schaeffler-breadcrumbs>
    </ng-container>
    <schaeffler-share-button header></schaeffler-share-button>
    <div content class="h-full min-h-[830px]">
      <cdba-tabs-header [tabs]="tabs"> </cdba-tabs-header>
    </div>
  </cdba-page-header>
</ng-container>
