<div
  *transloco="let t; read: 'shared.caseMaterial.addEntry'"
  class="addRowContainer"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxFlexFill
>
  <div
    fxFlex="40%"
    fxLayoutAlign="start start"
    *ngIf="materialNumber$ | async as materialNumber"
    class="rowInput"
  >
    <gq-autocomplete-input
      fxFill
      #materialNumberInput
      [filterName]="materialNumber.filter"
      [options]="materialNumber.options"
      [isDisabled]="_isDisabled"
      (inputContent)="materialHasInput($event)"
      (unselected)="unselectOptions(materialNumber.filter)"
      (added)="selectOption($event, materialNumber.filter)"
      (isValid)="materialNumberValid($event)"
      [autocompleteLoading]="materialNumberAutocompleteLoading$ | async"
      (autocomplete)="autocomplete($event)"
    ></gq-autocomplete-input>
  </div>
  <div fxFlex="40%" fxLayoutAlign="center start" class="rowInputContainer">
    <mat-form-field appearance="outline" class="rowInputField">
      <mat-label class="error-quotation-label">
        {{ t('quantity.label') }}
      </mat-label>
      <input
        class="input-field"
        matInput
        #valueInput
        (keypress)="numberOnly($event)"
        [formControl]="quantityFormControl"
      />
      <mat-hint>{{ t('quantity.hint') }}</mat-hint>
      <mat-error *ngIf="quantityFormControl.hasError('invalidInput')">{{
        t('quantity.error')
      }}</mat-error>
    </mat-form-field>
  </div>
  <div fxFlex fxLayoutAlign="center start">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!addRowEnabled"
      (click)="addRow()"
      class="add-entry"
    >
      <mat-icon>add</mat-icon>
      {{ t('button') | uppercase }}
    </button>
  </div>
</div>
