<div
  class="flex h-full flex-col w-full mb-6"
  *transloco="let t; read: 'shared.caseMaterial.addEntry'"
>
  <div>
    <div class="mt-6">
      <span class="text-h6 text-light font-medium">
        {{ t('addItems') }}
      </span>
      <div class="float-right">
        <button
          class="!pl-4 !pr-4"
          mat-stroked-button
          color="primary"
          (click)="pasteFromClipboard()"
        >
          <mat-icon>content_paste</mat-icon>
          <span class="font-medium ml-4">
            {{ t('pasteFromClipboard') }}
          </span>
        </button>
        <button class="ml-2 align-bottom" (click)="displaySnackBar()">
          <gq-info-icon [showHelpIcon]="true"> </gq-info-icon>
        </button>
      </div>
    </div>
    <hr class="opacity-[12%] mt-6" />
  </div>

  <div class="mt-6 flex flex-row w-full">
    <div class="w-1/4" *ngIf="materialDesc$ | ngrxPush as materialDesc">
      <gq-autocomplete-input
        #materialDescInput
        [filterName]="materialDesc.filter"
        [options]="materialDesc.options"
        (inputContent)="materialHasInput($event)"
        (unselected)="unselectOptions(materialDesc.filter)"
        (added)="selectOption($event, materialDesc.filter)"
        (isValid)="materialInputValid($event)"
        [autocompleteLoading]="materialDescAutocompleteLoading$ | ngrxPush"
        (autocomplete)="autocomplete($event)"
      ></gq-autocomplete-input>
    </div>
    <div
      class="w-1/4 ml-6"
      *ngIf="materialNumber$ | ngrxPush as materialNumber"
    >
      <gq-autocomplete-input
        #materialNumberInput
        [filterName]="materialNumber.filter"
        [options]="materialNumber.options"
        (inputContent)="materialHasInput($event)"
        (unselected)="unselectOptions(materialNumber.filter)"
        (added)="selectOption($event, materialNumber.filter)"
        (isValid)="materialInputValid($event)"
        [autocompleteLoading]="materialNumberAutocompleteLoading$ | ngrxPush"
        (autocomplete)="autocomplete($event)"
      ></gq-autocomplete-input>
    </div>
    <div class="w-1/4 ml-6">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>
          {{ t('quantity.label') }}
        </mat-label>
        <input
          (keydown)="onQuantityKeyPress($event)"
          (paste)="onQuantityPaste($event)"
          class="text-overline"
          autocomplete="off"
          matInput
          #valueInput
          min="1"
          type="number"
          [formControl]="quantityFormControl"
        />
        <mat-hint>{{ t('quantity.hint') }}</mat-hint>
        <mat-error *ngIf="quantityFormControl.hasError('invalidInput')">{{
          t('quantity.error')
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="w-1/4 ml-6">
      <button
        class="!mt-6"
        mat-raised-button
        color="primary"
        [disabled]="!addRowEnabled"
        (click)="addRow()"
      >
        <mat-icon>add</mat-icon>
        {{ t('button') }}
      </button>
    </div>
  </div>
</div>
