@import 'libs/shared/ui/styles/src/lib/mediaqueries';
@import 'libs/shared/ui/styles/src/lib/colors';
@import 'libs/shared/ui/styles/src/lib/fonts';

.addRowContainer {
  margin-bottom: 15px;
  margin-top: 10px;
}
.rowInput {
  width: 100%;
}

.rowInputContainer {
  margin-right: 5px;
}
.rowInputField {
  margin-left: 10px;
  width: 100%;
}

.input-field {
  font-size: 14px;
}

button {
  font-weight: bold;
  margin-top: 10px;
  padding-left: 0;
  width: 200px;
}
