<div class="flex h-full flex-col">
  <div class="border-b border-border bg-surface py-4">
    <div class="pl-14 pr-5">
      <ng-content select="[breadcrumbs]"></ng-content>
    </div>
    <div class="flex flex-row items-center gap-3 px-4">
      <mat-icon
        *ngIf="showBackButton"
        class="flex-none cursor-pointer text-medium-emphasis"
        cdbaBackButton
      >
        arrow_back
      </mat-icon>

      <h4>
        {{ title }}
      </h4>

      <div class="flex-auto">
        <ng-content select="[titleContent]"></ng-content>
      </div>

      <div class="flex-none">
        <ng-content select="[header]"></ng-content>
      </div>
    </div>
  </div>
  <div class="grow">
    <ng-content select="[content]"></ng-content>
  </div>
</div>
