<div class="mt-4" *transloco="let t; read: 'employeeListDialog'">
  <span
    class="text-body-2 mb-[0.5rem] block h-[3.6em] overflow-hidden text-ellipsis break-words leading-[1.8em]"
    [matTooltip]="title"
    [matTooltipDisabled]="!showTooltip"
    >{{ title }}</span
  >
  <h4 class="mb-2">{{ value | defaultValue }}</h4>
  <div [class]="'text-high-emphasis'">
    <button
      mat-fab
      color="primary"
      class="mt-2"
      *ngIf="showTeamMemberDialog"
      [disabled]="employeeLoadingDisabled"
      (click)="openTeamMemberDialog()"
      [ngClass]="{
        'cursor-not-allowed': employeeLoadingDisabled
      }"
    >
      <mat-icon>people</mat-icon>
    </button>
  </div>
</div>
