<div
  class="toolbar-container flex items-center justify-between"
  *transloco="let t"
>
  <div class="flex items-center">
    <button mat-button (click)="onToggleFilter()">
      <mat-icon>filter_list</mat-icon>
      {{ t('table.toolbar.toggleFilters') }}
    </button>

    @if (getFilterCount() && getFilterCount() > 0) {
      <div>
        <span class="separator">|</span>
        <span class="count text-body-medium">{{ getFilterCountText() }}</span>
      </div>
    }

    @if (totalRowCount() > 0) {
      <div>
        <span class="separator">|</span>
        <span class="count text-body-medium">{{ getTotalRowCountText() }}</span>
      </div>
    }
  </div>

  <div class="flex items-center">
    <button
      mat-button
      (click)="onResetFilters()"
      [disabled]="!getFilterCount()"
    >
      <mat-icon>clear</mat-icon>
      {{ t('table.toolbar.resetFilters') }}
    </button>

    <button mat-button [disabled]="isExportDisabled()" (click)="openExport()">
      <mat-icon>swap_vert</mat-icon>
      {{ t('button.export') }}
    </button>

    <div class="relative">
      <button mat-icon-button (click)="openColumnLayoutManagementModal($event)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
</div>
