<div
  class="toolbar-container flex items-center justify-between"
  *transloco="let t"
>
  <div class="flex items-center">
    <button mat-button (click)="onToggleFilter()">
      <mat-icon>filter_list</mat-icon>
      Filter
    </button>

    @if (totalRowCount() > 0) {
      <div>
        <span class="separator">|</span>
        <span class="count">{{ getTotalRowCountText() }}</span>
      </div>
    }

    @if (getFilterCount() && getFilterCount() > 0) {
      <div>
        <span class="separator">|</span>
        <span class="count">{{ getFilterCountText() }}</span>
      </div>
    }
  </div>

  <div class="flex items-center">
    <button mat-button [disabled]="isExportDisabled()" (click)="openExport()">
      <mat-icon>swap_vert</mat-icon>
      {{ t('button.export') }}
    </button>

    <div class="relative">
      <button mat-icon-button (click)="openColumnLayoutManagementModal($event)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
</div>
