<div *ngIf="title && items">
  <mat-form-field
    [formGroup]="form"
    class="w-full"
    *transloco="
      let t;
      read: 'caseView.caseCreation.createCustomerCase.additionalMaterials'
    "
  >
    <mat-label>{{ title }}</mat-label>
    <mat-select
      multiple
      formControlName="items"
      (selectionChange)="selectionChange($event)"
    >
      <mat-select-trigger *ngIf="form?.value?.items">
        <span>
          {{ form.value.items | multiSelect }}
        </span>
      </mat-select-trigger>
      <mat-option
        #allSelected
        (click)="toggleAllSelection()"
        [value]="0"
        *ngIf="items.length > 0"
      >
        <span class="pl-4"> {{ t('selectAll') }} </span>
        <hr class="opacity-[12%]" />
      </mat-option>
      <mat-option
        *ngFor="let item of items; let i = index"
        [value]="item.value"
      >
        <span class="pl-4">
          {{ item.value }} <span *ngIf="item.name">| {{ item.name }}</span>
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
