<div class="page-container">
  <h1>Auto Tagging</h1>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <div class="mat-elevation-z8 background-white" fxFlex="100%">
      <mat-tab-group dynamicHeight="true">
        <mat-tab label="Text Input">
          <div class="main-container">
            <sta-text-input
              (btnClicked)="getTagsForText($event)"
              btnText="Generate Tags"
              [defaultText]="demoTextEn"
            ></sta-text-input>
          </div>
        </mat-tab>
        <mat-tab label="File Upload">
          <div class="main-container">
            <sta-file-upload
              (fileUploaded)="getTagsForFile($event)"
              [fileStatus]="fileStatus"
            ></sta-file-upload>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
