<div class="page-container">
  <h1>Auto Tagging</h1>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <div class="main-container tagging-container" fxFlex="40%">
      <div fxLayout="column" fxLayoutAlign="space-around start">
        <mat-form-field class="textInput" floatLabel="always">
          <mat-label>Text</mat-label>
          <textarea
            matTextareaAutosize
            matAutosizeMinRows="10"
            matInput
            placeholder="Enter a text to get tags for"
            [formControl]="textFormControl"
          >
          </textarea>
          <mat-error *ngIf="!textFormControl.valid">
            Your text must contain at least {{ minLength }} characters.
          </mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          class="tags-btn"
          (click)="getTags()"
          [disabled]="!textFormControl.valid"
        >
          Get Tags
        </button>
      </div>
    </div>
  </div>
</div>
