<div *transloco="let t; read: 'overview'">
  <h5>{{ t('entriesExits') }}</h5>
  <div class="flex flex-row">
    <div class="flex flex-col grow">
      <div class="px-4">
        <ia-kpi
          [title]="t('entries')"
          [value]="entriesCount"
          [employees]="entryEmployees"
          [employeeListDialogMetaHeadings]="employeeListDialogMetaHeadings"
        ></ia-kpi>
      </div>
      <ia-loose-doughnut-chart
        class="pt-6"
        [data]="entriesDoughnutConfig"
        [initialConfig]="initialConfig"
        [isLoading]="isDataLoading"
        [legendSelectAction]="legendSelectAction"
      ></ia-loose-doughnut-chart>
    </div>

    <div class="flex flex-col grow">
      <div class="px-4">
        <ia-kpi
          [title]="t('exits')"
          [value]="exitsCount"
          [employees]="exitEmployees"
          [employeeListDialogMetaHeadings]="employeeListDialogMetaHeadings"
        ></ia-kpi>
      </div>
      <ia-loose-doughnut-chart
        class="pt-6"
        [data]="exitsDoughnutConfig"
        [initialConfig]="initialConfig"
        [isLoading]="isDataLoading"
        [legendSelectAction]="legendSelectAction"
      ></ia-loose-doughnut-chart>
    </div>
  </div>
  <div class="flex justify-center pt-3">
    <ia-external-legend
      *ngIf="!isDataLoading"
      [legend]="legend"
      (selectedLegendItem)="onSelectedLegendItem($event)"
    ></ia-external-legend>
  </div>
</div>
