<div *transloco="let t; read: 'overview'">
  <h5>{{ t('entriesExits') }}</h5>
  <div class="flex flex-row">
    <div class="flex flex-col flex-grow">
      <div class="pl-4">
        <ia-kpi
          [title]="t('entries')"
          [value]="entriesCount"
          [employees]="entryEmployees"
          [employeeListDialogMetaHeadings]="employeeListDialogMetaHeadings"
        ></ia-kpi>
      </div>
      <ia-loose-doughnut-chart
        [data]="entriesDoughnutConfig"
        [initialConfig]="initialConfig"
        [isLoading]="isDataLoading"
      ></ia-loose-doughnut-chart>
    </div>

    <div class="flex flex-col flex-grow">
      <div class="pl-4">
        <ia-kpi
          [title]="t('exits')"
          [value]="exitsCount"
          [employees]="exitEmployees"
          [employeeListDialogMetaHeadings]="employeeListDialogMetaHeadings"
        ></ia-kpi>
      </div>
      <ia-loose-doughnut-chart
        [data]="exitsDoughnutConfig"
        [initialConfig]="initialConfig"
        [isLoading]="isDataLoading"
      ></ia-loose-doughnut-chart>
    </div>
  </div>
</div>
