<div *transloco="let t; read: 'overview.workforceBalance'">
  <h5 class="flex items-center">
    {{ t('title') }}
    <mat-icon
      [matTooltip]="t('hint', { dimension: dimensionHint })"
      class="text-high-emphasis ml-1 cursor-default"
    >
      info
    </mat-icon>
  </h5>
  <div class="grid grid-cols-6 gap-4 pb-5">
    <ia-kpi
      class="col-span-2 text-center"
      [title]="t('entries')"
      [value]="entriesCount"
      [employees]="entryEmployees"
      [employeesLoading]="entryEmployeesLoading"
      [employeeListDialogMetaHeadings]="employeeListDialogMetaHeadings"
      [showFluctuationType]="true"
      [employeesCount]="entriesCount"
      (openTeamMembers)="triggerEntryEmployeesAction()"
    ></ia-kpi>

    <div class="col-span-2 mt-4 text-center">
      <span class="text-body-2 mb-[0.5rem] block h-[3.6em] leading-[1.8em]">{{
        t('totalHeadcount')
      }}</span>
      <h4>{{ totalEmployeesCount | defaultValue }}</h4>
    </div>

    <ia-kpi
      class="col-span-2 text-center"
      [title]="t('exits')"
      [value]="exitsCount"
      [employees]="exitEmployees"
      [employeesLoading]="exitEmployeesLoading"
      [employeeListDialogMetaHeadings]="employeeListDialogMetaHeadings"
      [showFluctuationType]="true"
      [employeesCount]="exitsCount"
      (openTeamMembers)="triggerExitEmployeesAction()"
    ></ia-kpi>

    <ia-loose-doughnut-chart
      class="col-span-3"
      [data]="entriesDoughnutConfig"
      [initialConfig]="initialConfig"
      [isLoading]="isDataLoading"
      [legendSelectAction]="legendSelectAction"
    ></ia-loose-doughnut-chart>

    <ia-loose-doughnut-chart
      class="col-span-3"
      [data]="exitsDoughnutConfig"
      [initialConfig]="initialConfig"
      [isLoading]="isDataLoading"
      [legendSelectAction]="legendSelectAction"
    ></ia-loose-doughnut-chart>
  </div>
  <div class="flex justify-center">
    <ia-external-legend
      *ngIf="!isDataLoading && !!entriesDoughnutConfig && !!exitsDoughnutConfig"
      [legend]="legend"
      (selectedLegendItem)="onSelectedLegendItem($event)"
    ></ia-external-legend>
  </div>
</div>
