<div class="content">
  <!-- STAGE -->
  <!-- INDEX -->
  <!-- // STAGE -->
  <!-- PAGE TITLE GOES GERE -->
  <div id="page-title" class="page-title has-spare-space">
    <div class="container_page_size">
      <h1>Legal Notice</h1>
    </div>
    <!-- /container_page_size -->
  </div>
  <!-- /page-title -->
  <!-- PAGE TITLE ENDS HERE -->
  <!-- MAIN CONTENT -->
  <div id="container_main">
    <div class="container_page_size">
      <div class="module">
        <div class="grid-div-1 grid">
          <div class="grid-cell">
            <div class="grid-content">
              <!-- st_rwd_content_text@RWD -->
              <h3>Responsible for Internet Website Contents</h3>
              <p>
                Schaeffler Group Greater China<br />No. 1 Antuo Road, Anting<br />Jiading
                District<br />Shanghai<br />Post code: 201804<br />P.R. China
              </p>
              <ul class="linklist">
                <li class="linklist-item">
                  <a
                    class="icon icon-phone"
                    data-widget="GATrakken"
                    data-ar-event-category="Engagement"
                    data-ar-event-action="Content/Phone"
                    data-ar-event-label="+86 021 3957 6000 tel:+86 021 3957 6000"
                    href="tel:+86 021 3957 6000"
                    target="_blank"
                    title="+86 021 3957 6000"
                    >+86 021 3957 6000</a
                  >
                </li>
                <li class="linklist-item">
                  <a
                    class="icon icon-printer"
                    data-widget="GATrakken"
                    data-ar-event-category="Engagement"
                    data-ar-event-action="Content/Phone"
                    data-ar-event-label="+86 021 3957 6100 tel:+86 021 3957 6100"
                    href="tel:+86 021 3957 6100"
                    target="_blank"
                    title="+86 021 3957 6100"
                    >+86 021 3957 6100</a
                  >
                </li>
              </ul>
              <!-- //st_rwd_content_text@RWD -->
            </div>
          </div>
        </div>
        <hr class="hr" />
      </div>
      <div class="module">
        <div class="grid-div-1 grid">
          <div class="grid-cell">
            <div class="grid-content">
              <!-- st_rwd_content_text@RWD -->
              <h3>Picture credits</h3>
              <p class="g_lastchild">
                <a
                  class="icon icon-arrow-right"
                  data-widget="GATrakken"
                  data-ar-event-category="Outbound"
                  data-ar-event-action="Content/StandardLink"
                  data-ar-event-label="to the picture credits https://www.schaeffler.de/content.schaeffler.de/en/meta/imprint/index.jsp"
                  href="https://www.schaeffler.de/content.schaeffler.de/en/meta/imprint/index.jsp"
                  target="_blank"
                  title="to the picture credits"
                  >to the picture credits</a
                >
              </p>
              <!-- //st_rwd_content_text@RWD -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /container_page_size -->
  </div>
  <!-- /container_main -->
  <!-- /MAIN CONTENT -->
  <!-- NO INDEX -->
  <!-- FOOTER GOES HERE -->
  <div id="footer" class="footer">
    <div class="container_page_size">
      <!-- BEGIN: ft_rwd_social_media_footer@RWD -->
      <div class="footer-section">
        <ul class="socialbar buttonlist buttonlist-horizontal">
          <li class="buttonlist-item">
            <a
              data-widget="GATrakken"
              data-ar-event-category="Inbound"
              data-ar-event-action="Content/SocialMedia Link/wechat"
              data-ar-event-label="&nbsp; ../../company/index.jsp"
              href="../../company/index.jsp"
              target="_blank"
              title="&nbsp;"
              ><span class="socialmedia-icon wechat"></span>&nbsp;</a
            >
          </li>
          <li class="buttonlist-item">
            <a
              data-widget="GATrakken"
              data-ar-event-category="Outbound"
              data-ar-event-action="Content/SocialMedia Link/weibo"
              data-ar-event-label="&nbsp; http://www.weibo.com/schaeffler"
              href="http://www.weibo.com/schaeffler"
              target="_blank"
              title="&nbsp;"
              ><span class="socialmedia-icon weibo"></span>&nbsp;</a
            >
          </li>
          <li class="buttonlist-item">
            <a
              data-widget="GATrakken"
              data-ar-event-category="Outbound"
              data-ar-event-action="Content/SocialMedia Link/youku"
              data-ar-event-label="&nbsp; http://i.youku.com/schaeffler"
              href="http://i.youku.com/schaeffler"
              target="_blank"
              title="&nbsp;"
              ><span class="socialmedia-icon youku"></span>&nbsp;</a
            >
          </li>
          <li class="buttonlist-item">
            <a
              data-widget="GATrakken"
              data-ar-event-category="Outbound"
              data-ar-event-action="Content/SocialMedia Link/facebook"
              data-ar-event-label="&nbsp; https://www.facebook.com/SchaefflerGroup/"
              href="https://www.facebook.com/SchaefflerGroup/"
              target="_blank"
              title="&nbsp;"
              ><span class="socialmedia-icon facebook"></span>&nbsp;</a
            >
          </li>
          <li class="buttonlist-item">
            <a
              data-widget="GATrakken"
              data-ar-event-category="Outbound"
              data-ar-event-action="Content/SocialMedia Link/twitter"
              data-ar-event-label="&nbsp; https://www.twitter.com/schaefflergroup"
              href="https://www.twitter.com/schaefflergroup"
              target="_blank"
              title="&nbsp;"
              ><span class="socialmedia-icon twitter"></span>&nbsp;</a
            >
          </li>
          <li class="buttonlist-item">
            <a
              data-widget="GATrakken"
              data-ar-event-category="Outbound"
              data-ar-event-action="Content/SocialMedia Link/instagram"
              data-ar-event-label="&nbsp; https://www.instagram.com/schaefflergroup/"
              href="https://www.instagram.com/schaefflergroup/"
              target="_blank"
              title="&nbsp;"
              ><span class="socialmedia-icon instagram"></span>&nbsp;</a
            >
          </li>
          <li class="buttonlist-item">
            <a
              data-widget="GATrakken"
              data-ar-event-category="Outbound"
              data-ar-event-action="Content/SocialMedia Link/youtube"
              data-ar-event-label="&nbsp; https://www.youtube.com/user/SchaefflerGlobal"
              href="https://www.youtube.com/user/SchaefflerGlobal"
              target="_blank"
              title="&nbsp;"
              ><span class="socialmedia-icon youtube"></span>&nbsp;</a
            >
          </li>
          <li class="buttonlist-item">
            <a
              data-widget="GATrakken"
              data-ar-event-category="Outbound"
              data-ar-event-action="Content/SocialMedia Link/linkedin"
              data-ar-event-label="&nbsp; https://www.linkedin.com/company/schaeffler"
              href="https://www.linkedin.com/company/schaeffler"
              target="_blank"
              title="&nbsp;"
              ><span class="socialmedia-icon linkedin"></span>&nbsp;</a
            >
          </li>
          <li class="buttonlist-item">
            <a
              data-widget="GATrakken"
              data-ar-event-category="Outbound"
              data-ar-event-action="Content/SocialMedia Link/xing"
              data-ar-event-label="&nbsp; https://www.xing.com/company/schaeffler"
              href="https://www.xing.com/company/schaeffler"
              target="_blank"
              title="&nbsp;"
              ><span class="socialmedia-icon xing"></span>&nbsp;</a
            >
          </li>
        </ul>
      </div>

      <div class="footer-copyright">© Schaeffler Group Greater China</div>
    </div>
  </div>
</div>
