@import 'libs/shared/ui/styles/src/lib/colors';

:host {
  width: 100%;

  .details-page-header {
    .back-arrow-icon {
      color: $schaeffler-carbon-gray;
      cursor: pointer;
      font-size: 24px;
      margin: 0 16px;
    }

    button {
      margin: 16px 16px 16px 0;

      mat-icon {
        vertical-align: initial;
      }
    }
  }
}
