<span
  mat-dialog-title
  class="!text-h5"
  *transloco="let t; read: 'user.userSettings'"
>
  {{ t('title') }}
</span>
<mat-dialog-content
  class="h-[300px]"
  *transloco="let t; read: 'user.userSettings.dialog'"
>
  <div *ngIf="data.initialLoad; else infoExistingSettings">
    <h5>{{ t('welcomeTitle') }}</h5>
    <p>{{ t('instruction') }}</p>
    <p>{{ t('hint') }}</p>
  </div>
  <ng-template #infoExistingSettings>
    <p>{{ t('instruction') }}</p>
  </ng-template>
  <ia-dimension-filter
    class="my-8 flex justify-center"
    [apparence]="'outline'"
    [availableDimensions]="availableDimensions$ | ngrxPush"
    [activeDimension]="activeDimension"
    [selectedDimensionIdValue]="selectedDimensionIdValue"
    [dimensionFilter]="dimensionFilter$ | ngrxPush"
    [dimensionFilterTranslation]="dimensionFilterTranslation$ | ngrxPush"
    [dimensionDataLoading]="selectedDimensionDataLoading$ | ngrxPush"
    (dimensionSelected)="onDimensionSelected($event)"
    (autocompleteInput)="onDimensionAutocompleteInput($event)"
    (optionSelected)="onDimensionOptionSelected($event)"
  ></ia-dimension-filter>
</mat-dialog-content>
<mat-dialog-actions
  align="end"
  *transloco="let t; read: 'user.userSettings.dialog'"
>
  <button mat-button mat-dialog-close *ngIf="!data.initialLoad">
    {{ t('cancel') }}
  </button>
  <button
    mat-button
    mat-dialog-close
    color="primary"
    (click)="saveUserSettings()"
    [disabled]="invalidDimensionDataInput || !selected"
  >
    {{ t('confirm') }}
  </button>
</mat-dialog-actions>
