<h2 mat-dialog-title *transloco="let t; read: 'user.userSettings'">
  {{ t('title') }}
</h2>
<mat-dialog-content
  class="h-[300px]"
  *transloco="let t; read: 'user.userSettings.dialog'"
>
  <div *ngIf="data.initialLoad; else infoExistingSettings">
    <h5>{{ t('welcomeTitle') }}</h5>
    <p>{{ t('instruction') }}</p>
    <p>{{ t('hint') }}</p>
  </div>
  <ng-template #infoExistingSettings>
    <p>{{ t('instruction') }}</p>
  </ng-template>
  <div class="mt-10 grid grid-cols-2 gap-2">
    <ia-select-input
      [appearance]="'outline'"
      [label]="t('dimensionLabel')"
      [hint]="t('dimensionHint')"
      [disabled]="false"
      [options]="availableDimensions"
      [selectedOption]="activeDimension"
      (selected)="selectDimension($event)"
    ></ia-select-input>

    <ia-autocomplete-input
      [filter]="dimensionFilter$ | ngrxPush"
      [autoCompleteLoading]="selectedDimensionDataLoading$ | ngrxPush"
      [value]="selectedDimensionIdValue"
      [type]="type"
      [hint]="
        t('dimensionIdValueHint', {
          dimension: dimensionName
        })
      "
      [minCharLength]="minCharLength"
      [appearance]="'outline'"
      [noResultMessage]="t('nothingFound')"
      (selected)="selectDimensionDataOption($event)"
      (invalidFormControl)="invalidDimensionData($event)"
      (autoComplete)="autoCompleteSelectedDimensionIdValueChange($event)"
    ></ia-autocomplete-input>
  </div>
</mat-dialog-content>
<mat-dialog-actions
  align="end"
  *transloco="let t; read: 'user.userSettings.dialog'"
>
  <button mat-button mat-dialog-close *ngIf="!data.initialLoad">
    {{ t('cancel') }}
  </button>
  <button
    mat-button
    mat-dialog-close
    color="primary"
    (click)="saveUserSettings()"
    [disabled]="invalidDimensionDataInput || !selected"
  >
    {{ t('confirm') }}
  </button>
</mat-dialog-actions>
