<span
  mat-dialog-title
  class="!text-headline-small"
  *transloco="let t; read: 'user.userSettings'"
>
  {{ t('title') }}
</span>
<mat-dialog-content
  class="h-[300px]"
  *transloco="let t; read: 'user.userSettings.dialog'"
>
  @if (data.initialLoad) {
    <div>
      <h5>{{ t('welcomeTitle') }}</h5>
      <p>{{ t('instruction') }}</p>
      <p>{{ t('hint') }}</p>
    </div>
  } @else {
    <p>{{ t('instruction') }}</p>
  }
  <ia-dimension-filter
    class="my-8 flex justify-center gap-4"
    [apparence]="'outline'"
    [availableDimensions]="availableDimensions$ | ngrxPush"
    [activeDimension]="activeDimension"
    [selectedDimensionIdValue]="selectedDimensionIdValue"
    [dimensionFilter]="dimensionFilter$ | ngrxPush"
    [dimensionFilterTranslation]="dimensionFilterTranslation$ | ngrxPush"
    [dimensionDataLoading]="selectedDimensionDataLoading$ | ngrxPush"
    (dimensionSelected)="onDimensionSelected($event)"
    (autocompleteInput)="onDimensionAutocompleteInput($event)"
    (optionSelected)="onDimensionOptionSelected($event)"
  ></ia-dimension-filter>
</mat-dialog-content>
<mat-dialog-actions
  align="end"
  *transloco="let t; read: 'user.userSettings.dialog'"
>
  @if (!data.initialLoad) {
    <button mat-raised-button mat-dialog-close>
      {{ t('cancel') }}
    </button>
  }
  <button
    mat-flat-button
    mat-dialog-close
    (click)="saveUserSettings()"
    [disabled]="invalidDimensionDataInput || !selected"
  >
    {{ t('confirm') }}
  </button>
</mat-dialog-actions>
