<ng-container *hideIfQuotationNotActiveOrPending>
  @if (buttonVisible$ | ngrxPush) {
    <!-- [ngClass]="deleteButtonClass$ | ngrxPush"-->
    <div
      class="absolute bottom-20 delete-button-quotation-details"
      [ngClass]="deleteButtonClass$ | ngrxPush"
      *transloco="let t; read: 'shared.customStatusBar.buttons'"
    >
      @if (selections.length) {
        <button mat-fab color="primary" (click)="deletePositions()">
          <mat-icon>{{ icon }}</mat-icon>
        </button>
      }
    </div>
  }
</ng-container>
