<d360-home-table-toolbar
  [gridApi]="gridApi"
  [columnApi]="columnApi"
  [resetLayout]="resetLayout"
  [saveLayout]="saveLayout"
  [loadLayout]="loadLayout"
  [globalSelection]="selectionFilter()"
/>

<ag-grid-angular
  #materialCustomerGrid
  [gridOptions]="gridOptions"
  (gridReady)="onGridReady($event)"
  [localeText]="agGridLocalizationService.lang()"
  class="ag-theme-material grow"
  [tooltipShowDelay]="0"
  (filterChanged)="onFilterChange($event)"
  [getRowStyle]="getVisibilityBackground"
  [getRowId]="getIdForRow"
  [defaultColDef]="defaultCol"
  [suppressRowClickSelection]="true"
  [suppressCopyRowsToClipboard]="true"
  [stopEditingWhenCellsLoseFocus]="true"
  [suppressColumnVirtualisation]="true"
  [rowSelection]="'multiple'"
  [enableRangeHandle]="true"
  [enableRangeSelection]="true"
  (firstDataRendered)="onFirstDataRendered($event)"
/>
