<mat-form-field appearance="outline" class="w-full">
  <mat-label>{{ title }}</mat-label>
  <input
    #inputField
    type="text"
    matInput
    [formControl]="userSelectFormControl"
    [matAutocomplete]="autoComplete"
    pinDropDown="matAutocompleteTrigger"
  />
  <mat-spinner *ngIf="isLoading" matSuffix [diameter]="18"></mat-spinner>
  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
  <mat-autocomplete
    #autoComplete="matAutocomplete"
    [displayWith]="userDisplayPipe.transform"
    (opened)="scrollToFirstPosition()"
  >
    <cdk-virtual-scroll-viewport
      itemSize="20"
      class="flex w-full"
      [ngStyle]="{ height: height + 'px' }"
    >
      <mat-option
        *cdkVirtualFor="
          let user of filteredOptions$ | ngrxPush;
          trackBy: trackByFn
        "
        [value]="user"
        class="h-[50px] items-center justify-center"
        >{{ user | userDisplay }}</mat-option
      ></cdk-virtual-scroll-viewport
    >
  </mat-autocomplete>
</mat-form-field>
