<div *transloco="let t; read: 'caseView.createCaseDialog'">
  <h2 mat-dialog-title class="title">
    {{ t('title') }}
    <mat-icon class="close-dialog" (click)="closeDialog()"> close </mat-icon>
  </h2>
  <mat-card>
    <mat-card-title>
      {{ t('quotation.title') }}
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlexFill>
        <div
          fxFlex="100%"
          fxLayoutAlign="start start"
          *ngIf="quotation$ | ngrxPush as quotation"
        >
          <gq-autocomplete-input
            fxFill
            [filterName]="quotation.filter"
            [options]="quotation.options"
            [isDisabled]="quotationDisabled"
            (inputContent)="quotationHasInput($event)"
            (unselected)="unselectOptions(quotation.filter)"
            (added)="selectOption($event, quotation.filter)"
            (isValid)="quotationValid($event)"
            [autocompleteLoading]="quotationAutocompleteLoading$ | ngrxPush"
            (autocomplete)="autocomplete($event)"
          ></gq-autocomplete-input>
        </div>
        <div fxFlex fxLayoutAlign="start start">
          <button
            color="primary"
            mat-raised-button
            class="open-quotation-button"
            [disabled]="!quotationIsValid || !customerDisabled"
            (click)="openQuotation()"
          >
            {{ t('quotation.button') | uppercase }}
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>{{ t('customer.title') }}</mat-card-title>
    <mat-card-content>
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlexFill>
        <div
          fxFlex="100%"
          fxLayoutAlign="start start"
          *ngIf="customer$ | ngrxPush as customer"
        >
          <gq-autocomplete-input
            fxFill
            [filterName]="customer.filter"
            [options]="customer.options"
            [isDisabled]="customerDisabled"
            (inputContent)="customerHasInput($event)"
            (unselected)="unselectOptions(customer.filter)"
            (added)="selectOption($event, customer.filter)"
            [autocompleteLoading]="customerAutocompleteLoading$ | ngrxPush"
            (autocomplete)="autocomplete($event)"
          ></gq-autocomplete-input>
        </div>
        <div fxFlex fxLayoutAlign="center center" class="m-l-10">
          <gq-select-sales-org></gq-select-sales-org>
        </div>
      </div>
      <div
        *transloco="let t; read: 'caseView.createCaseDialog.customer.addEntry'"
      >
        <mat-card *ngIf="isExpanded; else input">
          <mat-card-title class="add-entry-title">
            <mat-icon
              fontSet="schaeffler-icons"
              fontIcon="icon-toast-error"
              class="close-add-entry"
              (click)="toggleExpanded()"
            ></mat-icon>
            {{ t('title') }}
          </mat-card-title>
          <mat-card-content>
            <gq-add-entry
              [isDisabled]="customerDisabled"
              (inputContent)="customerHasInput($event)"
              isCaseView="true"
            >
            </gq-add-entry>
          </mat-card-content>
        </mat-card>
        <ng-template #input
          ><button
            mat-stroked-button
            color="primary"
            (click)="toggleExpanded()"
            class="add-entry-button"
          >
            <div class="add-entry">
              <mat-icon>add</mat-icon>
              {{ t('button') | uppercase }}
            </div>
          </button>
        </ng-template>
      </div>
      <div *ngIf="rowData$ | ngrxPush as rowData">
        <gq-material-input-table
          [rowData]="rowData"
          isCaseView="true"
        ></gq-material-input-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
