::ng-deep mat-radio-button {
  .mdc-form-field {
    width: 100%;

    label {
      width: 100%;
    }
  }
}

::ng-deep .mat-ripple-element {
  max-height: 100%;
  max-width: 100%;
  border-radius: 9999px;
}

::ng-deep mat-checkbox .mdc-form-field .mdc-checkbox .mdc-checkbox__background {
  scale: 0.75;
}
