<ng-container *ngIf="!isLoading; else loading">
  <mac-base-dialog
    *transloco="let t; read: 'materialsSupplierDatabase.mainTable.uploadDialog'"
    [txtTitle]="t('title')"
    [txtCancel]="t('cancel')"
    [txtConfirm]="t('upload')"
    [valid]="formGroup.valid"
    (cancel)="close()"
    (accept)="upload()"
  >
    <div class="flex flex-col gap-y-4" [formGroup]="formGroup">
      <div class="flex flex-row gap-x-6">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>{{ t('dataOwner') }}</mat-label>
          <input matInput formControlName="owner" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>{{ t('dataDate') }}</mat-label>
          <input
            matInput
            autocomplete="off"
            [matDatepicker]="dateDatePicker"
            formControlName="date"
          />
          <mat-datepicker-toggle matSuffix [for]="dateDatePicker">
            <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #dateDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-label> {{ t('dataSource') }} </mat-label>
      <mat-radio-group
        matInput
        class="flex flex-col"
        formControlName="maturity"
        *transloco="let tr; read: 'materialsSupplierDatabase.dataSource'"
      >
        <mat-radio-button
          *ngFor="let maturity of possibleMaturity"
          color="primary"
          [value]="maturity"
        >
          <span> {{ tr(maturity) }} </span>
        </mat-radio-button>
      </mat-radio-group>
      <div>
        <span>{{ t('template.label') }}</span>
        <button mat-button color="primary" (click)="downloadDataTemplate()">
          {{ t('template.button') }}
        </button>
      </div>
      <div class="flex justify-between items-center gap-x-2">
        <div *ngIf="formGroup.value.file" class="whitespace-nowrap">
          {{
            t('selectedFile', {
              fileName: formGroup.value.file.name
            })
          }}
        </div>
        <button
          mat-raised-button
          color="primary"
          class="w-full"
          (click)="openFileChooser()"
        >
          {{ t('selectFile') }}
        </button>
      </div>
      <div class="p-2 bg-[#ff0000] text-white font-bold rounded">
        {{ t('disclaimer') }}
      </div>
    </div>
  </mac-base-dialog>

  <input
    #fileChooser
    type="file"
    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
    class="hidden"
    (change)="setFile()"
  />
</ng-container>

<ng-template #loading>
  <div class="py-5">
    <schaeffler-loading-spinner [relative]="true"></schaeffler-loading-spinner>
  </div>
</ng-template>
