<div
  *transloco="let t; read: 'greaseMiscibility'"
  class="flex flex-col sm:flex-row items-center mt-2 sm:mt-8 px-2 sm:px-4 gap-2"
>
  <div class="mr-2 flex-shrink-0 text-primary">
    <mat-icon>info_outline</mat-icon>
  </div>

  <div class="text-body-2 text-medium-emphasis">
    {{ t('generalDisclaimerLabel') }}
  </div>
  <div class="whitespace-nowrap text-primary w-full sm:w-auto">
    <button mat-stroked-button (click)="onContact()" class="w-full sm:w-auto">
      <mat-icon>person</mat-icon>
      {{ t('contact') }}
    </button>
  </div>
</div>
