/***************************************************************************************************
 * COMPONENTS AND THEMES
 */

/***************************************************************************************************
  * DECLARATIONS
  */
@use 'node_modules/ag-grid-community/styles' as ag;

/*
 * Angular Material, material design components
 * see https://material.angular.io

 */

@import 'libs/shared/ui/styles/src/lib/scss/material-theme';

/*
   * ag grid components
   * see https://www.ag-grid.com/angular-grid
   */
@include ag.grid-styles(
  (
    theme: material,
    material-primary-color: $primary,
    material-accent-color: $nordic-blue,
    checkbox-checked-color: $primary,
  )
);

/***************************************************************************************************
   * UTILITIES
   */

/*
   * TailwindCSS, utility-first css framework
   * see https://tailwindcss.com/docs
   */
@tailwind base;
@tailwind components;
@tailwind utilities;

/***************************************************************************************************
   * OVERRIDES
   */

.ag-theme-material {
  .ag-column-panel {
    border-left: 1px solid ag-param(border-color);
    border-right: 1px solid ag-param(border-color);
  }
}

.mat-menu-width {
  max-width: 600px !important;
}
