<div *transloco="let t; read: 'userSettings'">
  <div class="mb-1 text-subtitle-1 text-medium-emphasis">
    {{ t('language.title.main') }}
  </div>
  <div class="mb-4 text-caption text-medium-emphasis">
    {{ t('language.title.sub') }}
  </div>
  <schaeffler-language-select
    [reloadOnLanguageChange]="true"
    class="mb-3 block"
  ></schaeffler-language-select>
  <schaeffler-locale-select
    [reloadOnLocaleChange]="true"
    [availableLocales]="availableLocales"
    [defaultLocale]="defaultLocale"
  ></schaeffler-locale-select>
</div>
