<ng-container *transloco="let t; read: 'processCaseView'">
  @if (!(sharedQuotationLoading$ | ngrxPush)) {
    @if (!(sharedQuotation$ | ngrxPush)) {
      <button
        mat-icon-button
        class="!bg-surface-container-highest !text-on-surface-variant"
        (click)="onSave()"
        [attr.data-cy]="'save-button'"
      >
        <mat-icon svgIcon="keep" class="mb-1">keep</mat-icon>
      </button>
    } @else {
      <button
        mat-icon-button
        *ngrxLet="sharedQuotation$ as sq"
        class="!bg-secondary-container !text-on-secondary-container"
        (click)="onDelete(sq.id)"
        [attr.data-cy]="'delete-button'"
      >
        <mat-icon svgIcon="keep_off" class="mb-1">keep_off</mat-icon>
      </button>
    }
  } @else {
    <div class="py-2 px-6">
      <schaeffler-loading-spinner
        class="h-full"
        [diameter]="29"
        [strokeWidth]="3"
        [relative]="true"
      ></schaeffler-loading-spinner>
    </div>
  }
</ng-container>
