<ng-container *transloco="let t; read: 'processCaseView'">
  @if (!(sharedQuotationLoading$ | ngrxPush)) {
    @if (!(sharedQuotation$ | ngrxPush)) {
      <button class="gq-shared-quotation-button" (click)="onSave()">
        <mat-icon class="pt-[1px]">save</mat-icon>
        {{ t('header.save') }}
      </button>
    } @else {
      <button
        *ngrxLet="sharedQuotation$ as sq"
        class="gq-shared-quotation-button"
        (click)="onDelete(sq.id)"
      >
        <mat-icon color="primary">save</mat-icon>
        {{ t('header.delete') }}
      </button>
    }
  } @else {
    <div class="py-2 px-6">
      <schaeffler-loading-spinner
        class="h-full"
        [diameter]="29"
        [strokeWidth]="3"
        [relative]="true"
      ></schaeffler-loading-spinner>
    </div>
  }
</ng-container>
