<div class="form" [formGroup]="formGroup()" *transloco="let t">
  <div class="pt-6 pb-4 grid grid-cols-3 gap-4">
    @if (periodType1().getRawValue()?.id === 'MONTHLY') {
      <d360-date-picker-month-year
        [label]="t('validation_of_demand.date_picker.start_date')"
        [control]="startDatePeriod1()"
        [minDate]="minDate()"
        [maxDate]="maxDate()"
        [endOf]="false"
      />
    } @else {
      <d360-date-picker
        [label]="t('validation_of_demand.date_picker.start_date')"
        [control]="startDatePeriod1()"
        [minDate]="minDate()"
        [maxDate]="maxDate()"
      />
    }

    @if (periodType1().getRawValue()?.id === 'MONTHLY') {
      <d360-date-picker-month-year
        [label]="t('validation_of_demand.date_picker.end_date')"
        [minDate]="minDateEndDatePeriod1"
        [maxDate]="maxDate()"
        [control]="endDatePeriod1()"
        [endOf]="true"
      />
    } @else {
      <d360-date-picker
        [label]="t('validation_of_demand.date_picker.end_date')"
        [control]="endDatePeriod1()"
        [minDate]="minDateEndDatePeriod1"
        [maxDate]="maxDate()"
      />
    }

    <d360-filter-dropdown
      [options]="periodTypes()"
      [control]="periodType1()"
      [form]="formGroup()"
      [label]="t('validation_of_demand.date_picker.period_type')"
      [formatOptionValue]="DisplayFunctions.displayFnText"
      [formatSelectedValue]="DisplayFunctions.displayFnText"
      (selectionChange)="onPeriodTypeChange($any($event))"
    />
  </div>

  @if (periodType1().getRawValue()?.id === 'WEEKLY' && !disableOptionalDate()) {
    <p class="text-body-large">
      {{ t('validation_of_demand.date_picker.optional') }}
    </p>
    <div class="py-5 grid grid-cols-3 gap-4">
      <d360-date-picker-month-year
        [label]="t('validation_of_demand.date_picker.start_date')"
        [control]="startDatePeriod2()"
        [endOf]="false"
      />

      <d360-date-picker-month-year
        [label]="t('validation_of_demand.date_picker.end_date')"
        [control]="endDatePeriod2()"
        [minDate]="minDateEndDatePeriod2"
        [maxDate]="lastViewableDate()"
        [endOf]="true"
      />

      <d360-filter-dropdown
        [options]="periodTypes()"
        [control]="periodType2()"
        [form]="formGroup()"
        [label]="t('validation_of_demand.date_picker.period_type')"
        [formatOptionValue]="DisplayFunctions.displayFnText"
        [formatSelectedValue]="DisplayFunctions.displayFnText"
      />
    </div>
  }
</div>
