<div class="flex" *transloco="let t; read: 'filters'">
  <ia-dimension-filter
    class="mr-6 flex"
    [availableDimensions]="availableDimensions"
    [activeDimension]="activeDimension"
    [selectedDimensionIdValue]="selectedDimensionIdValue"
    [dimensionFilter]="dimensionFilter"
    [dimensionFilterTranslation]="dimensionFilterTranslation"
    [dimensionDataLoading]="dimensionDataLoading"
    (dimensionSelected)="onDimensionSelected($event)"
    (autocompleteInput)="onDimensionAutocompleteInput($event)"
    (optionSelected)="onDimensionOptionSelected($event)"
  ></ia-dimension-filter>

  <div class="flex flex-col">
    <span class="text-body-1 mb-2" *ngIf="layout === filterLayout.DEFAULT">
      {{ t('periodOfTime.title') }}
    </span>
    <div class="flex flex-row gap-2">
      <ia-select-input
        class=""
        [options]="timePeriods"
        [selectedOption]="selectedTimePeriod"
        [label]="t('periodOfTime.timePeriodLabel')"
        [hint]="disableFilters ? undefined : t('periodOfTime.timePeriodHint')"
        [disabled]="disableFilters || disabledTimeRangeFilter"
        (selected)="timePeriodSelected($event)"
      ></ia-select-input>
      <ia-date-input
        class=""
        [timePeriod]="selectedTimePeriod"
        [selectedTime]="selectedTime?.id"
        [label]="t('periodOfTime.timeRangeLabel')"
        [hint]="disableFilters ? undefined : timeRangeHintValue"
        [placeholderStart]="t('periodOfTime.timeRangePlaceholderStart')"
        [placeholderEnd]="t('periodOfTime.timeRangePlaceholderEnd')"
        [disabled]="disableFilters || disabledTimeRangeFilter"
        (selected)="timeRangeSelected($event)"
      ></ia-date-input>
    </div>
  </div>

  <ia-dimension-filter
    class="ml-auto flex"
    [availableDimensions]="availableDimensions"
    [activeDimension]="activeBenchmarkDimension"
    [selectedDimensionIdValue]="benchmarkDimensionIdValue"
    [dimensionFilter]="benchmarkDimensionFilter"
    [dimensionFilterTranslation]="benchmarkDimensionFilterTranslation"
    [dimensionDataLoading]="benchmarkDimensionDataLoading"
    (dimensionSelected)="onBenchmarkDimensionSelected($event)"
    (autocompleteInput)="onBenchmarkAutocompleteInput($event)"
    (optionSelected)="onBenchmarkOptionSelected($event)"
  ></ia-dimension-filter>
</div>
