<ng-container *transloco="let t; read: 'filters'">
  <div
    class="flex flex-wrap gap-4"
    [class]="layout === filterLayout.DEFAULT ? 'flex-row' : 'flex-col'"
  >
    <ia-dimension-filter
      class="flex flex-wrap gap-4 md:flex-row w-full lg:w-1/2 xxl:w-[33%]"
      [availableDimensions]="availableDimensions"
      [activeDimension]="activeDimension"
      [selectedDimensionIdValue]="selectedDimensionIdValue"
      [dimensionFilter]="dimensionFilter"
      [dimensionFilterTranslation]="dimensionFilterTranslation"
      [dimensionDataLoading]="dimensionDataLoading"
      [disableFilters]="disableFilters"
      (dimensionSelected)="onDimensionSelected($event)"
      (autocompleteInput)="onDimensionAutocompleteInput($event)"
      (optionSelected)="onDimensionOptionSelected($event)"
    ></ia-dimension-filter>

    <div class="flex flex-col w-full lg:w-[48%] xxl:w-[32%]">
      <div
        class="flex flex-row flex-wrap gap-4 w-full lg:justify-end xxl:justify-center"
      >
        <div class="w-full md:w-[45%]">
          @if (!disableFilters) {
            <span class="flex mb-2">{{ t('periodOfTime.title') }}</span>
          }
          <ia-select-input
            [options]="timePeriods"
            [selectedOption]="selectedTimePeriod"
            [label]="t('periodOfTime.timePeriodLabel')"
            [hint]="
              disableFilters ? undefined : t('periodOfTime.timePeriodHint')
            "
            [disabled]="disableFilters || disabledTimeRangeFilter"
            (selected)="timePeriodSelected($event)"
          ></ia-select-input>
        </div>
        <div class="w-full md:w-[45%]">
          @if (!disableFilters) {
            <div class="flex flex-row w-full">
              <span class="flex mb-2">{{
                t('periodOfTime.timeRangeTitle')
              }}</span>
              @if (isTimeRangeLimited) {
                <mat-icon
                  [matTooltip]="t('periodOfTime.timeRangeHint')"
                  class="text-on-surface ml-1 flex cursor-default"
                >
                  info
                </mat-icon>
              }
            </div>
          }
          <ia-date-input
            [timePeriod]="selectedTimePeriod"
            [timeRange]="selectedTime"
            [timeRangeConstraints]="timeRangeConstraints"
            [label]="t('periodOfTime.timeRangeLabel')"
            [hint]="disableFilters ? undefined : timeRangeHintValue"
            [placeholderStart]="t('periodOfTime.timeRangePlaceholderStart')"
            [placeholderEnd]="t('periodOfTime.timeRangePlaceholderEnd')"
            (selected)="timeRangeSelected($event)"
          ></ia-date-input>
        </div>
      </div>
    </div>

    @if (showBenchmarkFilter) {
      <ia-dimension-filter
        class="flex flex-wrap gap-4 ia-benchmark-filter md:flex-row w-full lg:w-1/2 xxl:w-[33%] xxl:justify-end"
        [availableDimensions]="availableDimensions"
        [activeDimension]="activeBenchmarkDimension"
        [selectedDimensionIdValue]="benchmarkDimensionIdValue"
        [dimensionFilter]="benchmarkDimensionFilter"
        [dimensionFilterTranslation]="benchmarkDimensionFilterTranslation"
        [dimensionDataLoading]="benchmarkDimensionDataLoading"
        (dimensionSelected)="onBenchmarkDimensionSelected($event)"
        (autocompleteInput)="onBenchmarkAutocompleteInput($event)"
        (optionSelected)="onBenchmarkOptionSelected($event)"
      ></ia-dimension-filter>
    }
  </div>
</ng-container>
