<div
  class="flex"
  [ngClass]="{
    'flex-col': layout === filterLayout.SLIM,
    'flex-wrap gap-8': layout === filterLayout.DEFAULT
  }"
  *transloco="let t; read: 'filters'"
>
  <div [ngClass]="{ 'w-full lg:w-auto': layout === filterLayout.DEFAULT }">
    <div class="flex flex-col">
      <h6
        class="mb-2 flex items-center"
        *ngIf="layout === filterLayout.DEFAULT"
      >
        {{ t('dimension.title') }}
      </h6>
      <ia-select-input
        class="mr-1 flex-1"
        [appearance]="'fill'"
        [label]="t('dimension.dimension')"
        [hint]="t('dimension.hint')"
        [disabled]="false"
        [options]="availableDimensions"
        [selectedOption]="activeDimension"
        (selected)="dimensionSelected($event)"
      ></ia-select-input>
    </div>
  </div>
  <div [ngClass]="{ 'w-full lg:w-auto': layout === filterLayout.DEFAULT }">
    <div class="flex flex-col">
      <h6
        class="mb-2 flex items-center"
        *ngIf="layout === filterLayout.DEFAULT"
      >
        {{ t('businessArea.title', { dimension: getDimensionName() }) }}
        <mat-icon
          [matTooltip]="t('businessArea.organizationTooltip')"
          class="h-[20px] w-[20px] cursor-default text-[20px]"
        >
          info
        </mat-icon>
      </h6>
      <ia-autocomplete-input
        [filter]="businessAreaFilter"
        [autoCompleteLoading]="orgUnitsLoading"
        [autoCompleteLoading]="businessAreaLoading"
        [label]="getDimensionName()"
        [hint]="
          disableFilters
            ? undefined
            : t('businessArea.businessAreaHint', {
                dimension: getDimensionName()
              })
        "
        [noResultMessage]="t('businessArea.nothingFound')"
        [value]="selectedBusinessArea"
        [disabled]="disableFilters"
        (selected)="optionSelected($event)"
        (invalidFormControl)="orgUnitInvalid($event)"
        (autoComplete)="autoCompleteOrgUnitsChange($event)"
      ></ia-autocomplete-input>
    </div>
  </div>

  <div [ngClass]="{ 'w-full lg:w-auto': layout === filterLayout.DEFAULT }">
    <div class="flex flex-col">
      <h6 class="mb-2" *ngIf="layout === filterLayout.DEFAULT">
        {{ t('periodOfTime.title') }}
      </h6>
      <div class="flex flex-row gap-2">
        <ia-select-input
          class="flex-1"
          [options]="timePeriods"
          [selectedOption]="selectedTimePeriod"
          [label]="t('periodOfTime.timePeriodLabel')"
          [hint]="disableFilters ? undefined : t('periodOfTime.timePeriodHint')"
          [disabled]="disableFilters || disabledTimeRangeFilter"
          (selected)="timePeriodSelected($event)"
        ></ia-select-input>
        <ia-date-input
          class="flex-1"
          [timePeriod]="selectedTimePeriod"
          [label]="t('periodOfTime.timeRangeLabel')"
          [hint]="disableFilters ? undefined : timeRangeHintValue"
          [placeholderStart]="t('periodOfTime.timeRangePlaceholderStart')"
          [placeholderEnd]="t('periodOfTime.timeRangePlaceholderEnd')"
          [disabled]="disableFilters || disabledTimeRangeFilter"
          [selectedTime]="selectedTime?.id"
          (selected)="timeRangeSelected($event)"
        ></ia-date-input>
      </div>
    </div>
  </div>
</div>
