<div class="flex flex-col md:flex-row m-4">
  <mat-card class="md:mr-4 md:mt-0 md:w-[380px] w-full">
    <gq-basic-customer
      [customer]="customer"
      [lastYear]="lastYear"
      [currentYear]="currentYear"
    ></gq-basic-customer>
  </mat-card>
  <mat-card class="md:mr-4 mt-4 md:mt-0 md:w-[380px] w-full">
    <gq-keyaccount
      [customer]="customer"
      [lastYear]="lastYear"
      [currentYear]="currentYear"
    ></gq-keyaccount>
  </mat-card>
  <mat-card
    class="mt-4 md:mt-0 md:w-[380px] w-full"
    *ngIf="customer.accountPotential"
  >
    <gq-salesforce
      [accountPotential]="customer.accountPotential"
      [currency]="customer.currency"
    >
    </gq-salesforce>
  </mat-card>
</div>
