mat-card {
  margin: 16px;
  width: 400px;
}
h6 {
  margin-bottom: 16px;
  margin-top: 8px;
}
div {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}
span {
  opacity: 0.6;
}
.break {
  background-color: black;
  height: 1px;
  margin-bottom: 16px;
  margin-top: 16px;
  opacity: 0.87;
}
