mat-card {
  margin: 16px;
  width: 400px;
}
div {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}
span {
  color: rgba(0, 0, 0, 0.6);
}
.break {
  background-color: rgba(0, 0, 0, 0.87);
  height: 1px;
  margin-bottom: 16px;
  margin-top: 16px;
  opacity: 0.12;
}
