<div
  class="ag-cell-label-container flex w-full flex-row justify-between"
  role="presentation"
  (click)="onSortRequested($event)"
>
  <div
    ref="eLabel"
    class="ag-header-cell-label"
    role="presentation"
    *ngIf="!(editMode || value)"
  >
    <div class="flex items-center">
      <span ref="eText" class="ag-header-cell-text pr-2">
        {{ params.displayName }}
      </span>
      <mat-icon
        (click)="enableEditMode($event)"
        class="edit-icon"
        *ngIf="showEditIcon"
      >
        mode_edit
      </mat-icon>
    </div>

    <div class="w-8 pl-2">
      <span class="ag-icon ag-icon-asc" *ngIf="sort === 'asc'"></span>
      <span class="ag-icon ag-icon-desc" *ngIf="sort === 'desc'"></span>
      <span class="ag-icon ag-sort-none-icon" *ngIf="!sort"></span>
    </div>
  </div>

  <span
    ref="eMenu"
    class="ag-header-icon ag-header-cell-menu-button pl-4"
    aria-hidden="true"
    *ngIf="!(editMode || value)"
  >
    <span
      class="ag-icon ag-icon-menu"
      #menuButton
      (click)="onMenuClicked($event)"
    ></span>
  </span>
</div>
<div *ngIf="editMode || value">
  <mat-form-field
    *ngIf="!isPriceSource; else editPriceSource"
    appearance="outline"
  >
    <input
      #inputField
      matInput
      type="number"
      [placeholder]="params.displayName"
      (keydown.enter)="submitValue($event)"
      (keydown)="onKeyPress($event)"
      (paste)="onPaste($event)"
      (blur)="disableEditMode()"
      class="!text-high-emphasis"
      [formControl]="editFormControl"
      autocomplete="off"
      step="1"
    />
    <span matSuffix>%&nbsp;</span>
  </mat-form-field>
  <ng-template #editPriceSource>
    <mat-form-field
      appearance="outline"
      class="w-3/5"
      *transloco="
        let t;
        read: 'shared.quotationDetailsTable.headers.priceSource'
      "
    >
      <input
        #inputField
        matInput
        type="text"
        [value]="
          t(
            selectedPriceSource === priceSourceOptions.GQ
              ? 'gqPriceSource'
              : 'sapPriceSource'
          )
        "
        [readonly]="true"
        class="p-3 !text-high-emphasis"
      />
      <span (click)="switchPriceSource()" matSuffix
        ><mat-icon class="!h-4 !text-body-1 !leading-3">unfold_more</mat-icon>
      </span>
    </mat-form-field>
  </ng-template>
</div>
