<ng-container *transloco="let t; read: 'employeeListDialog'">
  <div mat-dialog-title class="!flex flex-wrap" *ngIf="data?.headings?.header">
    <div class="flex w-full">
      <mat-icon class="text-medium-emphasis">{{
        data?.headings.icon
      }}</mat-icon>
      <h5 class="mx-4 leading-6">
        {{ data?.headings?.header }}
      </h5>
      <button mat-dialog-close class="ml-auto flex">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <ng-container
      *ngrxLet="filters$ as filters"
      [ngTemplateOutlet]="headings"
      [ngTemplateOutletContext]="{
        $implicit: data?.headings?.showDefaultFilters
          ? filters
          : data?.headings?.customFilters
      }"
    >
    </ng-container>
  </div>
  <mat-dialog-content class="!overflow-hidden">
    <ia-employee-list-table
      [employees]="data.employees"
      [type]="data.type"
      [excludedColumns]="data.excludedColumns"
    ></ia-employee-list-table>
    <span
      *ngIf="!data.employeesLoading && !data.enoughRightsToShowAllEmployees"
      class="text-warning !pt-0"
    >
      {{ t('enoughRightsToShowAllEmployees') }}
    </span>
  </mat-dialog-content>
</ng-container>

<ng-template #headings let-filters>
  <div class="flex flex-row w-full ml-10 text-caption">
    <span class="text-medium-emphasis">Dimension:&nbsp;</span>
    <span class="text-high-emphasis">{{ filters.filterDimension }}</span>
    <span class="ml-4 text-medium-emphasis"
      >{{ filters.filterDimension }}:&nbsp;</span
    >
    <span class="text-high-emphasis">{{ filters.value }}</span>
    <span class="ml-4 text-medium-emphasis">Timeframe:&nbsp;</span>
    <span class="text-high-emphasis">{{ filters.timeRange }}</span>
    <ng-container *ngIf="filters.manager">
      <span class="ml-4 text-medium-emphasis">Manager:&nbsp;</span>
      <span class="text-high-emphasis">{{ filters.manager }}</span>
    </ng-container>
    <ng-container *ngIf="filters.job">
      <span class="ml-4 text-medium-emphasis">Job:&nbsp;</span>
      <span class="text-high-emphasis">{{ filters.job }}</span>
    </ng-container>
  </div>
</ng-template>
