<div *transloco="let t">
  <!--  TODO add open property with false-->
  <app-global-selection-criteria
    (onGlobalSelectionChange)="onUpdateGlobalSelection($event)"
  ></app-global-selection-criteria>
  <app-styled-section [last]="true" [grow]="true" style="position: relative">
    <h2>{{ t('customer_material_portfolio.title', {}) }}</h2>
    @if (
      globalSelectionStatus === GlobalSelectionStatus.DATA_AVAILABLE &&
      customerData() &&
      selectedCustomer() &&
      globalSelection
    ) {
      <app-header-action-bar>
        <div appHeaderActionBarButtons>
          <app-action-button
            (click)="handleSinglePhaseIn()"
            color="primary"
            variant="mat-fab"
            icon="add"
          ></app-action-button>
          <app-action-button
            (click)="handleMultiPhaseIn()"
            color="secondary"
            variant="mat-fab"
            icon="menu"
          ></app-action-button>
        </div>
        <div appHeaderActionBarChildren>
          <!--          // TODO check if customer-drop down or app-single-autocomplete-pre-loaded should be used like in validation of demand action bar -->
          <!--          <app-customer-drop-down [customers]="customerData" [fC]="customerControl" [fG]="formGroup"></app-customer-drop-down>-->
          <app-single-autocomplete-pre-loaded
            [control]="customerControl"
            [form]="formGroup"
            [optionsLoadingResult]="customerSelectableValues"
            [label]="t('validation_of_demand.customer', {})"
            class="w-72"
            [displayFn]="displayFnUnited"
            (selectionChange)="handleCustomerChange($event)"
          >
          </app-single-autocomplete-pre-loaded>
        </div>
      </app-header-action-bar>
      <app-customer-material-portfolio-table
        [filterModel]=""
        [selectedCustomer]="selectedCustomer()"
        [globalSelection]="globalSelection"
      ></app-customer-material-portfolio-table>
    } @else if (
      globalSelectionStatus === GlobalSelectionStatus.DATA_LOADING || loading()
    ) {
      <schaeffler-loading-spinner
        [useBearingLoadingSpinner]="true"
      ></schaeffler-loading-spinner>
    } @else if (
      globalSelectionStatus === GlobalSelectionStatus.DATA_NO_RESULTS
    ) {
      <app-data-hint [text]="t('hint.noData', {})"></app-data-hint>
    } @else if (
      globalSelectionStatus === GlobalSelectionStatus.DATA_NOTHING_SELECTED
    ) {
      <app-data-hint [text]="t('hint.selectData', {})"></app-data-hint>
    } @else if (globalSelectionStatus === GlobalSelectionStatus.DATA_ERROR) {
      <app-data-hint [text]="t('hint.errorLoadingData', {})"></app-data-hint>
    }
  </app-styled-section>
</div>
