<div *transloco="let t" class="flex h-full w-full flex-col gap-4">
  <!-- Global Selection -->
  <d360-global-selection-criteria
    (onGlobalSelectionChange)="onUpdateGlobalSelectionState($event)"
  />

  <!-- Table Section -->
  <d360-styled-section [grow]="true" class="contents">
    <!-- Headline -->
    <h2 class="text-title-large">
      {{ t('customer_material_portfolio.title', {}) }}
    </h2>

    @if (
      globalSelectionStatus() === GlobalSelectionStatus.DATA_AVAILABLE &&
      customerData() &&
      selectedCustomer() &&
      globalSelectionState()
    ) {
      <!-- Header -->
      <d360-header-action-bar [wrapLeft]="true">
        <!-- Left Side -->
        <div d360HeaderActionBarButtons>
          <!-- Open Single Modal -->
          <button
            mat-flat-button
            (click)="openSingleDialog(null, null, null)"
            [disabled]="!authorizedToChange()"
          >
            <mat-icon>add</mat-icon>
            {{ t('customer_material_portfolio.button.addCustomerMaterial') }}
          </button>

          <!-- Open Multi Modal -->
          <button
            mat-button
            (click)="handleMultiPhaseIn()"
            [disabled]="!authorizedToChange()"
          >
            <mat-icon>menu</mat-icon>
            {{
              t(
                'customer_material_portfolio.button.addMultipleCustomerMaterials'
              )
            }}
          </button>
        </div>

        <!-- Ride Side -->
        <div d360HeaderActionBarChildren>
          <!-- Customer Selection -->
          <d360-customer-dropdown
            class="flex flex-wrap"
            [control]="$any(formGroup.get('customerControl'))"
            [form]="formGroup"
            className="w-96"
            [optionsLoadingResult]="customerSelectableValues()"
            [customer]="selectedCustomer()"
            (selectionChange)="handleCustomerChange($event)"
          />
          <div>
            <!-- Empty div to let d360HeaderActionBarChildren render a divider automatically -->
          </div>
        </div>
      </d360-header-action-bar>

      <!-- Table -->
      <d360-customer-material-portfolio-table
        class="contents"
        [filterModel]=""
        [selectedCustomer]="selectedCustomer()"
        [globalSelection]="globalSelectionState()"
        [refreshCounter]="refreshCounter()"
        [openSingleDialog]="openSingleDialog.bind(this)"
        [toggleIsActive]="toggleIsActive()"
      />
    }
    <!-- Loading Spinner -->
    @else if (
      globalSelectionStatus() === GlobalSelectionStatus.DATA_LOADING ||
      loading()
    ) {
      @if ((selectableOptionsService.loading$ | async) === false) {
        <schaeffler-loading-spinner [useBearingLoadingSpinner]="true" />
      }
    }
    <!-- Data Hint -->
    @else {
      <d360-data-hint
        [text]="
          t(
            globalSelectionStatus() === GlobalSelectionStatus.DATA_NO_RESULTS
              ? 'hint.noData'
              : globalSelectionStatus() === GlobalSelectionStatus.DATA_ERROR
                ? 'hint.errorLoadingData'
                : 'hint.selectData'
          )
        "
      />
    }
  </d360-styled-section>
</div>
