<div
  class="flex h-full w-full flex-1 flex-col"
  *transloco="let t; read: 'caseView'"
>
  <div class="flex bg-surface p-4">
    <div class="w-full">
      <p class="text-h4 text-high-emphasis">{{ t('title') }}</p>
    </div>
  </div>
  <mat-card class="m-4 h-full">
    <gq-case-table
      *ngIf="
        (quotationsLoading$ | ngrxPush) === false &&
          (deleteLoading$ | ngrxPush) === false;
        else loading
      "
      [rowData]="quotations$ | ngrxPush"
    ></gq-case-table>
  </mat-card>
</div>

<ng-template #loading>
  <schaeffler-loading-spinner></schaeffler-loading-spinner>
</ng-template>
