<div
  class="flex h-full w-full flex-col bg-secondary"
  *transloco="let t; read: 'caseView'"
>
  <div class="pt-5">
    <schaeffler-subheader [showBackButton]="false">
      <ng-container subheaderTitleContent>
        <div class="flex flex-col justify-center">
          <h5 class="leading-6">{{ t('title') }}</h5>
        </div>
      </ng-container>
    </schaeffler-subheader>
  </div>
  <div class="flex h-full flex-col p-4">
    <schaeffler-view-toggle
      [views]="caseViews$ | ngrxPush"
      (selectionChange)="onViewToggle($event)"
      [displayBorderBottom]="quotationsLoading$ | ngrxPush"
    >
    </schaeffler-view-toggle
    ><gq-case-table
      *ngIf="
        (quotationsLoading$ | ngrxPush) === false &&
          (deleteLoading$ | ngrxPush) === false;
        else loading
      "
      class="h-full"
      [rowData]="displayedQuotations$ | ngrxPush"
      [statusBar]="statusBar$ | ngrxPush"
    ></gq-case-table>
  </div>
</div>

<ng-template #loading>
  <schaeffler-loading-spinner></schaeffler-loading-spinner>
</ng-template>
