<div
  class="w-full flex flex-col flex-1 h-full"
  *transloco="let t; read: 'caseView'"
>
  <div class="p-4 flex">
    <div class="w-full">
      <h1>{{ t('title') }}</h1>
    </div>
    <div class="self-center">
      <button
        mat-stroked-button
        color="primary"
        (click)="openCreateCaseDialog()"
      >
        <div class="font-bold pl-4 pr-4 flex items-center">
          <mat-icon class="mr-4">add</mat-icon>
          {{ t('buttonCreateCase') | uppercase }}
        </div>
      </button>
    </div>
  </div>
  <gq-case-table
    class="h-full"
    *ngIf="
      (quotationsLoading$ | ngrxPush) === false &&
        (deleteLoading$ | ngrxPush) === false;
      else loading
    "
    [rowData]="quotations$ | ngrxPush"
  ></gq-case-table>
</div>

<ng-template #loading>
  <gq-loading-spinner [show]="true"></gq-loading-spinner>
</ng-template>
