:host {
  width: 100%;
}
.container {
  height: 100%;
  width: 100%;
}
.header {
  height: auto !important;
  margin-bottom: 0 !important;
  min-height: unset !important;
  padding: 16px;
  padding-top: 24px;
}
h1 {
  color: black;
  font-size: 34px;
  margin: 0;
  opacity: 0.87;
}
.create-case-button {
  cursor: pointer;
  float: right;
  font-weight: bold;
}
.create-case {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 16px;
  mat-icon {
    margin-right: 16px;
  }
}
