<div *transloco="let t; read: 'overview'">
  <div class="flex flex-wrap gap-4 bg-surface p-4 lg:flex-nowrap">
    <div class="flex w-full flex-col p-4 shadow lg:w-[24%]">
      <div class="flex-1">
        <div class="flex h-full flex-col">
          <h5>{{ t('fluctuationRate') }}</h5>
          <div
            class="grid grid-cols-2 divide-x divide-solid divide-border pb-4"
          >
            <div class="mb-4 pl-4">
              <ia-kpi
                [title]="t('companyName')"
                [value]="(fluctuationKpi$ | ngrxPush)?.kpiRates.company"
                [showTeamMemberDialog]="false"
              ></ia-kpi>
            </div>
            <div class="mb-4 pl-4">
              <ia-kpi
                [title]="(fluctuationKpi$ | ngrxPush)?.orgUnitName"
                [value]="(fluctuationKpi$ | ngrxPush)?.kpiRates.orgUnit"
                [employees]="externalExitEmployees$ | ngrxPush"
                [employeesLoading]="exitEmployeesLoading$ | ngrxPush"
                [employeeListDialogMetaHeadings]="
                  employeeListDialogMetaHeadings$ | ngrxPush
                "
                [employeesCount]="
                  (fluctuationKpi$ | ngrxPush)?.realEmployeesCount
                "
                (openTeamMembers)="triggerLoadExitEmployees()"
              ></ia-kpi>
            </div>
          </div>
          <div class="grow">
            <ia-line-chart
              [config]="fluctuationChartData$ | ngrxPush"
              [isDataLoading]="isFluctuationChartLoading$ | ngrxPush"
              [title]="t('chartTitle')"
            ></ia-line-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="flex w-full flex-col p-4 shadow lg:w-[24%]">
      <div class="flex-1">
        <div class="flex h-full flex-col">
          <h5>{{ t('unforcedFluctuationRate') }}</h5>
          <div
            class="grid grid-cols-2 divide-x divide-solid divide-border pb-4"
          >
            <div class="mb-4 pl-4">
              <ia-kpi
                [title]="t('companyName')"
                [value]="(unforcedFluctuationKpi$ | ngrxPush)?.kpiRates.company"
                [showTeamMemberDialog]="false"
              ></ia-kpi>
            </div>
            <div class="mb-4 pl-4">
              <ia-kpi
                [title]="(unforcedFluctuationKpi$ | ngrxPush)?.orgUnitName"
                [value]="(unforcedFluctuationKpi$ | ngrxPush)?.kpiRates.orgUnit"
                [employees]="externalUnforcedExitEmployees$ | ngrxPush"
                [employeesLoading]="exitEmployeesLoading$ | ngrxPush"
                [employeeListDialogMetaHeadings]="
                  employeeListDialogMetaHeadings$ | ngrxPush
                "
                [employeesCount]="
                  (unforcedFluctuationKpi$ | ngrxPush)?.realEmployeesCount
                "
                (openTeamMembers)="triggerLoadExitEmployees()"
              ></ia-kpi>
            </div>
          </div>
          <div class="grow">
            <ia-line-chart
              [config]="unforcedFluctuationChartData$ | ngrxPush"
              [isDataLoading]="isFluctuationChartLoading$ | ngrxPush"
              [title]="t('chartTitle')"
            ></ia-line-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="flex w-full flex-col p-4 shadow lg:max-w-[29%] lg:grow">
      <div class="flex-1">
        <ia-entries-exits
          [data]="chartData$ | ngrxPush"
          [isDataLoading]="isLoadingDoughnutsConfig$ | ngrxPush"
          [entriesCount]="entriesCount$ | ngrxPush"
          [exitsCount]="exitsCount$ | ngrxPush"
          [exitEmployees]="exitEmployees$ | ngrxPush"
          [exitEmployeesLoading]="exitEmployeesLoading$ | ngrxPush"
          [entryEmployees]="entryEmployees$ | ngrxPush"
          [entryEmployeesLoading]="entryEmployeesLoading$ | ngrxPush"
          [employeeListDialogMetaHeadings]="
            employeeListDialogMetaHeadings$ | ngrxPush
          "
          [totalEmployeesCount]="totalEmployeesCount$ | ngrxPush"
          [dimensionHint]="dimensionHint$ | ngrxPush"
          (loadExitEmployees)="triggerLoadExitEmployees()"
          (loadEntryEmployees)="triggerLoadEntryEmployees()"
        ></ia-entries-exits>
      </div>
    </div>

    <div class="flex w-full grow flex-col lg:w-auto">
      <div class="flex flex-1 flex-col gap-4">
        <div class="p-4 shadow">
          <ia-open-positions
            [openApplications]="openApplications$ | ngrxPush"
            [loading]="openApplicationsLoading$ | ngrxPush"
          ></ia-open-positions>
        </div>
        <div class="grow p-4 shadow">
          <ia-resignations
            [data]="resignedEmployees$ | ngrxPush"
            [loading]="resignedEmployeesLoading$ | ngrxPush"
            [totalCount]="resignedEmployeesCount$ | ngrxPush"
          ></ia-resignations>
        </div>
      </div>
    </div>
  </div>

  <h5>
    {{ t('attritionRateDetails.title') }}
  </h5>
  <div class="bg-surface">
    <ia-overview-chart
      [loading]="attritionRateLoading$ | ngrxPush"
      [data]="attritionData$ | ngrxPush"
    >
    </ia-overview-chart>
  </div>
</div>
