<ia-toggle-charts
  [chartType]="selectedChartType$ | ngrxPush"
  (changed)="chartTypeChanged($event)"
></ia-toggle-charts>

<ng-container *ngrxLet="selectedChartType$ as selectedChart">
  <ia-org-chart
    *ngIf="selectedChart === chartType.ORG_CHART"
    [data]="orgChart$ | ngrxPush"
    [isLoading]="isLoadingOrgChart$ | ngrxPush"
  ></ia-org-chart>
  <ia-world-map
    *ngIf="selectedChart === chartType.WORLD_MAP"
    [data]="worldMap$ | ngrxPush"
    [continents]="worldMapContinents$ | ngrxPush"
    [isLoading]="isLoadingWorldMap$ | ngrxPush"
  ></ia-world-map>
</ng-container>

<h2>Attrition Quota - Details</h2>
