<div
  class="flex items-center h-full mt-2"
  *transloco="let t; read: 'shared.customStatusBar.materialValidationStatus'"
>
  <div class="mr-6">
    <span class="text-disabled text-[13px]"> {{ t('invalid') }}:&nbsp; </span>
    <span
      class="text-[13px] text-dark"
      [ngClass]="{ 'text-error': invalid > 0 }"
    >
      {{ invalid }}
    </span>
  </div>
  <div>
    <span class="text-disabled text-[13px]">{{ t('total') }}:&nbsp;</span>
    <span class="text-[13px] text-dark"> {{ total }} </span>
  </div>
</div>
