<mac-base-dialog
  *transloco="let t; read: 'materialsSupplierDatabase.mainTable.uploadDialog'"
  [txtTitle]="t('title')"
  [txtCancel]="t('cancel')"
  [txtConfirm]="uploadButtonLabel"
  [minimizeEnabled]="false"
  [valid]="formGroup.valid"
  (cancel)="close()"
  (accept)="upload()"
>
  <div class="flex flex-col gap-y-4 pb-2" [formGroup]="formGroup">
    <div class="flex gap-x-4">
      <div class="w-[45%] flex flex-col gap-y-9">
        <schaeffler-select
          appearance="outline"
          class="w-full"
          [stringOptions]="dataOwners$ | ngrxPush"
          [control]="formGroup.get('owner')"
          [label]="t('dataOwner')"
          [filterFn]="ownerFilterFnFactory"
          [resetButton]="true"
          [showTriggerTooltip]="true"
          triggerTooltipDelay="1500"
          tooltipPosition="right"
          addEntry="true"
          name="owner"
          (entryAdded)="addNewOwner($event)"
        >
          @if (formGroup.get('owner').invalid) {
            <span matErrorContent class="text-caption leading-none">
              {{ t('invalidDataOwnerError') }}
            </span>
          }
        </schaeffler-select>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>{{ t('dataDate') }}</mat-label>
          <input
            matInput
            autocomplete="off"
            [matDatepicker]="dateDatePicker"
            formControlName="date"
          />
          <mat-error class="text-caption">{{
            t('invalidDateError')
          }}</mat-error>
          <mat-datepicker-toggle matSuffix [for]="dateDatePicker">
            <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #dateDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="w-[55%] flex flex-col gap-y-1">
        <div class="ml-2 flex items-center gap-x-2">
          <span class="text-[12px] text-[#00000099]">{{
            t('dataSource')
          }}</span>
          <mac-maturity-info>
            <button mat-icon-button class="!justify-center !items-center">
              <mat-icon>info_outline</mat-icon>
            </button>
          </mac-maturity-info>
        </div>
        <mat-radio-group
          matInput
          class="flex flex-col w-full"
          formControlName="maturity"
          *transloco="let tr; read: 'materialsSupplierDatabase.dataSource'"
        >
          @for (maturity of possibleMaturity; track maturity) {
            <mat-radio-button class="w-full" [value]="maturity">
              <div class="w-full flex justify-between items-center gap-x-1">
                <span> {{ tr(maturity) }} </span>
                <span
                  class="bg-secondary-900 text-white text-[12px] rounded-[50%] text-center w-6 h-6 leading-4 p-1"
                >
                  {{ maturity }}
                </span>
              </div>
            </mat-radio-button>
          }
        </mat-radio-group>
      </div>
    </div>
    <div class="w-full flex flex-col gap-2">
      <div>
        <mat-checkbox formControlName="disclaimerAccepted" class="-ml-2">
          <span class="!whitespace-normal text-caption block">{{
            t('disclaimer')
          }}</span>
        </mat-checkbox>
      </div>
      <schaeffler-file-upload
        [displayMaxFileCountError]="false"
        [autoOverwriteOldestFile]="true"
        acceptTypeString="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        [loading]="uploadStatus === 'IN_PROGRESS'"
        (filesChanged)="setFile($event)"
      ></schaeffler-file-upload>
      <div>
        <button mat-button (click)="downloadDataTemplate()">
          <mat-icon class="!absolute !right-0">download</mat-icon>
          <span class="pr-6">{{ t('downloadTemplate') }}</span>
        </button>
      </div>
    </div>
  </div>
</mac-base-dialog>
