<div class="flex flex-row">
  <input
    [formControl]="discountFormControl"
    class="w-2/3 pl-2"
    (keydown)="onKeyPress($event, discount)"
    (paste)="onPaste($event)"
    matInput
    type="text"
    #discount
  />
  <div>
    <mat-icon
      class="ml-2 text-h6 align-middle cursor-pointer text-primary"
      (click)="stopEditing(false)"
      >check</mat-icon
    >
  </div>
  <div>
    <mat-icon
      class="ml-2 text-h6 align-middle cursor-pointer text-error"
      (click)="stopEditing(true)"
      >close</mat-icon
    >
  </div>
</div>
