<div class="page-container">
  <h1>Overview</h1>
  <p class="description">
    This is a demonstrator of STA - the Schaeffler Text Assistant - developed by
    <a
      href="https://sconnect.schaeffler.com/community/global-technology/strategic-information-technology/digital-platform/ai-solutions"
      >Custom Apps & AI</a
    >
    resp.
    <a
      href="https://sconnect.schaeffler.com/community/global-technology/strategic-information-technology/digital-platform"
      >Software Engineering Solutions</a
    >. STA offers AI Services that assist you in working with text. Below you
    can find an overview of our current offering and services in the pipeline
    (grayed out). If want to know more about STA please get in touch with
    <a href="mailto:timm.eichstaedt@schaeffler.com">Timm Eichstädt</a>.
  </p>
  <div fxLayout="row wrap" fxLayoutGap="15px grid">
    <ng-container *ngFor="let elem of elements; trackBy: trackByFn">
      <div
        fxFlex="calc(25% - 15px)"
        fxFlex.lt-md="calc(33% - 15px)"
        fxFlex.lt-sm="calc(50% - 15px)"
      >
        <div
          class="elevation elem"
          [ngClass]="{ active: elem.url, inactive: !elem.url }"
          [routerLink]="elem.url ? elem.url : undefined"
        >
          <mat-card fxLayout="column" fxLayoutAlign="center center" fxFill>
            <schaeffler-icon
              [icon]="elem.icon"
              [fontSize]="(isMobile$ | async) === true ? '40px' : '83px'"
            ></schaeffler-icon>
            <h2 class="service-name">{{ elem.title }}</h2>
          </mat-card>
        </div>
      </div>
    </ng-container>
  </div>
</div>
