@import 'libs/shared/styles/src/lib/colors';
@import 'libs/shared/styles/src/lib/fonts';

.description {
  a {
    text-decoration: none;
  }
}

.elem {
  background: $schaeffler-gray-0;
  color: $schaeffler-carbon-gray;
  height: 100%;
  outline: none;

  mat-icon {
    color: $schaeffler-carbon-gray;
    font-size: 83px;
    height: 83px;
    width: 83px;
  }
  h2 {
    color: $schaeffler-carbon-gray;
  }

  @media screen and (max-width: $screen-xs-max) {
    mat-icon {
      font-size: 40px;
      height: 40px;
      width: 40px;
    }
    h2 {
      font-size: 20px;
    }
  }

  &.inactive {
    mat-icon,
    h2 {
      opacity: 0.4;
    }
  }
}

.elem:before {
  content: '';
  display: block;
  float: left;
  padding-top: 100%;
}

.service-name {
  text-align: center;
}
