<div class="page-container">
  <h1>Overview</h1>
  <div
    class="main-container"
    fxLayout="row"
    fxLayoutAlign="space-around center"
  >
    <div
      routerLink="tagging"
      class="overview-elem"
      fxLayout="column"
      fxLayoutAlign="space-around center"
    >
      <mat-icon class="icon" fontIcon="icon-bookmark"></mat-icon>
      <h4>Auto Tagging</h4>
    </div>
    <div
      routerLink="translation"
      class="overview-elem"
      fxLayout="column"
      fxLayoutAlign="space-around center"
    >
      <mat-icon class="icon" fontIcon="icon-bookmark"></mat-icon>
      <h4>Translation</h4>
    </div>
  </div>
</div>
