@import 'libs/shared/styles/src';
@import '~@angular/material/theming';

.description {
  a {
    text-decoration: none;
  }
}

.elem {
  background: $schaeffler-gray-0;
  color: $schaeffler-carbon-gray;
  height: 100%;
  outline: none;
  @include mat-elevation-transition;
  @include mat-elevation(2);

  schaeffler-icon,
  h2 {
    color: $schaeffler-carbon-gray;
  }

  @media screen and (max-width: $screen-xs-max) {
    h2 {
      font-size: 20px;
    }
  }

  &.active {
    cursor: pointer;

    &:hover {
      @include mat-elevation(8);
    }
  }

  &.inactive {
    mat-icon,
    h2 {
      opacity: 0.4;
    }
  }
}

.elem:before {
  content: '';
  display: block;
  float: left;
  padding-top: 100%;
}

.service-name {
  text-align: center;
}
