@import 'libs/shared/styles/src/lib/colors';
@import 'libs/shared/styles/src/lib/fonts';
@import '~@angular/material/theming/';

.description {
  a {
    text-decoration: none;
  }
}

.elem {
  background: $schaeffler-gray-0;
  color: $schaeffler-carbon-gray;
  height: 100%;
  outline: none;

  schaeffler-icon,
  h2 {
    color: $schaeffler-carbon-gray;
  }

  @media screen and (max-width: $screen-xs-max) {
    h2 {
      font-size: 20px;
    }
  }

  &.inactive {
    schaeffler-icon,
    h2 {
      opacity: 0.4;
    }
  }
}

.elem:before {
  content: '';
  display: block;
  float: left;
  padding-top: 100%;
}

.service-name {
  text-align: center;
}
