<div class="mt-4">
  <gq-filter-pricing-card
    *transloco="let t; read: 'detailView.filterPricing.targetPrice'"
    [title]="t('title')"
    [isSelected]="quotationDetail.priceSource === PriceSource.TARGET_PRICE"
    [isLoading]="isLoading"
    [isDisabled]="isDisabled"
    (selectManualPrice)="selectTargetPrice()"
  >
    <div content class="flex w-full flex-col flex-wrap sm:flex-row">
      <div class="min-w-[8rem] max-w-[25%] grow pt-2">
        <div class="text-body-2 text-medium-emphasis mb-1">
          {{ t('priceLabel') }}:
        </div>
        <div class="flex-1">
          <span class="font-bold">{{
            quotationDetail?.targetPrice | numberCurrency: currency
          }}</span>
          @if (isQuotationActive$ | ngrxPush) {
            <mat-icon
              class="!text-body-1 text-medium-emphasis ml-1 cursor-pointer align-bottom !leading-6"
              (click)="openTargetPriceEditingModal()"
              >mode_edit</mat-icon
            >
          }
        </div>
      </div>
      <div class="min-w-[8rem] pt-2">
        <div class="text-body-2 text-medium-emphasis mb-1">{{ t('gpi') }}:</div>
        <div>
          <span class="font-bold">{{ gpi | percentage }}</span>
        </div>
      </div>
      <div class="min-w-[8rem] pt-2">
        <div class="text-body-2 text-medium-emphasis mb-1">{{ t('gpm') }}:</div>
        <div>
          <span class="font-bold">{{ gpm | percentage }}</span>
        </div>
      </div>
      @if (gpmRfq) {
        <div class="min-w-[8rem] pt-2">
          <div class="text-body-2 text-medium-emphasis mb-1">
            {{ t('gpmRfq) }}:
          </div>
          <div>
            <span class="font-bold">{{ gpmRfq | percentage }}</span>
          </div>
        </div>
      }
      <div class="min-w-[8rem] pt-2">
        <div class="text-body-2 text-medium-emphasis mb-1">
          {{ t('quantity') }}:
        </div>
        <gq-quantity-display
          [quotationDetail]="quotationDetail"
        ></gq-quantity-display>
      </div>
      <div class="min-w-[8rem] pt-2">
        <div class="text-body-2 text-medium-emphasis mb-1">
          {{ t('priceUnit') }}:
        </div>
        <div>
          <span class="font-bold">{{
            quotationDetail?.leadingPriceUnit | number
          }}</span>
        </div>
      </div>
    </div>
  </gq-filter-pricing-card>
</div>
