<div
  [formGroup]="form"
  class="mb-3 flex flex-row gap-6 items-end"
  *transloco="let t; read: 'calculator.rfq4DetailView.recalculation.inputs.sqv'"
>
  <div class="w-1/2">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ t('label') }}</mat-label>
      <input
        matInput
        type="text"
        (keydown)="validateNumericInputKeyPress($event)"
        [formControlName]="formControlName()"
      />
      @if (formControl.errors) {
        <mat-error>
          <gq-show-error
            [errors]="formControl.errors"
            [label]="t('label')"
          ></gq-show-error>
        </mat-error>
      }
    </mat-form-field>
  </div>
  <div class="w-1/2 flex flex-col h-20 justify-end">
    <div class="flex items-center justify-between px-4 h-16">
      <div>
        <span class="text-body-2 text-medium-emphasis">{{ t('label') }}:</span>
      </div>
      <div>
        <span class="text-subtitle-1 text-medium-emphasis p-4">{{
          rfqProcessData().sqv
            | translocoDecimal
              : { minimumFractionDigits: 2, maximumFractionDigits: 2 }
            | undefinedToDash
        }}</span>
      </div>
    </div>
    <div class="h-4"></div>
  </div>
</div>
