<div class="flex flex-col gap-6 h-full">
  <d360-global-selection-criteria
    (onGlobalSelectionChange)="onUpdateGlobalSelectionState($event)"
  />
  <d360-forecast-chart
    [columnFilters]="columnFilters"
    [globalSelectionState]="globalSelectionCriteria"
  />

  <d360-styled-section [grow]="true" class="flex flex-col h-full">
    <d360-material-customer-table
      class="contents"
      [selectionFilter]="globalSelectionCriteria"
      (onColumnFilterChange)="onUpdateColumnFilter($event)"
    />
  </d360-styled-section>
</div>
