<div class="flex flex-col gap-6">
  <d360-global-selection-criteria
    (onGlobalSelectionChange)="onUpdateGlobalSelectionState($event)"
  />
  <d360-forecast-chart
    [columnFilters]="columnFilters"
    [globalSelectionState]="globalSelectionCriteria"
  />

  <d360-styled-section>
    <d360-styled-grid-section>
      <d360-material-customer-table
        [selectionFilter]="globalSelectionCriteria"
        (onColumnFilterChange)="onUpdateColumnFilter($event)"
      />
    </d360-styled-grid-section>
  </d360-styled-section>
</div>
