<div class="widget-content">
  <div *transloco="let t; read: 'detail.detailTab'">
    <h6>{{ t('production.title') }}</h6>
    <div class="widget-group" *ngIf="productionDetails && !errorMessage">
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('production.procurementType') }}:&nbsp;</label
        >
        <div>
          {{ productionDetails?.procurementType | undefinedAttributeFallback }}
        </div>
      </div>
      <div fxLayout="row wrap">
        <label fxFlexAlign="end">{{ t('production.plant') }}:&nbsp;</label>
        <div>
          {{ productionDetails?.plant | undefinedAttributeFallback }}
        </div>
      </div>
      <!-- <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('production.saleableItem') }}:&nbsp;</label
        >
        <div>
          {{ t('production.' + productionDetails?.saleableItem) }}
        </div>
      </div> -->
    </div>
    <div class="widget-group" *ngIf="productionDetails && !errorMessage">
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('production.productionTechnology') }}:&nbsp;</label
        >
        <div>
          {{
            productionDetails?.productionTechnology | undefinedAttributeFallback
          }}
        </div>
      </div>
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('production.manufacturingProcess') }}:&nbsp;</label
        >
        <div>
          {{
            productionDetails?.manufacturingProcess | undefinedAttributeFallback
          }}
        </div>
      </div>
    </div>
    <div class="widget-group" *ngIf="productionDetails && !errorMessage">
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('production.specialProcurement') }}:&nbsp;</label
        >
        <div>
          {{
            productionDetails?.specialProcurement | undefinedAttributeFallback
          }}
        </div>
      </div>
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('production.purchasePriceValidFrom') }}:&nbsp;</label
        >
        <div>
          {{
            productionDetails?.purchasePriceValidFrom
              | translocoDate
              | undefinedAttributeFallback
          }}
        </div>
      </div>
      <div fxLayout="row wrap">
        <label fxFlexAlign="end"
          >{{ t('production.purchasePriceValidUntil') }}:&nbsp;</label
        >
        <div>
          {{
            productionDetails?.purchasePriceValidUntil
              | translocoDate
              | undefinedAttributeFallback
          }}
        </div>
      </div>
      <div fxLayout="row wrap">
        <label fxFlexAlign="end">{{ t('production.supplier') }}:&nbsp;</label>
        <div fxFlex="100%">
          {{ productionDetails?.supplier | undefinedAttributeFallback }}
        </div>
      </div>
    </div>
    <div
      class="error-box"
      *ngIf="errorMessage"
      fxLayout="row"
      fxLayoutAlign="space-around center"
    >
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>
