<div *transloco="let t; read: 'detail.detailTab.production'">
  <h6 class="text-medium-emphasis mb-4">{{ t('title') }}</h6>
  <cdba-detail-label-value
    [label]="t('procurementType')"
    [value]="productionDetails?.procurementType | undefinedAttributeFallback"
  ></cdba-detail-label-value>
  <cdba-detail-label-value
    [label]="t('plant')"
    [value]="productionDetails?.plant | undefinedAttributeFallback"
    [borderBottom]="true"
  ></cdba-detail-label-value>
  <cdba-detail-label-value
    [label]="t('specialProcurement')"
    [value]="productionDetails?.specialProcurement | undefinedAttributeFallback"
  ></cdba-detail-label-value>
  <cdba-detail-label-value
    [label]="t('purchasePriceValidFrom')"
    [value]="
      productionDetails?.purchasePriceValidFrom
        | translocoDate
        | undefinedAttributeFallback
    "
  ></cdba-detail-label-value>
  <cdba-detail-label-value
    [label]="t('purchasePriceValidUntil')"
    [value]="
      productionDetails?.purchasePriceValidUntil
        | translocoDate
        | undefinedAttributeFallback
    "
  ></cdba-detail-label-value>
  <cdba-detail-label-value
    [label]="t('supplier')"
    [value]="productionDetails?.supplier | undefinedAttributeFallback"
  ></cdba-detail-label-value>
</div>
