@import 'libs/shared/ui/styles/src/lib/colors';

:host {
  margin-bottom: 0 !important;
  width: 100%;

  .offer-view-header {
    .back-arrow-icon {
      color: $schaeffler-carbon-gray;
      cursor: pointer;
      font-size: 24px;
      margin: 0 16px;
    }

    .cart-icon {
      color: $schaeffler-green-2;
      font-size: 32px;
      margin: 0 16px 0 0;
      padding-bottom: 10px;
    }

    button {
      margin: 16px 16px 16px 0;

      mat-icon {
        vertical-align: initial;
      }
    }
    h1 {
      color: $schaeffler-black;
      font-size: 34px;
      opacity: 0.87;
    }
  }
}
