<div
  fxLayout="row"
  fxLayoutAlign="space-between"
  class="offer-view-header"
  *transloco="let t; read: 'offerView.offerHeader'"
>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-icon
      fontSet="schaeffler-icons"
      fontIcon="icon-arrow-west"
      class="back-arrow-icon"
      (click)="backToProcessCase()"
    ></mat-icon>
    <mat-icon
      fontSet="schaeffler-icons"
      fontIcon="icon-cart"
      class="cart-icon"
    ></mat-icon>
    <h1>{{ t('title') | uppercase }} {{ offerNumber }}</h1>
  </div>
</div>
<gq-customer-details [customer]="customer$ | async"></gq-customer-details>
