@if (rating) {
  <div>
    @for (i of [].constructor(rating); track $index) {
      <mat-icon
        color="primary"
        class="!w-auto !overflow-visible align-text-top"
        [ngClass]="iconClasses ? iconClasses : '!text-[34px]'"
        >star</mat-icon
      >
    }
    @for (i of [].constructor(3 - rating); track $index) {
      <mat-icon
        color="primary"
        class="!w-auto !overflow-visible align-text-top"
        [ngClass]="iconClasses ? iconClasses : '!text-[34px]'"
        >star_border</mat-icon
      >
    }
  </div>
} @else {
  -
}
