<ng-container *transloco="let t">
  <input
    *ngIf="isBoolean; else dropdown"
    type="checkbox"
    [formControl]="control"
  />

  <ng-template #dropdown>
    <ng-container
      *ngIf="
        !meta.listValuesLoading$ || !(meta.listValuesLoading$ | ngrxPush);
        else loading
      "
    >
      <ng-container *ngIf="!(isPictureList$ | ngrxPush); else pictureCardList">
        <div
          [ngClass]="
            meta.page.id !== PROPERTY_PAGE_MOUNTING &&
            meta.page.id !== PROPERTY_PAGE_MOUNTING_SITUATION_SUB
              ? 'max-w-sm'
              : ''
          "
        >
          <ng-container *ngIf="(options$ | ngrxPush).length > 0">
            <schaeffler-select
              *ngIf="
                isDropdownInput(meta.member?.type, meta.member?.id);
                else select
              "
              ngDefaultControl
              appearance="outline"
              [stringOptions]="options$ | ngrxPush"
              [resetButton]="false"
              [formControl]="control"
              [placeholder]="
                t('form.select', { fieldname: meta.member.text | transloco })
              "
              [searchPlaceholder]="
                t('form.select', { fieldname: meta.member.text | transloco })
              "
              [label]="
                meta.page.id === PROPERTY_PAGE_MOUNTING_SITUATION_SUB ||
                meta.page.id === PROPERTY_PAGE_MOUNTING
                  ? meta.member.text
                  : undefined
              "
              [initialValue]="selectedOption"
              (optionSelected)="onOptionSelected($event)"
            >
            </schaeffler-select>
            <ng-template #select>
              <mm-select-member
                [placeholder]="
                  meta.member.id === 'IDMM_MEASSURING_METHOD'
                    ? t('form.select', {
                        fieldname: meta.member.text | transloco
                      })
                    : ''
                "
                [options]="options$ | ngrxPush"
              ></mm-select-member>
            </ng-template>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </ng-template>

  <ng-template #pictureCardList>
    <ng-container *ngIf="(options$ | ngrxPush).length > 0">
      <mm-picture-card-list
        [options]="options$ | ngrxPush"
        [formControl]="control"
        [translationRequired]="meta.member.type === 'list'"
      ></mm-picture-card-list>
    </ng-container>
  </ng-template>

  <ng-template #loading>
    <div>
      <schaeffler-loading-spinner
        [relative]="true"
      ></schaeffler-loading-spinner>
    </div>
  </ng-template>
</ng-container>
