@if ((sapId$ | ngrxPush) && !(simulationModeEnabled$ | ngrxPush)) {
  <div>
    <div
      *transloco="let t; read: 'shared.customStatusBar.buttons'"
      [matTooltip]="t(tooltipText$ | ngrxPush)"
      [matTooltipDisabled]="(quotationEditable$ | ngrxPush) && !uploadDisabled"
      matTooltipPosition="above"
    >
      <button
        class="!m-4 !mr-0"
        mat-button
        [disabled]="uploadDisabled || !(quotationEditable$ | ngrxPush)"
        (click)="uploadSelectionToSap()"
      >
        {{ t('uploadSelectionToSap') }}
      </button>
    </div>
  </div>
}
