@if ((sapId$ | ngrxPush) && !(simulationModeEnabled$ | ngrxPush)) {
  <div>
    <div
      *transloco="let t; read: 'shared.customStatusBar.buttons'"
      [matTooltip]="t(tooltipText$ | ngrxPush)"
      [matTooltipDisabled]="(quotationActive$ | ngrxPush) && !uploadDisabled"
      matTooltipPosition="above"
    >
      <button
        class="!m-4 !mr-0"
        mat-raised-button
        color="primary"
        [disabled]="uploadDisabled || !(quotationActive$ | ngrxPush)"
        (click)="uploadSelectionToSap()"
      >
        <mat-icon class="!align-text-bottom !text-[20px]">{{ icon }}</mat-icon>
        {{ t('uploadSelectionToSap') }}
      </button>
    </div>
  </div>
}
