<div *transloco="let t; read: 'bearing'">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel
      [expanded]="step === 0"
      (opened)="setStep(0)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Lagermerkmale </mat-panel-title>
        <mat-panel-description class="justify-between">
          <span *ngIf="bearingType?.value && step > 0">{{
            t('types.' + bearingType.value)
          }}</span>
          <span class="grow"></span>
          <mat-icon>tune</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-divider class="pb-6"></mat-divider>
      <div class="px-4">
        <form [formGroup]="bearingExtendedSearchParametersForm">
          <ga-select
            class="w-full"
            [control]="bearingType"
            [label]="t('bearingType')"
            [options]="bearingTypes"
            [noInfo]="true"
          ></ga-select>
          <mat-divider class="pb-6 md:!hidden"></mat-divider>
          <div class="text-caption">{{ t('boreDiameter') }}</div>

          <mtx-slider
            [formControl]="sliderValue"
            [min]="sliderMin"
            [max]="sliderMax"
            color="primary"
            class="w-full"
            thumbLabel
            (change)="onSliderChange($event)"
          ></mtx-slider>

          <div class="mb-4 grid grid-cols-3 items-center gap-1">
            <div>{{ sliderValue.value | json }}</div>
            <mat-form-field
              appearance="standard"
              class="h-[42px] !w-full !text-right"
            >
              <input
                #minInput
                matInput
                autocomplete="off"
                [value]="sliderValue.value[0]"
                [min]="sliderMin"
                [max]="sliderMax"
                (change)="setSliderMinValue(+minInput.value)"
              />
              <div matSuffix>&nbsp;mm</div>
            </mat-form-field>
            <mat-form-field
              appearance="standard"
              class="h-[42px] !w-full !text-right"
            >
              <input
                #maxInput
                matInput
                autocomplete="off"
                pattern="/[0-9]/"
                [value]="sliderValue.value[1]"
                [min]="sliderMin"
                [max]="sliderMax"
                (change)="setSliderMaxValue(+maxInput.value)"
              />
              <div matSuffix>&nbsp;mm</div>
            </mat-form-field>
          </div>

          <button
            mat-icon-button
            color="warn"
            matTooltip="Set Min to 200"
            (click)="setSliderMinValue(200)"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            matTooltip="Set Min to 400"
            (click)="setSliderMinValue(400)"
          >
            <mat-icon>play_circle</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            matTooltip="Set Min to 800"
            (click)="setSliderMinValue(800)"
          >
            <mat-icon>home</mat-icon>
          </button>
          <span><--></span>
          <button
            mat-icon-button
            color="warn"
            matTooltip="Set Max to 200"
            (click)="setSliderMaxValue(200)"
          >
            <mat-icon>cloud_upload</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            matTooltip="Set Max to 400"
            (click)="setSliderMaxValue(400)"
          >
            <mat-icon>history</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            matTooltip="Set Max to 800"
            (click)="setSliderMaxValue(800)"
          >
            <mat-icon>airplay</mat-icon>
          </button>
          <mat-divider class="pb-4"></mat-divider>

          <!--          <div class="flex gap-4">-->
          <!--            <div class="grow">-->
          <!--              <ga-input-->
          <!--                class="w-full"-->
          <!--                [control]="maxDi"-->
          <!--                [label]="t('max')"-->
          <!--                [unit]="t('mm')"-->
          <!--                [customErrors]="consistencyErrors"-->
          <!--                [onlyPositive]="true"-->
          <!--                [noInfo]="true"-->
          <!--              ></ga-input>-->
          <!--            </div>-->
          <!--            <div class="grow">-->
          <!--              <ga-input-->
          <!--                class="w-full"-->
          <!--                [control]="minDi"-->
          <!--                [label]="t('min')"-->
          <!--                [unit]="t('mm')"-->
          <!--                [customErrors]="consistencyErrors"-->
          <!--                [onlyPositive]="true"-->
          <!--                [noInfo]="true"-->
          <!--              ></ga-input>-->
          <!--            </div>-->
          <!--            <div class="grow-0">-->
          <!--              <div class="h-[65px] grow-0 items-center md:flex">-->
          <!--                <button-->
          <!--                  mat-icon-button-->
          <!--                  color="warn"-->
          <!--                  [matTooltip]="t('reset', { dimension: t('boreDiameter') })"-->
          <!--                  [disabled]="!minDi.value"-->
          <!--                  (click)="deleteDimension('minDi', 'maxDi')"-->
          <!--                >-->
          <!--                  <mat-icon>close</mat-icon>-->
          <!--                </button>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->

          <mat-divider class="pb-6 md:!hidden"></mat-divider>
          <div class="flex flex-col gap-4 md:flex-row">
            <ga-input
              class="w-full"
              [control]="minDa"
              [label]="t('outsideDiameter') + ' ' + t('min')"
              [unit]="t('mm')"
              [customErrors]="consistencyErrors"
              [onlyPositive]="true"
              [noInfo]="true"
            ></ga-input>
            <ga-input
              class="w-full"
              [control]="maxDa"
              [label]="t('outsideDiameter') + ' ' + t('max')"
              [unit]="t('mm')"
              [customErrors]="consistencyErrors"
              [onlyPositive]="true"
              [noInfo]="true"
            ></ga-input>
            <div class="hidden h-[65px] items-center md:flex">
              <button
                mat-icon-button
                color="warn"
                [matTooltip]="t('reset', { dimension: t('outsideDiameter') })"
                [disabled]="!minDa.value"
                (click)="deleteDimension('minDa', 'maxDa')"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <div class="pb-6 text-center md:hidden">
              <button
                mat-button
                color="warn"
                [disabled]="!minDa.value"
                (click)="deleteDimension('minDa', 'maxDa')"
              >
                {{ t('reset', { dimension: t('outsideDiameter') }) }}
              </button>
            </div>
          </div>
          <mat-divider class="pb-6 md:!hidden"></mat-divider>
          <div class="flex flex-col items-center gap-4 md:flex-row">
            <ga-input
              class="w-full"
              [control]="minB"
              [label]="t('width') + ' ' + t('min')"
              [unit]="t('mm')"
              [customErrors]="consistencyErrors"
              [onlyPositive]="true"
              [noInfo]="true"
            ></ga-input>
            <ga-input
              class="w-full"
              [control]="maxB"
              [label]="t('width') + ' ' + t('max')"
              [unit]="t('mm')"
              [customErrors]="consistencyErrors"
              [onlyPositive]="true"
              [noInfo]="true"
            ></ga-input>
            <div class="hidden h-[65px] md:flex">
              <button
                mat-icon-button
                color="warn"
                [matTooltip]="t('reset', { dimension: t('width') })"
                [disabled]="!minB.value"
                (click)="deleteDimension('minB', 'maxB')"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <div class="pb-6 text-center md:hidden">
              <button
                mat-button
                color="warn"
                [disabled]="!minB.value"
                (click)="deleteDimension('minB', 'maxB')"
              >
                {{ t('reset', { dimension: t('width') }) }}
              </button>
            </div>
          </div>
          <mat-divider class="pb-6 md:!hidden"></mat-divider>
        </form>
      </div>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">
          Lager auswählen
        </button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="step === 1"
      (opened)="setStep(1)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Lagerauswahl </mat-panel-title>
        <mat-panel-description class="justify-between">
          <span class="grow"></span>
          <mat-icon>manage_search</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="px-4">
        <ga-bearing-list></ga-bearing-list>
      </div>
      <mat-action-row>
        <button mat-button color="primary" (click)="prevStep()">
          Lagermerkmale ändern
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
