<div
  *transloco="let t; read: 'bearing'"
  class="flex flex-col lg:w-2/3 xl:w-1/2"
>
  <form [formGroup]="bearingExtendedSearchParametersForm">
    <ga-select
      class="w-full"
      [control]="bearingType"
      [label]="t('bearingType')"
      [options]="bearingTypes"
      [placeholder]="t('bearingType')"
      [noInfo]="true"
    ></ga-select>
    <mat-divider class="pb-6 md:!hidden"></mat-divider>
    <div>
      <div class="flex flex-col gap-4 md:flex-row">
        <ga-input
          class="w-full"
          [control]="minDi"
          [label]="t('boreDiameter') + ' ' + t('min')"
          [unit]="t('mm')"
          [placeholder]="
            t('pleaseEnter', { label: t('boreDiameter') + ' ' + t('min') })
          "
          [customErrors]="consistencyErrors"
          [onlyPositive]="true"
          [noInfo]="true"
        ></ga-input>
        <ga-input
          class="w-full"
          [control]="maxDi"
          [label]="t('boreDiameter') + ' ' + t('max')"
          [unit]="t('mm')"
          [placeholder]="
            t('pleaseEnter', { label: t('boreDiameter') }) + ' ' + t('max')
          "
          [customErrors]="consistencyErrors"
          [onlyPositive]="true"
          [noInfo]="true"
        ></ga-input>
      </div>
    </div>
    <mat-divider class="pb-6 md:!hidden"></mat-divider>
    <div class="flex flex-col gap-4 md:flex-row">
      <ga-input
        class="w-full"
        [control]="minDa"
        [label]="t('outsideDiameter') + ' ' + t('min')"
        [unit]="t('mm')"
        [placeholder]="
          t('pleaseEnter', { label: t('outsideDiameter') + ' ' + t('min') })
        "
        [customErrors]="consistencyErrors"
        [onlyPositive]="true"
        [noInfo]="true"
      ></ga-input>
      <ga-input
        class="w-full"
        [control]="maxDa"
        [label]="t('outsideDiameter') + ' ' + t('max')"
        [unit]="t('mm')"
        [placeholder]="
          t('pleaseEnter', { label: t('outsideDiameter') }) + ' ' + t('max')
        "
        [customErrors]="consistencyErrors"
        [onlyPositive]="true"
        [noInfo]="true"
      ></ga-input>
    </div>
    <mat-divider class="pb-6 md:!hidden"></mat-divider>
    <div class="flex flex-col gap-4 md:flex-row">
      <ga-input
        class="w-full"
        [control]="minB"
        [label]="t('width') + ' ' + t('min')"
        [unit]="t('mm')"
        [placeholder]="t('pleaseEnter', { label: t('width') + ' ' + t('min') })"
        [customErrors]="consistencyErrors"
        [onlyPositive]="true"
        [noInfo]="true"
      ></ga-input>
      <ga-input
        class="w-full"
        [control]="maxB"
        [label]="t('width') + ' ' + t('max')"
        [unit]="t('mm')"
        [placeholder]="t('pleaseEnter', { label: t('width') }) + ' ' + t('max')"
        [customErrors]="consistencyErrors"
        [onlyPositive]="true"
        [noInfo]="true"
      ></ga-input>
    </div>
  </form>
  <!-- <pre>{{ bearingExtendedSearchParameters$ | ngrxPush | json }}</pre> -->

  <div *ngrxLet="bearingResultExtendedSearchList$; let bearings">
    <div class="mb-5">
      <button
        mat-raised-button
        class="w-full"
        color="primary"
        [disabled]="bearings.length < 1 || bearings.length > 99"
      >
        {{ t('selectBearingFromList', { amount: bearings.length }) }}
      </button>
    </div>
    <!-- TODO remove and create list component -->
    <!-- <div class="flex flex-col">
        <button
          *ngFor="let bearing of bearings"
          (click)="handleBearingSelection(bearing.id)"
        >
          {{ bearing.title }}
        </button>
      </div> -->
  </div>
</div>
