<div *transloco="let t; read: 'bearing'">
  <form [formGroup]="bearingExtendedSearchParametersForm">
    <ga-select
      class="w-full"
      [control]="bearingType"
      [label]="t('bearingType')"
      [options]="bearingTypes"
      [placeholder]="t('bearingType')"
      [noInfo]="true"
    ></ga-select>
    <mat-divider class="pb-6 md:!hidden"></mat-divider>
    <div class="flex flex-col gap-4 md:flex-row">
      <ga-input
        class="w-full"
        [control]="minDi"
        [label]="t('boreDiameter') + ' ' + t('min')"
        [unit]="t('mm')"
        [placeholder]="
          t('pleaseEnter', { label: t('boreDiameter') + ' ' + t('min') })
        "
        [customErrors]="consistencyErrors"
        [onlyPositive]="true"
        [noInfo]="true"
      ></ga-input>
      <ga-input
        class="w-full"
        [control]="maxDi"
        [label]="t('boreDiameter') + ' ' + t('max')"
        [unit]="t('mm')"
        [placeholder]="
          t('pleaseEnter', { label: t('boreDiameter') + ' ' + t('max') })
        "
        [customErrors]="consistencyErrors"
        [onlyPositive]="true"
        [noInfo]="true"
      ></ga-input>
      <div class="hidden h-[65px] items-center md:flex">
        <button
          mat-icon-button
          color="warn"
          [matTooltip]="t('reset', { dimension: t('boreDiameter') })"
          [disabled]="!minDi.value"
          (click)="deleteDimension('minDi', 'maxDi')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="pb-6 text-center md:hidden">
        <button
          mat-button
          color="warn"
          [disabled]="!minDi.value"
          (click)="deleteDimension('minDi', 'maxDi')"
          [innerHTML]="
            t('reset', {
              dimension:
                '<span class=\'normal-case\'>d</span>' + t('boreDiameterWord')
            })
          "
        ></button>
      </div>
    </div>
    <mat-divider class="pb-6 md:!hidden"></mat-divider>
    <div class="flex flex-col gap-4 md:flex-row">
      <ga-input
        class="w-full"
        [control]="minDa"
        [label]="t('outsideDiameter') + ' ' + t('min')"
        [unit]="t('mm')"
        [placeholder]="
          t('pleaseEnter', { label: t('outsideDiameter') + ' ' + t('min') })
        "
        [customErrors]="consistencyErrors"
        [onlyPositive]="true"
        [noInfo]="true"
      ></ga-input>
      <ga-input
        class="w-full"
        [control]="maxDa"
        [label]="t('outsideDiameter') + ' ' + t('max')"
        [unit]="t('mm')"
        [placeholder]="
          t('pleaseEnter', { label: t('outsideDiameter') + ' ' + t('max') })
        "
        [customErrors]="consistencyErrors"
        [onlyPositive]="true"
        [noInfo]="true"
      ></ga-input>
      <div class="hidden h-[65px] items-center md:flex">
        <button
          mat-icon-button
          color="warn"
          [matTooltip]="t('reset', { dimension: t('outsideDiameter') })"
          [disabled]="!minDa.value"
          (click)="deleteDimension('minDa', 'maxDa')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="pb-6 text-center md:hidden">
        <button
          mat-button
          color="warn"
          [disabled]="!minDa.value"
          (click)="deleteDimension('minDa', 'maxDa')"
        >
          {{ t('reset', { dimension: t('outsideDiameter') }) }}
        </button>
      </div>
    </div>
    <mat-divider class="pb-6 md:!hidden"></mat-divider>
    <div class="flex flex-col items-center gap-4 md:flex-row">
      <ga-input
        class="w-full"
        [control]="minB"
        [label]="t('width') + ' ' + t('min')"
        [unit]="t('mm')"
        [placeholder]="t('pleaseEnter', { label: t('width') + ' ' + t('min') })"
        [customErrors]="consistencyErrors"
        [onlyPositive]="true"
        [noInfo]="true"
      ></ga-input>
      <ga-input
        class="w-full"
        [control]="maxB"
        [label]="t('width') + ' ' + t('max')"
        [unit]="t('mm')"
        [placeholder]="t('pleaseEnter', { label: t('width') + ' ' + t('max') })"
        [customErrors]="consistencyErrors"
        [onlyPositive]="true"
        [noInfo]="true"
      ></ga-input>
      <div class="hidden h-[65px] md:flex">
        <button
          mat-icon-button
          color="warn"
          [matTooltip]="t('reset', { dimension: t('width') })"
          [disabled]="!minB.value"
          (click)="deleteDimension('minB', 'maxB')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="pb-6 text-center md:hidden">
        <button
          mat-button
          color="warn"
          [disabled]="!minB.value"
          (click)="deleteDimension('minB', 'maxB')"
        >
          {{ t('reset', { dimension: t('width') }) }}
        </button>
      </div>
    </div>
    <mat-divider class="pb-6 md:!hidden"></mat-divider>
  </form>
</div>
