<schaeffler-search
  *transloco="let t"
  appearance="outline"
  [stringOptions]="bearingResultList$ | ngrxPush"
  [loading]="bearingSelectionLoading$ | ngrxPush"
  [control]="myControl"
  [label]="t('form.chooseOption')"
  [placeholder]="t('form.chooseOption')"
  [noResultsText]="t('form.searchNoResults')"
  [initialValue]="selectedBearing"
  (searchUpdated)="getBearings($event)"
  (optionSelected)="onOptionSelected($event)"
>
  <div loadingContent>{{ t('form.searchLoading') }}</div>
</schaeffler-search>
