<div *transloco="let t" class="relative">
  <!-- Dialog Header -->
  <div mat-dialog-title>
    <div class="flex justify-between items-center">
      <!-- Dialog Title -->
      <h5 class="font-bold">
        {{ t('multiselect.title', { entities: data.entityNamePlural }) }}
      </h5>
    </div>
  </div>

  <mat-dialog-content class="my-10">
    <!-- Dialog instructions -->
    <p>
      {{ t('multiselect.instructions', { entities: data.entityNamePlural }) }}
    </p>

    <div class="grid grid-cols-1 mt-5">
      <div>
        <!-- Use the autocomplete to load the data via REST-Call -->
        @if (data.urlBegin) {
          <div>
            <d360-multi-autocomplete-on-type
              [autocompleteLabel]="data.autocompleteLabel"
              [control]="unsavedValues"
              [form]="data.form"
              [searchControl]="data.searchControl"
              [getOptionLabelInTag]="data.getOptionLabelInTag"
              [getOptionLabel]="data.getOptionLabel"
              [optionsLoadingResult]="data.optionsLoadingResults!"
              [urlBegin]="data.urlBegin"
              [requestWithLang]="true"
              [addClearButton]="true"
            />
          </div>
        } @else if (!data.urlBegin) {
          <!-- Use the autocomplete to load the data via passed options -->
          <div>
            <d360-multi-autocomplete-pre-loaded
              [autocompleteLabel]="data.autocompleteLabel"
              [control]="unsavedValues"
              [form]="data.form"
              [searchControl]="data.searchControl"
              [getOptionLabelInTag]="data.getOptionLabelInTag"
              [getOptionLabel]="data.getOptionLabel"
              [optionsLoadingResult]="data.optionsLoadingResults!"
              [addClearButton]="true"
            />
          </div>
        }
      </div>

      <div class="flex flex-col gap-2">
        <!-- render the error messages -->
        @if (clipboardErrors().messages.length > 0) {
          <div class="error-list">
            <div>
              <strong>{{ t('multiselect.error.check_input') }}</strong>
            </div>
            <ul>
              @for (message of clipboardErrors().messages; track message) {
                <li>{{ message }}</li>
              }
            </ul>
          </div>
        }

        <!-- render the ignored values messages -->
        @if (clipboardErrors().messages.length > 0) {
          <div class="error-list">
            {{
              t('multiselect.error.ignored_values', {
                values: clipboardErrors().ignoredValues.join(', ')
              })
            }}
          </div>
        }
      </div>
    </div>
  </mat-dialog-content>

  <!-- Dialog Buttons -->
  <mat-dialog-actions [align]="'end'">
    <!-- copy from clipboard button -->
    <button
      (click)="pasteFromClipboard()"
      mat-button
      class="justify-start w-full sm:justify-normal sm:w-auto"
    >
      <mat-icon>content_paste</mat-icon>
      {{ t('paste_from_clipboard') }}
    </button>

    <div class="flex-grow"></div>

    <!-- Reset Selection Button -->
    <button (click)="resetSelection()" mat-button mat-dialog-close>
      {{ t('button.cancel') }}
    </button>

    <!-- Apply to FormField Button -->
    <button
      (click)="applySelection()"
      color="primary"
      mat-dialog-close
      mat-flat-button
    >
      {{ t('multiselect.apply') }}
    </button>
  </mat-dialog-actions>

  <!-- The loading spinner -->
  @if (loading()) {
    <div
      class="absolute top-0 left-0 w-full h-full bg-white bg-opacity-60 z-50"
    >
      <schaeffler-loading-spinner [useBearingLoadingSpinner]="true" />
    </div>
  }
</div>
