<ng-container *transloco="let t; read: 'fPricing.pricingAssistantModal'">
  <ng-container *ngIf="!isAddManualPriceButton; else addManualPrice">
    <div
      class="border box-border border-border border-solid rounded-md p-4 flex flex-col w-full h-20"
      [ngClass]="{ 'border-b-4 border-b-primary': isActiveInDialog }"
    >
      <div class="flex flex-row justify-between w-full">
        <span class="text-caption text-medium-emphasis">{{
          t(priceLabelKey)
        }}</span>
        <ng-container *ngIf="isSelected; then currentlySelected"></ng-container>
      </div>
      <div class="flex flex-row gap-4 items-end">
        <div class="flex items-center gap-2">
          <mat-icon [ngClass]="iconColor">{{ icon }}</mat-icon>
          <span class="gq-text-5 text-high-emphasis"
            >{{ priceValue | numberCurrency: currency }}
          </span>
        </div>
        <gq-label-text [marginBottom]="false">
          <span label> {{ t('gpmLabel') }} </span>text-subtitle-1
          <span text class="font-medium">
            {{ gpmValue | percentage }}
          </span>
        </gq-label-text>
      </div>
    </div>
  </ng-container>

  <ng-template #addManualPrice>
    <div
      class="border box-border border-border border-dashed rounded-md p-4 h-20 flex flex-col w-full items-center cursor-pointer"
      (click)="manualPriceClicked.emit()"
    >
      <mat-icon class="text-medium-emphasis">add</mat-icon>
      <span class="text-body-2 text-medium-emphasis"
        >{{ t('addManualPriceButton') }}
      </span>
    </div>
  </ng-template>

  <ng-template #currentlySelected>
    <div
      class="flex h-full items-center overflow-hidden rounded-full text-caption text-quotation-status-green"
    >
      <span
        class="block rounded-full py-1 px-3 bg-quotation-status-green text-[8px] leading-4 font-bold"
      >
        {{ t('currentlySelected') | uppercase }}</span
      >
    </div>
  </ng-template>
</ng-container>
