<div
  *transloco="let t; scope: 'f-pricing'; read: 'fPricing.pricingAssistantModal'"
  class=""
>
  <gq-dialog-header
    [title]="t('title', { material: material.materialDescription })"
    (closeDialog)="closeDialog.emit()"
  >
  </gq-dialog-header>
  <div class="pt-2 text-caption flex flex-row gap-3">
    @if (material.materialNumber13) {
      <gq-label-text [modalVersion]="true" [modalFlexRow]="true">
        <span label>
          {{ t('materialNumberLabel') }}
        </span>
        <span text>
          {{ material.materialNumber15 | materialTransform }}
        </span>
      </gq-label-text>
    }
    <span class="text-medium-emphasis"> | </span>
    @if (material.dimensions) {
      <gq-label-text [modalVersion]="true" [modalFlexRow]="true">
        <span label>
          {{ t('dimensionsLabel') }}
        </span>
        <span text>
          {{ material.dimensions }}
        </span>
      </gq-label-text>
    }
    <span class="text-medium-emphasis"> | </span>
    @if (material.grossWeight) {
      <gq-label-text [modalVersion]="true" [modalFlexRow]="true">
        <span label>
          {{ t('weightLabel') }}
        </span>
        <span text> {{ material.grossWeight }} {{ material.weightUnit }} </span>
      </gq-label-text>
    }
    <span class="text-medium-emphasis"> | </span>
    <div (click)="showMore.emit()">
      <span class="text-link text-caption cursor-pointer">
        {{ t('showMoreButtonLabel') }}
      </span>
    </div>
  </div>
  <div class="-mx-4 h-px bg-selected-overlay"></div>
</div>
