<ng-container *transloco="let t; read: 'pricingDetails.materialDetails'">
  <div *ngrxLet="quotationDetail.material as materialDetails">
    <gq-label-text>
      <span data-cy="productHierarchy-label" label>{{
        t('productHierarchy')
      }}</span>
      <span data-cy="productHierarchy-value" text
        >{{ materialDetails.productHierarchy }} |
        {{ materialDetails.productHierarchyId }}
      </span>
    </gq-label-text>
    <gq-label-text>
      <span data-cy="productLine-label" label>{{ t('productLine') }}</span>
      <span data-cy="productLine-value" text
        >{{ materialDetails.productLine }} |
        {{ materialDetails.productLineId }}
      </span>
    </gq-label-text>
    <gq-label-text>
      <span data-cy="gpsdGroup-label" label>{{ t('gpsdGroup') }}</span>
      <span data-cy="gpsdGroup-value" text>
        @if (materialDetails.gpsdGroup) {
          <span>{{ materialDetails.gpsdGroup }} |</span>
        }
        <span>{{ materialDetails.gpsdGroupId | nullableString }}</span>
      </span>
    </gq-label-text>
    <gq-label-text>
      <span data-cy="series-label" label>{{ t('series') }}</span>
      <span data-cy="series-value" text>
        {{ materialDetails.series | nullableString }}
      </span>
    </gq-label-text>
    <gq-label-text>
      <span data-cy="followingType-label" label>{{ t('followingType') }}</span>
      <span data-cy="followingType-value" text>
        {{ materialDetails.followingType | materialTransform }}</span
      >
    </gq-label-text>
    <gq-label-text>
      <span data-cy="customerMaterial-label" label>{{
        t('customerMaterial')
      }}</span>
      <span data-cy="customerMaterial-value" text>{{
        quotationDetail.customerMaterial | nullableString
      }}</span>
    </gq-label-text>
  </div>
</ng-container>
