<div class="flex flex-col sm:flex-row sm:flex gap-4 h-full max-h-full">
  <mat-card
    class="w-full sm:min-w-[60%] sm:w-3/5 md:min-w-[40%] md:w-2/5 max-h-full overflow-y-auto"
  >
    <div class="flex flex-col h-full max-h-full">
      <mat-card-header>
        <mat-card-title>
          <div class="flex items-center">
            <mat-icon class="mr-2">date_range</mat-icon>
            <span>Date Picker</span>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <goldwind-date-range
          [interval]="interval$ | ngrxPush"
          (rangeChange)="setInterval($event)"
        ></goldwind-date-range>
        <ng-container *ngrxLet="graphData$ as graphData">
          <goldwind-empty-graph [graphData]="graphData"></goldwind-empty-graph>
        </ng-container>
        <div class="flex flex-col h-14 max-h-full">
          <h6
            class="font-medium text-2xl leading-6 text-high-emphasis mb-4 mt-8"
          >
            {{ translate('linechart.pleaseSelectTrendsToShow') }}
          </h6>
          <mat-tree
            #tree
            [dataSource]="dataSource"
            [treeControl]="treeControl"
            class="h-full max-h-full"
            [formGroup]="displayForm"
          >
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <label class="inline-flex items-center">
                <input
                  [formControlName]="node.formControl"
                  type="checkbox"
                  [ngStyle]="{ color: node.color }"
                  class="form-checkbox text-body-1 bg-[#414546]"
                  #nodeCbPa
                />
                <span
                  class="ml-2"
                  [class.text-high-emphasis]="nodeCbPa.checked"
                  [class.text-medium-emphasis]="!nodeCbPa.checked"
                  >{{ translate(this.translateKey + '.' + node.label) }}</span
                >
              </label>
            </mat-tree-node>
            <mat-tree-node
              *matTreeNodeDef="let node; when: hasChild"
              matTreeNodePadding
            >
              <input
                [checked]="!getIndeterminate(node.name)"
                (change)="this.updateChildForms(node, nodeCb.checked)"
                #nodeCb
                type="checkbox"
                class="form-checkbox text-body-1 !bg-toastBg"
              />
              <button
                mat-icon-button
                matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name"
              >
                <mat-icon class="ml-2 mat-icon-rtl-mirror text-body-2">
                  {{
                    treeControl.isExpanded(node)
                      ? 'expand_more'
                      : 'chevron_right'
                  }}
                </mat-icon>
              </button>
              <span
                class="ml-2 text-body-2"
                [class.text-high-emphasis]="nodeCb.checked"
                [class.text-medium-emphasis]="!nodeCb.checked"
              >
                {{ translate(this.translateKey + '.' + node.name) }}</span
              >
              <!-- <mat-checkbox
              [color]="'secondary'"
              [formControl]="node.formControl"
              [indeterminate]="getIndeterminate(node.name)"
            >
              <button
                mat-icon-button
                matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name"
              >

              </button>
              {{ translate(this.translateKey + '.' + node.name) }}
            </mat-checkbox> -->
            </mat-tree-node>
          </mat-tree>
        </div>
      </mat-card-content>
    </div>
  </mat-card>

  <mat-card class="w-full h-full lg:w-full">
    <mat-card-header class="w-full">
      <mat-card-title class="w-full">
        <div class="flex w-full justify-between">
          <div class="inline-flex items-center">
            <mat-icon class="mr-2">timeline</mat-icon>
            <span> {{ translate(this.translateKey + '.' + 'title') }}</span>
          </div>
          <div class="flex">
            <button
              class="text-link text-button uppercase flex items-center"
              (click)="downloadChartContent()"
            >
              <mat-icon class="text-subtitle-1 mr-2">download</mat-icon>
              <span>Download</span>
            </button>
            <button mat-icon-button (click)="openMoreInfo()">
              <mat-icon class="text-medium-emphasis">more_vert</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-title>
      <mat-card-subtitle>
        <div id="interval" *ngIf="this.interval$">
          <span *ngrxLet="this.interval$ as interval">
            {{ interval.startDate * 1000 | date: 'EE, MMM d, y, h:mm:ss a' }}
            - {{ interval.endDate * 1000 | date: 'EE, MMM d, y, h:mm:ss a' }}
          </span>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="flex flex-col h-full space-between items-center">
      <ng-container *ngIf="graphData$ | ngrxPush as graphData; else loading">
        <div
          class="w-full h-5/6"
          echarts
          [options]="chartOptions"
          [merge]="graphData"
          (chartDataZoom)="onChartZoom($event)"
          (chartInit)="onInit($event)"
        ></div>
      </ng-container>
      <ng-template #loading>
        <div class="flex placeholder-item"></div>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
