<ng-container *ngIf="isBearingSupported$ | ngrxPush; else legacyAppSelection">
  <ng-container *ngIf="isStandalone$ | ngrxPush; else appInner">
    <ng-container *ngIf="!isProduction; else standaloneProdPlaceholder">
      <schaeffler-app-shell
        [hasSidebarLeft]="true"
        [appTitle]="title"
        appTitleLink="/"
        [footerFixed]="false"
        [footerLinks]="footerLinks$ | ngrxPush"
        (onContentScroll)="containerScrollEvent$.next($event)"
      >
        <ng-container mainContent>
          <router-outlet></router-outlet>
        </ng-container>
      </schaeffler-app-shell>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #legacyAppSelection>
  <ng-container *ngIf="isStandalone$ | ngrxPush; else legacyApp">
    <ng-container *ngIf="!isProduction; else standaloneProdPlaceholder">
      <ng-container *ngTemplateOutlet="legacyApp"></ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<!-- adjust language code accordingly in the url-->
<ng-template #legacyApp>
  <iframe
    *ngIf="legacyAppUrl$ | ngrxPush as legacyAppUrl"
    class="w-full h-[100vh]"
    [attr.src]="legacyAppUrl"
  >
  </iframe>
</ng-template>

<ng-template #appInner>
  <div
    class="flex h-full w-full flex-1 flex-col items-center relative"
    *transloco="let t"
  >
    <div
      *ngIf="isStandalone$ | ngrxPush"
      id="title"
      class="text-medium-emphasis text-h4 md:py-10 py-4"
    >
      {{ t('appTitle') }}
    </div>
    <div class="md:flex md:flex-1 max-w-full">
      <ea-calculation-container
        [ngClass]="{ 'max-w-full': !isStandalone$ | ngrxPush }"
      ></ea-calculation-container>
    </div>
  </div>
</ng-template>

<!-- placeholder required before standalone version release-->
<ng-template #standaloneProdPlaceholder>
  <div class="flex flex-col items-center p-4 text-center">
    <h4 class="mb-4 text-high-emphasis">Under Construction</h4>
    <p class="text-subtitle-1 text-medium-emphasis">
      We are sorry, this content is coming soon.
    </p>
  </div>
</ng-template>
