<div
  class="flex h-full min-h-[46px] w-full flex-row justify-center"
  (mouseover)="setHovered(true)"
  (mouseout)="setHovered(false)"
>
  <span class="flex-1 truncate">{{
    params?.valueFormatted ?? params?.value
  }}</span>
  <div class="h-full" *ngIf="isEnabled(materialClass$ | ngrxPush)">
    <mat-icon
      mat-icon-button
      [ngClass]="{ '!hidden': !hovered }"
      (click)="onEditClick()"
      class="!text-[12px] text-medium-emphasis mt-4 cursor-pointer"
      >edit</mat-icon
    >
  </div>
</div>
