<div
  class="flex flex-col h-full"
  *transloco="let t; read: 'shared.editingModal'"
>
  <gq-dialog-header
    [title]="
      t('title', {
        id: modalData.quotationDetail.quotationItemId,
        fieldName: t(modalData.field)
      })
    "
    (closeDialog)="closeDialog()"
  >
  </gq-dialog-header>

  <div
    class="flex flex-col h-full"
    *ngIf="(updateLoading$ | ngrxPush) === false; else loading"
  >
    <div class="h-full">
      <mat-form-field class="w-full">
        <input
          class="text-overline !leading-7"
          [formControl]="editFormControl"
          (keydown)="onKeyPress($event, edit)"
          (paste)="onPaste($event)"
          type="text"
          autocomplete="off"
          cdkTextareaAutosize
          matInput
          #edit
        />
      </mat-form-field>
    </div>
    <div class="pt-8">
      <button
        class="!pl-8 !pr-8"
        color="primary"
        mat-raised-button
        [disabled]="confirmDisabled"
        (click)="confirmEditing()"
      >
        <span> {{ t('confirm') | uppercase }} </span>
      </button>
      <button
        class="!pl-8 !pr-8 !ml-4"
        color="primary"
        mat-stroked-button
        (click)="closeDialog()"
      >
        <span> {{ t('cancel') | uppercase }} </span>
      </button>
    </div>
  </div>
  <ng-template #loading>
    <schaeffler-loading-spinner
      class="h-full"
      backgroundColor="rgba(255,255,255, 0.1)"
      [relative]="true"
    ></schaeffler-loading-spinner>
  </ng-template>
</div>
