<div
  class="flex h-full flex-col"
  *transloco="let t; read: 'shared.editingModal'"
>
  <gq-dialog-header
    [title]="
      t('title', {
        id: modalData.quotationDetail.quotationItemId,
        fieldName: t(modalData.field)
      })
    "
    (closeDialog)="closeDialog()"
  >
  </gq-dialog-header>

  <div
    class="mt-8 flex h-full flex-col"
    *ngIf="(updateLoading$ | ngrxPush) === false; else loading"
  >
    <div class="flex h-full flex-row">
      <mat-form-field class="w-2/3" appearance="outline">
        <mat-label>{{ t('labels.' + modalData.field) }}</mat-label>
        <input
          class="text-overline !leading-7"
          [formControl]="editFormControl"
          (keydown)="onKeyPress($event, edit)"
          (paste)="onPaste($event)"
          [placeholder]="value?.toString()"
          type="text"
          autocomplete="off"
          cdkTextareaAutosize
          matInput
          #edit
        />
        <mat-hint>{{ t('hints.' + modalData.field) }}</mat-hint>
      </mat-form-field>
      <div class="ml-4 mt-3 flex flex-col gap-2">
        <mat-icon
          class="cursor-pointer text-medium-emphasis"
          (click)="increment()"
          >add
        </mat-icon>
        <mat-icon
          class="cursor-pointer text-medium-emphasis"
          (click)="decrement()"
          >remove</mat-icon
        >
      </div>
    </div>
    <div
      class="grid-col mt-2 grid grid-cols-2"
      *ngIf="affectedKpis?.length > 0"
    >
      <div class="mt-4" *ngFor="let kpi of affectedKpis; index as i">
        <div
          *transloco="let t; read: 'shared.editingModal.kpis'"
          class="flex flex-row"
          [ngClass]="{ 'text-low-emphasis': !kpi.value, 'pl-12': i % 2 !== 0 }"
        >
          <div class="mr-8 w-32">
            <h6>{{ t(kpi.key) }}</h6>
            <div>
              <span class="text-caption text-medium-emphasis">{{
                t('previous', {
                  fieldTranslation: t(kpi.key)
                })
              }}</span>
            </div>
          </div>
          <div *ngrxLet="customerCurrency$ as customerCurrency">
            <h6 class="truncate">
              <span *ngIf="kpi.key !== fields.PRICE; else priceFormatter">
                {{ kpi.value || 'N/A' }}
              </span>
              <ng-template #priceFormatter>
                <span>
                  {{ kpi.value | numberCurrency: customerCurrency }}
                </span>
              </ng-template>
            </h6>
            <div class="text-caption leading-6 text-medium-emphasis">
              <span
                *ngIf="kpi.key !== fields.PRICE; else previousPriceFormatter"
              >
                {{ modalData.quotationDetail[kpi.key] || 'N/A' }}
              </span>
              <ng-template #previousPriceFormatter>
                <span>
                  {{
                    modalData.quotationDetail.price
                      | numberCurrency: customerCurrency
                  }}
                </span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="mt-6 flex w-fit flex-row items-center rounded-md border-[1px] border-info bg-nordic-blue bg-opacity-10 py-3 px-3"
    >
      <mat-icon class="mr-4 align-middle !text-info">warning_amber</mat-icon>
      <div class="text-caption">{{ t('warning') }}</div>
    </div>
    <div class="pt-8">
      <button
        class="!pl-4 !pr-4"
        color="primary"
        mat-raised-button
        [disabled]="confirmDisabled"
        (click)="confirmEditing()"
      >
        <span> {{ t('confirm.' + modalData.field) | uppercase }} </span>
      </button>
      <button
        class="!ml-4 !pl-4 !pr-4"
        color="primary"
        mat-stroked-button
        (click)="closeDialog()"
      >
        <span> {{ t('cancel') | uppercase }} </span>
      </button>
    </div>
  </div>
  <ng-template #loading>
    <div class="py-24">
      <schaeffler-loading-spinner
        class="h-full"
        backgroundColor="rgba(255,255,255, 0.1)"
        [relative]="true"
      ></schaeffler-loading-spinner>
    </div>
  </ng-template>
</div>
