@import 'libs/shared/styles/src';

.info-banner-container {
  background-color: $schaeffler-white;
  margin: 0;
  min-height: 100px;
  padding: 20px 30px;

  img {
    height: 40px;
    margin-right: 20px;
    width: 40px;
  }

  p {
    color: $schaeffler-carbon-gray;
    letter-spacing: 0.04em;
    margin: 0;
    text-align: justify;
  }
}

.width-100 {
  width: 100%;
}

.read-more {
  color: $schaeffler-green-1;
  cursor: pointer;
  letter-spacing: 0.04em;
}

.value {
  color: $schaeffler-green-1;
  font-weight: bold;
}
