@import 'libs/shared/ui/styles/src/lib/colors';

.empty-graph-container {
  background-color: $schaeffler-yellow;
  border-radius: 4px;
  color: $schaeffler-black;
  font-weight: bold;
  padding: 8px;
}
