.center-load-chart {
  width: 100%;
}

.mat-card-title {
  mat-icon {
    font-size: 24px;
    margin-right: 0.5rem;
  }
}

:host::ng-deep {
  .mat-card-header-text {
    margin: 0 !important;
  }
}

.force-mb-0  {
  margin-bottom: 0 !important;
}
