<ng-container *ngIf="!(loading$ | ngrxPush); else loading">
  <mat-card *transloco="let t; read: 'loadDistribution'" class="h-full">
    <div class="flex flex-col h-full">
      <mat-card-header>
        <mat-card-title>
          <div class="inline-flex items-center">
            <mat-icon svgIcon="icon-load"></mat-icon>
            <span [ngSwitch]="this.average">
              <span *ngSwitchCase="true">{{ t('title_average') }}</span>
              <span *ngSwitchCase="false">{{ t('title') }}</span>
            </span>
          </div>
        </mat-card-title>
        <mat-card-subtitle>
          <ng-container *ngIf="!this.average">
            <div class="flex flex-col">
              <span>
                {{
                  (timeStamp$ | ngrxPush | date: 'EE, MMM d, y, h:mm:ss a') ||
                    t('noTimestampAvailable')
                }}</span
              >
              <span> {{ t('updateFrequency') }}: {{ refresh }}s</span>
            </div>
          </ng-container>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="h-full">
        <div class="flex flex-col items-center justify-center h-full">
          <div class="gauge_title">
            <span>{{ t('title') }}</span>
          </div>
          <div
            class="flex h-full w-full"
            echarts
            [options]="chartOptions"
            [merge]="polarSeries$ | ngrxPush"
            class="dashboard-echart center-load-chart h-5/6 w-full"
          ></div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</ng-container>

<ng-template #loading>
  <mat-card class="h-full placeholder-item"></mat-card>
</ng-template>
