<mat-card *transloco="let t; read: 'detailView.filterPricing'">
  <mat-card-title> {{ title }} </mat-card-title>
  <div *ngIf="!isLoading; else loading" fxLayout="row">
    <div fxFlex="70%" fxLayoutAlign="center start">
      <ng-content select="[content]"></ng-content>
    </div>
    <div fxFlex *transloco="let t; read: 'detailView.filterPricing'">
      <button mat-raised-button color="primary" *ngIf="isSelected; else select">
        <mat-icon>check_circle</mat-icon>
        {{ t('selected') | uppercase }}
      </button>
      <ng-template #select>
        <button
          mat-stroked-button
          color="primary"
          (click)="selectPrice()"
          [disabled]="isDisabled"
        >
          <mat-icon>check_circle</mat-icon>
          {{ t('select') | uppercase }}
        </button>
      </ng-template>
    </div>
  </div>
  <ng-content select="[link]"> </ng-content>
  <ng-template #loading>
    <gq-loading-spinner [show]="true"></gq-loading-spinner>
  </ng-template>
</mat-card>
