<div *transloco="let t; read: 'customerView.basicInformation'">
  <div>
    <p class="text-h6 text-medium-emphasis font-medium mb-4">
      {{ t('title') }}
    </p>
    <div *ngIf="customer">
      <div>
        <gq-label-text>
          <span label>{{ t('customerId') }}</span>
          <span text>{{ customer.identifier.customerId }}</span>
        </gq-label-text>
        <gq-label-text>
          <span label>{{ t('customer') }}</span>
          <span text>{{ customer.name }}</span>
        </gq-label-text>
        <gq-label-text>
          <span label>{{ t('salesOrg') }}</span>
          <span text>{{ customer.identifier.salesOrg }}</span>
        </gq-label-text>
        <gq-label-text>
          <span label>{{ t('abcClassification') }}</span>
          <span text>{{ customer.abcClassification }}</span>
        </gq-label-text>
        <gq-horizontal-divider></gq-horizontal-divider>
      </div>
      <div>
        <gq-label-text>
          <span label>{{ currentYear }} {{ t('netSales') }}</span>
          <span text>{{
            customer.marginDetail.currentNetSales
              | numberCurrency: customer.currency
          }}</span>
        </gq-label-text>
        <gq-label-text>
          <span label>{{ currentYear }} {{ t('gpi') }}</span>
          <span text>{{ customer.marginDetail.currentGpi | percentage }}</span>
        </gq-label-text>
        <gq-label-text>
          <span label>{{ lastYear }} {{ t('netSales') }}</span>
          <span text>{{
            customer.marginDetail.netSalesLastYear
              | numberCurrency: customer.currency
          }}</span>
        </gq-label-text>
        <gq-label-text>
          <span label>{{ lastYear }} {{ t('gpi') }}</span>
          <span text>{{ customer.marginDetail.gpiLastYear | percentage }}</span>
        </gq-label-text>
        <gq-horizontal-divider></gq-horizontal-divider>
      </div>
      <div>
        <gq-label-text>
          <span label>{{ t('subSector') }}</span>
          <span text
            >{{ customer.subSector }} | {{ customer.subSectorId }}</span
          >
        </gq-label-text>
        <gq-label-text>
          <span label>{{ t('sectorManagement') }}</span>
          <span text>{{ customer.sectorManagement }}</span>
        </gq-label-text>
        <gq-horizontal-divider></gq-horizontal-divider>
      </div>
      <div>
        <gq-label-text>
          <span label>{{ t('country') }}</span>
          <span text>{{ customer.country }}</span>
        </gq-label-text>
        <gq-label-text>
          <span label>{{ t('subRegion') }}</span>
          <span text>{{ customer.subRegion }}</span>
        </gq-label-text>
        <gq-label-text>
          <span label>{{ t('region') }}</span>
          <span text>{{ customer.region }}</span>
        </gq-label-text>
        <gq-horizontal-divider></gq-horizontal-divider>
      </div>
      <div>
        <gq-label-text>
          <span label>{{ t('incoterms') }}</span>
          <span text>{{ customer.incoterms }}</span>
        </gq-label-text>
        <gq-label-text [marginBottom]="false">
          <span label>{{ t('paymentTerms') }}</span>
          <span text
            >{{ customer.paymentTerms
            }}<span *ngIf="customer.paymentTermsDescription">
              | {{ customer.paymentTermsDescription }}</span
            ></span
          >
        </gq-label-text>
      </div>
    </div>
  </div>
</div>
