<ng-container *ngIf="!(loading$ | ngrxPush); else loading">
  <mat-card
    *transloco="let t; read: 'greaseStatus'"
    class="full-height-card"
    fxFill
    fxLayout="column"
  >
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-card-header>
        <mat-card-title fxLayout="row" layout-align="center center">
          <mat-icon>opacity</mat-icon>
          <span>{{ t('title') }}</span>
        </mat-card-title>
        <mat-card-subtitle *transloco="let t; read: 'bearing'">
          {{ greaseTimeStamp$ | ngrxPush }} <br />
          {{ t('mainBearing') }}
        </mat-card-subtitle>
      </mat-card-header>
      <goldwind-sensor
        [type]="type"
        [sensor]="sensor"
        (sensorToggle)="getGreaseStatusLatestGraphData($event)"
      ></goldwind-sensor>
    </div>
    <mat-card-content
      fxFlex
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutGap="8px"
      fxLayoutAlign="center"
    >
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
        <div class="gauge_title">
          <span>{{ t('waterContent') }}</span>
        </div>
        <div
          fxFlex
          echarts
          [options]="chartOptions"
          [merge]="this.getGreaseStatusLatestWaterContentGraphData$ | ngrxPush"
          class="grease-monitor-chart dashboard-echart"
        ></div>
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
        <div class="gauge_title">
          <span
            ><span>{{ t('temperatureOptics') }}</span></span
          >
        </div>
        <div
          fxFlex
          echarts
          [options]="chartOptions"
          [merge]="
            this.getGreaseStatusLatestTemperatureOpticsGraphData$ | ngrxPush
          "
          class="grease-monitor-chart dashboard-echart"
        ></div>
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
        <div class="gauge_title">
          <span
            ><span>{{ t('deterioration') }}</span></span
          >
        </div>
        <div
          fxFlex
          echarts
          [options]="chartOptions"
          [merge]="this.getGreaseStatusLatestDeteriorationGraphData$ | ngrxPush"
          class="grease-monitor-chart dashboard-echart"
        ></div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #loading>
  <mat-card class="full-height-card placeholder-item"></mat-card>
</ng-template>
