<schaeffler-header
  *ngIf="isLoggedIn$ | ngrxPush; else loading"
  [platformTitle]="title"
  class="full-height"
>
  <schaeffler-user-menu
    user-menu
    [user]="username$ | ngrxPush"
    [entries]="userMenuEntries"
  ></schaeffler-user-menu>
  <div class="site-content">
    <div class="router-content">
      <router-outlet></router-outlet>
    </div>
    <schaeffler-footer
      [appVersion]="appVersion"
      [footerLinks]="footerLinks"
    ></schaeffler-footer>
  </div>
</schaeffler-header>

<ng-template #loading>
  <cdba-loading-spinner [show]="true"></cdba-loading-spinner>
</ng-template>
