<schaeffler-app-shell
  *ngIf="isLoggedIn$ | ngrxPush; else loading"
  [appTitle]="title"
  [appTitleLink]="titleLink"
  [hasSidebarLeft]="true"
  [userName]="username$ | ngrxPush"
  [userImageUrl]="profileImage$ | ngrxPush"
  [footerLinks]="footerLinks"
  [appVersion]="appVersion"
>
  <ng-container sidenavBody>
    <cdba-user-settings></cdba-user-settings>
  </ng-container>
  <ng-container mainContent>
    <div class="h-full w-full">
      <router-outlet></router-outlet>
    </div>
  </ng-container>
  <cdba-browser-support-detector></cdba-browser-support-detector>
</schaeffler-app-shell>

<ng-template #loading>
  <cdba-loading-spinner [show]="true"></cdba-loading-spinner>
</ng-template>
