<schaeffler-header
  *ngIf="isLoggedIn$ | ngrxPush; else loading"
  [platformTitle]="title"
  class="h-full"
>
  <schaeffler-user-menu
    user-menu
    [user]="username$ | ngrxPush"
    [profileImage]="profileImage$ | ngrxPush"
    [entries]="userMenuEntries"
  ></schaeffler-user-menu>
  <div class="flex flex-col h-full">
    <div class="flex-grow overflow-y-auto">
      <router-outlet></router-outlet>
    </div>
    <schaeffler-footer-tailwind
      class="flex-none"
      [appVersion]="appVersion"
      [footerLinks]="footerLinks"
    ></schaeffler-footer-tailwind>
  </div>
</schaeffler-header>

<ng-template #loading>
  <cdba-loading-spinner [show]="true"></cdba-loading-spinner>
</ng-template>
