<form
  [formGroup]="limitForm"
  class="flex flex-col"
  *transloco="let t; read: 'ltp'"
>
  <label>{{ t('hvLowerAndUpperLimit') }}</label>
  <div class="flex flex-row">
    <mat-form-field class="w-1/5">
      <input
        matInput
        [formControl]="limitForm.controls.hv_lower"
        (change)="patchInput($event.srcElement, 'hv_lower')"
        [max]="hv"
        [min]="lowerMin"
        type="number"
      />
    </mat-form-field>
    <div class="flex w-3/5 flex-row">
      <mat-slider
        class="w-1/2"
        [formControl]="limitForm.controls.hv_lower"
        (change)="patchLimits($event.value, 'hv_lower')"
        [max]="hv"
        [min]="lowerMin"
        class="limit-slider-inverted"
      ></mat-slider>
      <mat-slider
        class="w-1/2"
        [formControl]="limitForm.controls.hv_upper"
        (change)="patchLimits($event.value, 'hv_upper')"
        [max]="upperMax"
        [min]="hv"
      ></mat-slider>
    </div>
    <mat-form-field class="w-1/5">
      <input
        matInput
        [formControl]="limitForm.controls.hv_upper"
        (change)="patchInput($event.srcElement, 'hv_upper')"
        [max]="upperMax"
        [min]="hv"
        type="number"
      />
    </mat-form-field>
  </div>
</form>
