<schaeffler-header
  [platformTitle]="title"
  class="h-full overflow-hidden"
  *ngIf="getIsLoggedIn$ | ngrxPush; else loading"
>
  <schaeffler-user-menu
    user-menu
    [user]="username$ | ngrxPush"
    [profileImage]="profileImage$ | ngrxPush"
    [entries]="userMenuEntries"
  ></schaeffler-user-menu>

  <div class="flex flex-col h-full">
    <ia-filter-section></ia-filter-section>

    <nav mat-tab-nav-bar mat-stretch-tabs *transloco="let t; read: 'tabs'">
      <a
        *ngFor="let tab of tabs; trackBy: trackByFn"
        mat-tab-link
        class="!text-subtitle-2"
        routerLinkActive
        #rla="routerLinkActive"
        [routerLink]="tab.path"
        [active]="rla.isActive"
        [class.disabled]="tab.disabled"
        >{{ t(tab.label) | uppercase }}</a
      >
    </nav>
    <div class="flex flex-col overflow-y-auto flex-grow p-4 bg-lightBg">
      <router-outlet></router-outlet>
    </div>
  </div>
</schaeffler-header>

<ng-template #loading>
  <schaeffler-loading-spinner></schaeffler-loading-spinner>
</ng-template>
