<div
  *transloco="let t"
  class="flex min-h-screen w-screen max-w-full justify-center bg-white"
>
  <div class="w-screen md:m-5">
    <div class="flex flex-col md:flex-row py-2 items-center">
      <h1
        class="font-normal mb-0 text-title-large sm:text-headline-small text-on-surface-variant"
      >
        {{ t('appTitle') }}
      </h1>
      <div class="mr-0 ml-auto">
        <mat-button-toggle-group [formControl]="unitsetSelectionControl">
          <mat-button-toggle value="UNITSET_SI">{{
            t('unitset.si')
          }}</mat-button-toggle>
          <mat-button-toggle value="UNITSET_FPS">{{
            t('unitset.fps')
          }}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <mat-divider class="mb-3 sm:mb-9"></mat-divider>
    <schaeffler-banner></schaeffler-banner>
    <lsa-recommendation-container></lsa-recommendation-container>
    <div class="w-full min-w-full flex flex-row justify-center">
      <schaeffler-feedback-banner
        class="w-full max-w-2xl"
        [surveyUrl]="t('feedback.surveyUrl')"
        [infoText]="t('feedback.text')"
        [providedLanguages]="['de', 'en']"
        [feedbackButtonText]="t('feedback.button')"
      />
    </div>
  </div>
</div>
