<div *transloco="let t; read: 'userSettings.language'">
  <div class="text-subtitle-2 mb-3">{{ t('title') }}</div>
  <mat-form-field class="w-full" appearance="outline" shouldLabelFloat="true">
    <mat-label>{{ t('selectLabel') }}</mat-label>
    <mat-select
      [disabled]="true"
      [formControl]="languageSelectControl"
      (selectionChange)="setLanguage($event.value)"
    >
      <mat-option *ngFor="let lang of availableLangs" [value]="lang.id">{{
        lang.label
      }}</mat-option>
    </mat-select>
    <mat-hint>{{ t('selectHint') }}</mat-hint>
  </mat-form-field>
</div>
