@if (selectableOptionsService.loading$ | ngrxPush) {
  <div>
    <schaeffler-loading-spinner [useBearingLoadingSpinner]="true" />
  </div>
} @else {
  <div *transloco="let t">
    <h2 class="text-title-large">{{ t('tabbarMenu.overview.label') }}</h2>
    <d360-overview-filter (onFilterChange)="overviewFilterValue.set($event)" />

    <div class="gap-4 pb-4">
      <div class="flex flex-row gap-6 justify-between">
        <span class="sub-headline">{{ t('overview.yourTasks.headline') }}</span>
        <d360-priority-dropdown
          (selectionChange)="selectedPriorities.set($event)"
        />
      </div>

      <div class="your-tasks flex md:flex-row flex-col gap-4">
        <div class="card h-full md:w-1/2 w-full p-4 mb-1">
          <div>
            <div class="headline uppercase">
              {{ t('overview.yourTasks.gridHeadline') }}
            </div>
            <div class="sub-headline mb-4">
              {{ t('validation_of_demand.title') }}
            </div>
          </div>
          <d360-task-priority-grid
            [gkamNumbers]="gkamFilterIds()"
            [customers]="customerFilterIds()"
            [openFunction]="OpenFunction.Validation_Of_Demand"
            [priorities]="selectedPriorities()"
          />
        </div>

        <div class="card h-full md:w-1/2 w-full p-4 mb-1">
          <div>
            <div class="headline uppercase">
              {{ t('overview.yourTasks.gridHeadline') }}
            </div>
            <div class="sub-headline mb-4">
              {{ t('tabbarMenu.customer-material-portfolio.label') }}
            </div>
          </div>
          <d360-task-priority-grid
            [openFunction]="OpenFunction.Customer_Material_Portfolio"
            [gkamNumbers]="gkamFilterIds()"
            [customers]="customerFilterIds()"
            [priorities]="selectedPriorities()"
          />
        </div>
      </div>
    </div>
  </div>
}
