@if (!(sapId$ | ngrxPush) && !(simulationModeEnabled$ | ngrxPush)) {
  <div>
    <div
      *transloco="let t; read: 'shared.customStatusBar.buttons'"
      [matTooltip]="t(tooltipText$ | ngrxPush)"
      [matTooltipDisabled]="(quotationActive$ | ngrxPush) && !uploadDisabled"
      matTooltipPosition="above"
    >
      <button
        class="!m-4 !mr-0"
        [disabled]="uploadDisabled || !(quotationActive$ | ngrxPush)"
        mat-button
        (click)="uploadCaseToSap()"
      >
        <span class="hidden lg:inline">
          {{ t('uploadQuoteToSap') }}
        </span>
        <span class="lg:hidden">
          {{ t('uploadQuoteToSapMobile') }}
        </span>
      </button>
    </div>
  </div>
}
