<div *ngIf="!(sapId$ | ngrxPush) && !(simulationModeEnabled$ | ngrxPush)">
  <div
    *transloco="let t; read: 'shared.customStatusBar.buttons'"
    [matTooltip]="t('uploadQuoteToSapMaximumPositionsInfoText')"
    [matTooltipDisabled]="!uploadDisabled"
    matTooltipPosition="above"
  >
    <button
      class="!m-4 !ml-0"
      [disabled]="uploadDisabled"
      mat-raised-button
      color="primary"
      (click)="uploadCaseToSap()"
    >
      <mat-icon>cloud_upload</mat-icon>

      <span class="hidden lg:inline">
        {{ t('uploadQuoteToSap') }}
      </span>
      <span class="lg:hidden">
        {{ t('uploadQuoteToSapMobile') }}
      </span>
    </button>
  </div>
</div>
