<mat-chip-option
  [removable]="true"
  [ngStyle]="{
    'background-color': config.backgroundColor,
    color: config.color
  }"
  (removed)="remove()"
>
  <div class="flex items-center">
    <mat-icon
      class="!w-4 !h-4 !leading-[18px] !text-[16px] mr-1"
      [ngStyle]="{
        color: config.color
      }"
      >{{ config.icon }}</mat-icon
    >
    <span
      class="text-[14px] font-medium"
      [ngStyle]="{
        color: config.textColor
      }"
      >{{ fileName }}</span
    >
    <button matChipRemove>
      <mat-icon
        class="!w-4 !h-4 !leading-[18px] !text-[16px]"
        [ngStyle]="{
          color: config.color
        }"
        >close</mat-icon
      >
    </button>
  </div></mat-chip-option
>
