<mat-card
  class="flex h-full"
  *ngIf="
    !(quotation$ | ngrxPush).calculationInProgress &&
      !(quotation$ | ngrxPush).sapCallInProgress;
    else taskInProgress
  "
>
  <schaeffler-view-toggle
    [views]="customViews"
    (selectionChange)="onViewToggle($event)"
    [displayBorderBottom]="false"
    *featureToggle="'customViews'"
  ></schaeffler-view-toggle>
  <gq-quotation-details-table
    *ngIf="!(updateLoading$ | ngrxPush); else updateLoading"
    [quotation]="quotation$ | ngrxPush"
  ></gq-quotation-details-table>
</mat-card>

<ng-template #taskInProgress>
  <gq-calculation-in-progress
    [amountDetails]="(quotation$ | ngrxPush).quotationDetails.length"
    [sapCallInProgress]="(quotation$ | ngrxPush).sapCallInProgress"
  >
  </gq-calculation-in-progress>
</ng-template>

<ng-template #updateLoading>
  <schaeffler-loading-spinner></schaeffler-loading-spinner
></ng-template>
