<div
  class="flex w-full flex-row items-baseline justify-between gap-2"
  [ngClass]="{ 'gap-0': !tooltipText }"
  *transloco="let t; read: 'parameters.errors'"
>
  <mat-form-field appearance="outline" class="flex grow flex-row pb-3">
    @if (label) {
      <mat-label>{{ label }}</mat-label>
    }
    @if (onlyPositive) {
      <input
        matInput
        type="number"
        inputmode="decimal"
        [formControl]="control"
        [placeholder]="placeholder"
        [min]="0"
      />
    } @else {
      <input
        matInput
        type="number"
        inputmode="decimal"
        [formControl]="control"
        [placeholder]="placeholder"
      />
    }
    @if (unit) {
      <div class="relative bottom-1" matSuffix>
        {{ unit }}
      </div>
    }
    @if (hint) {
      <mat-hint>{{ hint }}</mat-hint>
    }
    @if (control.hasError('max')) {
      <mat-error>{{ t('max') }}</mat-error>
    }
    @if (control.hasError('min')) {
      <mat-error>{{ t('min') }}</mat-error>
    }
    @if (control.hasError('anyLoad')) {
      <mat-error>
        {{ t('anyLoad') }}
      </mat-error>
    }
    @if (control.hasError('required')) {
      <mat-error>
        {{ t('required') }}
      </mat-error>
    }
    @for (error of customErrors; track error) {
      <ng-container ngProjectAs="mat-error">
        @if (control.hasError(error.name)) {
          <mat-error>
            {{ t(error.message) }}
          </mat-error>
        }
      </ng-container>
    }
  </mat-form-field>
  @if (tooltipText) {
    <div class="w-6">
      @if (tooltipText) {
        <mat-icon
          class="cursor-help text-primary"
          #tooltip="matTooltip"
          [matTooltip]="tooltipText"
          (click)="tooltip.toggle()"
        >
          info_outline
        </mat-icon>
      }
    </div>
  }
</div>
