<div
  [formGroup]="form"
  class="flex flex-row gap-6"
  *transloco="
    let t;
    read: 'calculator.rfq4DetailView.recalculation.inputs.deliveryTime'
  "
>
  <div class="w-1/2">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ t('label') }}</mat-label>
      <input matInput type="text" [formControlName]="formControlName()" />
      <mat-hint>{{ t('hint') }}</mat-hint>
    </mat-form-field>
  </div>
  <div class="w-1/2">
    <mat-form-field appearance="outline" class="w-full">
      <mat-select [formControlName]="deliveryTimeUnitFormControlName()">
        @for (option of deliveryTimeUnitOptions; track option) {
          <mat-option [value]="option.value">{{
            t('select.' + option.value)
          }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</div>
