<div class="global-selection-field-container flex flex-row items-start">
  <d360-multi-autocomplete-on-type
    [autocompleteLabel]="autocompleteLabel()"
    [control]="control()"
    [form]="form()"
    [searchControl]="searchFormControl"
    [getOptionLabelInTag]="getOptionLabelInTag()"
    [getOptionLabel]="getOptionLabel()"
    [optionsLoadingResult]="optionsLoadingResult()"
    [urlBegin]="urlBegin()"
    [requestWithLang]="true"
    class="w-full"
    [panelClass]="panelClass()"
  />

  <button (click)="openModal()" mat-icon-button class="mt-small">
    <mat-icon>add</mat-icon>
  </button>
</div>
