@import 'lib/colors';
@import 'libs/shared/ui/styles/src/lib/mediaqueries';

.hardness-converter-wrapper {
  overflow: hidden;
}

@media screen and (max-width: $screen-sm-max) {
  .hardness-converter-wrapper {
    margin: 50px 10% 0 10%;
  }
}
@media screen and (min-width: $screen-md-min) {
  .hardness-converter-wrapper {
    margin: 50px 0 0 50%;
    max-width: 500px;
    transform: translateX(-50%);
    width: 40vw;
  }
}

.hardness-converter {
  background: $schaeffler-white;
}

@media screen and (min-width: $screen-md-min) {
  .hardness-value {
    display: flex;
    width: 100%;
  }
}

.equals {
  font-size: 28pt;
  text-align: center;
  width: 20%;
}

form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.spinner-wrapper {
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  transform: translateX(-1rem);
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  z-index: 10;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.value-input-wrapper {
  transform: translateY(9px);
}

.mat-input-element {
  font-size: large;
  text-align: center;
}

mat-form-field {
  width: 100%;
}

@media screen and (min-width: $screen-md-min) {
  mat-form-field {
    &:nth-of-type(1) {
      padding-right: 0.5rem;
    }

    &:nth-of-type(2) {
      padding-left: 0.5rem;
    }
  }
}

mat-error {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
}

mat-card {
  padding: 0;

  &-content {
    padding: 1rem;
  }
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.unit-result {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

@media screen and (max-width: $screen-sm-max) {
  .unit-result {
    width: 100%;
  }
}
@media screen and (min-width: $screen-md-min) {
  .unit-result {
    width: calc(50% - 1rem);
  }
}

.value {
  display: flex;
  font-size: large;
  justify-content: center;
  margin-right: 1rem;
  padding: 0.5rem;
  width: 80%;
}

.unit {
  align-items: center;
  background: $schaeffler-green-1;
  border-radius: 0 5px 5px 0;
  color: $schaeffler-white;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 20%;
}

.warning {
  color: $schaeffler-yellow;
  display: inline-block;
  text-align: center;

  &::first-letter {
    text-transform: capitalize;
  }
}

.conversion-info {
  text-align: center;
}
