<div fxLayout="column" class="full-height">
  <schaeffler-header
    [platformTitle]="title"
    [sidebarMode]="sidebarMode"
    [toggleEnabled]="false"
  >
  </schaeffler-header>
  <schaeffler-sidebar fxFlex [elements]="sidebarElements" [mode]="sidebarMode">
    <schaeffler-settings-sidebar
      [open]="settingsSidebarOpen"
      [toggleEnabled]="true"
      (openedChange)="settingsSidebarOpenedChanges($event)"
    >
      <ng-container container>
        <div class="page-container">
          <sta-breadcrumb></sta-breadcrumb>
        </div>

        <router-outlet></router-outlet>
        <schaeffler-footer></schaeffler-footer>
      </ng-container>
      <ng-container sidebar>
        <ng-container
          *ngIf="(isInitialState$ | async) === false; else emptystate"
        >
          <sta-result></sta-result>
        </ng-container>
        <ng-template #emptystate>
          EMPTY STATE
        </ng-template>
      </ng-container>
    </schaeffler-settings-sidebar>
  </schaeffler-sidebar>
</div>
