.panel-always-visible {
  background-color: #f6f7f8;
}

.mat-accordion .mat-expansion-panel {
  border-radius: 0;
}

ltp-tooltip {
  margin-right: 10px;
}

::ng-deep div.mat-expansion-panel-body {
  padding: 0 24px 16px 54px;
}

.panel-always-visible mat-expansion-panel-header {
  margin-right: 8px;
}

.input-control:not(:last-child) {
  margin-bottom: 20px;
}

.mat-divider.mat-divider-inset {
  margin: 0 24px;
}

mat-slide-toggle {
  margin-bottom: 28px;
}
