<div class="page-container">
  <h1>{{ 'NAVIGATION.HOME' | transloco }}</h1>
  <div class="main-container">
    <schaeffler-speed-dial-fab
      [open]="speedDialFabOpen"
      [disabled]="speedDialFabDisabled"
      [primaryButton]="speedDialFabPrimaryBtn"
      [secondaryButtons]="speedDialFabSecondaryBtns"
      (clicked)="speedDialFabClicked($event)"
    ></schaeffler-speed-dial-fab>
    <br />
    <button
      (click)="openSnackbar()"
      data-cy="openSnackbar"
      mat-raised-button
      color="primary"
    >
      Open Snackbar
    </button>

    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
  </div>
</div>
