<div class="page-container" *transloco="let t; read: 'navigation'">
  <h1>{{ t('home') }}</h1>
  <div class="main-container">
    <schaeffler-speed-dial-fab
      [open]="speedDialFabOpen"
      [disabled]="speedDialFabDisabled"
      [primaryButton]="speedDialFabPrimaryBtn"
      [secondaryButtons]="speedDialFabSecondaryBtns"
      (clicked)="speedDialFabClicked($event)"
    ></schaeffler-speed-dial-fab>
    <br />
    <button
      (click)="showInformationToast()"
      data-cy="showInformationToast"
      mat-raised-button
    >
      Show Information Toast
    </button>

    <button
      (click)="showSuccessToast()"
      data-cy="showSuccessToast"
      mat-raised-button
      color="primary"
    >
      Show Success Toast
    </button>

    <button
      (click)="showWarningToast()"
      data-cy="showWarningToast"
      mat-raised-button
      color="accent"
    >
      Show Warning Toast
    </button>

    <button
      (click)="showErrorToast()"
      data-cy="showErrorToast"
      mat-raised-button
      color="warn"
    >
      Show Error Toast
    </button>

    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
    <br />
    <h4>content</h4>
  </div>
</div>
