ltp-limits {
  mat-form-field {
    margin-top: -2.5px;
  }

  .mat-form-field-infix {
    border: none;
  }

  .mat-input-element {
    text-align: center;
  }

  .limit-slider-inverted {
    .mat-slider-track-background,
    &:hover .mat-slider-track-background {
      background-color: #00893d; // Todo: should be imported from colors
    }

    .mat-slider-track-fill {
      background-color: rgba(0, 0, 0, 0.26);
    }
  }
}
