<div class="flex flex-col gap-4">
  <div class="flex justify-between items-center pt-6">
    <div class="flex gap-3 items-center">
      <ng-content select="[appHeaderActionBarButtons]"></ng-content>
      @if (shouldRenderDivider) {
        <div style="height: 40px; border-right: 1px solid #646464"></div>
      }
      <ng-content select="[appHeaderActionBarChildren]"></ng-content>
    </div>
    <div class="flex gap-3 items-center">
      <ng-content select="[appHeaderActionBarRightChildren]"></ng-content>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
