<!-- TODO: Let's talk about a responsive solution -->
<div class="flex flex-col gap-4">
  <div class="flex justify-between items-center pt-6">
    <div class="flex gap-3 items-center">
      <ng-content select="[d360HeaderActionBarButtons]"></ng-content>
      @if (shouldRenderDivider) {
        <div class="divider"></div>
      }
      <ng-content select="[d360HeaderActionBarChildren]"></ng-content>
    </div>
    <div class="flex gap-3 items-center">
      <ng-content select="[d360HeaderActionBarRightChildren]"></ng-content>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
