<div id="overview" *transloco="let t; read: 'overview'">
  <h1>Overview</h1>
  <ng-container *ngIf="devices$ | ngrxPush as devices; else empty_devices">
    <mat-card
      *ngFor="let device of devices; trackBy: trackByFn"
      class="!flex flex-col sm:flex-row justify-between gap-4 md:gap-8 mb-4"
      [routerLink]="['/bearing', device.deviceId]"
    >
      <div class="flex justify-between items-center w-full sm:w-5/6">
        <mat-card-header>
          <div
            mat-card-avatar
            class="device-header-image mr-1 self-center"
          ></div>
          <mat-card-title>{{ device.deviceId }}</mat-card-title>
          <mat-card-subtitle class="!mb-0"
            >{{ t('version') }} {{ device.version }}
          </mat-card-subtitle>
        </mat-card-header>
        <goldwind-status-indicator
          [connectionState]="device.connectionState"
        ></goldwind-status-indicator>
      </div>
      <mat-divider
        *ngIf="!isHandsetViewPort"
        [vertical]="!isHandsetViewPort"
      ></mat-divider>
      <div class="flex justify-end items-center">
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['/bearing', device.deviceId]"
        >
          {{ t('details').toUpperCase() }}
        </button>
      </div>
    </mat-card>
  </ng-container>

  <ng-template #empty_devices>
    <mat-card>
      <span>{{ t('noDevices') }}</span>
    </mat-card>
  </ng-template>
</div>
