@import 'libs/shared/styles/src/lib/colors';

:host {
  width: 100%;
}

#overview {
  margin: 0 auto;
  max-width: 1024px;
}

.device-card {
  margin-bottom: 15px;

  .mat-card-subtitle {
    margin-bottom: 0;
  }
}

.device-header-image {
  background-image: url('/assets/images/turbine-bearing-thumbnail.jpg');
  background-size: cover;
  border: 1px solid $schaeffler-carbon-gray;
}
