#overview {
  margin: 0 auto;
  max-width: 1024px;
}

.device-card {
  margin-bottom: 15px;

  .mat-card-subtitle {
    margin-bottom: 0;
  }
}

.device-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
