<div id="overview" *transloco="let t; read: 'overview'">
  <h1>Overview</h1>
  <ng-container *ngIf="devices$ | ngrxPush as devices; else empty_devices">
    <mat-card
      *ngFor="let device of devices; trackBy: trackByFn"
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutAlign="space-between"
      fxLayoutGap="15px"
      fxLayoutGap.gt-sm="30px"
      class="device-card"
    >
      <mat-card-header fxFlex>
        <div mat-card-avatar mr="{1}" class="device-header-image"></div>
        <mat-card-title>{{ device.deviceId }}</mat-card-title>
        <mat-card-subtitle
          >{{ t('version') }} {{ device.version }}
        </mat-card-subtitle>
      </mat-card-header>
      <goldwind-status-indicator
        [connectionState]="device.connectionState"
      ></goldwind-status-indicator>
      <div>
        <mat-divider fxFlex [vertical]="!isHandsetViewPort"></mat-divider>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['/bearing', device.deviceId]"
        >
          {{ t('details').toUpperCase() }}
        </button>
      </div>
    </mat-card>
  </ng-container>

  <ng-template #empty_devices>
    <mat-card>
      <span>{{ t('noDevices') }}</span>
    </mat-card>
  </ng-template>
</div>
