<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="iframeResizer.min.js"></script>
    <title>Embedded App</title>
    <link rel="icon" type="image/x-icon" href="favicon.png" />
    <style>
      :focus-visible {
        outline: none !important;
      }
    </style>
  </head>
  <body>
    <div id="app" class="p-3">
      <div class="text-gray-600 flex items-center justify-center pb-6">
        <img src="logo.png" alt="logo" />
        <h1 class="font-mono text-xl pl-3">{{ wrapperAppTitle }}</h1>
      </div>
      <div class="mx-auto max-w-md px-4 pt-4">
        <div class="text-gray-500 flex items-center rounded-md border">
          <label
            for="app-url"
            class="text-gray-400 bg-gray-50 grow rounded-l-md border-r px-3 py-2.5"
          >
            AppUrl
          </label>
          <input
            type="text"
            placeholder="www.example.com"
            v-model="iFrameSrc"
            id="app-url"
            class="ml-2 w-full bg-transparent p-2.5 outline-none"
          />
        </div>
      </div>
      <div class="mx-auto mb-4 flex max-w-lg gap-4 px-4 pt-4">
        <div class="text-gray-500 flex items-center rounded-md border">
          <label
            for="app-height"
            class="text-gray-400 bg-gray-50 grow rounded-l-md border-r px-3 py-2.5"
          >
            Height
          </label>
          <input
            type="checkbox"
            v-model="iFrameHeightEnabled"
            id="app-height-checkbox"
            class="ml-2 w-full bg-transparent p-2.5 outline-none"
          />
          <input
            type="text"
            placeholder="800"
            v-model="iFrameHeight"
            id="app-height"
            class="ml-2 w-full bg-transparent p-2.5 outline-none"
            :disabled="!iFrameHeightEnabled"
          />
          <div
            class="text-gray-400 bg-gray-50 grow rounded-r-md border-l px-3 py-2.5"
          >
            px
          </div>
        </div>
        <div class="text-gray-500 flex items-center rounded-md border">
          <label
            for="app-width"
            class="text-gray-400 bg-gray-50 grow rounded-l-md border-r px-3 py-2.5"
          >
            Width
          </label>
          <input
            type="checkbox"
            v-model="iFrameWidthEnabled"
            id="app-width-checkbox"
            class="ml-2 w-full bg-transparent p-2.5 outline-none"
          />
          <input
            type="text"
            placeholder="1280"
            v-model="iFrameWidth"
            id="app-width"
            class="ml-2 w-full bg-transparent p-2.5 outline-none"
            :disabled="!iFrameWidthEnabled"
          />
          <div
            class="text-gray-400 bg-gray-50 grow rounded-r-md border-l px-3 py-2.5"
          >
            px
          </div>
        </div>
      </div>
      <div
        class="from-gray-200 to-gray-100 m-0 mx-auto mb-20 overflow-hidden rounded bg-gradient-to-br p-5"
        :style="{ 'height': iFrameHeightEnabled ? (iFrameHeight + 'px') : 'unset', width: iFrameWidthEnabled ? (iFrameWidth + 'px') : 'unset' }"
      >
        <!-- class="from-gray-200 to-gray-100 m-0 mx-auto mb-20 flex h-min resize overflow-hidden rounded bg-gradient-to-br p-5"
      :style="{ 'height': iFrameHeightEnabled ? (iFrameHeight + 'px') : 'unset', width: iFrameWidthEnabled ? (iFrameWidth + 'px') : 'unset' }" -->
        <iframe id="iFrame" :src="iFrameSrc" class="w-0.5 min-w-full"></iframe>
      </div>
    </div>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            wrapperAppTitle: 'Embedded App',
            iFrameSrc: 'http://localhost:4200',
            iFrameHeight: 800,
            iFrameHeightEnabled: true,
            iFrameWidth: 1280,
            iFrameWidthEnabled: true,
          };
        },
      }).mount('#app');
    </script>
    <script>
      iFrameResize({ log: true }, '#iFrame');
    </script>
  </body>
</html>
