<div
  class="mb-6 flex h-full w-full flex-col"
  *transloco="let t; read: 'shared.caseMaterial.addEntry'"
>
  <div>
    <div class="mt-6 flex items-end justify-between">
      <span class="text-h6 text-medium-emphasis">
        {{ t('addItems') }}
      </span>
      <div class="float-right">
        <button
          class="!pl-4 !pr-4"
          mat-stroked-button
          color="primary"
          (click)="pasteFromClipboard()"
        >
          <mat-icon>content_paste</mat-icon>
          <span class="ml-4 font-medium">
            {{ t('pasteFromClipboard') }}
          </span>
        </button>
        <button class="ml-2 align-bottom" (click)="displaySnackBar()">
          <gq-info-icon [showHelpIcon]="true"> </gq-info-icon>
        </button>
      </div>
    </div>
    <hr class="mt-6 opacity-[12%]" />
  </div>

  <div class="mt-6 grid grid-cols-2 gap-x-6 gap-y-2 lg:grid-cols-4">
    <div
      *ngIf="
        autoCompleteFacade.materialDescForAddEntry$ | ngrxPush as materialDesc
      "
    >
      <gq-autocomplete-input
        #materialDescInput
        [filterName]="materialDesc.filter"
        [options]="materialDesc.options"
        (inputContent)="materialHasInput($event)"
        (unselected)="autoCompleteFacade.unselectOptions(materialDesc.filter)"
        (added)="
          autoCompleteFacade.selectMaterialNumberOrDescription(
            $event,
            materialDesc.filter
          )
        "
        (isValid)="materialInputValid($event)"
        [autocompleteLoading]="
          autoCompleteFacade.materialDescAutocompleteLoading$ | ngrxPush
        "
        (autocomplete)="autoCompleteFacade.autocomplete($event)"
      ></gq-autocomplete-input>
    </div>
    <div
      *ngIf="
        autoCompleteFacade.materialNumberForAddEntry$
          | ngrxPush as materialNumber
      "
    >
      <gq-autocomplete-input
        #materialNumberInput
        [filterName]="materialNumber.filter"
        [options]="materialNumber.options"
        (inputContent)="materialHasInput($event)"
        (unselected)="autoCompleteFacade.unselectOptions(materialNumber.filter)"
        (added)="
          autoCompleteFacade.selectMaterialNumberOrDescription(
            $event,
            materialNumber.filter
          )
        "
        (isValid)="materialInputValid($event)"
        [autocompleteLoading]="
          autoCompleteFacade.materialNumberAutocompleteLoading$ | ngrxPush
        "
        (autocomplete)="autoCompleteFacade.autocomplete($event)"
      ></gq-autocomplete-input>
    </div>
    <div>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>
          {{ t('quantity.label') }}
        </mat-label>
        <input
          (keydown)="onQuantityKeyPress($event)"
          class="text-overline"
          autocomplete="off"
          matInput
          #valueInput
          min="1"
          type="number"
          [formControl]="quantityFormControl"
        />
        <mat-hint>{{ t('quantity.hint') }}</mat-hint>
        <mat-error *ngIf="quantityFormControl.hasError('invalidInput')">{{
          t('quantity.error')
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <button
        class="!mt-6"
        mat-raised-button
        color="primary"
        [disabled]="!addRowEnabled"
        (click)="addRow()"
      >
        <mat-icon>add</mat-icon>
        {{ t('button') }}
      </button>
    </div>
  </div>
</div>
