.material-list-wrapper {
  border-right: solid var(--border-color-light-gray);
  border-right-width: 0;
  width: 100%;

  &.open {
    border-right-width: 3px;
  }

  ::ng-deep {
    d360-table-toolbar {
      span:not(.mdc-button__label) {
        padding-left: 12px;
      }
    }
  }
}
