.material-list-wrapper {
  transition: border-right 0.25s ease-in-out;
  border-right: 0;
  width: 100%;

  &.open {
    border-right: 3px solid var(--border-color-light-gray);
  }

  ::ng-deep {
    d360-table-toolbar {
      span {
        padding-left: 24px;
      }
    }
  }
}
