<div
  class="grid grid-cols-3 mt-2 mb-4"
  *transloco="let t; read: 'organizationalView'"
>
  @if (selectedChart === possibleChartTypes.ORG_CHART) {
    <ia-nav-buttons
      class="col-start-2"
      [items]="navButtons"
      (selectedTabChange)="onFluctuationTypeChange($event)"
    ></ia-nav-buttons>
  }
  <div class="col-start-3 ml-auto flex gap-4">
    @if (selectedChart === possibleChartTypes.ORG_CHART) {
      <button
        mat-icon-button
        class="flex self-center"
        [matTooltip]="t('orgChart.additionalFunctionality.tooltip')"
        [matMenuTriggerFor]="additionalFunctionality"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    }
    <mat-menu xPosition="before" #additionalFunctionality="matMenu">
      <button mat-menu-item (click)="onExportBtnClick()">
        <mat-icon>file_download</mat-icon>
        <span>{{ t('orgChart.additionalFunctionality.export') }}</span>
      </button>
      <button mat-menu-item (click)="onExpandBtnClick()">
        <mat-icon>expand_more</mat-icon>
        <span>{{ t('orgChart.additionalFunctionality.expandAll') }}</span>
      </button>
      <button mat-menu-item (click)="onCollapseBtnClick()">
        <mat-icon>expand_less</mat-icon>
        <span>{{ t('orgChart.additionalFunctionality.collapseAll') }}</span>
      </button>
    </mat-menu>
    <mat-button-toggle-group
      name="chartType"
      aria-label="Chart Type"
      class="small-toggle-group self-center my-0.5"
      hideSingleSelectionIndicator="true"
      [value]="selectedChart"
      (change)="onChartTypeChange($event)"
    >
      <mat-button-toggle
        [value]="possibleChartTypes.ORG_CHART"
        [matTooltip]="t('overviewChartToggleButtons.orgChart')"
      >
        <mat-icon class="!flex items-center justify-center h-4 w-4 !text-[1rem]"
          >people</mat-icon
        >
      </mat-button-toggle>
      <mat-button-toggle
        [value]="possibleChartTypes.WORLD_MAP"
        [matTooltip]="t('overviewChartToggleButtons.worldMap')"
      >
        <mat-icon class="!flex items-center justify-center h-4 w-4 !text-[1rem]"
          >public</mat-icon
        >
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle-group
      multiple
      hideMultipleSelectionIndicator="true"
      #group="matButtonToggleGroup"
      name="chartType"
      aria-label="Chart Type"
      class="small-toggle-group self-center my-0.5"
    >
      <mat-button-toggle
        class="text-on-surface-variant"
        mat-icon-button
        checked
        [value]="zoomButtonEnum.ZOOM_IN"
        [attr.aria-label]="t('orgChart.additionalFunctionality.zoomIn')"
        [matTooltip]="t('orgChart.additionalFunctionality.zoomIn')"
        (click)="onZoomChange(zoomButtonEnum.ZOOM_IN, $event, group)"
        (keydown.enter)="onZoomChange(zoomButtonEnum.ZOOM_IN, $event, group)"
      >
        <mat-icon
          class="!flex items-center justify-center h-4 w-4 !text-[1rem]"
          mat-fab
          >add</mat-icon
        >
      </mat-button-toggle>
      <mat-button-toggle
        class="text-on-surface-variant"
        mat-icon-button
        checked
        [value]="zoomButtonEnum.ZOOM_OUT"
        [attr.aria-label]="t('orgChart.additionalFunctionality.zoomOut')"
        [matTooltip]="t('orgChart.additionalFunctionality.zoomOut')"
        (click)="onZoomChange(zoomButtonEnum.ZOOM_OUT, $event, group)"
        (keydown.enter)="onZoomChange(zoomButtonEnum.ZOOM_OUT, $event, group)"
      >
        <mat-icon
          class="!flex items-center justify-center h-4 w-4 !text-[1rem]"
          mat-fab
          >remove</mat-icon
        >
      </mat-button-toggle>
      <mat-button-toggle
        class="text-on-surface-variant"
        mat-icon-button
        checked
        [value]="zoomButtonEnum.ZOOM_TO_FIT"
        [attr.aria-label]="t('orgChart.additionalFunctionality.zoomToFit')"
        [matTooltip]="t('orgChart.additionalFunctionality.zoomToFit')"
        (click)="onZoomChange(zoomButtonEnum.ZOOM_TO_FIT, $event, group)"
        (keydown.enter)="
          onZoomChange(zoomButtonEnum.ZOOM_TO_FIT, $event, group)
        "
      >
        <mat-icon
          class="!flex items-center justify-center h-4 w-4 !text-[1rem]"
          mat-fab
          >fit_screen</mat-icon
        >
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <mat-menu #additionalFunctionality="matMenu">
    <button mat-menu-item (click)="onExportBtnClick()">
      <mat-icon>file_download</mat-icon>
      <span>{{ t('orgChart.additionalFunctionality.export') }}</span>
    </button>
    <button mat-menu-item (click)="onExpandBtnClick()">
      <mat-icon>expand_more</mat-icon>
      <span>{{ t('orgChart.additionalFunctionality.expandAll') }}</span>
    </button>
    <button mat-menu-item (click)="onCollapseBtnClick()">
      <mat-icon>expand_less</mat-icon>
      <span>{{ t('orgChart.additionalFunctionality.collapseAll') }}</span>
    </button>
  </mat-menu>
</div>
