.mat-button-toggle-checked mat-icon {
  @apply text-link;
}

.mat-mdc-menu-trigger {
  @apply p-1 rounded-full;

  &:hover {
    @apply bg-gray-300;
  }
}

::ng-deep .mat-button-toggle {
  @apply bg-gray-300;

  &.mat-button-toggle-checked,
  &:hover {
    @apply bg-surface #{!important};

    .mat-button-toggle-label-content {
      color: #00893d;
    }
  }
}

::ng-deep .small-toggle-group .mat-button-toggle-label-content {
  line-height: 32px !important;
  width: 32px;
  height: 32px;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

::ng-deep .fluctuation-tab-group {
  border: none;

  .mat-button-toggle {
    @apply border-l-0 #{!important};
    @apply bg-gray-300 rounded-md;

    &.mat-button-toggle-checked,
    &:hover {
      @apply bg-surface #{!important};

      .mat-button-toggle-label-content {
        color: #00893d;
      }
    }

    .mat-button-toggle-button {
      padding: 4px 32px;

      &:hover {
        border-radius: 0.375rem;
      }
    }

    .mat-button-toggle-label-content {
      font-size: 14px !important;
      line-height: 1.25 !important;
      color: rgba(0, 0, 0, 0.38);
      font-weight: 500;
      letter-spacing: 1.25px;
      padding: 0;
    }
  }
}
