.mat-button-toggle-checked mat-icon {
  @apply text-link;
}

.mat-mdc-menu-trigger {
  @apply p-1 rounded-full;

  &:hover {
    @apply bg-gray-300;
  }
}

::ng-deep .mat-button-toggle {
  @apply bg-gray-300;

  &.mat-button-toggle-checked,
  &:hover {
    @apply bg-surface-legacy #{!important};

    .mat-button-toggle-label-content {
      color: #00893d;
    }
  }
}

::ng-deep .small-toggle-group .mat-button-toggle-label-content {
  line-height: 32px !important;
  width: 32px;
  height: 32px;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
