:host {
  display: flex;
  align-items: center;
  height: 100%;
}

::ng-deep {
  .chip-unforced {
    background-color: rgb(206, 217, 227) !important;
    color: rgb(0, 36, 57) !important;
    font-weight: 700;
    font-size: 10px !important;
  }
  .chip-remaining {
    background-color: rgb(232, 232, 232) !important;
    color: rgb(68, 68, 68) !important;
    font-weight: 700;
    font-size: 10px !important;
  }
  .chip-forced {
    background-color: rgb(221, 230, 232) !important;
    color: rgb(21, 66, 72) !important;
    font-weight: 700;
    font-size: 10px !important;
  }
  .chip-internal {
    background-color: rgb(231, 239, 230) !important;
    color: rgb(0, 59, 41) !important;
    font-weight: 700;
    font-size: 10px !important;
  }
}
