<div
  class="absolute block flex-row items-center justify-center p-8 sm:overflow-hidden md:relative md:flex"
>
  <div class="flex flex-col">
    <mat-card class="aqm-calculator-card">
      <mac-breadcrumbs
        [breadcrumbs]="breadcrumbs$ | ngrxPush"
      ></mac-breadcrumbs>
      <h5 class="mx-4">AQM Calculator</h5>
      <mat-card-content class="p-4">
        <h6>Alloy configuration</h6>
        <div
          class="absolute z-10 flex h-full w-full justify-center overflow-hidden bg-surface opacity-70 duration-300 ease-in-out"
          [ngClass]="{ hidden: materials }"
        >
          <mat-spinner></mat-spinner>
        </div>
        <div class="flex flex-col">
          <!-- select alloy -->
          <div class="flex flex-col items-center justify-center">
            <p>Choose a specific alloy</p>
            <mat-form-field appearance="outline">
              <mat-select
                [formControl]="materialInput"
                placeholder="Custom Alloy"
              >
                <mat-option
                  *ngFor="let material of materials; trackBy: trackByFn"
                  [value]="material"
                  >{{ material.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <!-- seperator horizontal -->
          <div
            class="flex w-full flex-row items-center justify-around gap-6 px-[15%]"
          >
            <div class="flex h-full flex-1">
              <div class="w-full border-b border-solid"></div>
            </div>
            <p>OR</p>
            <div class="flex grow">
              <div class="w-full border-b border-solid"></div>
            </div>
          </div>
          <!-- input composition -->
          <div class="flex flex-col items-center justify-center gap-6">
            <p>Specify the composition manually</p>
            <div
              class="flex flex-col items-start justify-center gap-2 md:flex-row md:gap-6"
            >
              <mat-form-field
                appearance="outline"
                *ngFor="
                  let control of compositionForm?.controls | keyvalue;
                  trackBy: trackByFn
                "
              >
                <mat-label>{{ control.key | titlecase }}</mat-label>
                <input matInput type="number" [formControl]="control.value" />
                <mat-hint
                  *ngIf="
                    !control.value.pristine && control.value.errors?.required
                  "
                  >Input is required</mat-hint
                >
                <mat-hint
                  *ngIf="!control.value.pristine && control.value.errors?.max"
                  >Value is too high</mat-hint
                >
                <mat-hint
                  *ngIf="!control.value.pristine && control.value.errors?.min"
                  >Value is too low</mat-hint
                >
              </mat-form-field>
            </div>
          </div>
          <!-- results -->
          <div
            fxLayout="row"
            fxLayoutAlign="space-between stretch"
            fxLayoutGap="24px"
            fxLayout.lt-md="column"
            fxLayoutAlign.lt-md="start start"
            class="flex w-full flex-col gap-6 md:flex-row md:items-stretch md:justify-between"
          >
            <div
              class="absolute z-10 flex h-full w-full justify-center overflow-hidden opacity-70 duration-300 ease-in-out"
              [ngClass]="{ hidden: (aqmCalculationResult | ngrxPush)?.aqm }"
            >
              <mat-spinner></mat-spinner>
            </div>
            <!-- results aqm -->
            <div class="flex flex-col">
              <h6>Results</h6>
              <div class="flex flex-row justify-between gap-24">
                <p>AQM value according to S130998:</p>
                <p
                  *ngIf="
                    (aqmCalculationResult | ngrxPush)?.aqm?.result;
                    else aqmError
                  "
                >
                  {{
                    (
                      aqmCalculationResult | ngrxPush
                    )?.aqm?.result?.toLocaleString()
                  }}
                </p>
                <ng-template #aqmError>
                  <p>{{ (aqmCalculationResult | ngrxPush)?.aqm?.error }}</p>
                </ng-template>
              </div>
              <div class="flex flex-row items-center justify-between">
                <p>Sum value (Si + Mn + Cr):</p>
                <p>
                  {{
                    (
                      aqmCalculationResult | ngrxPush
                    )?.sumValue?.toLocaleString()
                  }}
                </p>
              </div>
            </div>
            <!-- seperator vertical -->
            <div
              class="hidden flex-col items-center justify-center pt-6 md:flex"
            >
              <div class="flex flex-1 border-r border-solid"></div>
            </div>
            <!-- results limits -->
            <div class="flex flex-col">
              <h6>Limits</h6>
              <p class="mt-0">Sum limits reached for</p>
              <mat-chip-list>
                <mat-chip
                  *ngFor="
                    let item of (aqmCalculationResult | ngrxPush)?.limits
                      | keyvalue;
                    trackBy: trackByFn
                  "
                  class="flex flex-row items-center justify-between gap-1"
                >
                  <mat-icon [color]="item.value ? 'primary' : 'error'">{{
                    item.value ? 'check_circle' : 'error'
                  }}</mat-icon>
                  <p>
                    {{ item.key }}
                  </p>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
