<div
  class="absolute block flex-row items-center justify-center p-8 sm:overflow-hidden md:relative md:flex"
  *transloco="let t; read: 'aqmCalculator'"
>
  <div class="flex flex-col">
    <mat-card appearance="outlined" class="aqm-calculator-card">
      <mac-breadcrumbs
        [breadcrumbs]="breadcrumbs$ | ngrxPush"
      ></mac-breadcrumbs>
      <h5 class="mx-4">{{ t('title') }}</h5>
      <mat-card-content class="p-4">
        <h6>{{ t('alloyConfiguration') }}</h6>
        <div
          class="absolute z-10 flex h-full w-full justify-center overflow-hidden bg-surface-legacy opacity-70 duration-300 ease-in-out"
          [ngClass]="{ hidden: materials }"
        >
          <mat-spinner></mat-spinner>
        </div>
        <div class="flex flex-col">
          <!-- select alloy -->
          <div class="flex flex-col items-center justify-center">
            <p>{{ t('chooseAlloy') }}</p>
            @if (materials) {
              <schaeffler-select
                [initialValue]="materials[1]"
                [stringOptions]="materials"
                [control]="materialInput"
                [filterFn]="filterFn"
                [resetButton]="false"
                appearance="outline"
                [placeholder]="t('customAlloy')"
              >
              </schaeffler-select>
            }
          </div>
          <!-- seperator horizontal -->
          <div
            class="flex w-full flex-row items-center justify-around gap-6 px-[15%]"
          >
            <div class="flex h-full flex-1">
              <div class="w-full border-b border-solid"></div>
            </div>
            <p>{{ t('or') }}</p>
            <div class="flex grow">
              <div class="w-full border-b border-solid"></div>
            </div>
          </div>
          <!-- input composition -->
          <div class="flex flex-col items-center justify-center gap-6">
            <p>{{ t('specifyManually') }}</p>
            <div
              class="flex flex-col items-start justify-center gap-2 md:flex-row md:gap-6"
            >
              @for (
                control of compositionForm?.controls | keyvalue;
                track $index
              ) {
                <mat-form-field appearance="outline">
                  <mat-label>{{ control.key | titlecase }}</mat-label>
                  <input matInput type="number" [formControl]="control.value" />
                  @if (
                    !control.value.pristine && control.value.errors?.required
                  ) {
                    <mat-hint>{{ t('hintRequired') }}</mat-hint>
                  }
                  @if (!control.value.pristine && control.value.errors?.max) {
                    <mat-hint>{{ t('hintTooHigh') }}</mat-hint>
                  }
                  @if (!control.value.pristine && control.value.errors?.min) {
                    <mat-hint>{{ t('hintTooLow') }}</mat-hint>
                  }
                </mat-form-field>
              }
            </div>
          </div>
          <!-- results -->
          <div
            class="flex w-full flex-col gap-6 md:flex-row md:items-stretch md:justify-between"
          >
            <div
              class="absolute z-10 flex h-full w-full justify-center overflow-hidden opacity-70 duration-300 ease-in-out"
              [ngClass]="{ hidden: (aqmCalculationResult | ngrxPush)?.aqm }"
            >
              <mat-spinner></mat-spinner>
            </div>
            <!-- results aqm -->
            <div class="flex w-1/4 flex-col pt-14">
              @if ((aqmCalculationResult | ngrxPush)?.aqm?.result) {
                <div class="flex flex-row justify-between">
                  <p>{{ t('aqmAccordingTo', { norm: t('aqmNorm') }) }}</p>
                  @if ((aqmCalculationResult | ngrxPush)?.aqm?.result) {
                    <p>
                      {{
                        (
                          aqmCalculationResult | ngrxPush
                        )?.aqm?.result?.toLocaleString()
                      }}
                    </p>
                  } @else {
                    <div class="flex flex-col gap-4">
                      <p>{{ t('aqmAccordingTo', { norm: t('aqmNorm') }) }}</p>
                      <p>{{ (aqmCalculationResult | ngrxPush)?.aqm?.error }}</p>
                    </div>
                  }
                </div>
              } @else {
                <div class="flex flex-col gap-4">
                  <p>{{ t('aqmAccordingTo', { norm: t('aqmNorm') }) }}</p>
                  <p>{{ (aqmCalculationResult | ngrxPush)?.aqm?.error }}</p>
                </div>
              }
            </div>
            <!-- seperator vertical -->
            <div
              class="hidden flex-col items-center justify-center px-24 pt-6 md:flex"
            >
              <div class="flex flex-1 border-r border-solid"></div>
            </div>
            <!-- results limits -->
            <div class="flex flex-1 flex-col gap-4 pt-4">
              <h6>{{ t('sumValue') }}</h6>
              <div class="flex flex-row items-center gap-24">
                <p>{{ t('sumValueComponents') }}</p>
                <p>
                  {{
                    (
                      aqmCalculationResult | ngrxPush
                    )?.sumValue?.toLocaleString()
                  }}
                </p>
              </div>
              @if (
                (aqmCalculationResult | ngrxPush) &&
                !(aqmCalculationResult | ngrxPush)?.aqm?.error
              ) {
                <p class="mt-0">{{ t('sumLimitsReachedFor') }}</p>
                <mat-chip-listbox>
                  @for (
                    item of (aqmCalculationResult | ngrxPush)?.limits
                      | keyvalue;
                    track $index
                  ) {
                    <mat-chip-option [selectable]="false">
                      <div
                        class="flex flex-row items-center justify-between gap-1"
                      >
                        <mat-icon [ngClass]="{ '!text-primary': item.value }">{{
                          item.value ? 'check_circle' : 'error'
                        }}</mat-icon>
                        <p>
                          {{ item.key }}
                        </p>
                      </div>
                    </mat-chip-option>
                  }
                </mat-chip-listbox>
              }
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
@if (false) {}
