<div
  class="h-full py-4 flex flex-col items-center justify-center gap-12 bg-surface"
>
  <img src="/assets/images/logo.png" alt="Logo" class="w-[124px] h-[50px]" />
  <ng-container *ngIf="tooManyResults$ | ngrxPush">
    <div
      class="flex flex-col items-center justify-center text-center"
      *transloco="let t; read: 'search.tooManyResults'"
    >
      <h4 class="text-h4 text-high-emphasis mb-4">
        {{
          t('message', {
            resultCount: resultCount$ | ngrxPush | translocoDecimal
          })
        }}
      </h4>
      <h6 class="text-subtitle-1 text-medium-emphasis whitespace-pre-line">
        {{ t('hint', { tooManyResultsThreshold: tooManyResultsThreshold }) }}
      </h6>
    </div>
  </ng-container>

  <ng-container *ngIf="noResultsFound$ | ngrxPush">
    <div
      class="flex flex-col items-center justify-center text-center"
      *transloco="let t; read: 'search.noResults'"
    >
      <h4 class="text-h4 text-high-emphasis mb-4">
        {{ t('message') }}
      </h4>
      <h6 class="text-subtitle-1 text-medium-emphasis whitespace-pre-line">
        {{ t('hint') }}
      </h6>
    </div>
  </ng-container>

  <cdba-reference-types-filters
    *ngIf="!(loading$ | ngrxPush); else blockUi"
  ></cdba-reference-types-filters>
</div>

<ng-template #blockUi>
  <cdba-block-ui></cdba-block-ui>
</ng-template>
