<div class="m-7 flex h-[calc(100%-60px)] flex-col">
  <button
    class="filter-button text-button !mb-2 w-[250px]"
    mat-raised-button
    (click)="setLastModifierFilter()"
  >
    FILTER ASSIGNED TO ME
  </button>
  <ag-grid-angular
    class="ag-theme-material h-full"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [gridOptions]="gridOptions"
    [modules]="modules"
    [sideBar]="sidebar"
    [components]="frameworkComponents"
    [detailCellRenderer]="detailCellRenderer"
    [masterDetail]="true"
    [detailRowHeight]="240"
    [enableCellTextSelection]="true"
    (rowClicked)="onRowClicked($event)"
    (firstDataRendered)="onFirstDataRendered($event)"
    [rowData]="rowData"
    (columnMoved)="onColumnChange($event)"
    (sortChanged)="onColumnChange($event)"
    (columnVisible)="onColumnChange($event)"
    (columnPinned)="onColumnChange($event)"
    (columnResized)="onColumnChange($event)"
  >
  </ag-grid-angular>
</div>
