<div class="m-7 flex h-[calc(100%-60px)] flex-col">
  <div class="flex flex-row justify-between">
    <button
      class="filter-button !mb-2 w-[250px] text-button"
      mat-raised-button
      (click)="setLastModifierFilter()"
    >
      FILTER ASSIGNED TO ME
    </button>
    <a
      mat-button
      class="!mb-2 text-button text-link"
      href="https://sconnect.schaeffler.com/docs/DOC-382363"
      target="_blank"
      >Support/Documentation</a
    >
  </div>

  <ag-grid-angular
    class="ag-theme-material h-full"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [gridOptions]="gridOptions"
    [sideBar]="sidebar"
    [components]="frameworkComponents"
    [detailCellRenderer]="detailCellRenderer"
    [masterDetail]="true"
    [detailRowHeight]="240"
    [enableCellTextSelection]="true"
    (rowClicked)="onRowClicked($event)"
    (firstDataRendered)="onFirstDataRendered($event)"
    [rowData]="rowData"
    (columnMoved)="onColumnChange($event)"
    (sortChanged)="onColumnChange($event)"
    (columnVisible)="onColumnChange($event)"
    (columnPinned)="onColumnChange($event)"
    (columnResized)="onColumnChange($event)"
  >
  </ag-grid-angular>
</div>
