@import 'libs/shared/ui/styles/src/lib/scss/colors';
@import 'libs/shared/ui/styles/src/lib/scss/fonts';

.table-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  margin: 30px;

  h1 {
    margin-top: 0;
  }

  ag-grid-angular {
    height: 100%;
  }

  .filter-button {
    @apply mb-2;
  }
}
