:host {
  width: 100%;

  .container {
    height: 100%;

    mat-card {
      height: 100%;
      width: 100%;

      .mat-card-inner {
        height: 100%;
        width: 100%;

        h3 {
          font-weight: bold;
          line-height: 36px;
          margin: 0;
        }

        .table-container {
          height: calc(100% - 36px);
        }
      }
    }
  }
}
