:host {
  height: 100%;
  width: 100%;

  .caclulations-tab-container {
    height: 100%;

    mat-card {
      height: 100%;
      width: 100%;

      .mat-card-inner {
        height: 100%;
        width: 100%;

        .table-container {
          height: calc(100% - 36px);
        }
      }
    }
  }
}
