<div class="container">
  <mat-card>
    <div
      class="mat-card-inner"
      fxLayout="column"
      *transloco="let t; read: 'detail.shared'"
    >
      <h3>{{ t('title') }}</h3>

      <div
        class="table-container"
        *transloco="let t; read: 'detail.shared.calculationTable'"
      >
        <cdba-calculations-table
          [rowData]="calculations$ | ngrxPush"
          [selectedNodeId]="selectedNodeId$ | ngrxPush"
          [isLoading]="loading$ | ngrxPush"
          [errorMessage]="errorMessage$ | ngrxPush"
          (selectionChange)="selectCalculation($event)"
        ></cdba-calculations-table>
      </div>
    </div>
  </mat-card>
</div>
