<div
  class="flex h-full flex-col"
  *transloco="let t; read: 'processCaseView.tabs.singleQuotes.customViewModal'"
>
  <gq-dialog-header
    [title]="modalData.createNewView ? t('createView') : t('changeName')"
    (closeDialog)="closeDialog()"
  >
  </gq-dialog-header>
  <form class="flex h-full flex-col pt-6" [formGroup]="formGroup">
    <div class="h-full">
      <mat-form-field
        class="w-full"
        appearance="outline"
        [hintLabel]="t('inputFieldHint')"
      >
        <mat-label> {{ t('inputFieldLabel') }} </mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          formControlName="name"
          [maxlength]="NAME_MAX_LENGTH"
          #nameInput
        />
        <mat-hint align="end">
          {{ formGroup.controls?.name?.value?.length }} /
          {{ NAME_MAX_LENGTH }}
        </mat-hint>
      </mat-form-field>
      @if (modalData.createNewView && modalData.showRadioButtons) {
        <mat-radio-group
          matInput
          aria-labelledby="example-radio-group-label"
          class="flex flex-col pt-6"
          formControlName="createFromDefault"
        >
          <mat-radio-button checked [value]="true">
            <span class="pl-2 text-on-surface-variant">
              {{ t('createFromDefault') }}
            </span>
          </mat-radio-button>
          <mat-radio-button [value]="false">
            <span class="pl-2 text-on-surface-variant">
              {{ t('createFromCurrent') }}
            </span>
          </mat-radio-button>
        </mat-radio-group>
      }
    </div>
    <div class="flex pt-8 justify-end gap-4">
      <button mat-button (click)="closeDialog()">
        <span> {{ t('cancel') }} </span>
      </button>
      <button
        mat-flat-button
        [disabled]="
          !formGroup.valid || formGroup.controls?.name?.value === modalData.name
        "
        (click)="save()"
      >
        <span>
          {{ modalData.createNewView ? t('addView') : t('save') }}
        </span>
      </button>
    </div>
  </form>
</div>
