section {
  border: 1px solid var(--outline-variant-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

section.last {
  margin-bottom: 24px;
}

section.grow {
  flex-grow: 1;
}

section.full-height {
  min-height: 100%;
}
