<div class="px-5">
  <div class="py-4">
    <div
      class="ng-star-inserted mb-4 text-subtitle-1 text-medium-emphasis"
      *transloco="let t; read: 'userSettings'"
    >
      {{ t('title') }}
    </div>

    <div class="py-4 px-5" *transloco="let t; read: 'userSettings'">
      <schaeffler-language-select
        [reloadOnLanguageChange]="true"
        class="mb-3 block"
      ></schaeffler-language-select>
      <ia-autocomplete-input
        [filter]="orgUnitsFilter$ | ngrxPush"
        [value]="selectedOrgUnit$ | ngrxPush"
        [autoCompleteLoading]="orgUnitsLoading$ | ngrxPush"
        [label]="t('orgUnitLabel')"
        [hint]="t('orgUnitHint')"
        [appearance]="'outline'"
        [noResultMessage]="t('nothingFound')"
        (selected)="optionSelected($event)"
        (autoComplete)="autoCompleteOrgUnitsChange($event)"
      ></ia-autocomplete-input>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="py-4">
    <schaeffler-roles-and-rights
      *ngIf="(roleGroups$ | ngrxPush) && (roleGroups$ | ngrxPush).length"
      [rolesGroups]="roleGroups$ | ngrxPush"
      [showHeading]="true"
    ></schaeffler-roles-and-rights>
  </div>
</div>
