<div
  class="flex flex-row"
  *transloco="let t; read: 'caseView.caseCreation.createCustomerCase.statusBar'"
>
  <div class="w-1/2">
    <button
      class="!pl-4 !pr-4"
      mat-raised-button
      [disabled]="createCaseDisabled"
      (click)="emitCreateCase()"
      color="primary"
    >
      <span class="font-medium">
        {{ t('createCase') }}
      </span>
    </button>
    <button
      color="primary"
      class="!ml-4 text-button font-medium"
      mat-stroked-button
      (click)="emitCloseDialog()"
    >
      {{ t('cancelButton') | uppercase }}
    </button>
  </div>
  <div class="w-1/2">
    <div class="float-right">
      <button
        class="!pl-4 !pr-4"
        mat-stroked-button
        (click)="emitResetAll()"
        color="primary"
      >
        <mat-icon>delete</mat-icon>
        <span class="ml-4 font-medium">
          {{ t('resetAll') }}
        </span>
      </button>
    </div>
  </div>
</div>
