<div
  class="mb-3"
  [formGroup]="form"
  *transloco="
    let t;
    read: 'calculator.rfq4DetailView.recalculation.inputs.comment'
  "
>
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>{{ t('label') }}</mat-label>
    <textarea
      class="text-label-small !leading-7"
      [formControlName]="formControlName()"
      appearance="fill"
      type="text"
      maxlength="1000"
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="4"
      matInput
    ></textarea>
    <mat-hint align="start">{{ t('hint') }}</mat-hint>
    <mat-hint align="end">
      {{ formControl.value?.length || 0 }} / 1000</mat-hint
    >
  </mat-form-field>
</div>
