@if (formGroup) {
  <div *transloco="let t" class="flex flex-col">
    <div>
      <h6 class="text-title-large">
        {{ t('validation_of_demand.date_picker.title') }}
      </h6>
      <p class="text-title-small">
        {{ t('validation_of_demand.date_picker.sub_title') }}
      </p>
    </div>

    <d360-demand-validation-date-picker
      [formGroup]="formGroup"
      [startDatePeriod1]="$any(formGroup.controls.startDatePeriod1)"
      [endDatePeriod1]="$any(formGroup.controls.endDatePeriod1)"
      [periodType1]="$any(formGroup.controls.periodType1)"
      [startDatePeriod2]="$any(formGroup.controls.startDatePeriod2)"
      [endDatePeriod2]="$any(formGroup.controls.endDatePeriod2)"
      [periodType2]="$any(formGroup.controls.periodType2)"
      [periodTypes]="defaultPeriodTypes"
    ></d360-demand-validation-date-picker>

    <div class="flex justify-end gap-3">
      <button mat-button (click)="handleOnClose()">
        {{ t('button.close') }}
      </button>
      <button mat-flat-button color="primary" (click)="handleApplyDateRange()">
        {{ t('button.save') }}
      </button>
    </div>
  </div>
}
