@switch (statusToUse) {
  @case ('PI') {
    <d360-phase-in-status-specific-content [props]="props()" />
  }
  @case ('PO') {
    <d360-phase-out-status-specific-content [props]="props()" />
  }
  @case ('SE') {
    <d360-substitution-status-specific-content [props]="props()" />
  }
  @case ('IA') {
    <d360-inactivate-status-specific-content [props]="props()" />
  }
}
@if (statusToUse === 'NO') {
  <div class="info-message" *transloco="let t">
    {{ t('customer_material_portfolio.modal.error.no_status', {}) }}
  </div>
}
