<div
  class="flex h-full flex-col"
  *transloco="let t; read: 'shared.uploadDialog'"
>
  <gq-dialog-header
    [title]="t('title')"
    (closeDialog)="closeDialog()"
  ></gq-dialog-header>
  @if (!(activeCaseFacade.attachmentsUploading$ | ngrxPush)) {
    <div class="flex-grow mt-4">
      <div
        class="border-2 h-24 border-dashed border-border rounded-lg w-full flex justify-center items-center font-bold cursor-pointer"
        id="dragSquare"
        dragAndDrop
        (filesDropped)="handleDroppedFiles($event)"
      >
        <div class="flex flex-col items-center">
          <div class="flex flex-row items-center">
            <div
              class="flex flex-row items-center group hover:border-b hover:border-primary"
            >
              <input
                type="file"
                (change)="handleFileInput($event)"
                multiple
                id="fileInput"
                enctype="multipart/form-data"
                class="hidden"
              />
              <label for="fileInput" class="flex items-center">
                <mat-icon color="primary" class="mr-2">add</mat-icon>
                <p class="text-link font-medium mr-1 flex-grow">
                  {{ t('uploadButton') }}
                </p>
              </label>
            </div>
            <p class="text-medium-emphasis font-medium">
              {{ t('dialogOptionInfo') }}
            </p>
          </div>
          <p
            class="text-low-emphasis text-[12px] mt-3"
            [innerHTML]="t('dialogInfo')"
          ></p>
        </div>
      </div>
    </div>
    <div class="mt-4">
      @for (fileToDisplay of filesToUpload; track fileToDisplay) {
        <div>
          <div class="flex flex-row">
            @if (
              fileToDisplay.exists ||
              fileToDisplay.sizeExceeded ||
              fileToDisplay.unsupportedFileType
            ) {
              <mat-icon
                class="text-error mr-2 !w-5 !h-5 !text-body-1"
                [matTooltip]="
                  fileToDisplay.exists
                    ? t('fileExitsTooltip')
                    : fileToDisplay.unsupportedFileType
                      ? t('fileTypeNotSupportedTooltip')
                      : t('fileSizeExceedsTooltip')
                "
              >
                close
              </mat-icon>
            } @else {
              <mat-icon
                class="text-approval-status-green mr-2 !w-5 !h-5 !text-body-1"
              >
                check_circle_outline
              </mat-icon>
            }
            <span class="text-high-emphasis text-body-2">{{
              fileToDisplay?.file?.name
            }}</span>
            <div class="ml-auto text-approval-status-grey mt-1">
              <div class="group inline-block">
                <mat-icon
                  class="!w-5 !h-5 !text-[20px] hover:text-approval-status-green relative text-approval-status-grey"
                >
                  <span class="group-hover:opacity-0"> delete </span>
                  <mat-icon
                    class="absolute inset-0 flex items-center justify-center font-bold opacity-0 group-hover:opacity-100 !w-5 !h-5 !text-[20px]"
                    (click)="removeFile(fileToDisplay)"
                  >
                    delete_forever
                  </mat-icon>
                </mat-icon>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
    <div class="mt-11 flex flex-row">
      <button
        color="primary"
        class="!mr-6 text-button font-medium"
        mat-raised-button
        (click)="upload()"
        [disabled]="filesToUpload.length === 0 || disableUploadButton"
      >
        {{ t('uploadButton') }}
      </button>
      <button
        color="primary"
        class="text-button font-medium"
        mat-stroked-button
        (click)="closeDialog()"
      >
        {{ t('cancelButton') }}
      </button>
    </div>
  } @else {
    <div class="py-3">
      <schaeffler-loading-spinner
        class="h-full"
        [relative]="true"
      ></schaeffler-loading-spinner>
    </div>
  }
</div>
