@import 'libs/shared/ui/styles/src/lib/colors';
@import 'libs/shared/ui/styles/src/lib/fonts';

.column-header {
  color: $schaeffler-carbon-gray;
  font-weight: 500;
}

.chip {
  justify-content: space-between;
  width: 100%;
}
