<div>
  <div
    class="flex items-center justify-center"
    *transloco="let t; read: 'detailView.headerContent'"
  >
    <div class="flex flex-nowrap pl-4 gap-3">
      @if (materialStock?.excessStock || materialStockLoading) {
        <schaeffler-tag
          [value]="!materialStockLoading ? t('excessStock') : ''"
          [type]="!materialStockLoading ? 'info' : 'neutral'"
          [withDot]="false"
          [styleClass]="
            materialStockLoading === true
              ? 'animate-pulse !min-w-[4rem] !min-h-[1.5rem]'
              : ''
          "
        ></schaeffler-tag>
      }

      @if (materialStock?.slowMover || materialStockLoading) {
        <schaeffler-tag
          [value]="!materialStockLoading ? t('slowMover') : ''"
          [type]="!materialStockLoading ? 'warning' : 'neutral'"
          [withDot]="false"
          [styleClass]="
            materialStockLoading === true
              ? 'animate-pulse !min-w-[4rem] !min-h-[1.5rem]'
              : ''
          "
        ></schaeffler-tag>
      }
    </div>
  </div>
</div>
