<div>
  <div
    class="flex items-center justify-center"
    *transloco="let t; read: 'detailView.headerContent'"
  >
    <mat-chip-set class="mt-1 !flex-nowrap" role="list">
      <mat-chip
        *ngIf="materialStock?.excessStock || materialStockLoading"
        class="excess-stock"
        [ngClass]="{
          loading: materialStockLoading
        }"
      >
        <span *ngIf="materialStock?.excessStock">
          {{ t('excessStock') }}
        </span>
      </mat-chip>
      <mat-chip
        *ngIf="materialStock?.slowMover || materialStockLoading"
        class="slow-mover"
        [ngClass]="{
          loading: materialStockLoading
        }"
      >
        <span *ngIf="materialStock?.slowMover">
          {{ t('slowMover') }}
        </span>
      </mat-chip>
    </mat-chip-set>
  </div>
</div>
