<div>
  <div
    class="flex items-center justify-center"
    *transloco="let t; read: 'detailView.headerContent'"
  >
    <mat-chip-list class="mt-1 !flex-nowrap">
      <mat-chip
        *ngIf="materialStock?.slowMover || materialStockLoading"
        class="!ml-4 !mr-0 !bg-sunny-yellow text-caption font-normal"
        [ngClass]="{ 'skeleton-bg w-24': materialStockLoading }"
      >
        <span *ngIf="materialStock?.slowMover">
          {{ t('slowMover') }}
        </span> </mat-chip
      ><mat-chip
        *ngIf="materialStock?.excessStock || materialStockLoading"
        class="!ml-4 !bg-nordic-blue text-caption font-normal !text-white"
        [ngClass]="{ 'skeleton-bg w-24': materialStockLoading }"
      >
        <span *ngIf="materialStock?.excessStock">
          {{ t('excessStock') }}
        </span>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
