@import 'libs/shared/ui/styles/src/lib/colors';

:host {
  width: 100% !important;

  #chartContainer {
    height: 700px;
  }

  ::ng-deep .node-foreign-object {
    overflow: visible !important;
  }

  ::ng-deep .node-wrapper {
    padding: 8px 8px 15px 8px;
    text-align: center;

    .node-chip {
      align-items: center;
      background-color: $schaeffler-gray-3;
      border-radius: 16px;
      color: $schaeffler-black;
      display: flex;
      font-size: 16px;
      height: 32px;
      justify-content: center;
      letter-spacing: 0.25px;
      line-height: 20px;
      margin: -24px auto 0 auto;
      text-align: center;
      width: 279px;
    }

    .name {
      color: $schaeffler-black;
      font-size: 18px;
      letter-spacing: 0.5px;
      line-height: 28px;
      margin: 8px 0 18px 0;
    }

    table {
      border-collapse: collapse;
      margin-bottom: 20px;
      width: 100%;

      .green {
        color: $schaeffler-green-1;
      }

      td {
        color: $schaeffler-black;
      }

      tr td,
      tr th {
        border-right: 1px solid $schaeffler-gray-4;
      }

      tr td:last-child,
      tr th:last-child {
        border-right: 0;
      }

      .column-title {
        color: $schaeffler-gray-7;
        font-size: 14px;
        font-weight: bolder;
        letter-spacing: 2px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
      }

      .row-title {
        align-items: center;
        color: $schaeffler-gray-7;
        display: flex;
        font-size: 14px;
        letter-spacing: 0.25px;
        line-height: 20px;
        text-align: left;
      }
    }

    .bottom-bar {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      .icon {
        color: $schaeffler-gray-7;
        font-size: 24px;
        height: 24px;
        width: 24px;
      }

      .left {
        margin-right: auto;
        padding: 0 0 15px 17px;
      }

      .right {
        padding-right: 17px;
      }
    }
  }
}
