<div *transloco="let t">
  <mat-accordion class="example-headers-align" hideToggle>
    <mat-expansion-panel [expanded]="step === 0" [disabled]="true">
      <mat-expansion-panel-header class="!cursor-default !text-high-emphasis">
        <mat-panel-title class="shrink-0">
          <mat-icon class="mr-2 !text-medium-emphasis">tune</mat-icon>
          {{ t('bearing.bearingSelection.advancedSelection.filters.heading') }}
        </mat-panel-title>
        <mat-panel-description class="!text-medium-emphasis">
          <ga-bearing-selection-filters-summary
            *ngIf="step > 0; else filters_intro"
            [advancedBearingSelectionFilters]="advancedBearingSelectionFilters"
          ></ga-bearing-selection-filters-summary>
          <ng-template #filters_intro>
            <span class="text-caption">{{
              t('bearing.bearingSelection.advancedSelection.filters.intro', {
                tooManyResultsThreshold: resultsThreshold
              })
            }}</span>
          </ng-template>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-divider class="pb-4"></mat-divider>
      <div class="px-4">
        <div class="mb-4">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{
              t('shared.label.defaultSelect', {
                label: t('bearing.label.bearingType')
              })
            }}</mat-label>
            <mat-select
              [(value)]="advancedBearingSelectionFilters.bearingType"
              (selectionChange)="onBearingTypeSelectionChange()"
            >
              <mat-option
                *ngFor="let bearingType of bearingTypes"
                [value]="bearingType.id"
                >{{ bearingType.text }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="mb-4">
          <ga-range-filter
            [rangeFilter]="boreDiameterRangeFilter"
            (updateFilter)="onBoreDiameterChange($event)"
          ></ga-range-filter>
        </div>
        <div class="mb-4">
          <ga-range-filter
            [rangeFilter]="outsideDiameterRangeFilter"
            (updateFilter)="onOutsideDiameterChange($event)"
          ></ga-range-filter>
        </div>
        <div class="mb-4">
          <ga-range-filter
            [rangeFilter]="widthRangeFilter"
            (updateFilter)="onWidthChange($event)"
          ></ga-range-filter>
        </div>
      </div>
      <mat-action-row>
        <ga-bearing-selection-button
          (buttonClick)="onBearingSelectionButtonClick()"
        ></ga-bearing-selection-button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" [disabled]="true">
      <mat-expansion-panel-header class="!cursor-default !text-high-emphasis">
        <mat-panel-title>
          <mat-icon class="mr-2 !text-medium-emphasis">manage_search</mat-icon>
          {{
            t('bearing.bearingSelection.advancedSelection.bearingsList.heading')
          }}
        </mat-panel-title>
        <mat-panel-description class="!text-medium-emphasis" *ngIf="step === 1">
          <span class="text-caption">{{
            t('bearing.bearingSelection.advancedSelection.bearingsList.intro')
          }}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="px-4">
        <ga-bearing-selection-list></ga-bearing-selection-list>
      </div>
      <mat-action-row>
        <button mat-stroked-button color="primary" (click)="prevStep()">
          {{
            t(
              'bearing.bearingSelection.advancedSelection.bearingsList.action.previousStep'
            )
          }}
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
