<schaeffler-app-shell
  *ngIf="
    (isLoggedIn$ | ngrxPush) && !(healthCheckLoading$ | ngrxPush);
    else loading
  "
  [appTitle]="title"
  [appTitleLink]="titleLink"
  [hasSidebarLeft]="true"
  [userName]="username$ | ngrxPush"
  [userImageUrl]="profileImage$ | ngrxPush"
  [footerLinks]="footerLinks"
  [appVersion]="appVersion"
>
  <ng-container sidenavBody>
    <gq-user-settings></gq-user-settings>
  </ng-container>
  <ng-container mainContent>
    <div
      *ngIf="isHealthCheckAvailable$ | ngrxPush; else maintenance"
      class="h-full w-full"
    >
      <router-outlet></router-outlet>
    </div>
  </ng-container>
</schaeffler-app-shell>

<ng-template class="h-full grow overflow-y-auto" #maintenance>
  <schaeffler-maintenance
    *transloco="let t; read: 'shared.maintenance'"
    [title]="t('title')"
  ></schaeffler-maintenance>
</ng-template>

<ng-template #loading>
  <schaeffler-loading-spinner></schaeffler-loading-spinner>
</ng-template>
