<schaeffler-app-shell
  *ngIf="
    (isLoggedIn$ | ngrxPush) && !(healthCheckLoading$ | ngrxPush);
    else loading
  "
  [appTitle]="title"
  [appTitleLink]="titleLink"
  [hasSidebarLeft]="true"
  [userName]="username$ | ngrxPush"
  [userImageUrl]="profileImage$ | ngrxPush"
  [footerLinks]="footerLinks"
  [appVersion]="appVersion"
>
  <ng-container headerInlineContent *ngIf="showGlobalSearch$ | ngrxPush">
    <gq-global-search-bar></gq-global-search-bar>
  </ng-container>
  <ng-container sidenavBody>
    <gq-user-settings></gq-user-settings>
  </ng-container>
  <ng-container mainContent>
    <div class="h-full w-full bg-secondary">
      <div
        *ngIf="isHealthCheckAvailable$ | ngrxPush; else maintenance"
        class="h-full w-full"
      >
        <router-outlet></router-outlet>
        <div
          *transloco="let t; read: 'legal'"
          class="mx-auto w-full max-w-screen-md bg-surface"
          [ngClass]="{ hidden: !(isCookieRouteActive$ | ngrxPush) }"
        >
          <div class="py-3 px-4">
            <button id="ot-sdk-btn" class="ot-sdk-show-settings">
              {{ t('cookieSettings') }}
            </button>
          </div>
          <div class="py-3 md:px-4">
            <div id="ot-sdk-cookie-policy"></div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</schaeffler-app-shell>

<ng-template class="h-full grow overflow-y-auto" #maintenance>
  <schaeffler-maintenance
    *transloco="let t; read: 'shared.maintenance'"
    [title]="t('title')"
  ></schaeffler-maintenance>
</ng-template>

<ng-template #loading>
  <schaeffler-loading-spinner></schaeffler-loading-spinner>
</ng-template>
