.full-height {
  height: 100%;
}

.router-content {
  display: flex;
  flex: 1;
}

::ng-deep
  .ag-theme-material
  .ag-horizontal-left-spacer:not(.ag-scroller-corner) {
  border-right: none;
}

::ng-deep gq-root mat-sidenav-content .content-wrapper.main-content-wrapper {
  background: white !important;
}
