<div
  class="flex h-full w-full flex-col"
  *transloco="let t; read: 'featureToggleView'"
>
  <div class="pt-5">
    <schaeffler-subheader [showBackButton]="false">
      <ng-container subheaderTitleContent>
        @if (!isDefaultConfig) {
          <div class="flex flex-col justify-center">
            <h5 class="leading-6">{{ t('title') }}</h5>
          </div>
        } @else {
          <h5 class="leading-6">{{ t('titleDefaultConfig') }}</h5>
        }
      </ng-container>
    </schaeffler-subheader>
  </div>

  <mat-card
    appearance="outlined"
    class="mat-elevation-z0 mt-6 border border-solid border-border"
  >
    <mat-card-content>
      <div class="flex-col items-center">
        @for (toggle of configs; track toggle) {
          <div>
            <div class="flex flex-row justify-center">
              <mat-slide-toggle
                color="primary"
                labelPosition="before"
                [checked]="toggle.value"
                [disabled]="isDefaultConfig"
                [name]="toggle.key"
                (change)="featureToggleChanged($event)"
              >
                {{ toggle.key }}
              </mat-slide-toggle>
            </div>
          </div>
        }
        @if (!isDefaultConfig) {
          <button mat-raised-button color="primary" (click)="saveConfig()">
            {{ t('submit') }}
          </button>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
