<div
  class="flex h-full w-full flex-col"
  *transloco="let t; read: 'featureToggleView'"
>
  <div class="pt-5">
    <schaeffler-subheader [showBackButton]="false">
      <ng-container subheaderTitleContent>
        <div
          *ngIf="!isDefaultConfig; else defaultTitle"
          class="flex flex-col justify-center"
        >
          <h5 class="leading-6">{{ t('title') }}</h5>
        </div>
      </ng-container>
    </schaeffler-subheader>
  </div>
  <ng-template #defaultTitle>
    <h5 class="leading-6">{{ t('titleDefaultConfig') }}</h5>
  </ng-template>

  <mat-card
    appearance="outlined"
    class="mat-elevation-z0 mt-6 border border-solid border-border"
  >
    <mat-card-content>
      <div class="flex-col items-center">
        <div *ngFor="let toggle of configs">
          <div class="flex flex-row justify-center">
            <mat-slide-toggle
              color="primary"
              labelPosition="before"
              [checked]="toggle.value"
              [disabled]="isDefaultConfig"
              [name]="toggle.key"
              (change)="featureToggleChanged($event)"
            >
              {{ toggle.key }}
            </mat-slide-toggle>
          </div>
        </div>
        <button
          *ngIf="!isDefaultConfig"
          mat-raised-button
          color="primary"
          (click)="saveConfig()"
        >
          {{ t('submit') }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
