<div
  class="flex h-full justify-center md:bg-background-dark"
  *transloco="let t; read: 'home'"
>
  <div class="block">
    <div
      class="grid grid-cols-2 gap-4 p-4 md:grid-cols-4 md:grid-rows-2 lg:max-w-4xl"
    >
      <mat-card
        class="card-flex col-span-2 row-span-1 min-h-[224px] cursor-pointer content-between sm:min-h-[200px] md:col-span-2 md:row-span-2 md:w-full"
        [routerLink]="greaseCalculationLink"
      >
        <h5>{{ t('greaseCalculator') }}</h5>
        <mat-card-content class="grow">
          <div class="flex h-full flex-col">
            <div class="w-2/3 md:w-full">
              <p class="text-subtitle-2 text-low-emphasis">
                {{ t('bearinxPowered') }}
              </p>
            </div>
            <div
              class="flex grow items-center justify-center justify-self-center"
            >
              <img
                src="../assets/images/calc.svg"
                class="calc-img absolute right-0 top-0 max-h-48 w-1/3 object-contain p-4 md:static md:w-1/2"
              />
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-button
            color="primary"
            class="relative right-2 mb-4 uppercase md:right-1"
            [routerLink]="greaseCalculationLink"
          >
            <div class="flex justify-between">
              <h4 class="mr-3 self-center font-normal !leading-none text-link">
                {{ t('startCalc') }}
              </h4>
              <span
                class="flex h-[37px] w-[37px] items-center justify-center rounded-full bg-primary"
              >
                <span
                  class="flex h-[31px] w-[31px] items-center justify-center rounded-full bg-surface"
                >
                  <mat-icon class="start-icon">play_arrow</mat-icon>
                </span>
              </span>
            </div>
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <a
          href="{{ t('greaseLink', { sources }) }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="text-center text-overline uppercase">
            {{ t('greases') }}
          </div>
          <mat-card-content class="card-content justify-center">
            <div
              class="arcanol h-full w-full bg-contain bg-center bg-no-repeat"
            ></div>
          </mat-card-content>
        </a>
      </mat-card>
      <mat-card>
        <a
          href="{{ t('lubricatorsLink', { sources }) }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="mb-4 break-words text-center text-overline uppercase">
            {{ t('lubricators') }}
          </div>
          <mat-card-content class="card-content justify-center">
            <div
              class="lubricators h-full w-full bg-contain bg-center bg-no-repeat"
            ></div>
          </mat-card-content>
        </a>
      </mat-card>
      <mat-card>
        <a
          href="{{ t('catalogLink', { sources }) }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="text-center text-overline uppercase">
            {{ t('catalog') }}
          </div>
          <mat-card-content
            class="card-content flex items-center justify-center"
          >
            <div
              class="medias h-full w-full max-w-[85%] bg-contain bg-center bg-no-repeat"
            ></div>
          </mat-card-content>
        </a>
      </mat-card>
      <mat-card>
        <a
          href="{{ t('faqLink', { sources }) }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="text-center text-overline uppercase">
            {{ t('faq') }}
          </div>
          <mat-card-content
            class="card-content flex items-center justify-center"
          >
            <span class="text-[36px] font-bold tracking-[1px] text-link">
              {{ t('faq') }}
            </span>
          </mat-card-content>
        </a>
      </mat-card>
      <!-- <mat-card class="col-span-2 cursor-not-allowed md:w-full">
        <mat-card-content class="flex h-full items-center">
          <div class="flex h-full">
            <div
              class="arcanol flex h-full w-2/4 items-center justify-center bg-contain bg-center bg-no-repeat"
            ></div>
            <div class="flex h-full w-2/4 flex-col">
              <h5 class="uppercase">{{ t('concept') }}</h5>
              <p
                class="text-container shrink-0 overflow-hidden text-caption text-low-emphasis"
              >
                {{ t('placeholderText') }}
              </p>
              <div class="-ml-4">
                <button mat-button color="primary" disabled>
                  <span>{{ t('learnMore') }}</span>
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card> -->
    </div>
  </div>
</div>
