mat-card-content.card-content {
  height: calc(100% - 18px);
  @apply flex min-h-[150px] md:min-h-0 md:w-full;
}

mat-card.card-flex,
mat-card-content.card-flex {
  @apply flex flex-col;
}

.arcanol {
  background-image: url('../../assets/images/Arcanol.jpg');
}

.lubricators {
  background-image: url('../../assets/images/lubricators.png');
}

.medias {
  background-image: url('../../assets/images/medias.png');
}

div span span .start-icon {
  @apply m-0 h-auto w-auto text-[24px];
}
