mat-card-content.card-content {
  height: calc(100% - 18px);
  @apply md:w-full flex min-h-[150px] md:min-h-0;
}

mat-card.card-flex,
mat-card-content.card-flex {
  @apply flex flex-col;
}

.arcanol {
  background-image: url('../../assets/images/Arcanol.jpg');
}

.lubricators {
  background-image: url('../../assets/images/lubricators.png');
}

.medias {
  background-image: url('../../assets/images/medias.png');
}

@screen md {
  .grid-container {
    max-height: calc(100vh - 9rem);
  }
}

@screen lg {
  .grid-container {
    @apply translate-x-[-50%];
  }
}

div span span .start-icon {
  @apply text-[24px] m-0 w-auto h-auto;
}
