<div class="flex min-h-full flex-col justify-center py-4 md:py-8">
  <div class="container mx-auto px-4 md:max-w-2xl">
    <div class="mb-6 md:mb-12">
      <ga-app-logo></ga-app-logo>
    </div>
    <div class="mb-8 md:mb-16">
      <ga-quick-bearing-selection
        [resetOnInit]="true"
      ></ga-quick-bearing-selection>
    </div>
  </div>
  <div class="container mx-auto px-4 md:max-w-screen-md">
    <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
      <ng-container *ngFor="let card of homepageCards">
        <ga-homepage-card [homepageCard]="card"></ga-homepage-card>
      </ng-container>
    </div>
  </div>
</div>
