<h3
  mat-dialog-title
  *transloco="let t; read: 'pricingView.inputSection.multipleInputDialog'"
>
  {{ t('tableQueryingTitle') }}
</h3>
<div
  mat-dialog-content
  fxLayout="column"
  *transloco="let t; read: 'pricingView.inputSection.multipleInputDialog'"
>
  <div>
    <mat-form-field appearance="outline" class="input-field">
      <mat-select [formControl]="form">
        <mat-option value="customer">{{ t('customer') }}</mat-option>
        <mat-option value="keyAccount">{{ t('keyAccount') }}</mat-option>
        <mat-option value="subKeyAccount">{{ t('subKeyAccount') }}</mat-option>
        <mat-option value="sector">{{ t('country') }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="table-container">
    <ag-grid-angular
      (gridReady)="onGridReady($event)"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColumnDefs"
      [enableRangeSelection]="true"
      [modules]="modules"
      [processCellFromClipboard]="processCellFromClipboard"
      [rowData]="rowData"
      [rowSelection]="rowSelection"
      class="ag-theme-material"
    >
    </ag-grid-angular>
  </div>
</div>
<div
  mat-dialog-actions
  *transloco="let t; read: 'pricingView.inputSection.multipleInputDialog'"
>
  <button
    [mat-dialog-close]="rowData"
    cdkFocusInitial
    color="primary"
    mat-flat-button
  >
    {{ t('search') }}
  </button>
  <button (click)="onNoClick()" mat-button>
    {{ t('cancel') }}
  </button>
</div>
