@mixin apply() {
  .fixed-action-column {
    @apply pl-0;
    @apply pr-0;
    @apply flex;
    justify-content: center;
    gap: 8px;
  }

  .ag {
    &-theme-material {
      --ag-font-family: 'Noto sans';

      .ag-column-panel {
        border-left: 1px solid ag-param(border-color);
        border-right: 1px solid ag-param(border-color);
      }

      .ag-header-cell-text {
        font-size: 14px;
      }
    }

    &-root-wrapper {
      min-height: 400px !important;
    }
  }

  .ag-theme-material .ag-rich-select-list {
    width: 100% !important;
    min-width: 200px !important;
  }

  .ag-popup-child:not(.ag-tooltip-custom) {
    margin-left: 1px;
  }

  .ag-popup-editor .ag-rich-select-value {
    min-width: 300px;
  }
}
