@mixin apply() {
  .fixed-action-column {
    @apply pl-0 pr-0 flex justify-center;
    gap: 8px;
  }

  .ag {
    &-theme-material {
      --ag-font-family: var(--app-font-family);
      --ag-font-size: 14px;
      --ag-background-color: transparent;
      --ag-header-background-color: transparent;
      --ag-header-foreground-color: var(--scrim-color);
      --ag-data-color: var(--on-surface-variant-color);
      --ag-font-weight-bold: 500;
      --ag-side-bar-panel-width: 240px;

      .ag-filter-toolpanel-header,
      .ag-filter-toolpanel-search,
      .ag-status-bar,
      .ag-header-row,
      .ag-panel-title-bar-title,
      .ag-multi-filter-group-title-bar {
        font-weight: var(--ag-font-weight-bold);
      }

      .ag-header-cell-text {
        font-size: var(--ag-font-size);
      }

      .ag-rich-select-list {
        width: 100% !important;
        min-width: 200px !important;
      }
      .ag-row-selected {
        --ag-selected-row-background-color: #ffffff00;
        color: var(--primary-color-hex);
      }

      .ag-tool-panel-wrapper,
      .ag-menu {
        @apply bg-surface-container-high;
      }

      .ag-center-cols-container {
        .is-active {
          border-left: 6px solid #f5a623;
        }

        .is-critical {
          border-left: 6px solid #e47280;
        }

        .is-deactivated {
          border-left: 6px solid #646464;
        }

        .is-closed {
          border-left: 6px solid #00893d;
        }
      }
    }

    // high color (overlay)
    &-rich-select-value,
    &-rich-select-list,
    &-cell-inline-editing {
      background: var(--surface-container-high-color) !important;
    }

    // highest color (overlay in overlay)
    &-select-list {
      background: var(--surface-container-highest-color) !important;
    }

    &-root-wrapper {
      min-height: 400px !important;
    }

    &-popup-child {
      &:not(.ag-tooltip-custom) {
        margin-left: 1px;
      }
    }

    &-popup-editor {
      .ag-rich-select-value {
        min-width: 300px;
      }
    }
  }
}
