@use 'material-overrides/mat-general' as matGeneral;
@use 'material-overrides/mat-dialog' as matDialog;
@use 'material-overrides/mat-tooltip' as matTooltip;
@use 'material-overrides/mat-snackbar' as matSnackbar;
@use 'material-overrides/mat-tabs' as matTabs;
@use 'material-overrides/mat-button' as matButton;
@use 'material-overrides/mat-menu' as matMenu;
@use 'material-overrides/mat-forms' as matForms;
@use 'material-overrides/mat-expansion-panel' as matExpansionPanel;
@use 'material-overrides/mat-chips' as matChips;
@use 'material-overrides/mat-paginator' as matPaginator;
@use 'material-overrides/mat-card' as matCard;

@mixin apply() {
  @include matGeneral.mat-general;
  @include matDialog.mat-dialog;
  @include matTooltip.mat-tooltip;
  @include matSnackbar.mat-snackbar;
  @include matTabs.mat-tabs;
  @include matButton.mat-button;
  @include matMenu.mat-menu;
  @include matForms.mat-forms;
  @include matExpansionPanel.mat-expansion-panel;
  @include matChips.mat-chips;
  @include matPaginator.mat-paginator;
  @include matCard.mat-card;
}
