<div *transloco="let t; read: 'transactionView.header'">
  <div *ngIf="quotationDetail && currency">
    <span
      >{{ t('title') }} {{ quotationDetail.recommendedPrice }}
      {{ currency }}</span
    >
    <span class="ml-[5px]">
      <gq-info-icon>
        <div fxLayout="column" class="p-1 text-[14px]">
          <span>
            <span class="font-semibold opacity-60">
              {{ t('icon-hover.materialDescription') }}: </span
            ><span>
              {{ quotationDetail.material.materialDescription }}
            </span>
          </span>
          <span>
            <span class="font-semibold opacity-60">
              {{ t('icon-hover.quantity') }}:
            </span>
            <span>
              {{ quotationDetail.orderQuantity }}
            </span>
          </span>
        </div>
      </gq-info-icon>
    </span>
  </div>
</div>
