<aside class="toolbar-container whitespace-nowrap" *transloco="let t">
  @if (renderFloatingFilter()) {
    <button mat-button (click)="toggleFloatingFilter()">
      <mat-icon>filter_list</mat-icon>
      {{ t('table.toolbar.toggleFilters') }}
    </button>
  }

  @if (getFilterCount() && getFilterCount() > 0) {
    <div class="flex items-center">
      @if (renderFloatingFilter()) {
        <span class="ml-2 mr-4">|</span>
      }
      <span class="text-body-medium">{{ getFilterCountText() }}</span>
      <button
        mat-icon-button
        class="ml-2 filter-button"
        (click)="onResetFilters()"
        [matTooltip]="t('table.toolbar.resetFilters')"
      >
        <mat-icon>filter_list_off</mat-icon>
      </button>
    </div>
  }

  @if (rowCount() > 0) {
    <div>
      @if (
        renderFloatingFilter() || (getFilterCount() && getFilterCount() > 0)
      ) {
        <span class="mx-2">|</span>
      }
      <span class="text-body-medium">
        {{
          t('table.toolbar.currentCount', {
            count: rowCount() | translocoDecimal
          })
        }}
      </span>
    </div>
  }

  <div class="flex grow"></div>

  <ng-content></ng-content>
</aside>
