<aside class="toolbar-container" *transloco="let t">
  @if (renderFloatingFilter()) {
    <button mat-button (click)="toggleFloatingFilter()">
      <mat-icon>filter_list</mat-icon>
      {{ t('material_customer.toolbar.toggle_filters') }}
    </button>
  }

  @if (rowCount() > 0) {
    @if (renderFloatingFilter()) {
      <span class="mx-2">|</span>
    }
    <span class="text-body-medium">
      {{
        t('table.toolbar.material_count', {
          count: rowCount() | translocoDecimal
        })
      }}
    </span>
  }
  <ng-content></ng-content>
</aside>
