<div *transloco="let t; read: 'sidebar'">
  <div class="w-full px-4 md:w-80" [ngClass]="embedded ? 'pt-12' : 'pt-4'">
    <div class="mb-1 text-subtitle-1 text-medium-emphasis">
      {{ t('language.title.main') }}
    </div>
    <div class="mb-4 text-caption text-medium-emphasis">
      {{ t('language.title.sub') }}
    </div>
    <schaeffler-language-select
      [reloadOnLanguageChange]="true"
      class="mb-3 block"
    ></schaeffler-language-select>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ t('decimalSeparatorSelectLabel') }}</mat-label>
      <mat-select
        class="hover:outline-green focus:outline-green"
        [formControl]="separatorSelectControl"
        (selectionChange)="setSeparator($event.value)"
      >
        <mat-option
          *ngFor="let seperator of availableSeparators; trackBy: trackByFn"
          [value]="seperator.id"
          >{{ t(seperator.label) }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
</div>
