<div *transloco="let t; read: 'sidebar'">
  <div class="w-full px-4 md:w-80" [ngClass]="embedded ? 'pt-12' : 'pt-4'">
    <mat-form-field appearance="outline" class="mt-1 w-full">
      <mat-label>{{ t('languageSelectLabel') }}</mat-label>
      <mat-select
        [formControl]="languageSelectControl"
        (selectionChange)="setLanguage($event.value)"
      >
        <mat-option
          *ngFor="let lang of availableLangs; trackBy: trackByFn"
          [value]="lang.id"
          >{{ lang.label }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>{{ t('decimalSeparatorSelectLabel') }}</mat-label>
      <mat-select
        class="hover:outline-green focus:outline-green"
        [formControl]="separatorSelectControl"
        (selectionChange)="setSeparator($event.value)"
      >
        <mat-option
          *ngFor="let seperator of availableSeparators; trackBy: trackByFn"
          [value]="seperator.id"
          >{{ t(seperator.label) }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
</div>
