<div
  *transloco="let t; read: 'overview.resignationsReceived'"
  class="flex h-full w-full flex-col"
>
  <h5>{{ t('title') }}</h5>
  <div class="pl-4">
    <span class="text-body-2 mt-4 flex flex-row"
      >{{ t('totalResignations') }}&nbsp;({{
        syncOn | date: 'dd/MM/yyyy'
      }})</span
    >
    <h4 class="mb-4 flex flex-row">{{ totalCount | defaultValue }}</h4>
  </div>

  <ag-grid-angular
    class="ag-theme-material border-border h-full border"
    [rowData]="data"
    [scrollbarWidth]="8"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    [frameworkComponents]="frameworkComponents"
    [animateRows]="true"
    [suppressCsvExport]="true"
    [suppressExcelExport]="true"
    [suppressCellFocus]="true"
  >
  </ag-grid-angular>
  @if (totalCount && data.length && totalCount !== data.length) {
    <p class="text-warning italic">
      {{ t('enoughRightsToShowAllEmployees') }}
    </p>
  }
</div>
