<div
  *transloco="let t; read: 'overview.resignationsReceived'"
  class="flex flex-col h-full w-full"
>
  <h5>{{ t('title') }}</h5>
  <div class="pl-4">
    <span class="flex flex-row text-body-2 mt-4">{{
      t('totalResignations')
    }}</span>
    <h4 class="flex flex-row mb-4">{{ data?.length | defaultValue }}</h4>
  </div>
  <ag-grid-angular
    class="ag-theme-material h-full border border-border"
    [rowData]="data"
    [scrollbarWidth]="8"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    [modules]="modules"
    [frameworkComponents]="frameworkComponents"
    [animateRows]="true"
    [suppressCsvExport]="true"
    [suppressExcelExport]="true"
    [suppressCellSelection]="true"
  >
  </ag-grid-angular>
</div>
