<div
  *transloco="let t; read: 'overview.resignationsReceived'"
  class="flex h-full w-full flex-col"
>
  <h5>{{ t('title') }}</h5>
  <div class="pl-4">
    <span class="mt-4 flex flex-row text-body-2">{{
      t('totalResignations')
    }}</span>
    <h4 class="mb-4 flex flex-row">{{ data?.length | defaultValue }}</h4>
  </div>
  <ag-grid-angular
    class="ag-theme-material h-full border border-border"
    [rowData]="data"
    [scrollbarWidth]="8"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    [frameworkComponents]="frameworkComponents"
    [animateRows]="true"
    [suppressCsvExport]="true"
    [suppressExcelExport]="true"
    [suppressCellFocus]="true"
  >
  </ag-grid-angular>
</div>
