<div
  class="flex h-full flex-col"
  *transloco="let t; prefix: 'shared.deleteDialog'"
>
  <gq-dialog-header
    [title]="modalData.dialogTitle ?? t('title')"
    (closeDialog)="closeDialog()"
  >
  </gq-dialog-header>

  @if (!(modalData.deleting$ | ngrxPush)) {
    <p class="text-body-large mt-5 text-on-surface">
      {{ modalData.dialogSubtitle ?? t('dialogInfo') }}
    </p>
    <div class="pt-8 flex justify-end gap-4">
      <button (click)="closeDialog()" mat-button>
        <span> {{ t('cancelButton') }} </span>
      </button>
      <button mat-flat-button (click)="confirmDelete()">
        <span> {{ modalData.deleteButtonCaption ?? t('deleteButton') }} </span>
      </button>
    </div>
  } @else {
    <div class="py-3">
      <schaeffler-loading-spinner
        class="h-full"
        [relative]="true"
      ></schaeffler-loading-spinner>
    </div>
  }
</div>
