<div
  class="flex h-full min-h-[46px] w-full flex-row items-center justify-start space-x-4"
  *transloco="let t; read: 'materialsSupplierDatabase.status'"
>
  <ng-container *ngrxLet="navigation$ as navigation">
    @if (isBlocked) {
      <div
        class="!rotate-[0.03deg] text-subtitle-1 !text-error text-opacity-95"
      >
        <mat-icon
          [inline]="true"
          class="pb-[1px] align-middle"
          [matTooltip]="
            t('tooltip.blocked', {
              instance: t('instance.' + navigation.navigationLevel)
            })
          "
          >block</mat-icon
        >
      </div>
    }
    @if (!isBlocked) {
      <div
        class="!rotate-[0.03deg] text-subtitle-1 !text-medium-emphasis text-opacity-95"
      >
        <mat-icon
          [inline]="true"
          class="pb-[1px] align-middle"
          [matTooltip]="
            t('tooltip.default', {
              instance: t('instance.' + navigation.navigationLevel)
            })
          "
          >check_circle_outline</mat-icon
        >
      </div>
    }
    @if (isRecent) {
      <div class="!rotate-[0.03deg] text-subtitle-1 !text-info text-opacity-95">
        <mat-icon
          [inline]="true"
          class="pb-[1px] align-middle"
          [matTooltip]="
            t('tooltip.changed', {
              instance: t('instance.' + navigation.navigationLevel)
            })
          "
          >update</mat-icon
        >
      </div>
    }
  </ng-container>
</div>
