<div fxLayout="column" class="full-height" *transloco="let t">
  <schaeffler-header [platformTitle]="t('title')" class="full-height">
    <schaeffler-user-menu
      user-menu
      [user]="username$ | ngrxPush"
      (clicked)="userMenuClicked($event)"
      [entries]="userMenuEntries"
    ></schaeffler-user-menu>
    <schaeffler-settings-sidebar
      [openSidebarBtn]="isLessThanMediumViewPort$ | ngrxPush"
      [closeSidebarBtn]="isLessThanMediumViewPort$ | ngrxPush"
      [open]="(isLessThanMediumViewPort$ | ngrxPush) === false"
    >
      <ng-container settings-header>
        <button
          (click)="handleReset()"
          mat-button
          color="primary"
          class="reset-button"
        >
          RESET
        </button>
      </ng-container>
      <ng-container container><router-outlet></router-outlet></ng-container
      ><ng-container sidebar>
        <ltp-input></ltp-input>
      </ng-container>
    </schaeffler-settings-sidebar>
  </schaeffler-header>
</div>
