<div
  class="h-full flex flex-col space-between"
  *transloco="let t; read: 'drawings'"
>
  <h6 class="text-mediumEmphasis mb-4" *ngIf="materialDesignation$ | ngrxPush">
    {{
      t('title', {
        material:
          materialDesignation$ | ngrxPush | scrambleMaterialDesignation: 0
      })
    }}
  </h6>
  <div class="h-full w-full flex flex-col">
    <cdba-loading-spinner
      *ngIf="loading$ | ngrxPush"
      [show]="true"
    ></cdba-loading-spinner>
    <ng-container *ngIf="(drawings$ | ngrxPush)?.length > 0">
      <schaeffler-under-construction
        class="mb-4"
        [title]="t('upcomingPreviewFeatureTeaser')"
        [message]="t('upcomingPreviewFeatureTeaserMessage')"
      >
      </schaeffler-under-construction>

      <cdba-drawings-table
        class="flex-grow"
        [rowData]="drawings$ | ngrxPush"
        (selectionChange)="selectDrawing($event)"
      ></cdba-drawings-table>
    </ng-container>

    <div
      *ngIf="(drawings$ | ngrxPush)?.length === 0 && !(loading$ | ngrxPush)"
      class="h-full flex flex-col items-center justify-center text-center p-4"
    >
      <img
        src="/assets/images/no_drawings_empty_state.png"
        alt="No drawings found"
        class="max-w-[90%] mb-4"
      />
      <div *transloco="let t; read: 'drawings'">
        <h4 class="text-highEmphasis mb-4">
          {{ t('noDrawingsTitle') }}
        </h4>
        <div class="text-subtitle-1 text-mediumEmphasis">
          {{ t('noDrawingsText') }}
        </div>
      </div>
    </div>
  </div>
</div>
