<div *transloco="let t" class="forecast-legend">
  <div class="flex gap-2 items-center">
    <div
      class="legend-icon"
      [style.background-color]="colors.deliveries.color"
    ></div>
    <div class="legend-text">{{ t('home.chart.legend.deliveries') }}</div>
  </div>

  <div class="flex gap-2 items-center">
    <div
      class="legend-icon"
      [style.background-color]="colors.orders.color"
    ></div>
    <div class="legend-text">{{ t('home.chart.legend.orders') }}</div>
  </div>

  <div class="flex gap-2 items-center">
    <div
      class="legend-icon"
      [style.background-color]="colors.demandPlan.color"
    ></div>
    <div class="legend-text">{{ t('home.chart.legend.demandPlan') }}</div>
  </div>

  <div class="flex gap-2 items-center">
    <div
      class="legend-icon"
      [style.background-color]="colors.opAdjustment.color"
    ></div>
    <div class="legend-text">{{ t('home.chart.legend.opAdjustment') }}</div>
  </div>

  <div class="flex gap-2 items-center">
    <div
      class="legend-icon"
      [style.background-color]="colors.opportunities.color"
    ></div>
    <div class="legend-text">{{ t('home.chart.legend.opportunities') }}</div>
  </div>

  <div class="flex gap-2 items-center">
    <div
      class="legend-icon"
      [style.background-color]="colors.rollingSalesForecast.color"
    ></div>
    <div class="legend-text">
      {{ t('home.chart.legend.rollingSalesForecast') }}
    </div>
  </div>
</div>
