<div
  class="flex items-center h-full text-[black]"
  *transloco="let t; read: 'shared.customStatusBar.quotationDetailsStatus'"
>
  <div class="ml-6" *ngIf="selections.length">
    <span class="opacity-60">{{ t('selectedNetValue') }}:&nbsp;</span>
    <span *ngIf="customerCurrency$ | ngrxPush as currency">
      {{ selectedNetValue | number: '.2' }} {{ currency }}
    </span>
  </div>
  <div class="ml-6" *ngIf="selections.length && (showGPI$ | ngrxPush)">
    <span class="opacity-60">{{ t('selectedAverageGPI') }}:&nbsp;</span>
    <span> {{ selectedAverageGPI }} % </span>
  </div>
  <div class="ml-6" *ngIf="selections.length && (showGPM$ | ngrxPush)">
    <span class="opacity-60">{{ t('selectedAverageGPM') }}:&nbsp;</span>
    <span>{{ selectedAverageGPM }} %</span>
  </div>
  <div class="ml-6">
    <span class="opacity-60">
      <span> {{ t('totalNetValue') }}:&nbsp; </span>
    </span>
    <span *ngIf="customerCurrency$ | ngrxPush as currency"
      >{{ totalNetValue | number: '.2' }} {{ currency }}</span
    >
  </div>
  <div class="ml-6" *ngIf="showGPM$ | ngrxPush">
    <span class="opacity-60">
      <span> {{ t('totalAverageGPM') }}:&nbsp; </span>
    </span>
    <span> {{ totalAverageGPM }} % </span>
  </div>
  <div class="ml-6" *ngIf="showGPI$ | ngrxPush">
    <span class="opacity-60">
      <span> {{ t('totalAverageGPI') }}:&nbsp; </span>
    </span>
    <span> {{ totalAverageGPI }} % </span>
  </div>
</div>
