<div
  class="flex h-full items-center text-center"
  *transloco="let t; read: 'shared.customStatusBar.quotationDetailsStatus'"
>
  <div class="hidden pr-4 xl:flex">
    <div class="ml-6 flex flex-col" *ngIf="selections.length">
      <span class="text-left text-low-emphasis"
        >{{ t('selectedNetValue') }}:&nbsp;</span
      >
      <span
        class="text-left text-high-emphasis"
        *ngIf="customerCurrency$ | ngrxPush as currency"
      >
        {{ statusBar.netValue.selected | numberCurrency: currency }}
      </span>
    </div>
    <div
      class="ml-6 flex flex-col"
      *ngIf="selections.length && (showGPI$ | ngrxPush)"
    >
      <span class="text-left text-low-emphasis"
        >{{ t('selectedAverageGPI') }}:&nbsp;</span
      >
      <span class="text-left text-high-emphasis">
        {{ statusBar.gpi.selected | percentage }}</span
      >
    </div>
    <div
      class="ml-6 flex flex-col"
      *ngIf="selections.length && (showGPM$ | ngrxPush)"
    >
      <span class="text-left text-low-emphasis"
        >{{ t('selectedAverageGPM') }}:&nbsp;
      </span>
      <span class="text-left text-high-emphasis">{{
        statusBar.gpm.selected | percentage
      }}</span>
    </div>
    <div class="ml-6 flex flex-col">
      <span class="text-left text-low-emphasis">
        {{ t('totalNetValue') }}:&nbsp;
      </span>
      <span
        class="text-left text-high-emphasis"
        *ngIf="customerCurrency$ | ngrxPush as currency"
        >{{ statusBar.netValue.total | numberCurrency: currency }}
      </span>
    </div>
    <div class="ml-6 flex flex-col" *ngIf="showGPI$ | ngrxPush">
      <span class="text-left text-low-emphasis">
        {{ t('totalAverageGPI') }}:&nbsp;
      </span>
      <span class="text-left text-high-emphasis">
        {{ statusBar.gpi.total | percentage }}</span
      >
    </div>
    <div class="ml-6 flex flex-col" *ngIf="showGPM$ | ngrxPush">
      <span class="text-left text-low-emphasis">
        {{ t('totalAverageGPM') }}:&nbsp;
      </span>
      <span class="text-left text-high-emphasis">
        {{ statusBar.gpm.total | percentage }}</span
      >
    </div>
  </div>
  <div class="flex xl:hidden">
    <button
      mat-flat-button
      class="cursor-pointer !text-button !text-link"
      (click)="showAll()"
    >
      {{ t('showAll') }}
    </button>
  </div>
</div>
