<div
  class="mt-4"
  *transloco="
    let t;
    read: 'detailView.pricingDetails.lastCustomerPriceInformationDetails'
  "
>
  <gq-kpi-status-card [title]="t('title')">
    <div>
      <gq-label-text>
        <span label>{{ t('lastCustomerPrice') }}</span>
        <span text>{{
          quotationDetail.lastCustomerPrice | numberCurrency: currency
        }}</span>
        @if (quotationDetail.lastCustomerPriceDate) {
          <ng-container text>
            <span>
              {{
                ' (' +
                  (quotationDetail.lastCustomerPriceDate | translocoDate) +
                  ')'
              }}
            </span>
          </ng-container>
        }
      </gq-label-text>
      <gq-label-text>
        <span label>{{ t('lastCustomerPriceQty') }}</span>
        <span text>{{ quotationDetail.lastCustomerPriceQuantity || '-' }}</span>
        @if (quotationDetail.lastCustomerPriceQuantity) {
          <span text>
            {{ quotationDetail.material.baseUoM | uom }}
          </span>
        }
      </gq-label-text>
      @if (userHasGPCRole) {
        <gq-label-text>
          <span label>{{ t('gpi') }}</span>
          <span text>{{
            quotationDetail.lastCustomerPriceGpi | percentage: false
          }}</span>
        </gq-label-text>
      }
      @if (userHasSQVRole) {
        <gq-label-text>
          <span label>{{ t('gpm') }}</span>
          <span text>{{
            quotationDetail.lastCustomerPriceGpm | percentage: false
          }}</span>
        </gq-label-text>
      }
    </div>
  </gq-kpi-status-card>
</div>
