<mat-form-field
  appearance="outline"
  class="input-field"
  *transloco="let t; read: 'pricingView.inputSection.filterInput'"
>
  <mat-label>{{ t(selectedFilter) }}</mat-label>
  <mat-select
    [formControl]="form"
    disableOptionCentering
    panelClass="custom-select-panel"
    (openedChange)="dropdownOpenedChange($event)"
  >
    <mat-select-trigger>
      {{ form.value | selectValue }}
    </mat-select-trigger>
    <mat-form-field class="search-field" floatLabel="never">
      <input
        #autocomplete
        matInput
        placeholder="{{ placeHolder }}"
        [formControl]="searchForm"
        (keydown)="$event.stopPropagation()"
      />
      <mat-hint>{{ t('sixDigitNumber') }}</mat-hint>
      <button
        mat-button
        *ngIf="searchForm.value && !autocompleteLoading"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="resetSearchField()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-spinner
        *ngIf="autocompleteLoading"
        class="autocomplete-loading"
        matSuffix
        [diameter]="18"
      ></mat-spinner>
    </mat-form-field>

    <mat-option
      *ngIf="filterOptions.length === 0"
      class="dummy-option"
      (keydown)="$event.stopPropagation()"
    ></mat-option>
    <div class="divider" *ngIf="filterOptions.length > 0">
      <hr />
    </div>

    <div class="custom-options-container">
      <mat-option
        (onSelectionChange)="selectionChange($event)"
        *ngFor="let option of filterOptions; trackBy: trackByFn"
        [value]="option"
        [matTooltip]="option.value"
        matTooltipShowDelay="1000"
        >{{ option.value }}</mat-option
      >
    </div>

    <p
      class="no-results-found"
      *ngIf="
        filterOptions
          | noResultsFound
            : form.value
            : searchForm.value
            : autocompleteLoading
            : debounceIsActive
      "
    >
      {{ t('nothingFound') }}
    </p>
  </mat-select>
</mat-form-field>
