@import 'libs/shared/ui/styles/src/lib/colors';

:host {
  width: 100%;
}

.grease-chart {
  height: 500px; // full height
}

ul {
  list-style-type: none;
}

::ng-deep mat-checkbox .mat-checkbox-label {
  color: $schaeffler-carbon-gray;
}
