@import 'libs/shared/ui/styles/src/lib/colors';

:host {
  width: 100%;
}

.chart {
  min-height: 55vh;
}

ul {
  list-style-type: none;
}

::ng-deep mat-checkbox .mat-checkbox-label {
  color: $schaeffler-carbon-gray;
}

.grid-container {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 3fr 1fr;
  height: 100%;
}
