<div *transloco="let t; read: 'conditionMonitoring'" class="grid-container">
  <div id="ms-equipment" class="grid-element">
    <goldwind-cm-equipment
      *ngIf="mainBearing$ | ngrxPush as mainBearing; else loading_card"
      [mainBearing]="mainBearing"
    ></goldwind-cm-equipment>
  </div>
  <div id="edm-monitoring" class="grid-element">
    <goldwind-edm-monitor></goldwind-edm-monitor>
  </div>
  <div id="center-load" class="grid-element">
    <goldwind-center-load
      [currentMessage]="currentMessage$ | ngrxPush"
      [socketStatus]="socketStatus$ | ngrxPush"
    ></goldwind-center-load>
  </div>
  <div id="grease-status" class="grid-element">
    <goldwind-grease-monitor
      *ngIf="greaseStatus$ | ngrxPush as greaseStatus; else loading_card"
      [greaseStatus]="greaseStatus"
    ></goldwind-grease-monitor>
  </div>
</div>

<ng-template #loading_card>
  <mat-card class="full-height-card">Loading...</mat-card>
</ng-template>
