@import 'libs/shared/ui/styles/src/lib/mediaqueries';

:host {
  width: 100%;
}

@media only screen and (min-width: $screen-sm-max) {
  .grid-container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: repeat(24, 1fr);
    height: 100%;
  }

  #ms-equipment {
    grid-area: 1 / 1 / 3 / 9;
  }

  #rotor-speed {
    grid-area: 1 / 9 / 2 / 14;
  }

  #grease-status {
    grid-area: 1 / 14 / 2 / 25;
  }

  #center-load {
    grid-area: 2 / 9 / 3 / 14;
  }

  #edm-monitoring {
    grid-area: 2 / 14 / 3 / 25;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .grid-element {
    margin-bottom: 16px;
  }
}
