@import 'libs/shared/ui/styles/src/lib/mediaqueries';
@import 'libs/shared/ui/styles/src/lib/colors';

:host {
  width: 100%;
}

.highlight {
  animation: fadeIn ease 1s;
  box-shadow: 0 0 0 2px $schaeffler-green-1;
}

@keyframes fadeIn {
  0% {
    box-shadow: 0 0 0 2px transparent;
  }
  100% {
    box-shadow: 0 0 0 2px $schaeffler-green-1;
  }
}

.gw-dashboad-height-hack {
  @media screen and (min-width: 1920px) {
    height: calc(100vh - 60px - 48px - 72px - 85px);
  }
}

:host::ng-deep {
  .mat-card-title {
    mat-icon:nth-child(1) {
      font-size: 24px;
      margin-right: 0.5rem;
    }
  }
  .mat-card-header-text {
    margin: 0 !important;
    width: 100%;
  }
  .dashboard-echart {
    width: 100%;
  }
}
