<div *transloco="let t; read: 'conditionMonitoring'" class="grid-container">
  <div id="ms-equipment" class="grid-element">
    <goldwind-cm-equipment
      *ngIf="bearing$ | async; else loading_card"
      [bearing]="bearing$ | async"
      [currentMessage]="currentMessage$ | async"
      [socketStatus]="socketStatus$ | async"
    ></goldwind-cm-equipment>
  </div>
  <div id="edm-monitoring" class="grid-element">
    <goldwind-edm-monitor
      *ngIf="edm$ | async; else loading_card"
      [edm]="edm$ | async"
    ></goldwind-edm-monitor>
  </div>
</div>

<ng-template #loading_card>
  <mat-card class="loading-card">Loading...</mat-card>
</ng-template>
