:host {
  ::ng-deep {
    app-multi-autocomplete-pre-loaded {
      display: contents;
    }

    .mat-mdc-icon-button {
      &.mat-mdc-button-base {
        --mdc-icon-button-state-layer-size: 40px;
        padding: 9px;
      }

      .mat-mdc-button-touch-target {
        width: var(--mdc-icon-button-state-layer-size);
        height: var(--mdc-icon-button-state-layer-size);
      }
    }
  }
}
