<div
  class="flex h-full items-center overflow-hidden"
  *transloco="let t; read: 'shared.sqvApprovalStatusLabels'"
>
  @if (sqvApprovalStatus !== 'NOT_NEEDED') {
    <schaeffler-tag
      (click)="onTagClick()"
      [value]="
        t('sqvApprovalStatus', {
          sqvApprovalStatus: sqvApprovalStatus
        })
      "
      [type]="tagType"
      [withBorder]="sqvApprovalStatus !== 'APPROVED'"
      [withDot]="false"
      [styleClass]="
        sqvApprovalStatus === 'APPROVED'
          ? '!rounded-lg !bg-[#D2E0DB] !text-[#002919] cursor-pointer hover:shadow-md active:shadow-none'
          : '!rounded-lg !bg-[transparent] !border-[#828282] !text-[#646464] cursor-pointer hover:!bg-[white] hover:!text-[#555555] active:!text-[#555555] active:!bg-[transparent]'
      "
      [matTooltip]="
        t('tooltip', {
          sqvApprovalStatus: sqvApprovalStatus
        })
      "
    >
      @if (sqvApprovalStatus === 'APPROVED') {
        <mat-icon
          [color]="'secondary'"
          class="order-first mr-1 !h-4 !text-[16px] !w-5"
          [inline]="'inline'"
        >
          check
        </mat-icon>
      }
    </schaeffler-tag>
  }
</div>
