<div
  class="border border-border md:bg-transparent rounded-lg flex flex-col gap-4 py-4 px-2 md:gap-4 md:px-3 md:pt-2 md:pb-6 lg:gap-6 lg:px-6 lg:pt-4 lg:pb-8 bg-surface-legacy"
  [class.border-primary]="selected"
  [class.opacity-75]="isDisabled"
>
  <ea-radio-button
    [formControl]="control"
    [label]="label?.toUpperCase()"
    [value]="name"
    [isSubOption]="true"
    [isDisabled]="isDisabled"
  ></ea-radio-button>

  @if (selected) {
    <ng-content></ng-content>
  } @else {
    <div class="text-medium-emphasis text-body-medium">{{ description }}</div>
  }
</div>
