<div *transloco="let t">
  <!-- title -->
  <div mat-dialog-title class="m-0 pt-0">
    <h2 class="text-title-large">{{ t(title) }}</h2>
  </div>

  <!-- content -->
  <mat-dialog-content>
    @if (loading() || (selectableOptionsService.loading$ | ngrxPush)) {
      <!-- loading spinner -->
      <div>
        <schaeffler-loading-spinner [useBearingLoadingSpinner]="true" />
      </div>
    } @else {
      <!-- row 1 -->
      <div class="grid grid-cols-1 md:grid-cols-3 xs:gap-1 md:gap-4">
        <!-- alertType -->
        <app-single-autocomplete-pre-loaded
          [form]="formGroup"
          [control]="$any(formGroup.controls.type)"
          [label]="t(translationStart + '.type', {})"
          [optionsLoadingResult]="getOptions('alertTypesForRuleEditor')"
          [getOptionLabelInTag]="displayFnText"
          (selectionChange)="updateForm($event, 'type')"
        />

        <!-- region -->
        <app-filter-dropdown
          [form]="formGroup"
          [control]="$any(formGroup.controls.region)"
          [label]="t(translationStart + '.region', {})"
          [options]="getOptions('region').options"
          [formatOptionValue]="displayFnText"
          (selectionChange)="
            updateForm(
              { option: $event ? $any($event) : { id: null } },
              'region'
            )
          "
        />
      </div>

      <!-- row 2 -->
      <div class="grid grid-cols-1 md:grid-cols-3 xs:gap-1 md:gap-4">
        <!-- salesArea -->
        <app-filter-dropdown
          [form]="formGroup"
          [control]="$any(formGroup.controls.salesArea)"
          [label]="t(translationStart + '.sales_area', {})"
          [options]="getOptions('salesArea').options"
          (selectionChange)="
            updateForm(
              { option: $event ? $any($event) : { id: null } },
              'salesArea'
            )
          "
          [addClearButton]="true"
        />

        <!-- salesOrg -->
        <app-single-autocomplete-pre-loaded
          [form]="formGroup"
          [control]="$any(formGroup.controls.salesOrg)"
          [label]="t(translationStart + '.sales_org', {})"
          [optionsLoadingResult]="getOptions('salesOrg')"
          (selectionChange)="updateForm($event, 'salesOrg')"
          [addClearButton]="true"
        />

        <!-- sectorManagement -->
        <app-filter-dropdown
          [form]="formGroup"
          [control]="$any(formGroup.controls.sectorManagement)"
          [label]="t(translationStart + '.sector_management', {})"
          [options]="getOptions('sectorMgmt').options"
          (selectionChange)="
            updateForm(
              { option: $event ? $any($event) : { id: null } },
              'sectorManagement'
            )
          "
          [addClearButton]="true"
        />
      </div>

      <!-- row 3 -->
      <div class="grid grid-cols-1 md:grid-cols-3 xs:gap-1 md:gap-4">
        <!-- demandPlanner -->
        <app-single-autocomplete-pre-loaded
          [form]="formGroup"
          [control]="$any(formGroup.controls.demandPlannerId)"
          [label]="t(translationStart + '.demandPlanner', {})"
          [optionsLoadingResult]="getOptions('demandPlanners')"
          (selectionChange)="updateForm($event, 'demandPlannerId')"
          [addClearButton]="true"
        />

        <!-- gkamNumber -->
        <app-single-autocomplete-pre-loaded
          [form]="formGroup"
          [control]="$any(formGroup.controls.gkamNumber)"
          [label]="t(translationStart + '.gkam', {})"
          [optionsLoadingResult]="getOptions('gkam')"
          (selectionChange)="updateForm($event, 'gkamNumber')"
          [addClearButton]="true"
        />

        <!-- customerNumber -->
        <app-single-autocomplete-on-type
          [form]="formGroup"
          [control]="$any(formGroup.controls.customerNumber)"
          [label]="t(translationStart + '.customer', {})"
          urlBegin="global-selection/search-customers"
          (selectionChange)="updateForm($event, 'customerNumber')"
          [addClearButton]="true"
        />
      </div>

      <!-- row 4 -->
      <div class="grid grid-cols-1 md:grid-cols-3 xs:gap-1 md:gap-4">
        <!-- materialClassification -->
        <app-filter-dropdown
          [form]="formGroup"
          [control]="$any(formGroup.controls.materialClassification)"
          [label]="t(translationStart + '.materialClassification', {})"
          [options]="materialClassificationOptions"
          (selectionChange)="
            updateForm(
              { option: $event ? $any($event) : { id: null } },
              'materialClassification'
            )
          "
          [addClearButton]="true"
        />

        <!-- productLine -->
        <app-single-autocomplete-pre-loaded
          [form]="formGroup"
          [control]="$any(formGroup.controls.productLine)"
          [label]="t(translationStart + '.product_line', {})"
          [optionsLoadingResult]="getOptions('productLine')"
          (selectionChange)="updateForm($event, 'productLine')"
          [addClearButton]="true"
        />

        <!-- productionLine -->
        <app-single-autocomplete-on-type
          [form]="formGroup"
          [control]="$any(formGroup.controls.productionLine)"
          [label]="t(translationStart + '.production_line', {})"
          urlBegin="global-selection/search-production-line"
          (selectionChange)="updateForm($event, 'productionLine')"
          [addClearButton]="true"
        />
      </div>

      <!-- row 4 -->
      <div class="grid grid-cols-1 md:grid-cols-3 xs:gap-1 md:gap-4">
        <!-- materialNumber -->
        <app-single-autocomplete-on-type
          [control]="$any(formGroup.controls.materialNumber)"
          [form]="formGroup"
          [label]="t(translationStart + '.material', {})"
          urlBegin="global-selection/search-materials"
          (selectionChange)="updateForm($event, 'materialNumber')"
          [addClearButton]="true"
        />
      </div>

      <!-- row 5 (not always visible) -->
      @if (alertTypeDescription) {
        <hr />
        <div class="grid grid-cols-1 md:grid-cols-3 xs:gap-1 md:gap-4">
          <!-- threshold1 -->
          @if (formGroup.controls.threshold1.enabled) {
            <mat-form-field [formGroup]="formGroup" appearance="outline">
              <mat-label>{{ getThresholdDescription(1) }}</mat-label>
              <input
                [attr.aria-label]="getThresholdDescription(1)"
                matInput
                [formControl]="$any(formGroup.controls.threshold1)"
                appNumberSeparator
              />
              @if (formGroup.controls.threshold1.hasError('required')) {
                <mat-error>{{ missingFields }}</mat-error>
              }
            </mat-form-field>
          }

          <!-- threshold2 -->
          @if (formGroup.controls.threshold2.enabled) {
            <mat-form-field [formGroup]="formGroup" appearance="outline">
              <mat-label>{{ getThresholdDescription(2) }}</mat-label>
              <input
                [attr.aria-label]="getThresholdDescription(2)"
                matInput
                [formControl]="$any(formGroup.controls.threshold2)"
                appNumberSeparator
              />
              @if (formGroup.controls.threshold2.hasError('required')) {
                <mat-error>{{ missingFields }}</mat-error>
              }
            </mat-form-field>
          }

          <!-- threshold3 -->
          @if (formGroup.controls.threshold3.enabled) {
            <mat-form-field [formGroup]="formGroup" appearance="outline">
              <mat-label>{{ getThresholdDescription(3) }}</mat-label>
              <input
                [attr.aria-label]="getThresholdDescription(3)"
                matInput
                [formControl]="$any(formGroup.controls.threshold3)"
                appNumberSeparator
              />
              @if (formGroup.controls.threshold3.hasError('required')) {
                <mat-error>{{ missingFields }}</mat-error>
              }
            </mat-form-field>
          }
        </div>
      }

      <hr />
      <!-- row 6 -->
      <div class="grid grid-cols-1 md:grid-cols-4 xs:gap-1 md:gap-4">
        <!-- startDate-->
        <app-date-picker
          [dateControl]="$any(formGroup.controls.startDate)"
          [label]="t(translationStart + '.start')"
        />

        <!-- execInterval -->
        <app-filter-dropdown
          [form]="formGroup"
          [control]="$any(formGroup.controls.execInterval)"
          [label]="t(translationStart + '.interval.rootString', {})"
          [options]="execIntervalOptions.options"
          [formatOptionValue]="displayFnText"
          [formatSelectedValue]="displayFnText"
          (selectionChange)="onIntervalSelectionChange($any($event))"
        />

        <!-- execDay -->
        <mat-form-field [formGroup]="formGroup" appearance="outline">
          <mat-label>{{
            t(translationStart + '.when.rootString', {})
          }}</mat-label>
          <mat-select
            [aria-label]="t(translationStart + '.when.rootString', {})"
            [formControl]="$any(formGroup.controls.execDay)"
            (selectionChange)="
              updateForm(
                { option: $any({ id: formGroup.controls.execDay.value }) },
                'execDay'
              )
            "
          >
            @for (option of execDayOptions; track option) {
              <mat-option [value]="option">
                {{ t(translationStart + '.when.' + option, {}) }}
              </mat-option>
            }
          </mat-select>
          @if (formGroup.controls.execDay.hasError('required')) {
            <mat-error>{{ missingFields }}</mat-error>
          }
        </mat-form-field>

        <!-- endDate -->
        <app-date-picker
          [dateControl]="$any(formGroup.controls.endDate)"
          [label]="t(translationStart + '.end')"
        />

        @if (formGroup.hasError('endDate')) {
          <div class="-mt-6">
            <mat-error>{{ t('error.toDateAfterFromDate') }}</mat-error>
          </div>
        }
      </div>

      <!-- row 7 -->
      <div class="grid grid-cols-1 xs:gap-1 md:gap-4">
        <!-- alertComment -->
        <div class="styled-text-field">
          <mat-form-field [formGroup]="formGroup" appearance="outline">
            <mat-label>{{ t(translationStart + '.comment', {}) }}</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="4"
              #autosize="cdkTextareaAutosize"
              [formControl]="$any(formGroup.controls.alertComment)"
              rows="4"
              (blur)="
                updateForm(
                  {
                    option: $any({ id: formGroup.controls.alertComment.value })
                  },
                  'alertComment'
                )
              "
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    }
  </mat-dialog-content>

  <!--  buttons -->
  <mat-dialog-actions align="end">
    <!-- close button -->
    <button mat-button (click)="handleOnClose(false)">
      {{ t('button.close') }}
    </button>

    <!-- save button -->
    <button
      (click)="onSave()"
      mat-flat-button
      color="primary"
      [disabled]="loading() || (selectableOptionsService.loading$ | ngrxPush)"
    >
      {{ t('button.save') }}
    </button>
  </mat-dialog-actions>
</div>
