<div class="my-4" *transloco="let t; read: 'attritionAnalytics'">
  <div
    class="drag-list grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 flex-wrap gap-4 border-none lg:flex-nowrap"
  >
    @for (config of barChartConfigs; track $index) {
      <div class="flex w-full flex-col bg-white border border-border rounded">
        <div class="w-full h-full opacity-0 border-collapse"></div>
        <div class="relative bg-white">
          <div class="flex flex-row gap-2 justify-end items-center"></div>
          <ia-bar-chart [config]="config" [loading]="loading"></ia-bar-chart>
        </div>
      </div>
    }
  </div>
</div>
