<div class="relative" *transloco="let t; read: 'attritionAnalytics'">
  @if (!loading) {
    <div
      class="drag-list grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 flex-wrap gap-4 border-none lg:flex-nowrap"
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
    >
      @for (config of barChartConfigs; track $index) {
        <div
          cdkDrag
          cdkDragLockAxis="x"
          cdkDragBoundary=".drag-list"
          class="flex w-full flex-col bg-white border border-border rounded"
        >
          <div
            *cdkDragPlaceholder
            class="w-full h-full opacity-0 border-collapse"
          ></div>
          <div class="relative bg-white">
            <div
              class="flex flex-row gap-2 justify-end items-center relative z-20"
            >
              <mat-icon
                class="text-medium-emphasis cursor-move m-4"
                mat-icon-button
                cdkDragHandle
                [attr.aria-label]="t('move')"
                [matTooltip]="t('move')"
                >drag_indicator</mat-icon
              >
            </div>
            <ia-bar-chart
              class="block -mt-[52px] z-10"
              [config]="config"
            ></ia-bar-chart>
          </div>
        </div>
      }
      @if (barChartConfigs?.length < NUMBER_OF_TILES) {
        <div
          class="flex w-full items-center justify-center border border-border rounded"
          [ngClass]="{ 'h-[526px]': barChartConfigs?.length === 0 }"
        >
          <div
            class="flex h-[270px] w-[270px] flex-col items-center justify-center rounded-full bg-[#F5F7FA] text-center"
            *transloco="let t; read: 'attritionAnalytics.addAnalysis'"
            (click)="openEditFeatureSelectorDialog()"
          >
            <div
              class="cursor-pointer"
              [attr.aria-label]="t('add')"
              [matTooltip]="t('add')"
            >
              <mat-icon
                [inline]="true"
                class="text-medium-emphasis !text-[56px]"
                >add_circle_outline</mat-icon
              >
              <h6 class="text-medium-emphasis text-icon">
                {{ t('buttonText') }}
              </h6>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="grid grid-cols-1 border-none p-4 md:grid-cols-4">
      <div class="h-[520px] w-full shadow">
        <schaeffler-loading-spinner
          [diameter]="40"
          [strokeWidth]="4"
          [relative]="false"
        ></schaeffler-loading-spinner>
      </div>
    </div>
  }
</div>
