<div class="flex h-[46px] w-full flex-row">
  <ng-container *ngIf="isBulkEditAllowed$ | ngrxPush">
    <div class="p-2">
      <mat-icon
        (click)="onSelectClick()"
        class="text-medium-emphasis !text-[16px] p-1 cursor-pointer"
        >{{ isSelected() ? 'check_box' : 'check_box_outline_blank' }}</mat-icon
      >
    </div>
  </ng-container>

  <button
    class="my-auto !w-10 !h-10"
    mat-icon-button
    (click)="onCopyClick()"
    [disabled]="activeSelectionOnGrid()"
  >
    <mat-icon
      [ngClass]="{
          'line-through': activeSelectionOnGrid(),
        }"
      class="text-medium-emphasis !text-[16px] pr-2"
      >content_copy</mat-icon
    >
  </button>
  <button
    class="my-auto !w-10 !h-10"
    [disabled]="activeSelectionOnGrid()"
    mat-icon-button
    (click)="onDeleteClick()"
  >
    <mat-icon
      [ngClass]="{
        'line-through': activeSelectionOnGrid()
      }"
      class="text-medium-emphasis !text-[16px] pr-2"
      >delete_forever</mat-icon
    >
  </button>
</div>
