<div fxLayout="column" fxLayoutAlign="space-around start">
  <mat-form-field class="textInput" floatLabel="always">
    <mat-label>Use demo text or paste your text here</mat-label>
    <textarea
      matTextareaAutosize
      matAutosizeMinRows="10"
      matInput
      placeholder="Enter a text"
      [formControl]="textFormControl"
    >
    </textarea>
    <mat-hint>{{ textHint }}</mat-hint>
    <mat-error *ngIf="!textFormControl.valid">
      Your text must contain at least {{ minLength }} characters.
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="tags-btn"
    (click)="getTags()"
    [disabled]="!textFormControl.valid"
  >
    {{ btnText }}
  </button>
</div>
