.breadcrumbs {
  align-items: center;
  display: flex;
  font-size: 12px;
  line-height: 1rem;
  padding: 1rem;
}

.crumb-wrapper {
  align-items: center;
  display: flex;
}

.crumb-active {
  @apply text-link;
  cursor: pointer;
}

mat-icon {
  align-items: center;
  @apply text-link;
  display: flex;
  font-size: 18px;
  height: 16px;
  justify-content: center;
  padding: 0 8px;
  width: 16px;
}
